<% content_for :page_title, "Governments" %>
<% content_for :title, "Governments" %>

<% if can?(:manage, Government) %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create new government",
    href: new_admin_government_path,
    margin_bottom: 6
  } %>
<% end %>

<% if @governments.blank? %>
  <p class="govuk-body">No governments have been created.</p>
<% else %>
  <%= render "govuk_publishing_components/components/table", {
    head: [
      {
        text: "Name"
      },
      {
        text: "Start date"
      },
      {
        text: "End date"
      }
    ],
    rows:
      @governments.map do |government|
      [
        {
          text:  if can?(:manage, Government)
                  link_to(government.name, edit_admin_government_path(government), class: "govuk-link")
                 else
                  government.name
                 end
        },
        {
          text: government.start_date.to_fs(:govuk_date)
        },
        {
          text: (government.end_date.to_fs(:govuk_date) if government.end_date)
        }
      ]
    end
  } %>
<% end %>
