<% page_title "Prepare to close this government" %>
<h1>Prepare to close this government</h1>

<p>
  Closing this government will unappoint the following ministerial roles, are you sure?
</p>

<ul>
  <% current_active_ministerial_appointments.each do |appointment| %>
    <li><%= appointment.role.name %>: <%= appointment.person.name %></li>
  <% end %>
</ul>

<div class="form-actions">
  <%= form_tag close_admin_government_path(@government) do %>
    <button type="submit" class="btn btn-danger btn-lg">Yes, close this government</button>

    <span class="or_cancel">
      or
      <%= link_to "No! Don’t do that! Noooo!", edit_admin_government_path(@government) %>
    </span>
  <% end %>
</div>
