<% page_title "Latest from #{subject}" %>
<% page_class "documents-index" %>
<% atom_discovery_link_tag filter_atom_feed_url, "Recent documents" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render 'shared/heading',
               type: link_to(subject, subject),
               heading: 'Latest documents',
               big: true %>
  </div>
</header>

<div class="block results">
  <div class="inner-block">
    <%= render "shared/feeds", atom_url: atom_feed_url_for(subject) %>
    <%= render "rummager_documents", documents: documents %>
    <%= paginate documents %>
  </div>
</div>
