<fieldset class="named logo form-horizontal">
  <legend>Logo</legend>
    <div class="control-group">
      <% if classification.logo_url %>
        <%= image_tag classification.logo_url %>
      <% end %>
      <%= classification_form.text_field :logo_alt_text %>
      <%= classification_form.file_field :logo %>
    </div>
</fieldset>
