<fieldset class="named social_media_accounts form-horizontal">
  <legend>Social media accounts</legend>
  <%= classification_form.fields_for :social_media_accounts do |account_form| %>
    <div class="control-group">
      <%= account_form.label :social_media_service_id, 'Service', class: "control-label" %>
      <div class="controls">
        <%= account_form.select :social_media_service_id, options_from_collection_for_select(SocialMediaService.all, :id, :name, account_form.object.social_media_service_id), {include_blank: true}, class: 'chzn-select', data: { placeholder: "Choose the social media service..." } %>
      </div>
    </div>
    <%= account_form.text_field :url, horizontal: true %>
  <% end %>
</fieldset>
