<fieldset class="named duration">
  <legend>Duration</legend>
  <div class="control-group">
    <%= classification_form.label :start_date, "Start Date" %>
    <%= classification_form.date_select :start_date, { include_blank: true, start_year: 2013 }, { :class => "date" } %>
    <%= classification_form.label :end_date, "End Date" %>
    <%= classification_form.date_select :end_date, { include_blank: true, start_year: 2013 }, { :class => "date" } %>
  </div>
</fieldset>
