<% page_title "Read more about #{@classification.name}" %>

<% content_for :classification_tab do %>
  <table class="<%= model_name %> table">
    <tr>
      <th>Summary</th>
      <td class="summary"></td>
    </tr>
    <tr>
      <th>Body</th>
      <td class="body"></td>
    </tr>
  </table>

  <div class="form-actions">
    <%= link_to "Edit", [:edit, :admin, @classification], class: "btn btn-large btn-primary"%>
  </div>
<% end %>

<%= render partial: 'tab_wrapper' %>
