<% content_for :context, "Topical events" %>
<% content_for :page_title, @topical_event.name %>
<% content_for :title, @topical_event.name %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @topical_event)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Changes to topical events appear instantly on the live site.",
      margin_bottom: 6
    } %>
    <%= render "form", topical_event: @topical_event %>
  </div>
</div>
