<% content_for :page_title, "Topical events" %>
<% content_for :title, "Topical events" %>
<% content_for :title_margin_bottom, 4 %>

<%= render "govuk_publishing_components/components/warning_text", {
  text: "Do not create topical events without consulting GDS. New documents will be live immediately on selecting save.",
} %>

<%= render "govuk_publishing_components/components/button", {
  text: "Create topical event",
  href: [:new, :admin, model_name.to_sym],
  margin_bottom: 8
} %>
<div class="app-view-topical-events-index__table">
  <%= render "govuk_publishing_components/components/table", {
    head: [
      {
        text: "Name"
      },
      {
        text: "Summary",
      },

      {
        text: "Duration",
      },
      {
        text: "Published guides",
      },
      {
        text: tag.span("Actions", class: "govuk-visually-hidden")
      },
    ],

    rows: @topical_events.map do |event|
      [
        {
          text: tag.p(event.name, class: "govuk-!-font-weight-bold govuk-!-margin-0"),
        },
        {
          text: truncate(event.summary, length: 130, separator: ' '),
        },

        {
          text: duration_row_value(event)
        },

        {
          text: event.published_detailed_guides.count
        },

        {
          text: link_to(sanitize("View #{tag.span(event.name, class: 'govuk-visually-hidden')}"), [:admin, event], class: "govuk-link") +
            tag.span(link_to(sanitize("Delete #{tag.span(event.name, class: 'govuk-visually-hidden')}"), confirm_destroy_admin_topical_event_path(event),class: "govuk-link govuk-!-margin-left-2 gem-link--destructive")),
          format: "numeric"
        }
      ]
    end
  } %>
</div>
