<% content_for :page_title, @topical_event.name %>
<% content_for :title, @topical_event.name %>
<% content_for :title_margin_bottom, 4 %>

<p class="govuk-body"><%= view_on_website_link_for @topical_event, class: "govuk-link" %></p>

<div class="govuk-!-margin-bottom-8">
  <%= render "components/secondary_navigation", {
    aria_label: "Topical Events tabs",
    items: [
      {
        label: "Details",
        href: [:admin, @topical_event],
        current: true,
      },
      {
        label: "About page",
        href: [:admin, @topical_event, :topical_event_about_pages]
      },
      {
        label: "Features",
        href: [:admin, @topical_event, :topical_event_featurings]
      }
    ]
  } %>
</div>

<%= render "govuk_publishing_components/components/summary_list", {
  title: "Details",
  items: [
    { field: "Summary", value: @topical_event.summary },
    { field: "Description", value: @topical_event.description },
    { field: "Details", value: topical_event_contents_breakdown(@topical_event) },
    { field: "Duration",
      value: ("#{@topical_event.start_date} to #{@topical_event.end_date}" if @topical_event.start_date && @topical_event.end_date)
    }
  ],
  edit: {
    href: [:edit, :admin, @topical_event],
    link_text: "Edit",
    link_text_no_enhance: true
  }
} %>
