.document-collection-groups {
  &.index {
    .non-whitehall-disclosure {
      margin-bottom: $gutter / 2;

      summary {
        font-weight: bold;
        margin-bottom: $gutter / 2;
        @include border-radius(3px);
        border: 1px solid transparent;
      }

      summary:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      }
    }

    .reorder-buttons {
      button {
        display: none;
      }
    }

    .ui-sortable {
      .js-group-header {
        border-bottom: 1px solid #bfc1c3;
        padding: 10px 0;
        cursor: move;

        ul.actions {
          display: none;
        }
      }

      .js-group-body {
        display: none;
      }
    }

    section.group {
      $doc-group-base: #333333;

      header {
        position: relative;
      }

      ul.actions {
        position: absolute;
        bottom: 0;
        right: 0;

        margin: 0 0 5px;

        li:last-child {
          margin-right: 0;

          &:after {
            content: '';
            margin-left: 0;
          }
        }
      }

      $controls-background: #f3f3f3;

      input.checkbox {
        position: absolute;
        top: $gutter-one-third - 1px;
        left: $gutter-one-third;
      }

      p.alert,
      ul.controls {
        margin: $gutter-one-third 0 0;
      }

      p.alert {
        margin-bottom: $gutter;
        padding: $gutter-half $gutter-one-third;

        text-align: center;
      }

      ul.controls {
        position: relative;
        clear: both;

        padding: $gutter-one-third 0;
        border-bottom: 2px solid #333333;

        background: $controls-background;

        list-style: none;

        input.checkbox {
          top: $gutter-one-third + 3px;
        }

        li {
          display: inline;

          &.remove {
            margin-left: $gutter;
          }

          &.move {
            margin-left: $gutter-half;
            padding-left: $gutter-half;
            border-left: 1px solid darken($controls-background, 20%);

            &,
            select {
              font-size: 12px;
            }

            select {
              margin: 0 .2em;
            }
          }
        }
      }

      ol.document-list {
        li.document-row {
          position: relative;
          padding-top: $gutter-one-third;
          margin-bottom: 10px;
          border-top: 1px solid #cccccc;
          cursor: move;

          .loading-spinner {
            background-image: image-url('loading-2b2c2d.gif');
            width: 32px;
            height: 32px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        label,
        ul.metadata {
          margin-left: $gutter;
        }

        label {
          display: inline;
          font-weight: bold;
        }

        ul.metadata {
          li {
            padding: 0;

            &:after {
              content: '/';
              margin: 0 .4em;
            }

            &:last-child:after {
              content: '';
              margin: 0;
            }
          }
        }
      }
    }

    p.add-group {
      margin: $gutter $gutter-one-third 0;
    }
  }

  &.new,
  &.edit {
    form {
      margin-top: $gutter;
    }
  }

  &.delete form p {
    margin-bottom: $gutter;
  }
}
