.app-view-document_collection_group_document_search {
  .govuk-fieldset__heading {
    @include govuk-responsive-margin(3, "bottom");
  }
}

.app-view-document-collection-document-search-results__table {
  .govuk-table__cell:nth-child(2) {
    white-space: nowrap;
  }

  .govuk-table__cell,
  .govuk-table__cell * {
    vertical-align: middle;
  }

  form {
    display: inline;

    .govuk-button--secondary {
      margin-left: govuk-spacing(3);
    }
  }
}
