.document-series-groups {
  &.index {
    .document-finder {
      margin: $gutter 0;

      label {
        display: inline;
      }
    }

    section.group {
      $doc-group-base: #333;

      hgroup {
        position: relative;
      }

      p.edit {
        position: absolute;
        bottom: 0;
        right: 0;

        margin: 0 0 3px 0;
      }

      $controls-background: #f6f6f6;

      input.checkbox {
        position: absolute;
        top: $gutter-one-third - 1px;
        left: $gutter-one-third;
      }

      p.hint,
      ul.controls {
        margin: $gutter-one-third 0 0;
      }

      p.hint {
        margin-bottom: $gutter;
        padding: $gutter-half $gutter-one-third;
        background: $controls-background;

        text-align: center;
      }

      ul.controls {
        position: relative;
        clear: both;

        padding: $gutter-one-third 0;
        border-bottom: 2px solid #333;

        background: $controls-background;

        list-style: none;

        input.checkbox {
          top: $gutter-one-third + 3px;
        }

        li {
          display: inline;

          &.remove {
            margin-left: $gutter;
          }

          &.move {
            margin-left: $gutter-half;
            padding-left: $gutter-half;
            border-left: 1px solid darken($controls-background, 20%);

            &, select {
              font-size: 12px;
            }

            select {
              margin: 0 0.2em;
            }
          }
        }
      }

      ol.document-list {
        li.document-row {
          position: relative;
          padding-top: $gutter-one-third;
        }

        label,
        ul.metadata {
          margin-left: $gutter;
        }

        label {
          display: inline;
          font-weight: bold;
        }

        ul.metadata {
          clear: left;

          li {
            display: inline;
            margin: 0;
            padding: 0;

            color: lighten($doc-group-base, 25%);

            &:after {
              content: '/';
              margin: 0 0.4em;

              color: lighten($doc-group-base, 60%);
            }
            &:last-child:after {
              content: '';
              margin: 0;
            }
          }
        }
      }
    }

    p.add-group {
      margin: $gutter $gutter-one-third 0;
    }
  }

  &.new {
    form {
      margin-top: $gutter;
    }
  }
}
