.app-view-document-collection-group-memberships-index__heading {
  .gem-c-heading {
    display: inline-block;
    @include govuk-responsive-margin(2, "right");
  }

  .govuk-list {
    float: right;

    li {
      display: inline-block;
      @include govuk-responsive-padding(2, "left");
      @include govuk-responsive-margin(2, "left");
      border-left: 1px solid $govuk-border-colour;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

.app-view-document-collection-group-memberships-index__table .govuk-table__cell {
  word-break: break-word;

  &:last-child {
    white-space: nowrap;
  }
}
