.app-view-document-collection-group-memberships-index__heading {
  display: flex;
  justify-content: space-between;
}

.app-view-document-collection-group-memberships-index__table .govuk-table__cell {
  word-break: break-word;

  &:last-child {
    white-space: nowrap;
  }
}

.app-view-document-collection-group-memberships-index__heading-links {
  display: flex;
  align-items: center;

  & > p:first-child {
    @include govuk-responsive-padding(2, "right");
    @include govuk-responsive-margin(2, "right");
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid $govuk-border-colour;
  }
}
