.app-view-edition-resource__section-break {
  margin-top: 0;
  margin-bottom: govuk-spacing(5);
}

.app-view-edition-resource__preview {
  box-sizing: border-box;
  width: 100%;
}

.app-view-edition-resource__markdown--padded {
  margin-top: govuk-spacing(6);
}

.app-view-edition-resource__actions {
  margin-top: govuk-spacing(2);
  margin-bottom: 0;
}
