.topic-tree {
  .taxon-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;

    &:hover, &:focus {
      text-decoration: none;
    }

    .icon {
      display: inline-block;
      width: 15px;

      &:before {
        content: '\25BE';
      }
    }
  }
  .taxon-name.collapsed .icon {
    &:before {
      content: '\25B8';
    }
  }

  .topics {
    padding-left: 36px;
    border-left: 1px solid #aaa;
    margin-left: 6px;

    label {
      font-size: 16px;
      font-weight: normal;
      input[type="checkbox"] {
        margin-right: 10px;
      }

      input[type="checkbox"]:checked + span {
        font-weight: bold;
      }
    }
  }
}

.feedback-link {
  font-size: 16px;
}
