.editions-index {

  .editions-filter {
    margin-top: 1em;
  }

  .publishing-stats {
    margin: 18px 0;
    text-align: right;
  }

  div.toggle_group {
    display: inline;

    a.toggle {
      float: right;
      margin-right: 2.5%;
      margin-bottom: 0;
      width: 12em;
      text-align: right;
    }
  }

  .label.force_published {
    margin-left: 1em;
  }

  .additional_information {
    padding: 0.4em 1em 0.2em 1em;
    margin: 0.3em 0 0 0;

    h4 {
      margin: 0.2em 0 0.6em 0;
      color: #777;
    }

    ul {
      margin-left: 0;

      li {
        margin: 0;
        display: block;
        background: #fff;
        margin-bottom: 0.5em;
        border: 1px solid #eee;
        border-bottom: 1px solid #ddd;

        a {
          display: block;
          padding: 0.5em 0.75em;
        }
      }
    }
  }
}

