.app-view-edition-summary__sidebar-actions {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");
}

.app-view-edition-summary__sidebar-actions .gem-c-button {
  width: 100%;
}
