.topic-tree {
  .taxon-name {
    font-size: 16px;
    display: inline-block;

    &:hover, &:focus {
      text-decoration: none;
    }

    .icon {
      display: inline-block;
      font-size: 25px;
      text-align: center;
      width: 28px;
      height: 28px;

      &:before {
        content: '\25BE';
      }
    }
  }
  .no-children-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
  }
  .taxon-name.collapsed .icon {
    &:before {
      content: '\25B8';
    }
  }

  label {
    font-size: 16px;
    font-weight: normal;
    input[type="checkbox"] {
      margin-right: 10px;
    }
    input[type="checkbox"]:checked + span {
      font-weight: bold;
    }
  }

  .topics {
    padding-left: 36px;
    border-left: 1px solid #aaa;
    margin-left: 6px;
  }
}

.feedback-link {
  font-size: 16px;
}
