.app-view-edition-summary__section {
  padding: govuk-spacing(5) 0 govuk-spacing(4);
  border-bottom: 1px solid $govuk-border-colour;

  &:last-child {
    border-bottom: none;
  }
}

.app-view-edition-summary__sidebar-actions {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");
}

.app-view-edition-summary__sidebar-actions .gem-c-button {
  width: 100%;
}
