.edition-show {

  section {
    padding-bottom: 18px;
  }

  .edition-buttons {
    margin-bottom: 18px;
  }

  .edition-view-edit-buttons {
    padding-bottom: 36px;
  }

  .edition-sidebar {
    margin-top: 18px;

    .btn {
      margin-bottom: 8px;
    }
  }

  .review-by-date-section {
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
}
