.app-view-edition-images__section-break {
  margin-top: 0;
  margin-bottom: govuk-spacing(5);
}

.app-view-edition-images__image {
  box-sizing: border-box;
  width: 100%;
}

.app-view-edition-images__details {
  padding-left: govuk-spacing(6);
}

.app-view-edition-images__actions {
  margin-top: govuk-spacing(2);
  margin-bottom: 0;
}
