.app-view-edit-edition__date-time-wrapper {
  display: inline-flex;
}

.app-view-edit-edition__date-time {
  margin-right: govuk-spacing(2);
}

.app-view-edit-edition__date-time-input {
  max-width: 4.5em;
  min-width: 4.5em;
}

.app-view-edit-edition__date-time-input--large {
  max-width: 6.5em;
  min-width: 6.5em;
}

.app-view-edit-edition__time-separator {
  margin: govuk-spacing(6) + 5 govuk-spacing(2) 0 0;
  margin-bottom: 0;
}

.app-view-edit-edition__locale-field--hidden,
.app-view-edit-edition__appointment-fields--hidden,
.app-view-edit-edition__organisation-fields--hidden,
.app-view-edit-edition__world-organisation-fields--hidden,
.app-view-edit-edition__speech-location--hidden,
.app-view-edit-edition__delivered-on-warning--hidden,
.app-view-edit-edition__update-slug-checkbox--hidden {
  display: none;
}

.app-view-edit-edition__delivered-on-warning .gem-c-warning-text {
  margin-bottom: 0;
}
