.app-view-features__table .govuk-table__row .govuk-table__header:nth-child(1) {
  width: 45%;
}

.app-view-features__table .govuk-table__row .govuk-table__header:nth-child(2) {
  width: 20%;
}

.app-view-features__table .govuk-table__row .govuk-table__header:nth-child(3) {
  width: 20%;
}

.app-view-features__table .govuk-table__row .govuk-table__header:nth-child(4) {
  width: 15%;
}

.app-view-features__table caption, {
  border-bottom: 2px solid govuk-colour("black");
  padding-bottom: govuk-spacing(2);
}

.app-view-edition-index__table .govuk-table__header {
  padding-top: govuk-spacing(4);
}

.app-view-features-search-results__table .govuk-table__row .govuk-table__header:nth-child(1) {
  width: 35%;
}

.app-view-features-search-results__table .govuk-table__row .govuk-table__header:nth-child(2) {
  width: 20%;
}

.app-view-features-search-results__table .govuk-table__row .govuk-table__header:nth-child(3) {
  width: 25%;
}

.app-view-features-search-results__table .govuk-table__row .govuk-table__header:nth-child(4) {
  width: 20%;
}

.app-view-features-search-results__table .govuk-table, {
  border-top: 2px solid govuk-colour("black");
}

.app-view-features-search-results__table .govuk-table__header {
  padding-top: govuk-spacing(4);
}

.app-view-features-search-results__no_documents {
  border-top: 2px solid govuk-colour("black");
  padding-top: govuk-spacing(4);
}
