.app-view-editions-host-content-update-event-entry {
  &__list-item {
    margin-bottom: govuk-spacing(4);
  }

  &__detail,
  &__link {
    margin-top: govuk-spacing(0);
    margin-bottom: govuk-spacing(0);
  }

  &__heading {
    margin-bottom: govuk-spacing(0);
  }

  &__datetime {
    margin-top: govuk-spacing(0);
    margin-bottom: govuk-spacing(0);
    color: $govuk-secondary-text-colour;
  }
}
