.app-view-organisation-index__table .govuk-table {
  table-layout: fixed;
}

.app-view-organisation-index__table .govuk-table__row .govuk-table__header:nth-child(1) {
  width: 10%;
}

.app-view-organisation-index__table .govuk-table__row .govuk-table__header:nth-child(2) {
  width: 30%;
}

.app-view-organisation-index__table .govuk-table__row .govuk-table__header:nth-child(3) {

  width: 30%;
}

.app-view-organisation-index__table .govuk-table__row .govuk-table__header:nth-child(4) {
  width: 10%;
}

.app-view-organisation-index__table .govuk-table__row .govuk-table__header:nth-child(5) {
  width: 20%;
}
