.app-view-people-index__table .govuk-table__row .govuk-table__header:nth-child(1) {
  width: 40%;
}

.app-view-people-index__table .govuk-table__row .govuk-table__header:nth-child(2) {
  width: 55%;
}

.app-view-people-index__table .govuk-table__row .govuk-table__header:nth-child(3) {
  width: 5%;
}
