.stats-subtitle {
  font-size: 16px;
  margin: $default-label-margin 0;
}

.stats-announce-action {
  margin-bottom: $default-vertical-margin;
}

.stats-announce-item {
  color: #999;
  font-weight: normal;
  font-size: 23px;
  line-height: 1.5;
}

.stats-details dt {
  font-weight: normal;
}

.stats-summary {
  font-size: 16px;
  line-height: 1.5;
  @include add-bottom-margin;
}
