.app-view-whats-new__last-updated {
  color: govuk-colour("dark-grey");
}

.app-view-whats-new__section {
  border-bottom: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(5, "top");
  @include govuk-responsive-padding(5, "bottom");
}

.app-view-whats-new__section:last-child {
  border-bottom: none;
}

.app-view-whats-new__back-to-top-link {
  @include govuk-responsive-margin(7, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.app-view-whats-new__back-to-top-icon {
  width: 0.75em;
  height: 0.75em;
}

.app-view-whats-new__update {
  @include govuk-responsive-margin(8, "bottom");
}

.app-view-whats-new__update:last-child {
  @include govuk-responsive-margin(0, "bottom");
}

.app-view-whats-new__update-date {
  color: govuk-colour("dark-grey");
  @include govuk-responsive-margin(4, "bottom");
}

.app-view-whats-new__update-type {
  @include govuk-responsive-margin(4, "bottom");

  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-margin(0, "bottom");

    text-align: right;
  }
}
