.app-view-dashboard-index__table .govuk-table__row .govuk-table__header:nth-child(1) {
  width: 15%;
}

.app-view-dashboard-index__table .govuk-table__row .govuk-table__header:nth-child(2) {
  width: 35%;
}

.app-view-dashboard-index__table .govuk-table__row .govuk-table__header:nth-child(3) {
  width: 25%;
}

.app-view-dashboard-index__table .govuk-table__row .govuk-table__header:nth-child(4) {
  width: 20%;
}

.app-view-dashboard-index__table .govuk-table__row .govuk-table__header:nth-child(5) {
  width: 5%;
}
