<% page_title "Document series" %>
<section>

  <h1>Document series</h1>

  <table class="document_series table table-striped">
    <thead>
      <tr>
        <th width="30%">Name</th>
        <th>Organisation</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <%= render @document_series %>
    </tbody>
  </table>
</section>
