<% page_title "New document series" %>

<div class="span8">
  <section>
    <h1>New document series</h1>
    <p class="warning">Warning: changes to document series appear instantly on the live site.</p>
    <%= render partial: "form" %>
  </section>
</div>

<div class="span4">
  <%= sidebar_tabs govspeak_help: "Formatting help" do |tabs| %>
    <%= tabs.pane id: "govspeak_help" do %>
      <%= render partial: "admin/editions/govspeak_help" %>
    <% end %>
  <% end %>
</div>
