<%
   heading ||= type.to_s.humanize
   filter_option = (heading == "Publications") ? "all" : heading.downcase
   world_location_news ||= "0"
   see_all_text ||= "See all #{heading.downcase}"
   filter_type = @classification || @world_location || @topical_event
%>
<section id="<%= heading.downcase.parameterize %>" class="document-block">
  <%= render "govuk_publishing_components/components/heading", {
    text: heading,
    margin_bottom: 3,
  } %>
  <%= render partial: "shared/list_description_for_rummager_list", 
    locals: { 
      heading: heading, 
      editions: documents, 
      documents_count: documents_count, 
      type: type
    } 
  %>
  <p class="govuk-body">
    <%-
      see_more_url = public_send(
        "#{type}_filter_path",
        filter_type,
        publication_filter_option: filter_option,
        include_world_location_news: world_location_news
      )
    %>
    <%=
      link_to(
        see_all_text,
        see_more_url,
        class: "govuk-link",
        data: {
          track_category: 'navPolicyAreaLinkClicked',
          track_action: "#{heading}",
          track_label: see_more_url,
          track_options: {
            dimension28: documents_count.to_s,
            dimension29: "See all #{heading.downcase}"
          }
        }
      )
    %>
    </p>
</section>
