<% content_for :context, @statistics_announcement.title %>
<% content_for :page_title, "Cancel statistics release" %>
<% content_for :title, "Cancel statistics release" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @statistics_announcement)) %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'cancel_form', {
      statistics_announcement: @statistics_announcement,
      path: [:publish_cancellation, :admin, @statistics_announcement],
      http_action: :post
    } %>
  </div>
</div>
