<% content_for :page_class, 'statistics-announcements edit' %>
<% page_title "Edit statistics announcement" %>

<div class="stats-form-wrapper">
  <h1>
    <span class="stats-small-heading">
      <%= @statistics_announcement.title %>
    </span>
    <span class="stats-heading">
      Edit statistics announcement
    </span>
  </h1>
  <%= render "legacy_form", statistics_announcement: @statistics_announcement %>
</div>
