<% content_for :page_class, 'statistics-announcements edit' %>
<% page_title "Edit statistics announcement" %>

<div class="span8">
  <h1>Edit statistics announcement</h1>

  <%= render 'document_status', statistics_announcement: @statistics_announcement %>

  <%= render "form", statistics_announcement: @statistics_announcement %>
</div>
