<% content_for :page_title, "Edit statistics announcement" %>
<% content_for :context, @statistics_announcement.title %>
<% content_for :title, "Edit statistics announcement" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "legacy_form", statistics_announcement: @statistics_announcement %>
  </div>
</div>
