<% content_for :page_class, 'statistics-announcements edit' %>
<% page_title "Edit statistics announcement" %>

<div class="span8">
  <h1>
    <div class="stats-announce-item">
      <%= @statistics_announcement.title %>
    </div>
    <div class="stats-announce-action">
      Edit statistics announcement
    </div>
  </h1>
  <%= render "form", statistics_announcement: @statistics_announcement %>
</div>
