<% page_title "Statistics announcement" %>

<%= render 'warning' %>

<nav class="actions">
  <%= link_to "Create announcement", new_admin_statistics_announcement_path, class: "btn new_resource", title: "Create a statistics announcement" %>
</nav>

<h1>Statistics announcement</h1>

<div class="row-fluid">
  <div class="span3 span3-responsive">
    <%= render 'filter_options' %>
  </div>
  <div class="span9" id="search_results">
    <%= render 'search_results' %>
  </div>
</div>
