<% page_title "Statistics announcements" %>
<h1>Statistics announcements</h1>
<%= render 'warning' %>

<%= link_to "Create announcement", new_admin_statistics_announcement_path, class: "btn btn-large add-bottom-margin", title: "Create a statistics announcement" %>

<div class="row-fluid">
  <div class="span3 span3-responsive">
    <%= render 'filter_options' %>
  </div>
  <div class="span9" id="search_results">
    <%= render 'search_results' %>
  </div>
</div>
