<% page_title "New statistics announcement" %>
<div class="span8">
  <h1>New statistics announcement</h1>
  <p>Use this to make an announcement for a forthcoming statistics release. Statistics announcements are listed <%= link_to 'here' %>.</p>
  <%= render "form", statistics_announcement: @statistics_announcement %>
</div>
