<%= form.label :delivered_on, {class: "check-date-valid"} %>
<%= form.datetime_select :delivered_on, { include_blank: true }, { class: "date" } %>
<div class="date-warning-info">You have set the date in the future, please ensure that this will not be published before this date</div>
