<div>
  <%= render partial: 'speech_type_fields', locals: { form: form, edition: edition } %>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= render partial: 'delivered_by_fields', locals: { form: form, edition: edition } %>
  </div>
  <div class="span6">
    <%= render partial: 'delivered_on_fields', locals: { form: form, edition: edition } %>
  </div>
</div>
