<div>
  <%= render partial: 'legacy_speech_type_fields', locals: { form: form, edition: edition } %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: 'delivered_by_fields', locals: { form: form, edition: edition } %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'delivered_on_fields', locals: { form: form, edition: edition } %>
  </div>
</div>
