<div class="form-group speech-type">
  <%= form.label :speech_type_id, "Speech type" %>
  <%= form.select :speech_type_id,
        grouped_options_for_select(speech_type_options, edition.speech_type_id),
        {}, class: ['chzn-select', 'form-control', 'subtype'],
        data: {
          placeholder: "Choose speech type…",
          :'format-advice' => SpeechType::FORMAT_ADVICE
        } %>
</div>
