<div class="app-view-edition-form__subtype-fields js-app-view-edition-form__subtype-fields" data-format-advice="<%= SpeechType::FORMAT_ADVICE %>">
  <%= render "components/select-with-search", {
    name: "edition[speech_type_id]",
    id: "edition_speech_type_id",
    label: "Speech type",
    heading_size: "l",
    value: edition.speech_type_id,
    error_message: errors_for_input(edition.errors, :speech_type_id),
    include_blank: true,
    options: SpeechType.primary.map do |type|
      {
        text: type.singular_name,
        value: type.id,
        selected: edition.speech_type_id == type.id
      }
    end
  } %>

  <% if edition.speech_type_id.present? %>
    <%= render "subtype_format_advice", guidance: JSON.parse(SpeechType::FORMAT_ADVICE)[edition.speech_type_id.to_s].html_safe %>
  <% end %>
</div>
