.app-component-document-history-tab__older-pagination-link {
  float: right;
  margin-right: govuk-spacing(3);
}

.app-component-document-history-tab__newer-pagination-link {
  margin-left: govuk-spacing(3);
}
