.app-component-document-history-tab__pagination-link:last-child {
  float: right;
  margin-right: govuk-spacing(3);
}

.app-component-document-history-tab__pagination-link {
  margin-left: govuk-spacing(3);
}
