.edition-show {
  section {
    padding-bottom: 18px;
  }

  .edition-buttons {
    margin-bottom: 18px;
  }

  .edition-view-edit-buttons {
    padding-bottom: 36px;
  }

  .edition-sidebar {
    margin-top: 18px;

    .btn {
      margin-bottom: 8px;
    }
  }
}
