.organisation-form {
  .homepage-priority {
    @extend %contain-floats;

    label {
      display: block;
      float: left;
      background: transparent image-url("admin/homepage-priority.png") no-repeat 0 0;
      padding: 0 0 138px 30px;
      width: 175px;
      overflow: hidden;
      margin-right: 30px;
    }

    .news {
      background-position: 0 100%;
    }

    .service {
      background-position: -310px 100%;
    }

    span {
      padding-top: 3px;
      display: block;
    }
  }
}
