<% content_for :page_title, "Bulk upload for: #{@edition.title}" %>
<% content_for :title, "Bulk upload" %>
<% content_for :context, "Attachments for #{@edition.format_name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @zip_file, parent_class: "zip_file")) %>
<% render "admin/tracking/subtype_tracking", document_type: @edition.type, document: @edition %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @zip_file, url: upload_zip_admin_edition_bulk_uploads_path(@edition), multipart: true do |form| %>

      <%= render "govuk_publishing_components/components/file_upload", {
        label: {
          text: "Zip file"
        },
        name: "bulk_upload_zip_file[zip_file]",
        id: "zip_file_zip_file",
        error_items: errors_for(@zip_file.errors, :zip_file)
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Upload zip",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "zip-file-button",
            "track-label": "Upload zip"
          }
        } %>

        <%= link_to("Cancel", admin_edition_attachments_path(@edition), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
