<ol class="announcements document-list">
  <% announcements.each do |announcement| %>
    <%= content_tag_for(:li, announcement, class: 'document-row') do %>
      <h2><%= link_to announcement.title, public_document_path(announcement) %></h2>
      <ul class="attributes">
        <li class="first-published-at">
          <%= announcement.display_date_microformat %>
        </li>
        <li class="announcement-type">
          <%= t_display_type(announcement) %>
        </li>
      </ul>
    <% end %>
  <% end %>
</ol>
