<ul class="announcements documents-list">
  <% announcements.each do |announcement| %>
    <%= content_tag_for(:li, announcement, class: 'document') do %>
      <h2><%= link_to announcement.title, public_document_path(announcement), title: "View #{announcement.title}", class: "title" %></h2>
      <ul class="metadata">
        <li class="attribute first-published-at">
          <%= render_datetime_microformat(announcement, :first_published_at) {
            announcement.first_published_at.to_s(:long_ordinal)
          }%>
        </li>
        <li class="announcement-type attribute">
          <%= announcement_type(announcement) %>
        </li>
      </ul>
    <% end %>
  <% end %>
</ul>
