<div class="g1">
  <%= render partial: "documents/news_articles", locals: {news_articles: @news_articles} %>
</div>

<div class="g1">
  <section id="speeches">
    <h1>Speeches</h1>
    <%= render partial: "speeches/list", locals: {speeches: @speeches} %>
  </section>
</div>