<div class="g1">
  <section id="news_articles">
    <h1>News</h1>
    <%= render partial: "news_articles/list", locals: {news_articles: @news_articles} %>
  </section>
</div>

<div class="g1">
  <section id="speeches">
    <h1>Speeches</h1>
    <%= render partial: "speeches/list", locals: {speeches: @speeches} %>
  </section>
</div>