<div class="g3">
  <h1>Announcements</h1>
  <div class="g1 first">
    <%= render partial: "documents/news_articles", locals: {news_articles: @news_articles} %>
  </div>

  <div class="g1">
    <%= render partial: "documents/speeches", locals: {speeches: @speeches} %>
  </div>
</div>