<% page_title "News & speeches" %>
<% page_class "announcements-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header news-speech icon">
        <h1 class="page_title"><%= h "News & speeches" %></h1>
    </header>
  </div>
</div>


<div class="block-2">
  <div class="inner-block">
    <section class="further_articles announcements group">
      <%= announcement_group(@results, groups_of: 3, class: "", partial: "default") %>
    </section>
  </div>
</div>
