<% content_for :page_title, "Document unavailable for fact checking" %>
<% content_for :title, "Document unavailable for fact checking" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body apology">We’re sorry, but this document is no longer available for fact checking.</p>
  </div>
</div>
