<% page_title "Document unavailable for fact checking" %>
<div class="fact_check_request alert">
  <p class="apology">We’re sorry, but this document is no longer available for fact checking.</p>
</div>
