<%
  error_items ||= nil
  right_to_left ||= false
  rows ||= 20
  value ||= nil
%>

<div data-module="visual-editor">
  <div class="app-c-visual-editor__textarea-wrapper">
    <%= render "govuk_publishing_components/components/textarea", {
      label: label,
      name: name,
      rows: rows,
      value: value,
      error_items: error_items,
      margin_bottom: 0,
      right_to_left: right_to_left,
      right_to_left_help: false,
    } %>
  </div>

  <div class="app-c-visual-editor__content">
    <%= govspeak_to_admin_html value, [], [], nil %>
  </div>

  <div class="app-c-visual-editor__container"></div>
</div>

<%= javascript_include_tag "components/visual-editor", :type => "module" %>
