<% content_for :page_title, "Editing #{attachment.attachable_model_name} external attachment" %>
<% content_for :title, "Edit external attachment" %>
<% content_for :context, "Attachments for #{attachment.attachable_model_name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: attachment, parent_class: "attachment")) %>

<div class="govuk-grid-row">
  <%= render "admin/shared/attachments/form", attachable:, attachment: %>
</div>
