<% page_title "Default access information for: #{@accessible.name}" %>
<h1>Access information for: <%= @accessible.name %></h1>
<p><%= link_to "Back to #{@accessible.name}", [:admin, @accessible] %></p>

<div class="row-fluid">
  <div class="span8">
    <section>
      <%= render 'form', { accessible: @accessible, access_and_opening_times: @access_and_opening_times } %>
    </section>
  </div>

  <div class="span4">
    <%= simple_formatting_sidebar %>
  </div>
</div>
