<% page_title "Access information for: #{@accessible_name}" %>
<h1>Access information for: <%= @accessible_name %></h1>
<p><%= link_to "Back to #{@accessible_name}", accessible_path(@accessible) %></p>

<div class="row">
  <section class="col-md-8">
    <%= render 'form', { accessible: @accessible, access_and_opening_times: @access_and_opening_times } %>
  </section>
  <div class="col-md-4">
    <%= legacy_simple_formatting_sidebar %>
  </div>
</div>
