<% content_for :context, context %>
<% content_for :title, "Do you want to save your progress, or delete the draft entirely?" %>

<div class="govuk-button-group govuk-!-margin-bottom-6">
  <div>
    <%= render "govuk_publishing_components/components/button", {
      text: "Save and come back later",
      href: content_block_manager.content_block_manager_content_block_document_path(@content_block_edition.document),
    } %>
  </div>
  <div>
    <%= form_with(
          url: content_block_manager.content_block_manager_content_block_edition_path(
            @content_block_edition,
            redirect_path: content_block_manager.content_block_manager_content_block_document_path(@content_block_edition.document),
          ),
          method: :patch,
        ) do %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Delete in-progress draft",
        name: "_method",
        value: "delete",
        type: "submit",
        destructive: true,
      } %>
    <% end %>
  </div>
</div>
