<% content_for :context, context %>
<% content_for :title, "Do users have to know the content has changed?" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path(@content_block_edition, "change_note"),
  } %>
<% end %>

<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @content_block_edition)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: content_block_manager.content_block_manager_content_block_workflow_path(
      @content_block_edition,
      step: :change_note,
      ), method: :put, id: "change_note" do %>

      <%= render "govuk_publishing_components/components/radio", {
        name: "content_block/edition[major_change]",
        hint: "Some content types show public change notes. GOV.UK users can subscribe to email alerts and RSS feeds and receive public change notes. Telling users when published information has changed is important for transparency.",
        id: "content_block_manager_content_block_edition_major_change",
        error_items: errors_for(@content_block_edition.errors, :major_change),
        items: [
          {
            value: "1",
            checked: @content_block_edition.major_change === true,
            text: "Yes - information has been added, updated or removed",
            hint_text: "A change note will be published on every relevant page containing the content block you've changed. Change notes will also be emailed to users subscribed to email alerts for every page affected by this change. The 'last updated' date will change on pages that display it.",
            bold: true,
            conditional: render("govuk_publishing_components/components/textarea", {
              label: {
                text: "Describe the edit for users",
              },
              name: "content_block/edition[change_note]",
              id: "content_block_manager_content_block_edition_change_note",
              error_items: errors_for(@content_block_edition.errors, :change_note),
              value: @content_block_edition.change_note,
              hint: "Tell users what has been edited, where and why. Write in full sentences, leading with the most important words. For example, \"The full basic State Pension rate has changed from £85 per week to £93.60 per week.\"",
            }),
          },
          {
            value: "0",
            checked: @content_block_edition.major_change === false,
            text: "No - it's a minor edit that does not change the meaning",
            hint_text: "This includes fixing a typo or broken link, a style change or similar. Users signed up to email alerts will not get notified and the 'last updated' date will not change.",
            bold: true,
          },
        ],
      } %>
    <% end %>

    <%= render ContentBlockManager::Shared::ContinueOrCancelButtonGroup.new(
      form_id: "change_note",
      content_block_edition: @content_block_edition,
      ) %>
  </div>
</div>
