<% content_for :context, context %>
<% content_for :title, "Create internal change note" %>
<% content_for :title_margin_bottom, 4 %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path(@content_block_edition, "internal_note"),
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: content_block_manager.content_block_manager_content_block_workflow_path(
      @content_block_edition,
      step: :internal_note,
      ), method: :put, id: "internal_note" do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Explain what changes you did or did not make and why. This adds a record in the change history.",
        },
        name: "content_block/edition[internal_change_note]",
        id: "content_block_manager_content_block_edition_title",
        value: @content_block_edition.internal_change_note,
      } %>
    <% end %>

    <%= render ContentBlockManager::Shared::ContinueOrCancelButtonGroup.new(
      form_id: "internal_note",
      content_block_edition: @content_block_edition,
      ) %>
  </div>
</div>
