.dockerignore
.git
.gitignore
Dockerfile
Jenkinsfile
Procfile
README.md
CONTRIBUTING.md
asset-manager-tmp
attachment-cache
bulk-upload-zip-file-tmp
carrierwave-tmp
clean-uploads
docs
features
incoming-uploads
infected-uploads
test
tmp
