/.bundle
/db/*.sqlite3
/log/*.log
/tmp/
/.sass-cache/
/public/system/
/public/uploads/
/public/government/
/bin
/config/whitehall_secrets.yml
.powrc
.rbenv-version
/coverage
/test/reports
/incoming-uploads
/clean-uploads
/attachment-cache
/*_import_errors.csv
/bulk-upload-zip-file-tmp
.test_queue_stats
.yardoc/
/doc/
