<div class="worldwide-organisation-icon-list logo-icon-list">
  <ul>
    <% worldwide_organisations.each do |worldwide_organisation| %>
      <%= content_tag_for(:li, worldwide_organisation, class: worldwide_organisation.slug) do %>
        <%= link_to worldwide_organisation, class: 'organisation-logo organisation-logo-stacked-single-identity' do %>
          <span><%= organisation_logo_name(worldwide_organisation) %></span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
