<% page_title "Worldwide organisations" %>
<% page_class "worldwide-organisations-index" %>

<header class="block headings-block">
 <div class="inner-block floated-children">
   <%= render partial: 'shared/heading',
             locals: { heading: "Worldwide organisations",
                       big: true } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <section class="simple-alphabetical-list">
    <% if @worldwide_organisations.any? %>
      <% @worldwide_organisations.group_by { |worldwide_organisation| (worldwide_organisation.name || '-').first.upcase }.each do |letter, entries| %>
        <div class="alphabetical-row">
          <h2 class="alphabetical-list-letter"><%= letter %></h2>
          <ul>
            <% entries.each do |worldwide_organisation| %>
              <%= content_tag_for :li, worldwide_organisation do %>
                <% link_to worldwide_organisation.name, worldwide_organisation %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    </section>
  </div>
</div>
