<h2 class="govuk-heading-l">Previous updates</h2>

<div class="timeline">
  <% items.each_with_index do |item, i| %>
    <div class="timeline__item">

      <div class="timeline__header">
        <% if i === 0 %>
          <span class="timeline__latest">Latest</span>
          <br>
        <% end %>
        <h2 class="timeline__title"><%= item[:title] %></h2>
        <p class="timeline__byline">by <%= item[:byline] %></p>
      </div>

      <p class="timeline__date">
        <%= item[:date] %>
      </p>
    </div>
  <% end %>
</div>
