<% content_for :page_title, "New flexible page" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with method: "get", url: new_admin_flexible_page_path do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: "New flexible page",
        heading_level: 1,
        name: "flexible_page_type",
        id: "flexible_page_type",
        items: [
          "text": "History page",
          "value": "history_page",
        ],
      } %>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", { text: "Next" } %>

        <%= link_to("Cancel", root_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
