<% headers = govspeak_headers(govspeak) %>
<nav class="contextual-info" id="page-navigation">
  <% if headers.any? %>
    <h1><%= t('detailed_guidance.contents') %></h1>
    <nav class="detailed_guide_parts" role="navigation">
      <ol id="document_sections">
        <% headers.each do |header_record| %>
          <li>
            <%= link_to header_record.text, "##{header_record.id}" %>
          </li>
        <% end %>
        <% if has_more_like_this? %>
          <li class="more-like-this">
            <%= link_to t('detailed_guidance.see_more_like_this'), "#more-like-this" %>
          </li>
        <% end %>
      </ol>
    </nav>
  <% end %>
</nav>
