<h1 class="page_title has_meta"><%= document.title %></h1>
<div class="page-meta">
  <% if document.summary.present? %>
    <p class="summary"><%= document.summary %></p>
  <% end %>
  <% if document.respond_to?(:nation_inapplicabilities) and document.nation_inapplicabilities.any? %>
  <p>Only applies to <%= only_applies_to_nations_list(@document) %>.</p>
  <% end %>
</div>
