<div class="form-group">
  <%= form.label :opening_at, 'Opening Date' %>
  <div class="form-inline">
    <%= form.datetime_select :opening_at, { include_blank: true, start_year: 1997, end_year: Date.today.year + 5, :minute_step => 15 }, { :class => "date form-control" } %>
  </div>
</div>
<div class="form-group">
  <%= form.label :closing_at, 'Closing Date' %>
  <div class="form-inline">
    <%= form.datetime_select :closing_at, { include_blank: true, start_year: 1997, end_year: Date.today.year + 5, :minute_step => 15 }, { :class => "date form-control" } %>
  </div>
</div>
