<article class="document">
  <%= render partial: "standard_elements", locals: { edition: edition } %>

  <%= render partial: "documents/attachments", locals: { object_with_attachments: edition }  %>

  <p class="opening_on"><%= consultation_opening_phrase(edition) %></p>
  <p class="closing_on"><%= consultation_closing_phrase(edition) %></p>
</article>
