<% content_for :product_name, ContentBlockManager.product_name %>
<% content_for :page_title, "Permissions error" %>
<% content_for :title, "Permissions error" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You do not have permission to access this page.</p>
    <p class="govuk-body">If you need to access this page, please email
      <%= mail_to(
            ContentBlockManager.support_email_address,
            { class: "govuk-link" },
            ) %>
      to raise a support ticket.</p>
  </div>
</div>
