<% content_for :product_name, ContentBlockManager.product_name %>
<% content_for :page_title, "Something went wrong" %>
<% content_for :title, "Something went wrong" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Please try again by selecting the browser’s back button or email us at
      <%= mail_to(
            ContentBlockManager.support_email_address,
            { class: "govuk-link" },
            ) %>
      to raise a support ticket.</p>
  </div>
</div>
