<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: :admin_world_location_news_index
  } %>
<% end %>
<% content_for :page_title, @world_location_news.name %>
<% content_for :context, "World location news" %>
<% content_for :title, @world_location_news.name %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= link_to "View on website", @world_location_news.public_url(cachebust_url_options), class: "govuk-link", target: "_blank" %>
    </p>
    <%= render "components/secondary_navigation", {
      aria_label: "World location news navigation tabs",
      items: secondary_navigation_tabs_items(@world_location_news, request.path)
    } %>

    <%= render "govuk_publishing_components/components/summary_list", {
      title: "Details",
      heading_level: 2,
      heading_size: "l",
      items: [
        {
          field: "Type",
          value: @world_location_news.world_location.display_type,
        },
        {
          field: "Title",
          value: @world_location_news.title,
        },
        {
          field: "Mission statement",
          value: @world_location_news.mission_statement,
        },
        {
          field: "Active",
          value: @world_location_news.world_location.active? ? "Yes" : "",
        },
        @world_location_news.featured_links.each_with_index.map do |featured_link, index|
          [
            {
              field: "Featured link #{index + 1} title",
              value: featured_link.title,
            },
            {
              field: "Featured link #{index + 1} URL",
              value: featured_link.url,
            }
          ]
        end
      ].flatten.reject { |row| row[:value].blank? },
      edit: {
        href: [:edit, :admin, @world_location_news],
        link_text: "Edit",
      }
    } %>
  </div>
</div>
