<% content_for :page_title, @world_location_news.name %>
<% content_for :context, "Details" %>
<% content_for :title, @world_location_news.name %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= link_to "View on website", @world_location_news.public_url(cachebust_url_options), class: "govuk-link", target: "_blank" %>
    </p>
    <%= render "components/secondary_navigation", {
      aria_label: "Document tabs",
      items: secondary_navigation_tabs_items(@world_location_news, request.path)
    } %>
    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/button", {
        text: "Edit",
        secondary_solid: true,
        href: [:edit, :admin, @world_location_news]
      } %>
    </div>
    <%= govspeak_to_html @world_location_news.mission_statement %>
  </div>
</div>
