// Colour styles - hexidecimal

// Departmental colours
$treasury: #c03024;
$cabinet-office: #0078ba;
$department-for-education: #f6823e;
$department-of-transport: #007162;
$home-office: #804292;
$department-of-health: #00ae9f;
$ministry-of-justice: #231f20;
$ministry-of-defence: #5d2a44;
$foreign-and-commonwealth-office: #00569e;
$department-for-communities-and-local-government: #4a338c;
$department-for-energy-and-climate-change: #78c059;
$department-for-culture-media-and-sport: #ee1089;
$department-for-environment-food-and-rural-affairs: #8a8c30;
$department-for-work-and-pensions: #16bcb8;
$department-for-business-innovation-and-skills: #3a6f8c;
$department-for-international-development: #729ecd;

// Standard palette, colours
$purple: #2e358b;
$purple-50: #9799c4;
$purple-25: #d5d6e7;
$mauve: #6f72af;
$mauve-50: #b7b9d7;
$mauve-25: #e2e2ef;
$fuschia: #912b88;
$fuschia-50: #c994c3;
$fuschia-25: #e9d4e6;
$pink: #d53880;
$pink-50: #eb9bbe;
$pink-25: #f6d7e5;
$baby-pink: #f499be;
$baby-pink-50: #faccdf;
$baby-pink-25: #fdebf2;
$red: #b10e1e;
$red-50: #d9888c;
$red-25: #efcfd1;
$mellow-red: #df3034;
$mellow-red-50: #ef9998;
$mellow-red-25: #f9d6d6;
$orange: #f47738;
$orange-50: #fabb96;
$orange-25: #fde4d4;
$brown: #b58840;
$brown-50: #dac39c;
$brown-25: #f0e7d7;
$yellow: #ffbf47;
$yellow-50: #ffdf94;
$yellow-25: #fff2d3;
$grass-green: #85994b;
$grass-green-50: #c2cca3;
$grass-green-25: #e7ebda;
$green: #006435;
$green-50: #7fb299;
$green-25: #cce0d6;
$turquoise: #28a197;
$turquoise-50: #95d0cb;
$turquoise-25: #d5ecea;
$light-blue: #2b8cc4;
$light-blue-50: #96c6e2;
$light-blue-25: #d5e8f3;


// Standard palette, greys
$charcoal-grey: #231f20;
$dark-blue-grey: #083640;
$light-blue-grey: #c1cacb;
$light-warm-grey : #e1e8e8;
$cool-grey: #e8f0f0;
$white: #ffffff;
$light-beige: #f8f7ee;
$light-tan: #f5f0d6;

.treasury {
  background-color: lighten($mauve, 25%);
}