// Colour styles - hexidecimal

// For the base colours see:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/app/assets/stylesheets/_colours.scss
// These are our custom extras

$detailed-guidance-brand: $light-blue;
$detailed-guidance-background: #fafafa;

$inside-gov-brand: #2E3191;
//$inside-gov-secondary: adjust-hue(lighten($inside-gov-brand, 40%), -25%);
$inside-gov-secondary: desaturate(adjust-hue(lighten(#0078ba, 30%), -10%), 40%);
$inside-gov-nav: #0B0C0C;
$inside-gov-nav-dropdown: #888;

$coalition-green: #85994b;
$g8-brand: #c10019;


// Web safe department colours
$attorney-generals-office-websafe: #a03a88;
$cabinet-office-websafe: #347da4;
$department-for-business-innovation-skills-websafe: #347da4;
$department-for-communities-and-local-government-websafe: #37836e;
$department-for-culture-media-sport-websafe: #a03155;
$department-for-education-websafe: #347ca9;
$department-for-environment-food-rural-affairs-websafe: #67650f;
$department-for-international-development-websafe: #405e9a;
$department-for-transport-websafe: #398373;
$department-for-work-pensions-websafe: #37807b;
$department-of-energy-climate-change-websafe: #2b7cac;
$department-of-health-websafe: #39836e;
$foreign-commonwealth-office-websafe: #406e97;
$hm-government-websafe: #347da4;
$hm-treasury-websafe: #832322;
$home-office-websafe: #9440b2;
$ministry-of-defence-websafe: #5A5C92;
$ministry-of-justice-websafe: #5A5C92;
$northern-ireland-office-websafe: #3e598c;
$office-of-the-advocate-general-for-scotland-websafe: $link-colour;
$office-of-the-leader-of-the-house-of-lords-websafe: #c2395d;
$scotland-office-websafe: #405c8a;
$the-office-of-the-leader-of-the-house-of-commons-websafe: #005f8f;
$uk-export-finance-websafe: $link-colour;
$wales-office-websafe: #7a242a;





// Usage:
//
//   html:
//
//     <a href="..." class="cabinet-office">Cabinet Office</a>
//
//   css:
//     a {
//       border-width: 2px;
//       border-style: solid;
//       @include department-colours(border-color);
//     }

@mixin department-colours($selector, $property) {
  .attorney-generals-office #{$selector} { #{$property}: $attorney-generals-office; }
  .building-regulations-advisory-committee #{$selector} { #{$property}: $department-for-communities-and-local-government; }
  .cabinet-office #{$selector} { #{$property}: $cabinet-office; }
  .department-for-business-innovation-skills #{$selector} { #{$property}: $department-for-business-innovation-skills; }
  .department-for-communities-and-local-government #{$selector} { #{$property}: $department-for-communities-and-local-government; }
  .department-for-culture-media-sport #{$selector} { #{$property}: $department-for-culture-media-sport; }
  .department-for-education #{$selector} { #{$property}: $department-for-education; }
  .department-for-environment-food-rural-affairs #{$selector} { #{$property}: $department-for-environment-food-rural-affairs; }
  .department-for-international-development #{$selector} { #{$property}: $department-for-international-development; }
  .department-for-transport #{$selector} { #{$property}: $department-for-transport; }
  .department-for-work-pensions #{$selector} { #{$property}: $department-for-work-pensions; }
  .department-of-energy-climate-change #{$selector} { #{$property}: $department-of-energy-climate-change; }
  .department-of-health #{$selector} { #{$property}: $department-of-health; }
  .driving-standards-agency #{$selector} { #{$property}: $department-for-transport; }
  .foreign-commonwealth-office #{$selector} { #{$property}: $foreign-commonwealth-office; }
  .government-equalities-office #{$selector} { #{$property}: $department-for-culture-media-sport; }
  .hm-government #{$selector} { #{$property}: $hm-government; }
  .hm-treasury #{$selector} { #{$property}: $hm-treasury; }
  .home-office #{$selector} { #{$property}: $home-office; }
  .ministry-of-defence #{$selector} { #{$property}: $ministry-of-defence; }
  .ministry-of-justice #{$selector} { #{$property}: $ministry-of-justice; }
  .northern-ireland-office #{$selector} { #{$property}: $northern-ireland-office; }
  .office-of-the-advocate-general-for-scotland #{$selector} { #{$property}: $office-of-the-advocate-general-for-scotland; }
  .office-of-the-leader-of-the-house-of-lords #{$selector} { #{$property}: $office-of-the-leader-of-the-house-of-lords; }
  .planning-inspectorate #{$selector} { #{$property}: $department-for-communities-and-local-government; }
  .scotland-office #{$selector} { #{$property}: $scotland-office; }
  .the-office-of-the-leader-of-the-house-of-commons #{$selector} { #{$property}: $the-office-of-the-leader-of-the-house-of-commons; }
  .uk-export-finance #{$selector} { #{$property}: $uk-export-finance; }
  .wales-office #{$selector} { #{$property}: $wales-office; }
}

@mixin websafe-department-colours($selector, $property) {
  .attorney-generals-office #{$selector} { #{$property}: $attorney-generals-office-websafe; }
  .building-regulations-advisory-committee #{$selector} { #{$property}: $department-for-communities-and-local-government-websafe; }
  .cabinet-office #{$selector} { #{$property}: $cabinet-office-websafe; }
  .department-for-business-innovation-skills #{$selector} { #{$property}: $department-for-business-innovation-skills-websafe; }
  .department-for-communities-and-local-government #{$selector} { #{$property}: $department-for-communities-and-local-government-websafe; }
  .department-for-culture-media-sport #{$selector} { #{$property}: $department-for-culture-media-sport-websafe; }
  .department-for-education #{$selector} { #{$property}: $department-for-education-websafe; }
  .department-for-environment-food-rural-affairs #{$selector} { #{$property}: $department-for-environment-food-rural-affairs-websafe; }
  .department-for-international-development #{$selector} { #{$property}: $department-for-international-development-websafe; }
  .department-for-transport #{$selector} { #{$property}: $department-for-transport-websafe; }
  .department-for-work-pensions #{$selector} { #{$property}: $department-for-work-pensions-websafe; }
  .department-of-energy-climate-change #{$selector} { #{$property}: $department-of-energy-climate-change-websafe; }
  .department-of-health #{$selector} { #{$property}: $department-of-health-websafe; }
  .driving-standards-agency #{$selector} { #{$property}: $department-for-transport-websafe; }
  .foreign-commonwealth-office #{$selector} { #{$property}: $foreign-commonwealth-office-websafe; }
  .government-equalities-office #{$selector} { #{$property}: $department-for-culture-media-sport-websafe; }
  .hm-government #{$selector} { #{$property}: $hm-government-websafe; }
  .hm-treasury #{$selector} { #{$property}: $hm-treasury-websafe; }
  .home-office #{$selector} { #{$property}: $home-office-websafe; }
  .ministry-of-defence #{$selector} { #{$property}: $ministry-of-defence-websafe; }
  .ministry-of-justice #{$selector} { #{$property}: $ministry-of-justice-websafe; }
  .northern-ireland-office #{$selector} { #{$property}: $northern-ireland-office-websafe; }
  .office-of-the-advocate-general-for-scotland #{$selector} { #{$property}: $office-of-the-advocate-general-for-scotland-websafe; }
  .office-of-the-leader-of-the-house-of-lords #{$selector} { #{$property}: $office-of-the-leader-of-the-house-of-lords-websafe; }
  .planning-inspectorate #{$selector} { #{$property}: $department-for-communities-and-local-government-websafe; }
  .scotland-office #{$selector} { #{$property}: $scotland-office-websafe; }
  .the-office-of-the-leader-of-the-house-of-commons #{$selector} { #{$property}: $the-office-of-the-leader-of-the-house-of-commons-websafe; }
  .uk-export-finance #{$selector} { #{$property}: $uk-export-finance-websafe; }
  .wales-office #{$selector} { #{$property}: $wales-office-websafe; }
}
