// Colour styles - hexidecimal

// For the base colours see:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/app/assets/stylesheets/_colours.scss
// These are our custom extras

// Text colours
$body-text: #2B2C2D;
$link-text: #2577a7;

$detailed-guidance-background: #fafafa;
