// Colour styles - hexidecimal

// For the base colours see:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/app/assets/stylesheets/_colours.scss
// These are our custom extras

$detailed-guidance-brand: $light-blue;
$detailed-guidance-background: #fafafa;

$inside-gov-brand: $fuschia;
$inside-gov-nav: #333;

// Text colours
$body-text: #2B2C2D;
$low-contrast: lighten($body-text, 50%);
$link-text: $inside-gov-brand;
$detailed-guidance-link-text: $detailed-guidance-brand;

// Keyline colours
$light-keyline: $light-blue-grey;

// Background colours
$info-background: $light-warm-grey;
$info-background-hover: darken($light-warm-grey, 5%);


// Usage:
//
//   html:
//
//     <a href="..." class="cabinet-office">Cabinet Office</a>
//
//   css:
//     a {
//       border-width: 2px;
//       border-style: solid;
//       @include department-colours(border-color);
//     }

@mixin department-colours($selector, $property) {
  .hm-government #{$selector} { #{$property}: $hm-government; }
  .treasury #{$selector} { #{$property}: $treasury; }
  .cabinet-office #{$selector} { #{$property}: $cabinet-office; }
  .department-for-education #{$selector} { #{$property}: $department-for-education; }
  .department-for-transport #{$selector} { #{$property}: $department-for-transport; }
  .home-office #{$selector} { #{$property}: $home-office; }
  .department-of-health #{$selector} { #{$property}: $department-of-health; }
  .ministry-of-justice #{$selector} { #{$property}: $ministry-of-justice; }
  .ministry-of-defence #{$selector} { #{$property}: $ministry-of-defence; }
  .foreign-and-commonwealth-office #{$selector} { #{$property}: $foreign-and-commonwealth-office; }
  .department-for-communities-and-local-government #{$selector} { #{$property}: $department-for-communities-and-local-government; }
  .department-for-energy-and-climate-change #{$selector} { #{$property}: $department-for-energy-and-climate-change; }
  .department-for-culture-media-and-sport #{$selector} { #{$property}: $department-for-culture-media-and-sport; }
  .department-for-environment-food-and-rural-affairs #{$selector} { #{$property}: $department-for-environment-food-and-rural-affairs; }
  .department-for-work-and-pensions #{$selector} { #{$property}: $department-for-work-and-pensions; }
  .department-for-business-innovation-and-skills #{$selector} { #{$property}: $department-for-business-innovation-and-skills; }
  .department-for-international-development #{$selector} { #{$property}: $department-for-international-development; }
  .government-equalities-office #{$selector} { #{$property}: $government-equalities-office; }
  .attorney-generals-office #{$selector} { #{$property}: $attorney-generals-office; }
  .scotland-office #{$selector} { #{$property}: $scotland-office; }
  .wales-office #{$selector} { #{$property}: $wales-office; }
}
