/* CSS 3 Mixins
  
  Add them as you need them. This should let us manage vendor prefixes in one place.
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
     -moz-transform: translate($x, $y);
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}
@mixin gradient($from, $to) {
  background-color: $from; // fallback/image non-cover color
  background-image: -moz-linear-gradient($from, $to); // Firefox 3.6+
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); // Safari 4+, Chrome 1+
  background-image: -webkit-linear-gradient($from, $to); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($from, $to); // Opera 11.10+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); // IE6-9
}

@mixin transition($property, $duration, $function) {
  -webkit-transition: ($property $duration $function);
     -moz-transition: ($property $duration $function);
      -ms-transition: ($property $duration $function);
       -o-transition: ($property $duration $function);
          transition: ($property $duration $function);
}


