//  GOV.UK typography palettes


//  ANATOMY OF A TYPE STYLE
//  -----------------------
//  These are a collection of graphic styles. They are deliberately
//  abstracted from semantic HTML context to enable flexible re-use.
//  Although there is a lot of duplication within this file, as long
//  as you GZIP your CSS it shouldnt cause any bloat.
//
//
//  @mixin brand-45 {
//  _ Style name refers to graphic style rather than semantic use
//
//      font-size: 45px;
//
//      line-height: (52/45);
//      _ Unit-less, relative leading value.
//        line-height (52px) / font-size (45px) = relative line-height
//
//      font-weight: 300;
//      text-transform: none;
//      _ Again, we cant assume anything about pre-exising CSS on the
//        page, so setting these values (even if just resetting them
//        to default values) will increase the robustness of the style.
//
//      padding-top: 7px;
//      padding-bottom: 5px;
//      _ Set top and bottom padding values to ensure an appropriate
//        vertical measure before & after the text, ideally sitting it
//        on the 10px baseline grid.
//  }











// CORE FONTS - NEW TRANSPORT

// Suitable for page headings
@mixin ig-core-48 {
  @include core-48;
  padding-top: 12px;
  padding-bottom: 8px;
  @media (max-width: 640px) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

// Suitable for page headings
@mixin ig-core-36 {
  @include core-36;
  padding-top: 6px;
  padding-bottom: 9px;
  @media (max-width: 640px) {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

// Suitable for body headings
@mixin ig-core-27 {
  @include core-27;
  padding-top: 2px;
  padding-bottom: 3px;
  @media (max-width: 640px) {
    padding-top: 7px;
    padding-bottom: 3px;
  }
}

// Suitable for short body copy
@mixin ig-core-24 {
  @include core-24;
  padding-top: 3px;
  padding-bottom: 2px;
  @media (max-width: 640px) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

// Suitable for long body copy
@mixin ig-core-19 {
  @include core-19;
  padding-top: 7px;
  padding-bottom: 3px;
  @media (max-width: 640px) {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

// Suitable body pullouts and asides
@mixin ig-core-16 {
  @include core-16;
  padding-top: 5px;
  padding-bottom: 5px;
  @media (max-width: 640px) {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

// Suitable for captions, buttons etc
@mixin ig-core-14 {
  @include core-14;

  padding-top: 6px;
  padding-bottom: 4px;
  @media (max-width: 640px) {
    padding-top: 4px;
    padding-bottom: 1px;
  }
}

@mixin white-links {
  a,
  a:visited,
  a:hover {
    color: $white;
    text-decoration: underline;
  }
  a:active {
    color: $link-active-colour;
  }
}
