<p class="govuk-body-s app-view-whats-new__back-to-top-link">
  <a href="#content-list" class="govuk-link govuk-link--no-visited-state">
    <svg class="app-view-whats-new__back-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
  </a>
</p>
