<% content_for :page_title, t('admin.whats_new.title') %>
<% content_for :title, t('admin.whats_new.title') %>
<% content_for :title_margin_bottom, 0 %>

<%
  sections = [
    t('admin.whats_new.introduction'),
    t('admin.whats_new.recent_changes'),
    t('admin.whats_new.guidance'),
  ]
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l"><%= t('admin.whats_new.summary') %></p>

    <p class="govuk-body app-view-whats-new__last-updated"><%= t('admin.whats_new.last_updated') %></p>

    <div id="content-list">
      <%= render "govuk_publishing_components/components/contents_list", {
        contents: sections.map do | section |
          {
            href: "##{section[:heading].parameterize(separator: '-')}",
            text: section[:heading],
          }
        end
      } %>
    </div>

    <% sections.each do | section | %>
      <%= render partial: "admin/whats_new/section", locals: section %>
    <% end %>
  </div>
</div>
