<span class="govuk-caption-xl">Object Store</span>
<h1 class="govuk-heading-xl">Select a block type</h1>

<ul class="govuk-list">
<% @schemas.each do |schema| %>
  <li><%= link_to_new_block_type(schema) %></li>
<% end %>
</ul>