<% page_title "Edit page about #{@subject.name}" %>

<div class="container-fluid">
  <div class="span8">
    <section>
      <h1>Edit page about <%= @subject.name %></h1>
      <%= render partial: 'form', locals: { url: admin_topical_event_about_pages_path(@subject, @page) } %>
    </section>
  </div>
</div>
