<% page_title "Read more about #{@subject.name}" %>

<% content_for :current_tab do %>
  <table class="<%= model_name %> table">
    <tr>
      <th>Summary</th>
      <td class="summary"></td>
    </tr>
    <tr>
      <th>Body</th>
      <td class="body"></td>
    </tr>
  </table>

  <div class="form-actions">
    <%= link_to "Edit", [:edit, :admin, @subject], class: "btn btn-large btn-primary"%>
  </div>
<% end %>

<%= render partial: "admin/#{model_name.pluralize}/tab_wrapper", locals: { model: @subject } %>
