#whitehall-wrapper {
  position: relative;
  overflow: visible;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: $gutter;
  background: transparent;
  color: $text-colour;

  @include media(desktop) {
    padding-bottom: $gutter*2;
  }

  .whitehall-content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: auto;
    max-width: $max-site-width + $gutter*2;

    @extend %contain-floats;
  }

  #page {
    @include right-to-left {
      direction: rtl;
    }
  }
}
