body.detailed-guidance {
  background: $detailed-guidance-background;

  #whitehall-wrapper {
    padding-top: $gutter;
    padding-bottom: 0;
    margin-bottom: 0;

    .archive-notice {
      margin: 0 $gutter $gutter*2 $gutter;
    }

    // What is this doing here? this should be in the view stylesheet not the layout stylesheet
    #detailed-guides-container.filter-results {
      margin: 0 $gutter;
      padding: $gutter-two-thirds;
      background: $white;

      @media (max-width: 640px) {
        padding: $gutter-one-sixth;
      }

      .previous-next-navigation {
        margin-top: $gutter-two-thirds;
      }
    }

    // What is this doing here? this should be in the view stylesheet not the layout stylesheet
    #page .document_page .previous-next-navigation {
      background: transparent;
      margin-left: -45px;
      width: auto;
      @media (max-width: 640px) {
        margin-left: 0;
        width: $full-width;
      }

      li {
        a {
          color: #2B8CC4;
          &:active {
            background: transparent;
          }
        }
        &.next,
        &.previous {
          a:before {
            background-image: image-url("arrow-sprite-2B8CC4.png")
          }
        }
        &.next {
          a:before {
            margin-right: -45px;
          }
        }
        &.previous {
          a:before {
            margin-left: -45px;
          }
        }
      }
    }


  }

}
