body.specialist {
  background: $specialist-background;

  #whitehall-wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #whitehall-wrapper #global-nav .inner {
    background: transparent;
    max-width: $max-site-width + $gutter*2;

    ul {
      margin-left: $gutter;
    }

    #inside_gov_link a {
      background: $light-blue;
    }
  }
}
