body.specialist {
  background: #fafafa;

  #whitehall-wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #whitehall-wrapper #global-nav .inner {
    background: transparent;

    #inside_gov_link a {
      background: $light-blue;
    }
  }
}
