.two-column-page {
  .block-2,
  .block-3,
  .block-4 {
    padding-bottom: $gutter;
  }

  @include media(desktop) {
    .block-2 {
      width: 25%;
      float: left;
      display: inline;
      @include right-to-left {
        float: right;
      }
    }
    
    .block-3 {
      width: 66%;
      float: left;
      display: inline;
      @include right-to-left {
        float: right;
      }
    }
  }
}
