<ol class="document-list">
  <% role.published_policies.each do |policy| %>
    <%= content_tag_for :li, policy, class: "document-row" do %>
      <h3><%= policy.link %></h3>
      <ul class="attributes">
        <li class="date"><%= policy.display_date_microformat %></li>
      </ul>
    <% end %>
  <% end %>
</ol>
<div class="read-more">
  <%= link_to t('policies.view_all'), :policies %>
</div>
