<% page_title "Ministers" %>
<% page_class "ministers-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page_header minister">
      <h1 class="page_title">Ministers</h1>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section class="cab_ministers">
      <h1 class="label">Cabinet ministers</h1>
      <ul id="cabinet" class="cabinet_list">
        <% @cabinet_ministerial_roles.each do |role| %>
          <li class="ministerial_role">
            <div class="inner">
              <div class="image_holder">
                <%= role.current_person_image %>
              </div>
              <h2 class="current_appointee"><%= role.current_person_link %></h2>
              <p class="role"><%= role.link %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>



<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Other ministers</h1>
      <%= render partial: "grouped_list", locals: {ministerial_roles: @ministerial_roles} %>
    </section>
  </div>
</div>
