<% page_title "Ministers" %>

<div class="g4">
  <section class="page_header minister">
    <h1 class="page_title">Ministers</h1>
  </section>
</div>

<div class="g4f cab_ministers">
  <h2 class="g1">Cabinet ministers</h2>
  <ul id="cabinet" class="floated_list group g3">
    <% @cabinet_ministerial_roles.each do |role| %>
      <li class="ministerial_role g1">
        <div class="group"><div class="image_holder">
          <%= link_to image_for_ministerial_role(role), role %>
        </div>
        <h3 class="current_appointee"><%= role.current_person_name %></h3>
        <p class="role"><%= link_to role.name, role %></p></div>
      </li>
    <% end %>
  </ul>
</div>

<div class="g4f cab_ministers other">
  <h2 class="g3">Other ministers</h2>
  <%= render partial: "grouped_list", locals: {ministerial_roles: @ministerial_roles} %>
</div>
