<% page_title "Ministers" %>

<div class="g3f">
  <section class="page_header minister">
    <h1 class="page_title">Ministers</h1>
    <p class="explanation">All current ministers, and their recent news and speeches</p>
  </section>
</div>

<div class="g3">
  <h2>Cabinet ministers</h2>
  <ul id="cabinet" class="group">
    <% @cabinet_ministerial_roles.each do |role| %>
      <li class="ministerial_role">
        <h3><%= link_to role.current_person_name, role %></h3>
        <p><%= role.name %></p>
      </li>
    <% end %>
  </ul>
</div>

<div class="g3">
  <h2>Other ministers</h2>
  <%= render partial: "grouped_list", locals: {ministerial_roles: @ministerial_roles} %>
</div>
