<% page_title "Ministers" %>
<% page_class "ministers-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header minister">
      <h1 class="page_title">Ministers</h1>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section class="cab_ministers">
      <h1 class="label">Cabinet ministers</h1>
      <ul id="cabinet" class="cabinet_list">
        <% @cabinet_ministerial_roles.each_with_index do |(person, roles), i| %>
          <%= render partial: "people/person",
              locals: {
                person: person,
                roles: roles,
                hlevel: "h2",
                hide_image: false,
                extra_class: (i % 4 == 0) ? 'clear-person' : ''
          } %>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Other ministers</h1>
      <section class="simple-alphabetical-list" id="ministerial_roles">
        <% @ministerial_roles.group_by { |p,r| (p.surname || '-').first.upcase }.each do |letter, entries| %>
          <div class="alphabetical-row" id="ministerial_roles_<%= letter.downcase %>">
            <h2 class="alphabetical-list-letter"><%= letter %></h2>
            <ul class="ministerial_roles">
              <% entries.each do |person, roles| %>
                <%= render partial: "people/person",
                            locals: {
                              person: person,
                              roles: roles,
                              hlevel: "h3",
                              hide_image: true
                            } %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </section>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Whips – House of Commons</h1>
      <section class="simple-alphabetical-list" id="ministerial_roles">
          <div class="alphabetical-row" id="ministerial_roles_r">
            <h2 class="alphabetical-list-letter visuallyhidden">C</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon Alistair Carmichael MP</strong></h3>
                  <p class="role">
                    Deputy Chief Whip, Comptroller of HM Household
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_r">
            <h2 class="alphabetical-list-letter visuallyhidden">K</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon Greg Knight MP</strong></h3>
                  <p class="role">
                    Government Whip, Vice Chamberlain of HM Household
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_r">
            <h2 class="alphabetical-list-letter visuallyhidden">R</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon John Randall MP</strong></h3>
                  <p class="role">
                    Deputy Chief Whip, Comptroller of HM Household
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_r">
            <h2 class="alphabetical-list-letter visuallyhidden">Y</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon Sir George Young MP</strong></h3>
                  <p class="role">
                    Chief Whip, Parliamentary Secretary to the Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
      </section>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Junior Lords of the Treasury</h1>
      <section class="simple-alphabetical-list" id="ministerial_roles">
          <div class="alphabetical-row" id="ministerial_roles_c">
            <h2 class="alphabetical-list-letter visuallyhidden">C</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Stephen Crabb MP</strong></h3>
                  <p class="role">
                    Government Whip, Lord Commissioner of HM Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_e">
            <h2 class="alphabetical-list-letter visuallyhidden">E</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>David Evennett MP</strong></h3>
                  <p class="role">
                    Government Whip, Lord Commissioner of HM Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_g">
            <h2 class="alphabetical-list-letter visuallyhidden">G</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Robert Goodwill MP</strong></h3>
                  <p class="role">
                    Government Whip, Lord Commissioner of HM Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_l">
            <h2 class="alphabetical-list-letter visuallyhidden">L</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Mark Lancaster MP</strong></h3>
                  <p class="role">
                    Government Whip, Lord Commissioner of HM Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_m">
            <h2 class="alphabetical-list-letter visuallyhidden">M</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Anne Milton MP</strong></h3>
                  <p class="role">
                    Government Whip, Lord Commissioner of HM Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_s">
            <h2 class="alphabetical-list-letter visuallyhidden">S</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon Desmond Swayne MP</strong></h3>
                  <p class="role">
                    Government Whip, Lord Commissioner of HM Treasury
                  </p>
                </div>
              </li>
            </ul>
          </div>
      </section>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Assistant Whips</h1>
      <section class="simple-alphabetical-list" id="ministerial_roles">
        <div class="alphabetical-row" id="ministerial_roles_b">
            <h2 class="alphabetical-list-letter visuallyhidden">B</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Karen Bradley MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_h">
            <h2 class="alphabetical-list-letter visuallyhidden">H</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Greg Hands MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Mark Hunter MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
            </ul>
          </div>


          <div class="alphabetical-row" id="ministerial_roles_j">
            <h2 class="alphabetical-list-letter visuallyhidden">J</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Jo Johnson MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_m">
            <h2 class="alphabetical-list-letter visuallyhidden">M</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Nicky Morgan MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="alphabetical-row" id="ministerial_roles_s">
            <h2 class="alphabetical-list-letter visuallyhidden">S</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Robert Syms MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_w">
            <h2 class="alphabetical-list-letter visuallyhidden">W</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Jenny Willott MP</strong></h3>
                  <p class="role">
                    Assistant Government Whip
                  </p>
                </div>
              </li>
            </ul>
          </div>
      </section>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Whips – House of Lords</h1>
      <section class="simple-alphabetical-list" id="ministerial_roles">
        <div class="alphabetical-row" id="ministerial_roles_a">
            <h2 class="alphabetical-list-letter visuallyhidden">A</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon Baroness Anelay of St Johns DBE</strong></h3>
                  <p class="role">
                    Lords Chief Whip, Captain of the Honourable Corps of Gentlemen at Arms
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_n">
            <h2 class="alphabetical-list-letter visuallyhidden">N</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Lord Newby OBE</strong></h3>
                  <p class="role">
                    Deputy Chief Whip, Captain of The Queen’s Bodyguard of the Yeomen of the Guard
                  </p>
                </div>
              </li>
            </ul>
          </div>

      </section>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Baronesses and Lords in Waiting</h1>
      <section class="simple-alphabetical-list" id="ministerial_roles">
        <div class="alphabetical-row" id="ministerial_roles_a">
            <h2 class="alphabetical-list-letter visuallyhidden">A</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Lord Ahmad of Wimbledon</strong></h3>
                  <p class="role">
                    Lord in Waiting
                  </p>
                </div>
              </li>
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Earl Attlee</strong></h3>
                  <p class="role">
                    Lord in Waiting
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_g">
            <h2 class="alphabetical-list-letter visuallyhidden">G</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Baroness Garden of Frognal</strong></h3>
                  <p class="role">
                    Baroness in Waiting
                  </p>
                </div>
              </li>
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Lord Gardiner of Kimble</strong></h3>
                  <p class="role">
                    Lord in Waiting
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_n">
            <h2 class="alphabetical-list-letter visuallyhidden">N</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Baroness Northover</strong></h3>
                  <p class="role">
                    Baroness in Waiting
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_s">
            <h2 class="alphabetical-list-letter visuallyhidden">S</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Baroness Stowell of Beeston</strong></h3>
                  <p class="role">
                    Baroness in Waiting
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_s">
            <h2 class="alphabetical-list-letter visuallyhidden">S</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Rt Hon Lord Wallace of Saltaire</strong></h3>
                  <p class="role">
                    Lord in Waiting
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="alphabetical-row" id="ministerial_roles_y">
            <h2 class="alphabetical-list-letter visuallyhidden">Y</h2>
            <ul class="ministerial_roles">
              <li class="ministerial_role">
                <div class="inner">
                  <h3 class="current-appointee"><strong>Viscount Younger of Leckie</strong></h3>
                  <p class="role">
                    Lord in Waiting
                  </p>
                </div>
              </li>
            </ul>
          </div>
      </section>
    </section>
  </div>
</div>
