<% page_title "Ministers" %>
<% page_class "ministers-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page_header minister">
      <h1 class="page_title">Ministers</h1>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section class="cab_ministers">
      <h1 class="label">Cabinet ministers</h1>
      <ul id="cabinet" class="cabinet_list">
        <% @cabinet_ministerial_roles.each do |person, roles| %>
          <%= render partial: "role", locals: {person: person, roles: roles, hlevel: "h2"} %>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<div class="block-3">
  <div class="inner-block">
    <section class="other">
      <h1 class="label">Other ministers</h1>
      <section class="alphabetical_list" id="ministerial_roles">
        <% @ministerial_roles.group_by { |p,r| (p.surname || '-').first.upcase }.each do |letter, entries| %>
          <div class="alphabetical_row" id="ministerial_roles_<%= letter.downcase %>">
            <h2 class="alphabetical_list_letter"><%= letter %></h2>
            <ul class="ministerial_roles">
              <% entries.each do |person, roles| %>
                <%= render partial: "role", locals: {person: person, roles: roles, hlevel: "h3"} %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </section>
    </section>
  </div>
</div>
