<h1 class="ministerial_role"><%= @ministerial_role.name %></h1>
<h2 class="person"><%= @ministerial_role.person_name %></h2>
<%= render partial: "documents/policies", object: @policies %>
<%= render partial: "documents/publications", object: @publications %>