<% page_title "Edit " + @policy_advisory_group.email %>

<div class="span8">
  <section>
    <h1>Edit policy advisory group</h1>
    <p class="warning">Warning: changes to policy advisory groups appear instantly on the live site.</p>
    <%= render partial: "form", locals: {policy_advisory_group: @policy_advisory_group} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>
