<% page_title "New policy advisory group" %>

<div class="span8">
  <section>
    <h1>New policy advisory group</h1>
    <p class="warning">Warning: changes to policy advisory groups appear instantly on the live site.</p>
    <%= render "form", policy_advisory_group: @policy_advisory_group %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>
