<% content_for :page_class, 'document-series-groups delete' %>
<% page_title 'Delete group' %>

<div class="span8">
  <section>
    <h1>Delete group</h1>

    <% if (@series.groups.size == 1) || @group.documents.present? %>
      <div class="alert alert-error">
        <% if @series.groups.size == 1 %>
          <p>
            Every document series needs at least one group, so you can't
            delete the last one.
          </p>
          <p>
            If you were planning on replacing it you can return to the
            series page, click the edit link, and rename it instead.
          </p>
        <% else %>
          You can't delete a group that has documents in it &ndash;
          remove the documents first, or move them into another group.
        <% end %>
      </div>

      <p>
        <%= link_to 'Return to the series', admin_document_series_groups_path(@series) %>
      </p>
    <% else %>
      <%= form_for [@series, @group], url: admin_document_series_group_path(@series, @group), method: 'delete' do |form| %>
        <p>
          Are you sure you want to delete the group '<%= @group.heading %>'?
        </p>
        <%= form.form_actions(buttons: { delete: 'Delete' }, cancel: admin_document_series_groups_path(@series)) %>
      <% end %>
    <% end %>
  </section>
</div>
