@import "../colours";

@mixin filter_link {
  @include type-13;
  color: #777;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  @include transition(background);

  &:hover {
    text-decoration: none;
    color: #666;
    background: #ddd;
  };
}

@mixin state_link {
  a {
    @include filter_link;
    margin: 0;
    background: #d5d5d5;
    padding: 0em 1em;
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    border-right: none;
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
      @include rounded_left();
    }

    &:last-child {
      @include rounded_right();
      border-right: 1px solid #ccc;
    }

    &:hover {
      @include vertical_gradient(#e5e5e5, #eee);
    }

    &:active {
      color: $link-color-active;
    }

    &.current {
      color: #444;
      @include vertical_gradient(lighten($collation-green, 5%), $collation-green);
      border-bottom: 1px solid $collation-green;
      border-top: 1px solid $collation-green;
    }
  }
}

@mixin rounded_link {
  a {
    @include filter_link;

    background: transparent;
    border: none;

    padding: 1px 10px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;

    white-space: nowrap;

    @include transition(background);
    @include transition(color);
    @include rounded(12px);

    &:hover {
      padding: 0 9px;
      border: 1px solid #ccc;
      border-bottom: 1px solid #ddd;
      background: #e5e5e5;
      @include box-shadow(0, -1px, 0, #bbb);
    }

    &.current {
      padding: 0 9px;
      border: 1px solid #b5b5b5;
      border-bottom: 1px solid #c5c5c5;
      background: #d5d5d5;
      @include box-shadow(0, -1px, 0, #aaa);
      @include rounded(12px);
    };
  }
}