@mixin vertical_gradient($from_hex, $to_hex) {
  background-color: $from_hex;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from_hex), to($to_hex));
  background-image: -webkit-linear-gradient(top, $from_hex, $to_hex);
  background-image: -moz-linear-gradient(top, $from_hex, $to_hex);
  background-image: -o-linear-gradient(top, $from_hex, $to_hex);
  background-image: -ms-linear-gradient(top, $from_hex, $to_hex);
  background-image: linear-gradient(top, $from_hex, $to_hex);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from_hex}', EndColorStr='#{$to_hex}');
}

@mixin horizontal_gradient($from_hex, $to_hex, $degrees: 0deg, $start: 0, $end: 100%) {
	background-color: #20BEFF;
	background-image: -o-linear-gradient($degrees , $from_hex $start, $to_hex $end);
	background-image: -moz-linear-gradient($degrees , $from_hex $start, $to_hex $end);
	background-image: -webkit-linear-gradient($degrees , $from_hex $start, $to_hex $end);
	background-image: -ms-linear-gradient($degrees , $from_hex $start, $to_hex $end);
	background-image: linear-gradient($degrees , $from_hex $start, $to_hex $end);
}
