/* GRID HELPERS */

@mixin grid_column($float_direction: left, $w: 98.0%, $ml: 1%, $mr: 1%) {
  display: block;
  position: relative;
  margin-left: $ml;
  margin-right: $mr;
  width: $w;

  @media only screen and (min-width: 768px) {
    display: inline;
    float: $float_direction;
  }
}

@mixin span_one_column($float_direction: left) {
  @include grid_column($float_direction);

  @media only screen and (min-width: 768px) {
    width: 48.0%;
  }

  @media only screen and (min-width: 1024px) {
    width: 31.333%
  }
}

@mixin span_two_columns($float_direction: left) {
  @include grid_column($float_direction);

  @media only screen and (min-width: 768px) {
    width: 48.0%;
  }

  @media only screen and (min-width: 1024px) {
    width: 64.667%;
  }
}

@mixin span_three_columns($float_direction: left) {
  @include grid_column($float_direction);
}

@mixin span_half_a_column($float_direction: left) {
  @include grid_column($float_direction);
  width: 48.0%;

  @media only screen and (min-width: 768px) {
    width: 24.0%;
  }

  @media only screen and (min-width: 1024px) {
    width: 15.6665%
  }
}

@mixin flood_column($float_direction: left) {
  @include grid_column($float_direction, 100%, 0, 0);
}

@mixin flood_one_column($float_direction: left) {
  @include flood_column($float_direction);

  @media only screen and (min-width: 768px) {
    width: 50.0%;
  }

  @media only screen and (min-width: 1024px) {
    width: 33.3333333%
  }
}

@mixin flood_two_columns($float_direction: left) {
  @include flood_column($float_direction);

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  @media only screen and (min-width: 1024px) {
    width: 66.6666666%;
  }
}

@mixin flood_three_columns($float_direction: left) {
  @include flood_column($float_direction);
}