/* GRID HELPERS */

@mixin grid_column($float_direction: left, $w: 98.0%, $ml: 1%, $mr: 1%) {
  display: block;
  position: relative;
  margin-left: $ml;
  margin-right: $mr;
  width: $w;

  @media only screen and (min-width: 600px) {
    display: inline;
    float: $float_direction;
  }
}

@mixin span_one_column($float_direction: left, $w: 97.0%, $ml: 1.5%, $mr: 1.5%, $cols: 3) {
  @include grid_column($float_direction, $w, $ml, $mr);

  @media only screen and (min-width: 600px) {
    width: (50.0% - ($ml + $mr));
  }

  @media only screen and (min-width: 768px) {
    width: ((100.00%/$cols)) - ($ml + $mr);
  }
}

@mixin span_two_columns($float_direction: left, $w: 97.0%, $ml: 1.5%, $mr: 1.5%, $cols: 3) {
  @include grid_column($float_direction, $w, $ml, $mr);

  @media only screen and (min-width: 600px) {
    width: (50.0% - ($ml + $mr));
  }

  @media only screen and (min-width: 768px) {
    width: ((100.00%/$cols) * 2) - ($ml + $mr);
  }
}

@mixin span_three_columns($float_direction: left, $w: 97.0%, $ml: 1.5%, $mr: 1.5%, $cols: 3) {
  @include grid_column($float_direction, $w, $ml, $mr);

  @media only screen and (min-width: 768px) {
    width: ((100.00%/$cols) * 3) - ($ml + $mr);
  }
}

@mixin span_four_columns($float_direction: left, $w: 97.0%, $ml: 1.5%, $mr: 1.5%) {
  @include grid_column($float_direction, $w, $ml, $mr);
}

@mixin span_half_a_column($float_direction: left) {
  @include grid_column($float_direction);
  width: 48.0%;

  @media only screen and (min-width: 600px) {
    width: 24.0%;
  }

  @media only screen and (min-width: 768px) {
    width: 14.6665%
  }
}

@mixin flood_column($float_direction: left) {
  @include grid_column($float_direction, 100%, 0, 0);
}

@mixin flood_one_column($float_direction: left, $cols: 3) {
  @include span_one_column($float_direction, 100%, 0, 0, $cols);
}

@mixin flood_two_columns($float_direction: left, $cols: 3) {
  @include span_two_columns($float_direction, 100%, 0, 0, $cols);
}

@mixin flood_three_columns($float_direction: left, $cols: 3) {
  @include span_three_columns($float_direction, 100%, 0, 0, $cols);
}

@mixin flood_four_columns($float_direction: left) {
  @include span_four_columns($float_direction, 100%, 0, 0);
}