@mixin box-shadow($horiz-offset, $vert-offset, $blur, $colour) {
  -moz-box-shadow: $horiz-offset $vert-offset $blur $colour; /* FF3.5+ */
  -webkit-box-shadow: $horiz-offset $vert-offset $blur $colour; /* Saf3.0+, Chrome */
  box-shadow: $horiz-offset $vert-offset $blur $colour; /* Opera 10.5, IE 9.0 */
}

@mixin clear-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}