$gill: 'Gill Sans W01 Medium', "Gill Sans", "Gill Sans MT", "Helvetica Neue", Arial, Helvetica, sans-serif;
$helvetica: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, Cambria, serif;

@mixin helvetica {
  font-family: $helvetica;
}

@mixin gill {
  font-family: $gill;
}

@mixin georgia {
  font-family: $georgia;
}