<%
  ga4_auto_attributes = {
    event_name: "side_bar_error",
    action: "error",
  }
%>

<div class="app-view-summary__sidebar-notices">
  <% unless @edition.valid?(:publish) %>
    <%
      error_sources = collect_edition_and_attachment_error_sources(@edition)
      error_messages = collect_filtered_validation_errors(error_sources)
    %>

    <%= render "components/inset_prompt", {
      data_attributes: {
        module: "ga4-auto-tracker",
        ga4_auto: {
          type: "show invalid edition warning",
          text: error_messages.join(", "),
        }.merge(ga4_auto_attributes).as_json,
      },
      title: "This edition is invalid",
      description: render("govuk_publishing_components/components/list", {
        visible_counters: true,
        items: error_messages,
      }),
      error: true,
    } %>
  <% end %>
  <% if show_similar_slugs_warning?(@edition) %>
    <%= render "components/inset_prompt", {
      data_attributes: {
        module: "ga4-auto-tracker",
        ga4_auto: {
          type: "show similar slugs warning",
          text: "This title has been used before on GOV.UK, although the page may no longer exist. Please use another title.",
        }.merge(ga4_auto_attributes).as_json,
      },
      description: "This title has been used before on GOV.UK, although the page may no longer exist. Please use another title.",
      error: true,
    } %>
  <% end %>
</div>
