<%
  ga4_auto_attributes = {
    event_name: "side_bar_error",
    action: "error",
  }
%>

<div class="app-view-summary__sidebar-notices">
  <% unless @edition.valid?(:publish) %>
    <%= render "components/inset_prompt", {
      data_attributes: {
        module: "ga4-auto-tracker",
        ga4_auto: {
          type: "show invalid edition warning",
          text: @edition.errors.map(&:full_message).join(", "),
        }.merge(ga4_auto_attributes).as_json,
      },
      title: "This edition is invalid",
      description: render("govuk_publishing_components/components/list", {
        visible_counters: true,
        items:  @edition.errors.map(&:full_message),
      }),
      error: true,
    } %>
  <% end %>
  <% if show_similar_slugs_warning?(@edition) %>
    <%= render "components/inset_prompt", {
      data_attributes: {
        module: "ga4-auto-tracker",
        ga4_auto: {
          type: "show similar slugs warning",
          text: "This title has been used before on GOV.UK, although the page may no longer exist. Please use another title. If not, the URL for this project will be #{@edition.base_path}",
        }.merge(ga4_auto_attributes).as_json,
      },
      description: "This title has been used before on GOV.UK, although the page may no longer exist. Please use another title. If not, the URL for this project will be #{@edition.base_path}",
      error: true,
    } %>
  <% end %>
</div>
