<div class="filter-results-summary">
  <div class="selections">
    <%= describe_filter @filter, statistics_announcements_path, date_prefix_text: "due" %>
  </div>
</div>

<div class="filter-results">
  <%- if @filter.results.any? -%>
    <ol class="document-list">
      <%= render @filter.results %>
    </ol>
  <%- else -%>
    <div class="no-results">
      <h2>There are no matching announcements.</h2>
      <p>Try making your search broader and try again.</p>
    </div>
  <%- end -%>
</div>

<% if @filter.results.number_of_pages > 1 %>
  <nav id="show-more-documents" role="navigation">
    <ul class="previous-next-navigation">
      <%= next_page_link(url:  statistics_announcements_path(@filter.next_page_params),
                         page: @filter.page + 1,
                         of:   @filter.results.number_of_pages) if @filter.results.next_page? %>

      <%= previous_page_link(url:  statistics_announcements_path(@filter.previous_page_params),
                             page: @filter.page - 1,
                             of:   @filter.results.number_of_pages) if @filter.results.previous_page? %>
    </ul>
  </nav>
<% end %>
