<% content_for :context, "Groups" %>
<% content_for :page_title, "Delete group" %>
<% content_for :title, "Delete group" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_tag admin_policy_group_path(@policy_group), method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-7">Are you sure you want to delete "<%= @policy_group.name %>"?</p>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
        } %>

        <%= link_to("Cancel", admin_policy_groups_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>
</div>
