<% content_for :page_title, "Edit #{@policy_group.name}" %>
<% content_for :title, "Edit #{@policy_group.name}" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @policy_group)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Changes to groups appear instantly on the live site."
    } %>

    <%= render "components/secondary_navigation", {
      aria_label: "Policy group navigation tabs",
      items: secondary_navigation_tabs_items(@policy_group, request.path)
    } %>

    <%= render "form", policy_group: @policy_group %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= simple_formatting_sidebar %>
  </div>
</div>
