<% content_for :page_title, "Groups" %>
<% content_for :title, "Groups" %>
<% content_for :title_margin_bottom, 6 %>

<%= render "govuk_publishing_components/components/button", {
  text: "Create new group",
  href: new_admin_policy_group_path,
  margin_bottom: 6
} %>

<div class="govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/warning_text", {
    text: "Do not create groups without consulting GDS."
  } %>
</div>

<div class="app-c-govuk-table--filterable govuk-table--with-actions">
  <%= render "govuk_publishing_components/components/table", {
    filterable: true,
    head: [
      {
        text: "Name"
      },
      {
        text: "Email",
      },
      {
        text: tag.span("Actions", class: "govuk-visually-hidden"),
      }
    ],
    rows: @policy_groups.map do |policy_group|
      [
        {
          text: policy_group.name
        },
        {
          text: policy_group.email,
        },
        {
          text: link_to(sanitize("Edit #{tag.span(policy_group.name, class: 'govuk-visually-hidden')}"), edit_admin_policy_group_path(policy_group), class: "govuk-link") +
           (link_to(sanitize("Delete #{tag.span(policy_group.name, class: 'govuk-visually-hidden')}"), confirm_destroy_admin_policy_group_path(policy_group), class: "govuk-link gem-link--destructive govuk-!-margin-left-2") if can?(:delete, PolicyGroup)),
        }
      ]
    end
  } %>
</div>
