<% page_title "New group" %>

<div class="row">
  <section class="col-md-8">
    <h1>New group</h1>
    <p class="warning">Do not create groups without consulting GDS.</p>
    <p class="warning">Warning: changes to groups appear instantly on the live site.</p>
    <%= render "legacy_form", policy_group: @policy_group %>
  </section>
  <div class="col-md-4">
    <%= legacy_simple_formatting_sidebar %>
  </div>
</div>
