<div class="app-view-edit-edition__appointment-fields">
    <%= render "govuk_publishing_components/components/select_with_search", {
      id: "edition_role_appointment_ids",
      name: "edition[role_appointment_ids][]",
      include_blank: true,
      label: "Ministers",
      heading_size: "m",
      options: ministerial_role_appointments.options_query.map do |appointment|
        {
          text: role_appointment_option_label(appointment),
          value: appointment.id,
          selected: ministerial_role_appointments.selected_ids.include?(appointment.id),
        }
      end,
      multiple: true,
    } %>
</div>
