<% content_for :title, @user.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(
          ContentBlockManager::SignonUser::Show::SummaryListComponent.new(
            user: @user,
            ),
          ) %>
  </div>
</div>
