<% content_for :page_class, "document-collection-groups delete" %>
<% page_title "Delete group" %>

<div class="row">
  <section class="col-md-8">
    <h1>Delete group</h1>

    <% if @collection.groups.size == 1 %>
      <div class="alert alert-danger">
        <p>
          Every document collection needs at least one group, so you can’t
          delete the last one.
        </p>
        <p>
          If you were planning on replacing it you can return to the
          collection page, click the edit link, and rename it instead.
        </p>
      </div>

      <p>
        <%= link_to "Return to the collection", admin_document_collection_groups_path(@collection) %>
      </p>
    <% else %>
      <%= form_for [@collection, @group], url: admin_document_collection_group_path(@collection, @group), method: "delete" do |form| %>
        <p>
          Are you sure you want to delete the group ‘<%= @group.heading %>’?
        </p>
        <%= form.form_actions(buttons: { delete: "Delete" }, cancel: admin_document_collection_groups_path(@collection)) %>
      <% end %>
    <% end %>
  </section>
</div>
