<% content_for :page_class, 'document-collection-groups new' %>
<% page_title 'Add a new group' %>

<div class="span8">
  <section>
    <h1>Add a new group</h1>

    <%= render partial: 'form', locals: { url: admin_document_collection_groups_path(@collection) } %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar hide_inline_attachments_help: true, show_attachments_tab_help: false %>
</div>
