.app-view-whats-new__last-updated {
  color: govuk-colour("dark-grey");
}

.app-view-whats-new__section {
  @include govuk-responsive-padding(5, "top");
  @include govuk-responsive-padding(5, "bottom");

  border-bottom: 1px solid $govuk-border-colour;
}

.app-view-whats-new__section:last-child {
  border-bottom: none;
}

.app-view-whats-new__back-to-top-link {
  @include govuk-responsive-margin(7, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.app-view-whats-new__back-to-top-icon {
  width: .75em;
  height: .75em;
}

.app-view-whats-new__update {
  @include govuk-responsive-margin(6, "bottom");
}

.app-view-whats-new__update:last-child {
  @include govuk-responsive-margin(0, "bottom");
}

.app-view-whats-new__update-date {
  @include govuk-responsive-margin(5, "bottom");

  color: govuk-colour("dark-grey");
}

.app-view-whats-new__update-type {
  text-align: right;
}
