<% content_for :context, "Object store" %>
<% content_for :title, "Manage #{add_indefinite_article @content_block_document.block_type.humanize}" %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_object_store.content_object_store_content_block_documents_path,
  } %>
<% end %>

<%= render(
      ContentObjectStore::ContentBlock::Document::Show::SummaryListComponent.new(
        content_block_document: @content_block_document,
      ),
    ) %>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentObjectStore::ContentBlock::Document::Show::DocumentTimelineComponent.new(
            content_block_versions: @content_block_versions,
          ),
        ) %>
  </div>
</div>
