<%= render "govuk_publishing_components/components/heading", {
  text: "Attachments",
  font_size: "l",
  margin_bottom: 3,
} %>

<% if attachable.can_order_attachments? && attachable.attachments.many? %>
<p class="govuk-body"><%= link_to 'Reorder attachments', reorder_admin_edition_attachments_path(@edition), class: "govuk-link govuk-link--no-visited-state" %></p>
<% end %>

<%= render "govuk_publishing_components/components/table", {
  head: [
    {
      text: "Title"
    },
    {
      text: "File"
    },
    {},
    {}
  ],
  rows: attachable.attachments.includes(:attachment_data).map do |attachment|
    [
      {
        text: attachment.title
      },
      {
        text: link_to_attachment(attachment, preview: true, full_url: true, class: "govuk-link govuk-link--no-visited-state")
      },
      {
        text: link_to('Edit', [:edit, :admin, typecast_for_attachable_routing(attachable), attachment.becomes(Attachment)], class: "govuk-link govuk-link--no-visited-state")
      },
      {
        text: link_to('Delete', [:confirm_destroy, :admin, typecast_for_attachable_routing(attachable), attachment.becomes(Attachment)], class: "govuk-link govuk-link--no-visited-state")
      }
    ]
  end
} %>
