<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/radio", {
    heading: "House of Commons paper number",
    heading_level: 2,
    heading_size: heading_size,
    name: "attachment[unnumbered_hoc_paper]",
    id_prefix: "hoc_paper_number_conditional",
    items: [
      {
        value: "0",
        text: "Numbered",
        checked: form.object.unnumbered_hoc_paper.eql?(false),
        conditional: render("govuk_publishing_components/components/input", {
          label: {
            text: "Fill in the command and House of Commons boxes to publish an official document which will appear in the list of official documents."
          },
          name: "attachment[hoc_paper_number]",
          id: "attachment_hoc_paper_number",
          value: form.object.hoc_paper_number,
          error_items: errors_for(attachment.errors, :command_paper_number)
        })
      },
      {
        value: "1",
        text: "Unnumbered",
        checked: form.object.unnumbered_hoc_paper
      }
    ]
  } %>
</div>

<%
  options = [{text: "Choose the right Parliamentary session", value: ""}]
  options.concat(Attachment.parliamentary_sessions.map do |session|
    {
      text: session,
      value: session,
      selected: form.object.parliamentary_session == session
    }
  end)
%>

<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/select", {
    label: "Parliamentary session",
    name: "attachment[parliamentary_session]",
    id: "attachment_parliamentary_session",
    heading_level: 2,
    heading_size: heading_size,
    options: options,
    error_message: errors_for_input(attachment.errors, :parliamentary_session)
  } %>
</div>
