<div class="clearfix">
  <%= form.text_field :hoc_paper_number, label_text: 'House of Commons paper number', class: 'paper-number' %>
  <%= form.check_box :unnumbered_hoc_paper, label_text: 'Unnumbered' %>
</div>
<%= form.label :parliamentary_session %>
<%= form.select :parliamentary_session, Attachment.parliamentary_sessions, include_blank: true %>
