<% page_title "Editing #{@attachable.class.name.humanize.downcase} attachment" %>

<div class="span8">
  <section>
    <h1>Editing <%= @attachable.class.name.humanize.downcase %> attachment</h1>

    <%= render partial: 'form', locals: { attachable: @attachable, attachment: @attachment } %>
  </section>
</div>
