<% page_title "Editing #{attachment.attachable_model_name} #{attachment.readable_type} attachment" %>

<div class="row">
  <section class="col-md-8">
    <h1>Editing <%= attachment.attachable_model_name %> <%= attachment.readable_type %> attachment</h1>

    <%= render partial: 'form_legacy', locals: { attachable: attachable, attachment: attachment } %>
  </section>
  <% if attachment.html? %>
    <div class="col-md-4">
      <%= legacy_simple_formatting_sidebar hide_inline_attachments_help: true, show_footnote_help: true, show_stat_headline_help: true %>
    </div>
  <% end %>
</div>
