<div class="govuk-!-margin-bottom-<%= margin_bottom %>">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "External url (required)",
    },
    name: "#{name}[external_url]",
    id: "#{name}_external_url",
    heading_level:,
    heading_size:,
    value: form.object.external_url,
    error_items: errors_for(attachment.errors, :external_url),
  } %>
</div>