<% page_title "Add attachment to: #{@edition.title}" %>

<div class="span8">
  <section>
    <h1>Add attachment to: <%= @edition.title %></h1>

    <%= render partial: 'form', locals: { edition: @edition, attachment: @attachment, url: admin_edition_attachments_path(@edition, @attachment) } %>
  </section>
</div>
