<% page_title "Add attachment to: #{@attachable.class.name.underscore.humanize.downcase}" %>
<div class="span8">
  <section>
    <h1>Add attachment to <%= @attachable.class.name.underscore.humanize.downcase %></h1>

    <%= render partial: 'form', locals: { attachable: @attachable, attachment: @attachment } %>
  </section>
</div>
