<% page_title "Add attachment to: #{attachment.attachable_model_name}" %>
<div class="span8">
  <section>
    <h1>Add attachment to <%= attachment.attachable_model_name %></h1>

    <%= render 'form', attachable: attachable %>
  </section>
</div>

<% if attachment.html? %>
  <div class="span4">
    <%= simple_formatting_sidebar hide_inline_attachments_help: true, show_footnote_help: true %>
  </div>
<% end %>
