<% page_title "Add #{attachment.readable_type} attachment to: #{attachment.attachable_model_name}" %>

<div class="row">
  <section class="col-md-8">
    <h1>Add <%= attachment.readable_type %> attachment to <%= attachment.attachable_model_name %></h1>

    <%= render 'form_legacy', attachable: attachable %>
  </section>
  <% if attachment.html? %>
    <div class="col-md-4">
      <%= legacy_simple_formatting_sidebar hide_inline_attachments_help: true, show_footnote_help: true, show_stat_headline_help: true %>
    </div>
  <% end %>
</div>
