<% content_for :context, product_name %>
<% content_for :title, "Manage #{add_indefinite_article @content_block_document.block_type.humanize}" %>
<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: content_block_manager.content_block_manager_content_block_documents_path,
  } %>
<% end %>

<%= render(
      ContentBlockManager::ContentBlock::Document::Show::SummaryListComponent.new(
        content_block_document: @content_block_document,
      ),
    ) %>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
      ContentBlockManager::ContentBlock::Document::Show::HostEditionsTableComponent.new(
        caption: "Content appears in",
        host_content_items: @host_content_items,
      ),
    ) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-top-8">
  <div class="govuk-grid-column-full">
    <%= render(
          ContentBlockManager::ContentBlock::Document::Show::DocumentTimelineComponent.new(
            content_block_versions: @content_block_versions,
          ),
        ) %>
  </div>
</div>
