<% content_for :context, @organisation.name %>
<% content_for :page_title, "Delete Financial report" %>
<% content_for :title, "Delete Financial report" %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-8">Are you sure you want to delete this report?</p>

    <%= form_tag [:admin, :organisation, :financial_report], id: @financial_report.id, method: :delete do %>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
        } %>

        <%= link_to("Cancel", admin_organisation_financial_reports_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
