<% content_for :page_title, "Edit social media account for #{@edition.title}" %>
<% content_for :title, "Edit social media account for #{@edition.title}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("form", edition: @edition, social_media_account: @social_media_account) %>
  </div>
</div>
