<% content_for :page_title, "Add social media account for #{@edition.title}" %>
<% content_for :title, "Add social media account for #{@edition.title}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @social_media_account)) %>

    <%= render("form", edition: @edition, social_media_account: @social_media_account, destination: admin_edition_social_media_accounts_path(@edition)) %>
  </div>
</div>
