<section class="document_view">
  <%= render partial: "standard_elements", locals: { document: document } %>
  <p class="metadata">
    Last updated
    <%= render_datetime_microformat(@document, :published_at) do %>
      <%= time_ago_in_words(@document.published_at) %> ago
    <% end %>
  </p>
  <% if @document.notes_to_editors.present? %>
    <section id="notes_to_editors">
      <h1>Notes to editors</h1>
      <div class="notes_to_editors">
        <%= govspeak_to_html @document.notes_to_editors %>
      </div>
    </section>
  <% end %>
</section>
