<% page_title "News" %>

<div class="g3f">
  <section class="page_header news">
    <h1 class="page_title">News</h1>
  </section>
</div>

<div class="g3f">
  <section id="news_articles" class="announcements group">
    <%= announcement_group(@news_articles, groups_of: 3, class: "", partial: "default") %>
  </section>
</div>