<div class="g2">
  <h1>News</h1>
  <ul class="news_articles">
    <% @articles.each do |article| %>
      <%= content_tag_for(:li, article) do %>
        <%= link_to article.title, public_document_path(article), title: "View #{article.title}" %>
      <% end %>
    <% end %>
  </ul>
</div>