<% page_title "News" %>
<% page_class "news-index" %>

<div class="g3">
  <header class="page_header news icon">
    <h1 class="page_title">News</h1>
  </header>
</div>

<div class="g3f">
  <section id="news_articles" class="announcements group">
    <%= announcement_group(@news_articles, groups_of: 3, class: "", partial: "default") %>
  </section>
</div>