<section class="publications group four_column_list" id="all_publications">
  <div class="g4f">
    <div class="filter-controls g1">
      <h1>Filter by <strong>policy topic</strong></h1>
      <ul>
        <% @all_policy_topics.each do |policy_topic| %>
          <% css_classes = [] %>
          <% css_classes << "selected" if @selected_policy_topics.include?(policy_topic) %>
          <% css_classes << "top" if @top_policy_topics.include?(policy_topic) %>
          <% style = (css_classes & %w{top selected}).size > 0 ? nil : "display: none" %>
          <%= content_tag_for(:li, policy_topic, class: css_classes.join(" "), style: style) do %>
            <% if css_classes.include? "selected" %>
              <% title = "Remove '#{policy_topic.name}' from filter" %>
              <% topics = @selected_policy_topics - [policy_topic] %>
            <% else %>
              <% title = "Add '#{policy_topic.name}' to filter" %>
              <% topics = @selected_policy_topics + [policy_topic] %>
            <% end %>
            <% url = topics.any? ? by_policy_topic_publications_path(topics.map(&:slug).sort.join("+")) : publications_path %>
            <%= link_to url, title: title do %>
              <span></span>
              <%= policy_topic.name %>
            <% end %>
          <% end %>
        <% end %>
        <li class="toggle">
          <a href="#"><span>+</span>View all topics</a>
        </li>
      </ul>
    </div>
    <div class="g3f">
      <% article_group(@all_publications, groups_of: 3, class: "has_img row") do |publication| %>
        <%= render partial: "publication", locals: {publication: publication} %>
      <% end %>
    </div>
  </div>
</section>
