<% if @document.nation_inapplicabilities.any? %>
  <%= render partial: 'documents/inapplicable_nations', locals: { document: @document } %>
<% end %>
<article class="document has_notice">
  <div class="summary">
    <p><%= @document.summary %></p>
  </div>
  <div class="body">
    <%= govspeak_edition_to_html @document %>
  </div>
</article>
