  <div class="block-2 ">
    <div class="inner-block js-stick-at-top-when-scrolling">
      <section class="contextual-info in-page-navigation ">
        <h1>Contents</h1>
        <nav role="navigation">
          <ul>
          </ul>
        </nav>
      </section>
    </div>
  </div>