<div class="summary publication-summary">
  <p><%= document.summary %></p>
  <% if document.external? %>
    <h3>This publication is hosted on another website</h3>
    <p><%= link_to "View details of the publication here", document.external_url, rel: "external" %></p>
  <% end %>
</div>
