<section>
  <h1 class="page_title title has_meta"><%= @document.title %></h1>
  <div class="meta <%= @document.nation_inapplicabilities.any? ? 'g1f' : '' %>">
    <span class="metadata">Last updated <%= time_ago(@document.published_at, class: 'published_at') %></span>
  </div>
  <% if @document.nation_inapplicabilities.any? %>
    <div class="g2">
      <%= render partial: 'documents/inapplicable_nations', locals: { document: @document } %>
    </div>
  <% end %>
</section>