<ol class="publications document-list">
  <% publications.each do |publication| %>
    <%= content_tag_for(:li, publication, class: 'document-row') do %>
      <h2><%= link_to publication.title, public_document_path(publication) %></h2>
      <ul class="attributes">
        <li class="publication-date"><%= publication.display_date_microformat %></li>
        <li class="document-type"><%= t_display_type(publication) %></li>
      </ul>
    <% end %>
  <% end %>
</ol>
