<% content_for :context, @edition.title %>
<% content_for :page_title, "Specialist topic tagging" %>
<% content_for :title, "Specialist topic tagging" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_for @edition, url: admin_edition_legacy_associations_path(@edition), as: :edition, method: :put,
        html: { class: edition_form_classes(@edition) } do |form| %>

      <%= render 'specialist_sector_fields', form: form, edition: @edition %>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update specialist topics",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "publication-button"
          }
        } %>

        <%= link_to("Cancel", @path, class: "govuk-link") %>
      </div>
    <% end %>
  </section>
</div>
