<div class="form-group">
  <%= form.label :news_article_type_id, 'News article type' %>
  <%= form.select :news_article_type_id,
        grouped_options_for_select(news_article_type_options, edition.news_article_type_id),
        {},
        class: ['chzn-select', 'form-control', 'subtype'],
        data: {
          placeholder: "Choose News article type…",
          :'format-advice' => NewsArticleType::FORMAT_ADVICE
        } %>
</div>
