<div class="app-view-edition-form__subtype-fields js-app-view-edition-form__subtype-fields" data-format-advice="<%= NewsArticleType::FORMAT_ADVICE %>">
  <%= render "components/select-with-search", {
    name: "edition[news_article_type_id]",
    id: "edition_news_article_type_id",
    label: "News article type (required)",
    heading_size: "l",
    value: edition.news_article_type_id,
    error_message: errors_for_input(edition.errors, :news_article_type_id),
    include_blank: true,
    options: NewsArticleType.all.map do |type|
      {
        text: type.singular_name,
        value: type.id,
        selected: edition.news_article_type_id == type.id
      }
    end
  } %>

  <% if edition.news_article_type_id.present? %>
    <%= render "subtype_format_advice", guidance: JSON.parse(NewsArticleType::FORMAT_ADVICE)[edition.news_article_type_id.to_s].html_safe %>
  <% end %>
</div>
