<% content_for :page_title, "Retag content" %>
<% content_for :title, "Retag content" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      This is to be used for machinery of government changes.
    </p>

    <%= form_with(url: admin_retagging_preview_path, method: :post) do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Paste the CSV contents, as per the guidance below.",
        },
        name: "csv_input",
        value: "#{params[:csv_input]}",
      } %>
      <p class="govuk-body">
        <%= render "govuk_publishing_components/components/button", {
          text: "Preview changes",
        } %>
      </p>
    <% end %>
  </section>
</div>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Guidance</h2>

    <%= render "govuk_publishing_components/components/table", {
      head: [
        {
          text: "URL",
        },
        {
          text: "Lead organisations",
        },
        {
          text: "Supporting organisations",
        },
      ],
      rows: [
        [
          {
            text: "The full URL of the document (not the slug).",
          },
          {
            text: "The slugs of the leading organisations (in quotes and separated by a comma if more than one). These will replace any existing organisations. Example: \"department-1,department-2\"",
          },
          {
            text: "The slugs of the supporting organisations (in quotes and separated by a comma if more than one). These will replace any existing organisations. Example: \"department-1,department-2\"",
          },
        ],
      ],
    } %>
  </section>
</div>
