<% page_title 'Dashboard' %>
<% page_class 'dashboard-index' %>

<h1>Find in admin bookmarklet</h1>

<div class="row-fluid">
  <div class="span12 bookmarks">
    <p>Drag this to your bookmarks bar:</p>

    <p>
      <a class='btn btn-large btn-primary' href="javascript:<%= Uglifier.compile(render("find_in_admin", open_in_new_tab: false)); %>">Find in admin</a>
    </p>

    <p>Then, when you're on a frontend page on www.gov.uk you can click 'Find in admin' from your bookmarks toolbar to go to the corresponding admin page.</p>
  </div>
</div>
