<% page_title 'Dashboard' %>
<% page_class 'dashboard-index' %>

<h1>Dashboard</h1>

<div class="quick-links">
  <div class="span4">
    <h3>Guidance for publishers</h3>
    <ul>
      <li><a href="http://alphagov.github.io/inside-government-admin-guide/">IG admin user guide</a></li>
      <li><a href="https://www.gov.uk/designprinciples/styleguide">Content principles</a></li>
    </ul>
  </div>
  <div class="span4">
    <h3>Product development</h3>
    <ul>
      <li><a href="https://insidegovuk.blog.gov.uk/">Inside GOV.UK</a></li>
      <li><a href="https://www.pivotaltracker.com/s/projects/367813">Development backlog (PivotalTracker)</a></li>
    </ul>
  </div>
  <div class="span4">
    <h3>Support</h3>
    <ul>
      <li><a href="https://gov.uk/support/internal">GDS support form</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6 draft-documents">
    <h2>Your draft documents</h2>
    <%= render partial: 'document_table', locals: { documents: @draft_documents, title: 'draft documents' } %>
  </div>
  <% if current_user.organisation %>
    <div class="span6 force-published-documents">
      <h2><%= current_user.organisation.acronym %>'s force published documents</h2>
      <%= render partial: 'document_table', locals: { documents: @force_published_documents, title: 'foce published documents' } %>
    </div>
  <% end %>
</div>
