<% content_for :page_title, @edition.title %>
<% content_for :title, "Associated user needs" %>
<% content_for :context, @edition.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">      
    <%= form_tag admin_update_needs_path(content_id: @document.content_id), method: :patch do %>
      <%= render "components/autocomplete", {
          id: "need_ids",
          name: "need_ids[]",
          label: {
            text: "Select associated user needs",
            bold: true,
            required: true,
          },
          heading_size: "l",
          select: {
            options: [""] + taggable_needs_container,
            multiple: true,
            selected: @document.need_ids,
          },
      } %>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save"
        } %>

        <%= link_to("Cancel", [:admin, @edition], class: "govuk-link") %>
      </div>
    <% end %>
  </div>
</div>
