<% content_for :page_title, @edition.title %>
<% content_for :title, "Associated user needs" %>
<% content_for :context, @edition.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag admin_update_needs_path(content_id: @document.content_id), method: :patch do %>
      <%= render "govuk_publishing_components/components/select_with_search", {
          id: "need_ids",
          name: "need_ids[]",
          include_blank: true,
          label: "Select associated user needs",
          heading_size: "l",
          options: taggable_needs_container(@document.need_ids),
          multiple: true,
      } %>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>

        <%= link_to("Cancel", [:admin, @edition], class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
