.edition-unpublish {

  h2 {
    margin: $gutter-half 0;
  }

  .js-unpublishing-reason {
    input[type=radio] {
      display: inline;
      margin-right: 5px;
    }
  }

  form {
    fieldset {
      margin-top: $gutter-two-thirds;
    }
  }
}
