<% page_title 'Get involved' %>

<div class="get-involved-header">
  <h1>Get involved</h1>
  <%= link_to "View on website", get_involved_url %>
</div>
<section class="get-involved">
  <%= get_involved_tab_navigation %>
</section>
