<% topics.group_by {|t| t.name.first.upcase }.sort.each do |letter, topic_group| %>
  <div class="alphabetical_group" id="topics_<%= letter.downcase %>">
    <h2><%= letter %></h2>
    <%= render partial: "list", locals: { topics: topic_group } %>
  </div>
<% end %>
