<ol class="topics group <%= (topics.length > 8 ? 'ultra-wide' : (topics.length > 4 ? 'wide' : '')) %>">
  <% topics.each do |topic| %>
    <%= content_tag_for(:li, topic, class: 'topic') do %>
    <div class="container">
      <h2><%= link_to topic.name, topic_path(topic) %></h2>
      <div class="summary">
        <%= govspeak_to_html topic.description %>
      </div>
    </div>
    <% end %>
  <% end %>
</ol>
