<h1>Topics</h1>

<% if @topics.any? %>
<ul class="topics">
  <% @topics.each do |topic| %>
    <%= content_tag_for(:li, topic) do %>
      <%= link_to topic.name, topic_path(topic) %>
    <% end %>
  <% end %>
</ul>
<% end %>