.attachment {
  position: relative;
  margin: $gutter 0;
  padding: $gutter-one-third 0 0 0;
  @extend %contain-floats;
  @include right-to-left {
    padding: $gutter-one-third 0 0 0;
  }

  @include media(tablet) {
    padding: $gutter-half 0 0 0;
    @include right-to-left {
      padding: $gutter-half 0 0 0;
    }
  }

  &.inline {
    background: transparent;
    position: static;
    padding: 0;
    margin: 0;
    &:after {
      display: none;
    }
  }

  .title a {
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  .attachment-details {
    @include grid-column( 2/3 );

    h1, h2, h3 {
      @include bold-24;
    }

    .extra-description {
      @include core-19;
      margin: 0;
    }

    .references {
      display: block;
      @include media ( tablet ) {
        display: inline;
      }

    }

    .references,
    .price {
      color: $secondary-text-colour;
    }
    .order_url {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      @include media ( tablet ) {
        margin-left: $gutter-one-third;
      }
    }

    .preview,
    .download {
      @include core-19;
    }

    .preview {
      padding-right: $gutter-half;
    }
  }

  .metadata {
    @include grid-column( 1/3 );
    @include core-14;
    margin: 0;
    .unnumbered-paper {
      display: block;
    }
    .opendocument-help {
      clear: both;
      margin: 0;
      @include core-14;
      a {
        @include external-link-14;
      }
    }
  }

  .attachment-details,
  .metadata {
    padding: 0;
    @include media(tablet) {
      padding: 0 $gutter-half;
    }
  }

  .accessibility-warning,
  .references,
  .order_url,
  .price {
    @include core-16;
    @include media(tablet) {
      @include core-14;
    }
  }

  .accessibility-warning {
    clear: left;
    display: block;

    @include media(tablet) {
      display:inline-block;
    }

    h2 {
      margin: 0;
      color: $text-colour;
    }
    .toggler {
      display: inline-block;
      color: $link-colour;
      cursor: pointer;
      &:hover,
      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
  }
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  strong {
    font-weight: bold;
  }
}


.heading-block {
  .attachment-full-width {
    h1 {
      @include media(tablet) {
        padding-left: $gutter-half;
        margin-bottom: $gutter-two-thirds;
      }
    }
    .document-type {
      @include core-19;
      float: left;
      margin-right: 5px;
      @include media(tablet) {
        @include bold-24;
        float: none;
      }
    }
    .document-size {
      @include core-19($tabular-numbers: true);
      float: left;
      @include media(tablet) {
        float: none;
      }
    }
    .changed{
      display: block;
    }
  }
}
