$thumbnail-width: 99px;

.attachment {
  position: relative;
  margin: $gutter ($gutter-half*-1);
  padding: $gutter-half 0 0 ($thumbnail-width + $gutter);
  @extend %contain-floats;
  @include right-to-left {
    padding: $gutter-half ($thumbnail-width + $gutter) 0 0;
  }
  
  @include media(tablet){
    margin: $gutter 0;
  }

  
  &.inline {
    background: transparent;
    position: static;
    padding: 0;
    margin: 0;
    &:after {
      display: none;
    }
  }

  .attachment-thumb {
    position: relative;
    float: left;
    margin-top: $gutter-one-sixth;
    margin-left: -($thumbnail-width+$gutter-two-thirds)-$gutter-one-sixth;
    padding-bottom: $gutter-half;
    @include right-to-left {
      float: right;
      margin-left: 0;
      margin-right: ($thumbnail-width*-1 - $gutter-half);
    }

    img {
      display: block;
      width: $thumbnail-width;
      height: 140px;
      background: white;
      outline: $gutter-one-sixth solid transparentize($black, 0.9);
      @include ie-lte(7) {
        border: $gutter-one-sixth solid $grey-3;
      }
      @include box-shadow(0 2px 2px rgba(0,0,0,0.4));
    }
  }
  
  .title a {
    text-decoration: none;
    font-weight: bold;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  
  .attachment-details {
    h1, h2, h3 {
      @include ig-core-27;
      margin: 0;
    }
    
    .extra-description {
      @include ig-core-19;
      margin: 0;
    }
    
    .metadata {
      @include ig-core-14;
      margin: 0;
      .changed,
      .references {
        display: block;
      }
    }
  }
  
  .accessibility-warning {
    h3 {
      @include ig-core-14;
      margin: 0;
      color: $text-colour;
    }
    .toggler {
      color: $link-colour;
      cursor: pointer;
      &:hover,
      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
  }
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}
