.attachment-full-width {
  padding: $gutter-one-third 0 $gutter-half;
  margin: 0;
  clear: both;
  background: $light-warm-grey;
  overflow: hidden;
  .govspeak {
    margin: 0;

    h1 {
      @include core-24;
      padding-left: $gutter-half;
      padding-bottom: $gutter-one-third;
    }

    .attachment {
      padding: 0;
      overflow: visible;

    }
    .attachment-without-thumbnail {
      clear: both;
      padding-top: $gutter-half;

      .attachment .attachment-details .title {
        @include core-16;
      }
      .supporting-documents-title {
        margin-left: 25%;
        @include core-24;
      }
    }
  }
  .summary {
    clear: both;
    margin: $gutter 0;
    p {
      @include core-19;
    }
  }
}
