.attachment-full-width {
  padding: $gutter-half 0;
  margin: 0;
  clear: both;
  background: $light-warm-grey;
  overflow: hidden;
  .govspeak {
    margin: 0;

    .attachment {
      padding: 0;
      overflow: visible;

      .attachment-details {
        padding-right: 50px;
      }

      img {
        margin-left: $gutter-half;
      }

      .download-button {
        top: 6px;
      }
    }
    .attachment-without-thumbnail {
      clear: both;
      padding-top: $gutter-half;

      .supporting-documents-title {
        margin-left: 25%;
        @include core-14;
      }
    }
  }
  .summary {
    clear: both;
    margin: $gutter 0;
    p {
      @include core-19;
    }
  }
}
