.attachment-full-width {
  padding: $gutter-one-third 0 $gutter;
  margin: 0 ($gutter-half*-1);
  clear: both;
  background: $info-background;
  overflow: hidden;
  @include media(tablet){
    margin: 0;
  }
  
  .govspeak {
    margin: 0;

    h1 {
      @include core-24;
      padding-left: $gutter-half;
      padding-bottom: $gutter-one-third;
    }

    .attachment {
      padding: 0;
      overflow: visible;
      clear: both;
    }
    .attachment-without-thumbnail {
      clear: both;
      padding-top: $gutter-half;

      .attachment .attachment-details .title {
        @include core-16;
      }
      .supporting-documents-title {
        // this is really scrappy
        margin: $gutter 0 $gutter-one-third $gutter-half;
        @include core-24;
        @include media(tablet){
          position: relative;
          margin-left: 33.333%;
          left: $gutter-half;
        }
      }
    }
  }
  .summary {
    clear: both;
    margin: $gutter 0;
    p {
      @include core-19;
    }
  }
}
