.available-languages {
  @include media(tablet){
    float: right;
    width: 33.33%;
  }

  ul {
    @extend %contain-floats;
    list-style: none;
    padding: $gutter-half 0 $gutter-one-sixth;
    margin-left: $gutter-half;
    border-bottom: 1px solid $border-colour;

    li {
      float: left;
      display: block;
      border-left: 1px solid $border-colour;
      padding: 0 $gutter-one-third;
      height: 16px;
      margin: 3px 0 2px;

      &.first {
        padding-left: 0;
        border-left: 0;
      }

      a, span {
        display: block;
        margin-top: -1px;
        @include core-16;
      }
    }
  }
}
