.available-languages {
  ul {
    @extend %contain-floats;
    list-style: none;
    padding: $gutter-half 0 $gutter-one-sixth;
    border-bottom: 1px solid $border-colour;

    li {
      float: left;
      display: block;
      border-right: 1px solid $border-colour;
      padding: 0 $gutter-one-third 0 0;
      height: 16px;
      margin: 3px $gutter-one-third 2px 0;
      @include right-to-left {
        float: right;
      }

      &.last {
        border-right: 0;
      }

      a,
      span {
        display: block;
        margin-top: -1px;
        @include core-16;
      }
      @include right-to-left {
        border-left: 1px solid $border-colour;
        border-right: 0;
        margin: 3px 0 2px $gutter-one-third;
        padding: 0 0 0 $gutter-one-third;

        &.last {
          border-left: 0;
        }
      }
    }
  }
}
