.available-languages {
  @include media(tablet){
    float: right;
    width: 33.33%;
    @include right-to-left {
      float: left;
    }
  }

  ul {
    @extend %contain-floats;
    list-style: none;
    padding: $gutter-half 0 $gutter-one-sixth;
    margin-left: $gutter-half;
    border-bottom: 1px solid $border-colour;

    li {
      float: left;
      display: block;
      border-right: 1px solid $border-colour;
      padding: 0 $gutter-one-third 0 0;
      height: 16px;
      margin: 3px $gutter-one-third 2px 0;
      @include right-to-left {
        float: right;
      }

      &.last {
        border-right: 0;
      }

      a, span {
        display: block;
        margin-top: -1px;
        @include core-16;
      }
    }
  }
}
