.consultations-index, .publications-index {

  .block-3, .block-4 {
    float: left;
    display: inline;
    width: 20%;
  }
  .block-4 {
    width: 80%;
  }
   @media (max-width: 768px) {
    .block-3, .block-4 {
      float: none;
      display: block;
      width: auto;
    }
   }
}



.table-sort {
  table {
    width: 100%;
    @include sans-15;
  }

  th, td {
    background-color: $charcoal-grey;
    border-right: 1px solid $white;
    color: $white;
    font-weight: normal;
    padding: $gutter-one-third/2 $gutter-one-third;
    text-align: left;
    vertical-align: top;
  }

  tr:nth-child(even) td  {
    background-color: $light-warm-grey;
  }

  td, th {
    display: table-cell;
  }

  td {
    background-color: $white;
    color: #333;
  }
  tr {
    .title {
      width: 25%;
    }
    .publication-type {
      width: 10%;
    }
    .organisations {
      width: 20%;
    }
    .table-summary {
      width: 20%;
    }
    .date {
      width: 10%;
    }
  }
}
