    
.contextual-info {
  position: relative;
  clear: both;
  padding-bottom: $gutter-two-thirds;
  
  h1 {
    @include core-19;
  }
  nav {
    margin-top: $gutter-one-third*-1;
    @include core-14;
  }
  a {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  p {
    @include core-14;
  }
}
