.contextual-info {
  position: relative;
  clear: both;
  padding-bottom: $gutter-two-thirds;
  @include ig-core-16;

  nav {
    overflow: hidden;

    li {
      list-style-type: disc;
      margin-left: $gutter-half;
      padding-right: $gutter-half;
      padding-top: $gutter-one-sixth;

      @media (min-width: 1px) { // target modern browsers
        list-style-type: none;

        &:before {
          content: "-";
          position: relative;
          float: left;
          width: $gutter-half;
          margin-left: $gutter-half * -1;
        }
      }
    }

    @include media(tablet) {
      overflow: visible;

      li {
        float: none;
        padding-right: 0;
      }
    }
  }

  a {
    vertical-align: top;
  }

  p {
    @include ig-core-16;
  }
}
