.corporate-information {
  h1 {
    @include govuk-font(27);
    margin: $gutter 0 $gutter-half 0;
  }

  .information {
    clear: both;
    padding-top: $gutter-one-third;
    @include govuk-font(14);

    @include media(tablet) {
      max-width: 36em;
    }
  }
}
