.corporate-information {
  h1 {
    @include core-27;
    margin: $gutter 0 $gutter-half 0;
  }

  .information {
    clear: both;
    padding-top: $gutter-one-third;
    @include core-14;

    @include media(tablet) {
      max-width: 36em;
    }
  }
}
