.dash-list {
  margin-bottom: $gutter-two-thirds;

  li {
    list-style-position: inside;
    padding: 0 $gutter-half 0 0;

    @media (min-width: 1px ){ // target modern browsers
      margin-left: $gutter-half;
      list-style: none;
      &:before {
        content: "-";
        position: relative;
        float: left;
        width: $gutter-half;
        margin-left: $gutter-half*-1;
      }
    }

    @include media(desktop) {
      padding-top: $gutter-one-sixth;
    }
  }
}
