.document-list {
  clear: both;

  .govuk-link {
    line-height: 1.16;
  }

  .document-row {
    display: block;
    list-style: none;
    border-bottom: 1px solid $border-colour;
    padding: $gutter-one-sixth 0 $gutter-one-third;

    h2,
    h3,
    .title {
      display: block;
      @include core-19;
      font-weight: bold;
      margin-top: $gutter-one-sixth;
    }

    ul {
      @extend %contain-floats;

      li {
        @include core-14;
        float: left;
        display: block;
        list-style: none;
        padding: 0 $gutter-half 0 0;

        @include right-to-left {
          text-align: right;
          float: right;
          padding: 0 0 0 $gutter;
        }
      }
    }

    p.historic {
      @include core-14;
      padding: 0 0 3px;
      color: $secondary-text-colour;
    }
  }
}
