.document-page-header {
  @extend %contain-floats;
  padding-bottom: ($gutter-two-thirds + $gutter-one-sixth);

  h1 {
    margin-top: ($gutter-two-thirds);
    @include media(tablet){
      margin-bottom: ($gutter + $gutter-one-third);
      width: 75%;
      float: left;
      @include right-to-left {
        float: right;
      }
    }
    
    .label {
      @include core-27;
      display: block;
      color: $grey-1;
      padding-top: 8px;
      padding-bottom: 3px;
    }
    
    .title {
      @include core-36;
      display: block;
      font-weight: bold;
    }

    .inner {
      position: static;

      @include media(desktop){
        display: block;
        padding-right:$gutter-half;

        @include right-to-left {
          padding-right: 0;
          padding-left: $gutter-half;
        }
      }
    }
  }
  .meta {
    display: inline;
    
    dl {
      display: inline;
      @include ig-core-14;

      dt {
        @include bold;
        float: left;
        clear: left;
        width: 40%;
        @include media(tablet) {
          width: auto;
          min-width: ($gutter * 3 - $gutter-one-third);
          padding-right: $gutter-one-third;

          @include right-to-left {
            padding-right: 0;
            padding-left: $gutter-one-third;
          }
        }
        @include right-to-left {
          float: right;
          clear: right;
        }
      }
      dd {
        float: left;
        width: 60%;
        @include right-to-left {
          float: right;
        }
      }
      dt.organisations {
        clear: none;
      }
      dd.organisations {
        width: 100%;
        padding: $gutter-half 0;
        
        @include media(tablet){
          margin-top: $gutter;
          float: right;
          width: 25%;
          padding: 0;
          @include right-to-left {
            float: left;
          }
        }
        
        li {
          margin-left: 0;

          &.hm-government {
            margin-bottom: $gutter-one-sixth;
          }
        }

        .organisations-icon-list {
          padding-bottom: ($gutter*0.25);
          @include media(tablet){
            margin-left: $gutter-half;
          }
        }
      }

      .change-notes-title {
        @include media(desktop){
          clear: left;
          @include right-to-left {
            clear: right;
          }
        }
      }
    }
  }
  .national-statistic {
    display: inline;

    img {
      margin: $gutter-one-third $gutter-half 0;
    }
  }
}
