.document {
  .summary {
    p {
      margin-top: $gutter-one-third*-1;
      margin-bottom: $gutter-half;
      @include core-19;
    }
  }

  section {
    padding-top: $gutter-one-third;
  
    h1 {
      @include core-19;
    }
    
    li {
      @include core-16;
    }
  }
}
