.document-page-header {
  @extend %contain-floats;
  margin-bottom: ($gutter-two-thirds + $gutter-one-sixth);

  .available-languages {
    @include media(tablet){
      width: 25%;
    }
  }
  .meta {
    display: inline;
    
    dl {
      display: inline;
      @include ig-core-14;

      dt {
        @include bold;
        float: left;
        clear: left;
        width: 40%;
        @include media(tablet) {
          width: auto;
          min-width: ($gutter * 4);
          padding-right: $gutter-one-third;

          @include right-to-left {
            padding-right: 0;
            padding-left: $gutter-one-third;
          }
        }
        @include right-to-left {
          float: right;
          clear: right;
        }
      }
      dd {
        float: left;
        width: 60%;
        &.document-worldwide-organisations {
          width: 55%;
        }
        @include right-to-left {
          float: right;
        }
      }

      a[rel="external"] {
        @include external-link-12;
        @include media(tablet) {
          @include external-link-14;
        }
      }

      .change-notes-title {
        @include media(desktop){
          clear: left;
          @include right-to-left {
            clear: right;
          }
        }
      }
    }
  }
  .national-statistic {
    img {
      margin: $gutter-one-third $gutter-half 0;
    }
  }
}
