.document-footer-meta {
  .history,
  .links {
    padding-bottom: $gutter;
    @include media(tablet){
      float: left;
      @include right-to-left {
        float: right;
      }
    }
  }
  .history {
    @include media(tablet){
      width: 33.3%;
    }
  }
  .links {
    @include media(tablet){
      width: 66.6%;
    }
    dl {
      padding-left: $gutter-half;
      @include right-to-left {
        padding-left: 0;
        padding-right: $gutter-half;
      }
    }
  }
  dt {
    @include core-16;
    padding: $gutter-one-sixth 0;
  }
  dd {
    @include bold-24;
    padding-bottom: $gutter-half;
    // organisations are included inside a p which has a default style of 
    // font-weight: normal
    p {
      font-weight: bold;
    }
  }
}
