.documents-grid {
  margin-bottom: $gutter*2;
  .inner-block {
    @extend %contain-floats;
    padding: 0;

    @include media(tablet){
      padding: 0 $gutter-half 0;
    }
  }

  .block-title {
    border-bottom-width: $gutter-one-sixth;
    border-bottom-style: solid;
    @include core-36;
    padding-bottom: 1px;
    margin: 0 $gutter-half $gutter-one-sixth;
  }

  &.grid-size-1 {
    .document-block {
      width: $full-width;

      @include media(tablet){
        h1 {
          width: $one-third;
          float: left;
          margin: $gutter-one-sixth 0 0;
          text-indent: $gutter-half;
        }
        .content {
          width: $two-thirds;
          float: left;
          margin: 0;
          ol, p {
            margin: 0 $gutter-half;
          }
        }
      }
    }
  }

  .document-block {
    margin: $gutter-two-thirds 0 $gutter-one-third;

    &.documents-3,
    &.documents-5 {
      clear: both;
    }

    @include media(desktop){
      width: $half;
      float: left;
      @include right-to-left {
        float: right;
      }
    }

    h1 {
      @include core-24;
      font-weight: bold;
      margin: 0 $gutter-half $gutter-one-sixth;
    }
    .content {
      margin: 0 $gutter-half;
      .document {
        border-bottom: 1px solid $border-colour;
        padding: $gutter-one-third 0;
        list-style: none;

        h2 {
          @include core-16;
        }
        .metadata {
          @include core-14;
          padding-top: $gutter-one-sixth;

          li {
            display: inline;
            padding-right: $gutter-one-third;
          }
        }
      }
      .see-all {
        padding-top: $gutter-one-third;
        @include core-16;
        font-weight: bold;
      }
    }
  }
}
