.document {
  .summary {
    p {
      margin-top: $gutter-one-third * -1;
      margin-bottom: $gutter-half;
      @include ig-core-19;
    }
  }

  section {
    padding-top: $gutter-one-third;

    h1 {
      @include ig-core-19;
    }

    li {
      @include ig-core-16;
    }
  }
}
