.document-page-header {
  @extend %contain-floats;
  padding-bottom: $gutter-half;

  h1 {
    @include core-48;
    margin-top: $gutter-one-third;
    @include media(tablet){
      margin-bottom: ($gutter - $gutter-one-sixth);
      width: 75%;
      float: left;
    }

    .inner {
      @include media(desktop){
        display: block;
        padding-right:$gutter-half;
      }

      .label {
        color: lighten($body-text, 30%);
        display: block;
      }
    }
  }
  .meta {
    display: inline;
    
    dl {
      display: inline;
      @include core-16;

      dt {
        width: 7em;
        float: left;
        clear: left;
      }
      dd {
        float: left;
        width: 60%;
      }
      dt.organisations {
        clear: none;
      }
      dd.organisations {
        width: 100%;
        padding: $gutter-half 0;
        
        @include media(tablet){
          margin-top: $gutter*2.5;
          float: right;
          width: 25%;
          padding: 0;
        }
        
        li {
          float: left;
          margin-right: $gutter-half;
        
          @include media(tablet) {
            float: none;
            margin-right: 0;
          }
        }

        .organisations-icon-list {
          @include media(tablet){
            margin-left: $gutter-half;
          }
        }
      }

      .change-notes-title {
        @include media(desktop){
          clear: left;
        }
      }
    }
  }
  .national-statistic {
    display: inline;

    img {
      margin: $gutter-one-third $gutter-half 0;
    }
  }
}
