.document-list {
  width: 100%;
  clear: both;
  margin-top: $gutter-half;

  .document-row {
    border-bottom: 1px solid $border-colour;
    overflow: hidden;
    position: relative;
    list-style: none;
    @include ie-lte(7) {
      position: static;
    }
  }

  th {
    @include ig-core-19;
    text-align: left;
    float: left;
    display: inline;
    width: 100%;
    margin-top: $gutter-one-sixth;
    @include bold;
    vertical-align: top;

    @include ie(6) {
      width: 85%;
    }
  }

  td {
    @include ig-core-14;
    text-align: left;
    float: left;
    display: inline;
    padding-top: 0;
    padding-right: $gutter;
    margin-bottom: $gutter-one-sixth;
  }
  
  .document-row:first-child {
    th {
      @include ig-core-27;
      @include bold;
    }
  }
  .document-row:nth-child(2) {
    th {
      @include ig-core-24;
      @include bold;
    }
  }


}
