.document-page-header {
  @extend %contain-floats;
  padding-bottom: ($gutter-two-thirds + $gutter-one-sixth);

  h1 {
    @include core-36;
    margin-top: ($gutter-two-thirds);
    @include media(tablet){
      margin-bottom: ($gutter + $gutter-one-third - 3px);
      width: 75%;
      float: left;
    }
    
    .label {
      display: block;
      @include light;
    }
    
    .title {
      display: block;
      @include bold;
    }

    .inner {
      @include media(desktop){
        display: block;
        padding-right:$gutter-half;
      }
    }
  }
  .meta {
    display: inline;
    
    dl {
      display: inline;
      @include core-14;

      dt {
        @include bold;
        float: left;
        clear: left;
        padding-right: $gutter-one-third;
      }
      dd {
        float: left;
        width: 60%;
      }
      dt.organisations {
        clear: none;
      }
      dd.organisations {
        width: 100%;
        padding: $gutter-half 0;
        
        @include media(tablet){
          margin-top: $gutter*2.5;
          float: right;
          width: 25%;
          padding: 0;
        }
        
        li {
          float: left;
          margin-right: $gutter-half;
        
          @include media(tablet) {
            float: none;
            margin-right: 0;
          }
        }

        .organisations-icon-list {
          @include media(tablet){
            margin-left: $gutter-half;
          }
        }
        .show-other-content {
          margin-left: $gutter-two-thirds;
        }
      }

      .change-notes-title {
        @include media(desktop){
          clear: left;
        }
      }
    }
  }
  .national-statistic {
    display: inline;

    img {
      margin: $gutter-one-third $gutter-half 0;
    }
  }
}
