.document-share-links {
  @extend %contain-floats;

  margin-bottom: $gutter;

  @include media(desktop) {
    margin-left: $one-third;
    padding-left: $gutter-half;
  }

  h3 {
    @include core-16;
  }

  .social-media-accounts li {
    clear: none;
    float: left;
    margin-right: $gutter-half;
  }
}
