.featured-links {
  list-style: none;

  @include media(tablet) {
    padding-left: $gutter-two-thirds;
  }

  li {
    @include core-16;
    font-weight: bold;
    padding: 2px 0;
    @include media(tablet) {
      padding-bottom: $gutter-one-sixth;
    }

    a[rel="external"] {
      @include external-link-14-bold-no-hover;
      @include media(tablet) {
        @include external-link-16-bold-no-hover;
      }
    }
  }
}
