.featured-services-and-guidance {
  margin-top: $gutter-half;

  @include media(tablet){
    margin-top: $gutter;
  }

  h2 {
    @include bold-36;
    margin: 0 15px;
  }

  a {
    @include bold-24;
  }
}
