.featured-news {
  article {
    clear: both;

    @include media(tablet) {
      float: left;
      display: inline;
      overflow: hidden;
      width: $one-third;
      clear: none;
      @include right-to-left {
        float: right;
      }
    }

    .content {
      padding: $gutter-half $gutter-half $gutter-one-third;

      .image-holder {
        width: $one-third;
        float: left;
        @include right-to-left {
          float: right;
        }
        @include media(tablet){
          width: $full-width;
          float: none;
        }

        .img {
          display: block;
          padding: $gutter-one-sixth $gutter-half 0 0;
          @include right-to-left {
            padding: $gutter-one-third 0 0 $gutter-half;
          }
          @include media(tablet){
            padding: 0;
          }

          img {
            width: $full-width;
          }
        }
      }
      .text {
        float: left;
        width: $two-thirds;
        @include right-to-left {
          float: right;
        }
        @include media(tablet){
          float: none;
          width: $full-width;
        }

        .meta {
          @include ig-core-14;
          color: $secondary-text-colour;
          padding-bottom: 0;
        }
        h2 {
          @include ig-core-19;
          padding-top: 0;
          a {
            font-weight: bold;
          }
        }
        h3 {
          @include core-19;
          font-weight: bold;
          padding: $gutter-one-sixth 0 $gutter-one-third ;
        }
        .summary {
          @include ig-core-14;
        }
      }
    }
  }
}

