.feed {
  display: inline-block;
  padding: 0 $gutter-one-third 0 $gutter-two-thirds;
  font-weight: bold;
  background: image-url('feed-icon-black.png') 0 40% no-repeat;
}
.govdelivery {
  display: inline-block;
  padding: 0 $gutter-one-third 0 $gutter-two-thirds+$gutter-one-sixth;
  font-weight: bold;
  background: image-url('mail-icon.png') 0 40% no-repeat;
  @include hidpi {
    background-image: image-url('mail-icon-x2.png');
    background-size: $gutter-two-thirds 14px;
  }
}
