
.feeds {
  @include core-14;

  span {
    padding-right: $gutter-one-third;
  }

  .feed {
    padding: 0 $gutter-one-third 0 $gutter-two-thirds;
    font-weight: bold;
    background: image-url('feed-icon-black.png') 0 40% no-repeat;
  }
  .govdelivery {
    padding: 0 $gutter-one-third 0 $gutter-two-thirds+$gutter-one-sixth;
    font-weight: bold;
    background: image-url('mail-icon.png') 0 40% no-repeat;
    @include hidpi {
      background-image: image-url('mail-icon-x2.png');
      background-size: $gutter-two-thirds 14px;
    }
  }

  .feed-panel {
    display: none;
    margin-top: $gutter-half;
    padding: $gutter-one-third $gutter-half;
    background: $panel-colour;

    h3 {
      @include core-14;
      border-bottom: 1px solid $border-colour;
      margin-bottom: $gutter-one-third;
      padding-bottom: $gutter-one-sixth;
    }

    input {
      @include core-14;
      width: $full-width;
      text-indent: $gutter-one-sixth;
      padding: $gutter-one-sixth 0;
      box-sizing: border-box;
    }
  }
}


