.filter-block {
  h2 {
    @include core-16;
    padding-top: $gutter-one-third;
  }

  form {
    padding: 0;

    fieldset {
      position: relative;

      .filter {
        width: 100%;
        margin-top: $gutter-one-third;
        @include media (tablet) {
          margin-top: $gutter-half;
        }
      }
    }
  }

  .sub-filter {
    margin-top: $gutter-half;
  }

  label {
    @include ig-core-14;
    font-weight: bold;

    &.sub-title {
      @include ig-core-19;
    }
  }

  input {
    @include ig-core-14;
    background: $white;
    border: 1px solid $grey-3;
    width: 100%;
    margin: 0;
    @include media (desktop) {
      padding: $gutter-one-sixth 0;
      text-indent: $gutter-one-third;
    }

    border-color: $border-colour;
  }

  select {
    @include ig-core-14;
    background: #fff;
    line-height: 1.3;
    width: 100%;
  }

  .checkbox input {
    width: auto;
  }

  @include media (tablet) {
    .single-row-select {
      border: 1px solid #555;
      padding: $gutter-one-sixth $gutter-one-sixth $gutter-one-sixth $gutter-one-third;
      width: 100%;
      background: #fff;
      background-image: image-url('dropdown-arrow-small.png');
      background-repeat: no-repeat;
      background-position: right center;
      border-color: $border-colour;
      @include box-shadow(1px 1px 1px #fff);
      @include border-radius($gutter-one-sixth);
      @include appearance(none);
    }
  }

  #date-range-filter {
    padding-bottom: $gutter-one-third;

    h3 {
      @include ig-core-14;
      font-weight: bold;
    }
  }

  .checkbox {
    position: relative;
    label {
      @include ig-core-14;
      display: block;
      padding-left: $gutter-two-thirds;
    }
    input {
      position: absolute;
      top: $gutter-one-sixth;
      left: 0;
      @include media (tablet) {
        top: $gutter * 0.25;
      }
    }
  }

  .submit {
    padding: $gutter-two-thirds 0 $gutter-one-third;
    margin: $gutter-one-sixth 0 0;

    @include media (desktop) {
      padding-bottom: 0;
    }
  }

  .button {
    margin-top: $gutter;
    display: block;
    margin: 0 auto;
    color: $white;
    @include button($mellow-red);
    @include ig-core-19;
    padding-bottom: 7px;
  }

  .disabled {
    opacity: 0.3;
    cursor: default;
    @include ie-lte(7){
      color: $secondary-text-colour;
    }
  }
}

.document-filter-page {
  .feeds {
    display: inline;
    .feed,
    .govdelivery {
      display: inline;
    }
  }

  .js-hidden {
    display: none;
  }
}

.filter-results {
  padding-top: $gutter;

  .no-results {
    padding: $gutter 0 $gutter-half;
    border-bottom: 1px solid $border-colour;
    h2 {
      @include core-27;
    }
    h3 {
      @include core-19;
      font-weight: bold;
    }
    p {
      @include core-19;
      margin: $gutter-half 0;
    }
  }
}

.filter-results-summary {
  display: inline;

  h3 {
    display: inline;
    padding-right: $gutter-one-third;
  }

  .count{
    padding-bottom: 0;
  }

  .selections {
    @include core-16;
  }

  .chosen {
    margin-bottom: $gutter-one-third;
    line-height: $gutter;

    strong {
      @include bold;
      background-color: $panel-colour;
      padding: 0 $gutter-one-sixth;
      @include border-radius(3px);

      @include media (tablet) {
        white-space: nowrap;
      }

      a {
        position: relative;
        top: 2px;
        color: $link-colour;
      }
    }
  }
}
