.filter-block {
  background: $light-warm-grey;

  h2 {
    @include core-19;
    padding: $gutter-half;
    padding-bottom: 0;
    @media (min-width: 768px) {
      padding: $gutter-half $gutter-two-thirds 0;
    }
  }

  form {
    padding-left: $gutter-half;
    @media (min-width: 768px) {
      padding-left: $gutter-one-third;
      padding-right: $gutter-one-third;
    }
    fieldset {
      position: relative;

      .filter {
        width: 100%;
        float: left;
        .filter-inner {
          padding: $gutter-half $gutter-half 0 0;
        }
      }
      @media (min-width: 768px) {
        .filter {
          width: 33.33%;
          .filter-inner {
            padding: $gutter-half $gutter-one-third $gutter-two-thirds;
          }
        }
        .filter:nth-child(2) .filter-inner {
          padding-right: 0;
        }
        .filter:nth-child(3) .filter-inner {
          padding-left: 1px;
        }
      }
    }
  }

  label.title {
    @include core-14;
    display: block;
    padding-top: 0;
  }
  input {
    @include core-14;
    background: $white;
    width: 100%;
    margin: 0;
    padding: $gutter-one-third 0;
    text-indent: 4px;
    border: 0;
  }
  select {
    @include core-14;
    background: #fff;
    line-height: 1.3;
  }
  .multi-row-select {
    border: 0;
    padding: $gutter-one-third;
    width: 100%;
    padding-bottom: 0;
    @media (min-width: 768px) {
      height: 243px;
    }
  }
  .checkbox input {
    width: auto;
  }
  .publication-type {
    padding-bottom: $gutter-one-third;
  }
  .date-range {
    padding-top: $gutter-one-third;

    h3 {
      @include core-14;
      display: inline;
      padding-right: $gutter-half;
    }
    label {
      @include core-14;
      padding-right: $gutter-one-third;
    }
    select {
      width: 100%;
    }
  }
  .submit {
    padding: $gutter-two-thirds 0 $gutter-one-third;
    margin: $gutter-one-sixth 0 0;
    @media (min-width: 768px) {
      padding-bottom: 0;
    }
  }
  .button {
    margin-top: $gutter;
    display: block;
    margin: 0 auto;
    color: $white;
    @include button($mellow-red);
    @include core-19;
    padding-bottom: 7px;
    padding-bottom: 0.7rem;
  }

  .disabled {
    opacity: 0.3;
    cursor: default;
    *background: lighten($charcoal-grey, 70%);
  }
}

.filter-results {
  .no-results {
    padding: $gutter $gutter-half;
    h2 {
      @include core-27;
    }
    p {
      @include core-19;
    }
  }
}
