.filter-form-block {
  float: left;
  width: $one-third;

  form {
    padding: 0;

    fieldset {
      position: relative;

      .filter {
        width: $full-width;
        margin-top: $gutter-one-third;
        @include media (tablet) {
          margin-top: $gutter-half;
        }
      }

      .date-range-filter {
        padding-bottom: $gutter-one-third;

        input {
          margin-bottom: $gutter-half;
        }
      }

      label {
        @include ig-core-14;
        font-weight: bold;

        &.sub-title {
          @include ig-core-19;
        }
      }


      input {
        @include ig-core-14;
        background: $white;
        border: 1px solid $grey-3;
        width: $full-width;
        margin: 0;
        @include media (desktop) {
          padding: $gutter-one-sixth 0;
          text-indent: $gutter-one-third;
        }

        border-color: $border-colour;
      }

      select {
        @include ig-core-14;
        background: $white;
        line-height: 1.3;
        width: $full-width;
      }

      .checkbox input {
        width: auto;
      }

      @include media (tablet) {
        .single-row-select {
          border: 1px solid $border-colour;
          padding: $gutter-one-sixth $gutter-two-thirds $gutter-one-sixth $gutter-one-third;
          width: $full-width;
          background: $white;
          background-image: image-url('dropdown-arrow-small.png');
          background-repeat: no-repeat;
          background-position: right center;
          @include box-shadow(1px 1px 1px $white);
          @include border-radius($gutter-one-sixth);
          @include appearance(none);
        }
      }

      .submit {
        padding: $gutter-two-thirds 0 $gutter-one-third;
        margin: $gutter-one-sixth 0 0;

        @include media (desktop) {
          padding-bottom: 0;
        }
      }

      .button {
        margin-top: $gutter;
        display: block;
        margin: 0 auto;
        color: $white;
        @include button($mellow-red);
        @include ig-core-19;
        padding-bottom: 7px;
      }

      .disabled {
        opacity: 0.3;
        cursor: default;
        @include ie-lte(7) {
          color: $secondary-text-colour;
        }
      }
    }
  }
}

.filter-results-block {
  float: left;
  width: $two-thirds;
}
