.progress-bar {
  margin: $gutter-one-third $gutter-half;
  padding: $gutter-one-third $gutter-one-third $gutter-one-sixth;
  background: $panel-colour;

  @include media(tablet){
    margin: $gutter-one-third $gutter;
  }

  .bar {
    height: $gutter-one-third;
    position: relative;
    margin-right: $gutter-two-thirds;
    background: #ccc;

    .joined {
      width: 8%;
      height: 100%;
      border-right: 1px solid #fff;
      background: $inside-gov-secondary;
    }
  }
  
  p {
    @include ig-core-16;
  }

  .close-button {
    float: right;
    line-height: 1;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    padding: $gutter-one-sixth $gutter-one-third;
    margin: -8px -5px 0 0;

    em {
      position: absolute;
      left: -9999em;
    }
  }
}
