
#global-nav {
  margin: 4px $gutter-half 0;
  border-bottom: $gutter-one-third solid $inside-gov-secondary;
  position: relative;
  z-index: 100;

  @include media(tablet){
    margin: $gutter-one-sixth $gutter 0;
  }
  
  @include media(desktop){
    text-align: right;
  }
  
  .inner {
    border-bottom: $gutter-one-sixth solid $inside-gov-nav;
    padding-bottom: 2px;
    @extend %contain-floats;
    @include media(tablet){
      padding-bottom: 0;
    }
  }

  a,
  .toggler {
    @include ig-core-16;
    display: block;
    padding: $gutter-one-third 8px;
    text-decoration: none;
    color: $inside-gov-nav;

    @include media(desktop){
      display: inline-block;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .home a {
    display: block;
    float: left;
    padding-left: 0;
  }
  .jump-link {
    float: right;

    @include media(desktop){
      position: absolute;
      left: -99999em;
    }
  }
  .toggler {
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:after {
      display: inline-block;
      font-size: 8px;
      height: 8px;
      padding-left: 5px;
      vertical-align: middle;
      content: " \25BC";
    }
  }
  &.open {
    .toggler {
      &:after {
        content: " \25B2";
      }
    }
  }
  nav {
    clear: both;
    background: $inside-gov-secondary;
    margin-bottom: 3px;

    @include media(desktop){
      clear: none;
      background: transparent;
      position: static;
      margin-bottom: 0;
    }

    .current {
      color: $white;
      background: $inside-gov-nav;
    }
    a {
      color: $inside-gov-nav;
    }
    li {
      display: block;
      position: relative;

      @include media(desktop){
        display: inline;
      }

      .subtype {
        @include media(desktop){
          width: 14em;
          text-align: left;
          background: $inside-gov-secondary;
          position: absolute;
          right: 0;
          z-index: 1;
          @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
          @include ie(7){
            top: 40px;
          }

          li {
            width: 100%;
            display: block;
            a {
              display: block;
            }
          }
        }
      }
      .toggler {
        position: absolute;
        left: -9999em;
        &:focus {
          text-decoration: none;
        }

        @include media(desktop){
          position: relative;
          left: auto;
          z-index: 10;
        }
      }
    }
  }
  &.open {
    .toggler {
      background: $inside-gov-secondary;
    }
    .toggler.current {
      background: $inside-gov-secondary;
    }
  }
}

.progress-bar {
  margin: $gutter-one-third $gutter-half;
  padding: $gutter-one-third $gutter-one-third $gutter-one-sixth;
  background: lighten($black, 95%);

  @include media(tablet){
    margin: $gutter-one-third $gutter;
  }

  .bar {
    height: $gutter-one-third;
    position: relative;
    margin-right: $gutter-two-thirds;
    background: #ccc;

    .joined {
      width: 8%;
      height: 100%;
      border-right: 1px solid #fff;
      background: $inside-gov-secondary;
    }
  }
  
  p {
    @include ig-core-16;
  }

  .close-button {
    float: right;
    line-height: 1;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    padding: $gutter-one-sixth $gutter-one-third;
    margin: -8px -5px 0 0;

    em {
      position: absolute;
      left: -9999em;
    }
  }

}

