.govspeak {
  h2:first-child,
  h3:first-child,
  h4:first-child,
  p:first-child {
    margin-top: 0;
  }

  h2 {
    @include ig-core-27;
    font-weight: bold;
    margin-top: $gutter-half;
    @include media(desktop) {
      margin-top: $gutter*1.5;
    }
  }
  h3 {
    @include ig-core-19;
    font-weight: bold;
    margin-top: $gutter + $gutter-one-sixth;
  }
  h4 {
    @include ig-core-19;
    font-weight: bold;
    margin-top: $gutter + $gutter-one-sixth;
  }

  p {
    @include ig-core-19;
    margin: $gutter-one-sixth 0;
    @include media(tablet){
      margin: $gutter-one-third 0;
    }
  }

  h4,
  h5,
  h6 {
    @include ig-core-19;
    font-weight: bold;
    &+p {
      margin-top: 0;
    }
  }

  a {
    text-decoration: underline;
  }

  ol {
    list-style: decimal;
    list-style-position: outside;
    @include ig-core-19;
    margin: $gutter-one-sixth 0 $gutter-one-sixth $gutter-two-thirds;
    @include media (tablet) {
      margin: $gutter-one-third 0 $gutter-one-third $gutter-two-thirds;
    }
    ul, ol {
      margin: 0 0 0 $gutter-two-thirds;
      padding: 0;
    }
    @include ie(7) {
      li {
        margin-left: $gutter;
      }
    }
    @include right-to-left {
      margin: $gutter-one-sixth $gutter-two-thirds $gutter-one-sixth 0;
      @include media (tablet) {
        margin: $gutter-one-third $gutter-two-thirds $gutter-one-third 0;
      }
      ul, ol {
        margin: 0 $gutter-two-thirds 0 0;
      }
    }
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    @include ig-core-19;
    margin: $gutter-one-sixth 0 $gutter-one-sixth $gutter-two-thirds;
    @include media (tablet) {
      margin: $gutter-one-third 0 $gutter-one-third $gutter-two-thirds;
    }
    ul, ol {
      margin: 0 0 0 $gutter-two-thirds;
      padding: 0;
    }
    @include ie(7) {
      li {
        margin-left: $gutter;
      }
    }
    @include right-to-left {
      margin: $gutter-one-sixth $gutter-two-thirds $gutter-one-sixth 0;
      @include media (tablet) {
        margin: $gutter-one-third $gutter-two-thirds $gutter-one-third 0;
      }
      ul, ol {
        margin: 0 $gutter-two-thirds 0 0;
      }
    }
  }

  em, i {
    font-style: italic;
  }

  li {
    p {
      margin: 0;
      padding: 0;
    }
    p+p, p+ul, p+ol,
    ul+p, ul+ol,
    ol+p, ol+ul {
      margin-top: $gutter-one-third;
    }
  }

  abbr {
    cursor: help;
  }

  blockquote {
    padding: 0 0 0 $gutter-two-thirds;
    @include right-to-left {
      padding: 0 $gutter-two-thirds 0 0;
    }
    margin: 0;
    border: 0;

    p {
      padding-left: $gutter-half;
      @include right-to-left {
        padding-left: 0;
        padding-right: $gutter-half;
      }

      @include media(tablet) {
        padding-left: $gutter;
        @include right-to-left {
          padding-left: 0;
          padding-right: $gutter;
        }
      }
    }
    & p:before {
      content: "\201C";
      float: left;
      clear: both;
      margin-left: -$gutter-half;
      @include right-to-left {
        content: "\201D";
        float: right;
        margin-left: 0;
        margin-right: (-$gutter-half);
      }
    }
    & p.last-child:after {
      content: "\201D";
      @include right-to-left {
        content: "\201C";
      }
    }

    @include media(desktop) {
      margin: 0 0 0 (-$gutter);
      @include right-to-left {
        margin: 0 (-$gutter) 0 0;
      }
    }
  }

  hr {
    margin-top: $gutter - 1px;
    border-top: 1px solid #ccc;
    margin-bottom: $gutter;
  }

  figure {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: $gutter-one-third 0 0;

    img {
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      max-width: 100%;
    }

    figcaption {
      @include ig-core-14;
    }
  }

  .information-block,
  .call-to-action {
    margin: $gutter 0 $gutter $gutter-half*-1;
    background: $panel-colour none no-repeat 98% $gutter-two-thirds;
    padding: $gutter-one-third ($gutter*2) $gutter-one-third $gutter-half;
    position: relative;
    p {
      margin: 0;
      padding: 0;
    }
    ol {
      @include media(desktop) {
        list-style-position: inside;
      }
    }
  }

  .information-block:after {
    content: "info";
    text-indent: -9999px;
    background-color: $inside-gov-brand;
    background-image: image-url('icon-information-transparent.png');
    background-position: center;
    height: $gutter;
    width: $gutter;
    position: absolute;
    overflow: hidden;
    top: $gutter-two-thirds;
    right: $gutter-two-thirds;
    @include border-radius($gutter);
  }

  @include ie-lte(7) {
    .information-block {
      background-image: image-url('information-icon.png');
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: $gutter -10px $gutter -10px;
    width: 100%;
    @include ig-core-19;

    caption {
      text-align:left;
      font-weight: 300;
      margin-bottom: 0.5em;
      font-size:1.16em;
      padding-left:1em;
    }

    th, td {
      vertical-align: top;
      line-height: 1.3em;
      padding: 0.7em 0.5em 0.7em 1em;
    }

    tr:nth-child(even) td {
      background-color: #fff;
    }

    td {
      background: #fafafa;
      border:dotted 1px #bbb;
    }

    th {
      line-height:1.25em;
      text-align: left;
      color:#000;
      font-weight:normal;
      background-color: #e1e8e8;
      border:solid 1px #bbb;
    }

    td small{
      font-size:1em;
    }
  }

  .address {
    border-left: 1px solid $border-colour;
    padding-left: $gutter-half;
  }
}
