.govspeak {
  //position: relative;
  margin-top: -13px;

  .govspeak {
    margin-top: 0;
  }

  h2 {
    @include core-27;
    color: lighten($body-text, 20%);
    margin-top: $gutter;
    @media (max-width: 640px) {
      margin-top: $gutter-half;
    }
  }
  h3 {
    @include core-24;
    color: lighten($body-text, 20%);
    margin-top: $gutter;
    @media (max-width: 640px) {
      margin-top: $gutter-half;
    }
  }
  h4,
  h5,
  h6 {
    @include core-19;
    color: lighten($body-text, 20%);
    margin-top: $gutter;
    @media (max-width: 640px) {
      margin-top: $gutter-half;
    }
  }
  h5, h6 {
    margin: 0;
  }

  h2:first-child {
    margin-top: 0;
  }

  p {
    @include core-19;
    margin: $gutter-half 0;
    @media (max-width: 640px) {
      margin: $gutter-one-sixth 0;
    }
  }

  ol {
    list-style: decimal;
    list-style-position: outside;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding: 0;
    margin: 0;
  }

  li {
    width: 90%;
    @include core-19;
    margin-left: $gutter*1.2;

    li {
      margin-left: $gutter;
    }

    @media (min-width: 768px) {
      margin-left: 0;

      li {
        margin-left: $gutter*2;
      }
    }
  }

  em, i {
    font-style: italic;
  }

  abbr {
    border-bottom: .1em dotted;
    cursor: help;
  }

  blockquote {
    padding: 0;
    margin: 0;
    border: 0;

    &:before {
      content: "\201C";
      float: left;
      @include core-48;
      padding-top: 0;
    }
    p {
      padding-left: $gutter-half;
      @include media(tablet) {
        padding-left: $gutter;
      }
    }
    & p:after {
      content: "\201D";
    }
  }

  hr {
    margin-top: $gutter - 1px;
    border-top: 1px solid #ccc;
    margin-bottom: $gutter;
  }

  figure {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: $gutter-one-third 0 0;

    img {
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      max-width: 100%;
    }

    figcaption {
      @include core-14;
    }
  }
  // inline attachment pullouts
  .attachment {
    $img-gutter: 99px;

    background: $light-warm-grey;
    position: relative;
    margin: 0;
    padding: $gutter-half;


    .attachment-details {
      margin-left: 25%;
      padding-right: 32px;
    }

    .thumbnail {
      float: left;
      display: block;
      width: 18%;

      img {
        width: 100%;
        max-width: 105px;
        max-height: 140px;
      }
    }

    h3 {
      @include core-19;
      margin-top: 0;
      padding: 0;
    }

    p.extra-description {
      max-width: 35em;
    }

    p {
      @include core-14;
      margin: 0;
    }
    .download-button {
      position: absolute;
      top: $gutter-half;
      right: $gutter-half;
      width: 30px;
      height: 25px;
      display: block;
      text-indent: -9999em;
      background: transparent url(/government/assets/download-icon.png) no-repeat 0 0;
    }
    .accessibility-warning {
      @include core-14;

      h3 {
        @include core-14;
        margin: 0;
        color: $body-text;
        .toggler {
          color: $link-text;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    overflow: hidden;
  }

  .information-block,
  .call-to-action {
    margin: $gutter 0 $gutter $gutter-half*-1;
    background: $light-warm-grey none no-repeat 98% $gutter-two-thirds;
    padding: $gutter-one-third 55px $gutter-one-third $gutter-half;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .information-block {
    background-image: url(/government/assets/information-icon.png);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: $gutter -1em $gutter -1em;
    width: 100%;
    @include core-19;

    caption {
      text-align:left;
      font-weight: 300;
      margin-bottom: 0.5em;
      font-size:1.16em;
      padding-left:1em;
    }

    th, td {
      vertical-align: top;
      line-height: 1.3em;
      padding: 0.7em 0.5em 0.7em 1em;
    }

    tr:nth-child(even) td {
      background-color: #fff;
    }

    td {
      background: #fafafa;
      border:dotted 1px #bbb;
    }

    th {
      line-height:1.25em;
      text-align: left;
      color:#000;
      font-weight:normal;
      background-color: #e1e8e8;
      border:solid 1px #bbb;
    }

    td small{
      font-size:1em;
    }
  }

  @include print {
    table {
      border-collapse: collapse;
      width: 100%;
      margin: $gutter 0;

      thead {
        display: table-header-group;
      }

      tr {
        th, td {
          background-color: white;
          border: 1pt solid rgb(125,125,125);
          padding: 0.25em 0.5em;
          text-align: left;
        }

        th {
          font-weight: bold;
        }
      }
    }
  }
}
