.govspeak {
  h2:first-child,
  h3:first-child,
  h4:first-child,
  p:first-child {
    margin-top: 0;
  }

  h2 {
    @include ig-core-27;
    color: lighten($text-colour, 20%);
    margin-top: $gutter;
    @media (max-width: 640px) {
      margin-top: $gutter-half;
    }
  }
  h3 {
    @include ig-core-24;
    color: lighten($text-colour, 20%);
    margin-top: $gutter;
    @media (max-width: 640px) {
      margin-top: $gutter-half;
    }
  }
  h4,
  h5,
  h6 {
    @include ig-core-19;
    color: lighten($text-colour, 20%);
    margin-top: $gutter;
    @media (max-width: 640px) {
      margin-top: $gutter-half;
    }
  }
  h5, h6 {
    margin: 0;
  }

  p {
    @include ig-core-19;
    margin: $gutter-half 0;
    @media (max-width: 640px) {
      margin: $gutter-one-sixth 0;
    }
  }

  a {
    text-decoration: underline;
  }

  ol {
    list-style: decimal;
    list-style-position: outside;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    padding: 0;
    margin: 0 0 $gutter-half 1.25em;
  }

  li {
    @include ig-core-19;
    margin-left: $gutter*1.2;

    li {
      margin-left: $gutter;
    }

    @media (min-width: 768px) {
      margin-left: 0;
      width: 90%;

      li {
        margin-left: $gutter*2;
      }
    }
  }


  em, i {
    font-style: italic;
  }

  abbr {
    cursor: help;
  }

  blockquote {
    padding: 0;
    margin: 0;
    border: 0;
    color: lighten($text-colour, 33.333%);

    &:before {
      content: "\201C";
      float: left;
      clear: both;
      @include ig-core-48;
      padding-top: 0;
    }
    p {
      padding-left: $gutter-half;
      @include media(tablet) {
        padding-left: $gutter;
      }
    }
    & p:after {
      content: "\201D";
    }

    @include media(desktop) {
      margin: 0 0 0 (-$gutter);
    }
  }

  hr {
    margin-top: $gutter - 1px;
    border-top: 1px solid #ccc;
    margin-bottom: $gutter;
  }

  figure {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: $gutter-one-third 0 0;

    img {
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      max-width: 100%;
    }

    figcaption {
      @include ig-core-14;
    }
  }

  .information-block,
  .call-to-action {
    margin: $gutter 0 $gutter $gutter-half*-1;
    background: $panel-colour none no-repeat 98% $gutter-two-thirds;
    padding: $gutter-one-third ($gutter*2) $gutter-one-third $gutter-half;
    position: relative;
    p {
      margin: 0;
      padding: 0;
    }
  }

  .information-block:after {
    content: "info";
    text-indent: -9999px;
    background-color: $inside-gov-brand;
    background-image: image-url('icon-information-transparent.png');
    background-position: center;
    height: $gutter;
    width: $gutter;
    position: absolute;
    overflow: hidden;
    top: $gutter-two-thirds;
    right: $gutter-two-thirds;
    @include border-radius($gutter);
  }

  @include ie-lte(7) {
    .information-block {
      background-image: image-url('information-icon.png');
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: $gutter -1em $gutter -1em;
    width: 100%;
    @include ig-core-19;

    caption {
      text-align:left;
      font-weight: 300;
      margin-bottom: 0.5em;
      font-size:1.16em;
      padding-left:1em;
    }

    th, td {
      vertical-align: top;
      line-height: 1.3em;
      padding: 0.7em 0.5em 0.7em 1em;
    }

    tr:nth-child(even) td {
      background-color: #fff;
    }

    td {
      background: #fafafa;
      border:dotted 1px #bbb;
    }

    th {
      line-height:1.25em;
      text-align: left;
      color:#000;
      font-weight:normal;
      background-color: #e1e8e8;
      border:solid 1px #bbb;
    }

    td small{
      font-size:1em;
    }
  }

  @include print {
    table {
      border-collapse: collapse;
      width: 100%;
      margin: $gutter 0;

      thead {
        display: table-header-group;
      }

      tr {
        th, td {
          background-color: white;
          border: 1pt solid rgb(125,125,125);
          padding: 0.25em 0.5em;
          text-align: left;
        }

        th {
          font-weight: bold;
        }
      }
    }
  }

  .address {
    border-left: 1px solid $border-colour;
    padding-left: $gutter-half;
  }
}
