.headings-block {
  @extend %contain-floats;
  margin-top: 0;

  .inner-heading {
    padding: 0 $gutter-half;
  }

  .heading {
    padding: $gutter-half 0;

    @include media(tablet){
      padding: $gutter*1.5 0;
    }

    h1 {
      @include core-36;
      font-weight: bold;
    }
    .type,
    .type a {
      @include core-27;
      color: $secondary-text-colour;
      margin-bottom: $gutter-one-sixth;
    }
  }
  .heading-with-extra {
    @extend .heading;

    @include media(tablet){
      float: left;
      width: $two-thirds;
      @include right-to-left {
        float: right;
      }
    }
  }
  .heading-big {
    @extend .heading;

    h1 {
      @include core-48;
      font-weight: bold;
    }
  }
  .heading-big-with-extra {
    @extend .heading-with-extra;
    @extend .heading-big;
  }

  .heading-extra {
    margin: $gutter 0;
    @include media(tablet) {
      float: right;
      width: $one-third;
      margin-top: 0;
      @include right-to-left {
        float: left;
      }
    }

    h4 {
      @include ig-core-19;

      @include media(tablet) {
        position: absolute;
        left: -9999em;
      }
    }

    .all-services {
      @include media(tablet) {
        padding: 0 $gutter-two-thirds;
      }
    }

    .available-languages {
      margin: 0 0 $gutter-half 0;
      ul {
        padding: 0 0 $gutter-one-sixth 0;
        li {
          padding-right: $gutter-one-third;
        }
      }
      @include media(tablet) {
        margin: 0 0 $gutter-half $gutter-two-thirds;
      }
    }
  }

  .available-languages {
    ul {
      @extend %contain-floats;
      list-style: none;
      padding: $gutter-half 0 $gutter-one-sixth;
      border-bottom: 1px solid $border-colour;

      li {
        float: left;
        display: block;
        border-right: 1px solid $border-colour;
        padding: 0 $gutter-one-third 0 0;
        height: 16px;
        margin: 3px $gutter-one-third 2px 0;
        @include right-to-left {
          float: right;
        }

        &.last {
          border-right: 0;
        }

        a, span {
          display: block;
          margin-top: -1px;
          @include core-16;
        }
        @include right-to-left{
          border-left: 1px solid $border-colour;
          border-right: 0;
          margin: 3px 0 2px $gutter-one-third;
          padding: 0 0 0 $gutter-one-third;
          &.last {
            border-left: 0;
          }
        }
      }
    }
  }
  .organisations-icon-list {
    margin-top: $gutter*2;
  }
  .intro-paragraph {
    padding: 0 $gutter-half;
    margin-bottom: $gutter;
    @include core-27;
    max-width: 27em;

    a {
      text-decoration: underline;
    }
  }

  .prominent-top-tasks {
    @extend %contain-floats;
    clear: both;
    article {
      @include media(tablet) {
        float: left;
        padding: $gutter 0;
        width: $one-third;
      }
      .content {
        padding: 0 0 $gutter-two-thirds 0;

        h2 {
          @include core-19;
          font-weight: bold;
        }
        ul li {
          font-weight: bold;
          line-height: 1.25;
          list-style: none;
          padding: 0 0 $gutter-one-sixth 0;
        }
        @include media(tablet) {
          padding: $gutter-half;
        }
      }
    }
    @include media(tablet) {
      margin: 0 -$gutter-half;
    }
  }

}
