.headings-block {
  @extend %contain-floats;
  margin-top: 0;

  .inner-heading {
    padding: 0 $gutter-half;
  }

  .heading {
    padding: $gutter-half 0;

    @include media(tablet) {
      padding: $gutter*1.5 0;
    }

    h1 {
      @include core-36;
      font-weight: bold;
    }

    .type,
    .type a {
      @include core-27;
      color: $secondary-text-colour;
      margin-bottom: $gutter-one-sixth;
      text-decoration: none;
    }
  }

  .heading-with-extra {
    @extend .heading;

    @include media(tablet) {
      float: left;
      width: $two-thirds;
      @include right-to-left {
        float: right;
      }
    }
  }

  .heading-big {
    @extend .heading;

    h1 {
      @include core-48;
      font-weight: bold;
    }
  }

  .heading-big-with-extra {
    @extend .heading-with-extra;
    @extend .heading-big;
  }

  .heading-extra {
    margin: $gutter 0;
    @include media(tablet) {
      float: right;
      width: $one-third;
      margin-top: 0;
      @include right-to-left {
        float: left;
      }
    }

    h4 {
      @include ig-core-19;

      @include media(tablet) {
        position: absolute;
        left: -9999em;
      }
    }

    .all-services {
      @include media(tablet) {
        padding: 0 $gutter-two-thirds;
      }
    }

    .available-languages {
      margin: 0 0 $gutter-half 0;

      ul {
        padding: 0 0 $gutter-one-sixth 0;

        li {
          padding-right: $gutter-one-third;
        }
      }
      @include media(tablet) {
        margin: 0 0 $gutter-half $gutter-two-thirds;
      }
    }
  }

  .organisations-icon-list {
    margin-top: $gutter*2;
  }

  .intro-paragraph {
    padding: 0 $gutter-half;
    margin-bottom: $gutter;
    @include core-27;
    max-width: 27em;

    a {
      text-decoration: underline;
    }
  }
}
