
.heading-block {
  margin-bottom: $gutter;
  @extend %contain-floats;

  h1 {
    @include ig-core-27;

    @include media(tablet){
      float: left;
      clear: both;
      width: 33.3%;
    }
  }
  .content {
    @include media(tablet){
      float: right;
      width: 66.6%;
    }

    article {
      @include media(tablet){
        padding-left: $gutter-half;
      }
    }

    .documents-list {
      @include media(tablet){
        padding-left: $gutter-half;
      }

      .document {
        list-style: none;
        padding: 0 0 $gutter-one-sixth;
        border-bottom: 1px solid $border-colour;

        h2 a {
          display: block;
          @include ig-core-19;
          @include bold;
        }

        p, .metadata {
          @include ig-core-14;
          padding-top: 1px;
        }

        .metadata li {
          display: inline;
          padding-right: $gutter;
        }
      }
    }
    .see-all {
      @include ig-core-19;

      @include media(desktop) {
        padding-left: $gutter-half;
      }
    }
  }
}
