
.heading-block {
  @extend %contain-floats;
  clear: both;
  margin-bottom: $gutter;

  h1 {
    @include ig-core-27;
    font-weight: bold;
  }

  .inner-block {
    padding: 0 $gutter-half;
  }

  section {
    @extend %contain-floats;
    margin-bottom: $gutter;
  }

  .head-section { 
    @include media(tablet){
      h1 {
        padding: 0 $gutter-half;        
      }
      float: left;
      clear: both;
      width: 33.3%;
      @include right-to-left {
        float: right;
      }
    }     
  }

  .content {
    @include media(tablet){
      float: right;
      width: 66.6%;
      @include right-to-left {
        float: left;
      }
    }

    article {
      @include media(tablet){
        padding-left: $gutter-half;

        @include right-to-left {
          padding-left: 0;
          padding-right: $gutter-half;
        }
      }
    }

    .document-list {
      @include media(tablet){
        padding: 0 $gutter-half;
        margin-top: -$gutter-one-third;
      }
    }

    .see-all {
      @include core-19;
      font-weight: bold;
      padding-top: $gutter-one-third;

      @include media(desktop) {
        padding-left: $gutter-half;

        @include right-to-left {
          padding-left: $gutter-half;
          padding-right: $gutter-half;
        }
      }
      
      a {
        text-decoration: underline;
      }
    }
  }
}
