.header-title-with-paragraph {
  margin: $gutter*1.5 0;
  @include media(tablet) {
    margin: $gutter*1.5 0 $gutter*2;
  }

  h1, p {
    @include media(tablet){
      max-width: 27em;
    }
  }

  h1 {
    @include heading-48;
    font-weight: bold;
    margin-bottom: $gutter;
  }

  .intro {
    @include core-27;
    margin: $gutter-half 0;

    a {
      white-space: nowrap;
      text-decoration: underline;
    }
  }
}
