.historic-people-list {
  margin-bottom: $gutter;
  .inner-block {
    p {
      margin: $gutter 0;
    }
    ol {
      li {
        @include core-16;
        border-bottom: 1px solid $grey-2;
        list-style: none;
        padding: $gutter-one-third 0;
      }
    }
    @include media(tablet) {
      padding: 0 $gutter-half 0 $gutter;
    }
  }

  .contents-toggle {
    display: block;
    text-decoration: none;
    zoom: 1;

    background: transparent image-url("accordian-arrow.png") 100% -40px no-repeat;

    margin-left: 0;
    padding: 0.5em 2em 0.5em 0;

    float: none;
    clear: both;

    border: solid 1px $border-colour;
    border-width: 1px 0;

    line-height: (45/16);

    @include media(tablet) {
      line-height: (45/19);
    }

    @include media(tablet) {
      display: none;
    }

    &.closed {
      background-position: 100% 6px;
    }
  }

}
