.holding-block {
  @include media(desktop) {
    width: $two-thirds;
    margin: $gutter 0;
  }

  h1 {
    @include ig-core-48;
  }
  p {
    @include ig-core-24;
    margin-bottom: $gutter-half;
  }
}
