.horizontal-percent-bar {
  height: 50px;
  background-color: $grey-3;
  position: relative;
  margin-bottom: 25px;

  .bar-inner {
    height: 100%;
    background-color: $inside-gov-secondary;
    border-right: solid 2px white;
  }
}
