.index-list-page {

  .page-header {
    @include ig-core-48;
    padding: $gutter-half 0;

    .title {
      display: block;
      @include light;
      padding-bottom: 0;
    }

    .label {
      display: block;
      @include bold;
    }

    @include media(tablet){
      padding: $gutter*1.5 0 ($gutter + $gutter-one-third);
      width: 80%;
    }

  }
}

.index-list-container {
  margin-left: 33.333%;
  
  h3 {
    @include ig-core-19;
  }
}

.index-list {
  li {
    list-style: none;
    border-bottom: 1px solid $border-colour;
    @include ig-core-19;
  }
}
