.metadata-list {
  @extend %contain-floats;
  display: block;
  margin-bottom: $gutter;

  @include media(tablet){
    float: left;
    width: $two-thirds;
    @include right-to-left {
      float: right;
    }
  }

  dl {
    display: inline;
    @include ig-core-14;

    dt {
      @include bold;
      float: left;
      clear: left;
      width: 8em;
      @include media(tablet) {
        width: auto;
        min-width: ($gutter * 4);
        padding-right: $gutter-one-third;

        @include right-to-left {
          padding-right: 0;
          padding-left: $gutter-one-third;
        }
      }
      @include right-to-left {
        float: right;
        clear: right;
      }
    }
    dd {
      float: left;
      width: 60%;
      @include media(desktop){
        width: 70%;
      }
      &.document-worldwide-organisations {
        width: 55%;
      }
      @include right-to-left {
        float: right;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }

    a[rel="external"] {
      @include external-link-12;
      @include media(tablet) {
        @include external-link-14;
      }
    }

    .change-notes-title {
      @include media(desktop){
        clear: left;
        @include right-to-left {
          clear: right;
        }
      }
    }
  }
}
