.metadata-list {
  @extend %contain-floats;
  display: block;
  margin-bottom: $gutter;

  @include media(tablet) {
    float: left;
    width: $two-thirds;
    @include right-to-left {
      float: right;
    }
  }

  dl {
    .govuk-body-s {
      margin-bottom: 0;
    }

    display: inline;
    @include ig-core-14;

    dt {
      float: left;
      clear: left;
      width: 8em;
      @include media(tablet) {
        width: auto;
        min-width: ($gutter * 5);
        padding-right: $gutter-one-third;

        @include right-to-left {
          padding-right: 0;
          padding-left: $gutter-one-third;
        }
      }
      @include right-to-left {
        float: right;
        clear: right;
      }
    }

    dd {
      float: left;
      width: 60%;
      @include media(desktop) {
        width: 70%;
      }

      &.document-worldwide-organisations {
        width: 55%;
      }
      @include right-to-left {
        float: right;
      }

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .change-notes-title {
      @include media(desktop) {
        clear: left;
        @include right-to-left {
          clear: right;
        }
      }
    }
  }
}
