.organisation-news {
  article {
    &.first {
      width: $full-width;
      .content {
        padding: $gutter-half 0 $gutter-one-third 0;
        @extend %contain-floats;
        .image-holder {
          width: $full-width;
          @include media(tablet){
            width: $two-thirds;
            float: left;
          }
          .img {
            padding: 0 $gutter-half;
          }
        }
        .text {
          width: $full-width;
          .meta, h2, .summary {
            padding: 0 $gutter-half;
          }
          @include media(tablet){
            width: $one-third;
            float: left;

            .meta, h2, .summary {
              padding-left: $gutter-half;
            }
            .meta {
              padding-top: 0;
            }
          }
          h2 {
            @include ig-core-24;
          }
          .summary {
            @include ig-core-19;
          }
        }
      }
    }
    &.item-3 {
      clear: both;
    }
  }
  &.items-1,
  &.items-4 {
    .recently-updated {
      @include media(tablet){
        clear: both;
        width: $two-thirds;
      }
    }
  }
  &.items-2 {
    @extend %contain-floats;
  }
  @include media(tablet){
    &.with-featured-services-and-guidance {
      &.items-1,
      &.items-4 {
        .recently-updated {
          clear: none;
          width: $one-third;
        }
      }
      &.items-1,
      &.items-6 {
        .recently-updated {
          clear: both;
          width: $two-thirds;
        }
      }
    }
  }
}
