.page-header {
  clear: both;
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 0 8px;

  h1 {
    @include core-48;
    .label {
      color: lighten($body-text, 30%);
    }
  }

  h2 {
    position: relative;
    @include core-14;
    margin-bottom: $gutter-two-thirds*-1;
    @media (max-width: 640px) {
      top: $gutter-one-third;
      margin-bottom: 0;
    }
  }

  .explanation {
    margin-top: $gutter-two-thirds*-1;
    @include core-19;
  }

  .extra-icons {
    width: 100%;
    overflow: hidden;
    .organisation {
      float: left;
    }
    .show-other-content {
      float: left;
      padding-left: $gutter-one-third;
      padding-right: $gutter-one-third;
      margin-left: $gutter-half;
      @include core-14;
    }
  }
  .organisations-icon-list .organisation {
    margin-bottom: $gutter-one-third;
  }
}


.beta_disclaimer {
  color: #000;
  background-color: #F17921;
  padding: $gutter-one-third;
  overflow: hidden;
  h1 { font-weight: bold;}
  h1, p {
    float: left;
    display: inline;
    margin-right: $gutter-half;
  }
}
.show-other-content {
  background: $light-warm-grey;
  text-decoration: none;
  display: inline-block;
  padding: 0 4px;
  margin-left: 0.3em;
  @include border-radius(0.250em);

  .plus {
    display: inline-block;
    line-height: 0.5;
  }
}
