.page-header {
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 0 8px;

  h1 {
    .label {
      display: block;
    }
  }

  .explanation {
    margin-top: $gutter-two-thirds * -1;
    @include ig-core-19;
  }

  .ministers .minister {
    list-style: none;
  }

  .extra-icons {
    width: $full-width;
    overflow: hidden;

    .organisation {
      float: left;
    }

    .show-other-content {
      float: left;
      margin-left: $gutter-half;
      @include ig-core-14;
      padding: 3px 6px 0 4px;
    }
  }
}

.show-other-content {
  @include ig-core-14;
  margin-left: .3em;
  white-space: nowrap;
}
