.person-excerpt {
  list-style: none;
  clear: left;
  @include media(tablet){
    clear: none;
  }

  @include media(tablet) {
    float: left;
    width: 25%;

    &.clear-person {
      clear: both;
    }
  }

  .inner {
    padding: $gutter-half;
    @extend %contain-floats;
  }

  .image-holder {
    width: 33.33%;
    float: left;
    @include right-to-left {
      float: right;
    }
    @include media(tablet){
      width: 100%;
      float: none;
    }

    .img {
      display: block;
      padding: 0 $gutter-half 0 0;
      @include right-to-left {
        padding: $gutter-one-third 0 0 $gutter-half;
      }
      @include media(tablet){
        padding: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  .text {
    float: left;
    width: 66.66%;
    @include media(tablet){
      float: none;
      width: 100%;
    }
    .current-appointee {
      padding-top: 0;
      a {
        text-decoration: none;
        strong {
          text-decoration: underline;
        }
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;

          strong {
            text-decoration: underline;
          }
        }
      }
    }

    .role {
      @include core-14;
      padding-top: $gutter-one-sixth;

      a {
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }

  span {
    display: block;
    @include core-14;
    color: $secondary-text-colour;
  }
  strong {
    display: block;
    @include core-19;
    font-weight: bold;
  }
  &.privy_counsellor strong {
    padding-top: 0;
  }


}
