.simple-alphabetical-list {
  padding-top: $gutter;

  .alphabetical-row {
    list-style: none;
    display: block;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-left: 25%;

    @include media(tablet) {
      width: 75%;
    }

    .image_holder {
      display: none;
    }

    h2 {
      position: relative;
      float: left;
      display: inline;
      width: 50px;
      margin-left: -50px;
      text-align: center;
      @include ig-core-48;
      color: $secondary-text-colour;
      top: -3px;

      @include media(tablet) {
        float: right;
        width: 1em;
        margin-right: -100%;
        right: 200%;
        padding: 0 $gutter-half;
        padding-top: 4px;
        padding-top: 0.4rem;
        top: 7px;
      }
    }

    ul {
      @include media(tablet) {
        padding: 0 $gutter-half;
      }

      li {
        @include ig-core-19;
        padding-bottom: $gutter-one-third;
        
        .role {
          @include ig-core-14;
        }
      }
    }
  }
}
