.simple-alphabetical-list {
  padding-top: $gutter;

  .alphabetical-row {
    list-style: none;
    display: block;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-left: 33.333%;

    @include media(tablet) {
      width: 66%;
    }

    .image_holder {
      display: none;
    }

    h2 {
      @include core-80;
      font-weight: bold;
      @include media(tablet) {
        text-indent: -4px;
      }
    }
    
    ul {
      @include media(tablet) {
        padding: 0 0 $gutter;
      }

      li {
        @include core-19;
        padding: 5px 0;
        border-bottom: 1px solid $border-colour;
      }
    }
  }
}
