.simple-alphabetical-list {
  padding-top: $gutter;

  .alphabetical-row {
    list-style: none;
    display: block;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-left: 50px;

    @include media(tablet) {
      width: 75%;
      padding-left: 25%;
    }

    .image_holder {
      display: none;
    }

    h2 {
      position: relative;
      float: left;
      display: inline;
      width: 50px;
      margin-left: -50px;
      text-align: center;
      @include core-48;
      color: $low-contrast;

      @include media(tablet) {
        float: right;
        width: 1em;
        margin-right: -100%;
        right: 200%;
        padding: 0 $gutter-half;
        padding-top: 4px;
        padding-top: 0.4rem;
      }
    }

    ul {
      padding: 0 $gutter-half;

      li {
        @include core-19;
      }
    }
  }
}
