.social-media-accounts {
  li {
    list-style: none;
    clear: both;
    margin: $gutter-one-third 0;
    @include core-16;
    padding: 0;
    line-height: 5 * $gutter-one-sixth;
  }

  .connect {
    float: left;
    display: inline;
    width: 5 * $gutter-one-sixth;
    height: 5 * $gutter-one-sixth;
    text-indent: -999em;
    overflow: hidden;
    margin-right: $gutter-one-third;
    background-color: $inside-gov-brand;
    background-image: image-url("social-icons-white.png");
    background-repeat: no-repeat;

    @include right-to-left {
      float: right;
      margin-right: 0;
      margin-left: $gutter-one-third;
    }
  }

  .facebook .connect {
    background-position: -2px -2px;
  }

  .twitter .connect {
    background-position: -2px -32px;
  }

  .youtube .connect {
    background-position: -2px -62px;
  }

  .flickr .connect {
    background-position: -2px -92px;
  }

  .blog .connect {
    background-position: -3px -119px;
  }

  .pinterest .connect {
    background-position: -2px -153px;
  }

  .linkedin .connect {
    background-position: -2px -182px;
  }

  .google-plus .connect {
    background-position: -3px -213px;
  }

  .foursquare .connect {
    background-position: -3px -242px;
  }

  .email .connect {
    background-position: -2px -273px;
  }

  .instagram .connect {
    background-position: -2px -301px;
  }

  // use the same icon as .blog
  .other .connect {
    background-position: -3px -119px;
  }
}
