.status-block {
  clear: both;
  margin: $gutter-half 0;
  min-height: $gutter;
  background-color: transparent;
  border: $gutter-one-sixth solid $govuk-blue;
  padding: $gutter-half;
  position: relative;

  h2 {
    @include core-36;
    font-weight: bold;
  }

  p {
    @include core-19;
    font-weight: bold;
    margin-top: $gutter-half;
  }

  @include media(desktop) {
    margin: 0 $gutter-half ($gutter * 2) $gutter-half;
    padding: $gutter-two-thirds;
  }
}

.history-status-block {
  clear: both;
  margin: $gutter-half 0;
  padding: $gutter-half;

  color: $white;
  background: $govuk-blue;

  @include media(desktop) {
    margin: $gutter $gutter-half;
    padding: $gutter-two-thirds $gutter;
  }

  h2 {
    @include heading-36;
    font-weight: bold;

    @include media(desktop) {
      .government {
        display: block;
      }
    }
  }
}
