.status-block {
  clear: both;
  margin: $gutter-half 0;
  min-height: $gutter;
  background-color: transparent;
  border: $gutter-one-sixth solid $inside-gov-secondary;
  padding: $gutter-half;
  position: relative;
  h2 {
    @include core-36;
    font-weight: bold;
  }

  p {
    @include core-19;
    font-weight: bold;
    margin-top: $gutter-half;
  }

  @include media(desktop) {
    margin: 0 $gutter-half $gutter*2 $gutter-half;
    padding: $gutter-two-thirds;
  }
}
