.sub_navigation {
  li {
    @include ig-core-19;
    @media (min-width: 1px) { // target modern browsers
      list-style: none;
      padding-left: $gutter-half;

      &:before {
        content: "-";
        position: relative;
        float: left;
        width: $gutter-half;
        margin-left: $gutter-half*-1;
      }
    }
  }
}
