.worldwide-organisation-header {
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  @include govuk-media-query($from: tablet) {
    padding-bottom: $gutter;
  }

  .logo {
    @include govuk-media-query($from: tablet) {
      margin-top: $gutter-half;
    }
  }

  .headings-block {
    float: left;
    width: $one-third;
  }

  .available-languages {
    ul {
      margin: 0 $gutter-half;
    }
  }

  .metadata {
    margin-top: $gutter-one-third;

    dl {
      @extend %govuk-body-s;
      margin: 0;

      @supports (display: grid) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: govuk-spacing(2);
      }

      dt,
      dd {
        display: block;
      }
    }
  }
}
