.worldwide-organisation-header {
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  .logo {
    @include govuk-media-query($from: tablet) {
      margin-top: $gutter-half;
    }
  }

  .headings-block {
    float: left;
    width: $one-third;
  }

  .metadata {
    margin-top: $gutter-one-third;

    dl {
      @include govuk-text-colour;
      @include govuk-font($size: 16);
      @include govuk-responsive-margin(4, "bottom");

      @supports (display: grid) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: govuk-spacing(2);
      }

      margin: 0;

      dt,
      dd {
        display: block;
        line-height: 1.5em;
      }
    }
  }
}
