<% page_title "Licences Index" %>

<h1>Licences</h1>

<table class="roles table table-striped table-bordered add-top-margin">
  <thead>
    <tr class="table-header">
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @licences.each do |licence| %>
      <td><%= link_to licence.title, admin_licence_path(licence.id), title: "View licence #{licence.title}" %></td>
      <td><%= link_to("Edit", edit_admin_licence_path(licence.id)) %></td>
    <% end %>
  </tbody>
</table>
