<% content_for :context, "#{@topical_event.name}" %>
<% content_for :page_title, "Edit about page" %>
<% content_for :title, "Edit about page" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @topical_event_about_page)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Changes to topical events appear instantly on the live site."
    } %>
    <%= render "form", topical_event_about_page: @topical_event_about_page %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/tabs", {
      tabs: [
        {
          id: "govspeak_tab",
          label: "Help",
          content: simple_formatting_sidebar
        },
      ]
    } %>
  </div>
</div>
