img {
  float: left;
  width: 25%;
  clear: both;
  margin: 0 $gutter $gutter 0;
}

.document-footer-meta {
  display: none;
}

.contextual-info {
  display: none;
}

.govspeak {
  h2,
  h3 {
    padding-bottom: 0;
  }

  p {
    margin-top: 0;
    padding-top: 0;
  }
}

.document-page {
  .block-3 {
    float: left;
    padding: 0;
    margin: 0 $gutter*2 $gutter 0;
    width: 25%;

    figure {
      display: inline;
      margin: 0;
    }
  }
}

.meta {
  padding: 0;
  margin: 0;
}

.date:after {
  content: "";
}

article {
  width: 100%;
}

.govspeak {
  h2 {
    clear: both;
  }

  figure {
    margin: 0;
  }

  .attachment {
    clear: both;

    .attachment-thumb {
      display: none;
    }

    .attachment-details {
      h3 {
        margin-top: 0;
      }

      .accessibility-warning {
        h2 {
          @include core-14;
          padding: 0;
          margin: 0;
        }

        .toggler {
          display: none;
        }
      }
    }
  }

  table {
    border: 1pt solid $border-colour;
    border-collapse: collapse;
    width: 100%;
    margin: $gutter-half 0;

    th,
    td {
      border: 1pt solid $border-colour;
      padding: $gutter-one-third;
      text-align: left;
    }

    caption {
      @include core-19;
      margin: $gutter-half 0;
    }
  }
}

.call-to-action,
.information-block {
  border: 1pt solid $border-colour;
  padding: $gutter-half;
  margin: $gutter-half 0;

  h4 {
    @include core-14;
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}
