.html-publications-show {

  .publication-header {
    .headings {
      p {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      h1 {
        margin: 0;
        padding-top: 0;
      }
    }
  }

  nav.in-page-navigation {
    display: block!important;

    h2 {
      margin-top: $gutter-one-third;
    }
    ol {
      margin-top: 0;
      li {
        padding: 0;
      }
    }
  }

  .govspeak {
    h2 {
      padding-top: $gutter-one-third;
    }
    h2 + h3 {
      margin-top: $gutter-one-third;
    }
  }

  .unnumbered {
    list-style: none;
    li {
      margin-left: 0;
      padding: 0 0 $gutter-one-sixth 0;
      .heading-number {
        font-weight: bold;
      }
    }
  }
  // I may move this to static after a bigger review of print stylesheets
  ul {
    li {
      margin-left: $gutter-two-thirds;
      padding: 0;
    }
  }

  #print-meta-data {
    page-break-before: always;
    page-break-after: always;
    visibility: visible;
    height: 100%;
    width: 100%;

    .print-meta-data-licence {
      width: 78px;
      height: auto;
    }
  }
}
