.index-list-page {

  ol,
  ul {
    list-style: none;
    li {
      margin-left: 0;
    }
  }

  .type-heading p,
  .js-filter-no-results,
  .view-all {
    display: none;
  }

  .js-filter-form {
    display: none!important; //using !important to override inline display: bold which is added by js
  }

  #international-delegations {
    clear: both;
    padding-top: $gutter*2;
  }

  .letter,
  .location-list {
    float: left;
    width: 10%;
  }
  .location-list {
    width: 90%;
  }
  .letter {
    @include core-80;
    clear: both;
  }

}

.people-index {
  .alphabetical-row {
    .alphabetical-list-letter,
    ul {
      float: left;
      width: 10%;
    }
    ul {
      list-style: none;
      width: 90%;
      li {
        margin-left: 0;
        a {
          font-weight: bold;
          &:after {
            font-weight: normal;
          }
        }
      }
    }
    .alphabetical-list-letter {
      @include core-80;
      clear: both;
    } 
  } 
}