a {
  text-decoration: none;
}

h1 {
  @include govuk-font($size: 27, $weight: bold);
  margin: $gutter 0;
}

h2 {
  @include govuk-font($size: 24, $weight: bold);
  margin: $gutter 0 0;
}

h3,
h4,
h5 {
  @include govuk-font($size: 19, $weight: bold);
  margin: $gutter 0 0;
}

h4 {
  margin: $gutter-half 0 0;
}

h5 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  a:after {
    font-weight: normal;
  }
}

p {
  @include govuk-font(14);
  margin: $gutter-half 0;
}

ol,
ul {
  list-style: decimal;
  list-style-position: outside;
  margin-left: 0;
  padding-left: 0;
}

ul {
  list-style: disc;
}

li {
  @include govuk-font(14);
  margin-left: $gutter * 1.2;

  li {
    margin-left: $gutter;
  }
}

em,
i {
  font-style: italic;
}

blockquote {
  margin-left: $gutter-half $gutter;

  &:before {
    content: "\201c";
    float: left;
    margin-right: $gutter-one-third;
  }

  p:last-child:after {
    content: "\201d";
  }
}

hr {
  margin-top: $gutter - 1px;
  border-top: 1px solid #cccccc;
  margin-bottom: $gutter;
}

figure {
  width: $full-width;
  clear: both;
  overflow: hidden;
  padding: $gutter-one-third 0 0;

  img {
    display: inline;
    text-align: center;
    width: auto;
    height: auto;
    max-width: $full-width;
  }

  figcaption {
    @include govuk-font(14);
  }
}

.back-to-content,
.player-container {
  display: none;
}
