a {
  text-decoration: none;
}
h1 {
  @include heading-27;
  font-weight: bold;
  margin: $gutter 0;
}
h2 {
  @include heading-24;
  font-weight: bold;
  margin: $gutter 0 0;
}
h3,
h4,
h5 {
  @include copy-19;
  font-weight: bold;
  margin: $gutter 0 0;
}
h4 {
  margin: $gutter-half 0 0;
}
h5 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  a:after {
    font-weight: normal;
  }
}
p {
  @include copy-14;
  margin: $gutter-half 0;
}
ol,
ul {
  list-style: decimal;
  list-style-position: outside;
  margin-left: 0;
  padding-left: 0;
}
ul {
  list-style: disc;
}
li {
  @include copy-14;
  margin-left: $gutter*1.2;
  
  li {
    margin-left: $gutter;
  }
}
strong, b {
  font-family: $NTA-Bold;
}
em, i {
  font-style: italic;
}
blockquote p {
  text-indent: -0.45em;
  padding-left: $gutter;
  
}
hr {
  margin-top: $gutter - 1px;
  border-top: 1px solid #ccc;
  margin-bottom: $gutter;
}
figure {
  width: $full-width;
  clear: both;
  overflow: hidden;
  padding: $gutter-one-third 0 0;
  
  img {
    display: inline;
    text-align: center;
    width: auto;
    height: auto;
    max-width: $full-width;
  }
  figcaption {
    @include copy-14;
  }
}
.player-container {
  display: none;
}

