<% show_type ||= false %>
<ol class="document-list">
  <% editions.each do |edition| %>
    <%= content_tag_for :li, edition, class: "document-row" do %>
      <h3><%= edition.link %></h3>
      <ul class="attributes">
        <li class="date"><%= edition.display_date_microformat %></li>
        <% if show_type %>
          <li class="display-type attribute"><%= edition.display_type %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ol>
