<% links = organisation.alternate_style_top_tasks %>

<% if links[:services_in] %>
  <aside class="heading-extra">
    <p class="all-services">View all services in:</p>
    <ul class="top-tasks">
      <li>
        <%= link_to links[:services_in][:text], links[:services_in][:link] %>
      </li>
    </ul>
  </aside>
<% end -%>

<% if links[:prominent] || links[:top_tasks] %>
  <section class="prominent-top-tasks">
    <% links[:prominent].each do |prominent_link| %>
      <article>
        <div class="content">
          <h2>
            <%= link_to prominent_link[:text], prominent_link[:link] %>
          </h2>
          <p><%= prominent_link[:description] %></p>
        </div>
      </article>
    <% end -%>

    <% if links[:top_tasks] %> 
      <article>
        <div class="content">
          <ul class="top-tasks">
            <% links[:top_tasks].each do |top_task| %>
              <li>
                <%= link_to top_task[:text], top_task[:link] %> 
              </li>
            <% end -%>
          </ul>
        </div>
      </article>
    <% end -%>
  </section>
<% end -%>
