<section id="organisation_disclaimer" class="beta_disclaimer">
  <h1>BETA</h1>
  <p>This is a test website.
  <% if organisation.url.present? %>
  The official website remains <%= link_to organisation.url, organisation.url %>.
  <% end %>
  </p>
</section>
