<%
  all_announcements_link ||= nil
%>
<section class="organisation-news featured-news items-<%= feature_list.current_feature_count %>" id="featured-documents">
  <% if feature_list.any_current_features? %>
    <%= render partial: 'shared/featured',
              locals: { feature: feature_list.current_featured.first,
                        extra_class: 'first',
                        show_meta: true,
                        image_size: :s630 } %>
    <%= render partial: 'shared/featured',
               collection: feature_list.current_featured.to_a.from(1),
               as: :feature,
               locals: { show_meta: true,
                         extra_class: "secondary" } %>
  <% end %>
  <%= render partial: 'shared/recently_updated',
            locals: { recently_updated: recently_updated,
                      atom_url: organisation_url(organisation, format: "atom"),
                      govdelivery_url: filter_email_signup_url(organisation: organisation.slug),
                      extra_class: 'panel',
                      all_announcements_link: all_announcements_link } %>
</section>
