<%
  all_announcements_link ||= nil
%>
<% if feature_list.any_current_features? %>
  <section class="organisation-news featured-news items-<%= feature_list.current_feature_count %>" id="featured-documents">
    <%= render partial: 'shared/featured',
              locals: { feature: feature_list.current_featured.first,
                        extra_class: 'first',
                        show_meta: true,
                        image_size: :s630 } %>
    <%= render partial: 'shared/featured',
               collection: feature_list.current_featured.to_a.from(1),
               as: :feature,
               locals: { show_meta: true,
                         extra_class: "secondary" } %>
    <%= render partial: 'shared/recently_updated',
              locals: { recently_updated: recently_updated,
                        atom_url: atom_feed_url_for(organisation),
                        extra_class: 'panel',
                        all_announcements_link: all_announcements_link } %>
  </section>
<% end %>
