<div class="alphabetical_list g3">
  <% organisations.group_by {|o| o.name_without_prefix.first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <div class="group alphabetical_row g3f">
      <% row.each do |letter, organisations_group| %>
        <div class="alphabetical_group g1" id="organisations_<%= letter %>">
          <h2><%= letter %></h2>
          <%= render partial: "list", locals: { organisations: organisations_group } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>