<div class="alphabetical_list" id="organisations">
  <% organisations.group_by {|o| o.name_without_prefix.first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <% row.each do |letter, organisations_group| %>
      <div class="alphabetical_row g4f" id="organisations_<%= letter.downcase %>">
        <div class="g1"><h2 class="label"><%= letter %></h2></div>
        <div class="g3f">
          <%= render partial: "list", locals: { organisations: organisations_group } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>