<%
  link_to_organisation ||= false
  logo_size ||= 'large'
%>
<header class="page-header">
  <h1 class="page_title name">
    <% if link_to_organisation %>
      <%= link_to organisation_path(organisation), class: organisation_logo_classes(organisation, size: logo_size, stacked: true) do %>
        <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      <% end %>
    <% else %>
      <span class="<%= organisation_logo_classes(organisation, size: logo_size, stacked: true) %>">
        <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
      </span>
    <% end %>
  </h1>
</header>
