<%
  extra_class ||= ""
  external_links ||= false
  remove_line_breaks ||= false
%>

<section class="page-header">
  <h1 class="page_title name">
    <span><%= remove_line_breaks ? organisation.logo_formatted_name : format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
  </h1>
</section>
