<section class="page_header">
  <h1 class="page_title name">
    <span><%= organisation.name %></span>
  </h1>
  <div class="parent_organisations">
    <% organisation.parent_organisations.each do |organisation| %>
      <%= link_to organisation_display_name(organisation), organisation_path(organisation), class: "organisation tag" %>
    <% end %>
  </div>
</section>