<section class="page_header organisation">
  <h1 class="page_title name">
    <% if local_assigns.has_key?(:title) %>
      <%= title %>
    <% else %>
      <span><%= organisation.name %></span>
    <% end %>
  </h1>
</section>

<%= render 'navigation', organisation: organisation %>
