<section class="page_header">
  <h1 class="page_title name">
    <span>
      <% if local_assigns.has_key?(:title) %>
        <%= organisation_subpage_title(organisation, title) %>
      <% else %>
        <%= organisation.name %>
      <% end %>
    </span>
  </h1>
  <div class="parent_organisations">
    <%= organisation_display_name_and_parental_relationship(organisation) %>
  </div>
</section>