<section class="page-header">
  <h1 class="page_title name">
    <span>
      <%= organisation.name %><% if local_assigns.has_key?(:title) %> &mdash; <%= title %><% end %>
    </span>
  </h1>
</section>