<nav>
  <ul>
    <li>
      <%= organisation_navigation_link_to organisation.name, organisation_path(organisation) %>
      <ul>
        <li><%= organisation_navigation_link_to 'About', about_organisation_path(organisation) %></li>
        <li><%= organisation_navigation_link_to 'News', news_organisation_path(organisation) %></li>
      </ul>
    </li>
  </ul>
</nav>
