<div class="group" id="organisations">
  <div class="alphabetical_row">
    <div class="g3f">
      <ul class="organisations">
        <% organisations.each do |organisation| %>
          <%= content_tag_for(:li, organisation, :class => organisation_logo_classes(organisation, class: 'g1')) do %>
            <span class="organisation_logo_small">
              <% if organisation.active? %>
                <%= link_to format_with_html_line_breaks(h(organisation.logo_formatted_name)), organisation_path(organisation) %>
              <% else %>
                <span><%= format_with_html_line_breaks(h(organisation.logo_formatted_name)) %></span>
              <% end %>
            </span>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>