<%
  lead_organisations ||= []
  organisations ||= []
  show_hm_government = lead_organisations.length == 0
%>
<p class="js-hide-other-departments organisations-name-list">
  <% if show_hm_government %>
    <span>HM Government<% if organisations.length > 0 %>, <% end %></span>
  <% end %>
  <%= organisations_link_sentence(lead_organisations, organisations) %>
</p>
