<% page_title "About " + @organisation.name %>

<div class="g3f organisation">
  <%= render 'header', organisation: @organisation %>

  <div class="g3f about_page">
    <div class="g2">
      <article class="document">
        <div class="body">
          <%= govspeak_to_html @organisation.about_us %>
        </div>
      </article>
    </div>
    <div class="g1">
      <nav>
        <ul>
          <li>View <%= link_to "management team", management_team_organisation_path(@organisation)%></li>
        </ul>
      </nav>
    </div>
  </div>
</div>