<% page_title "Organisations" %>

<div class="g3f">
  <section class="page_header organisation">
    <h1 class="page_title">Organisations</h1>
  </section>
  <section class="page_detail">
    <div class="g3">
      <p class="organisations_type_links">
        <%= link_to "View organisations grouped by kind instead", organisations_path %>.
      </p>
    </div>
  </section>
</div>

<div class="g3">
  <%= render partial: "grouped_list", locals: {organisations: @organisations} %>
</div>