<% page_title "Organisations" %>

<div class="g3f">
  <section class="page_header organisation">
    <h1 class="page_title">Organisations</h1>
  </section>
  <section class="page_detail">
    <div class="g3">
      <ul class="organisations_type_links">
        <li><%= link_to "View by type", organisations_path %></li>
      </ul>
    </div>
  </section>
</div>

<div class="g3">
  <%= render partial: "grouped_list", locals: {organisations: @organisations} %>
</div>