<% page_title "Departments, agencies & public bodies" %>

<% alphabetical_organisations = @organisations.group_by {|o| o.name_without_prefix.first.upcase }.sort %>

<div class="g4f organisations_index_page">
  <section class="g4 page_header">
    <h1 class="page_title">Departments, agencies &amp; public bodies</h1>
  </section>

  <div class="g1">
    <nav class="organisations_type_links" role="navigation">
      <ul class="jump_list">
      <% alphabetical_organisations.each do |letter, _| %>
        <li>
          <%= link_to "#{letter}", alphabetical_organisations_path(anchor: letter) %>
        </li>
      <% end %>
      </ul>
      <p>You can also
        <%= link_to "view by type", organisations_path %>.
      </p>
    </nav>
  </div>

  <div class="g3f">
    <% alphabetical_organisations.each do |letter, organisations| %>
      <div class="organisation_type">
        <section class="g3f">
          <%= content_tag(:h1, letter, id: letter, class: "g3 label") %>
          <%= render partial: "list", locals: { organisations: organisations.sort_by(&:name_without_prefix) } %>
        </section>
      </div>
    <% end %>
  </div>
</div>
