<% page_title "Departments, agencies & public bodies" %>

<% alphabetical_organisations = @organisations.group_by {|o| o.name_without_prefix.first.upcase }.sort %>

<div class="organisations_index_page">
  <div class="block-1">
    <div class="inner-block">
      <header class="page-header">
    <h1 class="page_title">Departments, agencies &amp; public bodies</h1>
  </header>

  <div>
    <nav class="organisations_type_links" role="navigation">
      <ul class="jump_list inline">
      <% alphabetical_organisations.each do |letter, _| %>
        <li>
          <%= link_to "#{letter}", alphabetical_organisations_path(anchor: letter) %>
        </li>
      <% end %>
      </ul>
      <p>You can also
        <%= link_to "view by type", organisations_path %>.
      </p>
    </nav>
  </div>

  <div>
    <% alphabetical_organisations.each do |letter, organisations| %>
      <div class="organisation_type">
        <section class="alphabetical-list">
          <div class="alphabetical-row">
              <%= content_tag(:h2, letter, id: letter, class: "label") %>
              <%= render partial: 'organisations_name_list',
                         locals: { organisations: organisations.sort_by(&:name_without_prefix) } %>
          </div>
        </section>
      </div>
    <% end %>
  </div>
</div>
  </div>
</div>
