<% page_title t("organisation.type.courts_and_tribunals") %>
<% page_class "govuk-width-container index-list-page" %>

<div class="organisations-index">
  <header class="page-header">
    <%= render "govuk_publishing_components/components/title", {
      title: t("organisation.type.courts_and_tribunals")
    } %>
  </header>

  <%= render 'organisations/index_section',
              organisations: @courts,
              header_text: 'Courts',
              block_id: 'courts' %>
  <%= render 'organisations/index_section',
              organisations: @hmcts_tribunals,
              header_text: 'Tribunals',
              block_id: 'tribunals' %>
</div>
