<% page_title "Organisations" %>

<div class="g3f">
  <section class="page_header organisation">
    <h1 class="page_title">Organisations</h1>
  </section>
</div>

<div class="g3">
  <%= render partial: "grouped_list", locals: {organisations: @organisations} %>
</div>