<% page_title "#{@organisation.name} News" %>
<div class="g3f organisation">
  <%= render 'header', organisation: @organisation, title: "#{@organisation.name} News" %>

  <div class="g3 page_detail">
    <section id="news_articles" class="announcements group">
      <% if @news_articles.any? %>
        <%= announcement_group(@news_articles, groups_of: 3, class: "", partial: "default") %>
      <% else %>
        <p>There are no <%= @organisation.name %> news articles at present.</p>
      <% end %>
    </section>
  </div>
</div>
