<section class="app-view-summary__section app-view-summary__section--attachments">
  <%= render "components/summary_card", {
    title: "Attachments",
    summary_card_actions: summary_card_actions,
    rows: rows,
  } %>
</section>
