<% content_for :page_title, "Edit an offsite link" %>
<% content_for :title, "Edit the offsite link within ‘#{@parent.name}’" %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @offsite_link)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "form", parent: @parent, offsite_link: @offsite_link %>
  </div>
</div>
