<% page_title "Create an offsite link" %>

<h2>
  Create a non-GOV.UK government link within ‘<%= @parent.name %>’
</h2>

<%= render partial: "legacy_form", locals: {parent: @parent, offsite_link: @offsite_link} %>
