<li class="document-row">
  <h3><%= statistical_release_announcement.title %></h3>
  <ul class="attributes">
    <li><%= statistical_release_announcement.release_date_text %></li>
    <li><%= statistical_release_announcement.document_type %></li>
    <%- statistical_release_announcement.organisations.each do |org| -%>
      <li><%= link_to org.name, organisation_path(org) %></li>
    <%- end -%>
  </ul>
</li>
