<div class="consultation-summary">
  <div class="consultation-summary-inner">
    <h2>Summary</h2>
    <p><%= @document.summary %></p>
    <% if @document.external? %>
      <h3>This consultation is being held on <%= link_to "another website", @document.external_url, rel: "external" %></h3>
    <% end %>
  </div>
</div>
