<div class="g3">
  <h1 class="page_title">Consultations</h1>
  <% if @consultations.empty? %>
    <p>We don't have any published consultations at present.</p>
  <% else %>
    <%= render partial: "consultations", object: @consultations %>
  <% end %>
</div>