<%= render partial: 'document', locals: { document: @document } %>


<div class="g1 related_documents">
  <%= render partial: 'organisations', locals: { organisations: @document.organisations } %>
</div>

<div class="g1 related_documents">
  <%= render partial: 'ministerial_roles', locals: { ministerial_roles: @document.ministerial_roles } %>
</div>

<%= render partial: 'related_policies', object: @related_policies %>
