<% content_for :page_title, "Landing page settings" %>
<% content_for :title, "Landing page settings" %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_tag admin_landing_page_path(@landing_page), method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-6">Are you sure you want to delete the landing page at "<%= @landing_page.base_path %>"?</p>

      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
        } %>
        <%= link_to("Cancel", admin_landing_page_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>
</div>
