<% page_title "Edit Sitewide Setting #{@sitewide_setting.name}" %>
<div class="row">
  <section class="col-md-8">
    <h1>Edit sitewide setting</h1>
    <%= render partial: "form", locals: {sitewide_setting: @sitewide_setting} %>
  </section>
</div>
