// Block labels
// Based on http://govuk-elements.herokuapp.com/#guide-forms
.block-label {
  background: $gray-lighter;
  border: 1px solid $gray-lighter;
  padding: $default-vertical-margin 20px $default-vertical-margin 45px;
  position: relative;
  margin-top: 10px;
  display: block;
  font-weight: normal;

  input {
    position: absolute;
    top: $default-vertical-margin;
    left: $default-horizontal-margin * 2;
    cursor: pointer;
  }

  .label-title {
    display: block;
    @include add-label-margin;
  }
}

.block-label-read-only {
  cursor: inherit;
  padding-left: 20px;

  input {
    visibility: hidden;
  }

  // Added specificity needed
  .form-large & {
    cursor: inherit;
  }
}

.inline-block-labels {
  @extend %contain-floats;

  .block-label {
    float: left;
    margin-right: $default-horizontal-margin;
  }
}
