
<%= content_tag_for(:tr, promotional_feature) do %>
  <td>
    <%= link_to promotional_feature.title, [:admin, organisation, promotional_feature] %>
  </td>
  <td>
    <%= link_to "Rename", edit_admin_organisation_promotional_feature_path(@organisation, promotional_feature), class: 'btn btn-default btn-sm' %>
    <%= link_to "Delete", admin_organisation_promotional_feature_path(@organisation, promotional_feature), class: 'btn btn-danger btn-sm' %>
  </td>
<% end %>
