
<%= content_tag_for(:tr, promotional_feature) do %>
  <td>
    <%= link_to promotional_feature.title, [:admin, organisation, promotional_feature] %>
  </td>
  <td>
    <%= link_to "Rename", edit_admin_organisation_promotional_feature_path(@organisation, promotional_feature), class: 'btn btn-small' %>
    <%= button_to "Delete",
          admin_organisation_promotional_feature_path(@organisation, promotional_feature),
          method: "delete",
          class: "btn btn-small btn-danger",
          data: { confirm: "Are you sure you want to delete the '#{promotional_feature.title}' feature?" } %>
  </td>
<% end %>
