<% page_title "Edit #{@promotional_feature.title} promotional feature" %>
<h1>Edit '<%= @promotional_feature.title %>' feature</h1>

<%= render "form", promotional_feature: @promotional_feature, organisation: @organisation %>
