<% content_for :page_title, "Rename promotional feature" %>
<% content_for :title, "Rename promotional feature" %>
<% content_for :context, @organisation.name %>
<% content_for :title_margin_bottom, 8 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @promotional_feature)) %>

<%= form_with model: @promotional_feature,url: [:admin, @promotional_feature.organisation, @promotional_feature] do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title (required)",
          heading_size: "l"
        },
        name: "promotional_feature[title]",
        id: "promotional_feature_title",
        value: @promotional_feature.title,
        error_items: errors_for(@promotional_feature.errors, :title)
      } %>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <%= render "govuk_publishing_components/components/button", {
          text: "Update name",
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "promotional_feature-button",
            "track-label": "Update name"
          }
        } %>

        <%= link_to("Cancel", [:admin, @promotional_feature.organisation, PromotionalFeature], class: "govuk-link") %>
      </div>
    </div>
  </div>
<% end %>
