<html>
  <head>
    <title>Authentication failure</title>
  </head>
  <body>
    <div id="wrapper">
      <main id="content">
        <h1>Authentication failure</h1>
        <p>There was a problem logging you into the application. Please <%= link_to "try again", "/auth/gds" %>.</p>
      </main>
    </div>
  </body>
</html>
