<div class="g2 first">
  <section>
    <h1>Edit topic</h1>
    <%= render partial: "form", locals: {topic: @topic} %>
  </section>
  <section>
    <h1>Delete topic</h1>
    <% if @topic.destroyable? %>
      <%= button_to 'Delete', admin_topic_path(@topic), method: :delete, confirm: 'Are you sure you want to delete this topic?' %>
    <% else %>
      <span>This topic can't be deleted as it has associated news articles or policies</span>
    <% end %>
  </section>
</div>