<section class="resource_list">
  <div class="collection">

    <nav class="actions">
      <%= link_to "Create Topic", new_admin_topic_path, class: "button new_resource", title: "Create a Topic" %>
    </nav>

    <h1>Topics</h1>

    <table class="topics">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Featured</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <%= content_tag_for(:tr, topic) do %>
            <td class="name"><%= link_to topic.name, edit_admin_topic_path(topic), title: "Edit topic #{topic.name}" %></td>
            <td class="description"><%= topic.description %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>