<div class="g3">
  <nav class="actions">
    <%= link_to "Back to '#{@policy.title}'", public_document_path(@policy), title: "Back to #{@policy.title}" %>
  </nav>
  <% if @supporting_documents.empty? %>
    <h1>Supporting documents</h1>
    <p>This policy doesn't have any supporting documents at present.</p>
  <% else %>
    <%= render partial: "policies/supporting_documents", locals: {document: @policy} %>
  <% end %>
</div>