<div class="g3">
  <%= render partial: "policies/policy_view", locals: { policy: @policy, document: @supporting_document } %>
</div>

<div class="g1 secondary">
  <%= render partial: "policies/policy_relationships", locals: { policy: @policy } %>
</div>