<% if @document.nation_inapplicabilities.any? %>
  <%= render partial: 'documents/inapplicable_nations', locals: { document: @document } %>
<% end %>
<article class="document has_notice">
  <div class="body">
    <%= govspeak_to_html @supporting_page.body %>
  </div>
  <%= render partial: "documents/attachments", locals: { object_with_attachments: @supporting_page } %>
</article>