<section class="contextual-info supporting-pages">
  <% if @policy.has_published_supporting_pages? %>
    <nav role="navigation">
      <a href="#contents" class="js-showhide contents-toggle">Show all detail pages</a>
      <ul id="contents">
        <% @policy.published_supporting_pages.each do |supporting_page| %>
          <% options = {class: "active"} if supporting_page == @supporting_page %>
          <%= content_tag :li, options do %>
            <%= link_to supporting_page.title, public_document_path(supporting_page, policy_id: @policy.document) %>
          <% end %>
        <% end %>
      </ul>
    </nav>
  <% end %>
</section>
