/* ==========================================================================
   Helpers
   ========================================================================== */

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.bookmarklet {
  cursor: move;
}

a.inherit,
a.inherit:visited,
.inherit {
  color: inherit;
}

/* Margin helpers
   ========================================================================== */

.add-vertical-margins {
  @include add-vertical-margins('!important');
}

.remove-vertical-margins {
  @include remove-top-margin('!important');
  @include remove-bottom-margin('!important');
}

.add-top-margin {
  @include add-top-margin('!important');
}

.remove-top-margin {
  @include remove-top-margin('!important');
}

.add-bottom-margin {
  @include add-bottom-margin('!important');
}

.remove-bottom-margin {
  @include remove-bottom-margin('!important');
}

.add-right-margin {
  @include add-right-margin('!important');
}

.add-right-gutter {
  @include add-right-gutter('!important');
}

.add-left-margin {
  @include add-left-margin('!important');
}

.add-left-gutter {
  @include add-left-gutter('!important');
}

.dl-spaced dd {
  margin-bottom: $default-vertical-margin;
}

.add-label-margin {
  @include add-label-margin;
}

/* Padding helpers
   ========================================================================== */

.add-vertical-padding {
  @include add-vertical-padding('!important');
}

.remove-padding {
  padding: 0 !important;
}

.add-top-padding {
  @include add-top-padding('!important');
}

.remove-top-padding {
  padding-top: 0 !important;
}

.add-bottom-padding {
  @include add-bottom-padding('!important');
}

.remove-bottom-padding {
  padding-bottom: 0 !important;
}

/* Link types
   ========================================================================== */

.link-muted,
.link-muted:visited {
  color: $gray-light;
  text-decoration: underline;
}

.link-muted:hover,
.link-muted:focus {
  color: $gray;
}

.link-inherit,
.link-inherit:visited {
  color: inherit;
  text-decoration: underline;
}

/* No content
   ========================================================================== */

%large-and-spaced,
.large-and-spaced {
  font-size: $font-size-base * 2;
  line-height: $default-vertical-margin * 2;
  text-align: center;
  padding: ($default-vertical-margin * 4) 0;
}

.no-content {
  color: lighten($gray-light, 20%); // Large text needs a lighter colour for balance
  @extend %large-and-spaced;
}

.no-content-bordered {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
}
