/* ==========================================================================
   SASS variables
   https://github.com/alphagov/govuk_admin_template/blob/master/app/assets/stylesheets/govuk_admin_template/theme.css.scss
   ========================================================================== */

$default-vertical-margin:   20px;
$default-vertical-padding:  $default-vertical-margin;
$default-horizontal-margin: 10px;
$default-label-margin:      5px;

// Variables that usually come from Bootstrap
$border-radius-base: 3px;
$font-size-base: 14px;
$gray-lighter: #eee;
$gray-light: #999;
$gray: #555;
$table-border-color: #ddd;
$table-bg-accent: #f9f9f9;
