<% content_for :page_title, "Republish '#{@organisation.name}'" %>
<% content_for :title, "Are you sure you want to republish '#{@organisation.name}'?" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @republishing_event)) %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-7">
      This will republish the organisation <%= link_to @organisation.name, @organisation.public_url, { class: "govuk-link" } %>.
    </p>
    <%= render partial: "shared/republishing_form", locals: { republishing_path: admin_republishing_organisation_republish_path(@organisation.slug) } %>
  </section>
</div>
