<% content_for :page_title, "Republish '#{@document.slug}'" %>
<% content_for :title, "Are you sure you want to republish '#{@document.slug}'?" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @republishing_event)) %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-7">
      This will republish the following editions.
    </p>

    <%= render "govuk_publishing_components/components/table", {
      head: [
        {
          text: "Edition",
        },
        {
          text: "State",
        },
      ],
      rows:
        @document.republishable_editions.map do |edition|
          [
            {
              text: edition.public_url ? sanitize(link_to(edition.title, edition.public_url, { class: "govuk-link" })) : edition.title,
            },
            {
              text: edition.state.humanize,
            },
          ]
        end,
    } %>
    <%= render "form", republishing_url: admin_republishing_document_republish_path(@document.slug) %>
  </section>
</div>
