<% content_for :page_title, "Republish '#{@title}'" %>
<% content_for :title, "Are you sure you want to republish '#{@title}'?" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @republishing_event)) %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-7">
      This will schedule the page to be republished.
    </p>
    <%= render partial: "shared/republishing_form", locals: {
      republishing_event: @republishing_event,
      republishing_path: @republishing_path
    } %>
  </section>
</div>
