<%= render "govuk_publishing_components/components/heading", {
  text: "Featured non-GOV.UK government links",
  margin_bottom: 6,
} %>

<p class="govuk-body">
  <%= link_to "Create a new link", [:new, :admin, model, :offsite_link], class: "govuk-link" %>
</p>

<% if featurable_offsite_links_for_feature_list(featurable_offsite_links, feature_list).any? %>
  <p class="govuk-heading-s govuk-!-margin-bottom-3">
    <%= pluralize(number_with_delimiter(featurable_offsite_links_for_feature_list(featurable_offsite_links, feature_list).count), "document") %>
  </p>

  <div class="app-view-features-offsite-links__table">
    <%= render "govuk_publishing_components/components/table", {
      head: [
        {
          text: "Title"
        },
        {
          text: "Type",
        },
        {
          text: tag.span("Actions", class: "govuk-visually-hidden"),
          format: "numeric"
        }
      ],
      rows: featurable_offsite_links_for_feature_list(featurable_offsite_links, feature_list).map do |offsite_link|
        [
          {
            text: tag.p(offsite_link.title, class: "govuk-!-margin-0 govuk-!-font-weight-bold"),
          },
          {
            text: offsite_link.humanized_link_type,
          },
          {
            text: link_to(sanitize("Edit #{tag.span(offsite_link.title, class: "govuk-visually-hidden")}"), polymorphic_url([:edit, :admin, offsite_link.parent, offsite_link]), class: "govuk-link") +
                    link_to(sanitize("Feature #{tag.span(offsite_link.title, class: "govuk-visually-hidden")}"), polymorphic_url([:new, :admin, feature_list, :feature], offsite_link_id: offsite_link.id), class: 'govuk-link govuk-!-margin-left-2') +
                      link_to(sanitize("Delete #{tag.span(offsite_link.title, class: "govuk-visually-hidden")}"), polymorphic_url([:confirm_destroy, :admin, offsite_link.parent, offsite_link]), class: 'govuk-link govuk-!-margin-left-2 gem-link--destructive'),
            format: "numeric"
          }
        ]
      end
    } %>
  </div>
<% else %>
  <p class="govuk-body">There are currently no non-GOV.UK government links.</p>
<% end %>
