<%= render "govuk_publishing_components/components/heading", {
  text: filter.page_title,
  margin_bottom: 8,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'admin/editions/filter_options', filter_by: filter_by, filter_action: filter_action, locale: feature_list.locale, anchor: anchor %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-view-features-search-results__table">
      <%= render 'admin/feature_lists/search_results', filter: filter, paginator: filter.editions(feature_list.locale), feature_list: feature_list, anchor: anchor %>
    </div>
  </div>
</div>
