@import "../shared/utils/grid";
@import "../shared/utils/type_sizing";
@import "../shared/utils/shadows";

#wrapper .attachment {
  @include span_three_columns;

  div.img {
    @include span_one_column;
    @include box-shadow(0, 0, 2px, #ddd);
    background: #fff;
    margin-bottom: 0.4285em;
    margin-bottom: 0.5em;
    overflow: hidden;
    padding: 5px 5px 0 5px;
    max-width: 105px;
    a img {
      margin: 0;
    }
  }

  div.download_url {
    @include type-14;
    margin-bottom: 0.4285em;
  }

  .attachment_meta {
    @include type-12;
  }
}