// For admin
$collation-green: #CDCE00;
$force-published-colour: #fcc;

// For website
$section_brand_labels:
  ('policy', #048774)
  ('priority_policies', #048774)
  ('all_policies', #048774)
  ('policy_topic_view', #048774)
  ('policy-topics-index', #048774)
  ('newsarticle', #2E8ACA)
  ('speech', #859A3B)
  ('consultation', #D43783)
  ('consultations-index', #D43783)
  ('internationalpriority', #00652E)
  ('publication', #2E3191);

  
#content  {
  @each $brand in $section_brand_labels {
    $name: nth($brand, 1);
    $color: nth($brand, 2);

    .#{$name} {
      .label{
        @if $color {
          color: $color;
        }
      }
      .article_section h1{
        @if $color {
          color: $color;
        }
      } 
    }
    
  }
}

#wrapper  {
  @each $brand in $section_brand_labels {
    $name: nth($brand, 1);
    $color: nth($brand, 2);

    &.#{$name} {
      .label{
        @if $color {
          color: $color;
        }
      }
      .article_section h1{
        @if $color {
          color: $color;
        }
      } 
    }
    
  }
}