@import "utils";

#content .document {
  margin-bottom: 2em;
  overflow: auto;

  .title {
    @include type-36;
  }

  .summary {
    @include type-14;
    font-style: italic;
  }

  .body {

    h2 {
      @include scaled_type(24);
      @include scaled_margin_top(16);
    }

    h3 {
      @include type-18;
      margin-bottom: 0;
    }

    p, ul, ol {
      font-size: 0.875em;
      line-height: 1.714em;
    }

    ul, ol {
      ul, ol {
        margin-top: #{$baseline_in_px / 14}em;
      }
    }

    li {
      @include type-16;
      @include scaled_margin_bottom(24);

      p {
        margin-bottom: 0;
      }
    }

    table {
      tr {
        padding: 0;

        td {
          padding: 0;
          @include type-14;
          border: 1px solid #ddd;
          padding: 0 0.75em;
        }
      }
    }
  }

  pre.body {
    @include type-14;
  }
}
