@import "utils";

.document_view {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ccc;
  background: #fcfcfc;
  padding: 3em 10% 1em 10%;
  margin-bottom: 2em;

  .title {
    @include type-36;
  }
  .body {
    p {
      @include type-14;
    }
  }

  .written_by {
    font-style: italic;
    .author {
      font-style: normal;
      font-weight: bold;
    }
  }
}