@import "utils";

@mixin govspeak {
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul, ol {
    margin-left: 1.5em;
    margin-bottom: 1.5em;

    li {
      @include type-13;
      margin-bottom: 0;

      p {
        font-size: 100%;
        margin-bottom: 0.923em;
      }
    }

    ul, ol {
      font-size: 100%;
    }
  }
  p {
    @include type-13;
    margin-bottom: 0.923em;
  }
}