@import "utils";

@mixin grid_styles {
  .g1 {
    @include span_one_column;
  }

  .g1r {
    @include span_one_column(right);
  }

  .g1f {
    @include flood_one_column;
  }

  .g2 {
    @include span_two_columns;
  }

  .g2r {
    @include span_two_columns(right);
  }

  .g2f {
    @include flood_two_columns;
  }

  .g3 {
    @include span_three_columns;
  }

  .g3r {
    @include span_three_columns(right);
  }

  .g3f {
    @include flood_three_columns;
  }

  .g-half {
    @include grid_column;

    @media only screen and (min-width: 768px) {
      width: 48%;
    }
  }

  .g-half-flood {
    @include flood_column;
    @media only screen and (min-width: 768px) {
      width: 50%;
    }
  }

  .g1,.g2,.g3 {
    &.first {
      margin-left: 0;
    };
  }
}