@import "utils/grid";

@mixin grid_styles {
  .g1 {
    @include span_one_column;
  }

  .g1r {
    @include span_one_column(right);
  }

  .g1f {
    @include flood_one_column;
  }

  .g2 {
    @include span_two_columns;
  }

  .g2r {
    @include span_two_columns(right);
  }

  .g2f {
    @include flood_two_columns;
  }

  .g3 {
    @include span_three_columns;
  }

  .g3r {
    @include span_three_columns(right);
  }

  .g3f {
    @include flood_three_columns;

    > .g1 {
      @include span_one_column(left, 97%, 1.5%, 1.5%);
    }

    > .g2 {
      @include span_two_columns(left, 97%, 1.5%, 1.5%);
    }

    > .g3 {
      @include span_three_columns(left, 97%, 1.5%, 1.5%);
    }
  }

  .g4 {
    @include span_four_columns;

    > .g1 {
      @include span_one_column(left, 97%, 1.5%, 1.5%, 4);
    }

    > .g2 {
      @include span_two_columns(left, 97%, 1.5%, 1.5%, 4);
      .g1 {
        @include span_one_column(left, 97%, 1.5%, 1.5%, 2);
      }
    }

    > .g3 {
      @include span_three_columns(left, 97%, 1.5%, 1.5%, 4);
      .g1 {
        @include span_one_column(left, 97%, 1.5%, 1.5%, 3);
      }
    }

    > .g1f {
      @include flood_one_column(left, 4);
    }

    > .g2f {
      @include flood_two_columns(left, 4);
      .g1 {
        @include span_one_column(left, 97%, 1.5%, 1.5%, 2);
      }
    }

    > .g3f {
      @include flood_three_columns(left, 4);
      .g1 {
        @include span_one_column(left, 97%, 1.5%, 1.5%, 3);
      }
    }
  }

  .g4f {
    @include flood_four_columns;

    > .g1 {
      @include span_one_column(left, 97%, 1.5%, 1.5%, 4);
    }

    > .g2 {
      @include span_two_columns(left, 97%, 1.5%, 1.5%, 4);
    }

    > .g3 {
      @include span_three_columns(left, 97%, 1.5%, 1.5%, 4);
    }

    > .g1f {
      @include flood_one_column(left, 4);
    }

    > .g2f {
      @include flood_two_columns(left, 4);

      .g1 {
        @include span_one_column(left, 97%, 1.5%, 1.5%, 2);
      }
    }

    > .g3f {
      @include flood_three_columns(left, 4);
      .g1 {
        @include span_one_column(left, 97%, 1.5%, 1.5%, 3);
      }
    }

  }

  .g-half {
    @include grid_column;

    @media only screen and (min-width: 600px) {
      margin-left: 2.5%;
      margin-right: 2.5%;
      width: 45%;
    }
  }

  .g-half-flood {
    @include flood_column;
    @media only screen and (min-width: 600px) {
      width: 50%;
    }
  }

  .g1,.g2,.g3,.g4 {
    &.first {
      margin-left: 0;
    };
  }

  .gutter {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .g1f, .g2f, .g3f, .g4f {
    .gutter {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }

  .g2 {
    .gutter {
      margin-left: 1.5%;
      margin-right: 1.5%;
    }
  }
}

.lte-ie8 #wrapper {
  
  .g3, .g4, .g3f, .g4f {
    .g1 {
      margin-left: 1.4%;
      margin-right: 1.4%;
    }
    
    .g-half {
      margin-left: 2.4%;
      margin-right: 2.4%;
    }
  }
  
  .g3f {
    .g1f {
      width: 33%;
    }
  }
  
  .g4, .g4f {
    .g1f {
      width: 24.95%;
    }
    
    .g3f {
      width: 74.5%;
    }
  }
  
  .g3f, .g4f {
    .g-half-flood {
      width: 49.95%;
    }
  }
}