@import "utils/type_sizing";

@mixin list_styles {
  /* #Lists
   ================================================== */
   ul, ol {
     margin-bottom: 1.5em;
     padding: 0;
   }
   ul {
     list-style: none outside;
   }
   ol {
     list-style: decimal;
   }
   ol, ul.square, ul.circle, ul.disc {
     margin-left: 1.25em;
   }
   ul.square {
     list-style: square outside;
   }
   ul.circle {
     list-style: circle outside;
   }
   ul.disc {
     list-style: disc outside;
   }
   ul ul, ul ol,
   ol ol, ol ul {
     margin: 4px 0 5px 1.25em;
     font-size: 1em;
   }
   ul ul li, ul ol li,
   ol ol li, ol ul li {
     margin-bottom: 0.5em;
   }
   li {
     @include type-16;
   }
   ul.large li {
     @include type-21;
   }
   li p {
     line-height: 1em;
   }

   /* ul#errors - Used to list each invalid model attribute
    ================================================== */

   ul#errors {
     li {
       @include type-13;
       color: #d0160c;
     }
   }
}

