@import "utils/type_sizing";
@import "utils/type_stacks";

@mixin default_font_settings {
  /* DEFAULT FONT SETTINGS */
  /* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
  /* Font-size percentage is based on 16px browser default size */  /* IE7 and older can't resize px based text */
  font: 100%/1.5 #{$helvetica}; *font-size: 1em;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

@mixin type_styles {
  @include default_font_settings;

  p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img {
    margin-bottom: 0.75em;
    padding: 0
  }

  /* TYPOGRAPHY */
  /* Composed to a scale of 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px and 72px */
  h1, h2, h3, h4, h5, h6 {
    font-family: $helvetica;
    font-weight: normal;
    color: #000;
  }

  h1 {
    @include type-60;
  }

  h2 {
    @include type-46;
  }

  h3 {
    @include type-32;
  }

  h4 {
    @include type-24;
  }

  h5 {
    @include type-21;
  }

  h6 {
    @include type-18;
  }

  p, ul, blockquote, pre, td, th, label {
    @include type-16;
    margin-bottom: 0.75em;
  }
  small, p.small {
    @include type-13;
  }

  div.metadata {
    @include scaled_type(14, 24);
    margin-bottom: 0;
  }

  section {
    h1 {
      @include type-32;
      font-family: $gill;
    }

    h2 {
      @include type-16;
    }

    h3 {
      @include type-13;
    }

    h4,h5,h6 {
      @include type-13;
    }

    .label {
      @include scaled_type(14, 24);
      letter-spacing: 0.15em;
      margin-bottom: 0.857em;
      text-transform: uppercase;
    }

    &.article_section {
      h1 {
        @extend .label;
      }
    }

    .article_title {
      margin-bottom: 0;
    }
  }

  /* CODE */
  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
  }

  /* Allow line wrapping of 'pre' */
  pre, code, kbd, samp {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace
  }

  span.amp {
    /* Best available ampersand */
    font-family: Adobe Caslon Pro,Baskerville,"Goudy Old Style","Palatino","Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    font-size: 110%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
  }

  /* Label style inherited from citizen format 'label' in page titles */
  .label {

  }
}

@mixin upcase_datetime {
  @include scaled_type(11, 12);
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-bottom: 0.5455em;
  text-transform: uppercase;

  .published_at {
    font-weight: normal;
  }
}
