@import "utils/anchors";
@import "utils/clearfix";
@import "utils/filters";
@import "utils/gradients";
@import "utils/grid";
@import "utils/rounded_corners";
@import "utils/shadows";
@import "utils/transitions";
@import "utils/type_sizing";

@mixin pipe_separated_links {
  a {
    padding-right: 0.35em;
    border-right: 1px solid #999;

    &:last-child {
      border: none;
      padding: none;
    };
  }
}

@mixin rounded_padded_heading($radius: 5px) {
  background: #eee;
  padding: 0 1em;
  margin: 0;
  color: #333;
  border-top: 1px solid #fdfdfd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  text-shadow: #fff 0px 1px 0;
  @include rounded_specific($radius, $radius, 0, 0);
}

//
// This is used by supporting pages
// and publications etc
// ----------------------------------------
@mixin looks_like_a_document {
  border: 1px solid #ddd;
  border-bottom: 2px solid #ccc;
  background: #fefefe;
  padding: 0 0.5em;
  display: block;
  margin-bottom: 0;
  padding: 1em 1em 2.5em 1em;
  width: 6.5em;
  min-height: 7em;
  max-height: 7em;
  overflow: hidden;
  text-decoration: none;
  @include transition(background-color);

  span.title {
    @include type-13;
    line-height: 1.75em;
    display: block;
    margin-bottom: 0.5em;
  }

  span.body {
    color: #888;
    font-size: 60%;
    line-height: 1.5em;
    display: block;
  }

  &:hover {
    background: #fcffd7;
    border: 1px solid #bbb;
    border-bottom: 2px solid #aaa;

    span.title {
      text-decoration: underline;
    }
  }
}

@mixin looks_like_a_floated_document {
  float: left;
  margin-right: 2%;
  a {
    @include looks_like_a_document;
  }
}

@mixin featured_box {
  @include rounded();
  @include box-shadow(0, 1px, 2px, rgba(10,10,10,0.2));
  background: #fff;
  border-color: rgba(150,150,150,0.4);
  border: 8px solid #ddd;
  margin: 1em 1% 3em 1%;

  padding: 0;

  h1 {

  }
}

@mixin image-list {
  li {
    @include clearfix;
    padding-right: 4%;
    margin-bottom: 0.75em;

    @media only screen and (min-width: 900px) {
      display: inline-block;
      width: 26%;
      margin-right: 2%;

      background: #f3f3f3;
      border: 1px solid #ddd;
      padding: 1em;
    }

    @media only screen and (min-width: 1121px) {
      width: 28%;
    }

    div.cover {
      margin-bottom: 1em;
      display: none;
      padding: 0;
      border: 1px solid #333;
      width: 4em;
      height: 4em;
      overflow: hidden;
      float: left;
      margin-right: 1em;
      @include box-shadow(0px, 1px, 1px, rgba(10,10,10,0.2));
      opacity: 0.8;
      background: #fff;

      &:hover {
        opacity: 1;
      };


      @media only screen and (min-width: 900px) {
        display: block;
      }

      @media only screen and (min-width: 1121px) {
        width: 6em;
        height: 5em;
      }

      @media only screen and (min-width: 1312px) {
        width: 8em;
        height: 7em;
      }
    }

    .description {

      @media only screen and (min-width: 900px) {
        float: left;
        width: 50%;
        height: 7.75em;
        overflow: hidden;
        display: block;
      }


      h2 {
        @include type-14;
        margin-bottom: 0;
        color: #777;
        text-shadow: #fff 0px 1px 0;

        @media only screen and (min-width: 900px) {
          display: block;
        }
      }

      p.body, p.summary {
        @include type-12;
        text-shadow: #fefefe 0px 1px 0;

      }
    }
  }
}