<% if import.import_errors.any? %>
  <h2>Import errors:</h2>
  <table id="errors">
    <thead>
      <tr>
        <th>Row Number</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% import.import_errors.each do |import_error| %>
        <tr class="import_error">
          <td class="row_number"><%= import_error[:row_number] %></td>
          <td class="message"><pre><%= import_error[:message] %></pre></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Log</h2>
  <p class="log"><pre><%= import.log %></pre></p>
<% end %>
