<div class="app-vc-worldwide-offices-index-office-summary-card-component">
  <%= render "components/summary_card_component", {
    title: contact.title,
    rows: rows,
    summary_card_actions: summary_card_actions,
  } %>
</div>
