<% page_title "This attachment is being virus checked." %>
<% page_class "placeholder-show" %>

<div class="block-1">
  <div class="inner-block holding-block">
    <h1>This attachment is being virus checked.</h1>
    <p class="introduction">
      We are currently holding this attachment in quarantine until it has been
      virus checked. The attachment will be available at the original location
      shortly.
    </p>
  </div>
</div>
