<% page_title t("attachment.virus_check.intro") %>
<% page_class "placeholder-show" %>

<div class="holding-block">
  <h1><%= t("attachment.virus_check.intro") %></h1>
  <p class="govuk-body introduction"><%= t("attachment.virus_check.message") %></p>
</div>
