%h3 Components

%section.resource_list
  %h1 Resource list
  %ul
    %li.group
      %h2 Element name
      .actions
        =link_to 'edit'
    %li.group
      %h2 Element name
      .actions
        =link_to 'edit'
        =link_to 'delete'

%section.resource_list
  %h1 Resource list (table)
  %table
    %thead
      %tr
        %th Name
        %th Author
        %th.actions Actions
    %tbody
      %tr.policy
        %td.name This is the name
        %td.author jason
        %td.actions
          %a{href: "#", title: "Edit This is the name"} delete
          %a{href: "#", title: "Edit This is the name"} edit
      %tr.policy
        %td.name This is the name
        %td.author jason
        %td.actions
          %form.button_to
            %div
              =submit_tag 'publish'
      %tr.policy
        %td.name This is the name
        %td.author jason
        %td.actions
          %a{href: "#", title: "Edit This is the name"} edit
          %form.button_to
            %div
              =submit_tag 'publish'
      %tr.policy
        %td.name This is the name
        %td.author jason
        %td.actions
          %form.button_to
            %div
              =submit_tag 'publish'
          %a{href: "#", title: "Edit This is the name"} edit

%hr