%h3 Forms

%form
  %label Label
  =text_field_tag 'text', 'textfield'

  %label Textarea
  =text_area_tag 'hello'

  %label Select something
  %select{id: "selectList"}
    -5.times do |i|
      %option{value: "Option #{i+1}"}="Option #{i+1}"

  %fieldset
    %legend Checkboxes
    %label{for: "checkbox_1"}
      =check_box_tag 'checkbox_1'
      %span checkbox

    %label{for: "checkbox_2"}
      =check_box_tag 'checkbox_2'
      %span checkbox 2

  %fieldset
    %legend Radio buttons
    %label{for: "radios_one"}
      =radio_button_tag 'radios', 'one', true
      %span Love

    %label{for: "radios_two"}
      =radio_button_tag 'radios', 'two'
      %span Hate

  =submit_tag 'Submit'

  %span.or_cancel
    or
    =link_to "cancel", "#"

%hr