.biographical-page {
  .in-page-navigation {
    margin-top: 0;
    padding: 0 0 $gutter;
    .image {
      padding: $gutter-one-sixth 0 $gutter-two-thirds;
    }
    nav, h1 {
      padding-top: 0;
      margin-top: 0;
    }

    ul {
      margin: 0;
      ul {
        margin-bottom: 0;
      }
    }
    ul.logo-icon-list {
      margin: 0;
    }
    figure.img {
      margin: 0;
      width: $full-width;
      img {
        width: $full-width;
        max-width: 216px;
        @include ie(6) {
          width: 216px;
        }
      }
    }
  }

  .block-3 {
    .inner-block > :first-child {
      margin-top: 0;
    }

    .govspeak {
      margin-top: $gutter-half;
      display: inline;
    }

    section {
      margin: $gutter 0 $gutter*2;
      h1 {
        @include ig-core-27;
        font-weight: bold;
        margin: 0;
      }

      .read-more {
        @include ig-core-19;
      }
    }

    .logo-icon-list {
      margin: 12px 0 $gutter $gutter-half;
      float: right;
      min-width: $one-third;

      li {
        margin-left: $gutter-half;
        margin-bottom:  $gutter-one-third;
        list-style: none;
      }
    }
  }

  .block-2, .block-3 {
    .inner-block {
      padding-top: $gutter-half;
    }
  }

  .current-role-holder {
    h1 {
      @include light;
      .name {
        display: block;
        @include bold;
        color: $text-colour;
      }
    }
  }
}
