.biographical-page {
  .in-page-navigation {
    margin-top: 0;
    padding: 0 0 $gutter;
    .image {
      padding: $gutter-one-sixth 0 $gutter-two-thirds;
    }
    nav, h1 {
      padding-top: 0;
      margin-top: 0;
    }

    ul {
      margin: 0;
      ul {
        margin-bottom: 0;
      }
    }
    figure.img {
      margin: 0;
      width: $full-width;
      img {
        width: $full-width;
        max-width: 216px;
        @include ie(6) {
          width: 216px;
        }
      }
    }
  }

  .block-3 {
    .inner-block > :first-child {
      margin-top: 0;
    }

    .govspeak {
      margin-top: $gutter-half;
      display: inline;
    }

    section {
      margin: $gutter 0 $gutter*2;

      // The components also use `section`, so fix the margin on that.
      &.gem-c-subscription-links {
        margin: 20px 0;
      }

      h1 {
        @include ig-core-27;
        font-weight: bold;
        margin: 0;
      }

      .read-more {
        @include ig-core-19;
      }
    }
  }

  .block-2, .block-3 {
    .inner-block {
      padding-top: $gutter-half;
    }
  }

  .current-role-holder {
    h1 {
      color: $secondary-text-colour;
      .name {
        display: block;
        color: $text-colour;
      }
    }
  }
}
