.table-sort {
  float: left;
  display: inline;
  width: 74%;

  table {
    width: 100%;
  }

  th, td {
    background-color: #333;
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
  }

  tr:nth-child(even) td  {
    background-color: #eee;
  }

  td, th {
    display: table-cell;
  }

  td {
    background-color: #fff;
    color: #333;
  }

  .title {
    width: 45%;
  }
  .table-summary {
    width: 40%;
  }
  .date {
    width: 15%;
  }
}
