nav.consultations_scope {
  li {
    margin: 0;
    font-size: 0.875em;
    line-height: 1.286em;
    margin-bottom: 1.286em;
    list-style-type: none;
    margin-bottom: 0.75em;
    position: relative;
    padding-left: 1.75em;
  }
  li a {
    color: #444;
  }
  li a span {
    background-color:  #CCC;
    display: block;
    height: 0.75em;
    left: 0;
    position: absolute;
    top: 0.355em;
    width: 0.75em;
  }
  li.selected a span, li:hover a span {
    background-color:  #2E3191;
  }
  li.toggle a span {
    background-color: inherit;
    top: 0;
  }

  a:first-child {
    margin-left: 0;
    background-color: #744260;
    margin-right: 1px;
  }
   a {
    margin: 0;
    font-size: 0.813em;
    line-height: 1.385em;
    margin-bottom: 1.385em;
    color: white;
    font-weight: bold;
    background-color: #DB43A1;
    padding: 0.35em 1em 0.5em 1em;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
    text-decoration: none;
  }
  a:last-child {
    color: white;
    background-color: #DB43A1;
    opacity: 0.6666;
  }
  a:hover {
    background-color: #ddd;
    color: #666;
  }

}

.consultation {

  .consultation-block {
    background: $light-blue;
    color: $white;
    overflow: hidden;
    margin-bottom: $gutter;

    &.consultation-open {
      padding: $gutter-one-third 0;

      h2, .jump {
        @include core-27;
        padding: 0 $gutter-one-third;
      }
      abbr {
        display: block;
        @include core-48;
        padding: 0;
        margin: 0;
      }

      .jump {
        display: block;
        margin: 0;
        border-top: 1px solid $white;
        padding-top: $gutter-half;

        a {
          color: $white;
          background: transparent image-url("down-arrow.png") no-repeat $gutter-one-third 100%;
          padding-left: $gutter-one-third + 40px;
        }
      }
      @include media(desktop){
        padding: 0 $gutter-half;

        h2, .jump {
          @include core-19;
          padding: $gutter-half 0;
        }
        h2 {
          float: left;
          width: 69%;
          border-right: 1px solid $white;
        }
        .jump {
          float: left;
          border-top: 0;
          width: 30%;

          a {
            display: block;
            padding: 0 $gutter 0 $gutter + 40px;
            margin-left: $gutter-half;
            min-height: 75px;
          }
        }
      }
    }

    &.consultation-closed {
      padding: $gutter-one-third;
      @include core-19;

      h2 {
        @include core-48;
        padding-top: 8px;
      }

      @include media(desktop){
        padding: $gutter-half;
      }
    }

    &.consultation-responded {
      .attachment-full-width,
      .attachment {
        background: transparent;
      }

      h2 {
        @include core-48;
        padding: 0 $gutter-half $gutter-half;
      }
      .run-time {
        @include core-19;
        padding: $gutter-half $gutter-half 0;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
      .attachment-without-thumbnail {
        .attachment {
          .title, .metadata {
            display: inline;
          }
          .title {
            padding: 0;

            &:after {
              content: '.';
              color: #fff;
            }
          }
        }
      }
      .accessibility-warning {
        padding: 0;
        h3, a, .toggler {
          color: #fff;
        }
        .toggler {
          text-decoration: underline;
        }
      }
    }

  }
}
