nav.consultations_scope {
  a:first-child {
    margin-left: 0;
    background-color: #744260;
    margin-right: 1px;
  }
   a {
    margin: 0;
    font-size: 0.813em;
    line-height: 1.385em;
    margin-bottom: 1.385em;
    color: white;
    font-weight: bold;
    background-color: #DB43A1;
    padding: 0.35em 1em 0.5em 1em;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
    text-decoration: none;
  }
  a:last-child {
    color: white;
    background-color: #DB43A1;
    opacity: 0.6666;
  }
  a:hover {
    background-color: #ddd;
    color: #666;
  }

}
