nav.consultations_scope {
  li {
    margin: 0;
    font-size: 0.875em;
    line-height: 1.286em;
    margin-bottom: 1.286em;
    list-style-type: none;
    margin-bottom: 0.75em;
    position: relative;
    padding-left: 1.75em;
  }
  li a {
    color: #444;
  }
  li a span {
    background-color:  #CCC;
    display: block;
    height: 0.75em;
    left: 0;
    position: absolute;
    top: 0.355em;
    width: 0.75em;
  }
  li.selected a span, li:hover a span {
    background-color:  #2E3191;
  }
  li.toggle a span {
    background-color: inherit;
    top: 0;
  }

  a:first-child {
    margin-left: 0;
    background-color: #744260;
    margin-right: 1px;
  }
   a {
    margin: 0;
    font-size: 0.813em;
    line-height: 1.385em;
    margin-bottom: 1.385em;
    color: white;
    font-weight: bold;
    background-color: #DB43A1;
    padding: 0.35em 1em 0.5em 1em;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
    text-decoration: none;
  }
  a:last-child {
    color: white;
    background-color: #DB43A1;
    opacity: 0.6666;
  }
  a:hover {
    background-color: #ddd;
    color: #666;
  }

}

.consultation {
  &.consultation-closed,
  &.consultation-responded {
    .consultation-alert {
      border: $gutter-one-sixth solid $inside-gov-brand;
      margin: 0 $gutter $gutter $gutter;
      padding: $gutter-half;
      h2 {
        @include heading-36;
        font-weight: bold;
        @include media(tablet) {
          padding-top: 0;
        }
      }
    }
  }
  &.consultation-responded {
    .consultation-alert {
      h2 {
        @include media(tablet) {
          padding-bottom: 0;
        }
      }
    }
  }

  .original-consultation {
    @include heading-27;
    font-weight: bold;
    margin-bottom: $gutter-half;
    @include media(tablet) {
      margin-bottom: $gutter-half;
    }
  }

  .consultation-block {
    @extend %contain-floats;
    background: $inside-gov-brand;
    color: $white;
    padding: $gutter;

    .consultation-dates {
      float: left;
      width: 33.33%;
      span {
        display: block;
        abbr {
          @include core-27;
          &.date {
            font-weight: bold;
          }
        }
      }
    }

    .summary {
      float: left;
      margin-top: 0;
      width: 66.66%;
      div {
        border-left: 1px solid $white;
        padding-left: $gutter-half;
        margin-left: -$gutter-half + 1px;
      }
      h2 {
        @include heading-27;
        font-weight: bold;
        padding-top: 0;
        @include media(tablet) {
          padding-top: 0;
        }
      }
      p {
        @include core-19;
      }
    }
  }

  .participation {
    @include ig-core-19;
    margin: ($gutter*-1) ($gutter-half*-1) 0;
    @include media(tablet){
      margin: ($gutter*-1) 0 0 0;
    }

    .content {
      margin: 0 $gutter-one-third $gutter-half;
    }
    p {
      margin: $gutter-one-third 0;
    }
    a {
      text-decoration: underline;
    }
    h2, .online {
      @include ig-core-27;
    }
    h2 {
      font-weight: bold;
    }
    dl {
      dt {
        @include ig-core-16;
      }
      dd {
        margin-bottom: $gutter-one-third;
      }
    }
    @include media(desktop){
      padding-left: 33.333%;
      @include right-to-left {
        padding-left: 0;
        padding-right: 33.33%;
      }

      .content {
        margin: $gutter-one-third 0 $gutter-half $gutter-half;
        @include right-to-left {
          margin: $gutter-one-third $gutter-half $gutter-half 0;
        }
      }
      h2 {
        margin: 0 0 $gutter-half;
      }
      .online {
        margin: $gutter-half 0;
      }
      p {
        margin: $gutter-half 0;
      }
    }
  }

  .block-2 .heading-block {
    padding-top: $gutter*1.5;
  }

  
  &+.attachment-full-width {
    margin-top: 0;
  }
}
