.corporate-information-pages-show-worldwide-organisation {

  .article {
    .content {
      padding: 0 $gutter-half;
    }
    nav {
      @include media(tablet){
        float: left;
        width: 33.33%;
      }
      li {
        list-style: none;
        margin-left: 1.2em;

        &:before {
          content: "-";
          position: relative;
          float: left;
          width: $gutter-half;
          margin-left: -$gutter-half;
        }
      }
    }
    .main-body {
      @include media(tablet){
        float: left;
        width: 66.66%;
      }
      h1.main {
        @include heading-48;
        font-weight: bold;
      }
      .description {
        @include heading-27;
        margin-bottom: $gutter;
      }
      .govspeak {
        h2 {
          border-bottom: 1px solid $border-colour;
        }
      }
    }
  }
}
