.corporate-information-pages-show-worldwide-organisation {
  .contact-us {
    .adr,
    .email-url-number {
      margin-bottom: govuk-spacing(2);

      @include govuk-media-query($from: tablet) {
        float: left;
        width: 50%;
      }

      .email,
      .tel {
        span {
          clear: both;
          float: left;
          min-width: 5em;
          padding-right: govuk-spacing(1);
        }
      }

      p {
        @include govuk-media-query($from: tablet) {
          margin: govuk-spacing(0) govuk-spacing(3);
        }
      }
    }

    .comments {
      clear: both;
      color: $govuk-secondary-text-colour;
      padding: govuk-spacing(2) govuk-spacing(0);
    }
  }
}
