.countries-index {
    .alphabetical_list .alphabetical_row li {
      @include single-col-li;
    }
    .alphabetical_list .alphabetical_row li:first-child {
      padding-top: $gutter;
    }
}

.countries_homepage {
  .img {
    img {
      height: 576px;
      width: 100%;
    }
  }
  .block-4, .block-5, .block-6, .block-7 {
    float: left;
    display: inline;
    width: 25%;
    li {
      list-style: none;
//      border-bottom-width: 1px;
//      border-bottom-style: solid;
    }
    section {
      padding-top: $gutter;
    }
    .label, .document_type, .published_or_updated {
      text-transform: uppercase;
    }
  }
}