.countries-index {
    .alphabetical_list .alphabetical_row li {
      //width: 50%;
      padding: 0 0 10px 0;
      float: none;
      display: block;
    }
    .alphabetical_list .alphabetical_row li:first-child {
      padding-top: 20px;
    }
}