.detailed-guides-index,
.detailed-guides-show {
  a {
    color: $link-colour;
  }
}
.detailed-guides-index {
  margin-bottom: 120px;

  .page-header {
    padding: 20px 0;
    margin: 0;
  }

  .filter-block {
    .multi-row-select {
      @media (min-width: 768px) {
        height: 130px;
      }
    }
    .button {
      @include button($detailed-guidance-brand);
      @include ig-core-19;
      padding-bottom: 7px;
    }
  }
}

.detailed-guides-show {
  @include media(desktop) {
    .block-2 {
      float: left;
      width: 25%;
    }
    .block-3 {
      width: 70%;
    }
    .block-4 {
      width: 100%;
      margin: 0;
      padding-bottom: $gutter*2;
    }
  }

  .category-european-regional-development-funding .page-header {
    background: image-url("erdf-logo.png") no-repeat 98% 94%;

    .page-meta {
      padding-bottom: $gutter*3;

      @include media(tablet){
        padding-bottom: 0;
        margin-right: $gutter*7.5;
      }
    }
  }

  .organisation-logo-large,
  .organisation-logo-small {
    color: $black;
  }

  .change-notes {
    left: 0;
    .toggle {
      color: $detailed-guidance-brand;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    @include media(desktop) {
      &.toggleable .overlay {
        left: -100%;
      }
    }
    .arrow {
      left: 20%;
      @include media(desktop){
        left: 70%;
      }
    }
  }

  .page-header {
    color: $detailed-guidance-brand;
    border: 4px solid;
    padding: $gutter-half $gutter-half $gutter-one-third;
    margin-bottom: $gutter;
    overflow: hidden;
    width: auto;
    float: none;
    position: relative;

    .organisations-icon-list {
      overflow: hidden;
      width: 100%;
      padding-bottom: $gutter-one-third;
      @include media (640px) {
        padding-bottom: $gutter-half;
      }

      li {
        list-style: none;
        color: $text-colour;
        margin-bottom: $gutter-one-sixth;
        @include media (640px) {
          margin-bottom: $gutter-one-third;
        }
        a[rel=external] {
          padding-right: 0;
          margin-right: 0;
        }
      }
      .show-other-content {
        float: left;
        padding-left: $gutter-one-third;
        padding-right: $gutter-one-third;
        @include ig-core-14;
      }
    }

    .label {
      @include ig-core-14;
      margin-bottom: 0;
      max-width: 33em;
      a {
        white-space: nowrap;
      }
    }
    .page_title {
      margin: 0 0 $gutter;
      padding-top: 0;
    }
    .page-meta {
      @include ig-core-19;
      max-width: 33em;
      p {
        display: inline;
      }
      .inapplicable-nations a {
        text-decoration: underline;
      }
    }
    .more-like-this {
      margin-top: $gutter-one-third;
      padding-top: $gutter-one-sixth;
      border-top: 1px solid $detailed-guidance-brand;
      a {
        color: $detailed-guidance-brand;
        text-decoration: none;
      }
    }

    .replaces-businesslink {
      @include ig-core-16;
      padding-top: 10px;

      @include media(desktop){
        float: right;
      }
      p {
        color: $text-colour;
      }
      .businesslink-logo {
        display: block;
        width: 84px;
        height: 33px;
        background-image: image-url("businesslink-logo.png");
      }
    }
  }

  .meta {
    @include ig-core-14;
    @include media(desktop) {
      float: right;
    }
  }

  .contextual-info {
    padding-top: $gutter-one-sixth;

    h1 {
      @include ig-core-19;
    }

    ol {
      border-top: 1px solid $border-colour;
      @include ig-core-16;
      padding: 0;
      margin: 0;

      li {
        margin-left: 0;
        padding-top: 0;
        list-style: none;
        &:before {
          content: none;
        }
      }
      .more-like-this {
        display: block;
        margin-top: $gutter;
        background: $detailed-guidance-brand;
        padding: $gutter-one-sixth;
        margin-left: 0;

        a {
          border-bottom: 0;
          padding: $gutter-one-sixth $gutter-one-sixth+32px $gutter-one-sixth $gutter-one-sixth;
          color: $white;
          background: transparent image-url("down-arrow-small.png") no-repeat 100% 100%;
        }
      }
      a {
        display: block;
        padding: $gutter-one-sixth 0;
        border-bottom: 1px solid $border-colour;
      }
    }
  }

  .back-to-content {
    position: fixed;
    padding-left: $gutter;
    top: $gutter-half;
    a {
      display: block;
    }
  }

  .in-page-navigation {
    h3 {
      @include ig-core-16;
    }
    li {
      @include ig-core-16;
      padding: 0;
      list-style: disc;
    }
  }

  .related-mainstream-content {
    @include media(desktop){
      float: right;
      width: 33.33%;
      padding: 0 0 $gutter $gutter;
    }

    position: relative;
    z-index:1;

    .inner {
      padding: $gutter-one-third;
      background: $panel-colour none no-repeat 98% $gutter-two-thirds;

      h4 {
        margin-bottom: $gutter-one-sixth;
      }
    }
  }

  .document {
    display: inline;
    .body {
      margin-top: -2px;
    }
    .body,
    .govspeak {
      display: inline;
    }
  }


  .block.related-links {
    padding-bottom: 0;
    @include media(desktop){
      padding-bottom: $gutter;
    }

    .inner-block {
      @include media(desktop){
        padding: 0;
      }
    }
  }

  .aside-more-like-this {
    h1 {
      @include ig-core-27;
      background: $detailed-guidance-brand;
      color: $white;
      padding: $gutter-one-third;
      @include media(desktop){
        margin: $gutter;
      }
    }

    section {
      @include media(desktop){
        width: 75%;
        float: left;
      }

      .inner {
        @include media(desktop){
          margin: 0 $gutter;
        }
      }

      h2 {
        @include ig-core-27;
      }

      ul {
        @include ig-core-19;
        color: $detailed-guidance-brand;

        li {
          margin-left: 1.15em;
        }
      }
    }

    .categories {
      @include media(desktop){
        width: 25%;
      }

      .inner {
        background: $panel-colour;
        padding: 0 $gutter-one-third $gutter-one-third;
      }

      h2 {
        @include ig-core-19;
        color: $text-colour;
      }

      ul {
        @include ig-core-16;
      }
    }

    section {
      a {
        color: $detailed-guidance-brand;
      }

    }
  }

  @include ie(8) {
    padding-top: $gutter-half; // to fix margin-top floating sibling bug
  }

  .document-page .meta {
    margin: 0;
  }

  @include media(desktop) {
    .document-page .meta {
      position: relative;
      z-index: 49;
      margin-top: -37px;
    }
    .page-header {
      margin-top: $gutter-half;
      padding: $gutter $gutter $gutter-two-thirds;

      .organisations-icon-list {
        overflow: hidden;
        width: 100%;
        .organisation {
          float: left;
          margin-right: $gutter;
          position: relative;
        }
        &.extra-icons .organisation {
          margin-right: $gutter-one-third;
        }
      }
      .page-meta {
        float: left;
      }
    }
    .document-page {
      .page-header {
        float: none;
        width: auto;
      }
      .block-3 {
        width: 75%;
      }
      .block-4 {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
