.document-series-page {

  h2 {
    @include ig-core-27;
  }

  .page_title {
    @include ig-core-36;
  }

  .document-series-page .description {
    margin-top: 0;
  }

  .editions {
    clear: both;
    overflow: hidden;
    padding: $gutter/2 0 $gutter/2 0;
  }

  section#document_series {
    .document-list {
      margin-top: 0;
    }
  }

  @include media(desktop) {
    .block-2, .block-3 {
      float: left;
      display: inline;
      width: 33%;
    }
    .block-3 {
      width: 66%;
    }
  }

}
