// Styles for Documents view

.document_page {

  .block-1,
  .block-2,
  .block-3,
  .block-4 {
    padding-bottom: $gutter;
  }

  @include media(desktop) {
    .block-1:after {
      content: " ";
      display: block;
      clear: both;
      visibility: hidden;
    }
    .block-2 {
      clear: both;
      width: 25%;
      float: left;
      display: inline;
    }

    .block-3 {
      width: 75%;
      float: left;
      display: inline;
    }

    .block-4 {
      width: 75%;
      float: left;
      display: inline;
      margin-left: 25%;
    }
  }

  @include media(desktop){
    .page-header,
    .meta-context {
      width: 75%;
      float: left;
    }
    .meta-changes {
      text-align: right;
      padding-top: $gutter-half;
    }
  }

  .meta-topic,
  .meta-context {
    @include core-14;
    overflow: hidden;
    .notice {
      display: inline;
      float: left;
      width: 50%;
      p {
        background: none;
      }
    }
    p {
      display: inline;
    }
    ul, li {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  .document .body .attachment {
    margin: 0 0 $gutter-one-third 0;
  }

  .accessibility-warning {
    display: block;
    @include core-14;
  }

  .change-notes {
    display: inline-block;
    position: relative;
    @include core-14;
    min-width: 160px;
    padding: 0;

    .toggle {
      @include button($light-warm-grey);
      display: block;
      color: $body-text;
      text-align: center;
      padding: 0.313em 1em 0.375em;
      border: 1px solid darken($light-warm-grey, 5%);
      white-space: nowrap;
      &:focus {
        outline: none;
      }
    }
    &.open {
      .toggle {
        top: 0.2em;
        background: lighten($light-warm-grey, 5%);
        @include box-shadow(none);
      }
      &.toggleable .overlay {
        opacity: 1;
      }
    }
    .arrow {
      width: 0;
      height: 0;
      position: absolute;
      top: -4px;
      left: 70%;
      margin-left: -2px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $charcoal-grey;
    }
    .overlay {
      color: $white;
      background: $charcoal-grey;
      box-shadow: 0 1px 4px rgba(0,0,0,0.8);
      padding: $gutter-one-third 0;
      text-align: left;
      dt, dd {
        padding: 0 $gutter-one-third;
      }
      dd {
        margin-bottom: 3px;
        color: darken($white, 40%);
        &:before {
          content: '- ';
        }
      }
    }
    &.toggleable .overlay {
      position: absolute;
      top: 130%;
      left: -100%;
      width: 200%;
      z-index: 10;
      opacity: 0;
      display: block;
      @include transition(opacity, .5s, ease);
      &.visuallyhidden {
        left: -9999em!important;
        position: absolute;
      }
    }
    @include ie(6){
      display: block;
      .overlay {
        display: none;
        position: static;
        width: auto;
        .arrow {
          display: none;
        }
      }
      &.open {
        .overlay {
          display: block !important;
        }
      }
    }
  }

  .contextual-info {
    margin-bottom: $gutter-one-third*-1;
    position: relative;

    ul {
      list-style: none;

      li {
        @include sans-15;
      }
    }
  }

  .notice p {
    @include sans-12;
    padding: $gutter-one-third;
    margin-bottom: $gutter;
    background: yellow;
  }
}

.visuallyhidden {
  visibility: hidden;
}
