.document-collection-page {

  h2 {
    @include core-27;
    padding-top: $gutter;
  }

  .description {
    margin-top: 0;
  }

  .summary {
    margin-top: $gutter;
    padding-bottom: $gutter;

    p {
      @include core-24;
    }
  }

  .editions {
    clear: both;
    overflow: hidden;
    padding: $gutter/2 0 $gutter/2 0;
  }

  .archive-notice {
    padding: $gutter-half;
    h2 {
      @include core-36;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }

  @include media(desktop) {
    .block-2, .block-3 {
      float: left;
      display: inline;
      width: $one-third;
    }
    .block-3 {
      width: $two-thirds;
    }
  }

}
