// Styles for Documents view

.document_page {

  .block-1,
  .block-2,
  .block-3,
  .block-4 {
    padding-bottom: $gutter;
  }

  @include media(desktop) {
    .block-1:after {
      content: " ";
      display: block;
      clear: both;
      visibility: hidden;
    }
    .block-2 {
      clear: both;
      width: 25%;
      float: left;
      display: inline;
    }

    .block-3 {
      width: 75%;
      float: left;
      display: inline;
    }

    .block-4 {
      width: 75%;
      float: left;
      display: inline;
      margin-left: 25%;
    }
  }

  @include media(desktop){
    .page-header,
    .meta-context {
      width: 75%;
      float: left;
    }
    .meta-changes {
      float: right;
      text-align: right;
    }
  }

  .meta-topic,
  .meta-context {
    @include core-14;
    overflow: hidden;
    .notice {
      display: inline;
      float: left;
      width: 50%;
      p {
        background: none;
      }
    }
    p {
      display: inline;
    }
    ul, li {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  .document .body .attachment {
    margin: 0 0 $gutter-one-third 0;
  }

  .accessibility-warning {
    display: block;
    @include core-14;
  }

  .change-notes {
    display: inline-block;
    position: relative;
    @include core-14;
    min-width: 160px;
    padding: 0;

    .toggle {
      @include button($light-warm-grey);
      display: block;
      color: $body-text;
      text-align: center;
      padding: 0.313em 1em 0.375em;
      border: 1px solid darken($light-warm-grey, 5%);
      white-space: nowrap;
      &:focus {
        outline: none;
      }
    }
    &.open {
      .toggle {
        top: 0.2em;
        background: lighten($light-warm-grey, 5%);
        @include box-shadow(none);
      }
      &.toggleable .overlay {
        opacity: 1;
      }
    }
    .arrow {
      width: 0;
      height: 0;
      position: absolute;
      top: -4px;
      left: 70%;
      margin-left: -2px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $charcoal-grey;
    }
    .overlay {
      color: $white;
      background: $charcoal-grey;
      box-shadow: 0 1px 4px rgba(0,0,0,0.8);
      padding: $gutter-one-third 0;
      text-align: left;
      dt, dd {
        padding: 0 $gutter-one-third;
      }
      dd {
        margin-bottom: 3px;
        color: darken($white, 40%);
        &:before {
          content: '- ';
        }
      }
    }
    &.toggleable .overlay {
      position: absolute;
      top: 130%;
      left: -100%;
      width: 200%;
      z-index: 10;
      opacity: 0;
      display: block;
      @include transition(opacity, .5s, ease);
      &.visuallyhidden {
        left: -9999em;
      }
    }
    @include ie(6){
      display: block;
      .overlay {
        display: none;
        position: static;
        width: auto;
        .arrow {
          display: none;
        }
      }
      &.open {
        .overlay {
          display: block !important;
        }
      }
    }
  }

  .contextual-info {
    margin-bottom: $gutter-one-third*-1;
    position: relative;

    ul {
      list-style: none;

      li {
        @include sans-15;
      }
    }
  }

  .notice p {
    @include sans-12;
    padding: $gutter-one-third;
    margin-bottom: $gutter;
    background: yellow;
  }
}


// The code below is for publicartions and consultations document pages so I think it lives here,
// I also think as it applies to the document page it should use the .document_page class.
// But because other sections that use the .document_page class i.e. news etc would break with the below styles
// I have decided to stay with the section classes for now.
// Russ (inside gov team)
.publication, .consultation {

  .block-1, .block-6 {
    margin-bottom: $gutter*2;
    overflow: hidden;
    .govspeak {
      clear: both;
      margin: 0;
      .attachment {
        margin: 0;
        padding-left: 26.5%;
        a.download {
          @include core-24;
          padding-right: 20%;
            img {
            margin-left: -43%;
            width: 25%;
          }
        }
        .order_url {
          clear: both;
          @include core-14;
        }
      }
    }
    .no-thumbnail {
      background: $light-warm-grey;
      overflow: hidden;
      padding-top: $gutter-half;
      width: 100%;
      h1 {
        @include core-14;
        float: left;
        display: inline;
        padding: $gutter-one-third 0 0 3%;
        width: 23%;
        @include media(desktop){
        padding: $gutter-one-third 0 0 13px;
        width: 24.5%;
        }
      }
      .govspeak {
        clear: none;
        float: left;
        display: inline;
        width: 73.3%;
      }
      .attachment {
        padding-left: 0;
      }
    }
  }

  .block-2, .block-4, .block-5, .block-6 {
    float: none;
    display: block;
    clear: both;
    margin-left: 0;
    padding-bottom: 0;
    width: 100%;
    h1 {
      @include core-24;
    }
    @include media(desktop){
    float: left;
    display: inline;
    clear: both;
    width: 25%;
    }
  }
  .block-6 {
    width: 100%;
  }
  .block-5, .block-7 {
    clear: none;
    @include media(desktop){
      float: left;
      display: inline;
      margin: 0 0 $gutter*2 0;
      width: 75%;
    }
    p:first-child {
      margin-top: 0;
    }
  }

  .contextual-info {
    a {
      top: -1px;
    }
  }

  .page-header {
    float: left;
    display: inline;
    width: 75%;
    h1 {
      margin-top: 0;
    }
    .label {
      color: #76787B;
    }
    .meta-context {
      width: 100%;
    }
  }

  .meta-changes {
    margin: $gutter-one-third 0;
    width: 25%;
  }

  .document-series {
    background-color: $light-blue;
    color: white;
    padding: $gutter-one-third $gutter-one-third $gutter-half 26.5%;

    span, a {
      display: block;
    }

    span {
      @include core-19;
    }

    a {
      @include core-27;
      color: white;
      text-decoration: underline;
    }
  }

  .summary {
    clear: both;
    margin-bottom: $gutter;
    p {
      @include core-19;
    }
  }

  .alternative-formats {
    h2 {
      margin: $gutter 0 0 0;
      color: lighten($body-text, 20%);
      @include core-27;
    }
    p {
      margin: $gutter-half 0;
    }
  }

  .govspeak, .document .body {
    margin: 0;
      .attachment {
      margin: 0 0 10px 0;
    }
  }

  .national-statistics-logo {
    margin-top: $gutter-one-third;
    width: $gutter;
  }


}

