// Styles for Documents view

.document_page {

  .block-2,
  .block-3,
  .block-4 {
    padding-bottom: $gutter;
  }

  @include media(desktop) {
    .block-2 {
      clear: both;
      width: $one-quarter;
      float: left;
      display: inline;
    }

    .block-3 {
      width: 75%;
      float: left;
      display: inline;
    }

    .block-4 {
      width: 75%;
      float: left;
      display: inline;
      margin-left: $one-quarter;
    }
  }

  @include media(tablet) {
    .page-header {
      width: 75%;
      float: left;
    }
  }

  .contextual-info {
    ul {
      list-style: none;

      li {
        float: none;
        @include ig-core-16;
      }
    }
  }

  .notice p {
    @include ig-core-16;
    padding: $gutter-one-third;
    margin-bottom: $gutter;
    background: yellow;
  }
}
