// Styles for Documents view

.document_page {
  
  .block-2,
  .block-3,
  .block-4 {
    padding-bottom: $gutter;
  }

  @media (min-width: 768px) {
    .block-2 {
      width: 20%;
      float: left;
      display: inline;
    }
    
    .block-3 {
      width: 50%;
      float: left;
      display: inline;
    }
    
    .block-4 {
      width: 30%;
      float: left;
      display: inline;
    }
  }
  
  .metadata {
    display: block;
    margin-bottom: $gutter-two-thirds*-1;
  }

  .accessibility-warning {
    display: block;
  }

  @media (min-width: 768px) {
    .metadata {
      margin-bottom: 0;
    }
  }
  
  .change-notes-container {
    margin-bottom: $gutter-one-third*-1;
    position: relative;
    
    .change-notes {
      position: absolute;
      top: 100%;
      //left: 0;
      width: 70%;
      z-index: 10;
      padding: $gutter-half $gutter;
      color: $white;
      background: $charcoal-grey;
      box-shadow: 0 1px 2px rgba(0,0,0,0.4);
      
      h1 {
        @include sans-18;
      }
      
      li {
        @include sans-12;
      }
    }
  }
  
  @media (min-width: 768px) {
    .change-notes-container {
      margin-bottom: $gutter-one-third;
      .change-notes {
        width: 150%;
      }
    }
  }
  
  .contextual-info {
    margin-bottom: $gutter-one-third*-1;
    position: relative;
    
    ul {
      list-style: none;
    
      li {
        @include sans-15;
      }
    }
  }
  
  .notice p {
    @include sans-12;
    padding: $gutter*0.333333;
    margin-bottom: $gutter;
    background: yellow;
  }
  
  #document-organisations {
    position: relative;
    margin-bottom: $gutter;
    padding: $gutter-one-third $gutter-one-third $gutter-one-third*0.5;
    background: #eee;
    
    ul {
      list-style: none;
    }
    
    li {
      padding-bottom: 4px;
    }
    
    li + li {
      padding-top: $gutter-half;
    }
  }
  
  #document-ministers {
    position: relative;
    margin-bottom: $gutter;
    padding: 0 $gutter-one-third;
    background: #eee;
    
    ul {
      list-style: none;
    }
    
    li {
      
      h3 {
        @include sans-18;
        margin-bottom: $gutter-two-thirds*-1;
      }
      p {
        @include sans-15;
      }
    }
  }
      
  #document-organisations + #document-ministers {
    margin-top: $gutter*-1;
    padding-top: $gutter;
  }
}


.organisation-logo-small {
  position: relative;
  display: block;
  overflow: visible;
  padding: 28px 0 0 8px;
  border-left: 2px solid #bbb;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  background: url("/government/assets/coa-default-24.gif") no-repeat 8px -1px;
  
  &.single-line {
    padding: 2px 0 2px 46px;
  }
  a {
    position: relative;
    bottom: -3px;
    text-decoration: none;
  }
}
