// Styles for Documents view

.document_page {

    .page_header {
      padding-bottom: $gutter*2;

      h1 {
        @include brand-45;
      }

      h2 {
        position: relative;
        @include brand-13;
        margin-bottom: $gutter*-0.666666;
      }
    }
    
    .metadata {
      @include sans-15;
      display: block;
    }
    
    .change_notes_container {
      @include sans-15;
      margin-bottom: $gutter*0.333333;
      position: relative;
      
      .change_notes {
        position: absolute;
        top: 100%;
        left: 0;
        width: 150%;
        z-index: 10;
        padding: $gutter*0.5 $gutter;
        color: #fff;
        background: #333;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        
        h1 {
          @include sans-18;
        }
        
        li {
          @include sans-12;
        }
      }
    }
    
    .contextual_info p {
      @include sans-12;
    }
    
    .notice p {
      @include sans-12;
      padding: $gutter*0.333333;
      margin-bottom: $gutter;
      background: yellow;
    }
    
    .document p {
      @include sans-20;
    }
    
    #document_organisations {
      padding: $gutter*0.333333 $gutter*0.333333 $gutter;
      background: #eee;
      
      ul {
        list-style: none;
      }
    }
    
    #document_ministers {
      padding: 0 $gutter*0.333333 $gutter*0.333333;
      background: #eee;
      
      ul {
        list-style: none;
      }
    }



   	@media (min-width: 768px) {
      // hacky layout styles, until get opportunity to fix markup
      .page_header + .g1f {
        width: 20%;
        float: left;
        display: inline;
        
        .group,
        .contextual_info {
          padding-right: $gutter;
        } 
      }
      
      .document_view {
        width: 60%;
        float: left;
        display: inline;
        
        .notice,
        .document {
          padding: 0 $gutter;
        }
      }
      
      .document_view + .g1f {
        width: 20%;
        float: left;
        display: inline;
      }
    }
}

.organisation_logo_small {
  position: relative;
  display: block;
  overflow: visible;
  padding: 28px 0 0 8px;
  border-left: 2px solid #bbb;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  background: url("/government/assets/coa-default-24.gif") no-repeat 8px -1px;
  
  a {
    position: relative;
    bottom: -3px;
    text-decoration: none;
  }
}