.document-series-page {

  h2 {
    @include core-27;
  }

  .page_title {
    @include core-36;
  }

  .document-series-page .description {
    margin-top: 0;
  }

  .summary {
    margin-top: $gutter;
    padding-bottom: $gutter;

    p {
      @include core-24;
    }
  }

  .editions {
    clear: both;
    overflow: hidden;
    padding: $gutter/2 0 $gutter/2 0;
  }

  @include media(desktop) {
    .block-2, .block-3 {
      float: left;
      display: inline;
      width: 33%;
    }
    .block-3 {
      width: 66%;
    }
  }

}
