.email-signup-information-show {
  h1 {
    @include heading-48;
    font-weight: bold;
    margin-top: $gutter;

    @include media(tablet) {
      margin: ($gutter * 2) 0 $gutter-half;
    }
  }

  h2 {
    @include heading-24;
    font-weight: bold;
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter;
    }
  }

  .category {
    @include core-27;
    color: $secondary-text-colour;
  }

  .choices {
    padding: $gutter-one-third 0 $gutter-half;

    @include media(tablet) {
      max-width: $two-thirds;
      padding: $gutter-one-third 0 $gutter;
    }
  }

  p {
    @include core-19;
    margin-bottom: $gutter-one-third;
  }
}
