.email-signup-show {
  p {
    @include core-19;
    margin:$gutter/2 0;
  }
  strong {
    font-weight:bold;
  }
  .email-header {
    h1 {
      @include heading-36;
      font-weight: bold;
      margin: $gutter 0;
    }
    h2 {
      @include heading-27;
    }
    p {
      @include core-19;
      color: $secondary-text-colour;
    }
  }

  .signup-form {
    margin: $gutter-half 0;
    
    input[type=checkbox]  {
      vertical-align: top;
    }
    
    .submit {
      margin: $gutter 0;

      button {
        @include button($color: $turquoise);
        @include core-19;
      }
      p {
        margin: $gutter-half 0;
        color: $secondary-text-colour;
        max-width: 25em;
      }
    }
  }
}
