.featured {
	overflow: hidden;
	width: 80%;
	margin-bottom: $gutter*2;

	h2 {
		font-size: 2rem;
	}

	img {
		float: left;
		margin-right: $gutter-two-thirds;
		max-width: 45%;
	}
}

.thumbnail {
	background-color: $light-blue-grey;
	float: left;
	margin-right: 2%;
	padding: $gutter-two-thirds;
	width: 25%;
}
.thumbnail span {
	display: block;
}

