.group-show {
  .block-3 {
    clear: both;
    padding-top: $gutter;

    .label {
      @include heading-27;
      border-bottom-width: 5px;
      border-bottom-style: solid;
      margin-bottom: $gutter-half;
      @include media(tablet) {
        margin: 0 $gutter-half $gutter;
      }
    }

    .inner-block {
      padding: 0 $gutter-half;
    }

    .person-excerpt .inner {
      padding: 0 0 $gutter-half 0;
      @include media(tablet) {
        padding: 0 $gutter-half $gutter-half;
      }
    }
  }
}
