.historic-appointments:not(.historical-past-chancellors) .featured-profiles .year-block {
  @include govuk-media-query($until: tablet) {
    h2.profiles {
      margin: 0 0 govuk-spacing(1) 0;
    }

    .inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.historic-appointments {
  .historic-people-list {
    @include media(tablet) {
      float: left;
      width: $one-quarter;
    }

    h3 {
      @include govuk-font(19);
      margin: govuk-spacing(6) 0;

      span {
        @include core-80;
        font-weight: bold;
        display: block;
      }
    }
  }
}

.historic-appointments-index {
  .featured-profiles {
    @include media(tablet) {
      width: 75%;
      float: left;
    }

    .year-block {
      @include media(tablet) {
        width: $one-third;
        float: left;
      }

      h2 {
        @include core-19;
        font-weight: bold;
        border-bottom: $gutter-one-sixth solid;
        margin: 0 $gutter-half $gutter-one-sixth;
      }

      .person-excerpt {
        width: $full-width;
        float: none;
        @include media(tablet) {
          min-height: 280px;
        }

        h3 {
          @include core-19;
          font-weight: bold;
        }

        p {
          color: $secondary-text-colour;
        }

        img {
          width: $full-width;
        }

        .govuk-link {
          line-height: 1.16;
        }
      }
    }
  }
}

.historical-past-chancellors {
  .featured-profiles {
    @include media(tablet) {
      width: $full-width;
    }

    .year-block {
      @include media(tablet) {
        width: $one-quarter;
      }

      .person-excerpt {
        min-height: 0;
      }
    }
  }
}
