.home-history {
  .image {
    margin-bottom: govuk-spacing(3);

    figcaption {
      @include core-16;

      color: $govuk-secondary-text-colour;
      padding-top: govuk-spacing(1);
    }
  }

  .notable-people,
  .documents-and-records {
    padding-top: govuk-spacing(4);

    @include media(tablet) {
      padding-top: 0;
    }
  }
}
