.histories-show {
  .app-figure {
    margin-bottom: govuk-spacing(6);

    figcaption {
      color: $secondary-text-colour;
      padding-top: govuk-spacing(4);
    }
  }

  .app-quote {
    p {
      color: $govuk-secondary-text-colour;

      @include govuk-media-query($until: tablet) {
        padding-left: govuk-spacing(2);
      }


      &:before {
        @include core-48;
        clear: both;
        content: "\201C";
        float: left;
        margin-left: 0 - govuk-spacing(5);
        margin-top: 0 - govuk-spacing(1);
      }

      &:last-child:after {
        content: "\201D";
      }
    }

    cite {
      color: $govuk-secondary-text-colour;
      font-style: normal;
      position: relative;
      top: -1em;
    }
  }
}
