.history {
  @include core-19;

  h2 {
    @include heading-27;
    font-weight: bold;
    margin-bottom: $gutter-half;
    @include media(tablet) {
      padding: 0;
      margin-bottom: $gutter-two-thirds;
    }
  }

  .keyline {
    clear: both;
    margin: 0 $gutter-half $gutter;
    border: solid $border-colour;
    border-width: 0 0 1px;
  }

  .block {
    clear: both;
    padding-bottom: $gutter*2;
    ul {
      margin-top : $gutter;
      li {
        list-style: none;
        margin-bottom: $gutter-one-sixth;
        &:before {
          content: "-";
          margin-right: $gutter-one-sixth;
        }
      }
    }
  }

  .content {
    padding: 0 $gutter-half;
  }

  .header-block {
    .inner-block {
      padding: $gutter*1.5 0 $gutter;
      @include media(tablet) {
        padding: $gutter*1.5 $gutter-half $gutter*2;
      }

      .header-title, .jump-links {
        h1 {
          @include heading-48;
          font-weight: bold;
        }
        .intro {
          @include core-27;
          margin: $gutter-half 0;
          @include media(tablet) {
            margin: 0;
          }
        }
        @include media(tablet) {
          float: left;
          display: inline;
          width: 80%;
        }
      }
    }
  }

  .floated-children {
    .column {
      img {
        margin-bottom: $gutter-half;
        width: 100%;
      }
      @include media(tablet) {
        float: left;
        width: 50%;
      }
    }
  }

  .introduction {
    padding-bottom: $gutter;

    p {
      margin-bottom: $gutter;
      &.intro {
        font-weight: bold;
      }
    }
    .keyline {
      border: solid $black;
      border-width: 0 0 $gutter-one-sixth;
    }
    @include media(tablet) {
      .image {
        width: 33.33%;
      }
      .copy {
        width: 66.66%;
      }
    }
  }

  .government-buildings {
    padding-bottom: $gutter*1.5;
    @include media(tablet) {
      padding-bottom: $gutter*2;
    }

    img {
      margin-top: $gutter;
      @include media(tablet) {
        margin-top: 0;
      }
    }
  }

  .historical-articles, .government-history {
    .inner-block {
      padding: 0 $gutter-half;
    }
    @include media(tablet) {
      clear: none;
      float: left;
      width: 50%;
    }

    .content {
      padding: 0;
      @include media(tablet) {
        padding: 0 0 0 $gutter-half;
      }
    }
    .keyline {
      margin: 0 0 $gutter;
      @include media(tablet) {
        margin: 0 0 $gutter $gutter-half;
      }
    }
  }

  .government-history {
    .content {
      @include media(tablet) {
        padding: 0 $gutter-half 0 0;
      }
    }
    .keyline {
      @include media(tablet) {
        margin: 0 $gutter-half $gutter 0;
      }
    }
  }

}
