
.inside_gov_sunset {

  h1 {
    @include ig-core-48;
    margin: 0 0 $gutter;
    @include media(desktop) {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .block-1, .block-2 {
    float: none;
    display: block;
    width: 100%;
    margin-top: $gutter*2;
  }

  .block-1 {

    p {
      @include ig-core-19;
      margin-bottom: $gutter-half;
      &:nth-child(2) {
        margin-bottom: $gutter;
      }
    }

    p.intro {
      @include ig-core-27;
    }

  }

  .block-2 {
    margin-bottom: $gutter;
    img {
      width: 100%;
    }
    .first {
      margin: 0 25%;
      width: 50%;
    }
  }

  @include media(tablet) {
    .block-1, .block-2 {
      float: right;
      display: inline;
      width: 50%;
    }
    .block-2 {
      float: left;
      .first {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.inside_gov_homepage {

  // typography

  h2 {
    @include ig-core-27;
    @include bold;

    border-bottom: 5px solid $black;
    margin-bottom: $gutter;
  }

  h3 {
    @include ig-core-27;
    @include bold;
  }

  // desktop columns
  .organisations-inner, .topics-section {
    @extend %contain-floats;
  }

  // section specific styles

  .intro-section {
    margin-top: $gutter*1.5;;

    h1 {
      @include bold;
      margin-bottom: $gutter;
    }

    p.intro {
      @include ig-core-27;
    }

    @include media(tablet) {
      p.intro {
        width: 66.666%;
        padding-right: 33.333%;

        background: transparent image-url('homepage-crest.png') no-repeat 95% 50%;

        @include hidpi {
          background-image: image-url('homepage-crest-x2.png');
          background-size: 149px 112px;
        }

      }
    }

    @include media(desktop) {
      clear: both;
      background-position: 90% 50%;
    }
  }

  .organisations-section {
    margin-top: ($gutter*2);

    .live-count {
      @include ig-core-27;
      margin-bottom: $gutter;
    }

    .organisation-count {
      @include ig-core-80;
      @include bold;
      display: block;

      @include media(tablet) {
        @include ig-core-48;
      }

      @include media(desktop) {
        @include ig-core-80;
      }
    }

    h2 {
      @include media(tablet) {
        padding-right: 33%;
        min-height: (30/27)*3em;
      }

      @include media($min-width: '753px') {
        min-height: (30/27)*2em;
      }

      @include media(desktop) {
        min-height: auto;
      }

      @include media($min-width: '900px') {
        padding-right: 0;
      }
    }

    .coming-soon {
      padding-top: $gutter;

      h3 {
        @include ig-core-19;
      }
      p {
        @include ig-core-16;
      }
    }

    .departments {
      h2 { border-color: $grass-green; }
      a { color: $grass-green; }
    }

    .agencies {
      h2 { border-color: $light-blue; }
      a { color: $light-blue; }
      margin-top: $gutter*2;
    }

    @include media(tablet) {
      padding: 0;
      clear: both;

      .organisations-inner {
        padding: 0 $gutter-half;

        .inner-block {
          padding: 0 $gutter-half;
        }
      }

      .departments, .agencies {
        width: 50%;
        float: left;
        margin-top: 0;
      }
    }
  }

  .topics-section {
    margin-top: ($gutter*2);

    h2 {
      border-color: $fuschia;
    }

    a { color: $fuschia; }

    p {
      @include ig-core-16;
    }

    @include media(tablet) {
      clear: both;
      padding: 0 $gutter-half;

      .inner-block {
        padding: 0 $gutter-half;
      }

      .topics-column {
        width: 33.333%;
        float: left;
      }
    }
  }

  .govspeak {
    margin-top: ($gutter*2);

    .information-block {
      margin-left: 0;
      border: 5px solid $purple;
      border-width: 5px 0;
    }

    p {
      margin: $gutter-half 0;
    }
  }
}
