
.inside_gov_how-gov-works {
  .full-width-section{
    clear:both;
  }
  ul{
    padding-left:1.2em;
  }
  p, li{
    @include core-19;
  }
  .thirds-width-section,
  .halves-width-section{
    overflow:visible;
    margin-left:-$gutter;
    margin-right:-$gutter;
    clear:both;
    margin-top:$gutter;
    margin-bottom:$gutter*2;
    div{
      float:left;

    }
    .two-thirds{
      width:66%;
      margin-bottom:$gutter;
    }
    .one-third{
      width:33%;
      margin-bottom:$gutter;
    }
    .one-half{
      width:50%;
      margin-bottom:$gutter;
    }
  }
  .ministers{
    margin-bottom:$gutter*2;
  }
  .gov-types, .ministers, .cabinet, .coalition, .policy, .civil-service{
    h3{
      border-top:1px solid $light-keyline;
      padding-top:$gutter-half;
    }
  }
  .coalition p{
    background-color:$info-background;
    padding:$gutter-half;
    margin-top:-0.5em;
  }
  .civil-service{
    margin-top:$gutter;
    .two-thirds{
      margin-top:-$gutter*2;
    }
    table {
      margin-bottom:$gutter-half;
      margin-top:$gutter-half;
      tr{
        border-bottom:1px solid $light-keyline;
        td{
          padding-right:$gutter;
        }
      }
    }
  }
  .civil-pie{
    display:block;
    height:10em;
    width:13.5em;
    padding-top:5em;
    background-color:#fff;
    vertical-align:middle;
    text-align:center;
    background-image: image-url("how-gov-works/Civil_Service_Info.png");
    background-repeat:no-repeat;
  }
  .feature-value{
    font-size:5em;
    padding-top:0.4em;
    padding-bottom:0;
    margin:0;
    color:$inside-gov-brand;
    @include bold;
    display:block;
    line-height:1em;
  }

  .feature-ministers{
    p{
      color: #999;
      @include core-48;
    }
    span.circle{
      background-color:$info-background;
      border:1px solid $info-background;
      width:4em;
      height:4em;
      -moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 5em;
      display:inline-block;
      text-align:center;
      padding:0;
      vertical-align: middle;

      .count{
        font-size:1.9em;
        padding-top:0.4em;
        padding-bottom:0;
        margin:0;
        color:$inside-gov-brand;
        @include bold;
        display:block;
        line-height:1em;
      }

      span{
        color:black;
        @include core-19;
        display:block;
        padding:0;
        margin:0;
      }
    }
  }
  h1 {
    @include core-48;
    @include bold;
    margin: 0 0 $gutter;
    @include media(desktop) {
      margin-top: 0;
    }
  }
  h2{
    @include core-36;
    border-bottom: 5px solid $inside-gov-brand;
    margin: 0 0 $gutter;
    clear:both;
  }
  h3{
    @include core-27;
    @include bold;
    margin: 0 0 $gutter-half;
    width:100%
  }
  h4{
    @include core-24;
    @include bold;
  }
  .block-1, .block-2 {
    float: none;
    display: block;
    width: 100%;
    margin-top: $gutter*1.5;
  }
   
  p.intro {
    @include core-27;
    margin-bottom:$gutter;
  }

  

  

  
}
