.inside_gov_how-gov-works {
  .full-width-section{
    clear:both;
  }

  p, li{
    @include ig-core-19;
    a {
      text-decoration: underline;
    }
  }

  li {
    margin-left: $gutter;
  }

  .thirds-width-section,
  .halves-width-section {
    overflow:visible;
    clear:both;
    margin-top:$gutter - $gutter-one-sixth;
    margin-bottom:$gutter-two-thirds;
    @extend %contain-floats;
    img {
      width: 100%;
      height: auto;
    }

    .inner-block {
      padding: 0;
    }

    @include media(tablet) {
      margin-left:-$gutter-half;
      margin-right:-$gutter-half;

      .inner-block {
        padding: 0 $gutter-half;
      }

      .two-thirds {
        width: 66.666%;
        margin-bottom: $gutter;
        float: left;
      }
      .one-third {
        width: 33.333%;
        margin-bottom: $gutter;
        float: left;
      }
      .one-half {
        width: 50%;
        margin-bottom: $gutter;
        float: left;
      }
    }
  }

  .depts {
    .two-thirds,
    .one-third {
      margin-bottom: 0;
    }
  }

  .ministers{
    margin-bottom:$gutter*2;
  }

  .coalition {
    margin-top: $gutter;

    @include media(tablet) {
      margin-top: 0;
    }

    p{
      background-color:$panel-colour;
      padding:$gutter-half;
      margin-top:-0.5em;
    }
  }

  .civil-service{
    margin-top:$gutter;

    @include media(tablet) {
      .two-thirds{
        margin-top:-$gutter*2;
      }
    }

    table {
      width: 100%;
      margin-bottom:$gutter-half;
      margin-top:$gutter-half;
      tr{
        border-bottom:1px solid $border-colour;
        td{
          padding-right:$gutter;
        }
      }
      strong {
        @include bold;
        border-left: 1.3em solid #eee;
        padding-left: $gutter-one-third;
      }
      .dwp strong {
        border-color: #00beb7;
      }
      .hmrc strong {
        border-color: #008080;
      }
      .moj strong {
        border-color: #231f20;
      }
      .mod strong {
        border-color: #7A5F71;
      }
      .others strong {
        border-color: #c8c8c8;
      }
    }
    .caption {
      @include ig-core-16;
    }
  }
  .civil-pie {
    display:block;
    height: 190px;
    max-width: 250px;
    margin: 0 auto;
    padding-top: 95px;
    background-color:#fff;
    vertical-align:middle;
    text-align:center;
    background-image: image-url("how-gov-works/Civil_Service_Info.png");
    background-repeat:no-repeat;
    background-size: 100% auto;

    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image: image-url("how-gov-works/Civil_Service_Infox2.png");
      background-size: 100% auto;
    }

    margin: 0 auto;
    @include media(tablet) {
      margin: 0;
    }
  }

  .feature-value{
    font-size:5em;
    padding-bottom:0;
    margin:0 0 ($gutter-one-third * -1);
    color:$inside-gov-brand;
    font-weight: bold;
    display:block;
    line-height:1em;
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .feature-caption {
    @include ig-core-16;
    display: block;
    padding-bottom: $gutter;
  }

  .feature-ministers{
    p {
      text-align: center;
      color: #999;
      @include ig-core-48;
      padding: $gutter-half 0 $gutter;
    }

    span.circle {
      display: inline-block;
      text-align: center;
      padding: 0;
      vertical-align: middle;
      width: 17%;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .count {
        @include core-48;
        position: relative;
        top: $gutter-one-third;
        padding: 0;
        margin: 0 0 $gutter-one-sixth 0;

        font-size: 1.9em;
        font-weight: bold;
        display: block;
        line-height: 1em;
        a {
          color:$coalition-green;
        }
      }

      @include media(tablet) {
        background-color:$panel-colour;
        border:1px solid $panel-colour;
        width:4em;
        height:4em;
        -moz-border-radius: 2em;
        -webkit-border-radius: 2em;
        border-radius: 5em;

        .count{
          padding-top: 0.4em;
          font-size: 1.9em;
          font-weight: bold;
        }
      }

      span{
        color:black;
        @include ig-core-16;
        display: block;
        padding: 0;
        margin: 0;
      }
    }

    @include media(tablet) {
      span.invert {
        background-color: $coalition-green;
        border-color: $coalition-green;
        .count a, span {
          color: white;
        }
      }
    }
  }

  .ministers .caption {
    max-width: 26em;
  }

  .policy-count {
    text-align: center;
    p {
      @include ig-core-16;
    }

    p.circle{
      background-color:$panel-colour;
      border:1px solid $panel-colour;
      width:192px;
      height:192px;
      -moz-border-radius: 96px;
      -webkit-border-radius: 96px;
      border-radius: 96px;
      display:block;
      margin: 0 auto;
      text-align:center;
      padding:0;
      margin-bottom: $gutter-half;
      vertical-align: middle;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .count{
        position: relative;
        top: $gutter-one-third;
        font-size:95px;
        padding-top:0.4em;
        padding-bottom:0;
        margin:0;
        font-weight: bold;
        display:block;
        line-height:1em;
      }
    }
  }

  h2 {
    @include ig-core-36;
    padding-bottom: 1px;
    border-bottom: 5px solid $inside-gov-brand;
    margin: $gutter 0 $gutter;
    clear:both;

    @include media(tablet) {
      margin-top: $gutter*2;
    }
  }

  h3 {
    @include ig-core-27;
    font-weight: bold;
    margin: 0 0 $gutter-two-thirds;
    width:100%;
    &.with-gutter {
      margin-top: $gutter-half;
    }
  }

  .prime-minister,
  .dep-prime-minister {
    h3 {
      @include ig-core-27;
      font-weight: bold;
    }
  }

  .depts-cont,
  .gov-types {
    h3 {
      @include ig-core-19;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .gov-types, .ministers, .cabinet, .coalition, .civil-service{
    h3{
      border-top:1px solid $border-colour;
      padding-top:$gutter - $gutter-one-sixth;
    }
  }

  .ministers {
    h3 {
      margin-bottom: 0;
      @include media(tablet) {
        margin-bottom: $gutter-half;
      }
    }
  }

  h4 {
    @include ig-core-19;
    font-weight: bold;
    &.with-gutter {
      margin-top: $gutter-half;
    }
  }
  .block {
    float: none;
    display: block;
    width: 100%;
  }

  p.small-print {
    @include ig-core-14;
  }
  h2.coalition {
    border-color: $coalition-green;
  }
  .coalition h3 {
    border-color: $coalition-green;
    border-width: 5px;
    padding-top: $gutter - 9px;
  }

  hr.keyline {
    margin: 0;
    border: solid $border-colour;
    border-width: 0 0 1px;
  }

  .get-involved {
    p {
      clear: both;
      @include media(tablet) {
        padding: 0 $gutter-half;
      }
    }
    @include media(tablet) {
      padding-bottom: $gutter;
      h3 {
        padding: 0 $gutter-half;
      }
    }
    .one-third p {
      padding: 0;
    }
  }

  @media (min-width: 640px) and (max-width: 900px) {
    .prime-minister,
    .history {
      .one-half {
        width: 66.666%;
        &:first-child {
          width: 33.333%;
        }
      }
    }

    .cabinet {
      .two-thirds,
      .one-third {
        width: 50%;
      }
    }

    .depts-cont,
    .legislation,
    .access-information {
      .one-third {
        float: right;
        width: 66.666%;
        &:first-child {
          float: left;
          width: 33.333%;
        }
      }
    }

    .depts-cont .one-third:nth-child(2),
    .legislation .one-third:nth-child(4),
    .access-information .one-third:nth-child(2) {
      margin-bottom: $gutter-half;
    }

    .gov-types {
      .one-third {
        width: 100%;
      }
    }
  }

  @media (min-width: 640px) and (max-width: 760px) {
    .feature-ministers {
      p {
        font-size: 30px;
      }
      span.circle .count {
        top: 5px;
      }
      span.circle .caption {
        position: relative;
        top: -5px;
        @include ig-core-14;
      }
    }
  }

  @media (min-width: 761px) and (max-width: 980px) {
    .feature-ministers {
      p {
        font-size: 35px;
      }
      span.circle .count {
        top: 5px;
      }
      span.circle .caption {
        position: relative;
        top: -5px;
        @include ig-core-14;
      }
    }
  }

  @media (min-width: 811px) and (max-width: 980px) {
    .feature-ministers {
      p {
        font-size: 39px;
      }
      span.circle .count {
        top: 5px;
      }
      span.circle .caption {
        position: relative;
        top: -5px;
        @include ig-core-14;
      }
    }
  }

}
