
.inside_gov_how-gov-works {
  .full-width-section{
    clear:both
  }
  .thirds-width-section,
  .halves-width-section{
    margin-left:-$gutter;
    margin-right:-$gutter;
    clear:both;
    div{
      float:left;
    }
    .two-thirds{
      width:66%;
    }
    .one-third{
      width:33%;
    }
    .one-half{
      width:50%;
    }
  }
  .feature-ministers{
    p{
      color: #999;
      @include core-48;
    }
    span.circle{
      background-color:$info-background;
      border:1px solid $info-background;
      width:4em;
      height:4em;
      -moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 5em;
      display:inline-block;
      text-align:center;
      padding:0;
      vertical-align: middle;

      .count{
        font-size:1.9em;
        padding-top:0.4em;
        padding-bottom:0;
        margin:0;
        color:purple;
        display:block;
        line-height:1em;
      }

      span{
        color:black;
        @include core-19;
        display:block;
        padding:0;
        margin:0;
      }
    }
  }
  h1 {
    @include core-48;
    margin: 0 0 $gutter;
    @include media(desktop) {
      margin-top: 0;
      padding-top: 0;
    }
  }
  h2{
    @include core-36;
    border-bottom: 3px solid $inside-gov-brand;
    margin: 0 0 $gutter;
    clear:both;
  }
  h3{
    @include core-27;
    margin: 0 0 $gutter-half;
  }
  h4{
    @include core-24;
  }
  .block-1, .block-2 {
    float: none;
    display: block;
    width: 100%;
    margin-top: $gutter*2;
  }

  
  p.intro {
    @include core-27;
  }

  

  

  
}
