.inside_gov_how-gov-works {
  .full-width-section {
    clear: both;
  }

  .thirds-width-section,
  .halves-width-section {
    overflow: visible;
    clear: both;
    margin-top: $gutter - $gutter-one-sixth;
    margin-bottom: $gutter-two-thirds;
    @extend %contain-floats;

    img {
      width: $full-width;
      height: auto;
    }

    .inner-block {
      padding: 0;
    }

    @include media(tablet) {
      margin-left: -$gutter-half;
      margin-right: -$gutter-half;

      .inner-block {
        padding: 0 $gutter-half;
      }

      .two-thirds {
        width: $two-thirds;
        margin-bottom: $gutter;
        float: left;
      }

      .one-third {
        width: $one-third;
        margin-bottom: $gutter;
        float: left;
      }

      .one-half {
        width: $half;
        margin-bottom: $gutter;
        float: left;
      }
    }
  }

  .depts {
    .two-thirds,
    .one-third {
      margin-bottom: 0;
    }
  }

  .ministers {
    margin-bottom: $gutter * 2;
  }

  .coalition {
    margin-top: $gutter;
  }

  .feature-value {
    display: block;

    .feature-value__count {
      display: block;
      font-size: 5em;
      font-weight: bold;
      line-height: 1;
    }

    @include govuk-media-query($from: tablet, $until: 815px) {
      &--small .feature-value__count {
        font-size: 3.85em;
      }
    }
  }

  .feature-value__caption {
    color: inherit;
    display: inline-block;
    margin: 0;
    padding: 0 .2em;
    position: relative;
    top: -.5em;
  }

  .feature-value__link {
    color: $govuk-link-colour;
    display: inline-block;
    text-decoration: none;

    &:focus {
      @include govuk-focused-text;
    }
  }

  .feature-ministers {
    text-align: center;
    color: $secondary-text-colour;
    padding: $gutter-half 0 $gutter;

    .feature-ministers__symbol,
    .feature-ministers__equals-wrapper {
      display: inline-block;
    }

    .feature-ministers__item {
      box-sizing: border-box;
      color: $govuk-text-colour;
      display: inline-block;
      margin: .5em 0;
      padding: 0;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      width: 5em;

      @include govuk-media-query($until: tablet) {
        &:hover {
          color: $govuk-link-hover-colour;
        }

        &:focus {
          @include govuk-focused-text;
        }
      }

      .count,
      .caption {
        display: block;
        line-height: 1em;
      }

      @include govuk-media-query($from: tablet) {
        border: .2em solid $inside-gov-secondary; // https://webaim.org/resources/contrastchecker/?fcolor=0B0C0C&bcolor=57DA95
        border-radius: 4.5em;
        height: 9em;
        width: 9em;
        padding-top: 1.85em;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        &:hover {
          color: $govuk-link-hover-colour;
          background: govuk-colour("white");
          border-color: $govuk-link-hover-colour;
        }

        &:focus {
          color: $govuk-focus-text-colour;
          background: $govuk-focus-colour;
          border-color: $govuk-focus-text-colour;
          outline: none;
        }

        .count,
        .caption {
          text-align: center;
        }

        .caption {
          display: inline-block;
          width: 6em;
        }
      }
    }

    @include media(tablet) {
      .feature-ministers__symbol {
        margin: 0 1em;
        position: relative;
        top: .25em;
      }

      .feature-ministers__item--invert {
        background-color: $inside-gov-secondary;
        border-color: $inside-gov-secondary;
      }
    }
  }

  .ministers .caption {
    max-width: 26em;
  }

  .block {
    float: none;
    display: block;
    width: $full-width;
  }

  p.small-print {
    @include ig-core-14;
  }

  h2.coalition {
    border-color: black;
  }

  .coalition h3 {
    border-color: black;
    border-width: $gutter-one-sixth;
    padding-top: $gutter - 9px;
  }

  hr.keyline {
    margin: 0;
    border: solid $border-colour;
    border-width: 0 0 1px;
  }

  .prime-minister,
  .cabinet {
    .one-half {
      &:first-child {
        float: right;
      }
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    .history {
      .one-half {
        width: $two-thirds;

        &:first-child {
          width: $one-third;
        }
      }
    }

    .prime-minister {
      .one-half {
        width: $one-third;

        &:first-child {
          width: $two-thirds;
        }
      }
    }

    .cabinet {
      .two-thirds,
      .one-third {
        width: $half;
      }
    }

    .legislation,
    .access-information {
      .one-third {
        float: right;
        width: $two-thirds;

        &:first-child {
          float: left;
          width: $one-third;
        }
      }
    }

    .depts-cont .one-third:nth-child(2),
    .legislation .one-third:nth-child(4),
    .access-information .one-third:nth-child(2) {
      margin-bottom: $gutter-half;
    }

    .gov-types {
      .one-third {
        width: $full-width;
      }
    }
  }

  @include govuk-media-query($from: mobile, $until: tablet) {
    .prime-minister,
    .cabinet {
      display: flex;
      display: -ms-flexbox;
      flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }
  }

  @include media(tablet) {
    .legislation,
    .access-information {
      .one-third {
        float: right;

        &:first-child {
          float: left;
          width: $one-third;
        }
      }
    }

    .legislation {
      .two-thirds {
        margin-bottom: $gutter-one-third;
      }
    }
  }
}
