.html-publications-show {
  @extend %contain-floats;

  padding: $gutter-half $gutter-half $gutter*3;
  @include media(tablet) {
    padding: $gutter $gutter $gutter*3;
  }

  .publication-external {
    @extend %contain-floats;
    margin: 0 0 $gutter-two-thirds;
    position: relative;

    .organisations {
      @include media(tablet) {
        width: $one-quarter;
        float: left;
      }
      .content {
        margin-bottom: $gutter-half;
      }
    }
    .return {
      color: $text-colour;
      @include media(tablet) {
        width: 75%;
        float: left;

        p {
          position: absolute;
          bottom: 2px;
          right: 0;
        }
      }
    }
  }

  .publication-header {
    @extend %contain-floats;
    @include white-links;
    background: $govuk-blue;
    padding: $gutter-one-third $gutter-half;
    margin: 0 (-$gutter-half);
    @include media(tablet) {
      padding: 0 $gutter;
      margin: 0;
    }

    .headings {
      overflow: hidden;
      h1 {
        @include core-48;
        font-weight: bold;
        margin: $gutter-one-sixth 0 $gutter-half;
        color: $white;

        @include media(tablet) {
          margin-bottom: $gutter*2;
        }
      }
      .document-type {
        @include core-27;
        display: block;
        margin: $gutter-two-thirds 0 0;
        @include media(tablet) {
          margin: $gutter*2.5 0 $gutter-one-third;
        }
      }
      p {
        margin: $gutter-half 0 $gutter-two-thirds;
        color: $white;
      }
    }

    strong {
      font-weight: bold;
    }
  }

  .in-page-navigation {
    color: $white;
    margin: 0 0 $gutter+$gutter-one-third;
    width: 100%;
    @include media(desktop) {
      width: 70%;
    }

    h2 {
      font-weight: bold;
    }
    ol {
      @include left-to-right {
        padding-left: $gutter;
      }
      @include right-to-left {
        padding-right: $gutter;
      }
      li {
        list-style: decimal;
        font-weight: bold;
      }
      &.unnumbered {
        padding-left: 0;
        li {
          list-style: none;
          &.numbered {
            margin-left: $gutter-two-thirds;
            @include media(desktop) {
              margin-left: $gutter;
            }
            a {
              .heading-number {
                @include bold-19($tabular-numbers: true);
                margin-left: -18px;
                @include media(desktop) {
                  margin-left: -20px;
                }
              }
            }
          }
        }
      }
    }
    a {
      color: $white;
      text-decoration: none;
      font-weight: normal;
    }
    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
  }

  .publication-content {
    position: relative;
    z-index: 2;

    .govspeak {
      @include media(tablet) {
        width: 75%;
        float: right;
        @include right-to-left{
          float: left;
        }
      }
    }
    .govspeak {
      h2 {
        @include core-36;
        margin: $gutter-half 0 $gutter-one-third;

        @include media(tablet) {
          margin: $gutter*2 0 $gutter-half;
        }
        .number {
          background: $white;
          padding-right: $gutter-one-third;
          font-weight: bold;
          @include media(tablet){
            @include core-80;
            font-weight: bold;
            position: absolute;
            margin: (-$gutter) 0 0 (-25%);
            width: 22%;
            padding: ($gutter+$gutter-one-sixth) 0 $gutter 3%;
            @include right-to-left {
              margin: (-$gutter) (-25%) 0 0;
              padding: ($gutter+$gutter-one-sixth) 3% $gutter 0;
            }
            @include ie(7) {
              margin-left: -35%;
            }
          }
        }
      }
      h3 {
        z-index: 5;
        position: relative;
        @include core-27;
        .number {
          background: $white;
          color: $secondary-text-colour;
          padding-right: $gutter-one-third;
          @include media(tablet) {
            padding-right: 0;
            display: inline-block;
            width: $gutter*2.5;
            margin-left: $gutter*-2.5;
          }
        }
      }
      h2, h3 {
        font-weight: bold;
        color: black;
        margin-top: $gutter;
        @include media(tablet) {
          margin-top: ($gutter*2) + $gutter-two-thirds;
        }
      }
      h4, h5, h6 {
        font-weight: bold;
        color: black;
        margin-top: $gutter;
        &+p, &+ul, &+ol {
          margin-top: 0;
        }
      }
      p, ul, ol {
        line-height: 1.4736842105;
        margin: $gutter-one-third 0;
        @include media(tablet) {
          margin: $gutter-two-thirds 0;
        }
        a {
          text-decoration: underline;
        }
        b, strong, i, em {
          font-style: normal;
        }
      }
      figcaption {
        @include core-16;
        font-weight: bold;
        margin: 0 0 $gutter-one-third;
        @include media(tablet) {
          margin: 0 0 $gutter-two-thirds;
        }
      }
      ul, ol {
        margin-left: 1.3em;
        @include ie(7) {
          margin-left: $gutter;
        }

        li {
          ol, ul {
            margin: 0 $gutter-two-thirds;
          }
        }
      }
      ol {
        list-style-type: decimal;
      }
      ol.legislative-list {
        list-style: none;
        margin-left: 0;
        ol {
          list-style: none;
        }
      }
      table, img {
        margin: $gutter-half 0;
        width: $full-width;
        height: auto;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: $gutter*2;
        th, td {
          @include core-14;
          background-color: transparent;
          vertical-align: top;
          text-align: left;
          padding: $gutter-one-third $gutter-two-thirds $gutter-one-third 0;
          border-bottom: 1px solid $grey-2;
          border-width: 0 0 1px 0;
        }
        th {
          font-weight: bold;
        }
        td {
          p, ul, ol {
            margin: 0;
          }
          p+p, p+ul, p+ol,
          ul+p, ul+ol,
          ol+p {
            margin-top: $gutter-one-third;
          }
        }
      }

      table.financial-data {

        .numeric {
          text-align: right;
          font-family: $NTA-Light-Tabular;
        }

        // make all elements inside thead look the same
        // (td can sometimes be used to overcome complexity of multiple lines in thead)
        // and make all of thead and tfoot stand out
        thead,
        tfoot {
          background-color: $grey-3;
        }
        thead th,
        thead td {
          font-weight: bold;
        }
        // don't make `th`s bold unless they are a section heading or a (sub)total row
        tbody th,
        tfoot th {
          font-weight: normal;
        }

        // needs padding due to occasional background colour
        // is intentionally small and not balanced with other padding
        // as tables can be quite wide
        tr > :first-child {
          padding-left: $gutter-one-third/2;
        }

        // add spacing so that groupings are clearer
        tr.section-heading > * {
          font-weight: bold;
          padding-top: $gutter;
        }

        // ideally this should be just a top margin on the tfoot
        // but as that is very tricky, this is more complex
        tbody:last-of-type tr:last-child > *,
        tfoot ~ tbody:last-of-type tr:last-child > * {
          padding-bottom: $gutter;
        }
        tbody:last-child tr:last-child > * {
          padding-bottom: $gutter-one-third;
        }

        // total and subtotal rows
        tr.subtotal > *,
        tr.total > * {
          border-top: 3px solid $grey-2;
        }

        tr.total > *,
        tbody tr.subtotal > * {
          font-weight: bold;
        }

        // the total is usually in the tfoot, so already has that background colour
        // but when it's used inside the tbody, it should also be highlighted
        tr.total {
          background-color: $grey-3;
        }
      }

      .contact {
        @extend %contain-floats;
        background: $panel-colour;
        margin: $gutter $gutter-half*-1;
        padding: $gutter-one-third $gutter-half;
        position: relative;

        h4 {
          @include core-19;
          font-weight: bold;
          margin: $gutter-one-third 0 0;
        }
        p {
          @include copy-19;
          margin: 0;
        }
        .email-url-number {
          p {
            margin: 0;
          }
          span {
            display: block;
          }
        }
        .comments {
          @include core-16;
        }
      }
      .call-to-action {
        margin: $gutter 0 $gutter;
        background: $panel-colour none no-repeat 98% $gutter-two-thirds;
        padding: $gutter-one-third ($gutter*2) $gutter-one-third $gutter-half;
        position: relative;

        h4 {
          margin-top: 0;
        }
        p {
          margin: 0;
          padding: 0;
        }
        ul, ol {
          margin-left: $gutter-two-thirds;
          list-style-position: outside;
        }
        h3 {
          padding: $gutter-one-sixth 0;
          margin-top: 0px;
          .number {
            background: none;
            @include media(tablet) {
              width: $gutter-one-third*9;
              margin-left: $gutter-one-third*-9;
            }
          }
        }
      }

      .fraction {
        sup,
        sub {
          @include core-14;
        }
        img {
          display: inline-block;
          width: auto;
          margin: 0 0 -5px 0;
        }
      }

      .stat-headline {
        margin-bottom: $gutter-half;

        @include media(tablet) {
          margin-bottom: $gutter;
        }

        p {
          @include bold-19;
          margin: 0;
        }

        em {
          display: block;
          @include bold-80;
          margin: 3px 0 -5px;
        }
      }

      & > .stat-headline:first-child {
        margin-top: $gutter;

        @include media(tablet) {
          margin-top: ($gutter * 2) + $gutter-two-thirds;
        }
      }
    }
  }
  .back-to-content {
    position: fixed;
    bottom: $gutter-half;
    a {
      display: block;

      &:before {
        content: "\2191 ";
      }
    }
  }
  .js-back-to-content-stop {
    clear: both;
  }

  @include right-to-left {
    direction: rtl;
  }
}
