.html-publications-show {
  @extend %contain-floats;

  padding: $gutter-half $gutter-half $gutter*3;
  @include media(tablet){
    padding: $gutter $gutter $gutter*3;
  }

  .publication-external {
    @extend %contain-floats;
    margin: 0 0 $gutter-two-thirds;
    position: relative;

    .organisations {
      @include media(tablet){
        width: 25%;
        float: left;
      }
      .content {
        margin-bottom: $gutter-half;
      }
    }
    .return {
      color: $text-colour;
      @include media(tablet){
        width: 75%;
        float: left;

        p {
          position: absolute;
          bottom: 2px;
        }
      }
    }
  }

  .publication-header {
    @extend %contain-floats;
    background: $light-blue;
    padding: $gutter-one-third;
    margin: 0 (-$gutter-half);
    @include media(tablet){
      padding: 0 $gutter;
      margin: 0;
    }

    .headings {
      overflow: hidden;
      h1 {
        @include core-48;
        font-weight: bold;
        margin: $gutter-half 0;
        color: $white;

        @include media(tablet){
          margin: $gutter*2.5 0 $gutter*2;
        }
      }
      p {
        margin: $gutter-half 0 20px;
        color: $white;
      }
    }
  }
  
  .in-page-navigation {
    color: $white;
    margin: 0 0 20px;
    h2 {
      font-weight: bold;
    }
    ol {
      padding-left: $gutter;
      li {
        list-style: decimal;
      }
    }
    a {
      color: $white;
    }
  }
  
  .publication-content {
    .govspeak {
      @include media(tablet){
        width: 75%;
        float: right;
      }
    }
    .govspeak {
      h2 {
        @include core-36;
        margin: $gutter-half 0 $gutter-one-third;

        @include media(tablet){
          margin: $gutter*2 0 $gutter-half;
        }
        .number {
          font-weight: bold;
          @include media(tablet){
            @include core-80;
            font-weight: bold;
            position: absolute;
            margin-top: $gutter-one-sixth;
            margin-left: -23%;
          }
        }
      }
      h3 {
        @include core-27;
      }
      h2, h3, h4, h5, h6 {
        font-weight: bold;
        color: black;
        margin-top: $gutter;
        @include media(tablet){
          margin-top: ($gutter*2) + $gutter-two-thirds;
        }
      }
      p, ul, ol {
        line-height: 1.4736842105;
        margin: $gutter-one-third 0;
        @include media(tablet){
          margin: $gutter-two-thirds 0;
        }
      }
      ul, ol {
        margin-left: 1.3em;
        @include media(tablet){
          margin-left: 0;
        }
        @include ie(7){
          margin-left: $gutter;
        }

        li {
          ol, ul {
            margin: 0 $gutter-two-thirds;
          }
        }
      }
      ol {
        list-style-type: decimal;
      }
      table, img {
        margin: $gutter-half 0;
        width: 100%;
        height: auto;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        border-top: 1px solid $grey-2;

        th {
          font-weight: bold;
        }
        th, td {
          @include core-14;
          vertical-align: top;
          text-align: left;
          padding: $gutter-one-third $gutter-two-thirds $gutter-one-third 0;
          border-bottom: 1px solid $grey-2;
        }
      }
    }
  }
}
