// Styles for Layouts view


#global-nav {
  margin: 0 30px;
  text-align: right;
  border-bottom: 2px solid $inside-gov-brand;

  li {
    display: inline;

    a {
      @include core-16;
      display: inline-block;
      padding: 10px 8px 8px;
      text-decoration: none;
      color: $inside-gov-brand;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }

    .current {
      margin-top: 4px;
      padding-top: 4px;
      background: #eee;
    }
  }

  #inside_gov_link a {
    float: left;
    padding-left: 0;
    text-transform: capitalize;
  }
}

.inner-block {
  padding: 0 $gutter;
}
