// Styles for Layouts view


.inner-block {
  padding: 0 $gutter-half;

  @include media(tablet){
    padding: 0 $gutter;
  }

  &.floated-children {
    @extend %contain-floats;

    padding: 0;

    @include media(tablet){
      padding: 0 $gutter-half;
    }
  }
}

.report-a-problem-toggle {
  clear: both;
  margin: $gutter;

  a {
    color: $secondary-text-colour;
  }
}

.report-a-problem-container {
  max-width: 33em;
}
