.mainstream-category-show {
  margin-bottom: 120px;

  a {
    color: $detailed-guidance-link-text;
  }

  .page-header,
  .guides,
  .no-results {
    background: #fff;
    padding: 0 $gutter;
  }

  .no-results {
    margin: $gutter 0;
  }

  .page-header {
    padding-top: $gutter-half;

    h1 {
      @include core-36;
    }
  }

  .guides {
    padding-top: $gutter-two-thirds;
    padding-bottom: $gutter;
    list-style: none;

    .guide {
      @include core-19;
      margin-bottom: $gutter-half;
    }
  }
}
