.mainstream-category-show {
  margin-bottom: $gutter;

  a {
    color: $link-colour;
  }

  .page-header,
  .guides {
    background: #fff;
    padding: 0 $gutter;
  }

  .no-results {
    background: $white;
    padding: $gutter $gutter $gutter*2 $gutter;
  }

  .page-header {
    padding-top: $gutter-half;

    h1 {
      @include ig-core-36;
    }
  }

  .guides {
    padding-top: $gutter-two-thirds;
    padding-bottom: $gutter;
    list-style: none;

    .guide {
      @include ig-core-19;
      margin-bottom: $gutter-half;
    }
  }
}
