
.ministers-index {

  .block-1 {
    padding-top: $gutter-one-sixth;
    
    .page-header {
      @extend %contain-floats;
      padding: $gutter-half 0 0;
      
      @include media(tablet){
        padding: $gutter*1.5 0 0;
      }
    
      h1 {
        width: 75%;
        float: left;
        display: block;
        @include light;
        padding-bottom: 0;
      }
    }
  }
  
  .block-2 {
    h1.label {
      @include ig-core-48;
      @include bold;
      padding-top: 0;
    }
    
    #cabinet {
      margin: 0 ($gutter-half*-1);
      padding-top: ($gutter+$gutter-one-sixth);
      overflow: hidden;
    }
    
  }

  .block-3 {
    padding-top: ($gutter*2);
  
    h1.label {
      @include ig-core-48;
      @include bold;
    }
    
  }
  .other {
    .person-excerpt {
      float: none;
      width: auto;
    }
  }
  .simple-alphabetical-list {
    
    strong {
      @include bold;
    }

    .role a {
      color: $text-colour;
    }
  }
}
