
.ministers-index {
  h2 {
    @include heading-36;
    border-bottom: 5px solid $inside-gov-brand;
    margin: 0 $gutter-half;
  }

  @include ie(7) {
    .cabinet-list { 
      .person-excerpt {
        min-height: 290px;
      }
    }
    .minister-list {
      .person-excerpt {
        min-height: 150px;
      }
    }
  }

  .block-2 {
    clear: both;
    #cabinet, #also-attends-cabinet {
      margin: 0;
      overflow: hidden;
      padding-top: $gutter-half;
      @include media(tablet) {
        padding-top: $gutter-one-third;
      }
    }

  }

  .ministers-by-organisation {
    padding-top: ($gutter*2);

    h1 {
      @include heading-48;
      font-weight: bold;
    }

    h2 {
      margin-bottom: $gutter;
      @include media(tablet) {
        margin-bottom: $gutter-two-thirds;
      }
    }

    section {
      @extend %contain-floats;

      .heading {
        @include media(tablet) {
          float: left;
          width: 25%;
        }
        h3 {
          padding: 0 $gutter-half;
          margin: $gutter-half 0;
        }
      }

      .current-appointee {
        border: 0;
        float: none;
        width: 100%;
        margin: 0;
      }

      .minister-list {
        @include media(tablet) {
          float: left;
          width: 75%;

          .person-excerpt {
            width: 33.33%;
          }
        }
      }
    }
    .keyline {
      margin: $gutter $gutter-half;
      border: solid $border-colour;
      border-width: 0 0 1px;
    }
  }

  .whips {
    h2 {
      margin-bottom: 0;
    }
    section {
      margin-bottom: 0;
      .heading {
        h3 {
          @include heading-24;
          margin: 0;
          padding-bottom: 0;
          @include media(tablet) {
            margin-top: $gutter-two-thirds;
          }
        }
      }
      .minister-list {
        margin-top: 0;
        @include media(tablet) {
          margin-top: $gutter-half;
        }
      }
    }
    .keyline {
      margin-bottom: $gutter-two-thirds;
    }
    .person-excerpt .inner {
      padding: $gutter-one-third $gutter-half ;
      @include media(tablet) {
        padding: $gutter-half;
      }
    }
  }

  .other {
    .person-excerpt {
      float: none;
      width: auto;
    }
  }

  .simple-alphabetical-list {
    strong {
      @include bold;
    }

    .role a {
      color: $text-colour;
    }
  }
}

.ministerial-role-show {

  .previous-roles {

    p {
      @include copy-19;
      margin-top: $gutter-half;

      a {
        text-decoration: underline;
      }
    }
  }
}
