
.ministers-index {

  .block-2 {
    padding-bottom: $gutter*2;
  }

  .block-2 .cab_ministers {
    overflow: hidden;
    padding-bottom: $gutter;

    h1 {
      @include sans-15;
    }

    h2 {
      position: relative;
      @include sans-15;
      padding-bottom: 0;
      padding-right: $gutter;
    }

    .role {
      @include sans-15;
      padding-top: 0;
      padding-right: $gutter;
    }

    li {
      list-style: none;
      .inner {
        position: relative;
        overflow: hidden;
        padding: $gutter-half 0 0 20%;
        @include ie(6) {
          height: 140px;
          margin-bottom: $gutter;
        }
      }
    }

    .image_holder {
      position: relative;
      float: left;
      display: inline;
      width: 25%;
      margin-left: -25%;
      @include ie(6) {
        margin-left: -20%;
        width: 5%;
      }

      a {
        display: block;
        padding-top: $gutter-one-third;
        padding-right: $gutter-half;
      }

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        @include ie(6) {
          width: expression(document.body.clientWidth < 102? "100px" : document.body.clientWidth > 102? "100px" : "auto");
        }
      }
    }

    @media (min-width: 768px) {

      li {
        width: 33.3333%;
        float: left;
        display: inline;

        .inner {
          padding-left: 33.33333%;
        }

        .image_holder {
          width: 50%;
          margin-left: -50%;
        }
      }

      li:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}
