.ministers-index {
  h2 {
    border-bottom: $gutter-one-sixth solid $govuk-blue;
  }

  .ministers-by-organisation {
    section {
      @extend %contain-floats;

      .heading {
        @include media(tablet) {
          float: left;
          width: $one-quarter;
        }
      }

      .current-appointee {
        border: 0;
        float: none;
        width: $full-width;
        margin: 0;
      }
    }
  }

  .whips {
    h2 {
      margin-bottom: 0;
    }

    section {
      margin-bottom: 0;

      .heading {
        h3 {
          @include heading-24;
          margin: 0;
          padding-bottom: 0;
          @include media(tablet) {
            margin-top: $gutter-two-thirds;
          }
        }
      }

      .minister-list {
        margin-top: 0;
        @include media(tablet) {
          margin-top: $gutter-half;
        }
      }
    }

    .keyline {
      margin-bottom: $gutter-two-thirds;
    }

    .person-excerpt .inner {
      padding: $gutter-one-third $gutter-half;
      @include media(tablet) {
        padding: $gutter-half;
      }
    }
  }

  .other {
    .person-excerpt {
      float: none;
      width: auto;
    }
  }

  .simple-alphabetical-list {
    .role a {
      color: $text-colour;
    }
  }
}
