
.ministers-index {

  .block-1 {
    padding-top: $gutter-one-sixth;
    
    .page-header {
      @extend %contain-floats;
      padding: $gutter-half 0 0;
      
      @include media(tablet){
        padding: $gutter*1.5 0 0;
      }
    
      h1 {
        width: 75%;
        float: left;
        display: block;
        @include core-36;
        color: $grey-1;
        font-weight: normal;
        padding-bottom: 0;
      }
    }
  }
  
  .block-2 {
    h1.label {
      @include core-48;
      font-weight: bold;
      padding-top: 0;
    }
    
    #cabinet {
      margin: 0 ($gutter-half*-1);
      padding-top: ($gutter+$gutter-one-sixth);
      overflow: hidden;
    }
    
  }

  .ministers-by-organisation {
    padding-top: ($gutter*2);

    h1 {
      @include heading-48;
      font-weight: bold;
    }

    section {
      @extend %contain-floats;
      margin-bottom: $gutter;
      padding-bottom: $gutter-half;
      border-bottom: 1px solid $border-colour;
  
      h2 {
        margin: $gutter-half 0;
        float: left;
        @include media(tablet) {
          width: 25%;
        }
      }

      .minister-list {
        margin: 40px (-$gutter-half) 0;

        @include media(tablet) {
          float: right;
          width: 75%;

          .person-excerpt {
            width: 33.33%;
          }
        }
      }
    }
    
  }
  .other {
    .person-excerpt {
      float: none;
      width: auto;
    }
  }
  .simple-alphabetical-list {
    
    strong {
      @include bold;
    }

    .role a {
      color: $text-colour;
    }
  }
}
