.document-page {
  @include media(desktop){
    .block-3 {
      float: left;
      width: 33%;
      min-height: 100px;

      @include right-to-left {
        float: right;
      }
    }
    .block-4 {
      float: left;
      width: 66%;
      min-height: 100px;

      @include right-to-left {
        float: right;
      }
    }
  }

  .summary {
    margin-top: $gutter;

    p {
      @include ig-core-24;
    }
  }

  .sidebar {
    padding-top: $gutter+$gutter-one-third;

    p {
      @include ig-core-16;
    }
  }

  .document {
    padding: $gutter 0;
  }

  .meta {
    margin-bottom: $gutter*1.5;
  }

}
