.document-page {
  @include media(desktop){
    .block-3 {
      float: left;
      width: 33%;
      min-height: 100px;
    }
    .block-4 {
      float: left;
      width: 66%;
      min-height: 100px;
    }
  }

  .summary {
    margin-top: $gutter;

    p {
      @include ig-core-24;
    }
  }

  .sidebar {
    padding-top: $gutter+$gutter-one-third;

    p {
      @include ig-core-16;
    }
  }

  .document {
    padding-top: $gutter;
  }



}
