.document-page {
  @include media(desktop) {
    .block-3 {
      float: left;
      width: $one-third;
      min-height: 100px;

      @include right-to-left {
        float: right;
      }
    }
    .block-4 {
      float: left;
      width: $two-thirds;
      min-height: 100px;

      @include right-to-left {
        float: right;
      }
    }
  }

  .summary {
    padding-bottom: $gutter + $gutter-half;

    p {
      @include ig-core-24;
    }
  }

  .sidebar {
    padding-top: $gutter-one-third;

    p {
      @include ig-core-16;
    }
  }

  .document {
    padding-bottom: $gutter;
  }

  .meta {
    margin-bottom: $gutter*1.5;
  }

  .heading-extra {
    margin-top: $gutter+$gutter-half;
  }
}
