// I have included this to fix an IE6 issue
// hasLayout in social_media_accounts li float: left
// as found in a google seach of hasLayout.
// Yeah there's probably a better way round it but this works and isn't that offensive (Russ Inside Gov)
@include ie(6) {
 * {zoom: 1;}
}


h1.label {
      @include core-27;
      padding-bottom: $gutter-half;
      @include ie(6) {
        margin-bottom: $gutter-one-third;
      }
}

.organisations_index_page {
  .alphabetical-list .alphabetical-row li {
    @include single-col-li;
  }
  .alphabetical-list .alphabetical-row li:first-child {
    padding-top: $gutter;
  }
  .inline {
    overflow: hidden;
  }
  .inline li:first-child {
    padding-left: 0;
  }
  .inline li {
    float: left;
    display: inline;
    padding: $gutter-one-third $gutter-half;
  }
}

.departments-index {
  .block-2, .block-3 {
    float: left;
    display: inline;
    width: 25%;
  }
  .block-3 {
    width: 75%;
  }
  .block-2 li, .block-3 li {
    list-style: none;
  }
  .block-3 li {
    float: left;
    display: inline;
    margin: 0 1% 40px 0;
    width: 30%;
  }
  @media (max-width: 768px) {
    .block-2, .block-3, .block-3 li {
    float: none;
    display: block;
    width: 100%;
    }
  }
}


// Styles for Department homepages
.organisation {
  .page_title {
    margin-top: $gutter-two-thirds;
    @include logo-27;
    margin-bottom: $gutter;
  }

  .img {
    img {
      width: 100%;
    }
  }
}


.organisation_homepage {

  .block-2, .block-3 {
    margin: $gutter 0;
    overflow: hidden;
  }


  .block-7 .simple_list a, .block-8 .simple_list a, .block-10 {
    @include core-19;
  }

  .block-10, .block-11 {
    clear: both;
    overflow: hidden;
    padding: $gutter 0;
  }

  .block-11 {
    clear: both;
  }

  .organisation_news {

    .img {
      margin: 0 0 $gutter-one-third 0;
      padding: 0;
    }

    .news_body {
      h2 {
        @include core-27;
        padding-top: 0;
      }
      a {
        text-decoration: none;
      }
      .summary {
        @include core-19;
      }
      .meta, .document-type {
        @include core-16;
        float: left;
        display: inline;
        margin: 0 $gutter-half 0 0;
        padding: 0;
        text-align: left;
        width: auto;
      }
      .document-type {
        margin: 0 0 $gutter 0;
        width: 30%;
      }
    }

    .primary-first, .primary-secondary {
      @include media(tablet) {
        float: left;
        display: inline;
        width: 66%;
      }
    }
    .primary-secondary {
      clear: both;
      @include media(tablet) {
        clear: none;
        float: right;
        margin-right: 0;
        width: 31.3%;
      }
      h2 {
        @include core-19;
        padding-top: 0;
      }
    }

  }

  .secondary-featured {
    li {
      list-style: none;
      margin-bottom: $gutter;
      .summary, h2 {
        @include core-19;
        float: none;
        display: block;
        width: 100%;
      }
      .summary {
        @include core-16;
      }
        @include media(tablet) {
        float: left;
        display: inline;
        margin-right: 3%;
        width: 31.3%;
        &:nth-child(3n+1) {
          clear: both;
        }
        &:nth-child(3n) {
          float: right;
          margin-right: 0;
        }
      }
      .img {
        display: none;
        @include media(tablet) {
          display: block;
        }
      }
    }
  }


  .description {
    margin: $gutter-half 0;
  }

  .topics {
    counter-reset:li;
    .topic {
      @include core-27;
      margin-bottom: $gutter-half;
      position:relative;
      list-style: none;
      .summary {
        border-top: 1px solid $grey-88;
        display: table-cell;
        float: right;
        padding-bottom: $gutter-one-third;
        width: 94%;
        @include ie(6) {
          float: right;
          width: 66%;
        }
        ul {
          @include core-19;
          list-style: none;
          padding-top: 0;
        }
        .govspeak {
          margin-top: 0;
          p {
            margin: 0;
            padding: $gutter-one-third 0;
          }
        }
      }
      h2 {
        border-top: 1px solid $grey-88;
        display: table-cell;
        padding: 40px 0 $gutter-one-third;
        position: relative;
        vertical-align: top;
        width: 30%;
        @include ie(6) {
          padding-top: $gutter-one-third;
          position: absolute;
          top: 3px;
        }
        a {
        width: 100%;
        }
        &:before {
          content:counter(li, decimal-leading-zero);
          counter-increment:li;
          position:absolute;
          top: $gutter-one-third;
          left:0;
          @include box-sizing(border);
          width:2em;
        }
      }
      .publication-count {
        padding-top: 0;
        .policies, .guides {
          @include core-14;
          text-transform: capitalize;
        }
      }
      .container {
        display: table-row;
      }
      &:last-child {
        h2, .summary {
          border-bottom: 1px solid $grey-88;
        }
      }
    }
  }

  @include media(desktop) {
  .wide { // for > 4 topics on an orgs page
    border-bottom: 1px solid $grey-88;
    .topic {
      float: left;
      display: inline;
      margin-right: $gutter;
      width: 48.1%;
      .summary, h2 {
        float: none;
        display: block;
        width: 100%;
      }
      .summary {
        border-top: none;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:last-child {
        .summary, h2 {
          border-bottom: none;
        }
      }
    }
  }

  .ultra-wide { // for > 8 topics on an orgs page
    border-bottom: 1px solid $grey-88;
    .topic {
      float: left;
      display: inline;
      margin-right: 3%;
      width: 31.3%;
      .summary, h2 {
        float: none;
        display: block;
        width: 100%;
      }
      .summary {
        border-top: none;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:last-child {
        .summary, h2 {
          border-bottom: none;
        }
      }
    }
  }
}

  #ministers ul {
    @extend %contain-floats;
  }

  .ministerial_role,
  #management article,
  #military article,
  #management li {
    float: left;
    display: inline;
    margin: 0 3% $gutter 0;
    height: 20em;
    width: 45%;
    &:nth-child(2n+1) {
      clear: both;
    }
    @include media(tablet) {
      height: auto;
      width: 22%;
      &:nth-child(2n+1) {
        clear: none;
      }
      &:nth-child(4n+1) {
        clear: both;
      }
    }
  }

  #management li {
    height: auto;
  }


  #ministers,
  #management,
  #military,
  #management {
    .js-hidden {
      display: none;
    }
  }

  .show-other-content {
    clear: both;
    float: right;
    margin: 0 $gutter $gutter;
  }

  #management, #military {
    clear: both;
  }

  .current-appointee {
    @include core-16;
  }
  .role {
    @include core-14;
  }

  .image_holder {
    display: block;
    margin-bottom: $gutter-one-third;
    float: none;
    overflow: hidden;
    width: 100%;
    @include media(tablet) {
      height: 10em;
      img {
        position: relative;
        top: -20%;
      }
    }
    @include ie(6) {
      img {
        width: 50%;
      }
    }
  }

  .document-list {
    margin-top: 0;
    th, td {
      padding-top: 0;
      padding-bottom: 0;
      @include media(desktop) {
        clear: both;
      }
    }
    .document-row {
      border-bottom: none;
      th,
      &:first-child th,
      &:nth-child(2) th {
        @include core-14;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  #policies,
  #publications {
    h1, .publications, .policies, .see-all {
      li {
        border-bottom: 1px solid $grey-88;
        clear: both;
        ul li {
          border: none;
        }
      }
      @include media(tablet) {
        float: right;
        display: inline;
        padding-top: 0;
        width: 66%;
      }
    }
    @include media(tablet) {
      h1 {
        float: left;
        width: 33%;
      }
      .metadata {
        @include core-16;
        padding-top: $gutter-one-third;
        clear: both;
        li {
          float: none;
          display: inline-block;
          width: 40%;
          border: 0;
          text-transform: none;

        }
      }
    }
  }

  .sub_navigation {
    clear: both;
    li {
      border: none;
      list-style: none;
      a {
        @include core-24;
      }
    }
  }

  .social-media {
    ul, p {
      float: left;
    }
    .social_media_accounts {
      overflow: hidden;
      li {
        float: left;
        display: inline;
        margin-right: $gutter-two-thirds;
        @include ie(6) {
          width: 70px;
        }
      }
    }
  }

  @include media(tablet) {

    .block-5 {
      @include core-19;
      .inner-block {
        padding-left: $gutter-one-third;
      }
    }
    .block-4, .block-5 {
      float: right;
      display: inline;
      padding: $gutter 0;
      width: 66%;
    }
    .block-4 {
      float: left;
      width: 33%;
    }

    .block-6, .block-7, .block-8, .block-9 {
      clear: both;
      padding: $gutter 0;
      overflow: hidden;
    }

  }

}



.organisation_subpages {

  .block-3, .block-4 {
    float: left;
    display: inline;
    width: 25%;
  }

  .block-4 {
    width: 75%;
  }

  .sub_navigation_container {
    top: 0;
    margin-bottom: 0;
    li {
      list-style: none;
    }
  }

  .ministerial_role {
    float: left;
    display: inline;
    overflow: hidden;
    padding-right: 3%;
    margin-bottom: $gutter;
    width: 30%;
    .role {
      margin-left: 72px;
    }
  }

  .ministerial_role:nth-child(3n-1) {
    clear: both;
  }

  .about_page {
    nav {
      position: absolute;
      right: $gutter;
      top: 200px;
      li {
        list-style: none;
      }
    }
  }

  .item, .board_member_role {
    list-style: none;
    margin: $gutter-half 0;
    padding: $gutter-half $gutter-two-thirds;
  }
  .item:nth-child(odd), .board_member_role:nth-child(odd)  {
    background-color: $light-warm-grey;
  }

  #permanent_secretary_board_members .board_member_role {
    background-color: $white;
    padding-top: 0;
    margin-top: 0;
  }

  .organisation_contact {
    margin-bottom: $gutter;
  }
      @media (max-width: 768px) {

    .block-3, .block-4, .ministerial_role {
      float: none;
      display: block;
      width: auto;
    }

    .about_page nav {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}


.sub_navigation_container {
  background-color: $white;
  position: relative;
  padding-right: $gutter-one-third;
  //margin-bottom: -217px;
  //top: -217px;
  ul {
    margin-bottom: $gutter;
  }
  li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    a {
      text-decoration: none;
      display: block;
      padding: $gutter-one-third*0.5 0;
      &:hover {
        color: inherit;
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
   @media (max-width: 768px) {
    margin-bottom: 0;
    top: 0;
 }

}

.image_holder {
    float: left;
    margin: 0 $gutter-half 0 0;
    width: 25%;
    img {
    width: 100%;
  }
}

.view_all {
  clear: both;
}

.social_media_accounts {
  li {
    border: none;
    img {
      margin-right: 5px;
    }
  }
}

.non-govuk {

  .label, .document_type, .published_or_updated {
    color: $body-text;
  }

  .block-1, .block-2, .block-3, .block-4, .block-5 {
    display: block;
    margin-bottom: $gutter;
    .inner-block {
      padding: 0 $gutter;
    }
  }

  .block-1, .block-5 {
    clear: both;
    float: none;
    width: 100%;
  }

  .block-1 {
    margin-bottom: $gutter*2;
  }

  .block-3 {
    @include media(desktop) {
      float: left;
      width: 34%;
    }

    .thumbnail {
      img {
        box-shadow: 3px 3px 4px #999;
      }
    }
  }

  .block-4 {
    @include media(desktop) {
      float: left;
      width: 66%;

      margin-bottom: $gutter*3;
    }
  }

  .block-2, .block-5 {
    @include media(desktop) {
      padding-left: 34%;
    }
  }

  .parent_organisations {
    margin-bottom: $gutter-half;
  }

  h1.label {
    @include core-19;
  }

  .information-block {
    padding-top: $gutter-two-thirds;
    padding-bottom: $gutter-two-thirds;
  }

  .title, .url {
    @include core-24;
    margin-top: $gutter-half;
  }
}


// Corporate information pages
.corporate_information_page {

  .summary {
    @include core-19;
    margin: $gutter 0 $gutter 25%;
  }

  p, ul, h2 {
    margin-left: 25%;
  }

}


// Organisation colours
.treasury  {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $treasury;
  }
  .slidecontrols li a {
    background-color: $treasury;
  }
  a {
    color: $treasury;
  }
}
.cabinet-office {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $cabinet-office;
  }
  .slidecontrols li a {
    background-color: $cabinet-office;
  }
  a {
    color: $cabinet-office;
  }
}
.department-for-education {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-education;
  }
  .slidecontrols li a {
    background-color: $department-for-education;
  }
  a {
    color: $department-for-education;
  }
}
.department-of-transport {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-of-transport;
  }
  .slidecontrols li a {
    background-color: $department-of-transport;
  }
  a {
    color: $department-of-transport;
  }
}
.home-office {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $home-office;
  }
  .slidecontrols li a {
    background-color: $home-office;
  }
  a {
    color: $home-office;
  }
}
.department-of-health {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-of-health;
  }
  .slidecontrols li a {
    background-color: $department-of-health;
  }
  a {
    color: $department-of-health;
  }
}
.ministry-of-justice {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $ministry-of-justice;
  }
  .slidecontrols li a {
    background-color: $ministry-of-justice;
  }
  a {
    color: $ministry-of-justice;
  }
}
.ministry-of-defence {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $ministry-of-defence;
  }
  .slidecontrols li a {
    background-color: $ministry-of-defence;
  }
  a {
    color: $ministry-of-defence;
  }
}
.foreign-and-commonwealth-office {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $foreign-and-commonwealth-office;
  }
  .slidecontrols li a {
    background-color: $foreign-and-commonwealth-office;
  }
  a {
    color: $foreign-and-commonwealth-office;
  }
}
.department-for-communities-and-local-government {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-communities-and-local-government;
  }
  .slidecontrols li a {
    background-color: $department-for-communities-and-local-government;
  }
  a {
    color: $department-for-communities-and-local-government;
  }
}
.department-for-energy-and-climate-change {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-energy-and-climate-change;
  }
  .slidecontrols li a {
    background-color: $department-for-energy-and-climate-change;
  }
  a {
    color: $department-for-energy-and-climate-change;
  }
}
.department-for-culture-media-and-sport {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-culture-media-and-sport;
  }
  .slidecontrols li a {
    background-color: $department-for-culture-media-and-sport;
  }
  a {
    color: $department-for-culture-media-and-sport;
  }
}
.department-for-environment-food-and-rural-affairs {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-environment-food-and-rural-affairs;
  }
  .slidecontrols li a {
    background-color: $department-for-environment-food-and-rural-affairs;
  }
  a {
    color: $department-for-environment-food-and-rural-affairs;
  }
}
.department-for-work-and-pensions {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-work-and-pensions;
  }
  .slidecontrols li a {
    background-color: $department-for-work-and-pensions;
  }
  a {
    color: $department-for-work-and-pensions;
  }
}
.department-for-business-innovation-and-skills {
  .page_title, span, .sub_navigation_container li, .secondary-featured {
    border-color: $department-for-business-innovation-and-skills;
  }
  .slidecontrols li a {
    background-color: $department-for-business-innovation-and-skills;
  }
  a {
    color: $department-for-business-innovation-and-skills;
  }
}
.department-for-international-development {
  .page_title, span, .secondary-featured {
    border-color: $department-for-international-development;
  }
  .slidecontrols li a {
    background-color: $department-for-international-development;
  }
  a {
    color: $department-for-international-development;
  }
}
