.organisations-index {

  .other-departments h1 {
    margin-top: 0;
    width: 25%;
  }

  .omissions {
    padding: $gutter*2 $gutter 0;
    clear: both;
  }

  .page-header {
    padding: $gutter-half 0;
    @extend %contain-floats;

    @include media(tablet){
      width: 75%;
      padding: $gutter*1.5 0 ($gutter + $gutter-one-third);
    }

    .page_title {
      display: block;
      @include bold;
    }

    .filter-list-form {
      label {
        @include ig-core-19;
        color: $secondary-text-colour;
        display: inline-block;
      }
      input {
        display: inline-block;
        margin: 7px $gutter-one-third 3px;
        width: 30%;
      }
    }

  }

  .ministerial-departments {
    margin-bottom: $gutter*2;

    h1 {
      padding-top: 0;
      &#departments {
        padding-top: 17px;
        padding-top: 1.7rem;
      }
    }

    .department {
      @extend %contain-floats;
      padding: $gutter-one-third 0;
      list-style: none;
      border-bottom: 1px solid $border-colour;

      h2 {
        padding: $gutter-one-third 0;
        overflow: hidden;
      }
      .works-with,
      .view-all {
        display: block;
        float: left;
        @include ig-core-16;
      }
      .works-with {
        @include media(desktop){
          min-width: 18em;
        }
      }
      .view-all {
        background: $panel-colour;
        @include border-radius(3px);
        padding: 2px $gutter-one-sixth;
        margin: 3px $gutter-half 10px;

        &:after {
          display: inline-block;
          font-size: 8px;
          height: 8px;
          padding-left: 5px;
          vertical-align: middle;
          content: " \25B2";
        }
      }

      &.js-hiding-children {
        .view-all:after {
          content: " \25BC";
        }

        .child-organisations {
          display: none;

        }
      }
    }
    .child-organisations {
      clear: both;
      margin: 0 (-15px);
      background: $panel-colour;
      p{
        padding-bottom:$gutter-half;

      }
      .child-inner {
        padding: $gutter-half;
      }
      h3 {
        @include ig-core-14;
        border-bottom: 1px solid $border-colour;
      }
      ol {
        overflow: hidden;
        margin: 0 (-$gutter-one-third) $gutter-one-third;
        li {
          @include ig-core-16;
          display: block;
          @include media(desktop){
            width: 33.33%;
            float: left;
          }

          &:nth-child(3n+1) {
            clear: left;
          }

          a {
            display: block;
            padding: 0 $gutter-one-third;
          }
        }
      }
    }
    .index-list {
      li {
        list-style: none;
        border-bottom: 1px solid $border-colour;
        @include ig-core-19;
      }
    }
  }
}


.organisations-show {

  .block-1,
  .block-2,
  .block-3,
  .block-6,
  .block-7,
  .block-8,
  .block-9,
  .block-10,
  .block-11 {
    display: block;
    clear: both;
    overflow: hidden;
    padding-bottom: $gutter-half;

    @include media(tablet) {
      padding-bottom: $gutter*2;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .block-1 {
    padding-top: $gutter-one-third;
    @include media(tablet) {
      padding-bottom: $gutter-one-sixth;
    }
  }

  .block-2 {
    padding-bottom: $gutter;
  }

  .filter-feed .subscribe {
    margin-top: $gutter-one-third;
  }

  h1.label,
  .topic h2 {
    @include ig-core-27;
    margin-bottom: $gutter-two-thirds;
  }

  p a {
    text-decoration: underline;
  }

  .jobs-contracts {
    padding-left: $gutter-one-third;
  }
  .corporate-information-block {
    width: 65%;
  }
  .access-our-info {
    width: 33.33%;
  }
  
  .page-header {
    padding: $gutter-two-thirds 0 $gutter-one-third;
    overflow: hidden;

    h1 {
      padding: 0;

      @include media(tablet){
        float: left;
        width: 66.66%;
      }
    }

    .organisation-mainstream-links {
      padding-top: $gutter;

      @include media(tablet){
        float: left;
        width: 33.33%;
        padding-top: 0;
        margin-top: ($gutter-one-third * -1);
      }

      h4 {
        @include ig-core-19;

        @include media(tablet){
          position: absolute;
          left: -9999em;
        }
      }

      ul {
        list-style: none;

        @include media(tablet){
          padding-left: $gutter-two-thirds;
        }

        li {
          @include ig-core-16;
          @include media(tablet){
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .sub-organisation .page-header {
    h1 {
      float: left;
      width: 33.33%;
    }

    .sub-organisation-name {
      float: left;
      width: 66.66%;

      h2 {
        @include ig-core-48;
        padding-left: $gutter-one-third;
        margin-top: $gutter;
      }
    }
  }

  .block-2 {
    .inner-block {
      padding: 0;

      @include media(tablet){
        padding: 0 $gutter-half;
      }
    }
  }

  .organisation-news {

    article {
      @include media(tablet) {
        float: left;
        display: inline;
        overflow: hidden;
      }

      .content {
        padding: $gutter-half $gutter-half $gutter-one-third;

        .img {
          display: block;
        }
        .meta {
          @include ig-core-14;
          color: $secondary-text-colour;
          padding-bottom: 0;
        }
        h2 {
          @include ig-core-19;
          padding-top: 0;
        }
        .summary {
          @include ig-core-16;
        }
      }

      &.first {
        width: 100%;
        .content {
          padding: $gutter-half 0 $gutter-one-third 0;
          @extend %contain-floats;
          .img-holder {
            @include media(tablet){
              width: 66.66%;
              float: left;
            }
            .img {
              padding: 0 $gutter-half;
            }
          }
          .text {
            .meta, h2, .summary {
              padding: 0 $gutter-half;
            }
            @include media(tablet){
              width: 33.33%;
              float: left;

              .meta, h2, .summary {
                padding-left: $gutter-half;
              }
              .meta {
                padding-top: 0;
              }
            }
            h2 {
              @include ig-core-24;
            }
            .summary {
              @include ig-core-19;
            }
          }
        }
      }
      &.item-3 {
        clear: both;
      }
    }
    &.items-1,
    &.items-4 {
      .latest-documents {
        @include media(tablet){
          clear: both;
          width: 66.66%;
        }
      }
    }

    .secondary {
      clear: both;

      @include media(tablet){
        width: 33.33%;
        clear: none;
      }

      .img-holder {
        width: 25%;
        float: left;
        @include media(tablet){
          width: 100%;
          float: none;
        }

        .img {
          display: block;
          padding: $gutter-one-third $gutter-half 0 0;
          @include media(tablet){
            padding: 0;
          }
        }
      }

      .text {
        float: left;
        width: 75%;
        @include media(tablet){
          float: none;
          width: 100%;
        }
      }
      h2 {
        @include ig-core-19;
      }
      .summary {
        @include ig-core-16;
      }
    }

    .latest-documents {
      clear: both;
      padding-top: $gutter-half;

      @include media(tablet){
        clear: none;
        float: left;
        width: 33.33%;
        padding: 0;
      }

      .content {
        margin: $gutter-half;
        padding: $gutter-one-sixth $gutter-half $gutter-one-third;
        @include media(tablet){
          padding-top: $gutter-half;
        }
        background: $panel-colour;

        h1 {
          margin-bottom: 0;
        }

        table {
          margin-top: $gutter-one-third;
        }
        .subscribe {
          float: none;
        }
      }
    }
  }

  .has-social {
    .organisation-news.items-0 .latest-documents {
      @include media(desktop){
        width: 66.66%;
      }
    }
    .what-we-do {
      clear: both;
    }
  }

  .document-list {
    margin: 0;

    .document-row {
      @include ig-core-14;
      border-bottom: none;

      th {
        @include ig-core-14;
        margin: $gutter-one-third 0 0 0;
        padding: 0;
      }

      td {
        margin: 0;
        padding: 0 $gutter-one-third 0 0;
      }
    }
  }

  .what-we-do {
    @include media(tablet){
      float: left;
      width: 66.66%;
    }
    .content {
      padding: $gutter-half;
    }
  }

  .social-media {
    @include media(tablet){
      float: left;
      width: 33.33%;
    }
    .content {
      padding: $gutter-half;
    }
    h2 {
      @include ig-core-24;
    }
  }

  .what-we-do {
    p {
      @include ig-core-19;
    }

    .parent_organisations {
      margin-bottom: $gutter-one-third;
    }

    .body {
      h2 {
        border-bottom: 1px solid $border-colour;

        &:first-child {
          margin-top: $gutter;
        }
      }
    }
  }

  #who {
    #ministers,
    #management,
    #military,
    #traffic_commissioners,
    #special_representatives {
      display: block;
      clear: both;
      overflow: hidden;
    }

    #management,
    #military,
    #traffic_commissioners,
    #special_representatives {
      padding-top: $gutter-half;
      @include media(tablet) {
        padding-top: $gutter*2;
      }
    }

    ul {
      position: relative;
      overflow: hidden;
      margin: 0 ($gutter-half*-1);
    }

    #management {
      @include media(tablet) {
        // some minus margin juggling here to align the columns
        margin: 0 ($gutter-half*-1);

        h1,
        .show-other-content {
          margin-left: $gutter-half;
        }

        ul {
          position: relative;
          float: left;
          width: 25%;
          margin: 0;
          li {
            width: 100%;
          }
        }
        ul.management-secondary {
          position: relative;
          float: left;
          width: 75%;
          li {
            width: 33.33%;
          }
        }
      }
    }

    .show-other-content {
      float: left;
      clear: both;
      margin-right: -100%;
      margin-left: 0;
    }

  } // end #who

  #org-contacts {

    h2 {
      @include ig-core-24;
    }

    .organisation_contact h2 {
      margin-bottom: $gutter-half;
    }

    .addresses {
      p {
        margin: 0 0 $gutter-one-third;
        .type {
          display: block;
        }
      }

      .adr {
        margin: 0 0 $gutter-one-third;
        p {
          margin: 0;
        }
      }
    }

    @include media(tablet) {
      position: relative;
      overflow: hidden;
      margin: 0 ($gutter*-0.5);

      .addresses {
        float: left;
        clear: both;
        margin-right: -100%;
        margin-left: 0;
        width: 66.66%;

        .organisation_contact {
          padding-bottom: $gutter-two-thirds;
        }

        .complex {
          padding: 0 $gutter-half $gutter-two-thirds;

          .contact-inner {
            position: relative;
            overflow: hidden;
            float: none;
            display: block;
            padding-left: 50%;
          }

          h2 {
            position: relative;
            margin-left: -100%;
            width: 200%;
          }

          .adr {
            position: relative;
            margin-left: -100%;
            width: 100%;
          }

          p {
            padding-left: $gutter-half;
          }

          .adr {
            display: inline;
            float: left;

            p {
              padding-left: 0;
            }
          }
        }

        .simple {
          float: left;
          display: inline;
          width: 50%;

          .contact-inner {
            padding: 0 $gutter-half;
          }
        }

        .js-hidden {
          display: none;
        }

        .email {
          word-break: break-word;

          @include ie(6) {
            word-break: break-all;
          }
        }
      }

      .show-other-content {
        position: absolute;
        bottom: 0;
        left: $gutter-one-third;
      }

    }
  }




  // org color bands

  #topics h1,
  #ministers h1,
  #management h1,
  #military h1,
  #traffic_commissioners h1,
  #special_representatives h1,
  #org-contacts h2,
  #recently_updated h1,
  .social-media h2,
  #what-we-do h1 {
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  @include department-colours("h1", border-color);
  @include department-colours("h2", border-color);
  @include websafe-department-colours(".social-media-link .connect", background-color);
  @include websafe-department-colours("a", color);
}
.organisations-external {
  @include media(desktop){
    .block-2 {
      width: 66.66%;
      float: right;
      .inner-block {
        padding-left: $gutter-one-third;
      }
    }
    .block-3 {
      width: 33.33%;
      float: left;
    }
    .block-4 {
      width: 100%;
      clear: both;
    }
    .block-5 {
      width: 100%;
      clear: both;
    }
  }


  p .url-link {
    display: block;
    word-wrap: break-word;
  }

  .page-header {
    @include media(tablet) {
      padding: $gutter-half 0 $gutter 0;
    }

    h1 {
      @include media(desktop){
        float: left;
        padding-top: 0;
        width: 33.33%;
      }
    }

    .sub-organisation-name {
      h2 {
        @include ig-core-36;
        padding-left: 0;
        margin-top: $gutter-half;
        a {
          color: #000;
        }
        @include media(desktop) {
          @include ig-core-48;
        }
      }
      @include media(desktop) {
        float: left;
        margin-bottom: $gutter;
        width: 66.66%;
      }
    }

    @include media(desktop) {
      padding-bottom: $gutter*2;
    }
  }

  .description {
    p {
      @include ig-core-19;
    }

    margin-bottom: $gutter;

    @include media(desktop) {
      margin-bottom: $gutter*2;
    }
  }
  .thumbnail {
    margin-bottom: $gutter*2;

    img {
      @include box-shadow(0 2px 2px rgba(0,0,0,0.4));
      width: 100%;
      max-width: 287px;
    }
  }
  .information-block {
    @include ig-core-19;
    padding: $gutter-two-thirds 33.33% $gutter-two-thirds 0;
    margin-top: 0;
    margin-bottom: $gutter;
    min-height: $gutter;
    background-color: transparent;
    border: solid $black 1px;
    border-width: 5px 0 1px 0;
    position: relative;

    @include media(desktop) {
      margin-bottom: $gutter*2;
    }
  }

  .information-block:after {
    content: "info";
    text-indent: -9999px;
    background-color: $inside-gov-brand;
    background-image: image-url('icon-information-transparent.png');
    background-position: center;
    height: $gutter;
    width: $gutter;
    position: absolute;
    overflow: hidden;
    @include border-radius($gutter);

    top: $gutter-one-third/2;
    right: $gutter-one-third/2 ;

    @include media(tablet) {
      top: $gutter-one-third;
      right: $gutter-one-third;
    }
  }

}


// Used on:
// organisations#about, corporate_information_page#show
.organisation-page {
  @include websafe-department-colours('nav a', color);
  @include websafe-department-colours('.block-2 a', color);
  @include websafe-department-colours('.body .attachment .accessibility-warning h3 .toggler', color);

  @include media(desktop){
    .block-1 {
      width: 33.33%;
      float: left;
    }
    .block-2 {
      width: 66.66%;
      float: right;
    }
  }

  .page-header {
    padding: $gutter-half 0;

    .sub-organisation-name {
      h2 {
        @include ig-core-36;
        padding-top: $gutter;
        a {
          color: #000;
        }
      }
    }
  }

  nav {
    @include ig-core-16;
    padding: ($gutter - $gutter-one-third) 0 $gutter;
    h1 {
      @include bold;
    }

    ol {
      li {
        padding-top: $gutter-one-sixth;
        list-style: disc;
        margin-left: 1.2em;
        @media (min-width: 1px ){ // target modern browsers
          list-style: none;
          &:before {
            content: "-";
            position: relative;
            float: left;
            width: $gutter-half;
            margin-left: $gutter-half*-1;
          }
        }
      }
    }
  }
  .main {
    @include ig-core-48;

    @include media(desktop){
      margin: ($gutter*3 + $gutter-half) 0 $gutter-half;
    }
  }
  .description {
    @include ig-core-27;
  }
  .body {
    h2 {
      border-bottom: 1px solid $border-colour;

      &:first-child {
        margin-top: $gutter;
      }
    }
  }
  .corporate-publications {
    h1 {
      @include ig-core-27;
      margin: $gutter 0 $gutter-half 0;
    }
    ul {
      li {
        list-style: none;
        border-bottom: 1px solid $border-colour;
        padding: $gutter-one-sixth 0;

        h3 {
          @include ig-core-19;
          padding: 0;
        }
        .metadata {
          @include ig-core-14;
          padding: 0;
        }
        a {
          @include bold;
        }
      }
    }
    .transparency {
      a {
        @include ig-core-19;
        @include bold;
      }
    }
  }
  @include department-colours('.corporate-info h1', border-color);
}
