.organisations-index {

  .other-departments h1 {
    margin-top: 0;
    width: 25%;
  }

  .omissions {
    padding: $gutter*2 $gutter 0;
    clear: both;
  }

  .page-header {
    padding: $gutter-half 0;
    @extend %contain-floats;

    @include media(tablet){
      width: 75%;
      padding: $gutter*1.5 0 ($gutter + $gutter-one-third);
    }

    .page_title {
      display: block;
      @include bold;
    }

    .filter-list-form {
      label {
        @include core-19;
        color: $low-contrast;
        display: inline-block;
      }
      input {
        display: inline-block;
        margin: 7px $gutter-one-third 3px;
        width: 30%;
      }
    }

  }

  .ministerial-departments {
    margin-bottom: $gutter*2;

    h1 {
      padding-top: 0;
    }

    .department {
      @extend %contain-floats;
      padding: $gutter-one-third 0;
      list-style: none;
      border-bottom: 1px solid $light-keyline;

      h2 {
        padding: $gutter-one-third 0;
        overflow: hidden;
      }
      .works-with,
      .view-all {
        display: block;
        float: left;
        @include core-16;
      }
      .works-with {
        @include media(desktop){
          min-width: 18em;
        }
      }
      .view-all {
        background: $info-background;
        @include border-radius(3px);
        padding: 2px $gutter-one-sixth;
        margin: 3px $gutter-half 10px;

        &:after {
          display: inline-block;
          font-size: 8px;
          height: 8px;
          padding-left: 5px;
          vertical-align: middle;
          content: " \25B2";
        }
      }

      &.js-hiding-children {
        .view-all:after {
          content: " \25BC";
        }

        .child-organisations {
          display: none;

        }
      }
    }
    .child-organisations {
      clear: both;
      margin: 0 (-15px);
      background: $info-background;
      p{
        padding-bottom:$gutter-half;

      }
      .child-inner {
        padding: $gutter-half;
      }
      h3 {
        @include core-14;
        border-bottom: 1px solid $light-keyline;
      }
      ol {
        overflow: hidden;
        margin: 0 (-$gutter-one-third) $gutter-one-third;
        li {
          @include core-16;
          display: block;
          @include media(desktop){
            width: 33%;
            float: left;
          }

          &:nth-child(3n+1) {
            clear: left;
          }

          a {
            display: block;
            padding: 0 $gutter-one-third;
          }
        }
      }
    }
    .index-list {
      li {
        list-style: none;
        border-bottom: 1px solid $light-keyline;
        @include core-19;
      }
    }
  }
}
.organisations-show {

  .block-1,
  .block-2,
  .block-3,
  .block-4,
  .block-5,
  .block-6,
  .block-7,
  .block-8,
  .block-9,
  .block-10,
  .block-11 {
    display: block;
    clear: both;
    overflow: hidden;
    padding-bottom: $gutter-half;

    @include media(tablet) {
      padding-bottom: $gutter*2;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .block-1 {
    padding-top: $gutter-one-third;
    @include media(tablet) {
      padding-bottom: $gutter-one-sixth;
    }
  }

  .block-2 {
    padding-bottom: 0;
  }

  .block-4, .block-5 {
    padding-top: $gutter-half;
    @include media(tablet) {
      padding-top: $gutter*2;
    }
  }

  @include media(tablet) {
    .block-4 {
      float: left;
      display: inline;
      width: 33.333333%;
    }

    .block-5 {
      float: left;
      display: inline;
      clear: none;
      width: 66.6666666%;

      .inner-block {
        padding-left: $gutter-two-thirds;
      }
    }
  }

  h1.label,
  .topic h2 {
    @include core-27;
    margin-bottom: $gutter-two-thirds;
  }

  p a {
    text-decoration: underline;
  }

  .page-header {
    h1, .organisation-mainstream-links {
      padding: $gutter-two-thirds 0 $gutter-one-third;
    }

    h1 {
      overflow: hidden;

      &.with-mainstream-links {
        @include media(tablet){
          float: left;
          width: 66%;
        }
      }
    }

    .organisation-mainstream-links {
      @include media(tablet){
        float: left;
        width: 33%;

        h4 {
          display: none;
        }
      }

      ul {
        list-style: none;

        @include media(tablet){
          padding-left: $gutter-two-thirds;
        }

        li {
          @include core-19;
        }
      }
    }
  }

  .sub-organisation .page-header {
    h1 {
      float: left;
      width: 33.333333%;
    }

    h2.sub-organisation-name {
      float: left;
      width: 66.666666%;
      @include core-48;
    }
  }

  .organisation-news {
    margin: 0 (-$gutter-half);

    .first h2 {
      margin-top: $gutter-one-sixth;
    }

    article {
      @include media(tablet) {
        float: left;
        width: 66%;
        display: inline;
        overflow: hidden;
      }
    }
    .content {
      padding: $gutter-half $gutter-half $gutter-one-third;
    }
    h2 {
      @include core-27;
    }
    .summary {
      @include core-19;
    }
    .meta, .document-type {
      float: left;
      padding-right: $gutter-one-third;
      white-space: nowrap;
      @include core-16;
      color: $low-contrast;
    }
    .img, .body {
      @include media(tablet){
        padding-right: $gutter-half;
      }
    }
    &.items-4 {
      @include media(desktop) {
        .item-2 {
          width: 66%;

          .img {
            display: block;
            float: left;
            width: 33%;
          }
        }
      }
    }
    .secondary {
      clear: both;

      @include media(tablet){
        width: 33%;
        clear: none;
      }
      @include media(tablet){
        &.item-0,
        &.item-1 {
          .summary {
            display: none;
          }
        }
        &.item-2 {
          clear:left;
        }
      }

      .img-holder {
        width: 25%;
        float: left;
        @include media(tablet){
          width: 100%;
          float: none;
        }

        .img {
          display: block;
          padding: $gutter-one-third $gutter-half 0 0;
          @include media(tablet){
            padding: 0;
          }
        }
      }

      .text {
        float: left;
        width: 75%;
        @include media(tablet){
          float: none;
          width: 100%;
        }
      }
      h2 {
        @include core-19;
      }
      .summary {
        @include core-16;
      }
    }
  }

  .document-list .document-row {
    @include core-14;
    border-bottom: none;

    th {
      @include core-14;
      margin: $gutter-one-third 0 0 0;
      padding: 0;
    }

    td {
      margin: 0;
      padding: 0 $gutter-one-third 0 0;
    }
  }

  .block-5 {
    p {
      @include core-19;
    }

    .parent_organisations {
      margin-bottom: $gutter-one-third;
    }
  }


  #who {
    #ministers,
    #management,
    #military,
    #traffic_commissioners,
    #special_representatives {
      display: block;
      clear: both;
      overflow: hidden;
    }

    #management,
    #military,
    #traffic_commissioners,
    #special_representatives {
      padding-top: $gutter-half;
      @include media(tablet) {
        padding-top: $gutter*2;
      }
    }

    ul {
      position: relative;
      overflow: hidden;
      margin: 0 ($gutter-half*-1);
    }

    .ministerial_role,
    .board_member_role,
    .military_role,
    .traffic_commissioner_role,
    .special_representative_role {
      list-style: none;
      clear: left;
      @include media(tablet){
        clear: none;
      }

      @include media(tablet) {
        float: left;
        width: 25%;

        &:nth-child(4n+1) {
          clear: both;
        }
      }

      .inner {
        padding: 0 $gutter-half $gutter-half;
      }

      .image_holder {
        float: left;
        margin: 0;
        width: 25%;

        @include media(tablet){
          float: none;
          width: 100%;
        }

        span {
          padding: $gutter-one-third $gutter-half 0 0;

          @include media(desktop){
            padding: 0;
          }

          img {
            display: block;
            width: 100%;
            height: auto;
            min-height: 50px;
          }
        }
      }

      .current-appointee {
        padding-top: 0;
        a {
          &:hover,
          &:focus,
          &:active {
            text-decoration: none;

            strong {
              text-decoration: underline;
            }
          }
        }
      }

      .role a {
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }

      span {
        display: block;
        @include core-14;
        padding-bottom: 0;
        color: $low-contrast;
      }
      strong {
        display: block;
        @include core-19;
      }
      &.privy_counsellor strong {
        padding-top: 0;
      }

      .role {
        @include core-14;
        padding-top: 2px;
        padding-top: 0.2rem;
        a {
          color: $body-text;
        }
      }
    }

    #management {
      @include media(tablet) {
        // some minus margin juggling here to align the columns
        margin: 0 ($gutter-half*-1);

        h1,
        .show-other-content {
          margin-left: $gutter-half;
        }

        ul {
          position: relative;
          float: left;
          width: 25%;
          margin-right: -100%;
          margin-left: 0;
          li {
            width: 100%;
          }
        }
        ul.management-secondary {
          position: relative;
          float: left;
          width: 75%;
          margin-right: -100%;
          margin-left: 25%;
          li {
            width: 33.333333%;

            &:nth-child(4n+1) {
              clear: none;
            }

            &:nth-child(3n+1) {
              clear: both;
            }
          }
        }
      }
    }

    .show-other-content {
      float: left;
      clear: both;
      margin-right: -100%;
      margin-left: 0;
    }

  } // end #who

  #org-contacts {

    h2 {
      @include core-24;
    }

    .organisation_contact h2 {
      margin-bottom: $gutter-half;
    }

    .addresses {
      p {
        margin: 0 0 $gutter-one-third;
        .type {
          display: block;
        }
      }

      .adr {
        margin: 0 0 $gutter-one-third;
        p {
          margin: 0;
        }
      }
    }

    @include media(tablet) {
      position: relative;
      overflow: hidden;
      margin: 0 ($gutter*-0.5);

      .addresses {
        float: left;
        clear: both;
        margin-right: -100%;
        margin-left: 0;
        width: 66.666666%;

        .organisation_contact {
          padding-bottom: $gutter-two-thirds;
        }

        .complex {
          padding: 0 $gutter-half $gutter-two-thirds;

          .contact-inner {
            position: relative;
            overflow: hidden;
            float: none;
            display: block;
            padding-left: 50%;
          }

          h2 {
            position: relative;
            margin-left: -100%;
            width: 200%;
          }

          .adr {
            position: relative;
            margin-left: -100%;
            width: 100%;
          }

          p {
            padding-left: $gutter-half;
          }

          .adr {
            display: inline;
            float: left;

            p {
              padding-left: 0;
            }
          }
        }

        .simple {
          float: left;
          display: inline;
          width: 50%;

          .contact-inner {
            padding: 0 $gutter-half;
          }
        }

        .js-hidden {
          display: none;
        }

        .email {
          word-break: break-word;

          @include ie(6) {
            word-break: break-all;
          }
        }
      }

      .show-other-content {
        position: absolute;
        bottom: 0;
        left: $gutter-one-third;
      }

      .social-media {
        float: left;
        clear: none;
        margin-right: -100%;
        margin-left: 66.666666%;
        width: 33.333333%;

        section {
          padding: 0 $gutter-half;
        }
      }
    }
  }

  .social-media-accounts {
    li {
      list-style: none;
      clear: both;
      overflow: hidden;
      margin: $gutter-half 0;
      @include core-16;
      padding: 0;
      line-height: ($gutter-two-thirds+$gutter-one-sixth);
    }

    .connect {
      float: left;
      display: inline;
      width: ($gutter-two-thirds+$gutter-one-sixth);
      height: ($gutter-two-thirds+$gutter-one-sixth);
      text-indent: -5000%;
      overflow: hidden;
      margin-right: $gutter-one-third;
      background-color: $inside-gov-brand;
      background-image: image-url("social-icons-white.png");
      background-repeat: no-repeat;
    }

    .facebook .connect {
      background-position: -2px -2px;
    }

    .twitter .connect {
      background-position: -2px -32px;
    }

    .youtube .connect {
      background-position: -2px -62px;
    }

    .flickr .connect {
      background-position: -2px -92px;
    }
  }



  // org color bands

  #topics h1,
  #ministers h1,
  #management h1,
  #military h1,
  #traffic_commissioners h1,
  #special_representatives h1,
  #org-contacts h2,
  #recently_updated h1,
  #what-we-do h1 {
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  @include department-colours("h1", border-color);
  @include department-colours("h2", border-color);
  @include websafe-department-colours(".social-media-link .connect", background-color);
  @include websafe-department-colours("a", color);
}
.organisations-external {
  @include media(desktop){
    .block-2 {
      width: 66%;
      float: right;
      .inner-block {
        padding-left: $gutter-one-sixth;
      }
    }
    .block-3 {
      width: 33%;
      float: left;
    }
    .block-4 {
      width: 100%;
      clear: both;
    }
    .block-5 {
      width: 100%;
      clear: both;
    }
  }

  .page-header {
    padding: $gutter-half 0 $gutter 0;

    @include media(desktop) {
      padding-bottom: $gutter*2;
    }
  }
  .description {
    p {
      @include core-19;
    }

    margin-bottom: $gutter;

    @include media(desktop) {
      margin-bottom: $gutter*2;
    }
  }
  .thumbnail {
    margin-bottom: $gutter*2;

    img {
      @include box-shadow(0 2px 2px rgba(0,0,0,0.4));
      width: 100%;
      max-width: 287px;
    }
  }
  .information-block {
    @include core-19;
    padding: $gutter-two-thirds 33% $gutter-two-thirds 0;
    margin-top: 0;
    margin-bottom: $gutter;
    min-height: $gutter;
    background-color: transparent;
    border: solid $black 1px;
    border-width: 5px 0 1px 0;
    position: relative;

    @include media(desktop) {
      margin-bottom: $gutter*2;
    }
  }

  .information-block:after {
    content: "info";
    text-indent: -9999px;
    background-color: $inside-gov-brand;
    background-image: image-url('icon-information-transparent.png');
    background-position: center;
    height: $gutter;
    width: $gutter;
    position: absolute;
    overflow: hidden;
    @include border-radius($gutter);

    top: $gutter-one-third/2;
    right: $gutter-one-third/2 ;

    @include media(tablet) {
      top: $gutter-one-third;
      right: $gutter-one-third;
    }

  }

  #recently-updated table {
    margin-top: $gutter-one-third;
  }

}


// Used on:
// organisations#about, corporate_information_page#show
.organisation-page {
  @include department-colours('nav a', color);
  @include department-colours('.body a', color);
  @include department-colours('.body .attachment .accessibility-warning h3 .toggler', color);
  @include department-colours('.corporate-info a', color);

  @include media(desktop){
    .block-1 {
      width: 33%;
      float: left;
    }
    .block-2 {
      width: 66%;
      float: right;
    }
  }

  .page-header {
    padding: $gutter-half 0;

    h2.sub-organisation-name {
      padding-top: $gutter !important;
      @include core-36;
      a {
        color: #000;
      }
    }
  }

  nav {
    @include core-16;
    padding: ($gutter - $gutter-one-third) 0 $gutter;
    h1 {
      @include bold;
    }

    ol {
      li {
        padding-top: $gutter-one-sixth;
        list-style: disc;
        margin-left: 1.2em;
        @media (min-width: 1px ){ // target modern browsers
          list-style: none;
          &:before {
            content: "-";
            position: relative;
            float: left;
            width: $gutter-half;
            margin-left: $gutter-half*-1;
          }
        }
      }
    }
  }
  .main {
    @include core-48;

    @include media(desktop){
      margin: ($gutter*3 + $gutter-half) 0 $gutter-half;
    }
  }
  .description {
    @include core-27;
  }
  .body {
    h2 {
      border-bottom: 1px solid $light-keyline;

      &:first-child {
        margin-top: $gutter;
      }
    }
  }
  .corporate-info {
    padding-top: $gutter-half;

    h1 {
      @include core-27;
      border-bottom: 4px solid;
    }
    h2 {
      @include core-16;
      padding-top: $gutter-two-thirds;
    }

    ul {
      li {
        list-style: none;
        border-bottom: 1px solid $light-keyline;
        padding: $gutter-one-sixth 0;

        h3 {
          @include core-19;
          padding: 0;
        }
        .metadata {
          @include core-14;
          padding: 0;
        }
        a {
          @include bold;
        }
      }
    }
    .transparency {
      a {
        @include core-19;
        @include bold;
      }
    }
  }
  @include department-colours('.corporate-info h1', border-color);
}



