.people-list {
  .alphabetical-list .alphabetical-row li {
    @include single-col-li;
  }
  .alphabetical-list .alphabetical-row li:first-child {
    padding-top: $gutter;
  }
}

.biographical-page {
  header.person {
    ul li {
      color: $grey-63;
      list-style: none;
      @include core-27;
    }

    ul li + li:before {
      content:"& ";
    }

    ul.single li {
      @include core-48;
      margin-left: 0;
      @include media(desktop){
        margin-left: -3px;
      }
    }
  }

  .in-page-navigation {
    @include core-14;
    margin-top: 0;
    padding-top: 0;
    nav, h1 {
      padding-top: 0;
      margin-top: 0;
    }

    ul {
      margin: 0 0 $gutter-half $gutter-half;
      ul {
        margin-bottom: 0;
      }
    }
    ul.organisations-icon-list {
      margin: 0;
    }
    figure.img {
      margin: 0;
      width: 100%;
      img {
        width: 100%;
        max-width: 135px;
      }
    }
  }

  .previous-roles table.document-list td.date {
    text-align: left;
  }

  .block-3 {
    .inner-block > :first-child {
      margin-top: 0;
    }

    .govspeak {
      margin-top: $gutter-half;
      display: inline;
    }

    section {
      margin: $gutter 0 $gutter*2;
      h1 {
        @include core-27;
        margin: 0;
      }

      .read-more {
        margin-top: $gutter-half;
        background-color: $light-warm-grey;
        padding: $gutter-one-sixth $gutter-one-third;
      }
    }

    ul.organisations-icon-list {
      margin: 12px 0 $gutter $gutter-half;
      float: right;
      min-width: 33.333333%;
      
      li {
        margin-left: $gutter-half;
      }
    }
  }

  .block-2, .block-3 {
    .inner-block {
      padding-top: $gutter-half;
    }
  }

  .current-role-holder {
    h1 {
      color: $grey-63;
      .name {
        color: $body-text;
      }
    }
  }
}
