.people-list {
  .alphabetical-list .alphabetical-row li {
    padding: 0 0 $gutter-half 0;
    float: none;
    display: block;
  }
  .alphabetical-list .alphabetical-row li:first-child {
    padding-top: $gutter;
  }
}

.biographical-page {
  .page-header {
    margin: ($gutter - $gutter-one-sixth) 0 $gutter;
  }

  header.person {
    h1 {
      padding-bottom: 0;
    }
    
    ul li {
      color: $grey-63;
      list-style: none;
      @include core-27;
    }

    ul li + li:before {
      content:"& ";
    }

    ul.single li {
      @include core-48;
      margin-left: 0;
      padding-top: 0;
      @include media(desktop){
        margin-left: -3px;
      }
    }
  }

  .in-page-navigation {
    margin-top: 0;
    padding-top: 0;
    .image {
      padding: $gutter-one-sixth 0 $gutter-two-thirds;
    }
    nav, h1 {
      padding-top: 0;
      margin-top: 0;
    }

    ul {
      margin: 0 0 $gutter-half $gutter-half;
      ul {
        margin-bottom: 0;
      }
    }
    ul.organisations-icon-list {
      margin: 0;
    }
    figure.img {
      margin: 0;
      width: 100%;
      img {
        width: 100%;
        max-width: 216px;
        @include ie(6) {
          width: 216px;
        }
      }
    }
  }

  .previous-roles table.document-list td.date {
    text-align: left;
  }

  .block-3 {
    .inner-block > :first-child {
      margin-top: 0;
    }

    .govspeak {
      margin-top: $gutter-half;
      display: inline;
    }

    section {
      margin: $gutter 0 $gutter*2;
      h1 {
        @include core-27;
        margin: 0;
      }

      .read-more {
        @include core-19;
      }
    }

    ul.organisations-icon-list {
      margin: 12px 0 $gutter $gutter-half;
      float: right;
      min-width: 33.333333%;

      li {
        margin-left: $gutter-half;
      }
    }
  }

  .block-2, .block-3 {
    .inner-block {
      padding-top: $gutter-half;
    }
  }

  .current-role-holder {
    h1 {
      color: $grey-63;
      .name {
        color: $body-text;
      }
    }
  }
}
