.policy {
  .meta-three {
    clear: both;
    position: relative;
    padding: $gutter 0 $gutter-half;
    @extend %contain-floats;

    @include media(tablet) {
      padding: ($gutter + $gutter-one-third - 2px) 0 ($gutter);
    }
  }

  .block-2, .block-3 {
    display: block;
    float: none;
    width: $full-width;
  }

  @include media(desktop) {
    .block-2 {
      float: left;
      display: inline;
      width: $one-third;
      @include right-to-left {
        float: right;
      }
    }
    .block-3 {
      float: left;
      display: inline;
      width: $two-thirds;
      @include right-to-left {
        float: right;
      }
    }
  }

  .supporting-page-title {
    @include ig-core-27;
    font-weight: bold;
    margin-bottom: $gutter + $gutter-one-third;
  }

  .contextual-info {
    nav {
      margin-top: 0;
    }
  }

  .policy-parts {
    display: none;

    ol {
      list-style: decimal;
    }

    @include media(desktop) {
      display: block;
    }
  }

  .govspeak {
    h2 {
      margin-top: $gutter;
      position: relative;
      &:first-child {
        margin-top: 0;
      }
      @include media(tablet) {
        margin-top: $gutter+$gutter-half;
      }
    }

    h2 + h3,
    h2 + p {
      margin-top: 0;
    }
  }

  .supporting_pages {
    margin: ($gutter-half*-1) (-$gutter) $gutter (-$gutter);

    @include media(desktop) {
      margin-left: 0;
      margin-right: 0;
      border: none;
    }

    .contents-toggle {
      display: block;
      text-decoration: none;
      zoom: 1;

      background: transparent image-url("accordian-arrow.png") $full-width -40px no-repeat;

      margin-left: 0;
      padding: 0.5em 2em;

      float: none;
      clear: both;

      border: solid 1px $border-colour;
      border-width: 1px 0;

      line-height: (45/16);

      @include media(tablet) {
        line-height: (45/19);
      }

      @include media(desktop) {
        display: none;
      }

      &.closed {
        background-position: $full-width 6px;
      }
    }

    li {
      margin-left: 0;
      float: none;
      border-bottom: solid 1px $border-colour;

      &:before { display: none; }

      @include ig-core-19;
      line-height: (45/16);

      @include media(tablet) {
        line-height: (45/19);
      }

      @include media(desktop) {
        line-height: (25/19);
        float: left;
        margin-bottom: $gutter-one-third;
        border: none;
        &:before { display: none; }
      }

      a {
        display: block;
        padding: 0.75em 2em;
        text-decoration: none;
        zoom: 1;

        @include media(desktop) {
          max-width: 16.5em;
          display: inline;
          padding: 0;
        }
      }

      &.active a {
        color: $text-colour;
      }

      @include ie(6) {
        float: left;
        clear: left;
        width: $full-width;
      }

      @include ie(7) {
        zoom: 1;
      }
    }
  }

  // this is shown when there's no activity-navigation
  .no-navigation {
    border-bottom: 1px solid $border-colour;
    padding-bottom: 50px;
    // this margin-bottom depends on font size, but we can't add ems and px
    margin-bottom: $gutter + 34px;
  }

  #case-studies {
    h1 {
      // from _document.scss h2
      @include ig-core-27;
      color: lighten($text-colour, $half);
      margin-top: $gutter;
      @media (max-width: 640px) {
        margin-top: $gutter-half;
      }
    }
    li {
      // from _document.scss li
      width: 90%;
      @include ig-core-19;
      margin-left: $gutter*1.2;

      li {
        margin-left: $gutter;
      }

      @media (min-width: 768px) {
        margin-left: 0;

        li {
          margin-left: $gutter*2;
        }
      }
    }
  }

}

.policies-activities {
  .policy {
    .block-2 {
      position: relative;
      display: block;
      float: none;
      width: $full-width;
    }
  }

  // see helpers/_feed.scss for the other styles
  .feeds {
    margin: $gutter-one-third 0;

    @include media(tablet) {
      margin: 0;
      position: absolute;
      right: $gutter-half;
      top: 0;
    }

    .feed-panel {
      position: absolute;
      right: 0;
    }
  }
}
