.policies-index {

  .block-2 h1 {
  //  @include sans-15;
  }
  .alphabetical-list .alphabetical-row {
    p {
    //  @include sans-15;
    }
    .inner {
      padding-top: $gutter-one-third;
    }
    li {
      a {
      //  @include sans-15;
      }
    }
    
    
    @media (min-width: 768px) {
      .inner {
        padding: $gutter-two-thirds 0 $gutter;
        min-height: $gutter*2;
      }
      li {
        width: 100%;
        float: none;
        display: block;
      }
    }
  }
}

.policy {

  .content-fixed {
    position: fixed!important;
    top: 0;
    width: 15%;
  }

  .meta-topic {
    @include core-19;
    @media (min-width: 768px) {
      display: inline;
      float: left;
      width: 50%;
    }
    p {
      display: inline;
      float: left;
      margin-right: $gutter-one-third;
    }
    ul, li {
      display: inline;
      margin: 0;
      padding: 0;
    }
    li:before {
      content: ",";
      margin-right: $gutter*0.1;
    }
    li:first-child:before {
      content: " ";
    }
  }

  .meta {
    @include core-19;
    position: relative;
    @media (min-width: 768px) {
      float: right;
      width: 50%;
      text-align: right;
      white-space: nowrap;
    }

    .metadata {
      display: inline;
    }

    .change-notes-container {
      display: inline;
      margin: 0;
     .change-notes{
        top: 100%;
        margin-top: $gutter-half;
        right: 0;
      }
      a {
        position: relative;
        @include button($light-warm-grey);
        color: inherit;
        margin: -0.376em 0 -0.375em;
      }
      .link-to-change-notes {
        display: inline;
      }
    }
  }

  .block-2 {
    width: 25%;
  }
  .block-3 {
    width: 75%;
  }

  .supporting-page-title {
    @include core-27;
    margin-bottom: $gutter;
  }

  .contextual-info {
    nav {
      margin-top: 0;
    }
  }

  #document-organisations + #document-ministers, #document-organisations {
    background: none;
    margin: 0 0 0 25%;
    padding-left: 0;
    padding-top: 0;
    h3 {
      @include sans-15;
    }
  }

  #document_ministers {  
    margin-bottom: $gutter;  
    li {
      h3 {
        margin-bottom: 0;
        }
      }
  }

  .current-appointee {
    margin-right: $gutter-half;
  }

  .page-header {
    padding: $gutter 0;
    h1 {
      clear: both;
      text-align: center;
      max-width: 18em;
      margin: 0 auto;
    }
  }

  .policy-parts {
    ol {
      list-style: decimal;
      margin-left: $gutter;
    }
  }



  .organisation-logo-small {
    background-position: 8px center;
    font-size: 2rem;
    height: 25px;
    line-height: 1;
    padding: 0px 0 0 46px;
  }

  .govspeak {
    margin-top: $gutter!important;
    h2 {
      position: relative;
    }
  }

  .supporting_pages {
    li {
      border-style: solid;
      border-color: lighten($cool-grey, 5%) $light-blue-grey $white lighten($cool-grey, 5%);
      border-width: 0 1px;
      padding: 0!important;
        a {
        background-color: lighten($cool-grey, 5%);
        border-bottom: 1px solid $white;
        display: block;
        min-height: 50px;
        padding: $gutter-two-thirds;
        overflow: hidden;
        text-decoration: none;
        z-index: 1;
        &:hover, &:focus {
          background-color: lighten($cool-grey, 1%);
          @include transition(background, 0.5s, ease)
        }
      }
    }
    li.active {
        a {
        background-color: $white;
      }
      border-color: $light-blue-grey $white $light-blue-grey $light-blue-grey;
      border-width: 1px;
    }
    li:first-child.active {
      border-top-color: $white;
    }
  }

  .policy-navigation {
    border-top: 1px solid $light-blue-grey;
    display: block;
    margin-top: 50px;
    width: auto;
    ul {
      @include border-radius(0.6em);
      background-color: lighten($charcoal-grey, 10%);
      display: inline-block;
      margin: -30px auto $gutter 25%;
      overflow: hidden;
      padding: $gutter-half*0.4;
      position: relative;
      //width: 50%;
         -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
           -o-box-sizing: border-box;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      li {
        float: left;
        display: inline;
        margin-right: $gutter-half*0.4;
        width: 12em;

        a {
          @include core-19;
          font-family: $NTA-Bold;
          color: $white;
          display: block;
          padding: $gutter-one-third 0;
          @include border-radius(0.3em);
          text-align: center;
          text-decoration: none;
          width: auto;
          opacity: 0.75;
          &.current {
            opacity: 0.85;
            @include gradient(#bbb, #888);
          }
          &:hover, &:focus {
            opacity: 1;
          }
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }

}

  .policies-activities {
    .policy {
      .block-1, .block-2 {
        display: block;
        float: none;
        width: 100%;
      }
      .latest_documents {
        ul {
          margin-top: 0;
        li {
          border: 1px solid $light-blue-grey;
          border-width: 0 0 1px 0;
          overflow: hidden;
          margin-top: 0;
          padding: $gutter-one-third 0;
          a, .metadata {
            float: left;
            display: inline;
            width: 60%;
            padding: 0;
          }
          .metadata {
            padding-top: $gutter-half;
            width: 30%;
          }
        }
        li:first-child {
          border-width: 1px 0;
        }
        li:first-child, li:nth-child(2), li:nth-child(3) {
          a {
            font-size: 3rem;
            display: block;
            float: none;
            width: 100%;
          }
          .metadata {
            display: block;
            float: none;
            width: 100%;
          }
        }
      }
      }
    }
  }


