.policies-index {

  .block-2 h1 {
    @include sans-15;
  }
  .alphabetical_list .alphabetical_row {
    p {
      @include sans-15;
    }
    .inner {
      padding-top: $gutter-one-third;
    }
    li {
      a {
        @include sans-15;
      }
    }
    
    
    @media (min-width: 768px) {
      .inner {
        padding: $gutter-two-thirds 0 $gutter;
        min-height: $gutter*2;
      }
      li {
        width: 100%;
        float: none;
        display: block;
      }
    }
  }
}

.policy {

  .meta {
    float: right;
    width: 35%;
    span {
      float: left;
    }
    div {
      float: right;
    }
  }
  .meta-topic {
    display: inline;
    float: left;
    width: 65%;
    p {
      display: inline;
      float: left;
      margin-right: $gutter-one-third;
    }
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      float: left;
    }
    li:before {
      content: ",";
      margin-right: $gutter*0.1;
    }
    li:first-child:before {
      content: " ";
    }
  }

  .block-2 {
    width: 25%;
  }
  .block-3 {
    width: 75%;
  }

  .supporting-page-title {
    @include core-27;
    margin-bottom: $gutter;
  }

  .contextual_info {
    nav {
      margin-top: 0;
    }
  }

  #document_organisations, #document_ministers {
    background: none;
    margin: 0 0 0 25%;
    h3 {
      @include sans-15;
    }
  }

  .current_appointee {
    float: left;
    margin-right: $gutter-half;
  }

  .page_header {
    h1 {
      clear: both;
      margin-bottom: $gutter;
      text-align: center;
    }
  }

  .policy_parts {
    ol {
      list-style: decimal;
      margin-left: $gutter;
    }
  }



  .change_notes_container {
      position: relative;
      top: -$gutter-one-third;
    .change_notes{
      right: 0;
    }

    a{
      @include button($turquoise);
    }
  }

  .organisation_logo_small {
    background-position: 8px center;
    font-size: 2rem;
    height: 25px;
    line-height: 1;
    padding: 0px 0 0 46px;
  }

  .govspeak {
    margin-top: $gutter!important;
    h2 {
      position: relative;
    }
    h2:before {
      content: "1";
      color: lighten($yellow, 10%);
      font-size: 23rem;
      left: -50%;
      line-height: 1;
      position: absolute;
      text-align: center;
      top: -$gutter-half;
      width: 100%;
      z-index: -1;
    }
    /*h2:nth-child(2) {
      color: red;
    }
    h2:nth-child(3) {
      color: blue;
    }
    h2:nth-child(4) {
      color: green;
    }
    h2:nth-child(5) {
      color: yellow;
    }
    h2:nth-child(6) {
      color: purple;
    } */


    h2:nth-child(2):before {
      content: "2";
    }
    h2:nth-child(3):before {
      content: "3";
    }
    h2:nth-child(4):before {
      content: "4";
    }
    h2:nth-child(5):before {
      content: "5";
    }
    h2:nth-child(6):before {
      content: "6";
    }
  }

  .supporting_pages {
    a {
      background-color: $cool-grey;
      border-style: solid;
      border-color: $cool-grey $charcoal-grey $cool-grey $cool-grey;
      border-width: 0 1px;
      display: block;
      min-height: 90px;
      padding: $gutter-two-thirds;
      overflow: hidden;
      text-decoration: none;
      z-index: 1;
    }
    a.current {
      background-color: $white;
      border-color: $charcoal-grey $white $charcoal-grey $charcoal-grey;
      border-width: 1px;
    }
    a:first-child.current {
      border-top-color: $white;
    }
    a:before {
      content: "1";
      color: lighten($yellow, 20%);
      font-size: 13rem;
      width: 100%;
      text-align: center;
      font-weight: 700;
      left: -40%;
      line-height: 1;
      position: absolute;
      top: $gutter-one-third;
      z-index: -1;
    }
    a:nth-child(2):before {
      content: "2";
    }
    a:nth-child(3):before {
      content: "3";
    }
    a:nth-child(4):before {
      content: "4";
    }
    a:nth-child(5):before {
      content: "5";
    }
    a:nth-child(6):before {
      content: "6";
    }
    a:nth-child(7):before {
      content: "7";
    }
    a:nth-child(8):before {
      content: "8";
    }
    a:nth-child(9):before {
      content: "9";
    }
    a:nth-child(10):before {
      content: "10";
    }
  }

  .policy-navigation {
    border-top: 1px solid $charcoal-grey;
    display: block;
    margin-top: 50px;
    width: auto;
    ul {
      @include border-radius(0.3em);
      background-color: $charcoal-grey;
      margin: -30px 0 $gutter 25%;
      overflow: hidden;
      padding: $gutter-half*0.4;
      width: 50%;
      li {
        float: left;
        display: inline;
        margin-right: $gutter-half*0.4;
        width: 32.6%;
        a, a.current {
          @include border-radius(0.3em);
          @include gradient(#ccc, #999);
          color: $white;
          display: block;
          padding: $gutter-one-third 0;
          text-align: center;
          text-decoration: none;
          width: auto;
          &:hover {
            @include gradient(#bbb, #888);
          }
        }
        a {
          background: none;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }

}

  .policies-activities {
    .policy {
      .block-1, .block-2 {
        display: block;
        float: none;
        width: 100%;
      }
      .latest_documents {
        ul {
          margin-top: 0;
        li {
          border: 1px solid $light-blue-grey;
          border-width: 0 0 1px 0;
          overflow: hidden;
          margin-top: 0;
          padding: $gutter-one-third 0;
          a, .metadata {
            float: left;
            display: inline;
            width: 60%;
            padding: 0;
          }
          .metadata {
            padding-top: $gutter-half;
            width: 30%;
          }
        }
        li:first-child {
          border-width: 1px 0;
        }
        li:first-child, li:nth-child(2), li:nth-child(3) {
          a {
            font-size: 3rem;
            display: block;
            float: none;
            width: 100%;
          }
          .metadata {
            display: block;
            float: none;
            width: 100%;
          }
        }
      }
      }
    }
  }


