.policy-teams {
  .page-header {
    padding: $gutter-half 0;
    @include media(tablet){
      padding: $gutter*1.5 0 ($gutter + $gutter-one-third);
    }
    h1 {
      padding-bottom: 0;
      @include bold;
    }
  }
  
  @include media(desktop) {
    .block-2, .block-3 {
      width: 33%;
      float: left;
      display: inline;
    }

    .block-3 {
      width: 66%;
      .policies {
        list-style: none;
      }
    }
  }
  h2 {
    @include core-27;
    color: lighten($body-text, 20%);
    margin-top: $gutter;
    @include media(tablet) {
      margin-top: $gutter-half;
    }
  }

  .policy, .email {
    @include core-19;
  }
}
