.policy-groups {
  .summary {
    width: $full-width;
    @include ig-core-24;
    margin-bottom: $gutter*2;
  }

  @include media(desktop) {
    .sidebar, .content {
      width: $one-third;
      float: left;
      display: inline;
    }

    .block-2 {
      padding-top: $gutter-one-sixth;

      h1 {
        margin-top: $gutter-one-third;
      }
    }

    .content {
      width: $two-thirds;
      .policies {
        list-style: none;
      }
    }
  }
  h2 {
    @include ig-core-27;
    margin-top: $gutter;
    @include media(tablet) {
      margin-top: $gutter-half;
    }
  }

  .description {
    padding-bottom: $gutter-half;
    .govspeak p:first-child {
      @include ig-core-24;
    }
  }

  .policy {
    @include ig-core-19;
    list-style: none;
    border-bottom: 1px solid $border-colour;
    @include bold;
  }

  .email {
    @include ig-core-19;
  }
}
