.policies-index {

  .block-2 h1 {
    @include sans-15;
  }

  .alphabetical_list .alphabetical_row {
    
    p {
      @include sans-15;
    }
  
    .inner {
      padding-top: $gutter-one-third;
    }
    
    li {
      a {
        @include sans-15;
      }
    }
    
    
    @media (min-width: 768px) {
    
      .inner {
        padding: $gutter-two-thirds 0 $gutter;
        min-height: $gutter*2;
      }
    
      li {
        width: 100%;
        float: none;
        display: block;
      }
    }
  }
}