// Styles for Publications view

.publications-index {
  .page-header {
    padding: $gutter-one-third*2 0;
    margin: 0;
  }
  .block-4 {
    width: 100%;
  }
}

#page.publications-index .previous-next-navigation {
  background: $light-warm-grey;

  li a {
    color: $charcoal-grey;
  }
}

.publication {
  .contextual-info {
    a {
      top: -1px;
    }
  }
  .attachment {
    .order_url {
      clear: both;
      @include core-14;
    }
  }
}
