.publication-header__updated {
  color: govuk-colour("white");

  strong {
    font-weight: bold;
  }
}

.publication-header__download-link {
  color: govuk-colour("white");

  &:focus {
    color: govuk-colour("black");
  }
}
