// Styles for Publications view

.publications-index {
  .page-header {
    padding: 0 0 ($gutter + $gutter-one-third);
    margin: 0;
    position: relative;

    .subscribe {
      position: absolute;
      right: 0;
      bottom: ($gutter + $gutter-two-thirds);
    }
  }

  @include ie(6) {
    .block-2,
    .block-3,
    .block-4 {
      position: relative;
      zoom: 1;
    }
  }

  .block-4 {
    width: 100%;
  }
}

.publication {
  .page-header {
    padding-bottom: $gutter;
  }

  .document-series {
    background-color: $light-blue;
    color: white;
    padding: $gutter-one-third $gutter-one-third $gutter-half 26.5%;

    span, a {
      display: block;
    }

    span {
      @include core-19;
    }

    a {
      @include core-27;
      color: white;
      text-decoration: underline;
    }
  }
}
