.search-index {
  li {
    list-style: none;
    margin-bottom: $gutter;
  }
  .button {
    color: $white;
    background-color: #4370CD;
    border-color: #4370CD;
    line-height: 1.25em;
    padding: 0.2em 0.5em;
  }
  input#main_searchbox {
    border: 1px solid $panel-colour;
  }
}
