.services-and-information-show {
  .headings-block {
    padding: $gutter-one-third 0;
    @include media(tablet) {
      padding: 0;
    }
  }
  .browse-container {
    h2 {
      @include bold-19;
      padding-bottom: $gutter-one-third;
      @include media(tablet) {
        padding-right: $gutter-two-thirds;
      }
    }
    ol {
      list-style: none;
      margin-bottom: $gutter-half;
      @include media(tablet) {
        margin-bottom: $gutter;
      }
      li {
        @include bold-19;
        padding-bottom: $gutter-one-third;
      }
      .other {
        text-decoration: underline;
      }
    }
  }
}
