.specialist-guides-index {
  margin-bottom: 120px;

  .page-header {
    padding: 20px 0;
    margin: 0;
  }

  .filter-block {
    .multi-row-select {
      @media (min-width: 768px) {
        height: 130px;
      }
    }
    .button {
      @include button($light-blue);
      @include core-19;
      padding-bottom: 7px;
      padding-bottom: 0.7rem;
    }
  }
}

.specialist-guides-show {
  @include media(desktop) {
    .block-2 {
      width: 25%;
    }
    .block-3 {
      width: 70%;
    }
    .block-4 {
      width: 100%;
      margin: 0;
      padding-bottom: $gutter*2;
    }
  }

  .page-header {
    color: $light-blue;
    border: 4px solid;
    padding: $gutter-half $gutter-half $gutter-one-third;
    margin-bottom: $gutter;
    overflow: hidden;
    width: auto;
    float: none;
    position: relative;

    .organisations-icon-list {
      overflow: hidden;
      width: 100%;
      padding-bottom: $gutter-one-third;
      @include media (640px) {
        padding-bottom: $gutter-half;
      }

      li {
        list-style: none;
        color: $body-text;
        margin-bottom: $gutter-one-sixth;
        @include media (640px) {
          margin-bottom: $gutter-one-third;
        }
        a[rel=external] {
          padding-right: 0;
          margin-right: 0;
        }
      }
      .show-other-content {
        float: left;
        padding-left: $gutter-one-third;
        padding-right: $gutter-one-third;
        @include core-14;
      }
    }

    .label {
      @include core-14;
      margin-bottom: 0;
      max-width: 33em;
      a {
        white-space: nowrap;
      }
    }
    .page_title {
      margin: 0 0 $gutter;
      padding-top: 0;
    }
    .page-meta {
      @include core-19;
      max-width: 33em;
      p {
        display: inline;
      }
      .inapplicable-nations a {
        text-decoration: underline;
      }
    }
    .more-like-this {
      margin-top: $gutter-one-third;
      padding-top: $gutter-one-sixth;
      border-top: 1px solid $light-blue;
      a {
        color: $light-blue;
        text-decoration: none;
      }
    }

    .replaces-businesslink {
      position: absolute;
      bottom: $gutter;
      right: $gutter;

      p {
        color: $body-text;
      }

      .businesslink-logo {
        background-image: image-url("businesslink-logo.png");
        width: 84px;
        height: 24px;
        margin-top: 0.5em;
        padding: 0;
      }
    }
  }

  .meta {
    @include core-14;
    @include media(desktop) {
      float: right;
    }
  }

  .contextual-info {
    padding-top: $gutter-one-sixth;

    h1 {
      @include core-19;
    }

    ol {
      border-top: 1px solid $light-blue-grey;
      @include core-16;
      padding: 0;
      margin: 0;

      li {
        display: inline;
      }
      .more-like-this {
        display: block;
        margin-top: $gutter;
        background: $light-blue;
        padding: $gutter-one-sixth;

        a {
          border-bottom: 0;
          padding: $gutter-one-sixth $gutter-one-sixth+32px $gutter-one-sixth $gutter-one-sixth;
          color: $white;
          background: transparent image-url("down-arrow-small.png") no-repeat 100% 100%;
        }
      }
      a {
        display: block;
        padding: $gutter-one-sixth 0;
        border-bottom: 1px solid $light-blue-grey;
      }
    }
  }

  .back-to-content {
    position: fixed;
    top: $gutter-half;
    a {
      display: block;
    }
  }

  .in-page-navigation {
    h3 {
      @include core-16;
    }
    li {
      @include core-16;
      padding: 0;
      list-style: disc;
    }
  }

  .related-mainstream-content {
    @include media(desktop){
      float: right;
      width: 33.33%;
      padding: 0 0 $gutter $gutter;
    }

    position: relative;
    z-index:1;

    .inner {
      padding: $gutter-one-third;
      background: $light-warm-grey none no-repeat 98% $gutter-two-thirds;

      h4 {
        margin-bottom: $gutter-one-sixth;
      }
    }
  }

  .document .body {
    margin-top: -2px;
  }

  .aside-more-like-this {
    margin: 0 -$gutter;

    h1 {
      @include core-27;
      background: $light-blue;
      color: $white;
      margin: $gutter;
      padding: $gutter-one-third;
    }

    section {
      @include media(desktop){
        width: 75%;
        float: left;
      }

      .inner {
        margin: 0 $gutter;
      }

      h2 {
        @include core-27;
      }

      ul {
        @include core-19;
        color: $light-blue;

        li {
          margin-left: 1.15em;
        }
      }
    }

    .categories {
      @include media(desktop){
        width: 25%;
      }

      .inner {
        background: $light-warm-grey;
        padding: 0 $gutter-one-third $gutter-one-third;
      }

      h2 {
        @include core-19;
        color: $body-text;
      }

      ul {
        @include core-16;
      }
    }

    section {
      a {
        color: $light-blue;
      }

    }
  }

  @include media(desktop) {
    @include ie(8){
      padding-top: $gutter-half; // to fix margin-top floating sibling bug
    }
    .meta {
      position: relative;
      z-index: 49;
      margin-top: -55px;

      .meta-changes {
        width: auto;
        float: none;
        padding: 0;
        margin: 0;
      }
    }
    .page-header {
      margin-top: $gutter-half;
      padding: $gutter $gutter $gutter-two-thirds;

      .organisations-icon-list {
        overflow: hidden;
        width: 100%;
        .organisation {
          float: left;
          margin-right: $gutter;
          position: relative;
        }
        &.extra-icons .organisation {
          margin-right: $gutter-one-third;
        }
      }
      .page-meta {
        margin-right: 190px;
      }
    }
    .document_page .block-3 {
      width: 75%;
    }
  }
}

.specialist-guides-search {
  width: 100%;
  padding-bottom: $gutter*4;
  overflow: hidden;

  @include media(desktop){
    .block-1 .inner-block {
      padding: 0;
    }
    .block-3 {
      width: 30%;
      float: left;
      display: inline;
      min-height: 100px;
    }
    .block-4 {
      width: 70%;
      float: left;
      display: inline;
    }
  }
  .search-form {
    padding: $gutter*2 0;
    label {
      width: 30%;
      display: block;
      float: left;
      text-align: right;
      padding: 0.25em 0 0.25em $gutter-two-thirds;
      line-height: 1.25;
    }
    .search-box {
      width: 300px;
    }
    .button {
      top: 0;
    }
  }

  .filters {
    li a {
      @include core-16;
      display: block;
      padding: 3px 3px 3px 6px;
      width: 100%;
      overflow: hidden;
      line-height: $gutter-two-thirds+6px;

      &.active {
        background: darken($light-warm-grey, 5%);
      }
      &:hover,
      &:focus {
        background: $light-warm-grey;
      }
      span {
        display: block;
        padding: 3px;
        float: right;
        line-height: $gutter-two-thirds;
        background: $specialist-background;
      }
    }
  }
  .result-block {
    h2 {
      @include core-24;
      padding-top: 0;
      margin-bottom: $gutter-half;
    }
    .more-results {
      text-align: right;
    }
  }
  .search-results {
    .result {
      margin-bottom: $gutter;
      list-style: none;

      h3 {
        margin-bottom: $gutter-one-sixth;
      }
      .highlight, .description {
        margin-bottom: $gutter-one-third;
      }
      .meta {
        @include core-16;
      }
      .meta {
        display: block;
        padding: 0;
        .section {
          margin-left: $gutter-half;
        }
      }

      &.guide {
        background-image: url(/government/assets/icons/mainstream/icon-guide-s.png);
      }
      &.answer,
      &.calendar,
      &.smart_answer,
      &.calculator,
      &.custom-application {
        background-image: url(/government/assets/icons/mainstream/icon-answer-s.png);
      }
      &.local_transaction,
      &.transaction,
      &.place,
      &.nearest,
      &.service {
        background-image: url(/government/assets/icons/mainstream/icon-service-s.png);
      }
      &.programme {
        background-image: url(/government/assets/icons/mainstream/icon-programme-s.png);
      }
      &.licence {
        background-image: url(/government/assets/icons/mainstream/icon-licence-s.png);
      }
      &.guide,
      &.answer,
      &.calendar,
      &.licence,
      &.smart_answer,
      &.calculator,
      &.custom-application,
      &.local_transaction,
      &.transaction,
      &.place,
      &.nearest,
      &.service,
      &.programme {
        background-repeat: no-repeat;
        background-position: 0 100%;
        .meta {
          text-indent: 30px;
        }
      }
      &.specialist_guidance {
        .meta {
          border-left: 3px solid $light-blue;
          padding-left: 10px;
        }
      }
    }
  }
}

.mainstream-category-show {
  margin-bottom: 120px;
}
