
.specialist-guides-show {
  .change-notes {
    h1 {
      @include core-14;
    }
    .overlay {
      display: none;
    }
  }
  .metadata {
    @include core-14;
  }
  .page-header {
    padding-bottom: $gutter*2;
    .organisations, .organisation {
      list-style: none;
      margin:0;
      padding: 0;
    }
  }
  .change-notes-container {
    display: none;
  }
}

