.specialistguide {
  .pageNavigation {
    margin-left: 1em;
  }
}

.specialist-guides-index {
  h2 {
    @include sans-18;
  }
  ul {
    margin-bottom: $gutter;
  }
}

.specialist-guides-show {
  .in-page-navigation {
    h3 {
      @include core-19;
    }
    li {
      @include core-14;
      padding: 0;
    }
  }
}
