.specialistguide {
  .pageNavigation {
    margin-left: 1em;
  }
}

.specialist-guides-index {
  h2 {
    @include sans-18;
  }
  ul {
    margin-bottom: $gutter;
  }
}

.specialist-guides-show {
  .page-header {
    .label {
      @include core-14;
      margin-bottom: 0;
      max-width: 33em;
      a {
        white-space: nowrap;
      }
    }
    .page_title {
      margin: $gutter-two-thirds 0 $gutter-one-third;
    }
    .page-meta {
      @include core-19;
      max-width: 33em;
      p {
        display: inline;
      }
    }
  }

  .meta {
    @media (min-width: 568px) {
      float: right;
    }
    @include core-14;
    .link-to-change-notes {
      @include button($light-warm-grey);
      color: $body-text;
      margin-top: -4px;
    }
    .change-notes-container {
      margin-top: $gutter-one-third;

      .link-to-change-notes {
        display: none;
      }
    }
  }

  .contextual-info {
    padding-top: $gutter-one-sixth;

    ol li ol li {
      list-style-type: decimal;
      list-style-position: inside;
      color: lighten($body-text, 40%);
      a {
        display: inline;
        color: lighten($body-text, 40%);
      }
    }
    li {
      @media (max-width: 640px) {
        padding-bottom: $gutter-one-sixth;
      }
    }
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .in-page-navigation {
    h3, li {
      @include core-14;
      padding: 0;
    }
  }

  .previous-next-navigation {
    overflow: hidden;
    background: $light-blue;
    margin-top: $gutter*2;

    li {
      @include core-27;
      font-weight: bold;
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;

      &.next {
        text-align: right;

        a {
          padding: $gutter-half $gutter-half+30px;
        }
        a:before {
          background: transparent url(/government/assets/arrow-sprite.png) no-repeat -102px -11px;
          margin: -4px -32px 0 0;
          display: block;
          float: right;
          width: 30px;
          height: 38px;
          content: " ";
        }
      }
      &.previous {
        a {
          padding: $gutter-half $gutter-half+30px;
        }
        a:before {
          background: transparent url(/government/assets/arrow-sprite.png) no-repeat -20px -11px;
          margin: -4px 0 0 -32px;
          display: block;
          float: left;
          width: 30px;
          height: 38px;
          content: " ";
        }
      }

      a {
        display: block;
        color: $white;
        text-decoration: none;

        span {
          display: block;
          @include core-14;
          color: $body-text;
        }
        &:focus span,
        &:hover span {
          text-decoration: underline;
        }
        &:active {
          background: darken($light-blue, 10%);
        }
      }
      @media (min-width: 768px) {
        width: 45%;
        float: left;
        &.next {
          float: right;
          a {
              padding: $gutter-half $gutter-half+30px $gutter-half 0;
          }
        }
        &.previous {
          a {
              padding: $gutter-half 0 $gutter-half $gutter-half+30px;
          }
        }
      }

    }
  }

   @media (min-width: 768px) {
    .page-header {
      padding-bottom: $gutter*3;
    }
    .document_page .block-3 {
      width: 75%;
    }
  }
}
