.specialistguide {
  .pageNavigation {
    margin-left: 1em;
  }
}

.specialist-guides-index {
  h2 {
    @include sans-18;
  }
  ul {
    margin-bottom: $gutter;
  }
}

.specialist-guides-show {
  @media (min-width: 768px) {
    .block-2 {
      width: 25%;
    }
    .block-3 {
      width: 70%;
    }
    .block-4 {
      width: 100%;
    }
  }

  .page-header {
    color: $light-blue;
    border: 4px solid;
    padding: $gutter-half $gutter-half $gutter-one-third;
    margin-bottom: $gutter;
    overflow: hidden;

    .organisations {
      padding-bottom: $gutter-half;

      li {
        margin-bottom: $gutter-one-third;
        list-style: none;
        color: $body-text;
      }
    }

    .label {
      @include core-14;
      margin-bottom: 0;
      max-width: 33em;
      a {
        white-space: nowrap;
      }
    }
    .page_title {
      margin: 0 0 $gutter;
      padding-top: 0;
    }
    .page-meta {
      @include core-19;
      max-width: 33em;
      p {
        display: inline;
      }
    }
    .more-like-this {
      margin-top: $gutter-one-third;
      padding-top: $gutter-one-sixth;
      border-top: 1px solid $light-blue;
      a {
        color: $light-blue;
        text-decoration: none;
      }
    }
  }

  .related-mainstream-content {
    margin: $gutter 0;
    background: $light-warm-grey url(/government/assets/information-icon.png) no-repeat 98% $gutter-two-thirds;
    padding: $gutter-two-thirds 55px $gutter-two-thirds $gutter-two-thirds;
    p {
      margin: 0;
      padding: 0;
    }
  }

  .meta {
    @include core-14;
    @media (min-width: 568px) {
      float: right;
      .change-notes.toggleable .overlay {
        left: -100%;
        &.visuallyhidden {
          left: -9999em;
        }
        .arrow {
          left: 70%;
        }
      }
    }
  }

  .contextual-info {
    padding-top: $gutter-one-sixth;
    ol {
      margin-left: 1.1em;
      li {
        padding-bottom: 3px;
      }
    }
  }
  .js-paginate-document {
    .contextual-info {
      ol {
        margin-left: 0;
      }
      ol li ol li {
        list-style-type: decimal;
        list-style-position: inside;
        color: $white;
        a {
          margin-left: $gutter-one-third;
        }
      }
      nav {
        li {
          padding-bottom: 0;
          list-style: none;
          a {
            padding: $gutter-one-third $gutter-one-third $gutter-half $gutter-one-third+1;
            border-bottom: 1px solid $white;
            display: block;
            color: $white;
            background: $light-blue;
            text-decoration: none;
            &:hover,
            &:focus {
              background: lighten($light-blue, 10%);
            }
            &:active {
              background: lighten($light-blue, 15%);
            }
            &.active {
              border-bottom: 0;
              margin-top: -1px;
              border-left: 1px solid $light-blue;
              background: transparent;
              color: $light-blue;
              padding: $gutter-one-third+1px $gutter-one-third $gutter-half+1px;
              &:hover,
              &:focus {
                background: lighten($light-blue, 45%);
              }
              &:active {
                background: lighten($light-blue, 40%);
              }
            }
          }
          &:first-child a {
            border-top-color: transparent;
            &.active {
              border-top: 1px solid $light-blue;
              border-width: 1px 0 1px 1px;
            }
          }
        }
      }
    }
  }

  .page.hidden {
    display: none;
  }

  .in-page-navigation {
    h3 {
      @include core-16;
    }
    li {
      @include core-16;
      padding: 0;
      list-style: disc;
    }
  }

  .document .body {
    margin-top: -2px;

    a[rel=external] {
      display: inline;
    }
  }

  .block-4 {
    padding-bottom: 0;

    .inner-block {
      border-top: 4px solid $light-blue;
    }

    .related-guidance {
      padding-top: $gutter-half;
      padding-bottom: $gutter;
      color: $light-blue;
      a {
      color: $light-blue;
      }

      h1 {
        @include core-27;
        //color: lighten($body-text, 50%);
      }
      ul {
        @include core-19;
        li {
          margin-left: 1.2em;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .page-header .organisation-logo-small {
      padding: 28px 0 0 8px;
    }
  }
  @media (min-width: 768px) {
    .meta {
      position: relative;
      z-index: 101;
      margin-top: -55px;
    }
    .page-header {
      margin-top: $gutter-half;
      padding: $gutter $gutter $gutter-two-thirds;

      .organisations {
        overflow: hidden;
        .organisation {
          float: left;
          margin-right: $gutter;

          a:after {
            content: "";
            margin: 0;
          }
        }
      }
      .page-meta {
        margin-right: 190px;
      }
      .more-like-this {
        float: right;
        padding: $gutter-two-thirds $gutter;
        border-left: 1px solid $light-blue;
        margin-top: -49px;
        margin-right: -$gutter;
        margin-bottom: -$gutter-two-thirds;
        a {
          padding-bottom: 3px;
          display: block;
        }
      }
    }
    .document_page .block-3 {
      width: 75%;
    }
    .block-4 {
      .inner-block {
        margin: 0 $gutter;
        overflow: hidden;
        padding: 0 0 $gutter*2 25%;
        .related-guidance {
          padding: $gutter-two-thirds 0 $gutter-one-third $gutter;
          margin-left: -$gutter;
          border-left: 1px solid $light-blue;
        }
      }
    }
  }

}
