.speeches-index {
  .speech {
    padding-bottom: $gutter;
    max-width: 50em;
    
    h2 {
      @include sans-20;
      padding-bottom: 0;
    }
    
    .summary {
      @include sans-20;
      padding-top: 0;
    }
    
    .meta {
      @include sans-12;
    }

  }
}

.speeches-img {
      img {
      width: 100%;
    }
}