.statistical-data-set {

  .document-page .document {
    padding-top: 0;
  }

  .statisticaldataset {
    @include media(desktop) {
      .block-2, .block-3 {
        float: left;
        display: inline;
        width: $one-third;
        @include right-to-left {
          float: right;
        }
      }
      .block-3 {
        float: right;
        width: $two-thirds;

        @include right-to-left {
          float: left;
        }
      }
    }
  }
}
