
.inside_gov_sunset {
  .block-2 {
    h2 {
      margin-top: $gutter;
      @include sans-20;
      font-weight: 700;
    }
    
    p {
      @include sans-20;
    }
  }
  
  @media (min-width: 768px) {
    .block-1, .block-2 {
      margin: 0 auto;
      max-width: 70%;
    }
  }
}
