.inside_gov_homepage {

  /*
  .block-1, .block-2, .block-3 {
    width: 100%;
  }
  */

  @include media(desktop) {
    .block-1 {
      width: 33%;

      float: left;
      display: inline;
    }

    .block-2 {
      width: 66%;

      float: left;
      display: inline;
    }

    .block-3 {
      width: 100%;

      float: left;
      display: inline;
    }
  }

  h1 {
    margin-bottom: $gutter;
  }

  h2 {
    @include core-36;
    margin: $gutter-half 0 $gutter 0;
  }

  h3 {
    @include core-24;
    margin: $gutter-half 0 $gutter 0;
  }

  p {
    @include core-19;
    margin-bottom: $gutter-half;
    &:nth-child(2) {
      margin-bottom: $gutter;
    }
  }

  p.intro {
    @include core-27;
  }

  // this duplicates code from helpers/_index-list.scss
  // perhaps we could remove the containing .index-list-page class
  // from the original?

  ul.index-list {
    li {
      list-style: none;
      border-bottom: 1px solid $light-keyline;
      @include core-19;
    }
  }

  .intro-section {
    clear: both;
    margin: $gutter 0 ($gutter*2) 0;

    padding-right: 33%;

    @include media(desktop) {
      margin: ($gutter*2) 0;
      background: transparent url(inside-gov.png) no-repeat 90% 100%;
    }
  }

  .topics-section {
    clear: both;
    margin-bottom: ($gutter*2);

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
    }

    .topics.inner-block {
      padding: 0 $gutter-half;
    }

    @include media(desktop) {
      ul.index-list {
        padding: 0 $gutter-half;          
      }
    }
  }

  .organisations-section {
    clear: both;
    margin-bottom: ($gutter*2);

    .departments, .agencies {
      padding: 0 $gutter-half;
      clear: both;

      .inner-block {
        padding: 0;

        @include media(desktop) {
          padding: 0 $gutter-half;
        }
      }
    }

    .organisation-count {

      @include core-24;

      @include media(desktop) {
        @include core-48;
        color: $inside-gov-brand;
        display: block;
      }
    }

    ul.organisation-list {
      list-style: none;
      float: left;

      margin-bottom: ($gutter-half);
      width: 100%;

      li {
        width: 50%;
        float: left;
        display: inline;
      }

      .organisation div {
        @include media(desktop) {
          margin: 0 $gutter-half;
        }
      }
    }
  }

}
