.take-part-pages-show {
  @include media(desktop) {
    .block-1 {
      width: $one-third;
      float: left;
    }
    .block-2 {
      width: $two-thirds;
      float: right;
    }
  }

  nav {
    @include ig-core-16;
    padding: ($gutter - $gutter-one-third) 0 $gutter;
    h1 {
      @include bold;
    }

    ol {
      li {
        padding-top: $gutter-one-sixth;
        list-style: disc;
        margin-left: 1.2em;
        @media (min-width: 1px ){ // target modern browsers
          list-style: none;
          &:before {
            content: "-";
            position: relative;
            float: left;
            width: $gutter-half;
            margin-left: $gutter-half*-1;
          }
        }
      }
    }
  }
  .description {
    @include ig-core-27;
  }
  .body {
    h2 {
      border-bottom: 1px solid $border-colour;

      &:first-child {
        margin-top: $gutter;
      }
    }
  }
}