.topical-events-show {

  .page-header {
    @include media(tablet){
      padding: $gutter*2 0;
      overflow: hidden;
    }

    h1 {
      @include media(tablet){
        width: 33.33%;
        float: left;

        img {
          width: 100%;
        }
      }
    }
    h2 {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }
      @include core-36;

      span {
        padding-left: $gutter-half;
      }
    }
  }

  .page-description {
    overflow: hidden;

    .latest-documents {
      @include media(tablet){
        width: 33.33%;
        float: left;
      }

      h1 {
        @include heading-27;
        float: left;
      }
      .subscribe {
        float: left;
        margin-left: $gutter-half;
        padding-top: 8px;
      }
      .document-list {
        margin-top: 0;
        clear:  both;
        @include media(tablet){
          padding-right: $gutter-half;
        }

        .document-row {
          border-bottom: none;
          
          th {
            @include core-14;
            margin: $gutter-one-third 0 0 0;
            padding: 0;
          }
          td {
            margin: 0;
            padding: 0 $gutter-one-third 0 0;
          }
        }
      }
    }
    .description {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }

      .govspeak, .social-media-accounts {
        @include media(tablet){
          padding-left: $gutter-half;
        }
      }

      .social-media-accounts {
        @extend %contain-floats;

        li {
          float: left;
          clear: none;
          padding-right: $gutter-half;
        }
      }
    }
  }

  .featured-news {
    margin: 0 (-$gutter-half);

    article {
      float: left;
      width: 100%;
      
      .content {
        padding: $gutter-half;
      }
      .img {
        img {
          width: 100%;
        }
      }
      .text {
        h2 {
          @include copy-19;
        }
        p {
          @include copy-16;
        }
      }
    }

    &.items-1 {

      article {
        .img {
          @include media(desktop){
            width: 50%;
            float: left;
          }
        }
        .text {
          @include media(desktop){
            width: 50%;
            float: left;
          }
        }
      }
    }

    &.items-2 {
      article {
        @include media(desktop){
          width: 50%;
          float: left;
        }
      }
    }
    &.items-2,
    &.items-4 {
      article {
        @include media(desktop){
          width: 50%;
          float: left;
        }
      }
    }
    &.items-3,
    &.items-6 {
      article {
        @include media(desktop){
          width: 33.33%;
          float: left;
        }
      }
    }
    &.items-5 {
      article {
        &.item-0,
        &.item-1 {
          @include media(desktop){
            width: 50%;
            float: left;
          }
        }
        &.item-2,
        &.item-3,
        &.item-4 {
          @include media(desktop){
            width: 33.33%;
            float: left;
          }
        }
      }
    }
  }

}
