.topics-index {

  .block-2 h1 {
    @include core-16;
  }

  .alphabetical-list .alphabetical-row {
    p {
      @include core-16;
    }
    .inner {
      padding-top: $gutter-one-third;
    }
    li {
      a {
        @include core-16;
      }
    }
    @media (min-width: 768px) {
      .inner {
        padding: $gutter-two-thirds 0 $gutter;
        min-height: $gutter*2;
      }
      li {
        width: 100%;
        float: none;
        display: block;
      }
    }
  }
}
