.topics-index {
  @include media(desktop){
    .page-header {
      width: 75%;
    }
    .all-topics {
      margin-left: 25%;
    }
  }

  .page-header {
    padding: $gutter-half 0;

    .title, .label {
      padding: 0;
      margin: 0;
    }
    .label {
      @include core-48;;
      color: lighten($body-text, 30%);
    }
    @include media(desktop){
      padding: $gutter 0
    }
  }

  .all-topics {
    h3 {
      @include core-19;
    }
    .topic  {
      list-style: none;
      border-bottom: 1px solid $light-warm-grey;
      @include core-19;
    }
  }
}


.topics-show {

  @include media(desktop) {
    .block-2 .govspeak p {
      max-width: 40em;
    }
    .block-3 {
      float: left;
      width: 25%;
      display: inline;
      min-height: 30px;
    }
    .block-4 {
      width: 66.66666%;
      float: left;
      display: inline;
    }
  }
  .page-header {
    @include media(desktop){
      min-height: 180px;
    }
    .subscribe {
      position: absolute;
      top: 90px;
      right: 30px;
    }
  }
  .contextual {
    padding-top: $gutter-half;
    li {
      @include core-14;
      padding: 0;
    }
  }
  .block-4 section {
    margin-bottom: $gutter;

    h1 {
      @include core-19;
      margin: $gutter-one-third 0;
    }
  }
  .policies {
    li {
      list-style: none;
      padding-bottom: $gutter-half;
      h2 {
        @include core-24;
      }
      p {
        @include core-19;
        padding: 0;
      }
    }
  }

  .specialist-guidance {
    h1 {
      color: $light-blue;
    }
    ul {
      background: $light-blue;
      padding: $gutter-one-third $gutter-half 5px;

      li {
        border-top: 1px solid $white;
        list-style: none;
        @include core-16;
        padding: 5px 0;

        &:first-child {
          border-top: 0;
        }
        a {
          color: $white;
        }
      }
    }
    .view-all {
      display: block;
      padding: 5px $gutter-half;
      background: darken($light-blue, 10%);
      color: $white;
    }
  }
}

