.topical-events-show {

  a {
    color: $g8-brand;
  }
  .social-media-accounts .connect {
    background-color: $g8-brand;
  }

  .archived {
    color: $grey-1;
    padding-left: 0;
  }

  .page-description {
    @extend %contain-floats;
    padding-bottom: $gutter*2;

    .description {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }

      .govspeak, .social-media-accounts {
        @include media(tablet){
          padding-left: $gutter-half;
        }
      }

      .social-media-accounts {
        @extend %contain-floats;

        li {
          float: left;
          clear: none;
          padding-right: $gutter-half;
        }
      }
    }
  }

  .featured-news {
    @extend %contain-floats;
    margin: 0 (-$gutter-half);
    padding-bottom: $gutter*2;

    article {
      width: 100%;
    }

    &.items-1 {
      article {
        .img-holder {
          @include media(tablet){
            width: 50%;
            float: left;
          }
        }
        .text {
          @include media(tablet){
            width: 50%;
            float: left;

            h2, p {
              padding-left: $gutter-half;
            }
          }
        }
      }
    }

    &.items-2,
    &.items-4 {
      article {
        @include media(tablet){
          width: 50%;
          float: left;
        }
      }
      .item-2 {
        clear: left;
      }
    }
    &.items-3,
    &.items-6 {
      article {
        @include media(tablet){
          width: 33.33%;
          float: left;
        }
      }
      .item-3 {
        clear: left;
      }
    }
    &.items-5 {
      article {
        &.item-0,
        &.item-1 {
          @include media(tablet){
            width: 50%;
            float: left;
          }
        }
        &.item-2,
        &.item-3,
        &.item-4 {
          @include media(tablet){
            width: 33.33%;
            float: left;
          }
        }
      }
      .item-2 {
        clear: left;
      }
    }
  }

  .organisations {
    padding-top: $gutter;

    ul {
      list-style: none;

      li {
        float: left;
        padding: 0 $gutter-half $gutter-half;
        min-height: 90px;
      }

      .non-govuk {
        a {
          display: block;
          height: 80px;
          text-indent: -999em;
          background: transparent none no-repeat 50% 50%;
        }

        &.arts-council-england a {
          background-image: image-url('topical-events/arts-council-england.png');
          width: 217px;
        }
        &.bbc a {
          background-image: image-url('topical-events/bbc.png');
          width: 143px;
        }
        &.british-library a {
          background-image: image-url('topical-events/british-library.png');
          width: 30px;
        }
        &.commonwealth-war-graves-commission a {
          background-image: image-url('topical-events/cwgc.png');
          width: 209px;
        }
        &.english-heritage a {
          background-image: image-url('topical-events/english-heritage.png');
          width: 117px;
        }
        &.heritage-lottery-fund a {
          background-image: image-url('topical-events/hlf.png');
          width: 74px;
        }
        &.imperial-war-museums a {
          background-image: image-url('topical-events/iwm.png');
          width: 80px;
        }
        &.war-memorials-trust a {
          background-image: image-url('topical-events/wmt.png');
          width: 103px;
        }
      }
    }
  }
}
