.topical-events-show {

  a {
    color: $g8-brand;
  }
  .social-media-accounts .connect {
    background-color: $g8-brand;
  }

  .page-title {
    padding: $gutter 0;

    @include media(tablet){
      padding: $gutter*2 0;
      overflow: hidden;
    }

    h1 {
      @include media(tablet){
        width: 33.33%;
        float: left;
        padding-top: 4px;

        span {
          padding-right: $gutter-half;
          display: block;
        }
      }
      img {
        width: 100%;
        max-width: 320px;
      }
    }
    h2 {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }
      @include core-36;

      span {
        padding-bottom: $gutter-half;

        @include media(tablet){
          padding-left: $gutter-half;
        }
      }
    }
  }

  .page-description {
    @extend %contain-floats;
    padding-bottom: $gutter*2;

    .latest-documents {
      padding-bottom: $gutter;

      @include media(tablet){
        width: 33.33%;
        float: left;
      }

      h1 {
        @include heading-27;
        float: left;
      }
      .subscribe {
        float: left;
        margin-left: $gutter-half;
        padding-top: 8px;
      }
      .no-updates {
        clear: both;
        @include copy-19;
      }
      .document-list {
        margin-top: 0;
        clear:  both;
        @include media(tablet){
          padding-right: $gutter-half;
        }

        .document-row {
          border-bottom: none;
          
          th {
            @include core-14;
            margin: $gutter-one-third 0 0 0;
            padding: 0;
          }
          td {
            margin: 0;
            padding: 0 $gutter-one-third 0 0;
          }
        }
      }
    }
    .description {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }

      .govspeak, .social-media-accounts {
        @include media(tablet){
          padding-left: $gutter-half;
        }
      }

      .social-media-accounts {
        @extend %contain-floats;

        li {
          float: left;
          clear: none;
          padding-right: $gutter-half;
        }
      }
    }
  }

  .featured-news {
    @extend %contain-floats;
    margin: 0 (-$gutter-half);
    padding-bottom: $gutter*2;

    article {
      float: left;
      width: 100%;
      
      .content {
        padding: $gutter-half;
      }
      .img {
        display: block;
        width: 25%;
        float: left;
        padding-top: $gutter-one-sixth;

        @include media(tablet){
          width: 100%;
          float: none;
          padding: 0 0 5px;
        }

        img {
          width: 90%;

          @include media(tablet){
            width: 100%;
          }
        }
      }
      .text {
        float: left;
        width: 75%;

        @include media(tablet){
          width: 100%;
          float: none;
        }

        h2 {
          @include copy-19;
        }
        p {
          @include copy-16;
        }
      }
    }

    &.items-1 {
      article {
        .img-holder {
          @include media(tablet){
            width: 50%;
            float: left;
          }
        }
        .text {
          @include media(tablet){
            width: 50%;
            float: left;

            h2, p {
              padding-left: $gutter-half;
            }
          }

        }
      }
    }

    &.items-2,
    &.items-4 {
      article {
        @include media(tablet){
          width: 50%;
          float: left;
        }
      }
      .item-2 {
        clear: left;
      }
    }
    &.items-3,
    &.items-6 {
      article {
        @include media(tablet){
          width: 33.33%;
          float: left;
        }
      }
      .item-3 {
        clear: left;
      }
    }
    &.items-5 {
      article {
        &.item-0,
        &.item-1 {
          @include media(tablet){
            width: 50%;
            float: left;
          }
        }
        &.item-2,
        &.item-3,
        &.item-4 {
          @include media(tablet){
            width: 33.33%;
            float: left;
          }
        }
      }
      .item-2 {
        clear: left;
      }
    }
  }

  .organisations {
    padding-top: $gutter;

    ul {
      list-style: none;

      li {
        padding: 0 0 $gutter-half;
        @include media(tablet){
          float: left;
          width: 127px; // kill me now! this is far to tight but they have been 'signed off' on one line.
          min-height: 90px;
        }
      }
    }
  }
}
