.topics-show {
  @include media(desktop){
    .block-2 {
      width: 33%;
      float: left;
    }
    .block-3 {
      width: 66%;
      float: left;
      clear: right;
    }
    .block-4 {
      padding-top: $gutter;
      clear: both;
    }
    .block-6 {
      padding-top: $gutter;
      @extend %contain-floats;
    }
  }
  .block {
    margin-bottom: $gutter;
  }



  .page-header {
    @extend %contain-floats;
    padding: $gutter-half 0 0;
    
    @include media(tablet){
      padding: $gutter*1.5 0 0;
    }

    h1 {
      @include media(tablet) {
        width: 75%;
        float: left;
      }
      
      .label {
        display: block;
        @include light;
        padding-bottom: 0;
      }
      
      .topic {
        display: block;
        @include bold;
      }
    }
    .meta {      
      margin-top: $gutter;

      @include media(tablet) {
        float: right;
        width: 25%;
        padding: 0;

        .organisations-icon-list {
          margin-left: $gutter-half;
        }
        .show-other-content {
          margin-left: $gutter-two-thirds;
        }
      }
    }
  }

  .latest-documents {
    header {
      @extend %contain-floats;

      h1 {
        @include ig-core-27;
        float: left;
      }
      .subscribe {
        float: left;
        margin-left: $gutter-half;
        padding-top: 8px;
      }
    }
    .document-list {
      margin-top: 0;
      clear: both;

      .document-row {
        @include ig-core-14;
        border-bottom: none;

        th {
          @include ig-core-14;
          margin: $gutter-one-third 0 0 0;
          padding: 0;
        }

        td {
          margin: 0;
          padding: 0 $gutter-one-third 0 0;
        }
      }
    }
  }

  .what,
  .policies,
  .elsewhere {
    h1 {
      @include ig-core-27;
    }
  }

  .what {
    .govspeak {
      p {
        @include ig-core-24;
        margin: 0;
      }
    }
  }
      
  .collection-list {
    padding-top: $gutter-two-thirds;
    .collection-item h2 {
      @include ig-core-24;
      margin-bottom: $gutter-one-sixth;
    }
  }

  .elsewhere {
    clear: both;
    margin: 0 (-$gutter-half);

    h1 {
      padding-left: $gutter-half;
      margin-bottom: $gutter-half;
    }

    .title-block {
      @include media(tablet) {
        float: left;
        width: 50%;
      }

      h1 {
        padding-left: 0;
        border-bottom: 1px solid $border-colour;
      }

      .content {
        padding: 0 $gutter-half;

        li {
          list-style: none;
          @include ig-core-16;
        }
      }
    }
  }

}
