.topical-events-show {

  .page-header {
    @include media(tablet){
      padding: $gutter*2 0;
      overflow: hidden;
    }

    h1 {
      @include media(tablet){
        width: 33.33%;
        float: left;

        img {
          width: 100%;
        }
      }
    }
    h2 {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }
      @include core-36;

      span {
        padding-left: $gutter-half;
      }
    }
  }

  .page-description {
    overflow: hidden;

    .latest-documents {
      @include media(tablet){
        width: 33.33%;
        float: left;
      }

      h1 {
        @include heading-27;
        float: left;
      }
      .subscribe {
        float: left;
        margin-left: $gutter-half;
        padding-top: 8px;
      }
      .document-list {
        margin-top: 0;
        clear:  both;
        @include media(tablet){
          padding-right: $gutter-half;
        }

        .document-row {
          border-bottom: none;
          
          th {
            @include core-14;
            margin: $gutter-one-third 0 0 0;
            padding: 0;
          }
          td {
            margin: 0;
            padding: 0 $gutter-one-third 0 0;
          }
        }
      }
    }
    .description {
      @include media(tablet){
        width: 66.66%;
        float: right;
      }

      .govspeak {
        @include media(tablet){
          padding-left: $gutter-half;
        }
      }
    }
  }

}
