@import "../utils/topic-features";

.topics-show {
  @include topic-features;
  @include media(desktop) {
    .block-2 {
      width: $two-thirds;
      float: left;
    }
    .block-3 {
      width: $one-third;
      float: left;
      clear: right;
    }
    .block-4 {
      padding-top: $gutter;
      clear: both;
    }
  }

  .block {
    margin-bottom: $gutter;
    &.block-4 {
      @include media(tablet) {
        .see-all {
          padding: $gutter-half;
        }
      }
    }
  }

  @include media(desktop) {
    .latest-block {
      .inner-block {
        padding-left: 0;
      }
      .recently-updated {
        width: $full-width;

        .content {
          margin-top: $gutter-one-third;
        }
      }
    }
  }

  .policies {
    h1 {
      @include ig-core-27;
      font-weight: bold;

      .count {
        display: block;
        font-size: 80px;
      }
    }
  }

  .what {
    p {
      @include ig-core-24;
      margin: 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }

  .detailed-guidance {
    h1 {
      @include ig-core-27;
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }

    .collection-item {
      @include ig-core-16;
    }
  }

  .heading-extra {
    margin: 0 $gutter-half $gutter;
    @include media(tablet) {
      margin: $gutter+$gutter-half 0 $gutter;
    }
  }
}
