@import "../utils/topic-features";

.topical-events-show {
  @include topic-features;

  .headings-block {
    .archived {
      color: $grey-1;
      padding-left: 0;
    }
    .topical-event-logo {
      img {
        max-width: $full-width;
        margin-top: $gutter;
      }
    }
  }

  .page-description {
    @extend %contain-floats;
    padding-bottom: $gutter*2;

    .description {
      .govspeak {
        p, ul {
          @include core-24;
        }
      }
      .read-more {
        @include core-24;
        margin: $gutter-two-thirds 0;
      }

      .social-media-accounts {
        @extend %contain-floats;

        li {
          float: left;
          clear: none;
          padding-right: $gutter-half;
        }
      }
    }
  }

  .organisations {
    padding-top: $gutter;

    ul {
      list-style: none;

      li {
        float: left;
        padding: 0 $gutter-half $gutter-half;
        min-height: 90px;
      }

      .non-govuk {
        a {
          display: block;
          height: 80px;
          text-indent: -999em;
          background: transparent none no-repeat $half $half;
        }

        &.arts-council-england a {
          background-image: image-url('topical-events/arts-council-england.png');
          width: 217px;
        }
        &.bbc a {
          background-image: image-url('topical-events/bbc.png');
          width: 143px;
        }
        &.british-library a {
          background-image: image-url('topical-events/british-library.png');
          width: 30px;
        }
        &.commonwealth-war-graves-commission a {
          background-image: image-url('topical-events/cwgc.png');
          width: 209px;
        }
        &.english-heritage a {
          background-image: image-url('topical-events/english-heritage.png');
          width: 117px;
        }
        &.heritage-lottery-fund a {
          background-image: image-url('topical-events/hlf.png');
          width: 74px;
        }
        &.imperial-war-museums a {
          background-image: image-url('topical-events/iwm.png');
          width: 80px;
        }
        &.war-memorials-trust a {
          background-image: image-url('topical-events/wmt.png');
          width: 103px;
        }
      }
    }
  }
}
