.worldwidepriority {
  #case-studies {
    h1 {
      // from _document.scss h2
      @include ig-core-27;
      color: lighten($text-colour, 50%);
      margin-top: $gutter;
      @media (max-width: 640px) {
        margin-top: $gutter-half;
      }
    }
    li {
      // from _document.scss li
      width: 90%;
      @include ig-core-19;
      margin-left: $gutter*1.2;

      li {
        margin-left: $gutter;
      }

      @media (min-width: 768px) {
        margin-left: 0;

        li {
          margin-left: $gutter*2;
        }
      }
    }
  }

  .meta-two {
    clear: both;
    position: relative;
    padding: $gutter 0 $gutter-half;
    @extend %contain-floats;

    @include media(tablet){
      padding: ($gutter + $gutter-one-third - 2px) 0 ($gutter);
    }
  }

  .heading-extra {
    margin-top: $gutter + $gutter-half;
  }
}
