.world-locations-index {
  .page-title {
    @include media(desktop){
      padding: $gutter*2 0 $gutter;
    }

    hgroup {
      @include heading-48;
      @include media(desktop){
        width: 66.66%;
      }

      h1 {
        color: $secondary-text-colour;
      }
    }

    label {
      margin-right: $gutter-one-third;
    }
  }

  .world-locations {
    h1 {
      @include heading-27;
    }

    .world-location-type {
      @extend %contain-floats;
      margin-bottom: $gutter;

      .type-heading {
        @include media(desktop){
          width: 33.33%;
          float: left
        }

        p {
          @include heading-24;
          color: $secondary-text-colour;
        }
      }

      .content {
        @include media(desktop){
          width: 66.66%;
          float: left;
        };

        .letter {
          @include heading-24;
        }

        .location-list {
          margin: 0 0 $gutter;

          li {
            list-style: none;

            .location-link {
              @include core-19;
              padding: 5px 0;
              display: block;
              border-bottom: 1px solid $border-colour;
            }
          }
        }
      }
    }
  }
}



.world-locations-show {
  .block {
    display: block;
    clear: both;
    overflow: hidden;
    padding-bottom: $gutter-half;

    @include media(tablet) {
      padding-bottom: $gutter*2;
    }
  }

  .keyline-header {
    @include heading-27;
    border-bottom: 5px solid $inside-gov-nav;
    margin-bottom: $gutter-two-thirds;
  }

  .page-header {
    @include heading-48;
    @include media(desktop){
      width: 66.66%;
    }

    h1 {
      @include bold;
      padding-top: 0;
    }
    h2 {
      @include heading-36;
      color: $secondary-text-colour;
      padding-bottom: 0;
    }
  }

  .our-mission {
    margin-bottom: $gutter*2;
    p {
      @include heading-36;
      @include bold;
    }
  }

  #international-priorities {
    @extend %contain-floats;

    article {
      @include media(tablet) {
        float: left;
        display: inline;
        width: 50%;
      }
      
      h2 {
        @include heading-27;
        @include bold;
      }
    }
  }
}

.world-locations-about {
  .block-3, .block-4 {
    float: left;
    display: inline;
    width: 25%;
  }

  .block-4 {
    width: 75%;
  }

  .sub_navigation_container {
    top: 0;
    margin-bottom: 0;
    li {
      list-style: none;
    }
  }
}
