.world-locations-index {
  .page-title {
    @include media(desktop) {
      padding: $gutter*2 0 $gutter;
    }

    hgroup {
      @include heading-48;
      @include media(desktop) {
        width: $two-thirds;
      }

      h1 {
        color: $secondary-text-colour;
      }
    }

    label {
      margin-right: $gutter-one-third;
    }
  }

  .world-locations {
    h1 {
      @include core-19;
    }

    .world-location-type {
      @extend %contain-floats;
      margin-bottom: $gutter;

      .type-heading {
        @include media(desktop) {
          width: $one-third;
          float: left
        }

        @include media(tablet) {
          p {
            @include core-80;
            font-weight: bold;
          }
        }
      }

      .content {
        @include media(desktop) {
          width: $two-thirds;
          float: left;
          padding-top: $gutter - $gutter-one-sixth;
        };

        .letter {
          @include core-80;
          font-weight: bold;
          text-indent: -4px;
        }

        .location-list {
          margin: 0 0 $gutter;

          li {
            list-style: none;

            .location-link {
              @include core-19;
              padding: $gutter-one-sixth 0;
              display: block;
              border-bottom: 1px solid $border-colour;
            }
          }
        }
      }
    }
  }
}



.world-locations-show {
  .block {
    display: block;
    clear: both;
    margin-bottom: $gutter*2;
    overflow: hidden;
  }

  .headings-block {
    margin-bottom: $gutter;
    @include media(tablet) {
      margin-bottom: 0;
    }
  }

  .keyline-header {
    @include heading-36;
    border-bottom: $gutter-one-sixth solid $inside-gov-nav;
    margin-bottom: $gutter-two-thirds;
  }

  .top-tasks {
    @include core-16;
    ul {
      li {
        list-style: none;
        margin-bottom: $gutter-one-sixth;

        a[rel="external"] {
          @include external-link-14-bold-no-hover;
          @include media(tablet) {
            @include external-link-16-bold-no-hover;
          }
        }
      }
    }
  }


  .news-block {
    .inner-block {
      padding: 0;

      @include media(tablet) {
        padding: 0 $gutter-half;
      }
    }
  }

  .featured-news {
    &.items-0,
    &.items-3 {
      .recently-updated {
        @include media(tablet) {
          width: $two-thirds;
          clear: both;
          @include right-to-left {
            float: right;
          }
        }
      }
    }
    .item-3 {
      clear: both;
    }
  }

  .our-mission {
    margin-bottom: $gutter*2;
    p {
      @include heading-24;
      @include bold;
    }
  }

  #worldwide-priorities {

    h1 {
      margin: 0 $gutter-half $gutter-half;
    }
    article {
      padding-bottom: $gutter;
      @include media(tablet) {
        float: left;
        width: $half;

        @include right-to-left {
          float: right;
        }
      }
      &.clear-priority {
        clear: both;
      }

      .content {
        padding: 0 $gutter-half;

        h2 {
          @include heading-27;
          font-weight: bold;
        }
      }
    }
  }

  .world-organisations {
    h1 {
      margin-bottom: $gutter;
    }
    .worldwide-organisation {
      clear: both;
      border-bottom: 1px solid $border-colour;
      padding-bottom: $gutter;
      margin-bottom: $gutter;
      @extend %contain-floats;

      .worldwide-organisation-detail {
        p {
          @include core-19;
        }
      }

      .worldwide-organisation-detail, .contact  {
        @include media(tablet) {
          float: left;
          display: inline;
          width: $two-thirds;
        }

        h2 {
          font-weight: bold;
          a {
            @include heading-27;
            font-weight: bold;
          }
        }

        p {
          margin: $gutter-one-third 0;
        }

        .content {
          padding-right: $gutter-half;
          .sponsoring-organisation {
            padding-bottom: $gutter-two-thirds;
          }
        }
      }

      .contact {
        @include core-14;
        margin-top: $gutter;

        @include media(tablet) {
          margin-top: 0;
          min-width: auto;
          width: $one-third;
          .content {
            padding-left: $gutter-half;
            @include right-to-left {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  .heading-extra {
    margin: 0;
    @include media(tablet) {
      margin: $gutter+$gutter-half 0 $gutter 0;
    }
  }
}
