.worldwide-organisations-show {
  .description h1 {
    @include govuk-font($size: 36, $weight: bold);
    border-bottom: $gutter-one-sixth solid $inside-gov-nav;
    margin-bottom: $gutter-two-thirds;
  }

  .block {
    margin-bottom: $gutter;
  }

  .about-block {
    @extend %contain-floats;

    .about-us {
      @include media(tablet) {
        float: left;
        width: $two-thirds;
        @include right-to-left {
          float: right;
        }
      }
    }

    .social-media-links {
      @include media(tablet) {
        float: left;
        width: $one-third;
        @include right-to-left {
          float: right;
        }
      }

      h1 {
        @include govuk-font($size: 19, $weight: bold);
      }
    }

    .content {
      margin: 0 $gutter-half;
    }

    .summary {
      @include govuk-font($size: 19, $weight: bold);
      margin-bottom: $gutter-half;
    }

    .description {
      .govspeak {
        h2 {
          @include govuk-font(19);
          font-weight: bold;
          padding-bottom: 0;
        }

        p {
          margin-top: 0;
          margin-bottom: $gutter-half;
          padding-top: 0;
        }
      }
    }
  }

  .our-services {
    .content {
      @include media(tablet) {
        width: $two-thirds;
      }

      .govspeak {
        h2 {
          @include govuk-font(19);
          font-weight: bold;
        }

        h3 {
          padding-bottom: 0;
        }

        p {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }

  .people {
    h1 {
      margin-left: $gutter-half;
      margin-right: $gutter-half;
    }

    .people-list {
      @include media(tablet) {
        float: left;
        width: $two-thirds;
      }

      .person-excerpt {
        @include media(tablet) {
          width: $one-third;
        }
      }
    }
  }
}

.contact-section {
  border-top: 1px solid $govuk-border-colour;
  padding: govuk-spacing(6) 0;
}

.contact-section__address {
  font-style: normal;
}
