<% if object.available_in_multiple_languages? %>
  <div class="available-languages">
    <ul>
      <% sorted_locales(object.translated_locales).each.with_index do |locale, i| %>
        <li class="translation<%= ' last' if i == object.translated_locales.length-1 %>">
          <% if locale == I18n.locale %>
            <span><%= native_language_name_for(locale) %></span>
          <% else %>
            <%= link_to_translation(locale) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
