<% if links %>
  <ul class="featured-links" <%= lang if local_assigns[:lang] %> >
    <% links.each do |link| %>
      <li><%= link_to link.title, link.url, ({rel: 'external'} if is_external?(link.url)) %></li>
    <% end %>
  </ul>
<% end %>

