<div class="feeds">
  <span><%= t("feeds.get_updates_to_this_list") %></span>
  <%= link_to t('feeds.email').html_safe, govdelivery_url, class: 'govdelivery' unless govdelivery_url.blank? %>&nbsp;<%= link_to t("feeds.feed"), atom_url, class: "feed js-feed" %>
  <div class="feed-panel js-feed-panel">
    <h3>Copy and paste this URL in to your feed reader</h3>
    <input value="<%= atom_url %>">
  </div>
</div>
