<footer class="group" id="footer">
  <div class="inner" role="contentinfo">
		<div class="subsection copyright">
    	<p>&copy; 2011 Crown Copyright</p>
    	<p id="reuse-license">
      Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="licence">Open Government Licence</a>
    	</p>
    	<p id="cookie-declaration">This site uses cookies. We have published <a href="/cookies">a list and further information</a>.</p>
		</div>
		<div class="subsection project">
			<ul>
			<li><a href="https://sites.google.com/a/digital.cabinet-office.gov.uk/citizen-beta/">Send us your feedback</a></li>
			</ul>
		</div>
		<div class="subsection depts">
			<ul>
				<li><a href="#">Citizens home</a></li>
				<li><a href="/">Government Departments</a></li>
			</ul>
		</div>
  </div>
</footer><!--end footer-->

<div id="global-app-error" class="app-error hidden"></div>