<% headers = govspeak_headers(govspeak) %>
<% if headers.any? %>
  <nav>
    <h1><%= t 'document.contents' %></h1>
    <ol class="dash-list">
      <% headers.each do |header| %>
        <li><%= link_to header.text, "##{header.id}" %></li>
      <% end %>
    </ol>
  </nav>
<% end %>
