<span class="fraction">
  <% if image_path = fraction_image(numerator, denominator) %>
    <%= image_tag image_path, alt: "#{numerator}â„#{denominator}", height: 27 %>
  <% else %>
    <sup><%= numerator %></sup>&frasl;<sub><%= denominator %></sub>
  <% end %>
</span>
