<%
  type ||= nil
  big ||= false
  extra ||= false
  url ||= nil
%>
<div class="heading<%= "-big" if big %><%= "-with-extra" if extra %>">
  <div class="inner-heading">
    <% if type %><p class="type"><%= type %></p><% end %>
    <h1><%= link_to_if url, heading, url %></h1>
  </div>
</div>
