<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>
<% organisation = current_user&.organisation %>
<% user = current_user %>

<%= render "govuk_publishing_components/components/layout_header", {
  product_name:,
  environment: environment,
  navigation_items: [
    main_nav_item("Dashboard", admin_root_path),
    {
      text: "View website",
      href: Whitehall.public_root,
    },
    {
      text: "Switch app",
      href: Plek.external_url_for("signon"),
    },
    *(
      if user_signed_in?
        [
          main_nav_item(user.name, admin_user_path(user)),
          {
            text: "Logout",
            href: "/auth/gds/sign_out",
          }]
      end),
    main_nav_item("All users", admin_users_path),
  ],
} %>

<div class="govuk-width-container" data-module="ga4-link-setup ga4-link-tracker">
  <%= render "components/sub_navigation", {
    items: [
      sub_nav_item("New document", admin_new_document_path),
      sub_nav_item("Documents", admin_editions_path),
      sub_nav_item("Statistics announcements", admin_statistics_announcements_path),
      *(
        if user_signed_in? && organisation
          [
            sub_nav_item("Featured documents", features_admin_organisation_path(organisation, locale: nil)),
            sub_nav_item("Corporate information", admin_organisation_corporate_information_pages_path(organisation)),
          ]
        end),
      sub_nav_item("More", admin_more_path),
    ],
  } %>
</div>
