<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>
<% admin_template ||= false %>
<% organisation = current_user&.organisation %>

<%= render "govuk_publishing_components/components/layout_header", {
  product_name: "Whitehall Publisher",
  environment: environment,
  navigation_items: [
    {
      text: "Dashboard",
      href: admin_root_path,
    },
    {
      text: "View website",
      href: Whitehall.public_root,
    },
    {
      text: "Switch app",
      href: Plek.external_url_for("signon"),
    },
    *(
      if user_signed_in?
        [{
           text: current_user.name,
           href: admin_user_path(current_user),
         },
         {
           text: "Logout",
           href: "/auth/gds/sign_out",
         }]
      end),
    {
      text: "All users",
      href: admin_users_path,
    },
  ],
} %>

<div class="govuk-width-container">
  <%= render "components/sub_navigation", {
    items: [
      sub_nav_item("New document", admin_new_document_path),
      sub_nav_item("Documents", admin_editions_path),
      sub_nav_item("Statistics announcements", admin_statistics_announcements_path),
      *(
        if user_signed_in? && organisation
          [
            sub_nav_item("Featured documents", features_admin_organisation_path(organisation, locale: nil)),
            sub_nav_item("Corporate information", admin_organisation_corporate_information_pages_path(organisation)),
          ]
        end),
      sub_nav_item("More", admin_more_path),
    ],
  } %>
</div>

<% if admin_template %>
  <section class="notices">
    <%= render partial: "shared/notices" %>
  </section>
<% end %>
