<ol class="document-list">
  <% editions.each_with_index do |edition, edition_index| %>
    <li class="document-row" id="<%= "#{type}_#{edition.content_id}" %>">
      <h2>
        <%=
          link_to(
            edition.title,
            edition.link,
            data: {
              track_category: 'navPolicyAreaLinkClicked',
              track_action: "#{local_assigns.has_key?(:heading) ? heading : "Unknown"}.#{edition_index + 1}",
              track_label: edition.link,
              track_options: {
                dimension28: documents_count.to_s,
                dimension29: edition.title
              }
            }
          )
        %>
      </h2>
      <ul class="attributes">
        <li class="publication-date"><%= edition.publication_date %></li>
        <li class="document-type"><%= t_display_type(edition) %></li>
      </ul>
    </li>
  <% end %>
</ol>
