<section id="recently-updated" class="latest-documents">
  <div class="content">
    <header>
      <h1 class="label">Latest feed</h1>
    </header>
    <% if recently_updated.any? %>
      <%= render partial: "shared/recently_updated_documents",
                locals: { recently_updated: recently_updated } %>
    <% else %>
      <p>There are no updates yet.</p>
    <% end %>
    <%= render partial: 'shared/feeds',
          locals: { atom_url: atom_url,
                    govdelivery_url: govdelivery_url } %>
  </div>
</section>
