<div id="session" class="session_info">
  <% if current_user %>
    <p>
      You are logged in as
      <span class="current_user_name"><%= current_user.name %></span>
      <span class="role">(<%= user_role(current_user) %><%= user_organisation(current_user) %>)</span>
    </p>
    <%= button_to "Logout", logout_path, class: 'link' %>
  <% end %>
</div>