<% content_for :page_title, "New standard document" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with method: "get", url: new_admin_standard_edition_path do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: "New standard document",
        heading_level: 1,
        name: "configurable_document_type",
        id: "configurable_document_type",
        items: @permitted_configurable_document_types.map { |type| { text: type.config.title, value: type.config.key }},
      } %>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", { text: "Next" } %>

        <%= link_to("Cancel", root_path, class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
