<% content_for :page_title, @edition.title %>
<% content_for :title, @edition.title %>
<% content_for :context, @edition.title %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-!-margin-bottom-8">
  <%= render "components/secondary_navigation", {
    aria_label: "Document navigation",
    items: secondary_navigation_tabs_items(@edition, request.path),
  } %>
</div>

<%= render "govuk_publishing_components/components/heading", {
  text: @locale.english? ? "Features" : "Features (#{@locale.native_language_name})",
  font_size: "l",
  margin_bottom: 6,
} %>

<%= render "govuk_publishing_components/components/tabs", {
  disable_ga4: true,
  tabs: [
    {
      id: "currently_featured_tab",
      label: "Currently featured",
      content: render(Admin::CurrentlyFeaturedTabComponent.new(
        features: @feature_list.features.current,
        maximum_featured_documents: 6,
      )),
    },
    {
      id: "documents_tab",
      label: "Documents",
      content: render("admin/shared/featurable_editions",
        filter: @filter,
        paginator: @tagged_editions,
        featurable_editions: featurable_editions_for_feature_list(@tagged_editions, @feature_list),
        filter_by: [:title, :type, :author, :organisation],
        anchor: "#documents_tab",
        filter_action: polymorphic_url([:features, :admin, @feature_list.featurable], locale: @feature_list.locale),
        feature_path: [:new, :admin, @feature_list, :feature],
      ),
    },
  ],
} %>
