<%= paginator.render do -%>
  <nav class="remarks-nav" role="navigation">
    <ul class="pager">
      <%= prev_page_tag unless current_page.first? %>
      <%= next_page_tag unless current_page.last? %>
    </ul>
  </nav>
<% end -%>
