<% content_for :page_title, "Fields of operation" %>
<% content_for :title, "Fields of operation" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/button", {
      text: "Add field of operation",
      href: new_admin_operational_field_path,
      secondary_solid: true,
      margin_bottom: 8,
    } %>

    <%= render "govuk_publishing_components/components/table", {
      head: [
        {
          text: "Name"
        },
      ],
      rows:
        @operational_fields.map do |operational_field|
          [
            {
              text: sanitize("<a href='#{edit_admin_operational_field_path(operational_field)}' class='govuk-link'><span class='govuk-visually-hidden'>Edit field of operation </span>#{operational_field.name}</a>")
            }
          ]
        end
    } %>
  </div>
</div>
