<% page_title "New field of operation" %>

<div class="row">
  <section class="col-md-8">
    <h1>New field of operation</h1>
    <p class="warning">Warning: changes to fields of operation appear instantly on the live site.</p>
    <%= render partial: "legacy_form", locals: {operational_field: @operational_field} %>
  </section>
</div>
