<% page_title "Fields of operation" %>
<section>
  <h1>Fields of operation</h1>
  <%= link_to "Add field of operation", new_admin_operational_field_path, class: "btn btn-default new_resource add-top-margin", title: "Add field of operation" %>

  <table class="fields_of_operation table table-striped table-bordered add-top-margin">
    <thead>
      <tr class="table-header">
        <th width="30%">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @operational_fields.each do |operational_field| %>
        <%= content_tag_for(:tr, operational_field) do %>
          <td class="name"><%= link_to operational_field.name, edit_admin_operational_field_path(operational_field), title: "Edit field of operation #{operational_field.name}" %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
