<% page_title "New field of operation" %>

<div class="span8">
  <section>
    <h1>New policy team</h1>
    <%= render partial: "form", locals: {operational_field: @operational_field} %>
  </section>
</div>
