<% page_title "Get involved" %>
<% page_class "get-involved" %>


  <div class="header-block">
    <div class="inner-block floated-children">
      <header>
        <div class="header-title">
          <div class="content">
            <h1>Get involved</h1>
            <p class="intro">Find out how you can <a href="#engage-with-government">engage with government</a> directly, and <a href="#take-part">take&nbsp;part</a> locally, nationally or internationally. You can also <a href="#related-polices">read&nbsp;policies</a> about how government is increasing participation.</p>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="block">
    <div class="inner-block floated-children">
      <h2 id="engage-with-government">Engage with government</h2>
      <section class="respond-to-consultations">
        <div class="head-section">
          <h3>Respond to consultations</h3>
        </div>
        <div class="column">
          <div class="content">
            <p>You can put forward views and ideas on what government is doing. It will listen and respond before it makes or changes policy.</p>
          </div>
        </div>
      </section>
      <section>
        <div class="head-section">
          <dl class="values">
            <dt>38</dt>
            <dd>Open consultations</dd>
            <dt>41</dt>
            <dd>Closed consultations in the past 12 months</dd>
            <dt>29</dt>
            <dd>Responses in the past 12 months</dd>
          </dl>
        </div>
        <div class="consultation-lists">
          <div class="consultation-closing-soon">
            <h3>Consultations closing soon</h3>
            <ol class="document-list">
              <li class="document-row">
                <h3><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam pateriam eaquipsa</a></h3>
                <ul class="attributes">
                  <li>3 days left</li>
                  <li><a href="#">Respond now</a></li>
                </ul>                        
              </li>
            </ol>
          </div>
          <div class="column">
            <div class="content">
              <h3>Consultations recently opened</h3>
              <ol class="document-list">
                <li class="document-row">
                  <h3><a href="#">Consultation on the strategic road network and the delivery of sustainable development</a></h3>
                  <ul class="attributes">
                    <li>DFT</li>
                    <li>Closes 28 February</li>
                    <li><a href="#">Respond now</a></li>
                  </ul>                        
                </li>
                <li class="document-row">
                  <h3><a href="#">Provision of Services Regulations 2009: national applicability of licences consultation</a></h3>
                  <ul class="attributes">
                    <li>MOD</li>
                    <li>Closes 28 February</li>
                    <li><a href="#">Respond now</a></li>
                  </ul>                        
                </li>
                <li class="document-row">
                  <h3><a href="#">Amending regulations on nuclear waste and decommissioning</a></h3>
                  <ul class="attributes">
                    <li>DECC</li>
                    <li>Closes 28 February</li>
                    <li><a href="#">Respond now</a></li>
                  </ul>                        
                </li>                                    
              </ol>
              <p class="see-all"><a href="#">Search all consultations</a></p>              
            </div>
          </div>
          <div class="column">
            <div class="content">
              <h3>Recent outcomes</h3>
              <ol class="document-list">
                <li class="document-row">
                  <h3><a href="#">Private actions in competition law: a consultation on options for reform</a></h3>
                  <ul class="attributes">
                    <li>DFT</li>
                    <li>Closed 22 January</li>
                    <li><a href="#">See the outcome</a></li>
                  </ul>                        
                </li>
                <li class="document-row">
                  <h3><a href="#">Private actions in competition law: a consultation on options for reform</a></h3>
                  <ul class="attributes">
                    <li>DECC</li>
                    <li>Closed 22 January</li>
                    <li><a href="#">See the outcome</a></li>
                  </ul>                        
                </li>
                <li class="document-row">
                  <h3><a href="#">Private actions in competition law: a consultation on options for reform</a></h3>
                  <ul class="attributes">
                    <li>DFT</li>
                    <li>Closed 22 January</li>
                    <li><a href="#">See the outcome</a></li>
                  </ul>                        
                </li> 
              </ol>
            </div>
          </div>
        </div>
      </section>
      <hr class="keyline">
      <section>
        <div class="head-section">
          <h3>Petition parliament</h3>
        </div>
        <div class="column">
          <div class="content">
            <p class="intro">You can create an e-petition to influence government and Parliament. If the petition gets at least 100,000 online signatures, it will be considered for debate in the House of Commons.</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <dl class="value">
              <dt>6,268</dt>
              <dd>Open e&ndash;petitions currently online</dd>
            </dl>
          </div>
        </div>
      </section>
      <hr class="keyline">
      <section class="comment-follow">
        <div class="head-section">
          <h3>Comment &amp; follow</h3>
        </div>
        <div class="column">
          <div class="content">
            <p>Join the discussion via the government’s social media channels and blogs.</p>
            <p class="see-all"><a href="#">See all government departments</a></p>
            <h4>Recent blog posts</h4>
            <ol class="document-list">
              <li class="document-row">
                <h3><a href="#">At vero eos et accusamus et iusto odio dignissimos ducimus quie</a></h3>
                <ul class="attributes">
                  <li>DFT</li>
                  <li>28 February</li>
                  <li><a href="#">Read post and comment</a></li>
                </ul>                        
              </li> 
              <li class="document-row">
                <h3><a href="#">Accusamus pusto odio dignissimos ducimus</a></h3>
                <ul class="attributes">
                  <li>MOD</li>
                  <li>28 February</li>
                  <li><a href="#">Read post and comment</a></li>
                </ul>                        
              </li> 
              <li class="document-row">
                <h3><a href="#">Labore et dolore magnam aliquam quaerat</a></h3>
                <ul class="attributes">
                  <li>DECC</li>
                  <li>28 February</li>
                  <li><a href="#">Read post and comment</a></li>
                </ul>                        
              </li> 
            </ol>              
          </div>
        </div>
      </section>
    </div>
  </div>


  <div class="block">
    <div class="inner-block floated-children">
      <h2 id="take-part">Take part</h2>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Donate your time to help the flood victims in Bangladesh</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Red tape challenge</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Community supported libraries</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article class="article-clear">
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Big Tree Plant</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Start a Public Service Mutual</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Transparency &ndash; use your data</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article class="article-clear">
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Big Tree Plant</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Start a Public Service Mutual</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
      <article>
        <div class="content">
          <span class="img-holder"><a href="#"><img src="/government/assets/thumbnail-placeholder.png" alt="image"></a></span>
          <div class="text">
            <h3><a href="#">Transparency &ndash; use your data</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="block">
    <div class="inner-block floated-children">
      <h2 id="elsewhere-on-the-web">Elsewhere on the web</h2>
      <div class="description">
        <div class="content">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
        </div>
      </div>
      <div class="list">
        <ul class="content index-list">
          <li><a href="#">Become a Cadet or Adult Volunteer</a></li>
          <li><a href="#">Become a School Governor</a></li>
          <li><a href="#">International Citizen Service</a></li>
          <li><a href="#">National Citizen Service</a></li>
          <li><a href="#">Start a social enterprise</a></li>
          <li><a href="#">Volunteer for the reserve forces</a></li>
          <li><a href="#">Volunteering/time&ndash;banking</a></li>
          <li><a href="#">Nominating someone for honours</a></li>
          <li><a href="#">Big Society Awards</a></li>
          <li><a href="#">Queen&rsquo;s Award</a></li>
        </ul>
      </div>
    </div>
  </div>

    <div class="block">
    <div class="inner-block floated-children">
      <h2 id="related-polices">Related policies</h2>
      <div class="description">
        <div class="content">
          <p>Policies related to getting citizens involved with government voluptatem accusantium doloremque laudantium perspiciatis unde.</p>
        </div>
      </div>
      <div class="list">
        <div class="content">
          <ol class="document-list">
            <li class="document-row">
              <h3><a href="#">Private actions in competition law: a consultation on options for reform</a></h3>
              <ul class="attributes">
                <li>DFT</li>
                <li>Community and society</li>
              </ul>                        
            </li>
            <li class="document-row">
              <h3><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium perspiciatis unde.</a></h3>
              <ul class="attributes">
                <li>DECC</li>
                <li>Community and society</li>
              </ul>                        
            </li>
            <li class="document-row">
              <h3><a href="#">Private actions in competition law: a consultation on options for reform</a></h3>
              <ul class="attributes">
                <li>DFT</li>
                <li>Community and society</li>
              </ul>                        
            </li>          
          </ol>
        </div>
      </div>
    </div>
  </div>

