<% page_title "History of the UK government" %>
<% page_class "history" %>

  <div class="header-block">
    <div class="inner-block floated-children">
      <header>
        <div class="header-title">
          <div class="content">
            <h1>History of the UK&nbsp;government</h1>
            <p class="intro">This section outlines the history of the doloremque laudan sed ut  perspiciatis unde omnis iste natus error sit voluptatem accusantium  doloremque laudantium, totam rem aperiam, eaque ipsillo.</p>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="block introduction">
    <div class="inner-block floated-children">
      <hr class="keyline"/>
      <div class="column image">
        <div class="content">
          <%= image_tag 'history/horse-guards-vintage.jpg', alt: 'Introduction to history of government' %>
        </div>
      </div>
      <div class="column copy">
        <div class="content">
          <h2>Introduction</h2>
          <p class="intro">The government of the United Kingdom sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
          <p>The United Kingdom sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block floated-children">
      <hr class="keyline"/>
      <div class="column">
        <div class="content">
          <%= image_tag 'how-gov-works/Churchill_01.jpg', alt: 'History of government' %>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h2>Notable people</h2>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit quis nostrum exercitationem alhap dortoris suscipit laboriosam minima veniam. Ut enim ad minima veniam, quis nostrum batium neverad stopadus veniam enim adiustur.</p>
          <ul>
            <li><a href="#">Past Prime Ministers</a></li>
            <li><a href="#">Chancellors</a></li>
            <li><a href="#">Foreign Secretaries</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="block government-buildings">
    <div class="inner-block floated-children">
      <hr class="keyline"/>
      <div class="column">
        <div class="content">
          <h2>Government buildings</h2>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit quis nostrum exercitationem alhap dortoris suscipit laboriosam minima veniam. Ut enim ad minima veniam, quis nostrum batium neverad stopadus veniam enim adiustur.</p>
          <ul>
            <li><a href="#">10 Downing Street</a></li>
            <li><a href="#">FCO Buildings</a></li>
            <li><a href="#">MOD Whitehall</a></li>
            <li><a href="#">1 Horse Guards </a></li>
            <li><a href="#">Laboriosam minima</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <%= image_tag 'history/government-buildings.jpg', alt: 'Government buildings' %>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner-block floated-children">
      <hr class="keyline"/>
      <div class="column">
        <div class="content">
          <%= image_tag 'history/historical-documents.jpg', alt: 'Historical documents' %>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h2>Historical documents</h2>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit quis nostrum exercitationem alhap dortoris suscipit laboriosam minima veniam. Ut enim ad minima veniam, quis nostrum batium neverad stopadus veniam enim adiustur.</p>
          <ul>
            <li><a href="#">See the list of historical publications on GOV.UK</a></li>
            <li><a href="#">For a full list vist the National archives</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="block historical-articles">
    <div class="inner-block">
      <hr class="keyline"/>
      <div class="content">
        <h2>Historical articles &amp; notable events</h2>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit quis nostrum exercitationem alhap dortoris suscipit laboriosam minima veniam. Ut enim ad minima veniam, quis nostrum batium neverad stopadus veniam enim adiustur.</p>
          <ul>
            <li><a href="#">Exercitationem Maut</a></li>
            <li><a href="#">FCO historical articles</a></li>
            <li><a href="#">Guest historians at ullam corporis</a></li>
            <li><a href="#">Quisinius nostrum</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="block government-history">
    <div class="inner-block">
      <hr class="keyline"/>
      <div class="content">
        <h2>Government history on the web</h2>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit quis nostrum exercitationem alhap dortoris suscipit laboriosam minima veniam. Ut enim ad minima veniam, quis nostrum batium neverad stopadus veniam enim adiustur.</p>
          <ul>
            <li><a href="#">National archives</a></li>
            <li><a href="#">Ullam suscipit</a></li>
            <li><a href="#">FCO history podcasts</a></li>
            <li><a href="#">Exercitationem ullam</a></li>
            <li><a href="#">Government art collection</a></li>
          </ul>
      </div>
    </div>
  </div>
