<% page_title "History of Lancaster House" %>
<% page_class "home-history-buildings" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="government/history/">History:</a> Government buildings
      </h1>
      <h2>Lancaster House</h2>
    </header>
  </div>
</div>

<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'history/buildings/lancaster-house-300.jpg', alt: 'Lancaster house' %>
    <nav class="js-stick-at-top-when-scrolling">
      <h1>Contents</h1>
      <ol>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#history">History</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#further-info">Further info</a></li>
      </ol>
    </nav>
  </div>
</div>

<div class="block content-body">
  <div class="inner-block">
    <h2 id="introduction">Introduction</h2>
    <p>Lancaster House is managed by the Foreign &amp; Commonwealth Office. Situated close to Buckingham Palace, this historic house offers a magnificent setting, a prestigious central location and first&ndash;class facilities for all types of events and hospitality.</p>
    <p>Steeped in political history and magnificently preserved, Lancaster House has a wide range of rooms and a large garden &ndash; the ideal place in central London for meetings, conferences and entertaining.</p>
    <p>It is the perfect backdrop for any occasion from an intimate dinner to an international summit. The house also has a glamorous side. It has been used for receptions and shows during London Fashion Week, and in 2007 various rooms were used in the filming of The Young Victoria, Disney&rsquo;s National Treasure Book of Secrets, and BBC/HBO’s production of Churchill at War.</p>

    <h2 id="history">History</h2>
    <p>Commissioned in 1825 by the &lsquo;grand old&rsquo; Duke of York, York House &ndash; as it was then known &ndash; was a hub of social and political life throughout the nineteenth century.</p>
    <p>When the Duke died, the lease was purchased by the then Marquess of Stafford (later the first Duke of Sutherland) whose family occupied the house from 1829 until 1913. The Sutherlands&rsquo; liberal politics and love of the arts attracted many distinguished guests, including factory reformer Lord Shaftesbury, anti&ndash;slavery author Harriet Beecher Stowe and Italian nationalist leader Garibaldi.</p>
    <p>Almost as influential as the visitors was the décor, which was to set the fashion for London reception rooms for nearly a century. The mainly Louis XIV interiors created a stunning backdrop for the Sutherlands&rsquo; impressive collection of paintings and objets d&rsuo;art, many of which can still be seen in the house today.</p>
    <p>In 1913, Lord Leverhulme, a Lancastrian, bought the lease for the nation and Stafford House became Lancaster House. At one time home to the London Museum, the house has been an important centre for government hospitality ever since.</p>

    <h2 id="location">Location</h2>
    <p>Lancaster House is five minutes walk from Green Park underground station.</p>
    <address>Lancaster House, Stable Yard, St James&rsquo;s, London SW1A 1BB</address>

    <h2 id="further-info">Further info</h2>
    <address>
        Trevor Andrews,<br />
        Head of Conferences and Events<br />
        Tel: 020 7008 8169<br />
        Fax: 020 7008 8206<br />
        Or<br />
        The Senior Event Manager<br />
        Tel: 020 7008 8094<br />
        Fax: 020 7008 8206<br />
        <a href="mailto:fcoevents@cvg.gov.uk">fcoevents@cvg.gov.uk</a> 
    </address>

  </div>
</div>