<% page_title "" %>
<% page_class "inside_gov_homepage" %>

<section class="intro-section block-2">

  <div class="inner-block">
    <header class="page-header">
      <h1 class="page-title">Inside government</h1>
    </header>

    <p class="intro">Websites of all government departments and many other public bodies will be merged into the Inside government section of <a href="https://www.gov.uk/">www.gov.uk</a></p>

    <p>This will happen in batches, finishing in 2014. Some have already moved, and more will be joining soon. All existing web addresses will be redirected, so you don't need to worry about changing your links and bookmarks.</p>

    <p>For more information, see the <a href="#">introductory video</a>.</p>
  </div>
</section>

<section class="organisations-section">
  <div class="inner-block">
    <h2>Departments, agencies and public bodies</h2>
  </div>

  <div class="departments group">
    <div class="block-1">
      <div class="inner-block">
        <h3><span class="organisation-count">2 of 24</span> ministerial departments</h3>
      </div>
    </div>

    <div class="block-2">
      <ul class="organisation-list">
        <li class="organisation department">
          <div class="department-for-communities-and-local-government ministerial-department single-identity">
            <a href="#" class="organisation-logo-medium">Department <br />for Communities <br />&amp; Local Government</a>
          </div>
        </li>

        <li class="organisation department">
          <div class="department-for-transport ministerial-department single-identity">
            <a href="#" class="organisation-logo-medium">Department <br />for Transport</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="agencies">
    <div class="block-1">
      <div class="inner-block">
        <h3><span class="organisation-count">3 of 400</span> agencies and public bodies</h3>
      </div>
    </div>

    <div class="block-1">
      <ul class="index-list inner-block">
        <li><a href="/government/organisations/building-regulations-advisory-committee">Building regulations advisory committee</a></li>
        <li><a href="/government/organisations/driving-standards-agency">Driving Standards Agency</a></li>
        <li><a href="/government/organisations/planning-inspectorate">Planning Inspectorate</a></li>
      </ul>
    </div>
  </div>

</section>

<section class="topics-section">
  <div class="inner-block">
    <h2>Topics</h2>
    <h3>What is the government doing about…</h3>

    <p>As more departments are added to Inside government the topics they deal with will appear here.</p>
  </div>

  <div class="group topics inner-block">
    <div class="block-1">
      <ul class="topics index-list">
        <li class="topic">
          <a href="/government/topics/big-society">Big society</a>
        </li>
        <li class="topic">
          <a href="/government/topics/economic-development-and-growth">Economic growth</a>
        </li>
        <li class="topic">
          <a href="/government/topics/energy">Energy</a>
        </li>
      </ul>
    </div>

    <div class="block-1">
      <ul class="index-list">
        <li class="topic">
          <a href="/government/topics/environment-and-climate-change">Environment and climate change</a>
        </li>
        <li class="topic">
          <a href="/government/topics/housing">Housing</a>
        </li>
        <li class="topic">
          <a href="/government/topics/local-government">Local government</a>
        </li>
      </ul>
    </div>

    <div class="block-1">
      <ul class="topics index-list">
        <li class="topic">
          <a href="/government/topics/planning-and-building">Planning and building</a>
        </li>
        <li class="topic">
          <a href="/government/topics/public-safety-and-emergencies">Public safety and emergencies</a>
        </li>
        <li class="topic">
          <a href="/government/topics/transport">Transport</a>
        </li>
      </ul>
    </div>
  </div>

</section>
