<div id="how-government-works">
  <% page_title "" %>
  <% page_class "inside_gov_how-gov-works" %>

  <div class="block-1">
    <div class="inner-block">
      <div class="full-width-section">
        <h1>How government works</h1>
        <p class="intro">This page aims to clarify how government works by clearly and simply highlighting its underlying structures.</p>
      </div>

      
      <h2>Who runs government</h2>
      <div class="thirds-width-section">
        <div class="one-third">
          <div class="inner-block">
            <p>Picture</p>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <h3>The Prime Minister</h3>
            <p>The Prime Minister is the head of the UK Government and is ultimately responsible for the policy and decisions of the Government. The new Prime Minister, the Rt Hon David Cameron MP, came to office after the General Election held on 6 May 2010.</p>
            <p><a href="">Read more about the office of Prime Minister by visiting the Number 10 website</a></p>
          </div>
        </div>
      </div>
      <div class="thirds-width-section">
        <div class="two-thirds">
          <div class="inner-block">
            <h3>The Deputy Prime Minister</h3>
            <p>The Deputy Prime Minister is the deputy head of Government and has special responsibility for political and constitutional reform. He is also Lord President of the Privy Council. The present Deputy Prime Minister, the Rt. Hon. Nick Clegg MP, was appointed May 2010.</p>
            <p><a href="">Read more about his role and responsibilities</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <p>Picture</p>
          </div>
        </div>
      </div>

      <div class="thirds-width-section">
        <div class="two-thirds">
          <div class="inner-block">
            <h3>The Cabinet</h3>
            <p>The Cabinet is the committee at the centre of the British political system and is the supreme decision-making body in government. Duis aute irure dolor in reprehenderit in voluptate velit. Esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
            <p><a href="">Visit the Cabinet Office website</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>The Coalition</h3>
            <p>The Coalition Agreement sets out a programme for partnership government over the next five years. These plans are inspired by the values of freedom, fairness and responsibility, and a shared desire to work in the national interest.</p>
            <p><a href="">Read the coalitions programme for government</a></p>
          </div>
        </div>
      </div>
        
     <h2>How government is run</h2>
      <div class="thirds-width-section">
        <div class="two-thirds">
          <div class="inner-block">
            <h3>Government departments and agencies</h3>
            <p>Government departments and their agencies put government policy into practice. They also advise government ministers. Departments and agencies are staffed by politically impartial civil servants and funded by Parliament.</p>
            <p>Some departments, like the Ministry of Defence, cover the UK as a whole. Other departments don’t – for example, the Department for Work and Pensions covers England, Wales and Scotland, but not Northern Ireland. Most departments are headed by ministers.</p>
            <p><a href="">See the full list of departments, agencies &amp; public bodies</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <p>24
              Ministerial departments
              17
              Non-ministerial departments
              395
              Other agencies &amp; public bodies</p>
          </div>
        </div>
      </div>

      
      <div class="full-width-section">
          <h3>Ministers</h3>
          <div class="feature-ministers">
            <p><span class="circle"><span class="count">01</span> <span>Prime Minister</span></span> + <span class="circle"><span class="count">22</span> <span>Cabinet ministers</span></span> + <span class="circle"><span class="count">97</span> <span>Other ministers</span></span> = <span class="circle"><span class="count">120</span> <span>Total ministers</span></span></div>
          <p>There are currently 120 ministers duis aute irure dolor in reprehenderit in voluptate velit. Esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
          <p><a href="">See full list of ministers</a></p>
      </div>


      <h3><a href="">Topics</a> &amp; <a href="">Policies</a></h3>
      <div class="thirds-width-section">
        <div class="two-thirds">
          <div class="inner-block">
            <h4>What is a Topic?</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
               occaecat cupidatat non proident.</p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <p>Summary</p>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <h4>What is a Policy?</h4>
            <p>Aute irure dolor in pereqenderitue in voluptate pelieu esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident artue.</p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <p>Summary</p>
          </div>
        </div>
      </div>

      <div class="halves-width-section">
        <div class="one-half">
          <div class="inner-block">
            <p>Pie chart summary</p>
          </div>
        </div>
        <div class="one-half">
          <div class="inner-block">
            <h3>Civil Service</h3>
            <h4>The Civil Service does the practical and administrative work of government.</h4>
            <p>Civil servants are the politically impartial employees who work in the Civil Service. The Minister for the Civil Service is the Prime Minister. He is responsible for co- ordination and management of the Civil Service.</p>
            <p><a href="">Visit the civil service website</a></p>

            <h4>Civil Service recruitment</h4>
            <p>The Civil Service Commissioners make sure that recruitment to the Civil Service is based on fair and open competition. They are independent of government.</p>
            <p><a href="">Apply for a job with the civil service</a></p>
          </div>
        </div>

      </div>
      
      <div class="thirds-width-section">
        <div class="one-third">
          <div class="inner-block">
            <h3>Legislation</h3>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p>Laws go through several stages before they are passed by Parliament. The House of Lords and the House of Commons work together to make them.</p>
          </div>
        </div>
        <div class="one-third">&nbsp;</div>
        <div class="one-third">
          <div class="inner-block">
            <h4>White and green papers</h4>
            <p>White papers outline proposals for new laws. Before a white paper is published, there might be a green paper, which asks for comments from the public.</p>
            <p>There’s no requirement that a white paper or green paper has to be produced.</p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h4>How bills become law</h4>
            <p>A bill passes through several stages in the House of Commons and the House of Lords to become law:</p>
            <ul>
              <li>first reading (this is where the bill is introduced without debate)</li>
              <li>second reading (general debate)</li>
              <li>committee stage (the bill is examined in detail – in the House of Commons this often takes place in a Public Bill Committee)</li>
              <li>report stage (opportunity for further amendments)</li>
              <li>third reading (the House of Lords can make amendments at this stage)</li>
            </ul>
          </div>
        </div>
        
        <div class="one-third">&nbsp;</div>
        <div class="one-third">
          <div class="inner-block">
            <h4>Bills</h4>
            <p>These are proposals for new laws or changes to existing ones. They get debated by Parliament and when they have been agreed, they have to be approved by the Queen before becoming law. This is called ‘Royal Assent’.</p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h4>Acts of Parliament</h4>
            <p>An act is a bill that has been approved by the House of Lords, the House of Commons and the Queen. It can come into force:</p>
            <ul>
              <li>immediately</li>
              <li>at a future date</li>
              <li>in stages</li>
            </ul>
            <p>The relevant government department is responsible for putting the act into practice.</p>
          </div>
        </div>
      </div>

      <div class="thirds-width-section">
        <div class="one-third">
          <div class="inner-block">
            <h3>Devolved government</h3>
            <p>In Scotland, Wales and Northern Ireland, ‘devolved governments’ have law-making powers on day-to- day issues.</p>
            <p>They’re responsible for many things, including: health, education, economic development, culture, the environment &amp; transport.</p>
            <p>Visit their websites</p>
            <p><a href="">Visit The Scottish Parliament</a></p>
            <p><a href="">Visit The National Assembly for Wales</a></p>
            <p><a href="">Visit The Northern Ireland Assembly</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>Local government</h3>
            <p>Many decisions are made and carried out locally by councils. Many parts of England have 2 tiers of local government: county councils &amp; district, borough or city councils.</p>
            <p>In some parts of the country, there’s just one tier of local government providing all the functions, known as a ‘unitary authority’. This can be
      a city, borough or county council – or it may just be called ‘council’. As well as these, many areas also have parish or town councils.</p>
            <p><a href="">Understand how your council works</a></p>
          </div>
        </div>
        <div class="one-third">
          <div class="inner-block">
            <h3>Parliament</h3>
            <p>Parliament is based in Westminster in London. It is made up of the House of Commons and the House of Lords.</p>
            <p>Its role is to: look at what the government is doing, debate and pass new laws, set taxes &amp; debate issues. There are 650 elected MPs in the House of Commons.</p>
            <p><a href="">You can find out more about how Parliament works on the Parliament website.</a></p>
          </div>
        </div>
      </div>

      <h2>History of government</h2>
      <div class="thirds-width-section">
        <div class="one-third">
          <div class="inner-block">
            <p>Picture</p>
          </div>
        </div>
        <div class="two-thirds">
          <div class="inner-block">
            <p>10 Downing Street, the locale of British Prime Ministers since 1735, vies with the White House as being the most important political building anywhere in the world in the modern era. Behind its black door have been taken the most important decisions affecting Britain for the last 275 years.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  


</div>