<% page_title "Latest" %>

<h1 class="page_title">Inside government</h1>

<!--section>
  <p>Information about all UK government organisations, including their policies, publications, speeches and the latest news.</p>
</section-->

<ul class='grid'>
  <%= render partial: 'headline', collection: @documents[0..15] %>
</ul>

