<div id="sunset-content">
  <style type="text/css">
    #whitehall-wrapper #global-nav {
      display: none!important;
    }
  </style>
  <% page_title "" %>
  <% page_class "inside_gov_sunset" %>

  <div class="block-1">
    <div class="inner-block">
      <h1>Inside Government</h1>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <section class="page-header">
        <img src="<%= image_path("inside-gov-teaser-windows.png") %>" class="first" alt="Government department colours flying out of a computer" />
        <img src="<%= image_path("inside-gov-teaser-laptop.png") %>" alt="" />
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <p class="intro">Websites of all government departments and many other public bodies will be merged into the Inside Government section of <a href="http://www.gov.uk">www.gov.uk</a></p>

      <p class="intro">This will happen in batches, starting soon and finishing in 2014.</p>

      <p>On Inside Government you'll find government policy, publications and announcements grouped by topic and organisation.</p>

      <p>It will make government information simpler and more open, and save lots of money.</p>

      <p>Departments and agencies will be publishing to the site themselves.</p>

      <p>All existing web addresses will be redirected, so you don't need to worry about changing your links and bookmarks.</p>

      <p>GOV.UK is being built by the Government Digital Service. For more information, see the <a href="http://digital.cabinetoffice.gov.uk/">GDS blog</a>.</p>
    </div>
  </div>



</div>