<p class="truncated-message">
  This preview only shows the first <%= number_with_delimiter(csv_preview.maximum_rows) %> rows and <%= number_with_delimiter(csv_preview.maximum_columns) %> columns.
  <%= link_to "Download the file to view its full contents.", attachment.url(preview: params[:preview]) %>
</p>
