<% page_title "History of 11 Downing Street" %>
<% page_class "histories-show" %>

<header class="block heading-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: link_to('History', histories_path),
                        heading: "11 Downing Street" } %>
  </div>
</header>

<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'history/buildings/number-11-300.jpg', alt: '11 Downing Street' %>
    <nav class="js-stick-at-top-when-scrolling">
      <h1>Contents</h1>
      <ol>
        <li><a href="#roots-of-the-treasury">Roots of the Treasury</a></li>
        <li><a href="#rise-of-downing-street">The rise of Downing Street</a></li>
        <li><a href="#hallway">Hallway</a></li>
        <li><a href="#sitting-room-and-study">Sitting room and study</a></li>
        <li><a href="#state-dining-room">State dining room</a></li>
        <li><a href="#state-drawing-room">State drawing room</a></li>
        <li><a href="#staircase">Staircase</a></li>
        <li><a href="#budget-box">Budget box</a></li>
        <li><a href="#sir-john-soane">Sir John Soane</a></li>
      </ol>
    </nav>
  </div>
</div>

<div class="block content-body">
  <div class="inner-block">
    <h2 id="roots-of-the-treasury">Roots of the Treasury</h2>
    <p>Today's Treasury dates from around the Norman Conquest. Even before 1066, the Anglo-Saxon Treasury collected taxes (including the danegeld, first levied as a tribute to the Vikings to persuade them &ndash; sometimes unsuccessfully &ndash; to stay away) and controlled expenditure.</p>
    <p>The first &lsquo;Treasurer&rsquo; was probably &lsquo;Henry the Treasurer&rsquo;, who owned land around Winchester, the site of most royal treasure of both the Anglo-Saxons and the Normans. Henry is referred to in the Domesday Book (a systematic tax assessment of the whole country undertaken by the Treasury) and is believed to have served William the Conqueror as his Treasurer.</p>

    <h2 id="rise-of-downing-street">The rise of Downing Street</h2>
    <p>The has been prestigious for centuries, as even before modern government the site was close to Westminster Abbey and later Whitehall Palace. But it was Sir George Downing who made the most of its potential and built the street of houses that bears his name.</p>
    <p>In his later career as a property speculator and developer, Downing sought &ndash; and won &ndash; the permission of King Charles II to name his prestigious new development at St James's Park &lsquo;Downing Street&rsquo;. He died in 1684, 2 years before the houses were completed.</p>
    <p>But not all Chancellors have chosen to live in Number 11 Downing Street, just as not all Prime Ministers have chosen to live in Number 10. Although Number 11 was not to become the Chancellor's official residence until 1828, Lord Henry Petty was the first to live there during his few months in office in 1806 and 1807. Those Chancellors who have chosen to live &lsquo;above the shop&rsquo; have enjoyed a house which is not only part of the nation's history, but also a comfortable and very distinctive home.</p>

    <h2 id="hallway">Hallway</h2>
    <p>The hallway is a modest introduction to the style of Number 11. The 18th century lantern illuminating the small room, the characteristic 19th century Vuilliamy grandfather clock and the unassuming marble fireplace reflect the influence of centuries of history on this house. Its status at the centre of the political world is announced by 2 portraits of the 19th century's great political adversaries, Gladstone and Disraeli, on opposite walls.</p>

    <h2 id="sitting-room-and-study">Sitting room and study</h2>
    <p>Past the hallway, and across the corridor which connects the 3 official residences, is a sitting room where the Chancellor holds occasional informal meetings. In the recent past it has also been the location for a Budget tradition &ndash; the broadcast which is the Chancellor's direct address to the nation on the evening of the Budget Day. Nowadays the broadcasts are likely to be recorded in other parts of the house and have even, on good days, been filmed in the gardens.</p>
    <p>The adjoining study is where the Chancellor of the Exchequer works on the contents of its ministerial boxes, amid further reminders of the building's political heritage. Disraeli and Gladstone feature again, although this time as porcelain caricatures.</p>

    <h2 id="state-dining-room">State dining room</h2>
    <p>The ground floor sitting room also connects to perhaps the most architecturally significant room in Number 11 &ndash; the dining room, a long oak-panelled room designed by the renowned 18th century architect Sir John Soane. Best known for his designs for the Bank of England, Soane created a bold and imaginative room with a spectacular vaulted ceiling, decorated with elegant mouldings.</p>
    <p>He also devised an imaginative method of illuminating the long room, making as much use as possible of natural light by designing long, narrow skylights to run the length of the room between the ceiling and walls. The ceiling therefore remains an impressive and uninterrupted span, but daylight can still pour down the walls thanks to the innovative light-wells.</p>
    <p>The Soane Dining Room is used nowadays for meetings such as business breakfasts with heads of industry and finance. As with the other rooms used for official entertaining, the walls are decorated with selections from the government art collection which are changed regularly.</p>

    <h2 id="state-drawing-room">State drawing room</h2>
    <p>The room most regularly used for formal occasions is the State Room, which runs the entire width of Number 11, illuminated by a wall of high windows which look out over the shared gardens of the Downing Street houses and beyond into St James's Park.</p>
    <p>The State Room has been recently refurnished following an earlier restoration in the 1960s, restoring the hardwood floor, removing wall lights and replacing faded wall coverings to create a bright, airy and adaptable space. The room can now be used as readily for conference-style meetings as it can for official receptions and parties.</p>
    <p>Each end of the room features a grand 18th century marble fireplace flanked by 2 ornate mirrors. The westernmost wall also features 2 of Number 11's finest treasures &ndash; 2 antique black and gold lacquered Chinese cabinets.</p>
    <p>The walls are covered with a warm and creamy cotton damask, as are the curtains on the long wall overlooking the gardens.</p>

    <h2 id="staircase">Staircase</h2>
    <p>The staircase leading to the first floor landing is an ascent through the history of British politics. The walls of the staircase are covered with political cartoons, caricatures and engravings of past Chancellors of the Exchequer. It is a tradition that each Chancellor gets to choose the cartoon he wants to represent him.</p>
    <p>Not all Chancellors have chosen to live in Number 11, just as some Prime Ministers have chosen not to live in Number 10, but all of the memorable holders of the office are represented here.</p>

    <h2 id="budget-box">Budget box</h2>
    <p>The front door of Number 11 will always be associated with the countless Budget Day photocalls when the Chancellor holds up the red Budget box containing his speech before he makes his way to the House of Commons.</p>
    <p>Since the 1860s, the Budget box has almost invariably been the one known as the Gladstone box, now displayed in the lobby of HM Treasury. The use of the Gladstone box became one of several Budget Day traditions (another is that only the Chancellor is allowed to drink alcohol in the House of Commons &ndash; and only during his Budget speech).</p>
    <p>James Callaghan used a new box during his time as Chancellor in the 1970s, but the frail Gladstone box was later restored to duty once more. In 1997, Gordon Brown marked his first Budget by breaking from tradition &ndash; using a new box made by 4 young apprentices from his Dunfermline constituency and bringing the 4 to the steps of Number 11 to share his photocall.</p>

    <h2 id="sir-john-soane">Sir John Soane</h2>
    <p>One of the most revered architects Britain has ever produced, Sir John Soane (1753 to 1837) was the perfect choice to design what is arguably Number 11's finest room: the dining room which now bears his name.</p>
    <p>Soane's reputation in his own lifetime was based largely on his designs for grand country houses, where he brought together the popular taste for classical design with a more modern feel for light and space. Shallow domes, clean ornamentation and ingenious lighting effects, often from above, characterised his work. His greatest work was on a much larger scale &ndash; the design of the Bank of England. It was this formidable reputation as designer of some of Britain's grandest homes and also the heart of its financial community which made Soane the obvious choice to design the dining room of 11 Downing Street in 1825.</p>
    <p>Soane was at the same time also responsible for the state dining room of 10 Downing Street, and although Number 11's is much smaller, it is no less impressive for that. The light-wells which allow daylight to fall on the long panelled walls of the dining room are a characteristically imaginative solution to the problem of getting natural light into a deep room.</p>

  </div>
</div>
