<% page_title "History of 1 Horse Guards" %>
<% page_class "histories-show" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: link_to('History', histories_path),
                        heading: "1 Horse Guards" } %>
  </div>
</header>

<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'history/buildings/1-horse-guards-300.jpg', alt: '1 Horse Guards' %>
    <nav class="js-stick-at-top-when-scrolling">
      <h1>Contents</h1>
      <ol>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#government-offices-great-george-street">Government Offices Great George Street (GOGGS): a history</a></li>
        <li><a href="#the-building-of-goggs">The building of GOGGS</a></li>
        <li><a href="#the-cabinet-war-rooms">The Cabinet War Rooms</a></li>
      </ol>
    </nav>
  </div>
</div>

<div class="block content-body">
  <div class="inner-block">
    <h2 id="introduction">Introduction</h2>
    <p>New office accommodation for the Treasury at 1 Horse Guards Road (1HGR), Whitehall, was opened by Alan Greenspan, former Chairman of the United States Federal Reserve Board on 25 September 2002. The increased space available in the new building enabled all Treasury staff to work in the same building for the first time in over 50 years.</p>
    <p>This major step forward in working conditions and working methods for Treasury staff was achieved through a complete refurbishment of the western end of the building known as Government Offices Great George St (GOGGS).</p>

    <h2 id="government-offices-great-george-street">Government Offices Great George Street (GOGGS): a history</h2>
    <p>The Treasury has been based at GOGGS in Whitehall since 1940.</p>
    <p>The royal treasure was originally located in Winchester, and was moved to the Whitehall area following the Norman Conquest. The Treasury then operated from the Exchequer Receipt Office in Westminster Cloisters until the Restoration in 1660.</p>
    <p>On ascending to the throne Charles II, perhaps wanting to keep a close eye on his finances, allocated it rooms in Whitehall Palace. This consisted of a number of timber-framed buildings grouped around formal gardens, originally built in 1529 by Henry VIII.</p>
    <p>In 1698 a huge blaze, caused by a servant airing some linen too close to the fire, destroyed all but the Banqueting House (built by Inigo Jones for Charles I) which still stands on Whitehall today, and Cardinal Wolsey's wine cellar which is now under the Ministry of Defence building.</p>
    <p>Following the fire, the homeless Treasury moved to Henry VIII's Cockpit (near today's Horse Guards Parade). Cock-fighting had ceased there under the Tudors but the building was used as a theatre and as chambers for members of the Royal Household.</p>
    <p>In 1734 a new Treasury was built by William Kent, which still stands on Horse Guards today. The Treasury continued to occupy this building, and expanded into a new Treasury building designed by John Soane, until both buildings were severely damaged by bombs in 1940.</p>
    <p>Since then, GOGGS has been the department's headquarters, housing staff and ministers, including the Chancellor of the Exchequer.</p>

    <h2 id="the-building-of-goggs">The building of GOGGS</h2>
    <p>GOGGS was designed and built between 1898 and 1917. It stands on the site of a number of narrow old streets cleared to make way for the building. Construction was in 2 phases. The Parliament Street (Whitehall) end was built first, completed in 1908. The aim was to build light, open-plan offices so offices were built around the perimeter walls of the building and around three large courtyards, while corridors were placed beside light-wells. An entrance on to the park was added in the second building phase, the St James' Park end, between 1910 and 1917. In order to maximise floor space, offices were arranged either side of dark internal corridors &ndash; the opposite of what had been intended.</p>
    <p>The building is an island site bounded by Parliament Street, Great George Street, Horse Guards Road and King Charles Street. The principal architect was John Brydon, who was selected by the Minister of Works after a competition. Brydon's early works include the Elizabeth Garrett Anderson Memorial Hospital, Chelsea Town Hall, the Victoria Art Gallery in Bath and an extension to the Bath Pump Room. In Bath, Brydon made use of the local stone &ndash; a feature he repeated in GOGGS, cladding it in Portland stone.</p>
    <p>The large circular court in the middle of the building is derived from Inigo Jones' design for a new Whitehall Palace (never built), and is a very distinctive piece of architecture. Brydon died before completion of the project and Sir Henry Tanner, the government's Chief Architect of Works, took over. The architectural merit of the building was compromised by this change: in 1910 the Architectural Review said: &ldquo;the intrusion of another hand less inspired than the original designer is plainly evident.&rdquo; But the building has some architectural merit &ndash; it's now Grade II* listed.</p>
    <p>Other notable features of the building are the central courtyard, the main conference room overlooking Whitehall and the Chancellor's old office.</p>
    <p>GOGGS was originally called the New Public Offices, as opposed to the Old Public Offices &ndash; now the Foreign Office &ndash; next door. It was home to the Board of Education, the Local Government Board and the local Ministry of Works Office.</p>
    <p>Local people queued along the ground floor corridor for inoculations at the Public Health Office. The building has housed a number of departments besides the Treasury, including parts of the Foreign Office, the Northern Ireland Office, the National Investment and Loans Office and the Ministry of Housing and Local Government.</p>

    <h2 id="the-cabinet-war-rooms">The Cabinet War Rooms</h2>
    <p>In the build–up to the Second World War, the government began looking for a strong basement in which a map room and a Cabinet Room could be constructed without major alterations.</p>
    <p>The basement of GOGGS was chosen, not only because it was convenient for Downing Street, but because the concrete frame used in phase 2 would help prevent the collapse of the building should it receive a direct hit from a bomb. Initially, only a few rooms were commandeered but when Horse Guards was bombed on October 14, 1940, wrecking parts of 10 Downing Street, all Churchill's staff moved into GOGGS.</p>
    <p>Within months, the departments moved to the basement included the Air Ministry and their main War Room. The Joint Intelligence Chiefs also occupied basement rooms, as did the people responsible for the D-Day Landings and associated deception plans and the Air Ministry Photographic Department.</p>
    <p>To protect the basement, a thick bomb-proof concrete slab was constructed within the rooms at sub-ground floor level, and a large torpedo net was slung across the western courtyard to catch falling bombs. Air was filtered through a series of vents and ducts to guard against poisonous gases.</p>

  </div>
</div>
