<% page_title "History of King Charles Street" %>
<% page_class "histories-show" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: link_to('History', histories_path),
                        heading: "King Charles Street" } %>
  </div>
</header>

<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'history/buildings/king-charles-street-300.jpg', alt: 'King Charles Street' %>
    <nav class="js-stick-at-top-when-scrolling">
      <h1>Contents</h1>
      <ol>
        <li><a href="#brief-history-of-the-FCO">A brief history of the FCO</a></li>
        <li><a href="#fine-rooms">Fine Rooms</a></li>
      </ol>
    </nav>
  </div>
</div>

<div class="block content-body">
  <div class="inner-block">
    <h2 id="brief-history-of-the-FCO">A brief history of the FCO</h2>
    <p>The main Foreign Office building is in King Charles Street, London. It was built by George Gilbert Scott in partnership with Matthew Digby Wyatt.</p>
    <p>The first Secretary of State for Foreign Affairs was appointed in March 1782, but the first purpose-built Foreign Office was not begun until 1861. It was completed in 1868 as part of the new block of government offices which included the India Office and later (1875) the Colonial and Home Offices.</p>
    <p>George Gilbert Scott was responsible for the overall classical design of these offices but he had an amicable partnership with Matthew Digby Wyatt, the India Office&rsquo;s Surveyor, who designed and built the interior of the India Office.</p>
    <p>Scott designed the new Foreign Office as &lsquo;a kind of national palace or drawing room for the nation&rsquo; with the use of rich decoration to impress foreign visitors. The same was true of Wyatt&rsquo;s India Office. The Colonial and Home Offices, however, were seen purely as working buildings and their interior decoration, by contrast, was &lsquo;as plain as was compatible with a major department of state&rsquo;.</p>
    <p>During the twentieth century, the impact of 2 world wars and the growing complexity of public business and international affairs led to severe overcrowding within the buildings. Lack of money during post 1945 austerity Britain and distaste for anything Victorian helped to reduce grandeur to squalor, and many of the fine areas were lost from sight behind false ceilings and plasterboard partitions.</p>
    <p>In the 1960s, as part of the grandiose plans for a new Whitehall, it was decided to demolish Scott&rsquo;s buildings and to erect completely new offices on the same site.</p>
    <p>Lack of money and a public outcry which led to the offices being designated as a Grade 1 Listed Building eventually resulted in the rejection of demolition in favour of restoration.</p>
    <p>The rolling programme of restoration and refurbishment carried out between 1984 and 1997 not only brought the Fine Rooms and  other public areas back to life but produced 25% extra usable space for far less than the cost of demolition and rebuilding.</p>

    <h2 id="fine-rooms">Fine Rooms</h2>
    <h3>Durbar Court</h3>
    <p>Durbar Court, at the heart of the India Office, is the masterpiece of Matthew Digby Wyatt.</p>
    <p>Originally open to the sky, the 4 sides of the court are surrounded by 3 storeys of columns and piers supporting arches. The ground floor doric and first floor ionic columns are of polished red Peterhead granite, while the top floor Corinthian columns are of grey Aberdeen granite. The pavement is of Greek, Sicilian and Belgian marble.</p>
    <p>The court was first used in 1867 for a reception for the Sultan of Turkey. The name &lsquo;Durbar Court&rsquo; dates only from 1902 when some of the coronation celebrations of King Edward VII were held there.</p>

    <h3>India Office Council Chamber</h3>
    <p>The India Office Council Chamber is the work of the architect Matthew Digby Wyatt, who was responsible for designing and decorating the interior of the new India Office building from 1861 to 1868.</p>
    <p>The Secretary of State for India and his council met in this chamber to discuss policy affecting the subcontinent, and many important decisions were taken here between 1868 and 1947. The significance of this room is emphasised by its height and size. There is also lavish use of gilding, and Wyatt linked old with new by transferring to it the great doors and doorcases, the furniture and the great marble chimneypiece from the former Director’s Court Room in East India House at Leadenhall Street in the City.</p>
    <p>The chimney piece and overmantel were commissioned from the Flemish sculptor Michael Rysbrack and date from 1730. The centre panel represents Britannia, seated by the sea, receiving the riches of the East Indies. Behind stand 2 female figures symbolising Asia and Africa, the former leading a camel, the latter a lion. On the right, a river god represents the Thames, while in the background ships are going off to sea.</p>
    <p>The splendidly carved and ornamented chairs and tables which used to furnish the chamber are too precious for everyday use in the present office, and have been transferred to the India Office Library (now part of the British Library) at St Pancras. Original furnishings which still remain in the chamber are the early 19th century mahogany chairs, newspaper stand and the chairman’s seat bearing the East India Company’s crest of a rampant lion within a medallion.</p>
    <p>In 1867, before the new India Office was completed, a magnificent reception was held in its courtyard (now known as Durbar Court) for the Sultan of Turkey, who was in Britain for a state visit. The Council Chamber, decorated with silken draperies and regimental standards, was transformed into a dining room for the Sultan, the Prince of Wales and the most important guests, and it was reported that every item on the tables was made of gold.</p>
    <p>When the India Office ceased to exist as a separate department of state in 1947, its building was taken over by the Foreign Office, which was in need of extra accommodation. The Council Chamber and its environs became the home of the greatly enlarged German Department, and 1948 it was the venue for the 1948 Three-Power Conference on Germany. In 1950 some preliminary discussions relating to the first meeting of the NATO deputies were held in the India Office Council Chamber, and the archives of the secretariat were kept nearby.</p>
    <p>The Council Chamber, together with Durbar Court, was one of the earliest fine areas to be restored in the course of the first phase (1984 to 1987) of the FCO’s rolling programme of refurbishment.</p>

    <h3>Grand reception room of the Locarno suite</h3>
    <p>The Locarno Suite consists of 3 rooms originally designed by Scott for diplomatic dinners, conferences and receptions. The largest room, looking out on to the Main Quadrangle, was originally designated the Cabinet Room, but seems never to have been used as such in the 19th century. The adjacent Dining Room was also used for meetings but is best remembered as the room used by Lord Salisbury in preference to the Secretary of State&rsquo;s room. Beyond is the Conference Room with its gilded ceiling supported by metal beams covered by majolica decorations.</p>
    <p>During the First World War an acute shortage of space within the Foreign Office led to the occupation of the suite by the Contraband Department. This was not a success. The original decoration by Clayton and Bell had become very shabby, and the rooms were too dark and draughty for daily use. It was impossible to clean the original stencilling, and the rooms needed redecoration.</p>
    <p>Before any decision was made, the Locarno Treaties, designed to reduce strife and tension in Europe, were initialled at Locarno in Switzerland in October 1925. The delegates agreed to come to London for the formal signature of the treaties and the only possible venue for the ceremony was Scott&rsquo;s Reception Suite in the Foreign Office. The Reception and Dining Rooms were cleared of their occupants, and the walls adorned with royal portraits to hide the shabby decorations. The formal signing of the accords on 1 December 1925 was an impressive occasion, recorded, according to <em>The Times</em>, by journalists from half the world &lsquo;wedged in tiers&rsquo; behind a barrier half-way down the room, and by &lsquo;photographers and cinematographers…perched high up in nooks above the windows&rsquo;.</p>
    <p>Following Chamberlain&rsquo;s instructions that the suite should be redecorated after the ceremony, the Royal Fine Art Commission was asked to advise. A subcommittee headed by Sir Reginald Blomfield recommended that the original Victorian stencilling should be removed from the 2 largest rooms in favour of repainting in shades of parchment colour. The walls of the middle room were covered in crimson silk stretched on battens, and were hung with portraits of famous Foreign Secretaries. The 3 rooms were then renamed the &lsquo;Locarno Suite&rsquo;, as a memorial to a supposed diplomatic triumph promising an era of international cooperation. Many conferences and diplomatic functions took place there until the outbreak of the Second World War.</p>
    <p>Thereafter, however, the chandeliers were shrouded and the Locarno Suite became the home of the cyphering branch of Communications Department. Renewed lack of office space after 1945 led to the division of these rooms into cubicles under false ceilings, and in these makeshift plasterboard hutches, the legal advisers and others worked.</p>
    <p>All this changed in the late 1980s, when the FCO&rsquo;s rolling programme of restoration and refurbishment reached the area surrounding the suite. The plasterboard shroud was stripped from the second largest room of the suite to reveal once more the coffered ceiling, pilasters crowned with Corinthian capitals, and quadrants supporting gilded iron beams. Circular majolica plaques bearing the national arms or emblems of 20 countries further ornament these quadrants, and the original stencilled design has been reinstated on the walls. The Locarno Conference Room reverted to its original purpose in summer 1990, while the restoration of the Reception and Dining Rooms proceeded between 1990 and 1992.</p>
    <p>In the Dining Room, the removal of the plasterboard and the very dirty red silk hangings uncovered the original stencilled decoration in olive and gold, with red and gold borders. Although faded and damaged, its survival ensured that an exact copy could be superimposed on the walls, restoring the room’s authentic Victorian splendour. Two new doors, matching exactly Scott&rsquo;s originals, give direct access into the adjacent former India Office.</p>
    <p>The restoration of the Reception Room involved much painstaking detective work. The great barrel-vaulted ceiling was known to have borne an elaborately detailed design of classical figures and signs of the zodiac, but it was feared that the decorators in the 1920s had removed every last scrap of colour and gilding using pumice stone. Close examination nevertheless revealed that one section had simply been painted over, and scientific analysis of the remains below enabled the ceiling to be reinstated according to Clayton and Bell’s original design. The marble fireplaces throughout the suite, like those in the Secretary of State’s Room, date from the 18th century and were transferred from the old Foreign Office.</p>
    <p>Following the restoration, the entire Locarno Suite is once more available for conferences and ministerial and government functions.</p>

  </div>
</div>
