<% page_title "History of Lancaster House" %>
<% page_class "histories-show" %>
<% meta_description "The history of Lancaster House." %>
 
<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: link_to('History', histories_path),
                        heading: "Lancaster House" } %>
  </div>
</header>
 
<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'history/buildings/lancaster-house-300.jpg', alt: 'Lancaster house' %>
    <nav>
      <h1>Contents</h1>
      <ol>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#history">History</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#further-info">Further info</a></li>
      </ol>
    </nav>
  </div>
</div>
 
<div class="block content-body">
  <div class="inner-block">
    <h2 id="introduction">Introduction</h2>
    <p>Lancaster House is managed and run by the Foreign & Commonwealth Office.</p>
    <p>Situated close to Buckingham Palace, this historic house offers a magnificent setting, a prestigious central location and first-class facilities for all types of events and hospitality.</p>
    <p>Steeped in political history and magnificently preserved, Lancaster House has a wide range of rooms and a large garden – the ideal place in central London for meetings, conferences and entertaining. It is the perfect backdrop for any occasion, from an intimate dinner to an international summit.</p>
    <p>Lancatser House also has a glamorous side and has been used for receptions and shows during London Fashion Week. The house has been used extensively for filming as well, including Disney’s National Treasure: Book of Secrets, BBC/HBO’s production of Churchill at War, Sherlock Holmes: A Game of Shadows, The King’s Speech, and Netflix’s The Crown.</p>
 
    <h2 id="history">History</h2>
    <p>Commissioned in 1825 by the ‘grand old’ Duke of York, York House – as it was then known – was a hub of social and political life throughout the 19th century.</p>
    <p>When the Duke died, the lease was purchased by the then Marquess of Stafford (later the first Duke of Sutherland) whose family occupied the house from 1829 until 1913. The Sutherlands' liberal politics and love of the arts attracted many distinguished guests, including factory reformer Lord Shaftesbury, anti-slavery author Harriet Beecher Stowe and Italian nationalist leader Garibaldi.</p>
    <p>Almost as influential as the visitors was the décor, which was to set the fashion for London reception rooms for nearly a century. The mainly Louis XIV interiors created a stunning backdrop for the Sutherlands’ impressive collection of paintings and objets d’art, many of which can still be seen in the house today.</p>
    <p>In 1913, Lord Leverhulme, a Lancastrian, bought the lease for the nation and Stafford House became Lancaster House. As one-time home to the London Museum, the house has been an important centre for government hospitality ever since.</p>
    
    <h2 id="The grand hall and staircase">The grand hall and staircase</h2>
    <p>On entering the house through the portico, the hall opens up to reveal a sweeping staircase in a deliberate echo of Versailles. This and the rococo balustrade are both part of Benjamin Wyatt’s original design.</p> 
     <p>The great skylight and the glowing colour of the walls are the work of Charles Barry who used scagliola (a coloured paste containing mineral fragments) to simulate marble on the walls and the granite-like pillars.</p>
    
    <h2 id="The long gallery">The long gallery</h2>
    <p>The long gallery can hold up to 200 people seated theatre-style or 150 for a seated dinner. Alternatively, it can accommodate a conference table for up to 60, with a further 120 people seated beside and behind the table. The long gallery provides a dramatic backdrop for big events; it is perfect for opening or closing ceremonies and receptions for up to 350 people.</p>
    <p>More than 35 metres in length, the long gallery dominates the whole of the east side of the house. With 18 windows and a large ornate skylight, the room is filled with natural light.</p>
    <p>Winston Churchill gave a coronation banquet for the newly crowned Queen Elisabeth II here in June 1953. More recently, the long gallery has been used for a number of top-level international summits, wedding receptions, fashion shows and filming.</p> 
    <p>The ceiling, painted by the Italian artist Guercino, shows Saint Chrysogonus borne to heaven by angels. The chimney piece below features ormolu decorations from France and a shelf supported by gilded allegorical figures of Architecture and Painting.</p>
    <p>An anteroom at the end of the gallery contains Zelotti’s Cupid receiving an apple from the Graces. The tall, heavy doors are decorated with the Sutherland monogram.</p>
 
 
 
    <h2 id="location">Location</h2>
    <p>Lancaster House is 5 minutes walk from Green Park underground station.</p>
    <div class="vcard contact-inner">
      <div class="adr">
        <div class="street-address">
          Lancaster House,<br />
          Stable Yard,<br />
          St James&rsquo;s,<br />
          London SW1A 1BB
        </div>
      </div>
    </div>
    <h2 id="further-info">Further info</h2>
    <div class="vcard contact-inner">
      <div class="email-url-number">
        <span>The Senior Event Manager</span>
        <p class="tel">Tel: 020 7008 2711</p>
        <p class="tel">Fax: 020 7008 8206</p>
        <p class="email"><a href="mailto:lancasterhouse.enquiries@fco.gov.uk">lancasterhouse.enquiries@fco.gov.uk</a> </p>
      </div>
    </div>
  </div>
</div>
 
 
