<% page_title "History of Lancaster House" %>
<% page_class "histories-show" %>
<% meta_description "The history of Lancaster House." %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: link_to('History', histories_path),
                        heading: "Lancaster House" } %>
  </div>
</header>

<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'LANCASTER HOUSE EXTERNAL.JPG', alt: 'Lancaster House' %>
    <nav>
      <h1>Contents</h1>
      <ol>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#history">History</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#further-info">Further info</a></li>
      </ol>
    </nav>
  </div>
</div>

<div class="block content-body">
  <div class="inner-block">
    <h2 id="introduction">Introduction</h2>
    <p>Lancaster House is managed and run by The Foreign & Commonwealth Office.</p>
    <p>Situated close to Buckingham Palace, this historic house offers a magnificent setting, a prestigious central location, and first-class facilities for all types of events and hospitality.</p>
    <p>Steeped in political history and magnificently preserved, Lancaster House has a wide range of rooms and a large garden – the ideal place in central London for meetings, conferences and entertaining. It is the perfect backdrop for any occasion, from an intimate dinner to an international summit.</p>
    <p>Lancatser House also has a glamorous side and has been used for receptions and shows during London Fashion Week. The house has been used extensively for filming as well, including Disney’s National Treasure: Book of Secrets, BBC/HBO’s production of Churchill at War, Sherlock Holmes: A Game of Shadows, The King’s Speech, and Netflix’s The Crown.</p>

    <h2 id="history">History</h2>
    <p>Commissioned in 1825 by the ‘grand old’ Duke of York, York House – as it was then known – was a hub of social and political life throughout the 19th century.</p>
    <p>When the Duke died, the lease was purchased by the then Marquess of Stafford (later the first Duke of Sutherland) whose family occupied the house from 1829 until 1913. The Sutherlands' liberal politics and love of the arts attracted many distinguished guests, including factory reformer Lord Shaftesbury, anti-slavery author Harriet Beecher Stowe and Italian nationalist leader Garibaldi.</p>
    <p>Almost as influential as the visitors was the décor, which was to set the fashion for London reception rooms for nearly a century. The mainly Louis XIV interiors created a stunning backdrop for the Sutherlands’ impressive collection of paintings and objets d’art, many of which can still be seen in the house today.</p>
    <p>In 1913, Lord Leverhulme, a Lancastrian, bought the lease for the nation and Stafford House became Lancaster House. As one-time home to the London Museum, the house has been an important centre for government hospitality ever since.</p>

    <h2 id="The grand hall and staircase">The grand hall and staircase</h2>
    <img src="MAIN HALL.JPG" alt="Lancaster House grand hall and staircase" />
    <p>On entering the house through the portico, the hall opens up to reveal a sweeping staircase in a deliberate echo of Versailles. This and the rococo balustrade are both part of Benjamin Wyatt’s original design.</p>
     <p>The great skylight and the glowing colour of the walls are the work of Charles Barry who used scagliola (a coloured paste containing mineral fragments) to simulate marble on the walls and the granite-like pillars.</p>

    <h2 id="The long gallery">The long gallery</h2>
    <img src="LONG GALLERY.JPG" alt="Lancaster House long gallery" />
    <p>The long gallery can hold up to 200 people seated theatre-style or 150 for a seated dinner. Alternatively, it can accommodate a conference table for up to 60, with a further 120 people seated beside and behind the table. The long gallery provides a dramatic backdrop for big events; it is perfect for opening or closing ceremonies and receptions for up to 350 people.</p>
    <p>More than 35 metres in length, the long gallery dominates the whole of the east side of the house. With 18 windows and a large ornate skylight, the room is filled with natural light.</p>
    <p>Winston Churchill gave a coronation banquet for the newly crowned Queen Elisabeth II here in June 1953. More recently, the long gallery has been used for a number of top-level international summits, wedding receptions, fashion shows and filming.</p>
    <p>The ceiling, painted by the Italian artist Guercino, shows Saint Chrysogonus borne to heaven by angels. The chimney piece below features ormolu decorations from France and a shelf supported by gilded allegorical figures of Architecture and Painting.</p>
    <p>An anteroom at the end of the gallery contains Zelotti’s Cupid receiving an apple from the Graces. The tall, heavy doors are decorated with the Sutherland monogram.</p>

   <h2 id="The music room">The music room</h2>
   <p>The music room can accommodate a boardroom table for 36 and theatre style for 100. It can also accommodate lunch or dinner for up to 76 people.</p>
   <p>With windows opening onto a balcony overlooking Stable Yard and recesses flanked by Corinthian columns, the music room provides a grand setting for meetings, press briefings or formal dinners.</p>
   <p>The splendour of the rooms reflects the house’s long association with music. Throughout the 19th century, few leading musicians came to London without appearing at one of the Sutherlands’ evening parties. Frederic Chopin played here for Queen Victoria and Prince Albert in 1848. The house records also show that he gave lessons to the young Lady Constance.</p>

   <h2 id="The state drawing room">The state drawing room</h2>
   <img src="STATE DRAWING ROOM.JPG" alt="Lancaster House state drawing room" />
   <p>The state drawing room is suitable for a wide range of events. It can accommodate 40 people at a boardroom table, 34 for a lunch or dinner, and 120 for a reception.</p>
   <p>Many dignitaries have enjoyed the splendid setting of the state drawing room. The 1954 Lancaster House Treaty was signed here beneath the richly coffered ceiling.</p>
   <p>Between the windows, which look onto St. James’s Park, candelabra are supported by a swarm of cherubs. The ornate chimney pieces are flanked by old bell pulls with faceted crystal centres, recalling the days when the house employed a large retinue of servants.</p>

    <h2 id="The green room">The green room</h2>
    <img src="GREEN ROOM.JPG" alt="Lancaster House green room" />
   <p>The green room is ideal as a dining room for up to 20 people. As a press briefing room, it can seat 28 people theatre style. Ministers have also used it as a private office during conferences.</p>
   <p>The ceiling painting of the solar system features all the signs of the zodiac, while the chimney piece is carved with figures of Summer and Winter, said to represent 2 of the Duchess’s many children. With original furnishings dating from the 1820, this room – once the second Duchess of Sunderland’s boudoir – is a vibrant piece of living history.<p/>

   <h2 id="The state dining room">The state dining room</h2>
   <p>The most conspicuously ‘Old French’ room in the house, the state dining room, once the Sutherlands’ drawing room, commands an impressive view across The Mall and St James’s Park.</p>
   <p>The clock on the table against the west wall is said to have belonged to Napoleon when he was First Consul.</p>

    <h2 id="The gold room">The gold room</h2>
    <p>Before the London Museum was moved to Kensington Palace, the gold room housed the famous Cheapside hoard of Elizabethan treasure. With its original chandelier and antique clock by Thuillier of Paris, the gold room still retains more than an echo of wealth and splendour.</p>

     <h2 id="The eagle room">The eagle room</h2>
     <p>The room features 2 eagles which were part of the base for an original large mirrored buffet table which no longer exists. There is no explanation as to why the eagles were placed in the room, but they give the room its current name.</p>

    <h2 id="location">Location</h2>
    <p>Lancaster House is a 5-minute walk from Green Park underground station.</p>
    <div class="vcard contact-inner">
      <div class="adr">
        <div class="street-address">
          Lancaster House<br />
          Stable Yard<br />
          St James&rsquo;s<br />
          London SW1A 1BB<br />
         <img src="LANCASTER HOUSE MAP.JPG" alt="Lancaster House map" />
        </div>
      </div>
    </div>
    <h2 id="contact details">Contact details</h2>
    <div class="vcard contact-inner">
      <div class="email-url-number">
        <span>The Conference and Events Team, Lancaster House</span>
        <p class="tel">Tel: 020 7008 2711</p>
        <p class="email">Email: <a href="mailto:lancasterhouse.enquiries@fco.gov.uk">lancasterhouse.enquiries@fco.gov.uk</a> </p>
      </div>
    </div>
  </div>
</div>
