<article class="document<%= ' js-paginate-document' if @document.paginate_body %>">
  <div class="body">
    <%= govspeak_to_html @document %>
  </div>
  <% if @document.notes_to_editors.present? %>
    <section id="notes_to_editors">
      <h1>Notes to editors</h1>
      <div class="notes_to_editors">
        <%= govspeak_to_html @document.notes_to_editors %>
      </div>
    </section>
  <% end %>
  <%= render partial: "attachments", locals: { object_with_attachments: @document } %>
</article>
