<section class="contextual_info">
  <h1>Jump to section</h1>
  <nav class="specialist_guide_parts" role="navigation">
    <%= link_to_with_current @document.title, public_document_path(@document, anchor: 'policy_view'), class: "active" %>
    <% if govspeak_headers(@document.body).any? %>
      <ol id="specialist_guide_sections">
        <% govspeak_headers(@document.body).each do |header| %>
          <li><%= link_to header.text, public_document_path(@document, anchor: header.id) %></li>
        <% end %>
	  </ol>
	  <% end %>
	</nav>
</section>