<section class="contextual-info">
  <% if govspeak_headers(edition.body).any? %>
    <% if @document.paginate_body %>
      <h1 class="visuallyhidden">In this guide</h1>
    <% else %>
      <h1>Jump to section</h1>
    <% end %>
    <nav class="specialist_guide_parts" role="navigation">
      <ol id="document_sections">
        <% govspeak_header_heirarchy(edition.body).each do |header_record| %>
          <li>
            <%= link_to header_record[:header].text, public_document_path(edition, anchor: header_record[:header].id) %>
            <% if header_record[:children].any? %>
              <ol>
                <% header_record[:children].each do |child| %>
                  <li><%= link_to child.text, public_document_path(edition, anchor: child.id) %></li>
                <% end %>
              </ol>
            <% end %>
          </li>
        <% end %>
      </ol>
    </nav>
  <% end %>
  <% if edition.published_related_specialist_guides.any? %>
    <h1>More like this</h1>
    <ul class="related_specialist_guides">
      <% edition.published_related_specialist_guides.each do |specialist_guide| %>
        <%= content_tag_for(:li, specialist_guide) do %>
          <%= link_to specialist_guide.title, public_document_path(specialist_guide), title: "View #{specialist_guide.title}", class: "title" %>
        <% end %>
      <% end %>
  <% end %>
</section>
