<h1 class="page_title has_meta"><%= document.title %></h1>
<div class="page-meta">
  <% if document.summary.present? %>
    <p class="summary"><%= document.summary %></p>
  <% end %>
  <%= only_applies_to_nations_paragraph(@document) %>
</div>
