<h1 class="page_title has_meta"><%= document.title %></h1>
<div class="page-meta">
  <% if document.summary.present? %>
    <p class="summary"><%= document.summary %></p>
  <% end %>
  <% if topics.any? %>
    <p class="topics">
      See more specialist guidance on <%= list_of_links_to_topics(topics) %>.
    </p>
  <% end %>
</div>
