<div class="worldwide-office-icon-list logo-icon-list">
  <ul>
    <% worldwide_offices.each do |worldwide_office| %>
      <%= content_tag_for(:li, worldwide_office, class: worldwide_office.slug) do %>
        <%= link_to worldwide_office, class: 'organisation-logo organisation-logo-stacked-single-identity' do %>
          <span><%= format_with_html_line_breaks(h(worldwide_office.logo_formatted_name)) %></span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
