<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :page_title, "New page details" %>
    <% content_for :title, "New page details" %>
    <% content_for :context, @worldwide_organisation.title %>
    <% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @worldwide_organisation_page)) %>

    <%= render partial: "form", locals: {worldwide_organisation_page: @worldwide_organisation_page} %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= simple_formatting_sidebar %>
  </div>
</div>
