<% page_title "New office for: #{@worldwide_organisation.name}" %>

<h1>New office for: <%= @worldwide_organisation.name %></h1>

<%= render partial: "legacy_form", locals: {worldwide_office: @worldwide_office, worldwide_organisation: @worldwide_organisation} %>
