<% page_title "New Worldwide office" %>

<div class="span8">
  <section>
    <h1>New worldwide office</h1>
    <%= render partial: "form", locals: { worldwide_office: @worldwide_office } %>
  </section>
</div>

<div class="span4">
  <%= render partial: "sidebar" %>
</div>
