<% page_title "Editing #{@response.friendly_name} for: #{@edition.title}" %>

<div class="row">
  <section class="col-md-8">
    <h1>Editing <%= @response.friendly_name %> for consultation</h1>

    <%= render partial: 'legacy_form', locals: { consultation: @edition, consultation_response: @response } %>
  </section>
  <div class="col-md-4">
    <%= render partial: "admin/editions/govspeak_help",
    locals: { hide_inline_attachments_help: !@edition.allows_inline_attachments?, show_attachments_tab_help: true } %>
  </div>
</div>
