<% page_title "Editing response for: #{@edition.title}" %>

<div class="span8">
  <section>
    <h1>Response for: <%= @edition.title %></h1>

    <%= render partial: 'form', locals: { consultation: @edition, response: @response } %>
  </section>
</div>
