<% page_title "Editing #{@response.friendly_name} for: #{@edition.title}" %>

<div class="span8">
  <section>
    <h1>Editing <%= @response.friendly_name %> for consultation</h1>

    <%= render partial: 'form', locals: { consultation: @edition, consultation_response: @response } %>
  </section>
</div>
