<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-summary-list--with-image">
      <%= render "govuk_publishing_components/components/summary_list", {
        heading_level: 2,
        heading_size: "l",
        title: "Details",
        items: rows,
        edit: edit,
      } %>
    </div>
  </div>
</div>
