.statistics-announcements-show {
  .headings-block .heading-extra {
    margin-top: $gutter * 1.5;
  }

  .release-date-change-information {
    margin: $gutter 0;

    h3 {
        @include bold-16;
        margin-bottom: $gutter-half;
    }
  }

  .status-block {
    border-color: $inside-gov-brand;
    margin-left: 0;

    p {
      font-weight: normal;
    }
  }
}
