<% content_for :page_title, "More" %>
<% content_for :title, "More" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/list", {
      items: [
        admin_organisations_link,
        admin_policy_groups_link,
        admin_roles_link,
        admin_people_link,
        admin_topical_events_link,
        admin_worldwide_organisations_link,
        admin_world_location_news_link,
        admin_fields_of_operation_link,
        admin_cabinet_ministers_link,
        admin_get_involved_link,
        admin_sitewide_settings_link,
        admin_governments_link,
      ],
    } %>
  </div>
</div>
