<% content_for :page_title, "More" %>
<% content_for :title, "More" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/list", {
      items: [
        admin_organisations_header_menu_link,
        admin_policy_groups_header_menu_link,
        admin_roles_header_menu_link,
        admin_people_header_menu_link,
        admin_topical_events_header_menu_link,
        admin_worldwide_organisations_header_menu_link,
        admin_world_location_news_header_menu_link,
        admin_fields_of_operation_header_menu_link,
        admin_cabinet_ministers_header_menu_link,
        admin_get_involved_header_menu_link,
        admin_sitewide_settings_header_menu_link,
        admin_governments_header_menu_link,
      ],
    } %>
  </div>
</div>
