<div class="app-vc-worldwide-pages-index-page-summary-card-component">
  <%= render "components/summary_card", {
    title: page.title,
    rows: rows,
    summary_card_actions: summary_card_actions,
  } %>
</div>
