<% page_title "Email alert subscription" %>
<% page_class "email-signup-show" %>

<header class="block email-header">
  <div class="inner-block">
    <h1>Email alert subscription</h1>
  </div>
</header>

<div class="block">
  <div class="inner-block">
    <%= render 'form', email_signup: @email_signup %>
  </div>
</div>
