<% page_title "Email alert subscription" %>
<% page_class "email-signup-show" %>

<header class="block email-header">
  <div class="inner-block">
    <h1>Email alert subscription</h1>
  </div>
</header>

<div class="block">
  <div class="inner-block">
    <% if @email_signup.valid? %>
      <%= render 'form', email_signup: @email_signup %>
    <% else %>
      <p>Sorry, we could not find a valid email alerts feed for that.</p>
    <% end %>
  </div>
</div>
