<% page_title "Policy teams" %>
<% page_class "policy-teams-index" %>

<div>
  <div class="block-1">
    <div class="inner-block">
      <section class="page-header">
        <h1>Policy teams</h1>
      </section>
    </div>
  </div>

  <div class="block-2">
    <div class="inner-block">
      <% if @policy_teams.any? %>
        <ul>
          <% @policy_teams.each do |team| %>
            <%= content_tag_for :li, team do %>
              <% link_to team.name, team %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
