<% page_title "Teams" %>
<% page_class "policy-teams-index" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Teams" } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <section class="simple-alphabetical-list">
    <% if @policy_teams.any? %>
      <% @policy_teams.group_by { |team| (team.name || '-').first.upcase }.each do |letter, entries| %>
        <div class="alphabetical-row">
          <h2 class="alphabetical-list-letter"><%= letter %></h2>
          <ul>
            <% entries.each do |team| %>
              <%= content_tag_for :li, team do %>
                <% link_to team.name, team %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    </section>
  </div>
</div>
