<% page_title "Whitehall admin style guide" %>

<div class="page-header">
  <h1>Whitehall admin style guide</h1>
</div>

<p class="lead">Whitehall admin UI is powered by bootstrap 2.0.3 with some help from the <a href="https://github.com/alphagov/govuk_frontend_toolkit">govuk_frontend_toolkit</a>. There are currently none of the standard bootstrap mixins. This guide partially documents how we use bootstrap, where whitehall styles have diverged from default styles and any custom styles needed to fill in the gaps.</p>

<h2>Grid</h2>
<p class="lead">The bootstrap grid being used relies on <code>first-child</code> and <code>last-child</code> pseudo selectors to work. It is an <a href="http://getbootstrap.com/2.3.2/scaffolding.html#gridSystem">early version of the 2.3.2 grid</a>, but it is fragile, and must be wrapped in <code>row-fluid</code>.</p>

<style>
  .grid-example {
    background: #eee;
    border: 1px solid #ccc;
  }
</style>

<div class="row-fluid">
  <div class="span2 grid-example">span2</div>
  <div class="span4 grid-example">span4</div>
  <div class="span6 grid-example">span6</div>
</div>
<div class="row-fluid">
  <div class="span12 grid-example">span12</div>
</div>
<hr />

<h2>Forms</h2>
<div class="row-fluid">
  <div class="span6">
    <p class="lead">A default form with fieldset, legend, labels and inputs.</p>
  </div>
  <div class="span6 well">
    <form>
      <fieldset>
        <legend>Legend in first fieldset</legend>
        <label>Label name</label>
        <input type="text" placeholder="Type something…">
        <span class="help-block">Example block-level help text here.</span>
        <label class="checkbox">
          <input type="checkbox"> Check me out
        </label>
      </fieldset>
      <fieldset>
        <legend>Legend in second fieldset</legend>
        <label>Label name</label>
        <input type="text" placeholder="Type something…">
        <span class="help-block">Example block-level help text here.</span>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Option one is this and that—be sure to include why it's great
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>
