<% page_title "Whitehall admin style guide" %>

<div class="page-header">
  <h1>Whitehall admin style guide</h1>
</div>

<p class="lead">Whitehall admin UI is powered by bootstrap 2.0.3 with some help from the <a href="https://github.com/alphagov/govuk_frontend_toolkit">govuk_frontend_toolkit</a>. There are currently none of the standard bootstrap mixins. This guide partially documents how we use bootstrap, where whitehall styles have diverged from default styles and any custom styles needed to fill in the gaps.</p>
