<% page_title "Whitehall admin style guide" %>

<div class="page-header">
  <h1>Whitehall admin style guide</h1>
</div>

<p class="lead">Whitehall admin UI is powered by <a href="http://getbootstrap.com/2.3.2/">bootstrap 2.3.2</a> (using the <a href="https://github.com/twbs/bootstrap-sass/tree/v2.3.2.2">bootstrap-sass gem</a>) with some help from the <a href="https://github.com/alphagov/govuk_frontend_toolkit">govuk_frontend_toolkit</a>. This guide partially documents how we use bootstrap, where whitehall styles have diverged from default styles and any custom styles needed to fill in the gaps.</p>

<h2>Grid</h2>
<p class="lead">Whitehall uses the <a href="http://getbootstrap.com/2.3.2/scaffolding.html#fluidGridSystem">bootstrap 2.3.2 fluid grid</a>.</p>

<style>
  .grid-example {
    background: #eee;
    border: 1px solid #ccc;
  }
</style>

<div class="row-fluid">
  <div class="span2 grid-example">span2</div>
  <div class="span4 grid-example">span4</div>
  <div class="span6 grid-example">span6</div>
</div>
<div class="row-fluid">
  <div class="span12 grid-example">span12</div>
</div>
<hr />

<h2 class="add-bottom-margin">Forms</h2>
<div class="row-fluid">
  <div class="span6">
    <p class="lead">A default form with fieldset, legend, labels and inputs.</p>
  </div>
  <form class="span6">
    <fieldset>
      <legend>Legend in fieldset</legend>
      <label for="an-input">Label name</label>
      <input id="an-input" type="text" placeholder="Type something…">
      <span class="help-block">Example block-level help text here.</span>
      <label class="checkbox">
        <input type="checkbox"> Check me out
      </label>
      <label class="radio">
        <input type="radio" name="options-radios" id="options-radios1" value="option1" checked>
        Option one is this and that—be sure to include why it's great
      </label>
      <label class="radio">
        <input type="radio" name="options-radios" id="options-radios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="submit" class="add-left-margin btn">Cancel</button>
      <button type="submit" class="add-left-margin btn btn-large">Large button</button>
    </div>
  </form>
</div>
<div class="row-fluid">
  <div class="span6">
    <p class="lead">A <code>form-large</code> form that emulates govuk_admin_template.</p>
  </div>
  <form class="span6 form-large">
    <fieldset>
      <legend>Legend in fieldset</legend>
      <div class="form-group">
        <label for="an-input-3">Label name</label>
        <input id="an-input-3" type="text" placeholder="Type something…" class="form-control">
        <span class="help-block">Example block-level help text here.</span>
      </div>
      <div class="form-group checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="options-radios" id="options-radios1" value="option1" checked>
          Option one is this and that—be sure to include why it's great
        </label>
        <label>
          <input type="radio" name="options-radios" id="options-radios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Submit form</button>
      <button type="submit" class="add-left-margin btn">Cancel</button>
      <button type="submit" class="add-left-margin btn btn-large">Large button</button>
    </div>
  </form>
</div>

<h3 class="add-bottom-margin">Block labels</h3>
<form class="row-fluid form-large">
  <div class="span6">
    <div class="bold">
      Default
    </div>
    <div>
      <label class="block-label">
        <input type="radio" name="options-radios" id="options-radios1" value="option1" checked>
        Option one is this and that—be sure to include why it's great
      </label>
      <label class="block-label">
        <input type="radio" name="options-radios" id="options-radios2" value="option2">
        Option two can be something else and selecting it will deselect option one
      </label>
      <label class="block-label">
        <input type="radio" name="options-radios" id="options-radios2" value="option2">
        Option three can be something else <br/>
        <span class="muted">and selecting it will deselect option one</span>
      </label>
    </div>
  </div>
  <div class="span6">
    <div class="bold">
      Inline
    </div>
    <div class="inline-block-labels">
      <label class="block-label">
        <input type="radio" name="options-radios" id="options-radios1" value="option1" checked>
        Step inline
      </label>
      <label class="block-label">
        <input type="radio" name="options-radios" id="options-radios2" value="option2">
        Step in time
      </label>
      <label class="block-label">
        <input type="radio" name="options-radios" id="options-radios2" value="option2">
        Step in time<br/>
        <span class="muted">On another line</span>
      </label>
    </div>
  </div>
</form>

<hr />

<h2 class="add-bottom-margin">Tables</h2>
<div class="row-fluid">
  <div class="span6">
    <p class="lead">When using a table with two layers of headings, usually for interacting with table content, <code>table-header</code> and <code>table-header-secondary</code> classes are used.</p>
  </div>
  <div class="span6">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-header">
          <th>Primary header</th>
        </tr>
        <tr class="table-header-secondary">
          <th>Secondary header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Typical row</td>
        </tr>
        <tr>
          <td>Typical row</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr />

<h2 class="add-bottom-margin">No content</h2>
<div class="row-fluid">
  <p class="span6 lead">A large but light style which applies to the empty state. The bordered version mimics bootstrap table styles.</p>
  <div class="span6">
    <p class="no-content">No items available</p>
    <p class="no-content no-content-bordered">Bordered message</p>
    <p class="no-content">A longer, multi-line no content message. Do labore et <a href="https://transition.preview.alphagov.co.uk/style-guide#1407409835">dolore magna aliqua</a>.</p>
  </div>
</div>
