<h2>History</h2>

<div class="clearfix">
  <%= link_to_previous_page(versions, 'Newer') %>
  <%= link_to_next_page(versions, 'Older', class: "pull-right") %>
</div>

<ul class="list-unstyled">
  <% versions.each do |version| %>
    <li>
      <%= render Admin::LegacyAuditTrailEntryComponent.new(version: version) %>
    </li>
  <% end %>
</ul>
