<%
  attachments = AttachmentsPresenter.new(document)
  title = t('document.headings.attachments', count: attachments.length) unless local_assigns.include?(:title)
  summary = document.summary unless local_assigns.include?(:summary)
  published_on = '' unless local_assigns.include?(:published_on)
%>
<section class="heading-block">
  <% if attachments.any? %>
    <h1><%= title %></h1>
    <div class="content">
      <article>
        <div class="body">
          <div class="govspeak">
            <div class="first-attachment">
              <%= render partial: "documents/attachment",
                        object: attachments.first,
                        locals: { alternative_format_contact_email: document.alternative_format_contact_email,
                          extra_description: summary,
                          published_on: published_on } %>
            </div>
            <% if attachments.more_than_one? %>
              <div class="attachment-without-thumbnail">
                <% attachments.remaining.each do |attachment| %>
                  <%= render partial: "documents/attachment",
                             object: attachment,
                             locals: { hide_thumbnail: false,
                                       alternative_format_contact_email: document.alternative_format_contact_email } %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </article>
    </div>
  <% else %>
    <p class="extra-description summary"><%= summary %></p>
  <% end %>
</section>
