<%
  attachments = AttachmentsPresenter.new(document)
  title = t('document.headings.attachments', count: attachments.length) unless local_assigns.include?(:title)
  summary = document.summary unless local_assigns.include?(:summary)
  published_on = '' unless local_assigns.include?(:published_on)
%>
<section class="heading-block attachment-full-width">
  <% if attachments.any? %>
    <h1><%= title %></h1>
    <div class="content">
      <article>
        <div class="govspeak">
          <% attachments.attachments.each do |attachment| %>
            <%= render partial: "documents/attachment",
                        object: attachment,
                        locals: { alternative_format_contact_email: document.alternative_format_contact_email } %>
          <% end %>
        </div>
      </article>
    </div>
  <% else %>
    <p class="extra-description summary"><%= summary %></p>
  <% end %>
</section>
