<%
  title = "Documents" unless local_assigns.include?(:title)
  summary = document.summary unless local_assigns.include?(:summary)
%>
<section class="attachment-full-width">
  <% if document.attachments.present? %>
    <div class="govspeak">
      <h1><%= title %></h1>
      <div class="first-attachment">
        <%= render partial: "documents/attachment",
                  object: document.attachments.first,
                  locals: { alternative_format_contact_email: document.alternative_format_contact_email,
                            extra_description: summary } %>
      </div>
      <% if document.attachments.present? && document.attachments[1..-1].any? %>
        <div class="attachment-without-thumbnail">
          <h2 class="supporting-documents-title">Supporting documents</h2>
          <% document.attachments[1..-1].each do |attachment| %>
            <%= render partial: "documents/attachment",
                      object: attachment,
                      locals: { hide_thumbnail: true,
                                alternative_format_contact_email: document.alternative_format_contact_email } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="extra-description summary"><%= summary %></p>
  <% end %>
</section>
