<% raise "alternative_format_contact_email not defined" unless defined?(alternative_format_contact_email) %>

<% if attachment %>
  <div class="attachment_meta">
    <span class="type"><%= humanized_content_type(attachment.file_extension) %></span>,
    <span class="size"><%= number_to_human_size(attachment.file_size) %></span><% if attachment.number_of_pages.present? %>,
      <span class="number_of_pages"><%= pluralize(attachment.number_of_pages, "page") %></span>
    <% end %>
    <%= render partial: 'documents/attachment_accessibility_warning.html.erb', locals: {attachment: attachment, alternative_format_contact_email: alternative_format_contact_email} %>
  </div>
<% end %>
