<%
  attachments = document.attachments.for_current_locale
  title = t('document.headings.attachments', count: attachments.size) unless local_assigns.include?(:title)
  published_on = '' unless local_assigns.include?(:published_on)
  external = false unless defined?(:external)
%>
<section class="attachment-full-width">
  <div class="head-section">
    <h1><%= title %></h1>
  </div>
  <div class="content">
    <article>
      <div class="govspeak">
        <% attachments.each do |attachment| %>
          <%= render partial: "documents/attachment",
                     object: attachment,
                     locals: {
                       hide_thumbnail: false,
                       alternative_format_contact_email: document.alternative_format_contact_email,
                       published_on: published_on
                     } %>
        <% end %>

        <% if external %>
          <h2 class="hosted-externally">This document is hosted on <%= link_to "another website", document.external_url, rel: "external" %></h2>
        <% end %>
      </div>
    </article>
  </div>
</section>
