<div class="change-notes-container">
  <p class="link-to-change-notes">Change notes</p>

  <section class="change_notes" style="display: none;">
    <h1>Change notes</h1>
    <ul>
      <% document.change_history.each do |change| %>
        <li class="group">
          <p><%= change.note %></p>
          <%= absolute_time(change.published_at, class: 'published_at') %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
