<%
  title ||= 'Change Notes'
%>
<section class="change-notes js-toggle-change-notes">
  <h1><%= title %></h1>
  <div class="overlay js-hidden" id="change-notes">
    <dl>
      <% document.change_history.each do |change| %>
        <dt><%= change.note %></dt>
        <dd><%= absolute_time(change.published_at, class: 'published_at') %></dd>
      <% end %>
    </dl>
  </div>
</section>
