<% if document.state != 'published' %>
  <dt class="change-notes-title">Published:</dt>
  <dd>Preview</dd>
<% else %>
  <%-
    history = document.change_history
    most_recent_change = history.first.major_change_published_at
  -%>
  <% if history.length == 1 %>
    <dt class="change-notes-title">Published:</dt>
    <dd class="change-notes"><%= absolute_date(most_recent_change, class: 'published-at') %></dd>
  <% else %>
    <dt class="change-notes-title">Updated:</dt>
    <dd class="js-toggle-change-notes change-notes">
      <%= absolute_date(most_recent_change, class: 'published-at toggle') %>
      <div class="overlay js-hidden" id="change-notes">
        <dl>
          <% history.each do |change| %>
            <dt class="note"><%= change.note %></dt>
            <dd class="time"><%= absolute_time(change.major_change_published_at, class: 'published-at') %></dd>
          <% end %>
        </dl>
      </div>
    </dd>
  <% end %>
<% end %>
