<section class="document_view">
  <h1 class="title"><%= document.title %></h1>
  <div class="body">
    <%= govspeak_to_html document.body %>
  </div>

  <%= render partial: "attachments", locals: { document: document } %>
</section>