<section class="document_view">
  <h1 class="title"><%= document.title %></h1>
  <div class="body">
    <%= govspeak_to_html document.body %>
  </div>

  <% if document.allows_attachments? %>
    <% document.attachments.each do |attachment| %>
      <p class="attachment"><%= link_to_attachment(attachment) %></p>
    <% end %>
  <% end %>
</section>