<section class="meta">
  <% if local_assigns.include?(:topics) && local_assigns.include?(:document) %>
    <div class="meta-context">
      <%= part_of_topics_paragraph(topics) %>
      <%= applies_to_countries_paragraph(document) %>
      <%= only_applies_to_nations_paragraph(document) %>
    </div>
  <% end %>
  <div class="meta-changes">
    <%= render partial: 'change_notes', locals: {document: @document} %>
  </div>
</section>
