<span class="count">{{result_count}}</span> <strong>{{result_type}}</strong> about
<span class="topics-selections chosen">
  {{#topics}}
    <strong>{{name}}</strong> <a href="{{url}}" data-field="topics" data-val="{{value}}" title="Remove {{name}} filter">&times;</a> {{joining}}
  {{/topics}}
  {{^topics}} <strong>All topics</strong> {{/topics}}
</span>
by
<span class="departments-selections chosen">
  {{#departments}}
    <strong>{{name}}</strong> <a href="{{url}}" data-field="departments" data-val="{{value}}" title="Remove {{name}} filter">&times;</a> {{joining}}
  {{/departments}}
  {{^departments}} <strong>All organisations</strong> {{/departments}}
</span>
{{#world_locations_any?}}
from
<span class="locations-selections chosen">
  {{#world_locations}}
    <strong>{{name}}</strong> <a href="{{url}}" data-field="world_locations" data-val="{{value}}" title="Remove {{name}} filter">&times;</a> {{joining}}
  {{/world_locations}}
</span>
{{/world_locations_any?}}

{{#keywords_any?}}
  containing
  <span class="keyword-selections chosen">
    {{#keywords}}
      <strong>{{name}}</strong> <a href="{{url}}" data-field="keywords" data-val="{{name}}" title="Remove {{name}} filter">&times;</a> {{joining}}
    {{/keywords}}
  </span>
{{/keywords_any?}}

{{#relevant_to_local_government}}
  <span class="local-government-selections chosen">
    <strong>relevant to local government</strong>
  </span>
{{/relevant_to_local_government}}

{{#include_world_location_news}}
  <span class="world-location-news chosen">
    <strong>including location-specific news</strong>
  </span>
{{/include_world_location_news}}

{{#date_from}}
published <span class="chosen"><strong>after&nbsp;{{date_from}}</strong></span>
{{/date_from}}

{{#date_to}}
published <span class="chosen"><strong>before&nbsp;{{date_to}}</strong></span>
{{/date_to}}
