<%
  context = {
    result_count: filter.documents.total_count,
    result_type: result_type(filter.documents.total_count),
    departments: filter_results_selections(filter.selected_organisations, 'departments'),
    topics: filter_results_selections(filter.selected_topics, 'topics'),
    world_locations_any?: filter.selected_locations.any?,
    world_locations: filter_results_selections(filter.selected_locations, 'world_locations'),
    keywords_any?: filter.keywords.any?,
    keywords: filter_results_keywords(filter.keywords),
    date_from: filter.date_from,
    date_to: filter.date_to,
    relevant_to_local_government: filter.relevant_to_local_government,
    include_world_location_news: filter.include_world_location_news
  }
%>
<div class="filter-results-summary">
  <div class="selections">
    <%= render_mustache('documents/filter_selections', context) %>
  </div>
</div>
