{{#results_any?}}
  <ol class="js-document-list document-list" data-module="track-click">
    {{#results}}
      <li id="{{result.type}}_{{result.id}}" class="document-row">
        <h3>
          <a
            href="{{result.url}}"
            data-category="nav{{category}}LinkClicked"
            data-action="{{index}}"
            data-label="{{result.url}}"
            data-options='{"dimension28":"{{count}}","dimension29":"{{result.title}}"}'
            >{{result.title}}</a>
        </h3>
        <ul class="attributes">
          <li>{{{result.display_date_microformat}}}</li>
          <li class="organisations">{{{result.organisations}}}</li>
          <li class="display-type">{{result.display_type}}</li>
          {{#result.field_of_operation}}
            <li class="field-of-operation">{{{result.field_of_operation}}}</li>
          {{/result.field_of_operation}}
          {{#result.topics}}
            <li class="topics">{{{result.topics}}}</li>
          {{/result.topics}}
          {{#result.publication_collections}}
            <li class="document-collections">{{{result.publication_collections}}}</li>
          {{/result.publication_collections}}
        </ul>
        {{#result.historic?}}
          {{#result.government_name}}
            <p class="historic">
            First published during the {{result.government_name}}
            </p>
          {{/result.government_name}}
        {{/result.historic?}}
      </li>
    {{/results}}
  </ol>
  {{#more_pages?}}
    <nav id="show-more-documents" role="navigation">
      <ul class="previous-next-navigation">
        {{#prev_page?}}
          <li class="previous">
            <a href="{{prev_page_web_url}}" rel="prev">Previous <span class="visuallyhidden">page</span> <span class="page-numbers">{{prev_page}} of {{total_pages}}</span></a>
          </li>
        {{/prev_page?}}
        {{#next_page?}}
          <li class="next">
            <a href="{{next_page_web_url}}" rel="next">Next <span class="visuallyhidden">page</span> <span class="page-numbers">{{next_page}} of {{total_pages}}</span></a>
          </li>
        {{/next_page?}}
      </ul>
    </nav>
  {{/more_pages?}}
{{/results_any?}}
{{^results_any?}}
  <div class="no-results">
    <h2>{{no_results_title}}</h2>
    <p>{{no_results_description}}</p>
    <h3>{{{no_results_tna_heading}}}</h3>
    <p>{{{no_results_tna_link}}}</p>
  </div>
{{/results_any?}}
