<% unless defined?(filters); filters = []; end %>
<% document_type_plural = document_type.to_s.pluralize %>

<div class="filter-form-block">
  <%= render "govuk_publishing_components/components/heading", {
    text: t('document_filters.description').html_safe,
    font_size: "m",
    heading_level: 2,
    margin_bottom: 8
  } %>

  <form method="get" action="<%= send(:"#{document_type_plural}_path") %>" id="document-filter" class="filter-form js-world-location-filter">
    <% if filters.include? :locations %>
      <div class="govuk-!-margin-bottom-8">
        <%= render "govuk_publishing_components/components/select", {
          id: "world_locations",
          name: "world_locations[]",
          label: t('document_filters.world_locations.label'),
          full_width: true,
          options: locations_options(@filter.selected_locations),
          margin_bottom: 8,
        } %>
      </div>
    <% end %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Refresh results",
      destructive: true
    } %>
  </form>
</div>
