<div class="history-status-block">
  <h2>This <%= type.downcase %> is from a previous government</h2>
  <% if government_name %>
  <p>It was published under the <%= government_name %></p>
  <% end %>
</div>
