<div class="history-status-block">
  <h2>
    This <%= type.downcase %> was published under
    <% if government_name %>
      the <span class="government"><%= government_name %></span>
    <% else %>
      a previous government
    <% end %>
  </h2>
</div>
