<% if organisations.any? %>
  <section id="organisations">
    <h1>Departments & agencies</h1>
    <%= render partial: "organisations/list", locals: {organisations: organisations} %>
  </section>
<% end %>
