<% if document.organisations.any? %>
  <section id="organisations">
    <h1>Organisations</h1>
    <%= render partial: "organisations/list", locals: {organisations: document.organisations} %>
  </section>
<% end %>
