<% if policy_topics.any? %>
  <section id="policy_topics" class="simple_list">
    <h1 class="label">Policy topics</h1>
    <%= render partial: "policy_topics/list", locals: {policy_topics: policy_topics} %>
  </section>
<% end %>
