<% if policies.any? %>
<section id="policies" class="g1">
  <h1>Policies</h1>
  <ul class="policies">
    <% policies.each do |policy| %>
      <%= content_tag_for(:li, policy) do %>
        <%= link_to policy.title, document_path(policy.document_identity), title: "View #{policy.title}" %>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>
