<% if policies.any? %>
  <section id="policies">
    <h1><%= defined?(title) ? title : "Policies" %></h1>
    <ul class="policies">
      <% policies.each do |policy| %>
        <%= content_tag_for(:li, policy) do %>
          <%= link_to policy.title, public_document_path(policy), title: "View #{policy.title}", class: "title" %>
        <% end %>
      <% end %>
      <% if local_assigns.has_key?(:more) %>
        <li><%= more %></li>
      <% end %>
    </ul>
  </section>
<% end %>