<% if related_policies.any? %>
<div class="related_documents">
  <section id="related-policies" class="gutter">
    <h1 class="label">Policies</h1>
    <ul>
      <% related_policies.each do |related_policy| %>
        <%= content_tag_for :li, related_policy do %>
          <%= link_to related_policy.title, public_document_path(related_policy) %>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>
<% end %>