<% if speeches.any? %>
  <section id="speeches">
    <h1>Speeches</h1>
    <ul>
      <% speeches.each do |speech| %>
        <%= content_tag_for(:li, speech) do %>
          <%= link_to speech.title, public_document_path(speech), class: "title", title: "View #{speech.title}" %>
        <% end %>
      <% end %>
      <% if local_assigns.has_key?(:more) %>
        <li><%= more %></li>
      <% end %>
    </ul>
  </section>
<% end %>