<% if speeches.any? %>
<section id="speeches" class="g1">
  <h1>Speeches</h1>
  <ul class="speeches">
    <% speeches.each do |speech| %>
      <%= content_tag_for(:li, speech) do %>
        <%= link_to speech.title, document_path(speech.document_identity), title: "View #{speech.title}" %>
      <% end %>
    <% end %>
  </ul>
</section>
<% end %>
