<div class="statistics-notice">
  <h2 class="">Statistics publications have moved.</h2>
  <p>Find a list of published and upcoming government statistics in the <a href="/government/statistics">statistics section</a>.</p>
</div>
