<%
  header_title ||= ""
  hide_extra_organisations ||= false
%>
<h1 class="page_title">
  <% unless header_title.empty? %>
    <span class="label"><%= header_title %>:</span>
  <% end %>
  <span class="title"><%= @document.title %></span>
</h1>

<% if document.respond_to?(:organisations) && document.organisations.any? %>
  <section id="document-organisations" <% if hide_extra_organisations %>class="js-hide-extra-logos"<% end %>>
    <h1 class="visuallyhidden">Organisations</h1>
    <%= render  partial: 'organisations/organisations_logo_list',
                locals: {
                  organisations: document.organisations,
                  extra_class: 'single-line',
                  remove_line_breaks: true
                } %>
  </section>
<% end %>

<% if document.respond_to?(:ministerial_roles) && document.ministerial_roles.any? %>
  <section id="document-ministers">
    <ul class="ministers">
      <h1 class="visuallyhidden">Ministers</h1>
      <% document.ministerial_roles.each do |role| %>
        <li class="current-appointee">
          <%= link_to role.current_person_name, role, class: "minister" %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
