<% page_title "Coming soon" %>
<% page_class "documents-coming-soon" %>

<div class="block-1">
  <div class="inner-block holding-block">
    <h1>Coming soon</h1>
    <p class="introduction">
      This document will be published on<br />
      <%= render_datetime_microformat(@document, :scheduled_publication) { @document.scheduled_publication.to_date.to_s(:long_ordinal) + " at " + @document.scheduled_publication.to_s(:time) }%>
    </p>
  </div>
</div>
