<h1>Documents</h1>

<%= render partial: "policies", object: @policies %>
<%= render partial: "publications", object: @publications %>
<%= render partial: "news_articles", object: @news_articles %>
<%= render partial: "consultations", object: @consultations %>

<% if @policies.empty? && @publications.empty? && @news_articles.empty? && @consultations.empty? %>
  <p>We don't have any published documents at present.</p>
<% end %>