<div class="g3">
  <% if @policies.empty? %>
    <h1>Documents</h1>
    <p>We don't have any published documents at present.</p>
  <% else %>
    <%= render partial: "policies", object: @policies %>
  <% end %>
</div>