<div class="g1"><%= render partial: "policies", object: @policies %></div>
<div class="g1"><%= render partial: "consultations", object: @consultations %></div>

<% if @policies.empty? && @consultations.empty? && @speeches.empty? %>
  <h1>Documents</h1>
  <p>We don't have any published documents at present.</p>
<% end %>