%p.inset
  back to
  =link_to 'policies', documents_path

.policy_document
  %h1.title= @edition.title
  %div.body
    = format_in_paragraphs @edition.body
  %p.attachment= link_to_attachment(@edition.attachment)
  %p.written_by
    Written by
    %span.author= @edition.author.name