%p.inset
  back to
  =link_to 'documents', documents_path

.policy_document
  %h1.title= @published_edition.title
  %div.body
    = format_in_paragraphs @published_edition.body
  %p.attachment= link_to_attachment(@published_edition.attachment)
  %p.written_by
    Written by
    %span.author= @published_edition.author.name