<% page_title "No longer available" %>
<% page_class "documents-unpublished" %>

<div class="block">
  <div class="inner-block holding-block">
    <h1>The page you are looking for is no longer available</h1>

    <p class="summary">
      The information on this page has been removed because <%= @unpublishing.reason_as_sentence %>.
    </p>

    <div class="document body">
      <% if @unpublishing.explanation.present? %>
        <%= govspeak_to_html @unpublishing.explanation %>
      <% end %>

      <% if @unpublishing.alternative_url.present? %>
        <p>Visit: <%= link_to @unpublishing.alternative_url, @unpublishing.alternative_url %></p>
      <% end %>
    </div>
  </div>
</div>
