<% page_title "The page you're looking for is no longer available" %>
<% page_class "documents-unpublished" %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: "The page you're looking for is no longer available",
        margin_bottom: 4
      } %>
      <p class="govuk-body">
        The information on this page has been removed because <%= @unpublishing.reason_as_sentence %>.
      </p>
      <% if @unpublishing.explanation.present? %>
        <%= render_govspeak(@unpublishing.explanation) %>
      <% end %>
      <% if @unpublishing.alternative_url.present? %>
        <p class="govuk-body">Visit: <%= link_to @unpublishing.alternative_url, @unpublishing.alternative_url %></p>
      <% end %>
    </div>
  </div>
</div>
