<div class="govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Limit access",
    heading_level: 3,
    heading_size: "m",
  } do %>
    <%= form.hidden_field :access_limiting, value: "none" %>
    <% if Flipflop.access_limiting_organisations_ui? || Flipflop.access_limiting_individuals_ui? %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "edition[access_limiting]",
        id_prefix: "edition_access_limiting",
        error_items: errors_for(edition.errors, :access_limiting_organisation_ids) || errors_for(edition.errors, :access_limiting_individual_emails),
        items: [
          {
            value: "none",
            text: "No - This document should be available to all publishers",
            checked: edition.access_limiting_none?,
          },
          Flipflop.access_limiting_organisations_ui? ? {
            value: "organisations",
            text: "Limit access to publishers from organisations associated with this document",
            checked: edition.access_limiting_organisations?,
            conditional: render("admin/editions/access_limiting_organisation_select", form: form, edition: edition),
          } : nil,
          Flipflop.access_limiting_individuals_ui? ? {
            value: "individuals",
            text: "Limit access to named publishers",
            checked: edition.access_limiting_individuals?,
            conditional: render("govuk_publishing_components/components/textarea", {
              label: { text: "Add the emails of the publishers who will have access (separated by commas)" },
              name: "edition[access_limiting_individual_emails]",
              textarea_id: "edition_access_limiting_individual_emails",
              hint: "Include at least 2 names - one should be your managing editor if possible. After publishing, the document will be available to all publishers, until a new draft is created and access is limited on that draft edition.",
              value: edition.access_limiting_individual_emails,
            }),
          } : nil,
        ].compact,
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/checkboxes", {
        name: "edition[access_limiting]",
        id: "edition_access_limiting",
        error_items: errors_for(edition.errors, :access_limiting),
        items: [
          {
            label: "Limit access to publishers from organisations associated with this document before you publish",
            value: "organisations",
            checked: edition.access_limited?,
          },
        ],
      } %>
    <% end %>
  <% end %>
</div>
