<fieldset id="edition_attachment_fields" class="attachments multiple_file_uploads tabbable">
  <legend>Attachments</legend>

  <% if edition.new_record? %>

    <p>
      If you'd like to add an attachment to this document, please save
      it first. You'll then find a new tab at the top of the page that you
      can use to upload, edit and delete attachments.
    </p>

  <% else %>

    <% if edition.allows_inline_attachments? %>
      <p>
        You can insert an attachment into your document by entering the
        following snippets of Markdown:
      </p>
    <% end %>

    <ol>
    <% edition.attachments.each_with_index do |attachment, i| %>
      <li>
        <strong><%= attachment.title %></strong>
        <% if edition.allows_inline_attachments? %>
          - <%= inline_attachment_code_tags(i+1) %>
        <% end %>
      </li>
    <% end %>
    </ol>

  <% end %>
</fieldset>
