<fieldset class="<% if edition.errors[:brexit_no_deal_content_notice_links].any? %>alert-danger form-errors field_with_errors<% end %>" >

  <legend class="add-bottom-margin">
    Post-transition content notice
  </legend>

  <div class="checkbox add-bottom-margin">
    <%= form.check_box :show_brexit_no_deal_content_notice, label_text: "Display the post-transition call-out box on this page" %>
  </div>

  <p>Add links to current state guidance, which will appear in the call-out box.</p>
  <p>Read the <a href="https://www.gov.uk/guidance/content-design/helping-users-prepare-for-change#preparing-users-for-changes-related-to-the-end-of-the-transition-period-with-the-eu" target="_blank" rel="noopener noreferrer">guidance on post-transition content</a> (opens in a new tab).</p>
  <p>Use full URLs for external websites, for example https://www.example.com.</p>

  <%= form.fields_for :brexit_no_deal_content_notice_links do |links_fields| %>
    <div class="well">
      <%= links_fields.text_field :title, label_text: 'Link text' %>
      <%= links_fields.text_field :url,  label_text: 'URL' %>
    </div>
  <% end %>
</fieldset>
