<fieldset>
  <h3>To save this document please complete the following</h3>
  <p>Select an option:</p>
    <%= form.check_box(:minor_change, label_text: "<strong>Update the document silently</strong> - for corrections to typos, links, style or metadata".html_safe) %> 
    <%= form.text_area(:change_note, rows: 4, placeholder: 'Input text to display publicly in email alerts and page history', label_text:"<strong>Public change note</strong>".html_safe) %>
</fieldset>