<h3 class="govuk-heading-m">Content block</h3>

<p class="govuk-body">
  To use, create or edit a content block, go to
  <%= link_to "Content Block Manager (opens in new tab)", Plek.find("content-block-manager"), class: "govuk-link", target: "_blank", rel: "noopener" %>.
</p>
