<h3 class="govuk-heading-m">Content block</h3>

<p class="govuk-body">
  To create, edit and use standardised content, go to the
  <%= link_to "Content Block Manager (opens in new tab)", content_block_manager.content_block_manager_root_path, class: "govuk-link", target: "_blank", rel: "noopener" %>.
</p>
