<section id="editorial_remarks">
  <h1>Editorial remarks (<%= link_to "Add new remark", new_admin_edition_editorial_remark_path(edition) %>)</h1>
  <% if edition.editorial_remarks.any? %>
    <ul>
      <% edition.editorial_remarks.each do |editorial_remark| %>
        <li class="editorial_remark">
          <span class="author"><%= editorial_remark.author.name %></span>
          wrote <%= relative_time(editorial_remark.created_at, class: 'created_at') %>:
          <div class="body"><%= editorial_remark.body %></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>None</p>
  <% end %>
</section>
