<fieldset>
  <legend>Held on another website</legend>
  <%= form.check_box :external, label_text: "This #{edition.class.name.humanize.downcase} is held on another website" %>
  <div class="js-external-url">
    <%= form.text_field :external_url, label_text: "External link URL" %>
  </div>
</fieldset>
