<fieldset>
  <% if edition.imported? %>
    <%= form.label :first_published_at, "First published <span>*</span>".html_safe, class: 'required' %>
  <% else %>
    <%= form.label :first_published_at, "First published" %>
  <% end %>
  <%= form.datetime_select :first_published_at, { include_blank: true, start_year: 1945, end_year: Date.today.year + 1 }, { class: 'date' } %>
  <% if edition.first_published_at.blank? && !edition.imported? %>
    <p class="note">Note: only set this if backdating migrated content that has previously been published elsewhere.</p>
  <% end %>
</fieldset>
