<h1>Govspeak help</h1>
<div>
  <h2>Style</h2>
  <p>For style, see the <a href="https://www.gov.uk/designprinciples/styleguide">style guide</a></p>
  <h2>Headings</h2>
<pre>## Top level heading - H2
### Second level heading - H3
#### Third level heading - H4

Don't use a single # - this is H1 and is for the title only

</pre>

  <h2>Links</h2>
  <p>All documents created in the publisher - policies, publications, news, speeches, detailed guides etc - should be linked to using relative (ie partial) URLs from within the publisher:</p>
  <pre>[link text](/government/admin/policies/3373)</pre>

  <p>All content created under an organisation tab - series pages, topics, organisations, people, roles etc - should be linked to using the full, public URLs:</p>
  <pre>[link text](https://www.gov.uk/government/topics/climate-change)</pre>

  <p>For external websites, use the full URL including http://:</p>
  <pre>[link text](http://www.example.com)</pre>
  <p>The link will display with an external link symbol.</p>

  <h2>Bullets</h2>
  <pre>* item 1
* item 2
  * sub-item
  * another sub-item
(to indent, add 2 spaces)</pre>
  <h2>Numbered list</h2>
  <pre>1. item 1
2. item 2
3. item 3
  * sub-item
  * another sub-item
(to indent, add 2 spaces)</pre>
</div>

  <h2>Images</h2>
  <p>First upload your image(s), then:</p>
  <pre>!!<em>n</em></pre>
  <p>eg for the first image:</p>
  <pre>!!1</pre>

  <h2>Video links</h2>
  <p>Use the title of the video and the URL of the YouTube page that shows the video for watching. Don’t use the embed code or the 'Share this video' URL:</p>
  <pre>[title of video](youtube-video-url)</pre>
  <p>Only YouTube videos will work at present:</p>
  <pre>[The Queen's Diamond Jubilee Concert](http://www.youtube.com/watch?v=OXHPWmnycno)</pre>
  <p>The title text does not show. The video will display in an embedded media player automatically.</p>

  <h2>Attachments</h2>
  <p><em>Not used on publications or consultations (attachments are placed automatically).</em></p>
  <p>First upload your attachment(s), then, to create an attachment callout box:</p>
  <pre>!@<em>n</em></pre>
  <p>Or, if you want to use a link to an attachment in a sentence or list:</p>
  <pre>[InlineAttachment:<em>n</em>]</pre>
  <p>eg for the first file:</p>
  <pre>!@1</pre>
  <p>or:</p>
  <pre>[InlineAttachment:1]</pre>


   <h2>Tables</h2>
 <pre>| name | colour |
|--------|-------|
| apple | green |
| banana | yellow |</pre>

  <h2>Call to action</h2>
<pre>$CTA
[Use the trade tariff tool to find commodity codes.](https://www.gov.uk/trade-tariff)
$CTA</pre>

<div>
  <h2>Acronyms</h2>
  <pre>*[DWP]: Department for Work &amp; Pensions</pre>

  <h2>Blockquotes</h2>
  <pre>As the Prime Minister said:

> Rule, Britannia, rule the waves.
>
> Britons never shall be slaves.</pre>
<p>The > in the line space is important. If you leave it out you will get 2 separate quotes, not 1 running quote.</p>
</div>

  <h2>Addresses</h2>
<pre>$A
Address
Only
Here
$A</pre>

  <p>You can also embed contact information:</p>
  <pre>[Contact:<em>n</em>]</pre>
  <p>(n is the ID of the contact you want to embed.)</p>
  <p>You can find the ID on the list of contacts for an <%= link_to 'organisation', admin_organisations_path %> or <%= link_to 'worldwide organisation', admin_worldwide_organisations_path %> or you can type '[Contact: ' and then type a keyword to find your contact (if it exists).</p>
  <p>If it doesn't exist you will have to add it (see your ‘Publishing explained’ guidance). </p>