<% if show_attachments_tab_help %>
  <p>Upload your attachment(s) on the ‘Attachments’ tab (you must save a draft edition to make the tab visible).</p>
<% else %>
  <p>Upload your attachment(s) using the attachment fields in the form.</p>
<% end %>
<p>Add an attachment as a callout box:</p>
<pre>!@<em>n</em></pre>
<p>Or, if you want to use a link to an attachment in a sentence or list:</p>
<pre>[InlineAttachment:<em>n</em>]</pre>
<p>eg for the first file:</p>
<pre>!@1</pre>
<p>or:</p>
<pre>[InlineAttachment:1]</pre>
</div>
