<% if show_attachments_tab_help %>
  <p class="govuk-body">Upload your attachment(s) on the ‘Attachments’ tab (you must save a draft edition to make the tab visible).</p>
<% else %>
  <p class="govuk-body">Upload your attachment(s) using the attachment fields in the form.</p>
<% end %>

<p class="govuk-body">Embed an attachment:</p>
<pre class="govspeak-help__pre">[Attachment: <em>filename.pdf</em>]</pre>
<p class="govuk-body">Link to an attachment:</p>
<pre class="govspeak-help__pre">[AttachmentLink: <em>filename.pdf</em>]</pre>
