<% if show_attachments_tab_help %>
  <p class="govuk-body">Upload your attachment(s) on the ‘Attachments’ tab (you must save a draft edition to make the tab visible).</p>
<% else %>
  <p class="govuk-body">Upload your attachment(s) using the attachment fields in the form.</p>
<% end %>

<p class="govuk-body">Add an attachment as a callout box:</p>
<pre>!@<em>n</em></pre>
<p class="govuk-body">Or, if you want to use a link to an attachment in a sentence or list:</p>
<pre>[InlineAttachment:<em>n</em>]</pre>
<p class="govuk-body">eg for the first file:</p>
<pre>!@1</pre>
<p class="govuk-body">or:</p>
<pre>[InlineAttachment:1]</pre>
