<fieldset id="html_version_fields">
  <legend>HTML version</legend>

  <p>
    HTML versions have been converted to attachments.
  </p>
  <p>
    <% if @edition.persisted? %>
      You can create and edit HTML attachments in the
      <%= link_to 'same tab as the other attachments', admin_edition_attachments_path(@edition) %>.
    <% else %>
      If you'd like to add an HTML attachment to this document, please save
      it first. You'll then find a new tab at the top of the page that you
      can use to upload, edit and delete attachments.
    <% end %>
  </p>

</fieldset>
