<fieldset id="html_version_fields">
  <legend>HTML version</legend>

  <p>
    HTML versions have been converted to attachments.
    You can find them in the
    <%= link_to 'same tab as the other attachments', admin_edition_attachments_path(@edition) %>.
  </p>

</fieldset>
