<fieldset id="html_version_fields">
  <legend>HTML version</legend>

  <span class='help-block'>These fields are optional: if you don't require an HTML version, please leave them blank.</span>

  <%= form.fields_for :html_version do |html_version_fields| %>
    <%= html_version_fields.text_field :title, label_text: "HTML version title", required: false %>
    <%= html_version_fields.text_area :body, label_text: "HTML version text", class: "previewable", required: false %>
  <% end %>
</fieldset>
