<div id="image_fields" class="images multiple_file_uploads <%= ' right-to-left' if edition.rtl? %>">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Images",
    heading_size: "l"
  } do %>
    <%= render "image_template", form: form, edition: edition %>
  <% end %>
</div>
