<% if edition.respond_to?(:published_related_editions) %>
  <section>
    <h1>Links to this page</h1>

    <% if edition.published_related_editions.any? %>
      <ul id="inbound-links">
        <% edition.published_related_editions.includes(:translations).each do |related_edition| %>
          <li>
            <%= link_to related_edition.title, admin_edition_path(related_edition) %>
            (<%= related_edition.type.underscore.humanize %>)
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No published documents link here.</p>
    <% end %>

  </section>
<% end %>
