%h1 Policy publishing tool
%nav.sub
  =navigation_link 'drafts', admin_editions_path
  =navigation_link 'submitted', submitted_admin_editions_path
  =navigation_link 'published', published_admin_editions_path