<h1>Publishing Tool</h1>
<nav class="sub">
  <%=navigation_link 'drafts', admin_editions_path %>
  <%=navigation_link 'submitted', submitted_admin_editions_path %>
  <%=navigation_link 'published', published_admin_editions_path %>
</nav>