<%
  alternative_format_required = false unless defined?(:alternative_format_required)
%>
<fieldset id="edition_attachment_fields" class="attachments">
  <legend>Attachments</legend>
  <% if edition.new_record? %>
    <p>
      If you'd like to add an attachment to this document, please save
      it first. You'll then find a new tab at the top of the page that you
      can use to upload, edit and delete attachments.
    </p>
  <% elsif edition.allows_inline_attachments? %>
    <% if edition.attachments.any? %>
      <p>
        You can insert an attachment into your document by entering the
        following snippets of Markdown:
      </p>

      <ol>
        <% edition.attachments.each_with_index do |attachment, i| %>
          <li>
            <strong><%= attachment.title %></strong> - <%= inline_attachment_code_tags(i+1) %>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p>No attachments</p>
    <% end %>
  <% end %>

  <%= form.alternative_format_provider_select(alternative_format_required, current_user.organisation) %>
</fieldset>
