<%
  alternative_format_required = false unless defined?(:alternative_format_required)
%>
<fieldset id="edition_attachment_fields" class="attachments">
  <legend>Attachments</legend>
  <% if edition.new_record? %>
    <p>
      If you'd like to add an attachment to this document, please save
      it first. You'll then find a new tab at the top of the page that you
      can use to upload, edit and delete attachments.
    </p>
  <% elsif edition.allows_inline_attachments? %>
    <%= render 'admin/attachments/markdown_codes', attachable: edition %>
  <% end %>

  <%= form.alternative_format_provider_select(alternative_format_required, current_user.organisation) %>
</fieldset>
