<fieldset id="edition_attachment_fields" class="attachments">
  <legend>Attachments</legend>
  <% if edition.new_record? %>
    <p>
      If you’d like to add an attachment to this document, please save
      it first. You’ll then find a tab at the top of the page that you
      can use to upload, edit and delete attachments.
    </p>
  <% elsif edition.allows_inline_attachments? %>
    <%= render 'admin/attachments/markdown_codes', attachable: edition %>
  <% end %>

  <% if edition.respond_to?(:alternative_format_provider) %>
    <div class="control-group">
      <%= form.label(:alternative_format_provider_id,
                     "Email address for ordering attachment files in an alternative format",
                     required: edition.alternative_format_provider_required?) %>
      <div class="controls">
        <%= form.select(:alternative_format_provider_id,
                        options_for_select(
                          taggable_alternative_format_providers_container,
                          selected: (edition.alternative_format_provider_id || current_user.organisation.try(:id)),
                          disabled: taggable_alternative_format_providers_container.select { |o| o[0].end_with?('(-)') }.map(&:last)
                        ),
                        { include_blank: true, multiple: false },
                        class: 'chzn-select form-control',
                        data: { placeholder: "Choose which organisation will provide alternative formats…" }) %>
        <p class="help-block">
          If the email address you need isn’t here, it should be added to the relevant Department or Agency
        </p>
      </div>
    </div>
  <% end %>
</fieldset>
