<div class="govuk-!-margin-bottom-8 app-view-edit-edition__locale-field js-locale-switcher-selector <%= "app-view-edit-edition__locale-field--hidden" unless edition.locale_can_be_changed? && (edition.is_a?(Consultation) || edition.is_a?(DocumentCollection) || edition.is_a?(NewsArticle) && edition.world_news_story?) %>">
  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "edition[create_foreign_language_only]",
    id: "edition_create_foreign_language_only",
    heading: "Foreign language only #{edition.model_name.human.downcase}",
    heading_size: "l",
    no_hint_text: true,
    error_items: errors_for_input(edition.errors, :create_foreign_language_only),
    include_blank: true,
    items: [
      {
        label: "Create a foreign language only #{edition.model_name.human.downcase}",
        value: "1",
        checked: form.object.primary_locale != "en",
        conditional: (render "components/select-with-search", {
          id: "edition_primary_locale",
          name: "edition[primary_locale]",
          label: "Document language",
          heading_size: "m",
          include_blank: true,
          errors: errors_for(edition.errors, :primary_locale),
          options: options_for_locales(Locale.non_english).map do |language, value|
            {
              text: language,
              value: value,
              selected: edition.primary_locale == value
            }
          end
        })
      }
    ]
  } %>

  <% if edition.is_a?(NewsArticle) %>
    <p class="govuk-body govuk-!-font-weight-bold">Warning: News stories without an English version cannot have other translations.</p>
  <% end %>
</div>
