<%
  alternative_format_required ||= false
%>

<% if edition.can_be_related_to_organisations? %>
  <fieldset class="named">
    <div class="row-fluid">
      <fieldset class="named span4 lead-organisations">
        <legend>Lead organisations</legend>

        <%= form.lead_organisations_fields %>
      </fieldset>

      <fieldset class="named span4 supporting-organisations">
        <legend>Supporting organisations</legend>

        <%= form.supporting_organisations_fields %>
      </fieldset>
    </div>
  </fieldset>
  <%= form.alternative_format_provider_select(alternative_format_required) %>
<% end %>
