<% if edition.document&.live_edition.present? %>
  <div class="app-view-edit-edition__page-address govuk-!-margin-bottom-4">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Live page address",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 2,
    } %>

    <%= render "govuk_publishing_components/components/hint", {
      text: edition.document&.live_edition.public_url,
    } %>
  </div>

  <div class="<%= (edition.document.live_edition.slug == edition.slug_from_title) && "js-keep-slug-form-group" %> govuk-!-margin-bottom-6">
    <%= render "govuk_publishing_components/components/radio", {
      heading: "Page URL",
      hint: "The title of this document has changed since the page URL was generated. Choose whether to keep the existing URL, or update it to match the new title when you publish this edition.",
      name: "edition[slug_override]",
      items: [
        {
          value: edition.document.live_edition.slug,
          text: "Keep the current page URL (#{edition.document.live_edition.public_url})",
          checked: edition.slug_override.present?,
        },
        {
          value: "",
          text: "Update the page URL to match the new title",
          checked: edition.slug_override.blank?,
        },
      ],
    } %>
  </div>
<% end %>
