<% if edition.document&.live_edition.present? %>
  <div class="app-view-edit-edition__page-address govuk-!-margin-bottom-4">
    <%= render "govuk_publishing_components/components/heading", {
      text: "URL",
      heading_level: 3,
      font_size: "m",
      margin_bottom: 2,
    } %>

    <p class="govuk-body">
      Current GOV.UK URL:<br>
      <%= link_to edition.document.live_edition.public_url, edition.document.live_edition.public_url, class: "govuk-link" %>
    </p>
  </div>

  <div class="<%= (edition.document.live_edition.slug == edition.slug_from_title) && "js-keep-slug-form-group" %> govuk-!-margin-bottom-6">
    <p class="govuk-body">
      The title has changed since this URL was created. Choose whether to keep the current URL or update it to match the title.
    </p>

    <%= render "govuk_publishing_components/components/radio", {
      name: "edition[slug_override]",
      items: [
        {
          value: edition.document.live_edition.slug,
          text: "Keep current URL",
          checked: edition.slug_override.present?,
        },
        {
          value: "",
          text: "Update URL to match title",
          checked: edition.slug_override.blank?,
        },
      ],
    } %>
  </div>
<% end %>
