<% if recent_openings.present? %>
  <div class="alert editing_conflict">
    <ul>
      <% recent_openings.each do |opening| %>
        <li>
          <div class="image">
            <%= gravatar_image(opening.editor, ssl: request.ssl?) %>
          </div>
          <%= linked_author(opening.editor) %> started editing this
          <%= edition.format_name %>
          <%= time_ago_in_words opening.created_at %> ago and hasn’t yet saved their work.
        </li>
      <% end %>
    </ul>
    <p>
      You might want to check if they are still working on it.
    </p>
  </div>
<% end %>
