<% if edition.rejected? %>
  <p class="alert alert-danger">
    Rejected by:
    <%= linked_author(edition.rejected_by, class: "rejected_by") %>
    (See <em>History &amp; Notes</em>)
  </p>
<% end %>
