<div class="govuk-button-group">
  <%= render "govuk_publishing_components/components/button", {
    text: "Save",
    value: "save",
    name: "save",
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save and go to document summary",
    secondary_solid: true,
  } %>

  <% cancel_link_path = if edition.is_a?(CorporateInformationPage)
                          edition.new_record? ? polymorphic_path([:admin, edition.organisation, CorporateInformationPage]) : admin_edition_path(edition)
                        else
                          edition.new_record? ? admin_editions_path : admin_edition_path(edition)
                        end %>
  <%= link_to "Cancel", cancel_link_path, class: "govuk-link govuk-link--no-visited-state" %>
</div>
