<div class="govuk-button-group">
  <%= render "govuk_publishing_components/components/button", {
    text: "Save",
    value: "save",
    name: "save",
    data_attributes: {
      module: "gem-track-click",
      "track-category": "form-button",
      "track-action": "#{edition.class.name.demodulize.underscore.dasherize}-button",
      "track-label": "Save"
    }
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save and continue",
    secondary_solid: true,
    data_attributes: {
      module: "gem-track-click",
      "track-category": "form-button",
      "track-action": "#{edition.class.name.demodulize.underscore.dasherize}-button",
      "track-label": "Save and continue"
    }
  } %>

  <%= link_to "Cancel", admin_cancel_path(edition), class: "govuk-link govuk-link--no-visited-state" %>
</div>
