<table class="table">
<thead>
  <tr>
    <th>Title</th>
    <th>Filename</th>
    <th></th>
  </tr>
</thead>
<% @edition.attachments.each do |attachment| %>
  <tr>
    <td>
      <%= attachment.title %>
    </td>
    <td class="attachment-filename"><%= link_to_attachment(attachment, preview: !@edition.published?, truncate: @edition.imported?) %></td>
    <td class="virus-status"><%= attachment_virus_status(attachment) %></td>
    <!--<td><%= attachment_metadata_tag(attachment) %></td>-->
  </tr>
<% end %>
</table>
