<h1 class="title"><%= document.title %></h1>
<% unless document.summary.blank? %>
  <div class="summary">
    <%= document.summary %>
  </div>
<% end %>
<div class="body">
  <%= render partial: 'shared/lead_image', locals: {image: document.lead_image} %>
  <%= govspeak_to_admin_html document.body, document.images %>
</div>
