<% if edition.non_english_edition? %>
  <p><em>(This document is <%=edition.primary_language_name %>-only)</em></p>
<% end %>

<h1 class="title"><%= edition.title %></h1>
<% unless edition.summary.blank? %>
  <div class="summary">
    <%= edition.summary %>
  </div>
<% end %>

<div class="body">
  <%= govspeak_edition_to_admin_html edition %>
</div>