<h3 class="govuk-heading-m">Style</h3>

<p class="govuk-body">For details, see the <%= link_to "guideline on using plain English", "https://www.gov.uk/guidance/content-design/writing-for-gov-uk#plain-english"%>
<p class="govuk-body">For styles, see the <%= link_to "style guide", "https://www.gov.uk/guidance/style-guide", class: "govuk-link" %>

<%= render "govuk_publishing_components/components/details", {
  title: "List of words to avoid"
} do %>
  <ul class='gem-c-list govuk-list govuk-list--bullet'>
    <li>agenda (unless it’s for a meeting)</li>
    <li>advancing</li>
    <li>collaborate (use ‘working with’)</li>
    <li>combating</li>
    <li>commit/pledge (we need to be more specific – we’re either doing something or we’re not)</li>
    <li>countering</li>
    <li>deliver (pizzas, post and services are delivered – not abstract concepts like ‘improvements’ or ‘priorities’)</li>
    <li>deploy (unless it’s military or software)</li>
    <li>dialogue (we speak to people)</li>
    <li>disincentivise (and incentivise)</li>
    <li>empower</li>
    <li>facilitate (instead, say something specific about how you are helping)</li>
    <li>focusing</li>
    <li>foster (unless it’s children)</li>
    <li>impact (as a verb)</li>
    <li>initiate</li>
    <li>key (unless it unlocks something. A subject/thing isn’t ‘key’ – it’s probably ‘important’)</li>
    <li>land (as a verb. Only use if you are talking about aircraft)</li>
    <li>leverage (unless in the financial sense)</li>
    <li>liaise</li>
    <li>overarching</li>
    <li>progress (as a verb – what are you actually doing?)</li>
    <li>promote (unless you are talking about an ad campaign or some other marketing promotion)</li>
    <li>robust</li>
    <li>slimming down (processes don’t diet – we are probably removing x amount of paperwork, etc)</li>
    <li>streamline</li>
    <li>strengthening (unless it’s strengthening bridges or other structures)</li>
    <li>tackling (unless it’s rugby, football or some other sport)</li>
    <li>transforming (what are you actually doing to change it?)</li>
    <li>utilise</li>
  </ul>

  <p>Always avoid metaphors. For example:</p>

  <ul class='gem-c-list govuk-list govuk-list--bullet'>
    <li>drive (you can only drive vehicles; not schemes or people)</li>
    <li>drive out (unless it’s cattle)</li>
    <li>going forward (unlikely we are giving travel directions)</li>
    <li>in order to (superfluous – don’t use it)</li>
    <li>one-stop shop (we are government, not a retail outlet)</li>
    <li>ring fencing</li>
  </ul>
<% end %>

<% if ENABLE_WORDS_TO_AVOID_HIGHLIGHTING %>
  <% initialise_script "GOVUK.WordsToAvoidGuide",
      el: ["form textarea[name='edition[summary]']", "form textarea[name='edition[body]']"],
      wordsToAvoidList: "#js-words-to-avoid-list",
      wordsToAvoidAlert: "#js-words-to-avoid-alert",
      wordsToAvoidCounter: "#js-words-to-avoid-count" %>
<% end %>
