<div class="app-view-edition-form__subtype-format-advice js-app-view-edition-form__subtype-format-advice govuk-body govuk-!-margin-top-4">
  <strong>Use this subformat for…</strong> <%= guidance %>
</div>
