<% if edition.can_be_associated_with_topical_events? %>
  <h2 class="govuk-heading-m">Topical events</h2>
  <%= render "govuk_publishing_components/components/select_with_search", {
    id: "edition_topical_event_document_ids",
    name: "edition[topical_event_document_ids][]",
    include_blank: true,
    label: "Topical events",
    hint: "Topical events created via the documents menu will appear here",
    heading_size: "m",
    options: StandardEdition.where(configurable_document_type: "topical_event").order(:title).map do |topical_event|
      {
        text: topical_event.title,
        value: topical_event.document_id,
        selected: edition.topical_event_document_ids.include?(topical_event.document_id),
      }
    end,
    multiple: true,
  } %>
<% end %>
