<h3 class="use-plain-english-title">Use plain English</h3>

<p>For details, see the <a href="https://www.gov.uk/design-principles/style-guide#writing-plain-english">guideline on using plain English</a></p>

<p id="js-words-to-avoid-alert" class="alert alert-warning words-to-avoid hide"></p>

<h3><a data-toggle="collapse" data-target="#js-words-to-avoid-list">Words to avoid</a></h3>
<div class="collapse" id="js-words-to-avoid-list">
  <ul>
    <li><span class="js-word-to-avoid">agenda</span> (unless it's for a meeting)</li>
    <li><span class="js-word-to-avoid">advancing</span></li>
    <li><span class="js-word-to-avoid">collaborate</span> (use 'working with')</li>
    <li><span class="js-word-to-avoid">combating</span></li>
    <li><span class="js-word-to-avoid">commit</span>/<span class="js-word-to-avoid">pledge</span> (we need to be more specific – we're either doing something or we're not)</li>
    <li><span class="js-word-to-avoid">countering</span></li>
    <li><span class="js-word-to-avoid">deliver</span> (pizzas, post and services are delivered – not abstract concepts like 'improvements' or 'priorities')</li>
    <li><span class="js-word-to-avoid">deploy</span> (unless it's military or software)</li>
    <li><span class="js-word-to-avoid">dialogue</span> (we speak to people)</li>
    <li><span class="js-word-to-avoid">disincentivise</span> (and <span class="js-word-to-avoid">incentivise</span>)</li>
    <li><span class="js-word-to-avoid">empower</span></li>
    <li><span class="js-word-to-avoid">facilitate</span> (instead, say something specific about how you are helping)</li>
    <li><span class="js-word-to-avoid">focusing</span></li>
    <li><span class="js-word-to-avoid">foster</span> (unless it's children)</li>
    <li><span class="js-word-to-avoid">impact</span> (as a verb)</li>
    <li><span class="js-word-to-avoid">initiate</span></li>
    <li><span class="js-word-to-avoid">key</span> (unless it unlocks something. A subject/thing isn't 'key' – it's probably 'important')</li>
    <li><span class="js-word-to-avoid">land</span> (as a verb. Only use if you are talking about aircraft)</li>
    <li><span class="js-word-to-avoid">leverage</span> (unless in the financial sense)</li>
    <li><span class="js-word-to-avoid">liaise</span></li>
    <li><span class="js-word-to-avoid">overarching</span></li>
    <li><span class="js-word-to-avoid">progress</span> (as a verb – what are you actually doing?)</li>
    <li><span class="js-word-to-avoid">promote</span> (unless you are talking about an ad campaign or some other marketing promotion)</li>
    <li><span class="js-word-to-avoid">robust</span></li>
    <li><span class="js-word-to-avoid">slimming</span> down (processes don't diet – we are probably removing x amount of paperwork, etc)</li>
    <li><span class="js-word-to-avoid">streamline</span></li>
    <li><span class="js-word-to-avoid">strengthening</span> (unless it's strengthening bridges or other structures)</li>
    <li><span class="js-word-to-avoid">tackling</span> (unless it's rugby, football or some other sport)</li>
    <li><span class="js-word-to-avoid">transforming</span> (what are you actually doing to change it?)</li>
    <li><span class="js-word-to-avoid">utilise</span></li>
  </ul>

  Always avoid metaphors. For example:

  <ul>
    <li><span class="js-word-to-avoid">drive</span> (you can only drive vehicles; not schemes or people)</li>
    <li><span class="js-word-to-avoid">drive out</span> (unless it's cattle)</li>
    <li><span class="js-word-to-avoid">going forward</span> (unlikely we are giving travel directions)</li>
    <li><span class="js-word-to-avoid">in order to</span> (superfluous – don't use it)</li>
    <li><span class="js-word-to-avoid">one-stop shop</span> (we are government, not a retail outlet)</li>
    <li><span class="js-word-to-avoid">ring fencing</span></li>
  </ul>
</div>

<% if ENABLE_WORDS_TO_AVOID_HIGHLIGHTING %>
  <% initialise_script "GOVUK.WordsToAvoidGuide",
      el: "form textarea",
      wordsToAvoidList: "#js-words-to-avoid-list",
      wordsToAvoidAlert: "#js-words-to-avoid-alert",
      wordsToAvoidCounter: "#js-words-to-avoid-count" %>
<% end %>
