<% content_for :context, @edition.title %>
<% content_for :page_title, "Delete draft" %>
<% content_for :title, "Delete draft" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_tag admin_edition_path(@edition), method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-7">Are you sure you want to delete this draft?</p>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
          margin_bottom: 8,
        } %>

        <%= link_to("Cancel", [:admin, @edition], class: "govuk-link") %>
      </div>
    <% end %>
  </section>
</div>
