<% page_title @edition.title, @edition.format_name %>
<div class="span12">
  <p class="alert">
    This shows changes to the title, summary and body (it doesn't show changes to attachments or associations). When there are no changes nothing is displayed.
    <br/>
    <br/>
    <%= link_to "Back to '#{@edition.title}'", admin_edition_path(@edition) %>.
  </p>
  <section>
    <%= render_edition_diff(@edition, @audit_trail_entry) %>
  </section>
</div>