<% page_title "Access denied" %>

<div class="span8">
  <h1>Sorry, you don't have access to this document</h1>
</div>

<div class="span4">

  <span class="back">
    back to <%= link_to 'document list', admin_editions_path %>
  </span>

</div>
