<% page_title "History" %>

<div class="row">
  <section class="col-md-8">
    <span class="back">
      <%= link_to 'Back', admin_edition_path(@edition) %>
    </span>

    <div class="audit-trail-page">
      <h1>History</h1>

      <%= paginate @timeline, theme: 'audit_trail' %>
      <%= render_timeline @timeline %>
      <%= paginate @timeline, theme: 'audit_trail' %>
    </div>
  </section>
</div>
