<% content_for :page_title, @filter.page_title %>
<% content_for :title, @filter.page_title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'filter_options', filter_action: admin_editions_path %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-view-edition-index__table">
      <%= render 'search_results', filter: @filter, paginator: @filter.editions, show_export: true %>
    </div>
  </div>
</div>
