<% page_title "New " + @edition.type.titleize %>
<div class="span8">
  <section>
    <h1>Create <%= @edition.type.titleize %></h1>
    <%= render partial: "form", locals: {edition: @edition} %>
  </section>
</div>

<div class="span4">
  <%= sidebar_tabs govspeak_help: "Formatting Help" do %>
    <section class="tab-pane active" id="govspeak_help">
      <%= render partial: "admin/editions/govspeak_help" %>
    </section>
  <% end %>
</div>