<% content_for :page_title, "New #{@edition.type.titleize}" %>
<% content_for :back_link, (render "govuk_publishing_components/components/back_link", {
    href: admin_editions_path
  })
%>
<% content_for :error_summary, render('shared/error_summary', object: @edition.becomes(Edition), class_name: @edition.format_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: "New #{@edition.format_name}"
    } %>

    <% if [Publication, CaseStudy, DocumentCollection, NewsArticle, Speech, StatisticalDataSet].include?(@edition.class) %>
      <%= render "form", edition: @edition %>
    <% else %>
      <%= render "legacy_form", edition: @edition %>
    <% end %>
  </div>
</div>
