<% content_for :page_title, "New #{@edition.type.titleize}" %>
<% content_for :title, "New #{@edition.format_name}" %>
<% content_for :error_summary, render('shared/error_summary', object: @edition, parent_class: "edition", class_name: @edition.format_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/secondary_navigation", {
      aria_label: "Document navigation tabs",
      items: secondary_navigation_tabs_items(@edition, request.path)
    } %>

    <%= render "form", edition: @edition %>
  </div>
</div>
