<% page_title "New " + @edition.type.titleize %>
<div class="g2 first">
  <section>
    <h1>Create <%= @edition.type.titleize %></h1>
    <%= render partial: "form", locals: {edition: @edition} %>
    <%= render partial: "govspeak_help" %>
  </section>
</div>
