<% page_title "New " + @edition.type.titleize %>

<div class="row">
  <section class="col-md-8">
    <h1>Create <%= @edition.type.underscore.humanize.downcase %></h1>
  </section>
  <div class="col-md-4">
    <%= legacy_simple_formatting_sidebar hide_inline_attachments_help: !@edition.allows_inline_attachments?,
                                  show_attachments_tab_help: true %>
  </div>
</div>
