<% content_for :title, @edition.title %>
<% content_for :context, edition_type(@edition) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'admin/editions/show/main' %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: 'admin/editions/show/sidebar' %>
  </div>
</div>
