<% content_for :page_title, "#{@edition.title} - #{@edition.format_name}" %>
<% content_for :title, @edition.title %>
<% if @edition.document.review_reminder&.review_due? %>
  <% content_for :banner do %>
  <%= render "govuk_publishing_components/components/notice", {
    title: "Review reminder",
    show_banner_title: true,
    description: sanitize(tag.p("A review date was set for #{@edition.document.review_reminder.review_at.strftime('%-d %B %Y')}. You should review your content and either:") +
      render("govuk_publishing_components/components/list", {
        visible_counters: true,
        items: [
          "update the content if it needs changing",
          "set a new review date if the content is up to date",
        ],
      })),
  } %>
  <% end %>
<% end %>

<%
  if @edition.is_child_document?
    parent = @edition.parent_edition
    inset_text = "This is a child document of <a href='/government/admin/editions/#{parent.id}'>#{parent.title}</a>."
    if !@edition.can_be_published?
      if @edition.parent_edition.document.live_edition&.state == "published" && @edition.document.live_edition.nil?
        inset_text += " As this is a new document, you will need to publish the parent again first before you can publish the child."
      else
        inset_text += " The parent document is in a non-published state, so you will need to change the parent document's state to 'published' before you can publish this child document."
      end
    end
%>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: inset_text.html_safe,
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "admin/editions/show/main" %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: "admin/editions/show/sidebar" %>
  </div>
</div>
