<% page_title "Edit take part page" %>

<h2>Edit take part page "<%= @take_part_page.title %>"
  <%= button_to "Delete",
        [:admin, @take_part_page],
        method: "delete",
        class: "btn btn-danger",
        data: { confirm: "Are you sure you want to delete this take part page?" } %>
</h2>

<%= render 'legacy_form', take_part_page: @take_part_page %>
