<% content_for :page_title, "Get involved" %>
<% content_for :title, "Get involved" %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= link_to "View on website", get_involved_url, class: "govuk-link", target: "_blank" %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/secondary_navigation", {
      aria_label: "Get involved tabs",
      items: [
        {
          label: "Get involved",
          href: admin_get_involved_path
        },
        {
          label: "Take part pages",
          href: admin_take_part_pages_path,
          current: true
        }
      ]
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/list", {
      items: [
        (link_to 'Add new take part page', new_admin_take_part_page_path, class: "govuk-link govuk-link--no-visited-state"),
        (link_to 'Update order', update_order_admin_take_part_pages_path, class: "govuk-link govuk-link--no-visited-state")
      ]
    } %>

    <% if @take_part_pages.any? %>
      <div class="app-view-take-part__page-list">
        <%= render "govuk_publishing_components/components/table", {
          rows: @take_part_pages.map do |take_part_page|
            [
              {
                text: take_part_page.title
              },
              {
                text: (
                  link_to("Edit", [:edit, :admin, take_part_page], class: "govuk-link") +
                  link_to("Delete", [:confirm_destroy, :admin, take_part_page], class: "govuk-link gem-link--destructive govuk-!-margin-left-2")
                )
              }
            ]
          end
        } %>
      </div>
    <% else %>
      <p class="govuk-body">No take part pages</p>
    <% end %>
  </div>
</div>
