<% if lost_property_items.any? || new_property_items.any? %>
  <%= render "govuk_publishing_components/components/summary_list", {
    title: "Document fields",
    items: lost_property_items + new_property_items,
  } %>
<% else %>
  <h3 class="govuk-heading-m">Document fields</h3>
  <p class="govuk-body">
    All content in the document fields will be carried over. You will not have to add your content again.
  </p>
<% end %>
