<div class="govuk-!-margin-bottom-4">
  <% if document_has_never_been_published? %>
    <%= hidden_field_tag "edition[previously_published]", false %>

    <%= render "govuk_publishing_components/components/checkboxes", {
      name: "edition[previously_published]",
      id: "edition_previously_published",
      heading: "First published date",
      heading_size: "l",
      hint_text: "If this document has been published on another webpage, you must provide the date it was first published online." +
        " This only applies to online content. Do not use this for file attachments.",
      items: [
        {
          label: "This document has previously been published on another website",
          value: true,
          checked: previously_published,
          conditional: capture do
            first_published_at_fields
          end,
        },
      ],
    } %>
  <% else %>
    <%= render "govuk_publishing_components/components/fieldset", {
      legend_text: "First published",
      heading_size: "l",
      hint: "For example, 31 3 2000",
      id: "edition_first_published_at",
      error_message: errors_for_input(edition.errors, :first_published_at),
    } do %>
      <% capture do %>
        <%= first_published_at_fields %>
      <% end %>
    <% end %>
  <% end %>
</div>
