<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/input", {
    name: "edition[political]",
    type: "hidden",
    value: "0",
  } %>

  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "edition[political]",
    id: "edition_political",
    heading: "Political",
    heading_size: "l",
    no_hint_text: true,
    items: [
      {
        label: "Associate with government of the time (currently set to #{@edition.government&.name}).",
        value: "1",
        checked: @edition.political,
        conditional: renders_government_selector? ? (render "govuk_publishing_components/components/select", {
          name: "edition[government_id]",
          label: "Change the associated government:",
          id: "edition_government_id",
          options:,
        }) : "",
      },
    ],
  } %>

  <p class="govuk-body"><%= link_to "Read the history mode guidance", "https://guidance.publishing.service.gov.uk/writing-to-gov-uk-standards/plan-manage-content/retire-content/#when-history-mode-gets-applied", class: "govuk-link" %>
    for more information as to what this means.</p>
</div>
