<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/input", {
    name: "edition[political]",
    type: "hidden",
    value: "0",
  } %>

  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "edition[political]",
    id: "edition_political",
    heading: "Political",
    heading_size: "l",
    no_hint_text: true,
    items: [
      {
        label: "Associate with government of the time (currently set to #{@edition.government&.name}).",
        value: "1",
        checked: @edition.political,
        conditional: renders_government_selector? ? (render "govuk_publishing_components/components/select", {
          name: "edition[government_id]",
          label: "Or, associate this document with a different government",
          id: "edition_government_id",
          options:,
        }) : "",
      },
    ],
  } %>

  <p class="govuk-body"><%= link_to "Read the history mode guidance", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#history-mode", class: "govuk-link" %>
    for more information as to what this means.</p>
</div>
