<div class="app-view-editions-host-content-update-event-entry__list-item">
  <h4 class="govuk-heading-s app-view-editions-host-content-update-event-entry__heading">Content Block Update</h4>

  <p class="govuk-body app-view-editions-host-content-update-event-entry__detail">
    <%= activity %>
  </p>

  <p class="govuk-body-s app-view-editions-host-content-update-event-entry__datetime">
    <%= time %> by <%= actor %>
  </p>
</div>
