<% page_title @world_location.name + " translations" %>
<section>
  <nav class="actions">
    <%= link_to "Create Translation", new_admin_world_location_translation_path(@world_location), class: "btn new_resource", title: "Create Translation" %>
  </nav>
</section>
