<% page_title "New translation for: #{@world_location.name}" %>

<h1>New translation for: <%= @world_location.name %></h1>

<%= form_for @world_location, url: admin_world_location_translations_path(@world_location), method: :post do |form| %>
  <%= render partial: "fields", locals: {form: form, editing_translation: false} %>
<% end %>
