<% page_title "Feature item for #{@promotional_feature.title}" %>
<h1>New feature item for <%= @promotional_feature.title %></h1>
<p class="warning">Warning: newly created feature items will appear instantly on the live site.</p>

<%= render "form", promotional_feature_item: @promotional_feature_item, promotional_feature: @promotional_feature, organisation: @organisation %>
