<% content_for :page_title, "New promotional feature for #{@promotional_feature.title}" %>
<% content_for :title, "New feature item" %>
<% content_for :context, @promotional_feature.title %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @promotional_feature_item)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Newly created feature items will appear instantly on the live site."
    } %>

    <%= render "form", promotional_feature_item: @promotional_feature_item, promotional_feature: @promotional_feature, organisation: @organisation %>
  </div>
</div>
