<div class="summary">
  <p>
    <%= document.summary %>
    Originally given at <%= document.location %>.
    <% if document.explanation %>
      <%= document.explanation %>
    <% end %>
  </p>
</div>
