<div class="summary">
  <p>
    <%= document.summary %>
    <% if document.location && !document.location.empty? %>
      Originally given at <span class="location"><%= document.location %></span>.
    <% end %>
    <% if document.explanation %>
      <span class="explanation"><%= document.explanation %></span>
    <% end %>
  </p>
</div>
