<% if @document.countries.any? %>
  <section id="document_countries">
    <h1>Countries this policy affects</h1>
    <ul class="countries">
      <% @document.countries.each do |country| %>
        <li><%= link_to country.name, country_path(country), class: "country", id: dom_id(country) %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<% if @policy_topics.any? %>
  <section id="document_topics">
    <h1>Topics</h1>
    <ul class="topics">
      <% @policy_topics.each do |policy_topic| %>
        <li>
          <%= link_to policy_topic.name, policy_topic_path(policy_topic), class: "policy_topic", id: dom_id(policy_topic) %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render partial: 'related_policies', object: @related_policies %>