<% page_title "Speeches" %>

<div class="g3f">
  <section class="page_header speech">
    <h1 class="page_title">Speeches</h1>
  </section>
</div>

<div class="g3f">
  <section id="speeches" class="announcements group">
    <%= announcement_group(@speeches, groups_of: 3, class: "", partial: "default") %>
  </section>
</div>