<% page_title "Speeches" %>
<% page_class "speeches-index" %>

<div class="block-1">
  <div class="inner-block">
    <section class="page-header speech icon">
      <h1 class="page_title">Speeches</h1>
    </section>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section id="speeches" class="announcements group">
      <%= announcement_group(@speeches, groups_of: 3, class: "", partial: "default") %>
    </section>
  </div>
</div>