<div class="alphabetical_list" id="international_priorities">
  <% international_priorities.group_by {|ip| ip.title.first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <% row.each do |letter, international_priorities_group| %>
      <div class="alphabetical_row g4" id="international_priorities_<%= letter.downcase %>">
        <div class="g1f"><h2 class="label"><%= letter %></h2></div>
        <div class="g3f">
          <ul class="international_priorities">
            <% international_priorities_group.each do |international_priority| %>
              <%= content_tag_for(:li, international_priority, class: "g1f") do %>
                <%= link_to international_priority.title, public_document_path(international_priority), title: "View #{international_priority.title}", class: "title" %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>