<div class="alphabetical_list g3" id="international_priorities">
  <% international_priorities.group_by {|ip| ip.title.first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <div class="group alphabetical_row">
      <% row.each do |letter, international_priorities_group| %>
        <div class="alphabetical_group" id="international_priorities_<%= letter.downcase %>">
          <h2><%= letter %></h2>
          <ul class="international_priorities">
            <% international_priorities_group.each do |international_priority| %>
              <%= content_tag_for(:li, international_priority) do %>
                <%= link_to international_priority.title, public_document_path(international_priority), title: "View #{international_priority.title}", class: "title" %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>