<% page_title "International Priorities" %>
<% page_class "international-priorities-index" %>

<div class="g4">
  <header class="page_header">
    <h1 class="page_title">International Priorities</h1>
  </header>
</div>

<%= render partial: "grouped_list", locals: {international_priorities: @international_priorities} %>