<% page_title "International Priorities" %>

<div class="g3f">
  <section class="page_header minister">
    <h1 class="page_title">International Priorities</h1>
  </section>
</div>

<div class="g3">
  <%= render partial: "grouped_list", locals: {international_priorities: @international_priorities} %>
</div>