<div class="g2">
  <%= render partial: 'document', locals: { document: @document } %>
</div>

<div class="g1 secondary">
  <%= render partial: 'countries', locals: { countries: @document.countries } %>
  <%= render partial: 'organisations', locals: { organisations: @document.organisations } %>
</div>