<% page_title "History of King Charles Street" %>
<% page_class "home-history-buildings" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history/">History:</a> Government buildings
      </h1>
      <h2>11 Downing Street</h2>
    </header>
  </div>
</div>

<div class="block content-list">
  <div class="inner-block">
    <%= image_tag 'history/buildings/number-10-300.jpg', alt: 'King Charles Street' %>
    <nav class="js-stick-at-top-when-scrolling">
      <h1>Contents</h1>
      <ol>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#hallway">Hallway</a></li>
        <li><a href="#sitting-room-and-study">Sitting room and study</a></li>
        <li><a href="#state-dining-room">State dining room</a></li>
        <li><a href="#state-drawing-room">State drawing room</a></li>
        <li><a href="#staircase">Staircase</a></li>
        <li><a href="#budget-box">Budget box</a></li>
        <li><a href="#sir-john-soane">Sir John Soane</a></li>
      </ol>
    </nav>
  </div>
</div>

<div class="block content-body">
  <div class="inner-block">
    <h2 id="introduction">Introduction</h2>
    <p>It is the most exclusive street in Britain. Not because it only has three houses along its short length, nor particularly because of its location between Whitehall and St James's Park, but because its only residents are chosen from the elected Government. Numbers 10 and 11 Downing Street are the official London residences of the Prime Minister and the Chancellor of the Exchequer &ndash; the First and Second Lords of the Treasury.  Numbers 9 and 12 are the offices of their key staff and colleagues in Government.</p>
    <p>The location has been prestigious for centuries, of course, as even before modern government the site was close to Westminster Abbey and later Whitehall Palace. But it was Sir George Downing who made the most of its potential and built the street of houses that bears his name.</p>
    <p>In his later career as a property speculator and developer, Downing sought &ndash; and won &ndash; the permission of King Charles II to name his prestigious new development at St James's Park &ldquo;Downing Street&rdquo;.</p>
    <p>At its peak as a residential road, Downing Street contained some 20 houses, erratically numbered and not all terribly well built. The ground underneath, which even in the Middle Ages was know as Thorney Island, ran close to the path of the River Tyburn (which flows directly under the Treasury in Parliament Street).  As a result, subsidence has always been a problem in the area.  This can hardly be attributed solely to Downing, however &ndash; he died in 1684, two years before the houses were completed.</p>
    <p>The street's links to the Government date back to 1732, when King George II offered Number 10 as a gift to Sir Robert Walpole. Walpole is now recognised as Britain's first Prime Minister, but his official title then was First Lord of the Treasury, a title every Prime Minister still holds.  He declined the gift, but agreed that it become the official residence for the First Lord and subsequently moved in. From 1828, Number 11 became the official residence of the Second Lord &ndash; the modern Chancellor of the Exchequer.</p>

    <h2 id="hallway">Hallway</h2>
    <p>The hallway is a modest introduction to the style of Number 11. The 18th century lantern illuminating the small room, the characteristic 19th century Vuilliamy grandfather clock and the unassuming marble fireplace reflect the influence of centuries of history on this house. Its status at the centre of the political world is announced by two portraits of the 19th century’s great political adversaries, Gladstone and Disraeli, on opposing walls.</p>

    <h2 id="sitting-room-and-study">Sitting room and study</h2>
    <p>Past the hallway, and across the corridor which connects the three official residences is a sitting room where the Chancellor holds occasional informal meetings. In the recent past it has also been the location for a Budget tradition &ndash; the broadcast which is the Chancellor's direct access to the nation on the evening of the Budget Day. Nowadays the broadcasts are likely to be recorded in other parts of the house and have even, on good days, been filmed in the gardens beyond.</p>
    <p>The adjoining study is where the Chancellor of the Exchequer works on the contents of its ministerial boxes, amid further reminders of the building's political heritage. Disraeli and Gladstone feature again, although this time as porcelain caricatures.</p>

    <h2 id="state-dining-room">State dining room</h2>
    <p>The ground floor sitting room also connects to perhaps the most architecturally significant room in Number 11 – the Dining Room, a long oak-panelled room designed by the renowned 18th century architect Sir John Soane. Best known for his designs for the Bank of England, Soane created a bold and imaginative room with a spectacular vaulted ceiling, decorated with elegant mouldings.</p>
    <p>He also devised an imaginative method of illuminating the long room, making as much use as possible of natural light by designing long, narrow skylights to run the length of the room between the ceiling and walls. The ceiling therefore remains an impressive and uninterrupted span, but daylight can still pour down the walls thanks to the innovative light wells.</p>
    <p>The Soane Dining Room is used nowadays for meetings such as business breakfasts with heads of industry and finance. As with the other rooms used for official entertaining, the walls are decorated with selections from the Government Art Collection which are changed regularly.</p>

    <h2 id="state-drawing-room">State drawing room</h2>
    <p>The room most regularly used for formal occasions is The State Room, which runs the entire width of Number 11, illuminated by a wall of high windows which look out over the shared gardens of the Downing Street houses and beyond into St James's Park.</p>
    <p>The State Room has been recently refurnished following an earlier restoration in the 1960s, restoring the hardwood floor, removing wall lights and replacing faded wall coverings to create a bright, airy and adaptable space. The room can now be used as readily for conference&ndash;style meetings as it can for official receptions and parties.</p>
    <p>Each end of the room featured a grand 18th century marble fireplace flanked by two ornate mirrors. The westernmost wall also features two of Number 11's finest treasures &ndash; two antique black and gold lacquered Chinese cabinets.</p>
    <p>The walls are covered with a warm and creamy cotton damask, as are the curtains on the long wall overlooking the gardens.</p>

    <h2 id="staircase">Staircase</h2>
    <p>The staircase leading to the first floor landing is an ascent through the history of British politics. The walls of the staircase are covered with political cartoons, caricatures and engravings of past Chancellors of the Exchequer. It is a tradition that each Chancellor gets to choose the cartoon he wants to represent him.</p>
    <p>Not all Chancellors have chosen to live in Number 11, just as some Prime Ministers have chosen not to live in Number 10, but all of the memorable holders of the office are represented here. Although Number 11 was not to become the Chancellor's official residence until 1828, Lord Henry Petty was the first to live here during his few months in office in 1806 and 1807. Those Chancellors who have chosen to live &ldquo;above the shop&rdquo; have enjoyed a house which is not only part of the nation's history, but also a comfortable and very distinctive home.</p>

    <h2 id="budget-box">Budget box</h2>
    <p>The front door of Number 11 will always be associated with the countless Budget Day photocalls when the Chancellor holds up the red Budget box containing his speech before he makes his way to the House of Commons.</p>
    <p>Since the 1860s, the Budget box has almost invariably been the one known as the Gladstone box, now displayed in the lobby of HM Treasury. The use of the Gladstone box became one of several Budget Day traditions (another is the only the Chancellor is allowed to drink alcohol in the House of Commons &ndash; and only during his Budget speech). James Callaghan used a new box during his time as Chancellor in the 1970s, but the frail Gladstone box was later restored to duty once more. In 1997, Gordon Brown marked his first Budget by breaking from tradition &ndash; using a new box made by four young apprentices from his Dunfermline constituency and bringing the four to the steps of Number 11 to share his photocall.</p>

    <h2 id="sir-john-soane">Sir John Soane</h2>
    <p>One of the most revered architects Britain has ever produced, Sir John Soane (1753&ndash;1837) was the perfect choice to design what is arguably Number 11's finest room, the dining room which now bears his name.</p>
    <p>Soane's reputation in his own lifetime was based largely on his designs for grand country houses, where he brought together the popular taste for classical design with a more modern feel for light and space. Shallow domes, clean ornamentation and ingenious lighting effects, often from above, characterised his work.  His greatest work was on a much larger scale &ndash; the design of the Bank of England.  It was this formidable reputation as designer of some of Britain's grandest homes and also the heart of its financial community which made Soane the obvious choice to design the dining room of 11 Downing Street in 1825.</p>
    <p>Soane was at the same time also responsible for the State Dining Room of 10 Downing Street, and although Number 11's is much smaller, it is no less impressive for that.  The lightwells which allow daylight to fall on the long panelled walls of the dining room are a characteristically imaginative solution by Soane to the problem of getting natural light into a deep room.</p>

  </div>
</div>