
// STYLEGUIDE
// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "colours";
@import "conditionals";
@import "measurements";
@import "css3";
@import "shims";
@import "typography";

// Frontend styleguide is used for rendering govspeak and some other things
// it probably shouldn't be used for (e.g. $gutter).
@import "frontend/styleguide/dimensions";
@import "frontend/styleguide/typography";
@import "frontend/styleguide/colours";
@import "frontend/styleguide/right-to-left";

@import "govuk_admin_template/emulate/forms";

// COMPONENTS
@import "alerts";
@import "document";
@import "environment";
@import "forms";
@import "layout";
@import "preview";
@import "sortable";
@import "audit-trail";
@import "fact-check-requests";
@import "govspeak-help";
@import "organisation";
@import "classifications";
@import "person";
@import "sidebar";
@import "lists";
@import "get-involved";
@import "topics-section";

// GLOBAL
// Styles that apply to all of admin.
@import "global/boostrap-overrides";
@import "global/js-hidden";

// HELPERS
// Objects that can be used in more than one place throughout the admin
@import "helpers/broken-links-report";
@import "helpers/document-finder";
@import "helpers/document-list";
@import "helpers/navigation-controls";
@import "helpers/jquery-ui-overrides";
@import "helpers/statistics-announcements";
@import "helpers/words-to-avoid-highlighter";
@import "helpers/bootstrap/button-dropdown";

// helpers shared with frontend
@import "../shared/helpers/player-container";

// VIEWS
// Controller specific styles. Usually named after the controller whos views
// they relate to
@import "views/dashboard";
@import "views/edition-form";
@import "views/edition-show-locked";
@import "views/edition-show";
@import "views/editions-index";
@import "views/edition-edit-help";
@import "views/edition-tags-edit";
@import "views/document-collection-groups";
@import "views/organisation";
@import "views/editions/confirm-unpublish";
@import "views/editions/filter-options";
