@import "../shared/utils";

$alert-color: #600a06;
$alert-background: #fcd0ce;
$alert-border-color: #d0160c;

$notice-color: #1d5b25;
$notice-background: #b1e7b9;
$notice-border-color: #39b54a;

.flash-alert {
  color: $alert-color;
  background: $alert-background;
  border-bottom: 1px solid $alert-border-color;
}

.flash-notice {
  color: $notice-color;
  background: $notice-background;
  border-bottom: 1px solid $notice-border-color;
}

.flash-box {
  @include type-16;
  margin-bottom: 0;
  line-height: 3em;
  text-align: center;
  color: #555;
}

.notices {
  .flash {
    @extend .flash-box;
  }
  .alert {
    @extend .flash-box;
    @extend .flash-alert;
  }
  .notice {
    @extend .flash-box;
    @extend .flash-notice;
  }
}

.wrapper {
  .notice, .error, .alert {
    padding: 1.5em 1.5em 0 1.5em;
    margin-bottom: 1.5em;
  }

  .notice {
    @extend .flash-notice;
    border: 1px solid $notice-border-color;
  }

  .alert, .error {
    @extend .flash-alert;
    border: 1px solid $alert-border-color;
  }
}