.app-c-govuk-table--filterable .govuk-table {
  table-layout: fixed;
}

.govuk-tag--s {
  @include govuk-font(14, $weight: bold, $line-height: 1);
}

code {
  color: govuk-colour("red");
}

.gem-c-summary-list--with-image {
  .govuk-summary-list__key {
    vertical-align: top;
  }

  img {
    display: block;
  }
}
