.app-c-govuk-table--filterable .govuk-table {
  table-layout: fixed;
}

.govuk-table--with-actions {
  .govuk-table__cell:last-child {
    text-align: right;
  }
}

.govuk-tag--s {
  @include govuk-font(14, $weight: bold, $line-height: 1);
}

code {
  color: govuk-colour("red");
}

.gem-c-summary-list--with-image {
  .govuk-summary-list__key {
    vertical-align: top;
  }

  img {
    display: block;
  }
}

.app-c-translated-textarea,
.app-c-translated-input {
  & > *:first-child > .govuk-form-group {
    margin-bottom: govuk-spacing(2) !important; // stylelint-disable-line declaration-no-important
  }
}

// Hide the "Remove" checkbox input in JS mode for "Add another" fields
// The checkbox is needed for no-JS mode to allow users to not fill in
// the fields. Otherwise, on save, the empty fields are saved to the DB
// and the user is presented with a second field below it. It's a bit
// clunky, but at least users without JS can check the 'Remove' box to
// not save the empty field.
.js-enabled .js-add-another__fieldset .gem-c-checkboxes {
  display: none;
}
