@import "utils/type_sizing";

.audit-trail {
  .add-remark {
    margin-bottom: 1em;
  }

  ul {
    margin-left: 0;

    li {
      overflow: hidden;
      margin-bottom: 1em;
      list-style: none;

      .action, .editorial_remark {
        color: #222;
      }

      .time {
        @include type-12;
        margin-bottom: 0;
      }

      &.editorial_remark {
        .body {
          display: block;
          font-weight: bold;
        }
      }

      &.version {
        .created_at {
          display: block;
        }
      }
    }

    .image {
      float:left;
      padding-right: 0.75em;
      img { margin: 0}
    }
  }
}
.audit-trail-page.loading {
  nav {
    background: transparent image-url("loading-2b2c2d.gif") no-repeat 50% 0%;
  }
}