
// STYLEGUIDE
// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours";
@import "_conditionals";
@import "_measurements";
@import "_css3";
@import "_shims";
@import "_typography";

// Frontend styleguide is used for rendering govspeak and some other things
// it probably shouldn't be used for (e.g. $gutter).
@import "frontend/styleguide/_dimensions";
@import "frontend/styleguide/_typography";
@import "frontend/styleguide/_colours";
@import "frontend/styleguide/_right-to-left";


@import "govuk_admin_template/emulate/_forms";

// COMPONENTS
@import "alerts";
@import "document";
@import "environment";
@import "forms";
@import "layout";
@import "preview";
@import "sortable";
@import "audit_trail";
@import "fact_check_requests";
@import "govspeak_help";
@import "organisation";
@import "classifications";
@import "person";
@import "sidebar";
@import "lists";
@import "get_involved";
@import "topics_section";

// GLOBAL
// Styles that apply to all of admin.
@import "global/_boostrap-overrides";
@import "global/_js-hidden";

// HELPERS
// Objects that can be used in more than one place throughout the admin
@import "helpers/_broken_links_report";
@import "helpers/_document_finder";
@import "helpers/_document_list";
@import "helpers/_navigation_controls";
@import "helpers/_jquery_ui_overrides";
@import "helpers/_statistics_announcements";
@import "helpers/_words_to_avoid_highlighter";
@import "helpers/bootstrap/_button_dropdown";

// helpers shared with frontend
@import "../shared/helpers/_player-container";

// VIEWS
// Controller specific styles. Usually named after the controller whos views
// they relate to
@import "views/_dashboard";
@import "views/_edition_form";
@import "views/_edition_show";
@import "views/_editions-index";
@import "views/_edition_edit_help";
@import "views/_edition_tags_edit";
@import "views/_document_collection_groups";
@import "views/_organisation";
@import "views/editions/confirm_unpublish";
@import "views/editions/_filter_options";
