@import "utils/type_sizing";

.document_page {
  background: #fcfcfc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 3px solid #ccc;
  padding: 3em 10% 1em 10%;
  margin-bottom: 2em;
  overflow: auto;
}

.rejected_by {
  font-weight: bold;
}

.document {
  margin-bottom: 2em;
  overflow:visible;

  @media only screen and (min-width:1024px) {
    margin-right: 2%;
  }

  .title {
    @include type-32;
  }

  .summary {
    @include type-18;
    font-style: italic;
    margin-bottom: 1.5em;
    p{
      background-image:none;
    }
  }

  .body {
    a[rel="external"]:after {
      content: image-url("preview-external-link.png");
      margin-right: 0.2em;
      margin-left: -0.2em;
    }
    @import "../frontend/helpers/_govspeak";
    @import "../frontend/helpers/_attachment";

  }

  pre.body {
    @include type-13;
  }

  &.right-to-left {
    .title,
    .summary,
    .body,
    .govspeak {
      direction: rtl;
    }
  }

  .govspeak .stat-headline {
    em {
      display: block;
      @include bold-48;
    }

    p {
      font-weight: bold;
    }
  }
}


pre {
  word-break: normal;
  word-wrap: normal;
}

p.prompt {
  margin: $gutter-one-third 0 $gutter;
}

.paper-number {
  .form-group {
    margin-bottom: 0;
  }

  .checkbox {
    margin-top: $default-label-margin;
  }
}

ol.uploaded-attachments {
  margin: $gutter 0;
  list-style: none;

  span.file {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

ol.existing-attachments {
  margin: 0;
  list-style: none;
  .well {
    @extend %contain-floats;
    padding: $gutter-one-third;
    img {
      float: left;
      margin-right: 10px;
    }
    span.title {
      font-weight: bold;
    }

    span {
      display: block;
    }

    p.asset-manager-uploading {
      color: $notice-color;
      background: $notice-background;
    }

    p.virus-scanning {
      color: $notice-color;
      background: $notice-background;
    }

    p.virus {
      color: $alert-color;
      background: $alert-background;
    }

    label, input {
      .js & {
        display: none;
      }
    }

    label {
      display: inline;
      font-weight: bold;
    }

    input.ordering {
      width: 50px;
    }
  }

  ul.actions {
    margin: 0;
  }
}

input[name="save_and_continue"] {
  margin-left: 0.4em;
}

input[name="next"] {
  margin-left: 0.4em;
}
input[name="legacy_tags"] {
  margin-left: 0.4em;
}

.asset-manager-uploading-status {
  width: 20%;
}

.virus-status {
  width: 20%;
}
