@import "../shared/utils";

/*
Resource list.

A group of related objects that are created
in a usual CRUD style manner.
They usually have links to the resource and perhaps
links to edit and delete etc.
================================================== */

@mixin list-row {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;

  @include transition(background-color);

  &:last-child {
    border-bottom: 1px solid #bbb;
  }

  &:hover {
    background: #f9f9f9;
  }
}

@mixin filter_link {
  @include type-13;
  color: #777;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  @include transition(background);

  &:hover {
    text-decoration: none;
    color: #666;
    background: #ddd;
  };
}

@mixin state_link {
  a {
    @include filter_link;
    margin: 0;
    background: #d5d5d5;
    padding: 0em 1em;
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    border-right: none;
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
      @include rounded_left();
    }

    &:last-child {
      @include rounded_right();
      border-right: 1px solid #ccc;
    }

    &:hover {
      @include vertical_gradient(#e5e5e5, #eee);
    }

    &:active {
      color: $link-color-active;
    }

    &.current {
      color: #444;
      @include vertical_gradient(#eee, #ccc);
      border-bottom: 1px solid #aaa;
      border-top: 1px solid #ddd;
    }
  }
}

@mixin rounded_link {
  a {
    @include filter_link;

    background: transparent;
    border: none;

    padding: 1px 10px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;

    white-space: nowrap;

    @include transition(background);
    @include transition(color);
    @include rounded(12px);

    &:hover {
      padding: 0 9px;
      border: 1px solid #ccc;
      border-bottom: 1px solid #ddd;
      background: #e5e5e5;
      @include box-shadow(0, -1px, 0, #bbb);
    }

    &.current {
      padding: 0 9px;
      border: 1px solid #b5b5b5;
      border-bottom: 1px solid #c5c5c5;
      background: #d5d5d5;
      @include box-shadow(0, -1px, 0, #aaa);
      @include rounded(12px);
    };
  }
}

nav.actions {
  overflow: auto;

  a {
    display: inline-block;
    margin-bottom: 1em;
  }

  form {
    display: inline-block;
    margin-bottom: 1em;
    input {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  span.back {
    display: none;
  }

  a.back {
    float: right;
    @include type-14;
    margin-top: 0.5em;
  }

  .public_version {
    margin-bottom: 1em;
    padding: 0;
    p {
      @include type-14;
      border: 1px solid #ddd;
      padding: 0.5em 1em 0.5em 1em;
      margin: 0;
      background: #eee;
      display: inline-block;

      a {
        margin-bottom: 0;
      }
    }
  }
}

nav.create_buttons {
  padding: 0em 1em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;

  span {
    margin-right: 0.5em;
  }

  a {
    margin-right: 0.25em;
    margin-bottom: 0.5em;
  }

  @media only screen and (min-width: 1035px) {
    border: none;
    float: left;
  }

  @media only screen and (min-width: 720px) {
    padding-left: 0;
    padding-right: 0;
  }
}

nav.author_scope {
  display: inline-block;
  margin: 0 1em 0.5em 1em;
  @include rounded();

  a {
    @include filter_link;
    @include vertical_gradient(#ffffff, #efefef);
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0.35em 1em 0.5em 1em;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;

    &:first-child {
      margin-left: 0;
      @include rounded_left();
      border-left: 1px solid #ddd;
    }

    &:last-child {
      @include rounded_right();
      border-right: 1px solid #ccc;
    }

    &:hover {
      @include vertical_gradient(#fafdff, #d8d8d8);
    }

    &.current {
      color: #444;
      @include vertical_gradient(#fafdff, #ccc);
    }
  }

  @media only screen and (min-width: 1035px) {
    float: right;
  }

  @media only screen and (min-width: 720px) {
    margin-left: 0;
    margin-right: 0;
  }
}

section.resource_list {
  .collection {
    padding: 0 1em 1em 1em;

    h1 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 0;
      margin-top: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      background: #eee;
      padding: 10px 20px 10px 20px;
      @include rounded_top(3px);
    }

    nav.filter {
      margin-bottom: 0;
      margin-top: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      background: #eee;
      @include rounded_specific(3px, 0, 0, 0);
      @include vertical_gradient(#fff, #eee);

      .type {
        margin-bottom: 10px;
        padding: 8px 10px 0px 10px;
        background-color: #eee;
        border-bottom: 1px solid #fff;
        @include rounded_specific(3px, 0, 0, 0);
        @include rounded_link;
      }

      .state {
        margin-left: 10px;
        margin-bottom: 10px;
        @include state_link;
      }

      @media only screen and (min-width: 960px) {
        .state {
          float: right;
          margin: 0.45em 0.45em 0 0;
        }

        .type {
          background-color: transparent;
          float: left;
          margin: 0;
          border-bottom: 0;
        }
      }
    }

    > ul, table {
      margin: 0;
      background: #fefefe;
    }

    > ul {
      li {
        @include list-row;
      }
    }

    table {
      width: 100%;

      tr {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }

      thead tr {
        border-bottom: 1px solid #ddd;
        background: #fbfbfb;
      }

      tbody tr {
        @include list-row;
      }

      th, td {
        @include type-12;
        text-align: left;
        padding: 10px 2%;
        line-height: 20px;
      }

      tr {
        td.delete {
          span {
            opacity: 0;
            @include transition(opacity);
          }
        }
        &:hover {
          td.delete {
            span {
              opacity: 1;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 720px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

section.resource_list .collection {
  table.documents {

    .type {
      width: 8%;
      padding: 0 2%;
      text-align: center;
    }

    td.type {
      color: #777;
      font-weight: bold;
      font-size: 11px;
    }

    td.title {
      padding: 0;

      h2 {
        padding: 0.75em 3.5%;
        @include type-18;
        margin-bottom: 0;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
      }

      div.toggle_group {
        border-right: 1px solid #eee;

        h2 {
          float: left;
          border-right: none;
        }

        a.toggle {
          float: right;
          @include type-16;
          margin-right: 2.5%;
          margin-bottom: 0;
          line-height: 3.3em;
          width: 12em;
          text-align: right;
        }
      }

      div.additional_information {
        border-top: 1px solid #ccc;
        padding: 0.25em 0 0 0;
        margin-bottom: 0;
        background: #eee;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        h3 {
          border-left: 1px solid #eee;
          padding: 0.5em 3.5% 0.5em 3.5%;
          @include type-16;
          margin: 0;
          color: #777;
          text-shadow: 0 1px rgba(255, 255, 255, .75);
        }

        ul {
          border-left: 1px solid #eee;
          padding: 0 0 0.1em 0;
          margin: 0 2%;

          li {
            margin: 0;
            display: block;
            background: #fff;
            margin-bottom: 0.5em;
            border: 1px solid #eee;
            border-bottom: 1px solid #ddd;

            @include rounded(3px);

            a {
              display: block;
              padding: 0.5em 0.75em;
            }
          }
        }
      }
    }
  }
}

.supporting_document {
  float: left;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ccc;
  background: #fefefe;
  margin-right: 2%;

  a {
    padding: 0 0.5em;
    display: block;
    margin-bottom: 0;
    padding: 1em 1em 2.5em 1em;
    width: 6.5em;
    min-height: 7em;
    max-height: 7em;
    overflow: hidden;

    span.title {
      @include type-13;
      line-height: 1.75em;
      display: block;
      margin-bottom: 0.5em;
    }

    span.body {
      color: #888;
      font-size: 60%;
      line-height: 1.5em;
      display: block;
    }

    &:hover {
      text-decoration: none;
      background: #fff;

      span.title {
        text-decoration: underline;
      }
    }
  }
}

.add_supporting_document {
  float: left;
  background: #f5f5f5;
  border: 1px dashed #ddd;
  margin-right: 2%;
  width: 6.5em;
  padding: 1em 1em 2.5em 1em;
  min-height: 7em;
  max-height: 7em;
  text-align: center;

  a {
    margin-top: 47%;
  }

  &:hover {
    background: #fff;
  }
}
