html {
  // Required to set the css `rem` sise for the font stacks.
  font-size: 62.5%;
}
// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_typography.scss";

@import "frontend/styleguide/_dimensions.scss";
@import "frontend/styleguide/_font-stacks.scss";
@import "frontend/styleguide/_typography.scss";
@import "frontend/styleguide/_colours.scss";
@import "frontend/styleguide/_right-to-left.scss";

@import "utils/type_sizing";

.document-preview {
  .nav-tabs {
    margin-bottom: 0;
    .guidance {
      padding: 8px 8px 8px 0;
      line-height: 18px;
      margin: 0;
      font-weight: bold;
    }
  }

  .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 3px solid #ccc;
    padding: 3em 10% 1em 10%;
    margin-bottom: 2em;
    overflow: auto;
    min-height: 20em;

    &.document_page {
      background: white;
    }
  }

  h1 {
    margin-bottom: 0.75em;
  }
}

.document_page {
  background: #fcfcfc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 3px solid #ccc;
  padding: 3em 10% 1em 10%;
  margin-bottom: 2em;
  overflow: auto;
}

.rejected_by {
  font-weight: bold;
}

.document {
  margin-bottom: 2em;
  overflow:visible;

  @media only screen and (min-width:1024px) {
    margin-right: 2%;
  }

  .title {
    @include type-32;
  }

  .summary {
    @include type-18;
    font-style: italic;
    margin-bottom: 1.5em;
    p{
      background-image:none;
    }
  }

  .body {
    a[rel="external"]:after {
      content: image-url("preview-external-link.png");
      margin-right: 0.2em;
      margin-left: -0.2em;
    }
    @import "../frontend/helpers/_govspeak.scss";
    @import "../frontend/helpers/_attachment.scss";

  }

  pre.body {
    @include type-13;
  }


}


pre {
  word-break: normal;
  word-wrap: normal;
}

.row-fluid .world-locations-edit-span {
  width: 47%;
}

.span8 .govspeak strong {
  font-weight: normal;
}
