.js-doc-finder-reset,
.js-loading {
  display: none;
}

.document-finder {
  width: 500px;
  padding: $gutter-one-third $gutter-half;
  margin-bottom: $gutter;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;

  .document-list {

    .document-row {
      form {
        float: right;
        margin: 0;
      }
    }
  }

  .error {
    color: #c06253;
  }
}
