@import "../shared/utils";

/*
Resource list.

A group of related objects that are created
in a usual CRUD style manner.
They usually have links to the resource and perhaps
links to edit and delete etc.
================================================== */

@mixin list-row {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;

  @include transition(background-color);

  &:last-child {
    border-bottom: 1px solid #bbb;
  }

  &:hover {
    background: #f9f9f9;
  }
}

nav.actions {
  margin-bottom: .5em;

  a {
    display: inline-block;
    margin-bottom: 1em;
  }

  form {
    display: inline-block;
    margin-bottom: 1em;
    input {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  span.back {
    display: none;
  }
}

section.resource_list {

  nav {
    margin-left: 0;
  }

  .filter {
    nav {
      @include type-14;
      @include pipe_separated_links;
      @include rounded(3px);
      display: inline-block;
      background: #eee;
      padding: 0.3em 1em;
      margin-bottom: 1em;
      border: 1px solid #ddd;

      a.current {
        color: $link-color-active;
      }
    }
  }

  .collection {
    clear: both;

    h1 {
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 0;
      margin-top: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      background: #eee;
      padding: 10px 20px 10px 20px;
      @include rounded_top(3px);
    }

    ul, table {
      margin: 0;
      background: #fefefe;
    }

    ul {
      li {
        @include list-row;
      }
    }

    table {
      width: 100%;

      tr {
        @include type-14;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }

      thead tr {
        border-bottom: 1px solid #ddd;
        background: #fbfbfb;
      }

      tbody tr {
        @include list-row;
      }

      th, td {
        text-align: left;
        padding: 10px 20px;
        line-height: 20px;
      }
    }
  }
}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) {
  section.resource_list {
    .filter {
      float: right;
      text-align: right;
      margin-right: 0;

      nav {
        margin-bottom: 0;
      }
    }
  }
}

.fact_checking {
  form {
    margin-bottom: 0;
  }
}

.fact_check_request {
  .details {
    font-style: italic;
    color: #333;
    @include type-14;
    margin-bottom: 0.5em;
    padding-left: 1em;
    span { font-weight: bold; }
  }

  .comments {
    font-size: 16px;
    background: #fff;
    padding: 0.5em 1em;
  }

  .comments p {
    @include type-13;
  }

  .comments p:last-child {
    margin-bottom: 0;
  }
}

