@import "../shared/utils";
@import "../shared/mixins";

#document_nav {
  margin-bottom: 20px;

  p.back {
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 10px;
    line-height: 53px;
  }

  #document_actions {
    float: left;
  }
}