@import "../shared/utils";
@import "../shared/mixins";

#document_nav {
  margin-bottom: 20px;

  p.back {
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 10px;
    line-height: 53px;
  }

  #document_actions {
    float: left;
  }
}

.document_view {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ccc;
  background: #fcfcfc;
  padding: 40px 80px;
  max-width: 40em;
  margin-bottom: 20px;

  h1.title {
    font-size: 24px;
    line-height: 48px;
  }

  div.body {
    line-height: 24px;
  }

  .written_by {
    font-style: italic;
    .author {
      font-style: normal;
      font-weight: bold;
    }
  }
}