#fact_check_request_instructions p {
  font-size: 16px;
}

.fact_check_request {
  .details {
    .from {
      font-weight: bold;
    }

    .time {
    }
  }

  .comments {
    background: inherit;
    display: inline-block;
    border-left: 1px solid #eeeeee;
  }

  &.linked {
    background: #fef7ea;
    border-color: #777777;
  }
}
