@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";

.fact_check_request {
  .details {
    .from {
      font-weight: bold;
    }

    .time {
    }
  }

  .comments {
    background: inherit;
    display: inline-block;
    border-left: 1px solid #eee;
  }

  &.linked {
    background: #fef7ea;
    border-color: #777;
  }
}