form {
  &.button_to {
    margin-bottom: 0;
    display: inline;

    div {
      display: inline;
    }
  }

  fieldset {
    margin-top: 3em;

    legend {
      border-top: 1px solid #EEE;
      border-bottom: none;

      .add_new {
        margin-left: 3em;
      }
    }

    > fieldset {
      margin-top: 0;

      legend {
        font-size: 130%;
        line-height: 350%;
      }
    }
  }

  fieldset.named {
    padding-top: 0.5em;
  }

  textarea, input {
    width: 97%;
  }

  select {
    &.chzn-select {
      width: 100%;
    }

    &.date {
      width: auto;
    }
  }

  .field_with_errors {
    label,
    input {
      color: #B94A48;
    }

    input,
    textarea {
      background-color: #F2DEDE;
      border-color: #EED3D7;
    }
  }
}


fieldset.contacts {
  .control-group {
    margin-bottom: 0.5em;
  }
}

fieldset.contact_number {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #EEE;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .btn {
    margin-left: 160px;
  }
}


.featured {
  color: #fff;
  background-color: #2b8cc4;
  *background-color: #2b8cc4;
  background-image: -ms-linear-gradient(top, #96c6e2, #2b8cc4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96c6e2), to(#2b8cc4));
  background-image: -webkit-linear-gradient(top, #96c6e2, #2b8cc4);
  background-image: -o-linear-gradient(top, #96c6e2, #2b8cc4);
  background-image: linear-gradient(top, #96c6e2, #2b8cc4);
  background-image: -moz-linear-gradient(top, #96c6e2, #2b8cc4);
}

.make-featured {
  background-color: #85994b;
  *background-color: #85994b;
  background-image: -ms-linear-gradient(top, #c2cca3, #85994b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c2cca3), to(#85994b));
  background-image: -webkit-linear-gradient(top, #c2cca3, #85994b);
  background-image: -o-linear-gradient(top, #c2cca3, #85994b);
  background-image: linear-gradient(top, #c2cca3, #85994b);
  background-image: -moz-linear-gradient(top, #c2cca3, #85994b);
}

.featured:hover {
  color: #fff;
  background-color: #2b8cc4;
  *background-color: #2b8cc4;
}

.make-featured:hover {
  color: #fff;
  background-color: #85994b;
  *background-color: #85994b;
}

.summary-length-info {
  text-align: right;
  margin-right: 25px;
  &.error {
    color: #B94A48;
  }
  .count {
    font-weight: bold;
  }
}
.summary-length-input.error:focus {
  border-color: rgba(236, 82, 82, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.8);
}
