@import "../shared/utils";
@import "../shared/forms";

body {
  @include form_styles;
}

fieldset.excluded_nations {
  div.group {
    div.nation {
      width: 25%;
    }
  }
}

.chzn-container {
  @include scaled_margin_bottom(16, 24);
}

fieldset#policy_order {
  .state {
    color: #bbb;
  }
}

fieldset.image img {
  width: 80px;
  height: 80px;
  float: left;
  padding-right: 8px;
}