section.govspeak_help {
  font-size: 0.7;
  background: #fff;
  overflow: auto;
  width: 97.4%;

  .g1 pre {
    background: #eee;
    padding: 0.5em 1em;
  }

  a {
    cursor: pointer;
  }

  .collapse {
    height: auto;
  }
  .js-enabled & .collapse {
    height: 0;
  }
}
