body {
  padding-top: 100px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.sidebar {
  padding-bottom: 40px;
}

.row-fluid {
  .nav li + .nav-header {
    clear: both;
  }
  .span2 {
    width: 100%;
    @include media(desktop) {
      width: 14%;
    }
  }
}

#global-nav {
  background-color: #3b3b3b;
  border-top: 1px solid #444;
  clear: both;
  @extend %contain-floats;

  .toggler {
    &:after {
      content: " \25BC";
    }
  }
  &.open {
    .toggler {
      &:after {
        content: " \25B2";
      }
    }
  }

  nav {
    clear: both;

    @include media(tablet){
      clear: none;
      background: transparent;
      position: static;
      margin-bottom: 0;
    }

    li {
      display: block;
      position: relative;

      @include media(tablet){
        display: inline;
      }
      .toggler {
        &:focus {
          text-decoration: none;
          outline: none;
        }
      }
      &.user-org {
        display: none;
        @include media(tablet){
          display: block;
        }
      }
      &.create-new {
        position: relative;
        span {
          padding: 9px 10px 11px;
          line-height: 19px;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }


  }
}

.navbar .visuallyhidden {
  position: absolute;
  left: -9999em;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: static;
  margin: -100px 0 20px 0;
  @include media(desktop) {
    position: fixed;
    margin: 0;
  }
}

.navbar .nav.pull-right {
  top: 0;
  right: 0;
  width: 100%;
  .session-info-wrapper {
    padding: 0 $gutter-two-thirds;
    float: right;
    @include media(tablet) {
      float: left;
    }
  }
  @include media(tablet) {
    width: auto;
  }
}

.navbar {
  .website {
    li {
      &.brand {
        margin-left: 0;
        padding-right: 0;
        a {
          color: $white;
          padding: 0;
          &:after {
            content: "|";
            margin-left: $gutter-two-thirds;
          }
        }
      }
      &:last-child a:after {
        content: "";
      }
    }


    @include media(tablet) {
      width: auto;
    }
  }
  .container-fluid {
    padding: 0;
  }
}

@include ie(6){
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
  }
  .navbar .nav li {
    display: block;
    float: left;

    a {
      display: block;
      float: none;
      padding: 9px 10px 11px;
    }
  }
  .session_info .navbar-text {
    span {
      display: inline;
    }
    a {
      padding: 0;
      display: inline !important;
    }
  }

  .row-fluid .collection {
    width: 81%;
  }
  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12  {
    float:left;
    display:inline;
  }

  .nav-tabs {
    li {
      float: left;
      a {
        display: block;
        padding: 8px 12px;
        line-height: 18px;
        border: 1px solid #fff;
        margin-right: 2px;
      }
      &.active {
        background: transparent;
        a {
          background: transparent;
          border-color: #ddd #ddd #fff;
          color: #555;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      display: none;
      background: #fff;
    }
    .active {
      display: block;
    }
  }
}

.tabbable ul.actions {
  margin: 0 0 $gutter 0;
}

.js-enabled .navbar .nav .js-hidden {
  display: none;
}
