html {
  // Required to set the css `rem` sise for the font stacks currently used
  // in document-preview.
  font-size: 62.5%;
}

body {
  padding-bottom: $gutter + $gutter-one-third;
}

.sidebar-nav {
  padding: $gutter-one-third 0;
}

.sidebar {
  padding-bottom: $gutter + $gutter-one-third;
}

#global-nav {
  @extend %contain-floats;

  .toggler {
    &:after {
      font-size: 10px;
      margin-left: $gutter-one-sixth;
      content: " \25BC";
    }
  }

  .open {
    .toggler {
      background-color: $light-blue-50;
      color: $black;

      &:after {
        content: " \25B2";
      }
    }
  }
}

.visuallyhidden {
  position: absolute;
  left: -9999em;
}

$collapse-tabs-width: 710px;

.masthead {
  border-top-width: 5px;
  border-bottom-width: 0;

  @include ie-lte(8) {
    .container-fluid {
      padding-right: 0;
    }

    .navbar-container {
      padding-left: 30px;
    }
  }
}

.masthead .container-fluid .navbar-brand {
  margin-left: 10px;
}

.masthead .navbar-container {
  margin: 3px 0;
}

.masthead-tabs {
  position: relative;
  margin-bottom: 0;
}

.masthead-tab-item {
  margin-right: .32%;
  width: 16.4%;
  float: left;
  background: #6d6d6d;

  &.active {
    color: $black;
    background-color: $grey-2;
  }

  &:hover,
  &.active:hover {
    background-color: $light-blue-50;
    color: $black;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $collapse-tabs-width) {
    float: none;
    width: auto;
    margin: 0;
    border-bottom: 1px solid #222222;
  }

  @include ie-lte(8) {

    // Prevent wrapping of tabs
    width: 16%;
  }
}

.masthead-tab-item > a {
  color: $white;
  font-size: 16px;
  height: 60px;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 16%;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: $collapse-tabs-width) {
    text-align: left;
    padding: 5px 15px;
  }

  @include ie-lte(7) {
    display: block;
  }
}

.masthead-tab-item:hover > a,
.masthead-tab-item.active > a {
  color: $black;
}

.masthead-menu {
  @extend %contain-floats;
  position: absolute;
  background: $light-blue-50;
  width: 48.2%;
  z-index: 10;
  padding: $gutter-one-third;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: $collapse-tabs-width) {
    width: auto;
  }
}

.masthead-menu-right {
  right: 0;

  @media (max-width: $collapse-tabs-width) {
    right: auto;
  }
}

.masthead-menu-item {
  width: 33.33%;
  display: block;
  float: left;

  @media (max-width: $collapse-tabs-width) {
    width: 50%;
  }
}

.masthead-menu-item a {
  color: $link-colour;
  padding: $gutter-one-sixth;
  display: inline-block;
}

.tabbable ul.actions {
  margin: 0 0 $gutter 0;
}
