
@import "../shared/lists";
@import "../shared/grid";
@import "../shared/document_view";
@import "../shared/typography";
@import "flash_notices";

body {
  @include grid_styles;
  @include list_styles;
  @include type_styles;
}

.masthead {
  padding: 0.8em 4%;
  background: #2a2a00;

  @media only screen and (min-width: 833px) {
    padding: 0.8em 4% 0.8em 4%;
  }

  nav {
    float: left;
    padding-right: 1em;
    a {
      @include type-14;
      font-weight: bold;
      padding-right: 1em;
      white-space: nowrap;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: #ccc;

    &:hover {
      color: #1D97FF;
    }

    &:active {
      color: #fff;
    }

    &.current {
      text-decoration: underline;
    }
  }

  a.open_website {
    margin-left: 4em;
  }
}

.session_info {
  float: left;
  margin-top: 0.5em;

  p {
    @include type-14;
    margin-bottom: 0;
    display: inline;
    font-style: italic;
    color: #eee;
    margin-right: 1em;

    .current_user_name a {
      font-weight: bold;
      font-style: normal;
    }
  }

  form {
    display: inline;
    div {display: inline}
    input.link {
      text-transform: lowercase;
      @include type-14;
      margin-bottom: 0;
      color: white;
      text-decoration: none;
    }
  }

  @media only screen and (min-width: 833px) {
    margin-top: 0;
    float: right;
  }
}

body {
  background: #f8f7f5;
}

.wrapper {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 720px) {
  .wrapper {
    width: 92%;
  }
}


@media only screen and (min-width: 1200px) {
  body {
    .wrapper {
      padding-bottom: 3em;
    }
  }
}

section {
  .container {
    background: #f2eeeb;
    border: 1px solid #ebe5e1;
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;

    h1 {
      @include type-21;
      border-bottom: 1px solid #c9b9ae;
      padding-bottom: 0.25em;
      margin-bottom: 0.5715em;
    }

    h1.downplay {
      @include type-18;
    }

    ul li {
      @include type-14;
      margin-bottom: 0.75em;
    }

    &.audit-trail {
      li {
        overflow: hidden;
        .time {
          display: block;
          @include type-12;
          margin-bottom: 0;
        }
        .action, .editorial_remark {
          color: #222;
        }
      }
      .image {
        float:left;
        padding-right: 0.75em;
        img { margin: 0}
      }
    }
  }
}

.lte-ie8 section .container.audit-trail .image {
  width: 60px;
}

.document_view {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ccc;
  background: #fcfcfc;
  padding: 3em 10% 1em 10%;
  margin-bottom: 2em;
  overflow: auto;
  margin-top: 1em;

  .title {
    @include type-32;
  }

  .summary {
    @include type-14;
    font-style: italic;
  }

  .body {

    h2 {
      @include scaled_type(24);
      @include scaled_margin_top(16);
    }

    h3 {
      @include type-18;
      margin-bottom: 0;
    }

    p, ul, ol {
      @include type-14;
    }
    ul, ol {
      ul, ol {
        margin-top: #{$baseline_in_px / 14}em;
      }
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    li {
      @include type-16;
      margin-bottom: 0.75em;

      p {
        margin-bottom: 0;
      }
    }

    table {
      tr {
        padding: 0;

        td {
          padding: 0;
          @include type-14;
          border: 1px solid #ddd;
          padding: 0 0.75em;
        }
      }
    }
  }

  pre.body {
    @include type-14;
  }

  .written_by {
    font-style: italic;
    .author {
      font-style: normal;
      font-weight: bold;
    }
  }
}