.organisation-header {
  margin-bottom: 2em;
}

.organisation-details {
  table {
    tr:first-child {
      th, td {
        border-top: none;
      }
    }
  }
}

.organisation-custom-logo {
  .js-enabled &.hidden {
    display: none;
  }

  img {
    margin: 0 10px 20px 0;
  }
}

.organisations {
  .user_organisation td {
    font-weight: bold;
  }
}

#role_ordering {
  margin-top: 3em;
}
