.organisation-header {
  margin-bottom: 2em;
}

.organisation-details {
  table {
    tr:first-child {
      th, td {
        border-top: none;
      }
    }
  }
}

.organisations {
  .user_organisation td {
    font-weight: bold;
  }
}

#role_ordering {
  margin-top: 3em;
}
