@import "utils/type_sizing";

.back {
  margin-bottom: 1em;
  display: block;
}

nav.actions {
  margin: 1em 0;
  clear: both;
  padding-top: 0.9em;
}

.speed-tag {
  form fieldset {
    margin-top: 1em;
  }
}

.sidebar {
  h1 {
    display: none;
  }

  .display_heading {
    h1 {
      display: block;
      margin-bottom: 0.2em;
    }
  }

  section {
    > section {
      h1 {
        @include type-24;
        display: block;
      }
      h2 {
        @include type-21;
        display: block;
      }
    }
  }

}
