fieldset.sortable {
  margin-top: 0;

  legend {
    margin-bottom: 10px;
  }
}

.connectedSortable {
  padding: 5px;
  background-color: #eee;
}

.ui-sortable {
  margin-top: 0;

  margin-left: 0;

  li {
    list-style: none;
  }

  .sort_item {
    cursor: move;

    label, a {
      cursor: inherit !important;
    }

    .state {
      color: #bbb;
    }
  }


  .well.sortable-drop-target {
    border-style: dashed !important;
    background-color: white !important;
  }
}

.js-enabled ol.js-sortable {

  li {
    cursor: move;

    label, a {
      cursor: pointer;
    }
  }
}
