.new-user-need {
  span {
    display:              block;
    margin-bottom:        5px;
  }

  label,
  input {
    display:              inline;
    width:                auto;
    margin:               0 0.2em;
  }
}
