<%= render(contacts, contactable: contactable) %>

<% contacts.each do |contact| %>
  <% contact.non_english_localised_models([:contact_numbers]).each do |translated_contact| %>
    <h2 class="govuk-heading-m"><%= title %></h2>
    <%= render "translated_contact", translated_contact: translated_contact, contactable: contactable %>
  <% end %>
<% end %>
