<% if contact.persisted? %>
  <div class="form-group">
    <p class="bold add-label-margin">Markdown to use</p>
    <input type="text" readonly="readonly" value="[Contact:<%= contact.id %>]" class="form-control input-md-3" />
  </div>
<% end %>
