<div class="govuk-body">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: title_text,
    edit: if (contactable.home_page_contacts.many? && contacts.none?(&:foi?))
            {
              href: reorder_admin_organisation_contacts_path,
              link_text: "Reorder",
            }
          else
            {}
          end
  } %>
</div>
