<% page_title t("mhra_email_signup.title", acronym: @organisation.acronym) %>
<% page_class "govuk-width-container" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">
    <%= render "govuk_publishing_components/components/title", {
      context: t("mhra_email_signup.context"),
      title: t("mhra_email_signup.title", acronym: @organisation.acronym),
      margin_bottom: 4,
    } %>
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: t("mhra_email_signup.summary", acronym: @organisation.acronym, name: @organisation.name),
      margin_bottom: 8,
    } %>
    <% @mhra_email_signup_pages.each do |page| %>
      <%= render "govuk_publishing_components/components/heading", {
        text: page.title
      } %>
    <p class="govuk-body">
      <%= page.description %>
    </p>
    <% end %>
  </div>
</div>
