---
default:
  display_name: "Default (960 by 640)"
  valid_width: 960
  valid_height: 640
  permitted_uses:
    - govspeak_embed
  versions:
    - name: s960
      width: 960
      height: 640
    - name: s712
      width: 712
      height: 480
      from_version: s960
    - name: s630
      width: 630
      height: 420
      from_version: s960
    - name: s465
      width: 465
      height: 310
      from_version: s960
    - name: s300
      width: 300
      height: 195
      from_version: s960
    - name: s216
      width: 216
      height: 140
      from_version: s960
landing_page_image:
  display_name: "Landing page image (2x pixel density) (1260 by 944)"
  valid_width: 1260
  valid_height: 944
  permitted_uses:
    - landing_page
  versions:
    - name: landing_page_desktop_2x
      width: 1260
      height: 944
    - name: landing_page_desktop_1x
      width: 630
      height: 472
      from_version: landing_page_desktop_2x
    - name: landing_page_tablet_2x
      width: 1416
      height: 1062
      from_version: landing_page_desktop_2x
    - name: landing_page_tablet_1x
      width: 708
      height: 531
      from_version: landing_page_desktop_2x
    - name: landing_page_mobile_2x
      width: 1220
      height: 914
      from_version: landing_page_desktop_2x
    - name: landing_page_mobile_1x
      width: 610
      height: 457
      from_version: landing_page_desktop_2x
hero_mobile:
  display_name: "Mobile hero image (2x pixel density) (1280 by 960)"
  valid_width: 1280
  valid_height: 960
  permitted_uses:
    - hero
  versions:
    - name: hero_mobile_2x
      width: 1280
      height: 960
    - name: hero_mobile_1x
      width: 640
      height: 480
      from_version: hero_mobile_2x
hero_tablet:
  display_name: "Tablet hero image (2x pixel density) (1536 by 1152)"
  valid_width: 1536
  valid_height: 1152
  permitted_uses:
    - hero
  versions:
    - name: hero_tablet_2x
      width: 1536
      height: 1152
    - name: hero_tablet_1x
      width: 768
      height: 576
      from_version: hero_tablet_2x
hero_desktop:
  display_name: "Desktop hero image (2x pixel density) (2400 by 800)"
  valid_width: 2400
  valid_height: 800
  permitted_uses:
    - hero
  versions:
    - name: hero_desktop_2x
      width: 2400
      height: 800
    - name: hero_desktop_1x
      width: 1200
      height: 400
      from_version: hero_desktop_2x
