:verbose: true
:concurrency: 8
:queues:
  - scheduled_publishing
  - default
  - publishing_api
  - asset_manager
  - asset_manager_updater
  - bulk_republishing
  - link_checks
  - edition_revalidation
  - standard_edition_migration

<% env = ENV["RAILS_ENV"] || ENV["RACK_ENV"] %>
<% if env == "production" %>
:scheduler:
  :schedule:
    revalidate_old_link_check_reports:
      cron: '0 4 * * *' # Runs at 4 a.m every day
      class: RevalidateOldLinkCheckReportsWorker
    revalidate_all_editions:
      cron: '45 5 * * *' # Runs at 5:45am every day
      class: RevalidateEditionsSchedulerWorker
<% end %>
