:verbose: true
# We set concurrency to 1 because parts of the publishing pipeline
# are not threadsafe. Once we've removed instances of `I18n.with_locale`
# from the workers, we can increase this again.
:concurrency: 1
:logfile: ./log/sidekiq.json.log
:queues:
  - scheduled_publishing
  - default
  - publishing_api
  - email_alert_api_signup
  - bulk_republishing
  - sync_checks
  - asset_migration
  - link_checks
