<% default_lead_image_hint = if !lead_image_select.default_lead_image
                               t("configurable_content_blocks.lead_image_select.default_image_hint_for_placeholder")
                             elsif lead_image_select.default_lead_image&.all_asset_variants_uploaded?
                               t("configurable_content_blocks.lead_image_select.default_image_hint_for_news_image")
                             elsif !lead_image_select.default_lead_image&.all_asset_variants_uploaded?
                               t("configurable_content_blocks.lead_image_select.default_image_hint_for_news_image_with_missing_variants")
                             end %>
<% custom_lead_image_hint = "Select a lead image. #{lead_image_select.default_lead_image ? t("configurable_content_blocks.lead_image_select.custom_image_hint_for_news_image") : t("configurable_content_blocks.lead_image_select.custom_image_hint_for_placeholder")}" %>

<% if content.blank? && lead_image_select.rendered_default_image_url %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Default lead image",
    font_size: "m",
    heading_level: 2,
    margin_bottom: 2,
  } %>

  <%= render "govuk_publishing_components/components/hint", {
    text: default_lead_image_hint,
    margin_bottom: 3,
  } %>

  <div class="app-c-edition-images-lead-image-component__default_lead_image govuk-!-margin-bottom-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <img src="<%= lead_image_select.rendered_default_image_url %>" alt="Default lead image" class="app-view-edition-resource__preview">
      </div>
    </div>
  </div>
<% end %>

<% required = required || false %>
<% translated_content = translated_content || nil %>
<% select_options = [
     {
       text: "No image selected",
       value: "",
     },
   ] + lead_image_select.images.map do |image|
  {
    text: image.filename,
    value: image.image_data.id,
    selected: image.image_data.id == (translated_content || content).to_i,
  }
end %>
<% errors = errors || [] %>
<%= render "govuk_publishing_components/components/select", {
  id: path.form_control_id,
  label: schema["title"] + (required ? " (required)" : ""),
  name: path.form_control_name,
  options: select_options,
  hint: custom_lead_image_hint,
  heading_size: "m",
  full_width: true,
  error_items: errors_for(errors, path.validation_error_attribute.to_sym),
} %>
