<header class="row add-bottom-margin">
  <div class="col-md-8">
    <h1><%= model.name %></h1>
    <%= view_on_website_link_for model %>
  </div>
</header>

<%= tab_navigation_for(model) do %>
  <%= yield :current_tab %>
<% end %>
