<header class="row add-bottom-margin">
  <div class="col-md-8">
    <h1><%= model.name %></h1>
    <%= link_to "View on website", classification_path(model) %>
  </div>
</header>

<%= tab_navigation_for(model) do %>
  <%= yield :current_tab %>
<% end %>
