<% page_title "Services and information - #{@organisation.name}" %>
<% page_class "services-and-information-show" %>

<header class="headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
      locals: {
        big: true,
        type: @organisation.name,
        heading: 'Services and information'
      } %>
  </div>
</header>

<div class="inner-block">
  <div class="browse-container heading-block">
    <%= render partial: 'collection_group', collection: @collection_groups %>
  </div>
</div>
