<section>
  <article class="document">
    <div class="body">
      <%= govspeak_to_html(
        params[:body],
        images: @images,
        attachments: prepare_attachments(@attachments, @alternative_format_contact_email),
        preview: true,
       ) %>
    </div>
  </article>
</section>
