<section>
  <article class="document">
    <div class="body">
      <%= govspeak_to_html_with_images_and_attachments(
        params[:body],
        @images,
        @attachments,
        @alternative_format_contact_email,
        { preview: true },
       ) %>
    </div>
  </article>
</section>
