<section>
  <article class="document">
    <div class="body">
      <%= govspeak_to_html(
        params[:body],
        images: @images,
        attachments: @attachments,
        preview: true,
       ) %>
    </div>
  </article>
</section>
