<% initialise_script "GOVUK.preview" %>
<section class="document_page">
  <article class="document">
    <div class="body">
      <%= govspeak_to_admin_html params[:body], @images, @attachments, @alternative_format_contact_email %>
    </div>
  </article>
</section>
