<section class="document_view">
  <article class="document">
    <div class="body">
      <%= render partial: 'shared/lead_image', locals: {image: @lead_image} %>
      <%= govspeak_to_admin_html params[:body], @images %>
    </div>
  </article>
</section>