<% page_title "Countries" %>

<h1>Countries</h1>
<table id="countries" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Embassy</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <%= content_tag_for(:tr, country) do %>
        <td><%= link_to country.name, edit_admin_country_path(country) %></td>
        <td>
          <%= safe_join([country.embassy_address, country.embassy_telephone, mail_to(country.embassy_email)], "<br/>".html_safe) %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
