// override gov.uk page elements

html {
  background: white;
}

body,
body.js-enabled {
  padding: 0;
}

#global-header {
  .header-proposition {
    #proposition-name,
    #proposition-links li a.active {
      color: $inside-gov-secondary;
    }
    #proposition-menu {
      margin-top: $gutter+$gutter-one-sixth+2px;
    }
  }
  form#search input.submit {
    background-color: $inside-gov-secondary;
    &:hover {
      background-color: lighten($inside-gov-secondary, 5%);
    }
  }
}
