// override gov.uk page elements

html {
  background: white;
}
body {
  padding: 0;
}

// this rule overrides the sticky global header
.js-enabled #global-header {
  position: relative;
}

#global-header .header-global,
#footer .beta-notice p,
#footer .inner {
  width: auto;
  max-width: $max-site-width;
}

#whitehall-wrapper {
  width: auto;
  max-width: $max-site-width + $gutter*2;
}

#footer .beta-notice {
  padding: $gutter-half $gutter;
}

#footer .beta-notice p {
  display: block;
  margin: 0 auto;
}
