// flatten all browser defaults and styles inherited from gov.uk header

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark {
  border: none;
  margin: 0;
  padding: 0;
}

input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
strong {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a {
  color: $link-colour;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a * {
  cursor: pointer;
}

a:active {
  color: orange
}
