<br/>
<br/>
<br/>
<p>
<%= image_tag "open-government-licence.png", class: "print-meta-data-licence" %>
</p>
<br/>
<br/>
<br/>
<p>
  © Crown copyright <%= @html_attachment.created_at.year %>
</p>
<p>
  This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
</p>
<p>
  Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
</p>
<p>
  This publication is available <a href="www.gov.uk/government/publications">www.gov.uk/government/publications</a>
</p>
<p>
  Any enquiries regarding this publication should be sent to us at:
</p>
<p>
  Department for Business, Innovation and Skills<br/>
  1 Victoria Street<br/>
  London SW1H 0ET<br/>
  Tel: 020 7215 5000<br/>
  Email: <a href="mailto:enquiries@bis.gsi.gov.uk">enquiries@bis.gsi.gov.uk</a>
</p>
<p>
  Print ISBN: 9781474127776<br/>
  Web   ISBN: 9781474127783
</p>
<p>
  ID 28011601  53927  02/16
</p>
