<% content_for :page_title, "Down for maintenance" %>
<% content_for :title, "Down for maintenance" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Whitehall is currently down for maintenance. We'll be back soon.</p>
  </div>
</div>
