<% content_for :page_title, "There is a mistake in the URL" %>
<% content_for :title, "There is a mistake in the URL" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">If you typed the URL, check it is correct.</p>
    <p class="govuk-body">If you pasted the URL, check you copied the entire address.</p>
  </div>
</div>
