<% content_for :page_title, "Something went wrong" %>
<% content_for :title, "Something went wrong" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Please try again by selecting the browser&rsquo;s back button or <%= link_to "raise a support request", "https://support.publishing.service.gov.uk/technical_fault_report/new", class: "govuk-link govuk-link--no-visited-state" %>.</p>
  </div>
</div>
