<% page_title "Groups" %>
<% page_class "policy-groups-index" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { big: true,
                        heading: "Groups" } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <section class="simple-alphabetical-list">
    <% if @policy_groups.any? %>
      <% @policy_groups.group_by { |group| (group.name || '-').first.upcase }.each do |letter, entries| %>
        <div class="alphabetical-row">
          <h2 class="alphabetical-list-letter"><%= letter %></h2>
          <ul>
            <% entries.each do |group| %>
              <%= content_tag_for :li, group do %>
                <% link_to group.name, group %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    </section>
  </div>
</div>
