<section class="document_page">
  <article class="document">
    <h1 class="title"><%= supporting_page.title %></h1>
    <div class="body">
      <%= govspeak_to_admin_html supporting_page %>
    </div>
  </article>
</section>
