<div class="g2 first">
  <section>
    <h1>Add new supporting page to <%= link_to @document.title, admin_document_path(@document) %></h1>
    <%= render partial: "form", locals: {disabled: false, supporting_page: @supporting_page} %>
  </section>
</div>