<% page_title "New supporting page for " + @edition.title %>

<h1>Add new supporting page to <%= link_to @edition.title, admin_edition_path(@edition) %></h1>

<div class="row-fluid">
  <div class="span8">
    <section>
      <%= render partial: "form", locals: {disabled: false, supporting_page: @supporting_page} %>
    </section>
  </div>

  <div class="span4">
    <%= render partial: "sidebar" %>
  </div>
</div>