<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
<<<<<<< HEAD
    total_pages:     total number of pages
=======
    total_pages:   total number of pages
>>>>>>> d8f5ffb... More gem updates
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% text = "Next page <span>#{current_page + 1} of #{total_pages}</span>".html_safe %>
<li class="next"><%= link_to_unless current_page.last?, text, url %></li>
