<div class="govuk-!-margin-bottom-4">
  <%= render "components/govspeak_editor", {
    label: {
      text: "Govspeak",
      heading_size: "s",
    },
    id: "todo",
    name: "todo",
    value: "TODO",
    rows: 20,
  } %>
</div>