// Inconsistent with rest of gov.uk. Pending discussion, see #712
a {
  color: $link-colour;
  text-decoration: underline;

  &:visited {
    color: $link-visited-colour;
  }
  &:hover {
    color: $link-hover-colour;
  }
  &:active {
    color: $link-active-colour;
  }
  &:focus {
  }

  * {
    cursor: pointer;
  }
}
