// Inconsistent with rest of gov.uk. Pending discussion, see #712
a {
  color: $link-colour;
  text-decoration: none;

  &:visited {
    color: $link-visited-colour
  }
  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }
  &:active {
    color: $link-active-colour
  }
  &[rel="external"] {
    @include external-link-13-no-hover;
    @include media(tablet) {
      @include external-link-19-no-hover;
    }
  }

  * {
    cursor: pointer;
  }
}


