<%= form_for [:admin, @collection], url: admin_document_collection_update_email_subscription_path(@collection), method: "put" do |form| %>
  <%= render "govuk_publishing_components/components/radio", {
    name: "override_email_subscriptions",
    id: "email_override_email_subscription_choice",
    items: [
      {
        value: false,
        text: "Emails about this page",
        hint_text: "Users will get an email when the document collection or any of the content listed on it is updated.",
        checked: has_page_level_notifications?(@collection),
        bold: true,
      },
      {
        value: true,
        text: "Emails about the topic",
        bold: true,
        hint_text: "Users will get an email when any content related to the topic is updated. You choose the topic from the topic taxonomy.",
        checked: emails_about_this_topic_checked?(@collection, params),
        conditional: render("taxonomy_choice"),
      },
    ],
  } %>

  <div class="govuk-button-group">
    <%= render "govuk_publishing_components/components/button", {
      text: "Save",
      data_attributes: {
        module: "gem-track-click",
        "track-category": "form-button",
        "track-action": "update-email-subscriptions-button",
        "track-label": "Save",
      },
    } %>
    <%= link_to("Cancel", admin_document_collection_path(@collection), class: "govuk-link govuk-link--no-visited-state") %>
  </div>
<% end %>
