<% content_for :page_title, "Email notification settings" %>
<% content_for :title_margin_bottom, 8 %>
<% content_for :page_class, "document-collection-email-groups edit" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>Email notifications</h1>

    <div>Choose the type of email updates users will get if they sign up for notifications.</div>
  </div>
</div>
