<% content_for :page_title, "Email notification settings" %>
<% content_for :title_margin_bottom, 8 %>
<% content_for :page_class, "document-collection-email-groups edit" %>
<% errors = errors_from_flash(flash) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/secondary_navigation", {
      aria_label: "Document navigation",
      items: secondary_navigation_tabs_items(@collection, request.path),
    } %>

    <h2 class="govuk-heading-l">Email notifications</h2>
      <p class="govuk-body-m">
      You cannot change the email notifications for this document collection.
      If you have any questions about this, contact the managing editor at HMRC.
    </p>
    <p class="govuk-body-m"> Users who sign up to notifications on this document collection get an email alert when:</p>
    <%= render "govuk_publishing_components/components/list", {
      visible_counters: true,
      items: [
        "there’s a major change to any content tagged to the topic #{link_to taxonomy_topic_email_override_title(@collection), taxonomy_topic_email_override_base_path(@collection)}",
      "the page is unpublished",
      ],
    } %>
  </div>
</div>
