<% content_for :page_class, 'document-collection-email-groups edit' %>
<% page_title 'Edit email notifications' %>

<div class="row">
    <h1>Email notifications</h1>

    <div>Choose the type of email updates users will get if they sign up for notifications.</div>
</div>