<% content_for :page_title, "Email notification settings" %>
<% content_for :title_margin_bottom, 8 %>
<% content_for :page_class, 'document-collection-email-groups edit' %>
<% errors = errors_from_flash(flash) %>

  <% if errors.present? %>
  <%= render "govuk_publishing_components/components/error_summary", {
    id: "error-summary",
    title: "There are some problems",
    items: errors,
  } %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/secondary_navigation", {
      aria_label: "Document navigation tabs",
      items: secondary_navigation_tabs_items(@collection, request.path)
    } %>

    <h2 class="govuk-heading-l">Email notifications</h2>
    <p class="govuk-body">Choose the type of email updates users will get if they sign up for notifications.</p>

    <%= render partial: 'form' %>
  </div>
</div>