<% content_for :page_class, 'statistical-release-announcements edit' %>
<% page_title "Edit statistical release announcement" %>

<div class="span8">
  <h1>Edit statistical release announcement</h1>

  <%= render 'document_status', release_announcement: @release_announcement %>

  <%= render "form", release_announcement: @release_announcement %>
</div>

<div class="span4">
  <div class="sidebar">
    <section class="display_heading">
        <%= button_to('Delete announcement',
                      admin_statistical_release_announcement_path(@release_announcement),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this announcement?" },
                      class: 'btn btn-danger') %>
    </section>
  </div>
</div>
