<% page_title "New statistical release announcement" %>
<div class="span8">
  <h1>New statistical release announcement</h1>
  <p>Use this to make an announcement for a forthcoming statistics release. Statistical release announcements are listed <%= link_to 'here' %>.</p>
  <%= render "form", release_announcement: @release_announcement %>
</div>
