<% content_for :page_title, "Edit #{@role.name}" %>
<% content_for :title, "Edit role" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @role, parent_class: "role")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Changes to roles appear instantly on the live site."
    } %>
    <%= render "form", {
       role: @role,
       show_instantly_live_warning: true
    } %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/tabs", {
      tabs: [
        {
          id: "appointments",
          label: "Appointments",
          content:
            render("admin/roles/appointments_tab", role: @role )
        },
        {
          id: "help",
          label: "Help",
          content: simple_formatting_sidebar
        }
      ]
    } %>
  </div>
</div>
