<% page_title "New role" %>
<div class="span8">
  <section>
    <h1>New role</h1>
    <p class="warning">Do not create ministerial roles without consulting GDS.</p>
    <%= render partial: "form", locals: {role: @role, show_consult_gds_warning: true} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>