<% page_title "New role" %>
<div class="row">
  <section class="col-md-8">
    <h1>New role</h1>
    <p class="warning">Do not create ministerial roles without consulting GDS.</p>
    <%= render partial: "form", locals: {role: @role, show_consult_gds_warning: true} %>
  </section>
  <div class="col-md-4">
    <%= legacy_simple_formatting_sidebar %>
  </div>
</div>
