<% page_title "New role" %>
<div class="span8">
  <section>
    <h1>New role</h1>
    <%= render partial: "form", locals: {role: @role} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>