<% content_for :page_title, "Remove document from #{@group.heading}" %>
<% content_for :title, "Remove document" %>
<% content_for :context, @group.heading %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_document_collection_group_document_collection_group_membership_path(@collection, @group, @membership), method: :delete do |form| %>
      <p class="govuk-body govuk-!-margin-bottom-6">Are you sure you want to remove "<%= document_collection_group_member_title(@membership) %>" from this collection?</p>

       <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Remove",
          destructive: true,
          data_attributes: {
            module: "gem-track-click",
            "track-category": "form-button",
            "track-action": "remove-document-from-collection-group-button",
            "track-label": "Remove",
          },
        } %>
        <%= link_to("Cancel", admin_document_collection_group_members_path(@collection, @group), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
