.csv-preview {
  border: govuk-spacing(1) solid govuk-colour("light-grey");
  margin-bottom: govuk-spacing(6);
}

.csv-preview__inner {
  border: 1px solid govuk-colour("mid-grey");
  padding: govuk-spacing(2) govuk-spacing(4) 0;
  overflow: auto;

  &:focus {
    border: 3px solid govuk-colour("black");
    outline: 3px solid govuk-colour("yellow");
  }
}
