<div>
  <p class="govuk-body">Must be an internal GOV.UK path (e.g. `/browse/benefits`) or a full URL to one of the sites on the allowlist below:</p>

  <%= render "govuk_publishing_components/components/list", {
    visible_counters: true,
    items: GovUkUrlFormatValidator::EXTERNAL_HOST_ALLOW_LIST,
  } %>
</div>
