<% content_for :page_title, "Unwithdraw: #{@edition.title}" %>
<% content_for :title, "Are you sure you want to unwithdraw?" %>
<% content_for :context, @edition.title %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag unwithdraw_admin_edition_path(@edition, lock_version: @edition.lock_version) do %>
      <p class="govuk-body govuk-!-margin-bottom-7">This will create a new edition and publish it immediately. It won’t send an email alert to users.</p>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Unwithdraw",
          destructive: true,
          margin_bottom: 8,
        } %>

        <%= link_to("Cancel", [:admin, @edition], class: "govuk-link") %>
      </div>
    <% end %>
  </div>
</div>

