$base-font-size-in-px: 16 !default;
$baseline-in-px: 24 !default;

@mixin scaled-type($size-in-px, $line-height-in-px: 24) {
  $vertical-rhythm: ($baseline-in-px / $size-in-px);

  margin: 0;
  font-size: #{($size-in-px / $base-font-size-in-px)}em;
  line-height: #{$vertical-rhythm * ($line-height-in-px / $baseline-in-px)}em;
  @include scaled-margin-bottom($size-in-px, $line-height-in-px);
}

@mixin scaled-margin-top($size-in-px, $line-height-in-px: 24) {
  $vertical-rhythm: ($line-height-in-px / $size-in-px);
  margin-top: #{$vertical-rhythm}em;
}

@mixin scaled-margin-bottom($size-in-px, $line-height-in-px: 24) {
  $vertical-rhythm: ($line-height-in-px / $size-in-px);
  margin-bottom: #{$vertical-rhythm}em;
}

@mixin type-32 {
  @include scaled-type(32, 48);
}

@mixin type-24 {
  @include scaled-type(24);
}

@mixin type-21 {
  @include scaled-type(21);
}

@mixin type-18 {
  @include scaled-type(18);
}

@mixin type-16 {
  @include scaled-type(16);
}

@mixin type-13 {
  @include scaled-type(13, 18);
}

@mixin type-12 {
  @include scaled-type(12);
}
