<% page_title "Fields of operation" %>
<% page_class "fields-of-operation-index" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="title">British fatalities</h1>
      <h2 class="label">Fields of operation</h2>
    </header>
</div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section class="simple-alphabetical-list fields-of-operation">
      <div class="alphabetical-row">
        <ul>
          <% @operational_fields.each do |field| %>
            <%= content_tag_for :li, field do %>
              <%= link_to field.name, operational_field_path(field) %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</div>
