<% page_title t("support.fields_of_operation") %>
<% page_class "fields-of-operation-index" %>

<div class="govuk-width-container">
  <%= render "govuk_publishing_components/components/title", {
    context: "British fatalities",
    title: t("support.fields_of_operation"),
  } %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
        <% @operational_fields.each do |field| %>
          <%= content_tag_for :li, field do %>
            <%= link_to field.name, operational_field_path(field), class: "govuk-link" %>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
