<% if @organisation.persisted? %>
  <div class="sidebar">
    <section class="display_heading">
      <h1>Delete organisation</h1>
      <% if @organisation.destroyable? %>
        <%= button_to('delete',
                      admin_organisation_path(@organisation),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete #{@organisation.name}?" },
                      class: 'btn btn-danger') %>
      <% else %>
        <p>Cannot delete</p>
      <% end %>
    </section>
  </div>
<% end %>

<%= legacy_simple_formatting_sidebar %>
