<% page_title "Edit " + @organisation.name %>
<div class="span8">
  <section>
    <h1>Edit organisation</h1>
    <p class="warning">Warning: changes to organisations appear instantly on the live site.</p>
    <%= render partial: "form", locals: {organisation: @organisation, show_instantly_live_warning: true} %>
  </section>
</div>

<div class="span4">
  <%= render partial: "sidebar" %>
</div>
