<% page_title @organisation.name %>
<div class="organisation-header">
  <h1><%= @organisation.name %></h1>
  <%= link_to "View on website", organisation_path(@organisation) %>
</div>
<section class="organisation-details">
  <%= tab_navigation_for(@organisation) do %>
    <%= render @feature_list, filter_by: [:title, :type, :author, :organisation] %>
  <% end %>
</section>
