<% page_title @organisation.name %>
<div class="organisation-header">
  <h1><%= @organisation.name %></h1>
  <%= view_on_website_link_for @organisation, url: { locale: I18n.default_locale } %>
</div>
<section class="organisation-details">
  <%= tab_navigation_for(@organisation) do %>
    <%= render @feature_list, filter_by: [:title, :type, :author, :organisation] %>
  <% end %>
</section>
