<% content_for :page_title, "Organisations" %>
<% content_for :context, organisation_context_block(current_user, @organisation)  %>
<% if can?(:create, Organisation) %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create organisation",
    href: new_admin_organisation_path,
    secondary_solid: true,
    margin_bottom: 6
  } %>
<% end %>

<% if @organisations.present? %>
  <div class="app-c-govuk-table--filterable app-view-organisation-index__table">
    <%= render "govuk_publishing_components/components/table", {
      filterable: true,
      label: "Filter organisations",
      head: [
        {
          text: "Acronym"
        },
        {
          text: "Name",
        },
        {
          text: "Type",
        },
        {
          text: "Status",
        },
        {
          text: "Link",
        }
      ],
      rows: organisation_index_rows(@user_organisation, @organisations.all)
    } %>
  </div>
<% else %>
  <p class="govuk-body">No organisation have been created.</p>
<% end %>
