<% content_for :page_title, "Organisations" %>
<% content_for :title, "Organisations" %>

<% if can?(:create, Organisation) %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create new organisation",
    href: new_admin_organisation_path,
    margin_bottom: 6
  } %>
<% end %>

<% if @organisations.present? %>
  <div class="govuk-table--with-actions"> <!-- app-c-govuk-table--filterable app-view-organisation-index__table -->
    <%= render "govuk_publishing_components/components/table", {
      filterable: true,
      label: "Filter by organisation name",
      head: [
        {
          text: "Name",
        },
        {
          text: "Status",
        },
        {
          text: tag.span("Actions", class: "govuk-visually-hidden"),
        }
      ],
      # rows: organisation_index_rows(@user_organisation, @organisations.all)
      rows: [
        [
          {
            text: "<span class=\"govuk-!-font-weight-bold\">S4C</span>".html_safe
          },
          {
            text: "exempt",
          },
          {
            text: "<a class=\"govuk-link\" href=\"#\">View <span class=\"govuk-visually-hidden\"></span></a><a class=\"govuk-link gem-link--destructive govuk-!-margin-left-3\" href=\"#\">Delete <span class=\"govuk-visually-hidden\"></span></a>".html_safe
          }
        ],
        # [
        #   {
        #     text: "<span class=\"govuk-!-font-weight-bold\">Admiralty Court</span>".html_safe
        #   },
        #   {
        #     text: "exempt",
        #   },
        #   {
        #     text: "<a class=\"govuk-link\" href=\"#\">View <span class=\"govuk-visually-hidden\"></span></a><a class=\"govuk-link gem-link--destructive govuk-!-margin-left-3\" href=\"#\">Delete <span class=\"govuk-visually-hidden\"></span></a>".html_safe
        #   }
        # ],
        [
          {
            text: "<span class=\"govuk-!-font-weight-bold\">Academy for Social Justice Commissioning</span>".html_safe
          },
          {
            text: "live",
          },
          {
            text: "<a class=\"govuk-link\" href=\"#\">View <span class=\"govuk-visually-hidden\"></span></a><a class=\"govuk-link gem-link--destructive govuk-!-margin-left-3\" href=\"#\">Delete <span class=\"govuk-visually-hidden\"></span></a>".html_safe
          }
        ],
        # [
        #   {
        #     text: "<span class=\"govuk-!-font-weight-bold\">Criminal Injuries Compensation Appeals Panel for Northern Ireland</span>".html_safe
        #   },
        #   {
        #     text: "exempt",
        #   },
        #   {
        #     text: "<a class=\"govuk-link\" href=\"#\">View <span class=\"govuk-visually-hidden\"></span></a><a class=\"govuk-link gem-link--destructive govuk-!-margin-left-3\" href=\"#\">Delete <span class=\"govuk-visually-hidden\"></span></a>".html_safe
        #   }
        # ],
        # [
        #   {
        #     text: "<span class=\"govuk-!-font-weight-bold\">The Reviewing Committee on the Export of Works of Art and Objects of Cultural Interest</span>".html_safe
        #   },
        #   {
        #     text: "closed",
        #   },
        #   {
        #     text: "<a class=\"govuk-link\" href=\"#\">View <span class=\"govuk-visually-hidden\"></span></a><a class=\"govuk-link gem-link--destructive govuk-!-margin-left-3\" href=\"#\">Delete <span class=\"govuk-visually-hidden\"></span></a>".html_safe
        #   }
        # ],
        [
          {
            text: "<span class=\"govuk-!-font-weight-bold\">Committee on Mutagenicity of Chemicals in Food, Consumer Products and the Environment</span>".html_safe
          },
          {
            text: "closed",
          },
          {
            text: "<a class=\"govuk-link\" href=\"#\">View <span class=\"govuk-visually-hidden\"></span></a><a class=\"govuk-link gem-link--destructive govuk-!-margin-left-3\" href=\"#\">Delete <span class=\"govuk-visually-hidden\"></span></a>".html_safe
          }
        ]
      ]
    } %>
  </div>
<% else %>
  <p class="govuk-body">No organisation have been created.</p>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var table = document.querySelector('table')
    var row = table.querySelector('table tbody tr');
    var cells = row.querySelectorAll('td');
    var widths = [];

    // Calculate values for the cell widths on load
    cells.forEach(function(cell) {
      widths.push(cell.offsetWidth / row.offsetWidth * 100 + '%');
    })

    console.log('widths: ', widths);

    // Apply the width values after the filter operation otherwise the first row may have been removed
    // Or apply it to the head
    // Though of course we can't be sure there is such a thing
    for(var i = 0; i < cells.length; i++) {
      cells[i].style.width = widths[i];
    }
  })
</script>
