<% page_title "Organisations" %>
<nav class="actions">
  <%= link_to "Create organisation", new_admin_organisation_path, class: "btn new_resource", title: "Create an organisation" %>
  <p class="warning">Do not create organisations without consulting GDS.</p>
</nav>

<h1>Organisation</h1>

<table class="organisations table table-striped">
  <thead>
    <tr>
      <th width="10%">Acronym</th>
      <th width="30%">Name</th>
      <th width="30%">Type</th>
      <th width="15%">Status</th>
      <th width="15%">Link</th>
    </tr>
  </thead>
  <tbody>
    <% if @user_organisation %>
      <%= render partial: 'organisation_row',
                locals: { organisation: @user_organisation, prefix: 'user' } %>
    <% end %>
    <% @organisations.each do |organisation| %>
      <%= render partial: 'organisation_row',
                locals: { organisation: organisation } %>
    <% end %>
    <% if @organisations.empty? %>
      <tr>
        <td colspan="3">No organisation have been created.</td>
      </tr>
    <% end %>
  </tbody>
</table>
