<% content_for :page_title, "Organisations" %>
<% content_for :title, "Organisations" %>

<% if can?(:create, Organisation) %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create new organisation",
    href: new_admin_organisation_path,
    margin_bottom: 6
  } %>
<% end %>

<% if @organisations.present? %>
  <div class="app-c-govuk-table--filterable app-view-organisation-index__table govuk-table--with-actions">
    <%= render "govuk_publishing_components/components/table", {
      filterable: true,
      label: "Filter by organisation name",
      head: [
        {
          text: "Name",
        },
        {
          text: "Status",
        },
        {
          text: tag.span("Actions", class: "govuk-visually-hidden"),
        }
      ],
      rows: organisation_index_rows(@user_organisation, @organisations.all)
    } %>
  </div>
<% else %>
  <p class="govuk-body">No organisation have been created.</p>
<% end %>
