<% page_title "Edit " + @organisation.name %>

<div class="row">
  <section class="col-md-8">
    <h1>Edit organisation</h1>
    <p class="warning">Warning: changes to organisations appear instantly on the live site.</p>
    <%= render partial: "legacy_form", locals: {organisation: @organisation, show_instantly_live_warning: true} %>
  </section>

  <div class="col-md-4">
    <%= render partial: "legacy_sidebar" %>
  </div>
</div>
