<% page_title "Organisations" %>
<h1>Organisations</h1>

<% if can?(:create, Organisation) %>
  <%= link_to "Create organisation", new_admin_organisation_path, class: "btn btn-default new_resource add-top-margin", title: "Create an organisation" %>
<% end %>

<table class="organisations table table-striped table-bordered add-top-margin">
  <thead>
    <tr class="table-header">
      <th width="10%">Acronym</th>
      <th width="30%">Name</th>
      <th width="30%">Type</th>
      <th width="15%">Status</th>
      <th width="15%">Link</th>
    </tr>
  </thead>
  <tbody>
    <% if @user_organisation %>
      <%= render partial: 'legacy_organisation_row',
                locals: { organisation: @user_organisation, prefix: 'user' } %>
    <% end %>
    <% @organisations.each do |organisation| %>
      <%= render partial: 'legacy_organisation_row',
                locals: { organisation: organisation } %>
    <% end %>
    <% if @organisations.empty? %>
      <tr>
        <td colspan="3">No organisation have been created.</td>
      </tr>
    <% end %>
  </tbody>
</table>
