<% page_title "New Organisation" %>
<div class="row">
  <section class="col-md-8">
    <h1>New organisation</h1>
    <%= render partial: "legacy_form", locals: {organisation: @organisation} %>
  </section>
  <div class="col-md-4">
    <%= render partial: "legacy_sidebar" %>
  </div>
</div>
