<% page_title "New Organisation" %>
<div class="span8">
  <section>
    <h1>New organisation</h1>
    <p class="warning">Do not create organisations without consulting GDS.</p>
    <%= render partial: "form", locals: {organisation: @organisation, show_consult_gds_warning: true} %>
  </section>
</div>

<div class="span4">
  <%= render partial: "sidebar" %>
</div>