<% content_for :page_title, @organisation.name %>
<% content_for :context, current_user.organisation == @organisation ? "My organisation" : "Organisation" %>
<% content_for :title, @organisation.name %>
<% content_for :title_margin_bottom, 4 %>

<p class="govuk-body"><%= view_on_website_link_for @organisation, class: "govuk-link", target: "blank" %></p>

<div class="govuk-!-margin-bottom-8">
  <%= render "components/secondary_navigation", {
    aria_label: "Document navigation tabs",
    items: secondary_navigation_tabs_items(current_user, @organisation, request.path)
  } %>
</div>

<%= render Admin::Organisations::Show::SummaryListComponent.new(
  organisation: @organisation,
  editable: can?(:edit, @organisation),
)%>
