<%
   heading ||= type.to_s.humanize
   filter_option = (heading == "Publications") ? "all" : heading.downcase
%>
<section id="<%= heading.downcase %>" class="document-block">
  <h1 class="label"><%= heading %></h1>
  <div class="content">
    <%= render partial: "shared/list_description_for_rummager_list", locals: { heading: heading, editions: documents, documents_count: documents_count, type: type } %>
    <p class="see-all">
    <%-
      see_more_url = public_send(
        "#{type}_filter_path",
        @classification,
        publication_filter_option: filter_option
      )
    %>
    <%=
      link_to(
        "See all #{heading.downcase}",
        see_more_url,
        data: {
          track_category: 'navPolicyAreaLinkClicked',
          track_action: "#{heading}",
          track_label: see_more_url,
          track_options: {
            dimension28: documents_count.to_s,
            dimension29: "See all #{heading.downcase}"
          }
        }
      )
    %>
    </p>
  </div>
</section>
