<% page_title "Topics" %>
<% page_class "classifications-index index-list-page" %>


<div class="block-1">
  <div class="inner-block">
    <header class="page-header js-filter-list">
        <h1 class="title">Topics</h1>
        <form class="js-filter-form"><label for="who-are-you-looking-for" class="label">What&nbsp;is the government<br />doing about <div><input name="who-are-you-looking-for" placeholder="Example: housing"> ?</div></label></form>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <% if @topics.any? %>
      <div class="heading-block js-filter-block">
        <div class="content">
          <%= render partial: "list", locals: { topics: @topics } %>
        </div>
      </div>
    <% else %>
      <p>We don't have any topics with published documents at present.</p>
    <% end %>
    <% if @topical_events.any? %>
      <div class="heading-block js-filter-block">
        <div class="head-section">
          <h1 class="label">Topical events</h1>
        </div>
        <div class="content">
          <%= render partial: "list", locals: { topics: @topical_events } %>
        </div>
      </div>
    <% end %>
    <div class="js-filter-no-results">
      <p>No topics match that filter.</p>
    </div>
  </div>
</div>
