<% page_title "Topics" %>
<% page_class "topics-index index-list-page" %>


<div class="block-1">
  <div class="inner-block">
    <header class="page-header">
        <h1 class="title">Topics</h1>
        <h2 class="label">What&nbsp;is the&nbsp;government doing&nbsp;about&hellip;</h2>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <div class="heading-block all-topics">
      <% if @topics.any? %>
        <div class="content">
          <%= render partial: "list", locals: { topics: @topics } %>
        </div>
      <% else %>
        <p>We don't have any topics with published documents at present.</p>
      <% end %>
    </div>
    <div class="heading-block all-topical_events">
      <% if @topical_events.any? %>
        <h1 class="label">Topical events</h1>
        <div class="content">
          <%= render partial: "list", locals: { topics: @topical_events } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
