<fieldset class="edition-specialist-sector-fields">
  <legend>Specialist topic tagging</legend>

  <p>
    <strong>Do not</strong> tag to a specialist topic unless your organisation maintains that topic page.
  </p>

  <%= form.label :primary_specialist_sector_tag, 'Primary specialist topic tag' %>
  <%= form.select :primary_specialist_sector_tag,
                  legacy_specialist_sector_options_for_select,
                  { include_blank: true },
                  class: 'chzn-select form-control',
                  data: {
                    "placeholder": 'Choose a primary specialist topic…',
                    "module": "track-select-click",
                    "track-category": "taxonSelectionPrimarySpecialist",
                    "track-label": request.path
                  } %>

  <%= form.label :secondary_specialist_sector_tags, 'Additional specialist topics' %>
  <%= form.select :secondary_specialist_sector_tags,
                  legacy_specialist_sector_options_for_select,
                  {},
                  multiple: true,
                  class: 'chzn-select form-control',
                  data: {
                    "placeholder": 'Choose additional specialist topics…',
                    "module": "track-select-click",
                    "track-category": "taxonSelectionAdditionalSpecialist",
                    "track-label": request.path
                  } %>
</fieldset>
