<% page_title @email_signup_information.title %>
<% page_class "email-signup-information-show" %>

<header class="headings-block">
  <div class="inner-block floated-children">
    <div class="heading">
      <div class="inner-heading">
        <h1><%= @email_signup_information.title %></h1>
      </div>
    </div>
  </div>
</header>

<div class="signup-list">
  <div class="inner-block">
    <ol>
      <% @email_signup_information.email_signup_pages.each do |page| %>
        <li><%= link_to(page.text, page.url) %> - <%= page.description %></li>
      <% end %>
    </ol>
  </div>
</div>
