<% page_title @email_signup_information.title %>
<% page_class "email-signup-information-show" %>

<div class="inner-block">
  <h1>
    <div class='category'>Email alert subscription</div>
    <%= @email_signup_information.title %>
  </h1>
</div>

<div class="inner-block">
  <p><%= @email_signup_information.summary %></p>
  <div class='choices'>
    <% @email_signup_information.email_signup_pages.each do |page| %>
    <h2><%= page.text %></h2>
    <p><%= page.description %></p>
    <% end %>
  </div>
</div>
