<% page_title @email_signup_information.title %>
<% page_class "email-signup-information-show" %>

<div class="inner-block">
  <%= render "govuk_publishing_components/components/title", {
    context: "Email alert subscription",
    title: @email_signup_information.title,
    margin_bottom: 4,
  } %>
</div>

<div class="inner-block">
  <p><%= @email_signup_information.summary %></p>
  <div class='choices'>
    <% @email_signup_information.email_signup_pages.each do |page| %>
      <%= render "govuk_publishing_components/components/heading", {
        text: page.text
      } %>
    <p><%= page.description %></p>
    <% end %>
  </div>
</div>
