<nav class="group sub_navigation" role="navigation">
  <ul>
    <li><%= world_location_navigation_link_to 'Home', world_location_path(world_location) %></li>
    <li><%= world_location_navigation_link_to 'About', about_world_location_path(world_location) %></li>
  </ul>
</nav>