{{#breadcrumbs}}
<div class="taxon-breadcrumb">
  <ol>
    {{#.}}
      <li>{{.}}</li>
    {{/.}}
  </ol>
  <button type="button"
          class="close deselect-taxon-button"
          aria-label="Remove">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/breadcrumbs}}
