<section>
  <h2>Specialist topic tags
    <% if edition.pre_publication? %>
      <%= link_to path_to_edit_specialist_topics, class: "btn btn-default pull-right" do %>
        <% if edition.has_legacy_tags? %>
          <span class="glyphicon glyphicon-edit"></span> Change specialist topic tags
        <% else %>
          <span class="glyphicon glyphicon-plus-sign"></span> Add specialist topic tags
        <% end %>
      <% end %>
    <% end %>
  </h2>
  <% if edition.has_legacy_tags? %>
    <div class="content content-bordered">
      <% if edition.has_primary_sector? %>
        <h4>Primary specialist topic</h4>
        <ul class="primary-specialist-sector">
          <li><%= specialist_sector_name(edition.primary_specialist_sector_tag) %></li>
        </ul>
      <% end %>
      <% if edition.has_secondary_sectors? %>
        <h4>Secondary specialist topic</h4>
        <ul class="secondary-specialist-sectors">
          <% specialist_sector_names(edition.secondary_specialist_sector_tags).each do |name| %>
            <li><%= name %></li>
          <% end %>
        </ul>

      <% end %>
    </div>
  <% else %>
    <div class="no-content no-content-bordered">
      <%= no_specialist_topics_message %>
    </div>
  <% end %>
</section>
