<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8 govuk-body" >
      <p>The topic taxonomy groups content based on what it’s about.</p>
      <p>Choose the tag or tags that best describe what this content is about.</p>
      <p>You can use the whole topic taxonomy. There's no limit to the number of tags you can choose.</p>
      <p><%= link_to "Find out more about tagging to the topic taxonomy", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#add-topic-tagging", class: "govuk-link", target: "_blank" %> (open in new tab)</p>
    </div>
    <div class="govuk-!-margin-bottom-8 govuk-body">
      <p><%= link_to "Suggest a new tag", "#{Whitehall.support_url}/taxonomy_new_topic_request/new", class: "govuk-link", target: "_blank" %> (open in new tab)</p>
      <p><%= link_to "Suggest a change to a tag", "#{Whitehall.support_url}/taxonomy_change_topic_request/new", class: "govuk-link", target: "_blank" %> (open in new tab)</p>
    </div>
  </div>
</div>
