@mixin topic-features {
  .featured-news {
    @extend %contain-floats;
    margin: 0 (-$gutter-half);

    article {
      width: $full-width;
    }

    &.items-1 {
      article {
        @include media(tablet) {
          float: left;
          width: $one-third;
        }
      }
    }

    &.items-3,
    &.items-4 {
      article {
        @include media(tablet) {
          width: $one-third;
          &.item-0,
          &.item-1 {
            width: $half;
            float: left;
          }
        }
      }
      .item-2 {
        clear: left;
      }
    }

    &.items-2,
    &.items-5 {
      article {
        @include media(tablet) {
          width: $one-third;
          float: left;
        }
      }
      .item-3 {
        clear: left;
      }
    }
  }
}
