<% content_for :page_title, "Connect document" %>
<% content_for :context, @statistics_announcement.title %>
<% content_for :title, "Connect document" %>
<% content_for :title_margin_bottom, 6 %>
<% content_for :error_summary, render(Admin::ErrorSummaryComponent.new(object: @statistics_announcement)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: admin_statistics_announcement_publication_index_path(@statistics_announcement), method: :get do |form| %>
      <%= render "govuk_publishing_components/components/search", {
        name: "search",
        value: params[:search],
        label_text: "Search by title or slug",
        label_size: "l",
      } %>
    <% end %>

    <% if @editions %>
      <p class="govuk-table__caption--m"><%= @editions.length.to_s + " document".pluralize(@editions.length) %></p>
      <%= render "govuk_publishing_components/components/table", {
        id: 'table',
        rows:
          @editions.map do |edition|
            [{
               text: edition.title
             },
             {
               text: link_to("View", admin_edition_path(edition), class: "govuk-link")
             },
             {
               text: link_to("Connect", admin_statistics_announcement_publication_connect_path(@statistics_announcement, edition, search: params[:search]) , class: "govuk-link")
             }]
          end
    } %>
    <% end %>
  </div>
</div>
