<fieldset>
  <%= form.label :attach_file, 'Attachment' %>
  <%= form.file_field :attach_file %>
  <% unless document.new_record? %>
    <% document.attachments.each do |attachment| %>
      <p class="attachment"><%= link_to_attachment(attachment) %></p>
    <% end %>
  <% end %>
</fieldset>