<article class="document_view">
  <h1 class="title"><%= document.title %></h1>
  <div class="body">
    <%= govspeak_to_admin_html document.body %>
  </div>
  <% if document.allows_attachment? %>
    <p class="attachment"><%= link_to_attachment(document.attachment) %></p>
  <% end %>
  <p class="written_by">Written by <span class="author"><%= document.author.name %></span></p>
</article>
