<% if document.editorial_remarks.any? %>
  <section id="editorial_remarks" class="container">
    <h1>Editorial remarks</h1>
    <ul>
      <% document.editorial_remarks.each do |editorial_remark| %>
        <li class="editorial_remark">
          <span class="author"><%= editorial_remark.author.name %></span>
          wrote
          <%= render_datetime_microformat(editorial_remark, :created_at) do %>
            <%= time_ago_in_words(editorial_remark.created_at) %> ago:
          <% end %>
          <div class="body"><%= editorial_remark.body %></div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>