<% if document.can_be_fact_checked? && document.fact_check_requests.completed.any? %>
<section class="container">
  <h1>Fact checking responses</h1>
  <ul id="fact_check_requests">
    <% document.fact_check_requests.completed.each do |fact_check_request| %>
      <li class="fact_check_request">
        <div class="details">
          <span class="from"><%= fact_check_request.email_address %></span>
          on
          <span class="time"><%= fact_check_request.updated_at.to_s(:long_ordinal) %></span>
          wrote:
        </div>
        <div class="comments">
          <%= format_in_paragraphs fact_check_request.comments %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
<% end %>