<section id="govspeak_help" class="govspeak_help">
  <h1>Govspeak Help</h1>
  <div class="g1 first">
    <h2>Headers</h2>
    <pre># This is an &lt;h1&gt; tag
## This is an &lt;h2&gt; tag
### This is an &lt;h3&gt; tag</pre>
    <h2>Text Styles</h2>
    <pre>*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__

*You **can** combine them*</pre>
    <h2>Blockquotes</h2>
    <pre>As the P.M. said:

> Rule Britannia!
> Britannia rule the waves!</pre>
  </div>

  <div class="g1">
    <h2>Unordered List</h2>
    <pre>* Item 1
* Item 2
  * subitem
  * another subitem</pre>
    <h2>Ordered List</h2>
    <pre>1. Item 1
2. Item 2
3. Item 3
   * subitem
   * another subitem</pre>
   <h2>Tables</h2>
   <pre>| name | colour |
|--------|-------|
| apple | green |
| banana | yellow |</pre>
  </div>

  <div class="g1">
    <h2>Links</h2>
    <pre>[Text](url)

e.g. The [UK](http://gov.uk) is...</pre>
    <h2>Images</h2>
    <p>First upload your image(s), then:</p>
    <pre>!!<em>n</em></pre>
    <p>e.g. for the first image:</p>
    <pre>!!1</pre>
    
    <h2>Footnotes</h2>
    <pre>This is a text with a footnote[^1].

[^1]: And here is the definition.</pre>
  </div>

</section>