<fieldset>
  <%= form.label :nation_ids, 'Applicable Nations' %>
  <span class="description">England is always applicable</span>
  <%= form.select :nation_ids, options_from_collection_for_select(Nation.except_england.all, 'id', 'name', document.nation_ids), {}, multiple: true %>
</fieldset>