<h1 class="title"><%= document.title %></h1>
<% unless document.summary.blank? %>
    <section class="summary">
    <%= document.summary %>
  </section>
<% end %>
<div class="body">
  <%= govspeak_to_admin_html document.body %>
</div>
<% if document.respond_to?(:image) && document.image.present? %>
  <div class="image">
    <%= image_tag(document.image_url) %>
  </div>
<% end %>