<h1 class="title"><%= document.title %></h1>
<% unless document.summary.blank? %>
  <div class="summary">
    <%= document.summary %>
  </div>
<% end %>
<div class="body">
  <% if document.respond_to?(:image) && document.image.present? %>
    <div class="img">
      <%= image_tag(document.image_url) %>
    </div>
  <% end %>
  <%= govspeak_to_admin_html document.body %>
</div>