<% if @conflicting_document %>
  <div class="first">
    <section>
      <h1>Edit policy</h1>

      <div class="alert">
        <p>This document has been updated by another user since you started editing it.</p>
        <p>Please review conflicts between the two versions and incorporate any changes before pressing save again.</p>
      </div>

      <div class="conflicting new g-half first">
        <h2>Your version of the policy</h2>
        <%= render partial: "form", locals: {document: @document} %>
      </div>

      <div class="conflicting latest g-half">
        <h2>Current saved version</h2>
        <%= render partial: "conflict", locals: {document: @conflicting_document} %>
      </div>

    </section>
  </div>
<% else %>
  <div class="g2 first">
    <section>
      <h1>Edit policy</h1>
      <%= render partial: "form", locals: {document: @document} %>
    </section>
  </div>
<% end %>