<% page_title "#{@worldwide_office.name} Appointment: #{@worldwide_office_appointment.job_title}" %>
<h1><%= @worldwide_office.name %> Appointment</h1>

<%= render "form", worldwide_office: @worldwide_office, worldwide_office_appointment: @worldwide_office_appointment %>
