<div class="app-c-content-block-manager-default-block">
  <%= render "govuk_publishing_components/components/summary_card", {
    title: "Default block",
    rows: [
      {
        key: "Block content",
        value: block_content,
        data: data_attributes,
      },
      {
        key: "Embed code",
        value: embed_code_row_value,
      },
    ],
  } %>
</div>
