
<!-- TODO: The prototype wants to show a counter beneath the title but
before the table, the existing component doesn't support that so I've left
it out for now-->
<div class="app-c-host-editions-table" id="<%= TABLE_ID %>">
  <%= render "govuk_publishing_components/components/table", {
    caption:,
    caption_classes: "govuk-heading-l",
    head:,
    rows:,
  } %>

  <% if total_pages > 1 %>
    <% Admin::PaginationHelper.pagination_hash(current_page:, total_pages:, path: base_pagination_path).tap do |hash| %>
      <%= render "components/pagination", {
        previous_href: hash[:previous_href],
        next_href: hash[:next_href],
        items: hash[:items],
      } %>
    <% end %>
  <% end %>
</div>
