<% content_for :context, @social_media_account.service_name %>
<% content_for :page_title, "Delete social media account" %>
<% content_for :title, "Delete social media account" %>
<% content_for :title_margin_bottom, 6 %>

<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds">
    <%= form_with url: polymorphic_path([:admin, @socialable, @social_media_account]), method: :delete do %>
      <p class="govuk-body govuk-!-margin-bottom-7">Are you sure you want to delete "<%= @social_media_account.service_name %>"?</p>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Delete",
          destructive: true,
        } %>

        <%= link_to("Cancel", polymorphic_path([:admin, @socialable, :social_media_accounts]), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </section>
</div>
