<% page_title "New social media account for: #{@socialable.name}" %>
<h1>New Social Media Account</h1>

<%= render partial: "legacy_form", locals: {social_media_account: @social_media_account, socialable: @socialable} %>
