<% offices = Embassy.filter_offices(organisation) -%>
<% if offices.any? -%>
  <li class="govuk-!-margin-bottom-4">
    <%= render "govuk_publishing_components/components/heading", {
      text: offices.first.contact.locality,
      heading_level: 3,
      margin_bottom: 1
    } %>
    <%= link_to(organisation.name, worldwide_organisation_path(organisation.slug), class: "govuk-link") %>
  </li>
<% end -%>
