<% offices = Embassy.filter_offices(organisation) %>
<% if offices.any? %>
  <li>
    <%= render "govuk_publishing_components/components/heading", {
      text: ERB::Util.html_escape(offices.first.contact.locality),
      heading_level: 3,
      margin_bottom: 1
    } %>
    <%= link_to(organisation.name, organisation.public_path(locale: I18n.default_locale), class: "govuk-link") %>
  </li>
<% end %>
