<div class="format-advice">
  <p><strong>Use this format for:</strong> Continuously curated, permanent lists of closely related documents for a specific audience – not just by subject.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>

    <fieldset>
      <legend>Associations</legend>
      <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
      <%= render partial: 'topical_event_fields', locals: { form: form, edition: edition } %>
    </fieldset>
  <% end %>
<% end %>
