<h1>New document collection</h1>

<%= form_for [:admin, @document_collection.organisation, @document_collection] do |form| %>
  <%= form.text_field :name %>

  <%= form.save_or_cancel cancel: admin_organisation_path(@document_collection.organisation) %>
<% end %>
