<% page_title "#{@document_collection.name}", "Document collection" %>

<h1><%= @document_collection.name %></h1>


<%= link_to "Edit", edit_admin_organisation_document_collection_path(@document_collection.organisation, @document_collection), class: "btn" %>
