<% page_title "Grid" %>

<style>
  .grid_outline {
    _word-wrap: break-word;
  }
</style>

<div class="grid_outline">
  <div class="g3">
    <section class="grid_content_holder"><h1>3 Column (with gutter)</h1></section>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g2">
      <section class="grid_content_holder"><h1>2 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g-half">
      <section class="grid_content_holder"><h1>Half a column (with gutter)</h1></section>
    </div>

    <div class="g-half">
      <section class="grid_content_holder"><h1>Half a column (with gutter)</h1></section>
    </div>
  </div>

  <div class="g3f space">
    <section class="grid_content_holder"><h1>3 Column (flooded)</h1></section>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g2">
      <section class="grid_content_holder"><h1>2 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g-half">
      <section class="grid_content_holder"><h1>Half a column (with gutter)</h1></section>
    </div>

    <div class="g-half">
      <section class="grid_content_holder"><h1>Half a column (with gutter)</h1></section>
    </div>
  </div>

  <div class="g3f space">
    <section class="grid_content_holder"><h1>3 Column (flooded)</h1></section>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g2f">
      <section class="grid_content_holder"><h1>2 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g-half-flood">
      <section class="grid_content_holder"><h1>Half a column (flooded)</h1></section>
    </div>

    <div class="g-half-flood">
      <section class="grid_content_holder"><h1>Half a column (flooded)</h1></section>
    </div>
  </div>

  <div class="g4 space">
    <section class="grid_content_holder"><h1>4 Column (with gutter)</h1></section>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g2">
      <section class="grid_content_holder"><h1>2 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g3">
      <section class="grid_content_holder"><h1>3 Column (with gutter)</h1></section>
    </div>

    <div class="g1">
      <section class="grid_content_holder"><h1>1 Column (with gutter)</h1></section>
    </div>

    <div class="g-half">
      <section class="grid_content_holder"><h1>Half a column (with gutter)</h1></section>
    </div>

    <div class="g-half">
      <section class="grid_content_holder"><h1>Half a column (with gutter)</h1></section>
    </div>
  </div>

  <div class="g4f space">
    <section class="grid_content_holder"><h1>4 Column (flooded)</h1></section>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g2f">
      <section class="grid_content_holder"><h1>2 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g3f">
      <section class="grid_content_holder"><h1>3 Column (flooded)</h1></section>
    </div>

    <div class="g1f">
      <section class="grid_content_holder"><h1>1 Column (flooded)</h1></section>
    </div>

    <div class="g-half-flood">
      <section class="grid_content_holder"><h1>Half a column (flooded)</h1></section>
    </div>

    <div class="g-half-flood">
      <section class="grid_content_holder"><h1>Half a column (flooded)</h1></section>
    </div>
  </div>


</div>
