<div id="content" class="g4f">
  <% page_title "Sunset" %>
  <% page_class "inside_gov_sunset" %>
  <section class="page-header g4f">
    <h1 class="page-title g4">INSIDE GOVERNMENT SUNSET</h1>
    <p class="g4">The beta is now finished.</p>
  </section>
</div>