<div id="sunset-content">
  <style type="text/css">
    #whitehall-wrapper #global-nav {
      display: none!important;
    }
  </style>
  <% page_title "Sunset" %>
  <% page_class "inside_gov_sunset" %>
  <div class="block-1">
    <div class="inner-block">
      <section class="page_header">
        <h1 class="page-title">INSIDE GOVERNMENT Beta</h1>
      </section>
    </div>
  </div>
  <div class="block-2">
    <div class="inner-block">
      <p>The public phase of the INSIDE GOVERNMENT beta has now closed (that's the bit of GOV.UK which will bring together all the information currently published on separate websites by every government organisation). </p>

      <p>The site ran in public for 6 weeks, from 28 Feb to 11 April, with ten government departments keeping the site up to date at the same time as managing their existing websites. We can't ask them to do that forever, and that's why this part of the GOV.UK beta was only 'live' for a limited time. </p>

      <p>Members of the public can still <a href="http://digital.cabinetoffice.gov.uk/2012/02/28/introducing-the-next-phase-of-the-gov-uk-beta/">read the blog post</a> which accompanied the release.</p>

      <p>Government employees can still access the INSIDE GOVERNMENT beta - ask your head of digital communications for the link and password. </p>

      <h2>What next?</h2>

      <p>We have received a lot of useful feedback - enormous thanks to everyone who commented - and tested the site with a range of users. We have shared a summary of our findings via our <a href="http://digital.cabinetoffice.gov.uk/2012/05/14/feedback-isnt-just-for-cobain-and-hendrix-what-we-heard-from-the-inside-government-beta/">blog</a>. </p>

      <p>We are now continuing to develop the site, getting it ready to begin replacing the separate websites of government organisations.</p>
    </div>
  </div>
</div>