<section id="country_disclaimer" class="g4 beta_disclaimer">
  <h1>BETA</h1>
  <p>
    This is a test website.
    <% if country.urls.any? %>
      <% if country.urls.length == 1 %>
        The official website remains
      <% else %>
        The official websites remain
      <% end %>
      <%= country.urls.map { |u| link_to u, u }.to_sentence.html_safe %>.
    <% end %>
  </p>
</section>
