<section id="country_disclaimer" class="g4 beta_disclaimer">
  <h1>BETA</h1>
  <p>This is a test website.
    The official website remains <%= link_to "http://ukin#{country.name.downcase}.fco.gov.uk/", "http://ukin#{country.name.downcase}.fco.gov.uk/" %>.
  </p>
</section>