<section class="alphabetical-list" id="countries">
  <h1 class="label">All countries, territories &amp; delegations</h1>
  <% countries.group_by {|c| c.name.first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <% row.each do |letter, countries_group| %>
      <div class="alphabetical-row" id="countries_<%= letter.downcase %>">
        <h2 class="alphabetical-list-letter"><%= letter %></h2>
        <%= render partial: "list", locals: { countries: countries_group } %>
      </div>
    <% end %>
  <% end %>
</section>