<% page_title "UK and the world" %>
<% page_class "countries-index" %>

  <div class="block-1">
    <div class="inner-block">
      <header class="page_header countries">
        <h1 class="page_title">UK and the world</h1>
        <p class="explanation">The UK government&rsquo;s priorities and interests overseas</p>
      </header>
    </div>
  </div>

  <% if @featured_country %>
  <div class="block-2">
    <div class="inner-block">
      <section class="featured_items" id="featured-countries">
        <%= content_tag_for(:div, @featured_country, class: 'featured') do %>
          <img alt="Country image - Spain" src="/government/assets/spain.png" />
          <h2><%= link_to @featured_country.name, country_path(@featured_country), class: "name" %></h2>
          <p class="summary description">
            <%= @featured_country.description %>
          </p>
        <% end %>
      </section>
    </div>
  </div>
  <% end %>


  <div class="block-3">
    <div class="inner-block">
      <%= render partial: "grouped_list", locals: {countries: @countries} %>
    </div>
  </div>