<% page_title "UK in the world" %>

<div class="g3f">
  <section class="page_header countries">
    <h1 class="page_title">UK in the world</h1>
  </section>
</div>

<div class="g3">
  <%= render partial: "grouped_list", locals: {countries: @countries} %>
</div>