<div class="g2">
  <h1 class="country"><%= @country.name %></h1>
</div>

<div class="g1 secondary">
  <%= render partial: "documents/news_articles", object: @news_articles %>
  <%= render partial: "documents/speeches", object: @speeches %>
  <%= render partial: "documents/policies", object: @policies %>
</div>