<aside class="lead-image-sidebar sidebar">
  <figure class="image embedded">
    <div class="img"><%= image_tag document.lead_image_path, alt: document.lead_image_alt_text %></div>
    <% if document.lead_image_caption.present? %>
      <figcaption><%= document.lead_image_caption %></figcaption>
    <% end %>
  </figure>
</aside>
