<% page_title "Case studies" %>
<% page_class "case-studies-index index-list-page" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header case-study icon">
      <h1 class="title">Case studies</h1>
      <h2 class="label">Real&ndash;life examples of government activity</h2>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section id="case_studies" class="announcements group index-list-container">
      <% if @case_studies.any? %>
        <ul class="index-list">
          <% @case_studies.each do |case_study| %>
            <%= content_tag_for(:li, case_study, class: 'title') do %>
            <%= link_to case_study.title, public_document_path(case_study) %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>
  </div>
</div>
