<% page_title "Case studies" %>
<% page_class "case-studies-index index-list-page" %>

<header class="block headings-block">
  <div class="inner-block floated-children">
    <%= render partial: 'shared/heading',
              locals: { type: 'Case studies',
                        heading: "Real-life examples of government activity",
                        big: true, extra: true } %>
  </div>
</header>

<div class="block-2">
  <div class="inner-block">
    <section id="case_studies" class="announcements group index-list-container">
      <% if @case_studies.any? %>
        <ul class="index-list">
          <% @case_studies.each do |case_study| %>
            <%= content_tag_for(:li, case_study, class: 'title') do %>
            <%= link_to case_study.title, public_document_path(case_study) %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>
  </div>
</div>
