=render :partial => 'index_heading'

%section.resource_list
  %h1 Drafts
  =link_to "Draft new Policy", new_admin_policy_path, :class => "button new_resource"

  %table#draft_policies
    %thead
      %tr
        %th Title
        %th Author
        %th.actions Actions
    %tbody
      - @policies.each do |policy|
        %tr.policy
          %td.title= policy.title
          %td.author= policy.author.name
          %td.actions
            = link_to 'Edit', edit_admin_policy_path(policy), :title => "Edit #{policy.title}"
