// this is from the Home Office Design System
// https://design.homeoffice.gov.uk/design-system/components?name=Loading%20spinner

.hods-loading-spinner {
  @include govuk-responsive-padding(4, "top");

  &__spinner {
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #dee0e2;
    border-radius: 50%;
    border-top-color: govuk-colour("blue");
    width: 80px;
    height: 80px;
    -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
    animation: hods-loading-spinner-animation 2s linear infinite;
  }

  &__content {
    text-align: center;
    @include govuk-responsive-padding(4, "top");
  }
}

@-webkit-keyframes hods-loading-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes hods-loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
