.app-c-select-with-search {
  //
  // A theme for Choices.js styled to look like a GOV.UK Design System component
  //
  $background: #ffffff;
  $focus-color: $govuk-focus-colour;
  $focus-outline: $govuk-focus-width solid $govuk-focus-colour;

  .choices * {
    // Something inside .choices needs this – I'm not sure what yet
    box-sizing: border-box;
  }

  .choices {
    @include govuk-font($size: 19);
    position: relative;
    margin-bottom: 24px;
  }

  .choices:focus {
    outline: none;
  }

  .choices:last-child {
    margin-bottom: 0;
  }

  // Disabled state
  .choices.is-disabled {
    .choices__inner,
    .choices__input {
      background-color: #eaeaea;
      cursor: not-allowed;
      -webkit-user-select: none;
      user-select: none;
    }

    .choices__item {
      cursor: not-allowed;
    }
  }

  // This is an intentionally high specificity selector to avoid using !important when targetting
  // the <select hidden> element that would otherwise end up picking up `display: block` from the
  // `.choices[data-type*="select-one"] .choices__input` rule below.
  .choices .choices__inner select[hidden] {
    display: none;
  }

  // Type: Single Select
  .choices[data-type*="select-one"] {
    cursor: pointer;

    .choices__input {
      display: block;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #dddddd;
      background-color: $background;
      margin: 0;
    }

    .choices__button {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='evenodd'%3E%3Cpath d='M2.592.044l18.364 18.364-2.548 2.548L.044 2.592z'/%3E%3Cpath d='M0 18.364L18.364 0l2.548 2.548L2.548 20.912z'/%3E%3C/g%3E%3C/svg%3E");
      padding: 0;
      background-size: 8px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -10px;
      margin-right: 25px;
      height: 20px;
      width: 20px;
      border-radius: 10em;
      opacity: .25;

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:focus {
        outline: $focus-outline;
      }
    }

    .choices__item[data-value=""] .choices__button {
      display: none;
    }

    // Dropdown arrow ▼
    &:after {
      content: "";
      height: 0;
      width: 0;
      border-style: solid;
      border-color: #333333 transparent transparent;
      border-width: 5px;
      position: absolute;
      right: 11.5px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
    }

    &.is-open:after {
      border-color: transparent transparent #333333;
      margin-top: -7.5px;
    }

    &[dir="rtl"]:after {
      left: 11.5px;
      right: auto;
    }

    &[dir="rtl"] .choices__button {
      right: auto;
      left: 0;
      margin-left: 25px;
      margin-right: 0;
    }
  }

  // Type: Select Multiple / Text
  .choices[data-type*="select-multiple"],
  .choices[data-type*="text"] {
    .choices__inner {
      cursor: text;
    }

    // Delete button X
    .choices__button {
      position: relative;
      top: -2px;
      display: inline-block;
      margin-top: 0;
      margin-right: -4px;
      margin-bottom: 0;
      margin-left: 8px;
      padding-left: 16px;
      border-left: 1px solid #929191;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230b0c0c' fill-rule='evenodd'%3E%3Cpath d='M2.592.044l18.364 18.364-2.548 2.548L.044 2.592z'/%3E%3Cpath d='M0 18.364L18.364 0l2.548 2.548L2.548 20.912z'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 12px;
      width: 12px;
      height: 100%;
      line-height: 1;
      opacity: .75;
      border-radius: 0;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  .choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: $background;
    padding: 5px;
    border: 2px solid #0b0c0c;
    font-size: 19px;
    min-height: 44px;
    overflow: hidden;
  }

  &.govuk-form-group--error .choices:not(.is-active, .is-focused, .is-open) .choices__inner {
    border-color: $govuk-error-colour;
  }

  .choices.is-focused .choices__inner,
  .choices.is-open .choices__inner {
    outline: $focus-outline;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }

  .choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .choices__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%;
  }

  [dir="rtl"] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
  }

  .choices__list--single .choices__item {
    width: 100%;
  }

  .choices__list--multiple {
    display: inline;
  }

  .choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 10px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: #f3f2f1;
    box-shadow: 0 2px 0 #929191;
    line-height: 1;
    color: #0b0c0c;
    word-break: break-all;
    box-sizing: border-box;

    &[data-deletable] {
      padding-right: 5px;
    }

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 3.75px;
    }

    &.is-highlighted {
      background-color: $govuk-focus-colour;
    }

    .is-disabled & {
      background-color: #aaaaaa;
      border: 1px solid #919191;
    }
  }

  // Dropdown
  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
    background-color: $background;
    border: 2px solid #0b0c0c;
    border-top-width: 0;
    top: 100%;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility;

    &.is-active {
      visibility: visible;
    }

    .is-flipped & {
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: -1px;
      border-top-width: 2px;
      border-bottom-width: 0;
    }
  }

  .choices__list--dropdown .choices__list,
  .choices__list[aria-expanded] .choices__list {
    position: relative;
    max-height: 310px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    position: relative;
    padding: 10px;
    font-size: 19px;
    border-bottom: 1px solid #b1b4b6;

    &:last-child {
      border-bottom: 0;
    }

    &:nth-of-type(even) {
      background-color: #fafafa;
    }

    [dir="rtl"] & {
      text-align: right;
    }
  }

  @media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
      padding-right: 100px;
    }

    .choices__list--dropdown .choices__item--selectable:after,
    .choices__list[aria-expanded] .choices__item--selectable:after {
      content: attr(data-select-text);
      font-size: 12px;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    [dir="rtl"] .choices__list--dropdown .choices__item--selectable,
    [dir="rtl"] .choices__list[aria-expanded] .choices__item--selectable {
      text-align: right;
      padding-left: 100px;
      padding-right: 10px;
    }

    [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after,
    [dir="rtl"] .choices__list[aria-expanded] .choices__item--selectable:after {
      right: auto;
      left: 10px;
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #275ca0;
    border-color: #275ca0;
    color: #ffffff;
    outline: none;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted:after,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted:after {
    opacity: .5;
  }

  .choices__item {
    cursor: default;
  }

  .choices__item--selectable {
    cursor: pointer;
  }

  .choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
    opacity: .5;
  }

  .choices__heading {
    font-weight: 600;
    font-size: 19px;
    padding: 30px 10px 10px;
    border-bottom: 1px solid #b1b4b6;
    background: $background;
    cursor: default;
  }

  .choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .choices__button:focus {
    outline: none;
  }

  .choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: $background;
    font-size: 19px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;

    &:focus {
      outline: 0;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    [dir="rtl"] & {
      padding-right: 2px;
      padding-left: 0;
    }
  }

  .choices__placeholder {
    color: #757575;
  }
}
