.app-c-summary-card {
  .govuk-summary-list__key, .govuk-summary-list__actions {
    vertical-align: top;
  }

  img {
    display: block;
  }

  .govuk-summary-card__action:not(:first-child):not(:last-child) {
    padding-left: govuk-spacing(2);
  }
}
