<div class="historic-people-index__section-row-header" role="list">
  <% past_foreign_secretaries_image.each_slice(4) do |row| %>
  <div class="govuk-grid-row">
    <% row.each do | name, info| %>
      <div role="listitem" class="govuk-grid-column-one-quarter">
        <%= render "govuk_publishing_components/components/image_card", {
          href: info[:href],
          image_src: image_path(info[:image_src]),
          image_loading: "lazy",
          heading_text: info[:heading_text],
          heading_level: 3,
          extra_details: service_date(info[:service]),
          extra_details_no_indent: true
        } %>
      </div>
    <%end%>
  </div>
  <% end %>
<div>
