<% page_title "History of Sir Austen Chamberlain" %>
<% page_class "historic-people-show" %>

<%= render layout: 'show_person', locals: { current_person: 'austen-chamberlain' } do %>
  <div class="name-title">
    <div class="inner">
      <h2>Sir Austen Chamberlain <span>Foreign Secretary June 1924 to June 1929</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/austen-chamberlain.jpg', alt: 'Sir Austen Chamberlain' %>
        <h3>Lived</h3>
        <p>1863 to 1937</p>
        <h3>Dates in office</h3>
        <p>June 1924 to June 1929</p>
        <h3>Political party</h3>
        <p>Conservative</p>
        <h3>Interesting facts</h3>
        <p>A Nobel Peace Prize winner who tried to prevent further war in Europe.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">&ldquo;In appearance, costume, method of speech, he seemed almost a survival. His top hat, his eyeglass, his exquisite courtesy and his rotund oratory marked him out from his colleagues.&rdquo;</p>
      <p>These were the words of one backbencher about Austen Chamberlain, a Conservative statesman and former Foreign Secretary, in his later years. His career was overshadowed firstly by the character of his father, Joseph Chamberlain, a pioneering Lord Mayor of Birmingham and prominent tariff reformer, and later by the &lsquo;peace in our time&rsquo; that his half-brother Neville, Prime Minister between 1937 and 1940, tried to ensure.</p>
      <h3>The Locarno Pact</h3>
      <p>Austen Chamberlain, Foreign Secretary in Stanley Baldwin’s Conservative government from 1924 &ndash; 1929, is best remembered as the author of the Locarno Pact of 1925. After the Treaty of Versailles in 1919, Europe was still very unsettled. France regarded Germany as a potential enemy. Germany felt wronged by the treaty &ndash; particularly the &lsquo;war guilt&rsquo; clause. In 1924 the League of Nations was promoting the Geneva Protocol, aimed at strengthening the League and penalising countries going to war, and the French wanted a treaty with the British as protection against Germany. As a Francophile, Chamberlain was in favour of this, but he realised that the government would not support any proposal that increased British commitments.</p>
      <p>As an alternative to either the Geneva Protocol or an Anglo-French Treaty, Chamberlain put forward the German idea of a Pact of Mutual Guarantee. This meant that a number of neutral countries would intervene with military force if any one of Germany, France or Belgium violated their mutual frontiers. The process aimed to bring Germany back into the diplomatic fold, with a position as council member of the League of Nations. Austen regarded it as a guarantee of peace rather than a commitment.</p>
      <p>Negotiations were held in the Italian resort of Locarno, on Lake Maggiore, led by Chamberlain. His natural courtesy helped him and he showed great attention to details.   For example, he requested that the table for the Locarno conference should place no country above any other. Most of the negotiating was done in small groups in hotels, &lsquo;tea party diplomacy&rsquo; as it was named, rather than in large groups.</p>
      <p>As Chamberlain said at the time, Locarno was the beginning of a process. However, many people regarded it as the &lsquo;beginning of the great peace&rsquo;. The atmosphere of the conference was one of hope. Chamberlain, with his characteristic loyalty, remained favourably disposed towards the people present, including Mussolini, for the rest of his life. He emphasised strongly that the good will shown at the conference was evidence of the wish for peace. The treaty was later ratified in the Foreign Office&rsquo;s grandest reception rooms, still known today as the Locarno Suite.</p>
      <h3>Chamberlain’s overconfidence</h3>
      <p>Chamberlain had an uneasy relationship with the League of Nations. For example, he insisted on attending league meetings, although attendance was the responsibility of another Foreign Office Minister, Lord Robert Cecil. While his attendance encouraged other European countries to feel that Britain took the League seriously he often seemed condescending. He recognised that the British position was unpopular but was unaware that his own performance contributed to this.</p>
      <p>Chamberlain was pleased with the generous praise following Locarno but began to see himself as the only person in government able to resolve international disputes with diplomacy.</p>
      <p>This overconfidence later caused problems, such as when he agreed a disarmament treaty with France in 1928 and announced it in Parliament without agreeing the principle with the Cabinet. The agreement was highly preferential to the French as Austen had let his friend, the French Foreign Minister Aristide Briand, amend it as he wished. However, the treaty was disliked by the Americans and Germans who regarded it as a semi-military agreement.</p>
      <p>In advocating Locarno, Chamberlain was not primarily concerned with German sensitivities, but with stability in western Europe. His relationship with the Germans was never good, despite his respect for Gustav Stresemann, the German Foreign Minister. This aversion had developed during a visit to Germany as far back as 1887, before he entered politics; he disliked the German character and was concerned that the Germans thought themselves superior. This meant that Austen Chamberlain was one of the first Britons to distrust Hitler.</p>
      <p>Although Locarno was considered a success at the time, later criticism pointed out that it did not deliver peace. Poland and Czechoslovakia were concerned that the lack of a mutual assurance treaty for their borders amounted to an invitation to invade. Chamberlain had not supported the inclusion of Germany&rsquo;s eastern borders; it was, he said (adapting Bismarck&rsquo;s famous phrase), something for which &ldquo;no British government ever will or ever can risk the bones of a British Grenadier&rdquo;.</p>
      <h3>The final years in office</h3>
      <p>Chamberlain was in the Foreign Office for nearly 4 years after Locarno was signed, but had few other notable achievements. His time was taken up with issues outside Europe, in particular China and Egypt. It is not clear whether his interest in politics was ever so strongly engaged again.</p>
      <p>During the post&ndash;Locarno years his health deteriorated. Diplomatic relations with the Americans, Egyptians, Chinese and Soviets degenerated, although this cannot be wholly attributed to Chamberlain. He left office in 1929 with the change of government, but always wanted to return to the Foreign Office.</p>
      <p>Austen Chamberlain had a number of strengths, but some of these had unfortunate consequences. He behaved with integrity, but was taken by surprise when others failed to do so. He was intrinsically loyal, but would often back particularly unpopular people, or give too much leeway to people he liked, such as French Foreign Minister Briand. He fostered good relations with the French, who trusted him, but was dismissive of the Americans. His attention to detail included a desire for control that meant that he undermined others, such as his colleague Robert Cecil. In effect, he was very supportive and helpful to friends, but effectively blind to everything and everyone else.</p>    

      <h3>Further reading</h3>
      <ul>
        <li>Austen Chamberlain: Gentleman in politics by David Dutton (Ross Anderson Publications, 1985)</li>
        <li>Choose Your Weapons by Douglas Hurd (Orion Books, 2010)</li>
      </ul>
    </div>
  </div>
<% end %>