<% page_title "History of Charles James Fox" %>
<% page_class "historic-people-show" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history">History</a>
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block historic-people-list">
  <div class="inner-block">
    <a href="#contents" class="js-showhide contents-toggle">Show past Foreign Secretaries</a>
    <div id="contents">
      <ol>
        <li><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley&nbsp;Wood</a></li>
        <li><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-curzon">George Nathaniel Curzon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey</a></li>
        <li><a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty–Fitzmaurice</a></li>
        <li><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon</a></li>
        <li>Charles James Fox</li>
        <li><a href="/government/history/past-foreign-secretaries/william-grenville">William Wyndham Grenville</a></li>
      </ol>
      <p><a href="/government/history/past-foreign-secretaries">See all past Foreign Secretaries</a></p>
    </div>
  </div>
</div>

<div class="block person-info">
  <div class="name-title">
    <div class="inner">
      <h2>Charles James Fox <span>Foreign Secretary March to July 1782, April to December 1783 and February to September 1806</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/charles-james-fox.jpg', alt: 'Charles James Fox' %>
        <h3>Lived</h3>
        <p>1749 to 1806</p>
        <h3>Dates in office</h3>
        <p>March to July 1782, April to December 1783 and February to September 1806</p>
        <h3>Political party</h3>
        <p>Whig</p>
        <h3>Interesting facts</h3>
        <p>A brief but brilliant start to the line of Foreign Secretaries.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Fox was a gambling addict, womaniser, debtor, and dandy who was forgiven his failings by many because of his defence of civil liberty and his overwhelming charisma. He was Britain's first Foreign Secretary. In fact, he was Secretary of State 3 times, in 1782, 1783 and 1806, but each time he used the position more successfully to fight for a constitutionally stronger Parliament than to achieve foreign policy aims.</p>
      <p>In 1782, the Foreign Office was a new endeavour, and it was much smaller than it is today. When Fox took the post he had only 13 staff in London, one of whom was a &lsquo;necessary woman&rsquo;- the housekeeper. The total number of consuls and diplomats abroad was not much bigger. The Foreign Office was created because the Northern and Southern Departments that had dealt with home affairs, colonies, and international relations since the 1640s were no longer fit for purpose. George III created the Foreign Office to coordinate international diplomacy and the Home Office to run domestic policy and the British colonies. Fox saw other advantages than administrative necessity. He believed that George had too much power and hoped that the new Secretaries of State could force the king to accept American independence.</p>
      <p>His hopes were dashed and the new division of powers contributed to Fox's resignation after only 4 months in the post. In April 1782, the cabinet agreed to grant the American colonies independence if they could guarantee France and Spain would not attack the new United States. When negotiations began in Paris, Fox sent Thomas Grenville to talk to the European powers and the Home Secretary, Lord Shelburne, sent Richard Oswald to meet with the Americans. Having 2 envoys with different instructions created complications that Shelburne exploited in an attempt to collapse Prime Minister Lord Rockingham's ministry so that he could lead a new government. When an agreement could not be reached Fox proposed to cabinet that independence should be granted immediately anyway. He was outvoted and decided to resign. In the 4 days between this meeting and his resignation on 4 July, Rockingham died leaving parliament in chaos and Shelburne poised to take power.</p>
      <h3>After Prime Minster Rockingham’s death</h3>
      <p>Fox returned to the Foreign Office a few months later as the joint head of an unexpected coalition. His Whig supporters and Lord North&rsquo;s Tories had nothing in common except a hatred of Shelburne but they formed a majority of over 100 so Fox believed that he would be safe from royal interference. He had underestimated George&rsquo;s hatred towards him. George believed Fox was &ldquo;as contemptible as he is odious&rdquo;. He blamed Fox for encouraging the Prince of Wales&rsquo; bad habits and hated Fox&rsquo;s lack of deference to his ministers. In 1783 the coalition introduced an India Bill to the House to stem corruption by replacing the East India Company with a board of commissioners. In November, it passed the House of Commons by 229 to 120 but when it came to the Lords, George bullied bishops and peers into rejecting it. He used this as an excuse to demand the seals of office from North and Fox.</p>
      <p>When George finally found a prime minister - William Pitt the Younger - he was a 24 year old and without a party. When Fox was told he laughed uproariously and his friends declared it a &lsquo;mince pie administration&rsquo; because it could not last past Christmas. Again, Fox&rsquo;s complacency was misplaced, though no-one could have predicted that Pitt would not leave office for another 18 years.</p>
      <h3>Fox's return to government</h3>
      <p>Out of government, Fox found other ways to fill his time. He drank heavily and was a prodigious gambler with debts &lsquo;like Caesar&rsquo;s&rsquo;. Fox was bankrupted twice in the early 1780s and relied on friends and family to support him from then on. One vice he gave up was women. Fox&rsquo;s conquests included Georgiana, Duchess of Devonshire and the Prince of Wales&rsquo; former mistress, Mary &lsquo;Perdita&rsquo; Robinson, but from 1784 he lived with the actress, Elizabeth Armistead, and was loyal to her until his death.</p>
      <p>By the time Fox returned to government in 1806, he was sick, and sick of politics. He had &lsquo;exulted&rsquo; in the French Revolution only to see France descend into terror and to watch Britain lead 7 years of revolutionary war. He had spent 18 years doggedly defending civil liberties from what he saw as the king's opportunistic attempts to seize more power, disguised as protection against home-grown revolutionaries. Pitt had died in office in January 1806 and Fox felt the absence of his great adversary &ldquo;as if there was something missing in the world - a chasm, a blank that cannot be supplied.&rdquo; He was also physically weakened by cirrhosis of the liver.</p>
      <p>Despite his weariness, it was Fox who championed the abolition of the slave trade in the House of Commons. He proposed the bill that passed into law in 1807 as the Slave Trade Act. It was the greatest achievement of the &lsquo;Ministry of the Talents&rsquo; though Fox did not live to see it pass. As Foreign Secretary he wanted a lasting peace with France but, despite months of positive indicators from Talleyrand, Napoleon was more interested in establishing his new European order. When Fox died on 13 September 1806 he had not yet achieved either of his most important goals. Given his history, though, it is interesting to speculate how long he would have stayed in the post if he had lived.</p>

   
      <h3>Further reading</h3>
      <ul>
        <li>William Pitt the Younger by W Hague (London, 2005)</li>
        <li>Charles James Fox by L G Mitchell (Oxford, 1997)</li>
        <li>Entry for Charles James Fox in Oxford Dictionary of National Biography by L G Mitchell</li>
        <li>The Foreign Office by Sir J Tilley and S. Gaselee (London, 1933)</li>
        <li>The Cambridge History of British Foreign Policy: 1783–1919 by Sir A W Ward and G P Gooch (eds), (Cambridge, 1922)</li>
      </ul>
    </div>
  </div>
</div>
