<% page_title "History of Sir Edward Grey" %>
<% page_class "historic-people-show" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history">History</a>
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block historic-people-list">
  <div class="inner-block">
    <a href="#contents" class="js-showhide contents-toggle">Show past Foreign Secretaries</a>
    <div id="contents">
      <ol>
        <li><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley&nbsp;Wood</a></li>
        <li><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-curzon">George Nathaniel Curzon</a></li>
        <li>Sir Edward Grey</li>
        <li><a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty–Fitzmaurice</a></li>
        <li><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></li>
        <li><a href="/government/history/past-foreign-secretaries/william-grenville">William Wyndham Grenville</a></li>
      </ol>
      <p><a href="/government/history/past-foreign-secretaries">See all past Foreign Secretaries</a></p>
    </div>
  </div>
</div>

<div class="block person-info">
  <div class="name-title">
    <div class="inner">
      <h2>Sir Edward Grey, Viscount Grey of&nbsp;Fallodon <span>Foreign Secretary November 1905 to December 1916</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/sir-edward-grey.jpg', alt: 'Sir Edward Grey, Viscount Grey of Fallodon' %>
        <h3>Lived</h3>
        <p>1862 to 1933</p>
        <h3>Dates in office</h3>
        <p>November 1905 to December 1916</p>
        <h3>Political party</h3>
        <p>Liberal</p>
        <h3>Interesting facts</h3>
        <p>Holds the longest continuous term of any Foreign Secretary.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Sir Edward Grey set out the main aspects of his foreign policy in a speech made in opposition in October 1905: friendship with the USA, the Anglo-Japanese alliance and the Anglo-French entente. The latter was tested as soon as he took office in December 1905, following the Liberal Party&rsquo;s landslide election victory, when Germany attempted to split the entente over the issue of Morocco. Grey gave strong support to France, and in January 1906 he authorised military conversations which resulted in plans being drawn up to send an expeditionary force to France in the event of war.</p>
      <p>Grey did not inform the Cabinet of the talks, believing it to be unnecessary as he had given no commitment to the French. But he also knew there was a risk they would not agree and he did not want his authority questioned. Grey belonged to the group of &lsquo;Liberal Imperialists&rsquo; who had supported British action during the Boer War and had not long been reconciled to the rest of the Liberal Party.</p>
      <h3>An unconventional Foreign Secretary</h3>
      <p>Grey was not a conventional Foreign Secretary. He disliked travelling &ndash; his first official trip abroad was to France in 1914 &ndash; preferring  instead to conduct relations through ambassadors in London. He also hated being in London, away from his nort-country pursuits: bird watching, fly-fishing and hill-walking. The job imposed a heavy workload and there were 6 times more papers than usual received by the Foreign Office in the 20 years from 1895.</p>
      <p>In August 1907 Grey concluded an entente with Russia, settling differences over Tibet, Afghanistan and Persia to improve the security of India. But the agreement was criticised by radicals who saw it as bolstering a reactionary empire.</p>
      <h3>Maintaining the balance of power in Europe</h3>
      <p>Grey would later be criticised for not converting the ententes with France and Russia into alliances and also for making the agreements in the first place. His aim was less about securing the Empire and more about maintaining the balance of power in Europe against an increasingly dominant Germany. But his balancing act was subtler than just supporting France against German hegemony. He also sought to prevent France and Russia from being drawn into the German orbit or allowing them to feel they could rely on British support to challenge Germany themselves.</p>
      <p>Germany saw this balance of power as encirclement but its erratic foreign policy under Wilhelm II did little to help the country's cause. In July 1911 Germany provoked a second Moroccan crisis by sending the gunboat Panther to Agadir. During the crisis details of the 1906 staff talks surfaced, leading to angry exchanges within Cabinet.</p>
      <p>The seemingly secretive nature of Grey&rsquo;s diplomacy drew criticism from the liberal press and resulted in a &lsquo;Grey must go!&rsquo; campaign. He came under strong pressure from radicals in the Commons and the Cabinet to take a stricter line with Russia over her interference in Persian affairs and to renew conversations with Berlin. Better relations with Germany would allow the government to prioritise spending on new social welfare over the navy.</p>
      <p>Critics also claimed the Foreign Secretary was too influenced by his officials. Grey took office at a point when Foreign Office clerks had new freedom to advise ministers, and much of their advice was anti-German in tone. However, although Grey was always willing to listen to his officials, on policy direction he was always his own man.</p>
      <h3>Attempts to reach a settlement with Germany</h3>
      <p>In February 1912 the Secretary for War, Lord Haldane, was despatched to Berlin to reach a political and naval settlement with Germany. The mission failed. Each country had fundamentally different goals. Germany wanted to secure British neutrality in the event of a European war while Britain wanted an end to the naval race with Germany. Neither side was prepared to make concessions.</p>
      <p>Instead a naval agreement with France saw Britain agree to safeguard the French north coast in return for France protecting the Mediterranean. This allowed the Royal Navy to concentrate in the North Sea to counter the growing German naval threat. This accommodation, like the renewal of the Japanese alliance in 1911, was intended to reduce costly defence expenditure. Grey and the Cabinet insisted on an exchange of notes, stressing that the agreement did not commit either government to action. But whether a moral, if not legal, obligation had been created would be tested later.</p>
      <p>Grey recovered his authority and managed to achieve better relations with Germany over minor points. In August 1913 he came to an agreement with Berlin over the future of the Portuguese colonies and in June 1914 Britain finally agreed to join in the Baghdad railway scheme after years of stalled negotiations.</p>
      <p>His prestige increased further during the Balkan crisis of December 1913. Grey called an ambassadors&rsquo; conference in London &ndash; the last act of the old Concert of Europe &ndash; and worked with Germany to restrain their respective partners to ensure peace. Grey tried to repeat his success following the assassination of Archduke Franz Ferdinand in 1914 but his call for a conference was rejected by Berlin.</p>
      <h3>The final years in office</h3>
      <p>During the July crisis of 1914 the crucial question was whether Britain would declare support for France in a war with Germany. Grey threatened to resign rather than see France abandoned but the Cabinet was split on the issue. Criticism that Grey did not align himself firmly and quickly enough with France and Russia to dissuade Germany from going to war credited him with too much decision-making power in Cabinet.</p>
      <p>Grey warned the German ambassador that he should not believe Britain would stand aside if Germany and France went to war and he rejected a bid from the German Chancellor for British neutrality. But the issue that ultimately brought Britain into the War was one of age-old British national interest-Belgian neutrality.</p>
      <p>Once the conflict began, Grey was of the view that wartime diplomacy should give way to military considerations. The influence of the Foreign Office declined, matched by a deterioration in Grey&rsquo;s health &ndash; he  was driven almost blind by stress and overwork. He was finally released from the rigours of office in December 1916 by which time he had become the longest continuously serving Foreign Secretary.</p> 
   

      <h3>Further reading</h3>
      <ul>
        <li>The End of Isolation: British Foreign Policy 1900-1907 by George Monger (London, 1963)</li>
        <li>Sir Edward Grey by Keith Robbins (1971)</li>
        <li>The Foreign Office and Foreign Policy, 1898-1914 by Zara Steiner (London, 1969)</li>
        <li>Grey of Fallodon by GM Trevelyan (1937)</li>
      </ul>
    </div>
  </div>
</div>
