<% page_title "History of Edward Frederick Lindley Wood" %>
<% page_class "historic-people-show" %>

<%= render layout: 'show_person', locals: { current_person: 'edward-wood' } do %>
  <div class="name-title">
    <div class="inner">
      <h2>Edward Frederick Lindley Wood, Viscount Halifax <span>Foreign Secretary February 1938 to December 1940</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/viscount-halifax.jpg', alt: 'Edward Frederick Lindley Wood, Viscount Halifax' %>
        <h3>Lived</h3>
        <p>1881 to 1959</p>
        <h3>Dates in office</h3>
        <p>February 1938 to December 1940</p>
        <h3>Political party</h3>
        <p>Conservative</p>
        <h3>Interesting facts</h3>
        <p>Nick-named 'the Holy Fox' due to his passion for hunting and his Christian moral outlook</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Lord Halifax took over at the Foreign Office following the resignation of Anthony Eden in February 1938. Eden&rsquo;s relations with Prime Minister Neville Chamberlain had reached breaking point over the latter&rsquo;s interference in foreign policy and differences over how best to deal with Germany and Italy.</p>
      <p>The Prime Minister wrote privately that Halifax was a more congenial colleague: &ldquo;I thank  God for a steady unruffled Foreign Secretary who never causes me any worry&rdquo;. He hoped that Halifax would not become infected with the pessimism and suspicion of Hitler and Mussolini which, in Chamberlain&rsquo;s opinion, some senior Foreign Office officials displayed.</p>
      <p>Halifax was nicknamed &lsquo;the Holy Fox&rsquo;, reflecting his passion for hunting and his Christian moral outlook. He was a man of great stature, who possessed a rational outlook, calm resolution and a conciliatory manner. His air of aristocratic reserve was accompanied by a shrewd political judgement.</p>
      <h3>Negotiations with Hitler and Mussolini</h3>
      <p>Halifax agreed with Chamberlain that it was not worth starting a war to defend the crumbling post&ndash;war Versailles settlement. Both men initially believed that they could find a satisfactory solution to the demands of Hitler and Mussolini through negotiation and concession. But their traditional &lsquo;gentlemanly&rsquo; approach to diplomacy was at odds with the new assertive Fascist leadership and the bullying brinksmanship they practiced.</p>
      <p>Halifax realised earlier than Chamberlain, but later than others, that Britain would have to stand firm against Nazi demands for territorial aggrandisement. But it came too late to avoid him being cast in 1940 as one of the &lsquo;Guilty Men&rsquo; (in the publication of the same name), held responsible for the war by appeasing fascism.</p>
      <p>Halifax was no stranger to foreign affairs having deputised for Eden and acted as spokesman in the Lords since 1935. During the crisis resulting from the Hoare-Laval Pact (which gave Italy territorial concessions at the expense of Abyssinia) Halifax had declared the government&rsquo;s moral standing was at stake and called for the Foreign Secretary to resign. In November 1937 he had accepted an invitation, as Master of the Middleton Hunt, from Reichsmarschall Hermann Goering to visit a hunting exhibition in Berlin and to shoot foxes with him in Pomerania. Chamberlain pushed for the visit to be used to make contact with the German leadership and sound-out their intentions.</p>
      <p>Halifax visited Hitler at his mountain retreat at Berchtesgaden where he nearly mistook the German Chancellor for a footman. He recalled in his memoirs: &ldquo;As I looked out  of the car window, on eye level, I saw in the middle of this swept path a pair of black trousered legs, finishing up in silk socks and pumps. I assumed this was a footman who had come down to help me out of the car and up the steps, and was proceeding in leisurely fashion to get myself out of the car when I heard Von Neurath [the German foreign minister] or somebody throwing a hoarse whisper at my ear of &lsquo;Der F&uuml;hrer, der F&uuml;hrer&rsquo;; and it then dawned upon me that the legs were not the legs of a footman, but of Hitler&rdquo; (Halifax, Fulness of Days, London, 1957).</p>
      <p>In a 3 hour conversation, Halifax did little to curb Hitler&rsquo;s ambitions towards Austria and Czechoslovakia with his vague talk of ‘possible alterations in the European order which might be destined to come about with the passage of time’.</p>
      <h3>The Munich crisis</h3>
      <p>At first Chamberlain continued to dominate foreign affairs and use personal diplomacy to circumvent the normal diplomatic channels. Even with a Foreign Secretary more to his liking, Chamberlain did not take Halifax with him to the Munich conference in September 1938 at which Czechoslovakia was carved up, and after which Chamberlain infamously declared he had secured &lsquo;peace for our time&rsquo;. And at a subsequent mission to Italy to woo Mussolini in January 1939, Halifax played only a secondary role.</p>
      <p>However during the Munich crisis, conscious as he was of the political mood and public opinion, Halifax&rsquo;s attitude towards Germany hardened. He was consequently instrumental in modifying Chamberlain’s policies. In September 1938 he led the Cabinet in insisting on making fewer concessions to Germany over the Sudetenland. Following Hitler&rsquo;s complete annexation of Czechoslovakia, in March 1939, he pushed for Britain to offer a guarantee of security to Poland. Later that summer Halifax also made Chamberlain reassure France very publicly (if rather belatedly) of British military support should it too be invaded by Germany.</p>
      <h3>The final years in office</h3>
      <p>Chamberlain resigned as Prime Minister in May 1940 following the debacle of the Norwegian campaign. Halifax was seen as a leading candidate to replace him but he realised that Churchill would make a superior war leader and, pleading ill-health, withdrew from the race.</p>
      <p>Halifax remained as Foreign Secretary and has been identified with various peacemaking initiatives in the summer of 1940. Churchill then decided he wanted Eden back as Foreign Secretary and in January 1941 Halifax was persuaded to take up the ambassadorship to Washington. There, after an initially hesitant start, he formed a strong working relationship with President Roosevelt and remained until May 1946.</p>

      <h3>Further reading</h3>
      <ul>
        <li>Halifax: The Life of Lord Halifax, by The Earl of Birkenhead (London, 1965)</li>
        <li>Chamberlain and the Lost Peace by John Charmley (London, 1989)</li>
        <li>The Holy Fox: A biography of Lord Halifax by Andrew Roberts (Bath, 1991)</li>
        <li>An entry in the Oxford Dictionary of National Biography by DJ Dutton (2008)</li>
      </ul>
    </div>
  </div>
<% end %>