<% page_title "History of George Hamilton Gordon" %>
<% page_class "historic-people-show" %>

<%= render layout: 'show_person', locals: { current_person: 'george-gordon' } do %>
  <div class="name-title">
    <div class="inner">
      <h2>George Hamilton Gordon, Earl of Aberdeen <span>Foreign Secretary May 1828 to November 1830 and September 1841 to July 1846</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/lord-aberdeen.jpg', alt: 'George Hamilton Gordon, Earl of Aberdeen' %>
        <h3>Lived</h3>
        <p>1784 to 1860</p>
        <h3>Dates in office</h3>
        <p>May 1828 to November 1830 and September 1841 to July 1846</p>
        <h3>Political party</h3>
        <p>Conservative/ Peelite</p>
        <h3>Interesting facts</h3>
        <p>A quiet, serious Scot and a great favourite of Queen Victoria.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Lord Aberdeen is a contradiction, in some ways he can be seen as a tragic figure of the Romantic period. He was a cousin of Byron, his wife and first 4 children predeceased him and he died unhappy at his inability to prevent the Crimean war. On the other hand he was a phlegmatic and unemotional Classicist.</p>
      <p>He served 2 terms as Foreign Secretary, both times followed by Viscount Palmerston, with whom he is often contrasted. At 14, as an orphan, he exercised his right under Scottish law to select his guardians. One of these was William Pitt and it was under Pitt&rsquo;s influence that he entered politics.</p>
      <h3>First term in office</h3>
      <p>His first appointment as Foreign Secretary was under the Duke of Wellington. The issues he inherited made a significant portfolio for any Foreign Secretary &ndash; securing Greek independence, dealing with the latest war between Russia and Turkey, handling Anglo-French and Anglo-American relations, and tackling international slave trafficking. He faced many of these issues again in his second term.</p>
      <p>Wellington regularly intervened in foreign policy affairs. While Aberdeen supported him publicly, he often privately disagreed and occasionally told Wellington so, such as about Russian intentions in Turkey. The most recent Russian-Turkish war (1828 to 1829) started before Aberdeen took office. It ended with the Treaty of Adrianople. Although the Turks signed it, with British encouragement, it was commonly considered unsatisfactory as it gave Russia access to the mouth of the Danube and commercial access to the Dardanelles at a time when there was concern about Russian expansionism.</p>
      <h3>Second term in office</h3>
      <p>Aberdeen was more successful in his second term in office. As Foreign Secretary he improved diplomatic relations with France, mainly due to his (initially) good personal relationship with the French Ambassador, Francois Guizot. Throughout his career, where Aberdeen held good relations with foreign diplomats, such as Guizot or Count Lieven of Russia, people questioned whether the relationship was too close and whether this affected his judgement. One domestic question that occasionally raised concerns was with Queen Victoria, who liked him, although he often diplomatically ignored her suggestions about foreign affairs.</p>
      <p>A common criticism of Aberdeen by his contemporaries was that he was a pacifist, not a popular stance in the 19th century. This was not exactly accurate. Although he had acquired a strong dislike of war when he saw the carnage following the Battle of the Nations at Leipzig in 1813, later on in the role of Prime Minister he led the country into the Crimean War, albeit reluctantly. Ironically, it was this decision that ultimately caused him to resign the premiership, following questions from parliament into the conduct of the war.</p>
      <p>Relations with the US in 1841 were strained. Both the Americans and the French resented Britain&rsquo;s stop and search policy at sea. Although this was intended to stop the transportation of slaves it was perceived as a means of ensuring that Britain continued to rule the waves. There were other issues of contention with America. Canadian rebels on the border with America had set fire to an American ship (the Caroline) and sent it over Niagara Falls. Another sensitive issue was where a group of slaves on a ship (the Creole) bound for Louisiana mutinied and killed the captain, near the British Bahamas. The Bahamian government were asked to hold the murderer, but they released the other slaves as Britain did not recognise slavery. All of these issues had to be treated sensitively because they were seen as matters of sovereignty.</p>
      <p>Aberdeen was not a strong negotiator &ndash; he couldn't bluff. As Baron Brunow said about him: &ldquo;what he says is solid, true and carries the seal of integrity&rdquo;. So Aberdeen appointed Lord Ashburton, a better negotiator, and sent him to America. His negotiations lead to settlements on the border with Canada and an understanding with America about extradition.</p>
      <h3>Legacy as Foreign Secretary</h3>
      <p>Many of Aberdeen&rsquo;s achievements either as Foreign Secretary, or later as Prime Minister, were not valued in his lifetime. He faced significant opposition from Palmerston, and criticism from the Earl of Ellenborough (who wanted to be Foreign Secretary). His reputation was further damaged by Lane&ndash;Poole&rsquo;s biography of Stratford Canning, the influential Ambassador to Constantinople, over Greek independence in 1828. The government&rsquo;s position changed during the course of the independence negotiations, but Aberdeen did not clearly inform Canning until it was too late to change course.</p>
      <p>The treaties negotiated during his terms as Foreign Secretary, were seen as flawed, especially those with America because they give away too much Canadian territory. His speeches were not memorable or highly regarded. In fact he was a particularly bad public speaker, often inaudible, even when he held strong opinions on the policy in question. What he achieved was an improvement in foreign relations with America and France (at least initially).</p>
   
      <h3>Further reading</h3>
      <ul>
        <li>Lord Aberdeen, a political biography by Muriel Chamberlain (Longman Group Limited, 1983)</li>
        <li>Choose Your Weapons by Douglas Hurd (Orion Books, 2010)</li>
      </ul>
    </div>
  </div>
<% end %>