<% page_title "History of George Leveson Gower" %>
<% page_class "historic-people-show" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history">History</a>
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block historic-people-list">
  <div class="inner-block">
    <a href="#contents" class="js-showhide contents-toggle">Show past Foreign Secretaries</a>
    <div id="contents">
      <ol>
        <li><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley&nbsp;Wood</a></li>
        <li><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-curzon">George Nathaniel Curzon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey</a></li>
        <li><a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty–Fitzmaurice</a></li>
        <li><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil</a></li>
        <li>George Leveson Gower</li>
        <li><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></li>
        <li><a href="/government/history/past-foreign-secretaries/william-grenville">William Wyndham Grenville</a></li>
      </ol>
      <p><a href="/government/history/past-foreign-secretaries">See all past Foreign Secretaries</a></p>
    </div>
  </div>
</div>

<div class="block person-info">
  <div class="name-title">
    <div class="inner">
      <h2>George Leveson Gower, Earl Granville <span>Foreign Secretary December 1851 to February 1852, July 1870 to February 1874 and April 1880 to June 1885</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/earl-granville.jpg', alt: 'George Leveson Gower, Earl Granville' %>
        <h3>Lived</h3>
        <p>1815 to 1891</p>
        <h3>Dates in office</h3>
        <p>December 1851 to February 1852, July 1870 to February 1874 and April 1880 to June 1885</p>
        <h3>Political party</h3>
        <p>Whig</p>
        <h3>Interesting facts</h3>
        <p>The first of the 3 Whig Earls' (Granville, Clarendon, Rosebery) at the Foreign Office.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Granville had 3 stints as Foreign Secretary. The first term lasted a little under 3 months but it was enough time for Granville to draw up a memorandum on principles of foreign policy, at the request of Queen Victoria. In it he placed emphasis on the need for tact and discretion in matters abroad &ndash; in contrast to what he considered to be the overbearing approach of Palmerston &ndash; and the desirability of steering a middle course between meddling &lsquo;intervention&rsquo; in the affairs of other states and allowing British interests to go by default.</p>
      <p>Granville was appointed Foreign Secretary for the second time in July 1870 after the death of Lord Clarendon. This was partly through his increasingly close friendship with Gladstone, and partly through a lack of more suitable candidates. Despite reassurances from his permanent under-secretary, Edmund Hammond, on his first day in the job that (apart from the growing tension between France and Prussia) he &lsquo;had never known so long a lull in foreign affairs&rsquo;, Granville&rsquo;s time in office turned out to be frequently trying.</p>
      <h3>Franco-Prussian War</h3>
      <p>He was confronted almost immediately with the outbreak of the Franco-Prussian War and, having fulfilled Britain's obligation to preserve neutrality for Belgium, Granville ensured Britain played no further part in the conflict. Russia took advantage of the international situation to repeal the conditions imposed at the end of the Crimean War to neutralise the Black Sea. At a London conference in January 1871 Granville could do little more than put a diplomatic gloss on this fait accompli. Russia continued to cause trouble in Central Asia. Granville negotiated for a neutral zone between the Russian frontier and Afghanistan but when Russia permanently occupied Khiva, within the zone, in 1873 Britain could take no effective action to prevent it.</p>
      <p>Granville did succeed in re-establishing good relations with America which had been strained by the Civil War. He settled a dispute over the Alabama, a cruiser built in Britain for the Confederates, but only by agreeing to send the case to international arbitration and eventually paying &pound;300,000 in compensation.</p> 
      <p>When the Liberals returned to power in 1880 Granville was instrumental in persuading Gladstone to return to No. 10, in spite of rumours of his own potential for the premiership. The friendship between the two was strong and Granville sometimes deputised for Gladstone.</p>
      <h3>Granville's third term as Foreign Secretary</h3>
      <p>As Granville took on the role of Foreign Secretary for the third and final time he inherited a war with Afghanistan, which he ended by agreeing with the Emir that Britain would direct Afghan foreign policy but not interfere in internal affairs.</p>
      <p>In 1882 he acquiesced in the occupation of Egypt by the British army, a measure thought necessary to protect the route to India, through the Suez Canal, from increasing nationalist agitation. A treaty concluded with Portugal over the fate of the Congo in 1884 proved unpopular with other European nations and led to the Berlin West Africa Conference which sparked the European &lsquo;scramble for Africa&rsquo;.</p>
      <p>This increased the workload of departments like the newly-created Consular and African department. In the 20 years in which Granville held the post the number of despatches entering the Foreign Office rose from 17,000 to 70,000 per year.</p>
      <h3>The final years in office</h3>
      <p>It was said that Granville's handwriting was unclear, his French perfect, his policy patchy. He was never quite allowed to be his own man &ndash; Gladstone always had his own view of how foreign policy should be run. But Granville also lacked an understanding of the changing European dynamic, following the Franco-Prussian War, and the new competitive spirit in international affairs, typified by the rush for colonies in Africa, which made his approach to foreign affairs lack vigour and drive.</p>
      <p>Granville&rsquo;s career faded disappointingly in 1885 as the public laid the blame for both the loss of the Sudan and the death of the hugely popular General Gordon at his feet. When Gladstone&rsquo;s government returned briefly to power in 1886 he was only offered the Colonial Office.</p> 
   
      <h3>Further reading</h3>
      <ul>
        <li>entry for Granville George Leveson Gower in Oxford Dictionary of National Biography  by ME Chamberlain (Oxford University Press, 2004–10)</li>
        <li>The Life of Granville George Leveson Gower, Second Earl Granville, 2 vols by Lord Edmund Fitzmaurice (Longmans, Green, &amp; Co., 1905)</li>
      </ul>
    </div>
  </div>
</div>
