<% page_title "History of George Nathaniel Curzon" %>
<% page_class "historic-people-show" %>

<%= render layout: 'show_person', locals: { current_person: 'george-curzon' } do %>
  <div class="name-title">
    <div class="inner">
      <h2>George Nathaniel Curzon <span>Foreign Secretary October 1919 to January 1924</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/george-nathaniel-curzon.jpg', alt: 'George Nathaniel Curzon, Marquess of Kedleston' %>
        <h3>Lived</h3>
        <p>1859 to 1925</p>
        <h3>Dates in office</h3>
        <p>October 1919 to January 1924</p>
        <h3>Political party</h3>
        <p>Conservative</p>
        <h3>Interesting facts</h3>
        <p>A veteran of the &lsquo;Great Game&rsquo; (strategic rivalry and conflict between the British Empire and the Russian Empire for supremacy in Central Asia.)  Curzon was noted for his aristocratic disdain and vitriolic wit</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Curzon is best known for his illustrious career as Viceroy of India (1899 to 1905), and his expertise in Asian affairs was an important influence on his time as Foreign Secretary.</p>
      <p>Curzon&rsquo;s departure from India in 1905 followed an acrimonious dispute with Lord Kitchener over the organisation of the Indian Army and cast him into the political wilderness for a decade. However, his appointment to Lloyd George&rsquo;s innovative 5-man War Cabinet in December 1916 signalled a return to political prominence. Heavily involved in foreign policy matters throughout the remainder of the war, he was the clear candidate to take charge of the Foreign Office when the incumbent Foreign Secretary, Arthur Balfour, departed with Lloyd George for the Paris Peace Conference in January 1919. In October, he took on the role permanently.</p>
      <p>The Foreign Office had changed dramatically since Curzon&rsquo;s brief stint as Parliamentary Under&ndash;Secretary for Foreign Affairs between 1895 and 1898. Its autonomy had suffered under the energetic premiership of Lloyd George, while the war effort had increased the involvement of other government departments in foreign affairs. Within the Foreign Office, the reorganisation of departments by geographical area, ending the distinction between political and commercial matters, recognised the increasing close relationship between foreign affairs and other areas such as economic policy.</p>
      <p>Beyond Whitehall, widespread disillusionment with pre-war diplomatic structures that, at worst, constituted a major cause of the conflict and at best a poor safeguard, then combined with the novel demands of reorganising Europe and beyond. Under the mantra of &lsquo;self-determination&rsquo;, a trend towards &lsquo;open&rsquo; or &lsquo;summit&rsquo; diplomacy that saw the creation of the League of Nations, and 23 international conferences between 1920 and 1922. Lloyd George, like many heads of government, played a major role in this new diplomacy, largely directing European affairs.</p>
      <h3>Curzon's role at the Foreign Office </h3>
      <p>To some extent, this suited Curzon. He was a veteran of the &lsquo;Great Game&rsquo; (strategic rivalry and conflict between the British Empire and the Russian Empire for supremacy in Central Asia) who had published accounts of his travels across the Middle East, Central Asia and the Far East while still a young MP in the 1880s and 1890s. His geopolitical outlook &ndash; and his reputation &ndash; was grounded in his knowledge of Asia and British concerns there. Lloyd George's preoccupation with stabilising Europe, which Curzon still saw primarily as a prerequisite for the security of India, gave Curzon latitude to pursue a more traditional imperial policy elsewhere.</p>
      <p>He was unafraid to exploit the post-war diplomatic environment to this end. Curzon had urged an assertive British stance in the Persian Gulf since his time as Viceroy of India. Now, in nascent Arab nationalism within the political vacuum of the collapsed Ottoman Empire, he saw the potential to create a buffer zone of independent states in the Caucasus and the Middle East, protecting India from a Russian threat only exacerbated by the Bolshevik Revolution.</p>
      <h3>Curzon's achievements while in office</h3>
      <p>Curzon personally negotiated an Anglo-Persian Agreement in August 1919 (only to see it fail to be ratified by the Iranians in 1921); oversaw the division of the British Palestinian Mandate to create the Kingdom of Jordan and foresaw the difficulties initiated by the Balfour Declaration; and established an independent Egyptian constitutional monarchy in 1922. He recognised that the discovery of oil gave the Middle East a strategic significance of its own. During the war, he had chaired the Mesopotamian Administration Committee, overseeing British attempts to establish permanent influence after the invasion of Mesopotamia, with precisely this in mind.</p>
      <h3>Tensions between Curzon and the Prime Minister</h3>
      <p>Despite having a relatively free hand in Asian affairs, Lloyd George&rsquo;s incursions into foreign policy eventually became so irksome that Curzon repeatedly considered resignation. More personally, Lloyd George resented Curzon&rsquo;s aristocratic heritage, while Curzon&rsquo;s blunt and &lsquo;superior&rsquo; manner and increasingly defensive outlook from the Foreign Office did little to help matters.</p>
      <p>Appropriately enough, the flashpoint occurred, literally, at the intersection of Europe and Asia. In August 1922, in what would become known as the &lsquo;Chanak Crisis&rsquo;, the Turks, under Mustafa Kemal, advanced against the Greeks occupying Smyrna. Lloyd George reacted belligerently with a threat of military action against the Turks that was at odds with a British public exhausted after the First World War. Curzon, in cooperation with the French, brokered a diplomatic deal to avert war, signed at Mudanya in October 1922. Peace was finally sealed with the Treaty of Lausanne in 1923, the negotiation of which was arguably Curzon&rsquo;s finest hour as Foreign Secretary. The Treaty set the borders of modern Turkey and secured the freedom of the Straits.</p>
      <h3>The final years in office</h3>
      <p>The relationship between Curzon and the Prime Minister was beyond repair, but by now others shared his frustration with Lloyd George. Conservative backbenchers voted to end the coalition, forcing Lloyd George to stand down. Andrew Bonar Law formed a new Conservative administration, retaining Curzon as Foreign Secretary, who operated much more independently. After Bonar Law&rsquo;s resignation in May 1923, Curzon was passed over for the job of Prime Minister in favour of Stanley Baldwin. Curzon remained as Foreign Secretary until January 1924, when the Conservative administration left office.</p>  
   

      <h3>Further reading</h3>
      <ul>
        <li>Curzon and British Imperialism in the Middle East, 1916-19 by John Fisher, (London, 1999)</li>
        <li>Curzon by David Gilmour (London, 1994)</li>
        <li>Lord Curzon: The Last of the British Moguls by Nayana Goradia (Oxford, 1993)</li>
        <li>The Foreign Office and Foreign Policy, 1919-1926 by Ephraim Maisel (Brighton, 1994)</li>
        <li>Curzon: The End of an Epoch by Leonard Mosley (London, 1960)</li>
        <li>Curzon: The Last Phase, 1919-25 by Harold Nicholson (London, 1934)</li>
      </ul>
    </div>
  </div>
<% end %>