<% page_title "History of Henry Petty–Fitzmaurice" %>
<% page_class "historic-people-show" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history">History</a>
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block historic-people-list">
  <div class="inner-block">
    <a href="#contents" class="js-showhide contents-toggle">Show past Foreign Secretaries</a>
    <div id="contents">
      <ol>
        <li><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley&nbsp;Wood</a></li>
        <li><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-curzon">George Nathaniel Curzon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey</a></li>
        <li>Henry Petty-Fitzmaurice</li>
        <li><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></li>
        <li><a href="/government/history/past-foreign-secretaries/william-grenville">William Wyndham Grenville</a></li>
      </ol>
      <p><a href="/government/history/past-foreign-secretaries">See all past Foreign Secretaries</a></p>
    </div>
  </div>
</div>

<div class="block person-info">
  <div class="name-title">
    <div class="inner">
      <h2>Henry Petty-Fitzmaurice, Marquess of Lansdowne <span>Foreign Secretary November 1900 to December 1905</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/lord-landsowne.jpg', alt: 'Henry Petty-Fitzmaurice, Marquess of Lansdowne' %>
        <h3>Lived</h3>
        <p>1845 to 1927</p>
        <h3>Dates in office</h3>
        <p>November 1905 to December 1916</p>
        <h3>Political party</h3>
        <p>Liberal Unionist</p>
        <h3>Interesting facts</h3>
        <p>He presided over a diplomatic revolution by concluding the Angl-Japanese alliance and the Anglo-French Entente.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">In November 1900 Lord Salisbury relinquished his dual role as Prime Minister and Foreign Secretary and Lord Lansdowne took over at the Foreign Office. It was an uneasy time for Britain. The prevailing orthodoxy in foreign policy was to steer clear of entangling alliances with foreign powers. As colonial rivalries increased towards the end of the 19th century Britain was left isolated and exposed.</p>
      <p>As War Secretary (1895 to 1900), during the campaign against the Boers, Lansdowne saw at first hand the military weakness of the empire, and a spell as viceroy of India (1888 to 1894) brought home to him the Russian threat to British interests in the East. Consequently Lansdowne sought a diplomatic realignment in favour of a series of accommodations and alliances aimed at shoring up Britain's imperial position.</p>
      <p>This began in 1901 with the Hay-Pauncefote treaty which cultivated friendship with the United States by recognising their supremacy in Western waters. In the same year Lansdowne attempted to reach an understanding with Germany, and a draft agreement was prepared, but neither party could agree on final terms. It also met with disapproval from Lord Salisbury who, until he retired from public life in 1902, still exerted an influence over foreign affairs.</p>
      <p>In January 1902 Lansdowne concluded that an alliance with Japan to improve imperial security against Russia and relieve pressure on the Royal Navy in the Far East was needed. The treaty committed each party to come to the other's aid if attacked by more than 1 country. Lansdowne was lucky the treaty did not drag Britain into the Russo-Japanese War which broke out in February 1904. Instead, Japan's surprising single-handed victories checked Russian ambition and meant Britain now had a powerful ally in the Far East.</p>
      <h3>Achievements in office</h3>
      <p>Lansdowne's main achievement came with the signing of the entente cordiale with France in April 1904. Edward VII's visit to Paris in May 1903, where the king won over an indifferent French public, helped produce an atmosphere conducive to negotiations. The agreement settled old colonial differences ranging from the Newfoundland fisheries to the independence of Siam (now Thailand). Britain agreed to support French ambitions in Morocco in return for French recognition of British predominance in Egypt.</p>
      <p>Lansdowne's tact and patience made him an excellent negotiator and he was skilful in his handling of diplomats. His social standing allowed him to move easily in diplomatic circles and he inspired confidence amongst foreign representatives.</p>
      <p>The entente was not intended to have a European dimension but the direction in which the settlement would pull Britain soon became clear. In March 1905 the Kaiser sailed into Tangiers and declared he would not accept any agreement over the future of Morocco made without his consent. The Moroccan Crisis, as it became known, threatened the basis for the entente and general European peace.</p>
      <p>Lansdowne wanted to support France but also to contain the situation. He warned the German ambassador that if war broke out between France and Germany British public opinion might make it impossible for the government to stand aside. Fearful that France might try to reach a separate deal with Germany, Lansdowne told Cambon, the French ambassador, that both countries should keep each other fully informed and discuss in advance any contingencies they might face. Cambon took this as a desire to co-ordinate policy, even to move towards an alliance.</p>
      <h3>Lansdowne's upbringing and personality</h3>
      <p>The key to Lansdowne's handling of foreign affairs can be found in his upbringing. He came from one of the great Whig families and spent his life in public service, almost as a hereditary right. His patrician self-confidence meant he took a detached and unemotional approach to foreign policy. He was never obsessed by Russian strength, like many of his Tory colleagues, nor was he infected with the Germanophobia found in some of his Foreign Office staff. The jingoistic press exasperated him and he was constantly disappointed when anti-German outbursts, which he always viewed with distaste, kept Britain from taking part in the Berlin-Baghdad railway project.</p>
      <p>Lansdowne was not dogmatic in his approach to policy but remained flexible and ready to adapt to circumstances. He brought a level-headedness to the increasingly fractious arena of European foreign politics and remained cool in a crisis. He steered clear of war during the &lsquo;Dogger Bank incident&rsquo; of 1904, when Russian warships sank British fishing boats in the North Sea and the country clamoured for redress.</p>
      <p>As head of the Foreign Office Lansdowne showed a willingness to listen to and take advice from his senior officials. He approved reforms to modernise the Foreign Office machinery, which would eventually free clerks from the drudgery of administration and give them more scope to engage in the process of policy formulation. He also supported an inter-departmental committee to reorganise the Consular Service.</p>
      <h3>Leaving office</h3>
      <p>Lansdowne left office in December 1905 along with the Tory government. In August he had agreed a new treaty with Japan, which became operative against only one power and obliged Japan to defend India. Lansdowne had been successful in his aim of achieving greater security for Britain's imperial position.</p>
      <p>However this success brought its own problems. Although intended as a colonial settlement the entente pulled Britain further into European affairs. Lansdowne&rsquo;s success in bringing Britain out of isolation was achieved at the unintended cost of increasing Germany&rsquo;s own sense of isolation within Europe. Germany now replaced Russia as Britain&rsquo;s main cause for concern in foreign affairs.</p>  
   

      <h3>Further reading</h3>
      <ul>
        <li>Lord Lansdowne: A Biography by Lord Newton (London, 1929)</li>
        <li>The End of Isolation: British Foreign Policy 1900-1907 by George Monger (London, 1963)</li>
        <li>The Foreign Office and Foreign Policy, 1898-1914 by Zara Steiner (London, 1969)</li>
        <li>An entry in the Oxford Dictionary of National Biography by Andrew Adonis  (2004)</li>
        <li>British Documents on the Origins of the War, 1898–1914, by GP Gooch and H Temperley</li>
      </ul>
    </div>
  </div>
</div>
