<% page_title "History of Robert Cecil" %>
<% page_class "historic-people-show" %>

<%= render layout: 'show_person', locals: { current_person: 'robert-cecil' } do %>
  <div class="name-title">
    <div class="inner">
      <h2>Robert Cecil, Marquess of Salisbury <span>Foreign Secretary April 1878 to April 1880, June 1885 to February 1886, January 1887 to August 1892 and June 1895 to November 1900</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/marquess-of-salisbury.jpg', alt: 'Robert Cecil, Marquess of Salisbury' %>
        <h3>Lived</h3>
        <p>1830 to 1903</p>
        <h3>Dates in office</h3>
        <p>April 1878 to April 1880, June 1885 to February 1886, January 1887 to August 1892 and June 1895 to November 1900</p>
        <h3>Political party</h3>
        <p>Conservative</p>
        <h3>Interesting facts</h3>
        <p>A Secretary of State who successfully combined the offices of Prime Minister and Foreign Secretary.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Lord Salisbury wrote in 1862 on his political hero, Lord Castlereagh, &lsquo;There is nothing dramatic in the success of a diplomatist.&rsquo; Rather, his successes are &lsquo;microscopic advantages&rsquo; derived from &lsquo;sleepless tact, immovable calmness, and a patience that no folly, no provocation, no blunders can shake&rsquo;. In 1900, at the end of over 13 years as Foreign Secretary from 1878, the 1862 biography seemed to serve as a self-portrait.</p>
      <p>Salisbury had a diplomatic baptism of fire as Plenipotentiary at the Constantinople Conference (1876 to 1877) where the inaction shown by Foreign Secretary Derby, in the face of the Eastern Crisis, allowed Salisbury to witness the dangers of passivity in diplomacy. When Salisbury became Foreign Secretary in March 1878 his circular despatch of 1 April challenged the dominance Russia had achieved over Turkey through the Treaty of San Stefano (1877). Salisbury then negotiated 3 separate conventions with Austria, Russia and Turkey, endorsed at the Congress of Berlin in the summer, facilitating, in the words of Disraeli, &lsquo;peace with honour&rsquo;.</p>
      <p>After 5 years out of office, Salisbury became Foreign Secretary and Prime Minister in the caretaker government of 1885. Salisbury much preferred the Foreign Office to Downing Street. It was as Foreign Secretary that he could pursue a sophisticated intellectual policy in relative peace and quiet. It was in solitude that Salisbury thrived, but his impeccable manners meant that he would always listen to ambassadors and foreign dignitaries, often jabbing himself with a paper knife under the table to remain awake.</p>
      <h3>Salisbury's personality and style of working</h3>
      <p>A deeply religious man who refused to subvert Christianity to political purposes, he became highly empirical in office and disliked all dogmas and doctrines declaring &lsquo;nothing can be certain until it happens&rsquo;. Refusing to delegate and finding discussion unhelpful, Salisbury could be exceptionally difficult to work for.</p>
      <p>Salisbury&rsquo;s foreign policy has been labelled &lsquo;splendid isolation&rsquo; (in fact a phrase of Joseph Chamberlain's), but it was really anything but. In early 1888 he said, &ldquo;We are part of the community of Europe, and we must do our duty as such&rdquo;. Salisbury believed that Britain was a satisfied power, and as such, that her best interests (namely imperial trade) were served by peace. Considering that all of the Great Powers, save Austria, impinged upon the empire somewhere, Salisbury focused on European diplomacy as the key to imperial security. Indeed, in 1887 he was concerned that the other powers would collectively treat the empire as &lsquo;divisible booty&rsquo;.</p>
      <p>However, his style was one of engagement without commitment. He struck agreements with Germany and France in 1890, Portugal in 1891 and the United States in 1895 which ensured that the &lsquo;scramble for Africa&rsquo; was, at least in British terms, rather orderly. Yet he never entered into a formal alliance with any power while he was Foreign Secretary. The closest he came were agreements with Austria and Italy to ensure the status quo in the Mediterranean in 1887, but these were ended in 1896 along with British interest in Constantinople, when Salisbury’s desire for the Royal Navy to intervene in the Armenian crisis was overruled by the Cabinet.</p>
      <p>Despite not being a democrat, he maintained the (somewhat expedient) constitutional smokescreen that Britain could not commit to a formal alliance because he could not know &ldquo;what may be the humour of our people in circumstances which cannot be foreseen&rdquo;.</p>
      <h3>Achievements in office</h3>
      <p>Salisbury firmly believed peace was in the best interests of the empire, but he was no pacifist. However, he thought the first rule in negotiation was to select beforehand &ldquo;the one point which all others must subserve&rdquo;. For Salisbury, the passage to India was sacrosanct. Therefore, threats to the Suez Canal (rather than Constantinople) and the Cape would meet with force. Kitchener's securing of the Upper Nile in 1898 could easily have caused a war with France. Yet Salisbury, refusing to issue an ultimatum to a French government on the verge of collapse and allowing France to withdraw with some semblance of dignity, diffused the Fashoda Crisis in 1898.</p>
      <p>Events in the Cape escalated more quickly in 1899, and Salisbury was taken unawares by the Boers desire for confrontation. His declining health and Chamberlain&rsquo;s secret German negotiations helped to weaken his grip on policy, yet he quickly replaced General Buller following Black Week with Roberts and Kitchener, and remained Prime Minister until June 1902 to see the war through.</p>
      <p>Salisbury said that the method of foreign policy was more important than the substance. His patience, tact and clarity of thought were unquestionable. He conceived of the empire and diplomacy as a single unit. Thus, while he was attacked for apparent inaction at the Russian entrance into Port Arthur in 1898, this was because securing the Upper Nile was of greater importance to an empire which could not afford a confrontation with two powers at once.</p>
      <p>Nevertheless, his tenure saw a huge expansion of imperial territory, including Nigeria, New Guinea, Rhodesia, Upper Burma, Zanzibar and the Transvaal. He fended off German and French endeavours in East and West Africa respectively in the face of the Franco-Russian Alliance without war, and having only to lean to the triple Alliance. His was a policy of engagement with room to manoeuvre. In 1864, Salisbury lamented Britain's position &ldquo;without a single ally and without a shred of influence&rdquo;. By 1900, Britain was still without an ally, singularly thanks to Salisbury, but without influence she was not.</p> 
   

      <h3>Further reading</h3>
      <ul>
        <li>Choose Your Weapons: The British Foreign Secretary, 200 Years of Argument Success and Failure by D Hurd (London, 2010)</li>
        <li>Salisbury 1830–1903: Portrait of a Statesman by AL Kennedy (London, 1953)</li>
        <li>‘The Principles and Methods of Lord Salisbury's Foreign Policy’ in the Cambridge Historical Journal Vol. 5 No. 1 (1935), p.87-106, LM Penson ‘The Principles and Methods of Lord Salisbury’s Foreign Policy’ in Cambridge Historical Journal Vol. 5 No. 1 (1935), p.87-106</li>
        <li>Salisbury: Victorian Titan, A Roberts (London, 1999)</li>
        <li>‘Cecil, Robert Arthur Talbot Gascoyne’ in Oxford Dictionary of National Biography by P. Smith, (Oxford, 2004)</li>
        <li>Lord Salisbury: A Political Biography by D Steele (UCL, 1999)</li>
      </ul>
    </div>
  </div>
<% end %>