<% page_title "History of William Wyndham Grenville" %>
<% page_class "historic-people-show" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <a href="/government/history">History</a>
      </h1>
      <h2>Past Foreign Secretaries</h2>
    </header>
  </div>
</div>

<div class="block historic-people-list">
  <div class="inner-block">
    <a href="#contents" class="js-showhide contents-toggle">Show past Foreign Secretaries</a>
    <div id="contents">
      <ol>
        <li><a href="/government/history/past-foreign-secretaries/edward-wood">Edward Frederick Lindley&nbsp;Wood</a></li>
        <li><a href="/government/history/past-foreign-secretaries/austen-chamberlain">Sir Austen Chamberlain</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-curzon">George Nathaniel Curzon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/edward-grey">Sir Edward Grey</a></li>
        <li><a href="/government/history/past-foreign-secretaries/henry-petty-fitzmaurice">Henry Petty–Fitzmaurice</a></li>
        <li><a href="/government/history/past-foreign-secretaries/robert-cecil">Robert Cecil</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gower">George Leveson Gower</a></li>
        <li><a href="/government/history/past-foreign-secretaries/george-gordon">George Hamilton Gordon</a></li>
        <li><a href="/government/history/past-foreign-secretaries/charles-fox">Charles James Fox</a></li>
        <li>William Wyndham Grenville</li>
      </ol>
      <p><a href="/government/history/past-foreign-secretaries">See all past Foreign Secretaries</a></p>
    </div>
  </div>
</div>

<div class="block person-info">
  <div class="name-title">
    <div class="inner">
      <h2>William Wyndham Grenville, Lord Grenville <span>Foreign Secretary April 1791 to February 1801</span></h2>
    </div>
  </div>
  <div class="person-profile">
    <div class="inner">
      <div class="info">
        <%= image_tag 'history/past-foreign-secretaries/lord-grenville.jpg', alt: 'William Wyndham Grenville, Lord Grenville' %>
        <h3>Lived</h3>
        <p>1759 to 1834</p>
        <h3>Dates in office</h3>
        <p>April 1791 to February 1801</p>
        <h3>Political party</h3>
        <p>Conservative (until 1801)</p>
        <h3>Interesting facts</h3>
        <p>Spent almost a decade as Foreign Secretary during the struggle against Revolutionary France.</p>
      </div>
    </div>
  </div>
  <div class="person-detail">
    <div class="inner">
      <p class="intro">Lord Grenville spent almost a decade as Foreign Secretary during a turbulent period dominated by diplomacy and war against Revolutionary France. Grenville had a long political pedigree. His father, George Grenville, had been Prime Minister in 1763 to 1765 and he was the cousin of Pitt the Younger.</p>
      <p>Before this period the roles of the Offices of State were not clearly delineated; indeed the Foreign Office was established only in 1782. Grenville&rsquo;s early years were taken up with establishing the office itself, which he did by increasing efficiency rather than size. By 1795 he had arranged for pay increases for all staff &ndash; including a &pound;6,000 salary for himself. The king commented, &ldquo;I find your new arrangement a great improvement &hellip; nothing can exceed the manner in which your business is done.&rdquo;</p>
      <h3>The French wars </h3>
      <p>Grenville&rsquo;s &lsquo;business&rsquo; throughout his time at the Foreign Office was characterised by caution, unsuccessful diplomacy and the interference of Pitt. His first year in office was inauspicious. The British government had been planning to supplement their fleet in the Black Sea as leverage against Russia&rsquo;s demand for the port of Ochakov. By the time it was equipped, however, it was too late and Britain had to concede.</p>
      <p>The Prussians believed that the Triple Alliance of 1788 was rendered meaningless by the threat from Russia so they signed an accord with the Austrians and Britain was effectively forced out of European diplomacy until France declared war in 1793. Pitt&rsquo;s uncomplimentary assessment of the result was that it was done &ldquo;not very creditably, but better so than worse.&rdquo;</p>
      <p>It was during the French wars that Grenville acquitted himself best although his achievements were modest in comparison to the energy expended. He proposed alliances first with Russia, then Spain and finally Sardinia. All these attempts at diplomacy foundered as the European powers prioritised the territorial gains they could make by war over peace. His only early success was with a country that was officially neutral: the United States. Grenville&rsquo;s good personal relationship with Chief Justice John Jay secured a treaty that ensured Britain was fighting only on the European front.</p>
      <p>A true test of his position came in late 1794 when the Prussians withdrew from the war. Lord Malmesbury proposed a subsidy to encourage greater Prussian involvement but Grenville hated the idea so much that he offered Pitt his resignation if it went ahead. In the end he was saved by dithering in Cabinet. By the time the offer was sent, Prussia had signed the Peace of Basel with France. Grenville&rsquo;s distrust of the Prussians was vindicated and he withdrew his resignation.</p>
      <h3>Grenville and Pitt</h3>
      <p>This was the first in a series of diplomatic adventures that followed a similar pattern: Grenville would reject alliances he saw as detrimental to British interests, Pitt would persuade or overrule him, but eventually Grenville&rsquo;s pessimism would prove justified.</p>
      <p>By 1795, attempts to establish a European axis had failed so completely that Pitt changed direction and sought peace with France. To Grenville this was a betrayal of Britain's counter-revolutionary allies and he lobbied for a tough negotiating stance. He insisted that France and its allies cede overseas territories to Britain in exchange for Britain allowing them to keep their territorial gains in Europe.</p>
      <p>As a result, although the talks at Lille fell through in 1797, Grenville was in a stronger position in cabinet during his final phase as Foreign Secretary and was able to reinstate Britain&rsquo;s counter&ndash;revolutionary policy. It was as unsuccessful then as it had been before. When Grenville resigned with the rest of Pitt&rsquo;s government in 1801, Europe was in much the same position it had been in at the start of the war except that France had a new Consul - Napoleon Bonaparte.</p>
      <p>In 1802 Grenville broke with Pitt, following the Treaty of Amiens with France, and formed his own opposition group. Grenville allied himself with Charles James Fox and briefly led the &lsquo;Ministry of all the Talents&rsquo; in 1806 to 1807 which secured the abolition of the slave trade.</p>

   
      <h3>Further reading</h3>
      <ul>
        <li>The Influence of Grenville on Pitt’s Foreign Policy: 1787–1798, by E Douglass Adams (Carnegie Institute of Washington, 1904)</li>
        <li>William Pitt the Younger by W Hague (Harper Perennial, 2005)</li>
        <li>Lord Grenville: 1758–1834 by P Jupp (OUP, 1985)</li>
        <li>Entry in Oxford Dictionary of National Biography by P Jupp (OUP, 2004–10)</li>
      </ul>
    </div>
  </div>
</div>
