<% page_title "Edit " + @person.name %>

<div class="row">
  <section class="col-md-8">
    <h1>Edit person</h1>
    <p class="warning">Warning: changes to people appear instantly on the live site.</p>
    <%= render partial: "form", locals: {person: @person, show_instantly_live_warning: true} %>
  </section>
  <div class="col-md-4">
    <%= legacy_simple_formatting_sidebar %>
  </div>
</div>
