<% page_title "Edit " + @person.name %>

<div class="span8">
  <section>
    <h1>Edit person</h1>
    <%= render partial: "form", locals: {person: @person} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>