<% page_title "People" %>
<section>
  <nav class="actions">
    <%= link_to "Create person", new_admin_person_path, class: "btn new_resource", title: "Create a Person" %>
    <p class="warning">Do not create ministerial people without consulting GDS.</p>
  </nav>

  <h1>People</h1>

  <table class="people table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Biography</th>
      </tr>
    </thead>
    <tbody>
      <%= render @people %>
    </tbody>
  </table>
</section>
