<% page_title "People" %>
<section>

  <h1>People</h1>
  <p class="warning remove-top-margin">Do not create ministerial people without consulting GDS.</p>
  <%= link_to "Create person", new_admin_person_path, class: "btn btn-default new_resource", title: "Create a Person" %>

  <table class="people table table-striped table-bordered add-top-margin">
    <thead>
      <tr class="table-header">
        <th>Name</th>
        <th>Biography</th>
      </tr>
    </thead>
    <tbody>
      <%= render @people %>
    </tbody>
  </table>
</section>
