<% page_title "New person" %>

<div class="span8">
  <section>
    <h1>New person</h1>
    <p class="warning">Do not create ministerial people without consulting GDS.</p>
    <%= render partial: "form", locals: {person: @person, show_consult_gds_warning: true} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>