<% page_title "New person" %>

<div class="span8">
  <section>
    <h1>New person</h1>
    <%= render partial: "form", locals: {person: @person} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>