<% content_for :page_title, @person.name %>
<% content_for :title, @person.name %>
<% content_for :context, "People" %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @person.current_role_appointments_title.present? %>
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: @person.current_role_appointments_title
      } %>
    <% end %>

    <p class="govuk-body"><%= view_on_website_link_for @person, class: "govuk-link", target: "blank" %></p>

    <%= render "components/secondary_navigation", {
      aria_label: "People navigation tabs",
      items: secondary_navigation_tabs_items(@person, request.path)
    } %>

    <div class="gem-c-summary-list--with-image app-view-people-details__summary_list">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Details",
        items: [
          {
            field: "Rt Hon",
            value: @person.privy_counsellor ?  "Yes" : nil,
          },
          {
            field: "Title",
            value: @person.title,
          },
          {
            field: "Forename",
            value: @person.forename,
          },
          {
            field: "Surname",
            value: @person.surname,
          },
          {
            field: "Letters",
            value: @person.letters,
          },
          {
            field: "Image",
            value: (image_tag(@person.image.url(:s300)) + tag.span("Image present", class: "govuk-visually-hidden") if @person.image.url),
          },
          {
            field: "Biography",
            value: @person.biography,
          }
        ].reject { |row| row[:value].blank? },
        edit: {
          href: [:edit, :admin, @person],
          link_text: "Edit details",
        },
        delete: {
          href: (confirm_destroy_admin_person_path(@person) if @person.destroyable?),
        }.compact
      } %>
    </div>
  </div>
</div>
