<section class="meta-two">
  <nav class="activity-navigation">
    <ul>
      <li><%= link_to_with_current "Priority", public_document_path(worldwide_priority) %></li>
      <li><%= link_to_with_current "Latest", activity_worldwide_priority_path(worldwide_priority.document) %></li>
    </ul>
  </nav>
</section>
