// BASE STYLESHEET COMPILER



// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

@import "styleguide/_dimensions.scss";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";
@import "styleguide/_colours.scss";
@import "styleguide/_css3.scss";
@import "styleguide/_button.scss";
@import "styleguide/_media-queries.scss";
@import "styleguide/_print.scss";
@import "styleguide/_float-fix.scss";


// RESET
// Flatten exising styles

@import "reset/_govuk-overrides.scss";
// overrides to the gov.uk header and footer
@import "reset/_reset.scss";
// reset styles applied to #whitehall-wrapper & #whitehall-wrapper *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *



// HELPERS
// Styles for comment page elements

@import "helpers/_global.scss";
#whitehall-wrapper {
  @import "helpers/_alphabetical-list.scss";
  @import "helpers/_attachment-full-width.scss";
  @import "helpers/_browse.scss";
  @import "helpers/_contextual-info.scss";
  @import "helpers/_document-series.scss";
  @import "helpers/_document.scss";
  @import "helpers/_document_list.scss";
  @import "helpers/_feed.scss";
  @import "helpers/_filter.scss";
  @import "helpers/_govspeak.scss";
  @import "helpers/_heading-block.scss";
  @import "helpers/_organisations.scss";
  @import "helpers/_page-header.scss";
  @import "helpers/_pagination.scss";
  @import "helpers/_simple-list.scss";
  @import "helpers/_stick_at_top_when_scrolling.scss";
  @import "../vendor/media-player/player-core.scss";
  @import "../vendor/media-player/player-theme.scss";
  @import "../vendor/media-player/player-fix.scss";
  @import "helpers/_slider-controls.scss"; // used in department image/content sliders
}




// VIEWS
// Styles scoped to each template in /views

#whitehall-wrapper {
  @import "views/_activity.scss";
  @import "views/_announcements.scss";
  @import "views/_countries.scss";
  @import "views/_consultations.scss";
  @import "views/_document-page.scss";
  @import "views/_new-document-page.scss";
  @import "views/_layouts.scss";
  @import "views/_ministerial-roles.scss";
  @import "views/_organisations.scss";
  @import "views/_policies.scss";
  @import "views/_topic.scss";
  @import "views/_topics.scss";
  @import "views/_people.scss";
  @import "views/_publications.scss";
  @import "views/_site-index.scss";
  @import "views/_search.scss";
  @import "views/_speeches.scss";
  @import "views/_sunset.scss";
  @import "views/_specialist_guides.scss";
  @import "views/_policy_teams.scss";
}


// LAYOUTS
// Styles scoped to a layout. Be careful.

@import "layouts/specialist.scss";

#whitehall-wrapper {
  @import "layouts/two_column_page.scss";
}







// DEBUG
//#whitehall-wrapper {
//  background-position: top left;
//  background-image: -webkit-linear-gradient(transparent 4px,#E4E4E4 1px);
//  background-size: 100% 5px;
//}
