// BASE STYLESHEET FOR IE 6 COMPILER

$is-ie: true;
$ie-version: 6;

@import "base.scss";
#whitehall-wrapper {

  .biographical-page {
    .in-page-navigation {
      figure.img {
        img {
          width: expression(document.body.clientWidth < 137? "135px" : document.body.clientWidth > 137? "135px" : "auto");
        }
      }
    }
  }

  .publication, .biographical-page {
    .organisations-icon-list {
      .organisation-logo-small {
        span {
          top: -60px;
        }
        &.single-line {
          span {
            top: -123px;
          }
        }
      }
    }
  }

  .govspeak .attachment .download-button, .document .body .attachment .download-button {
    right: $gutter+$gutter-half;
  }

  .attachment-full-width .govspeak .attachment a.download img, .attachment-full-width .document .body .attachment a.download img, .document .attachment-full-width .body .attachment a.download img {
    margin-left: -25%;
  }


}