// BASE STYLESHEET COMPILER

// stylelint-disable no-duplicate-selectors -- This file is broken up into
// grouped sections within the same selector.

$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';

@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/contents-list';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/feedback';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/heading';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/input';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/notice';
@import 'govuk_publishing_components/components/organisation-logo';
@import 'govuk_publishing_components/components/subscription-links';
@import 'govuk_publishing_components/components/title';

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "colours";
@import "conditionals";
@import "css3";
@import "grid_layout";
@import "measurements";
@import "typography";
@import "shims";

@import "styleguide/dimensions";
@import "styleguide/typography";
@import "styleguide/colours";
@import "styleguide/button";
@import "styleguide/float-fix";
@import "styleguide/hidpi";
@import "styleguide/right-to-left";

// RESET
// Flatten exising styles

@import "reset/reset";
// reset styles applied to #whitehall-wrapper & #whitehall-wrapper *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *

// GLOBAL
// Styles that apply to all of whitehall.

#whitehall-wrapper {
  @import "global/links";
  @import "global/clear";
  @import "global/aspect-ratio";
}

// HELPERS
// Styles for comment page elements

#whitehall-wrapper {
  @import "helpers/activity-nav";
  @import "helpers/announcements";
  @import "helpers/withdrawal-notice";
  @import "helpers/attachment";
  @import "helpers/available_languages";
  @import "helpers/browse";
  @import "helpers/change-notes";
  @import "helpers/collection_list";
  @import "helpers/contextual-info";
  @import "helpers/corporate-information";
  @import "helpers/dash-list";
  @import "helpers/document";
  @import "helpers/document_footer_meta";
  @import "helpers/document_list";
  @import "helpers/document-share-links";
  @import "helpers/documents-grid";
  @import "helpers/headings";
  @import "helpers/featured-links";
  @import "helpers/featured_news";
  @import "helpers/feeds";
  @import "helpers/filtered-index";
  @import "helpers/govspeak";
  @import "helpers/heading-block";
  @import "helpers/historic-people-list";
  @import "helpers/holding";
  @import "helpers/index-list";
  @import "helpers/js-list-items";
  @import "helpers/lead-image";
  @import "helpers/metadata-list";
  @import "helpers/organisations";
  @import "helpers/organisation-news";
  @import "helpers/page-header";
  @import "helpers/pagination";
  @import "helpers/person";
  @import "helpers/recently_updated";
  @import "helpers/simple-alphabetical-list";
  @import "helpers/social-media-accounts";
  @import "helpers/status-block";
  @import "helpers/sub-navigation";
  @import "helpers/worldwide-organisation-header";

  // helpers shared with admin
  @import "../shared/helpers/magna-charta";
  @import "../shared/helpers/player-container";
}

// VIEWS
// Styles scoped to each template in /views

#whitehall-wrapper {
  @import "views/corporate-information-pages-worldwide-organisation";
  @import "views/email-signup";
  @import "views/email-signup-information";
  @import "views/embassies";
  @import "views/get-involved";
  @import "views/groups";
  @import "views/history-people";
  @import "views/historic-appointments";
  @import "views/how-gov-works";
  @import "views/layouts";
  @import "views/ministerial-roles";
  @import "views/new-document-page";
  @import "views/operational-field";
  @import "views/organisations";
  @import "views/search";
  @import "views/site-index";
  @import "views/topic";
  @import "views/world_locations";
  @import "views/worldwide_organisations";
  @import "views/topical-events";
  @import "views/corporate_information_pages/show";
  @import "views/publications/index";
  @import "views/statistics/index";
  @import "views/statistics_announcements/index";
}

// LAYOUTS
// Styles scoped to a layout. Be careful.

@import "layouts/main";

#whitehall-wrapper {
  @import "layouts/two_column_page";
}

// TODO: This 👇 `a.govuk-link:focus` overrides the global `a:link:focus` style
// coming from static and the global styles set in `global/_links.scss`. This
// can be removed when the style from static and Whitehall removed.
// When removing ensure all cases are captured - some rules in helpers/_headings.scss
// are very specific, requiring the !important here
#whitehall-wrapper {
  a.govuk-link,
  a[class^="gem-c-"] {
    text-decoration: underline;

    &:focus,
    &:focus * {
      color: $govuk-focus-text-colour !important; // stylelint-disable-line declaration-no-important
      text-decoration: none !important; // stylelint-disable-line declaration-no-important
    }
  }

  .gem-c-title__context-link,
  .gem-c-title__context-link:visited {
    color: #6f777b;
  }

  .gem-c-organisation-logo__link {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $govuk-text-colour;
    }
  }
}
