// BASE STYLESHEET COMPILER



// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_measurements.scss";
@import "_typography.scss";
@import "_shims.scss";

@import "styleguide/_dimensions.scss";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";
@import "styleguide/_colours.scss";
@import "styleguide/_button.scss";
@import "styleguide/_float-fix.scss";
@import "styleguide/_hidpi.scss";
@import "styleguide/_right-to-left.scss";

// RESET
// Flatten exising styles

@import "reset/_govuk-overrides.scss";
// overrides to the gov.uk header and footer
@import "reset/_reset.scss";
// reset styles applied to #whitehall-wrapper & #whitehall-wrapper *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *

// GLOBAL
// Styles that apply to all of whitehall.

#whitehall-wrapper {
  @import "global/_links.scss";
  @import "global/_js-hidden.scss";
}

// HELPERS
// Styles for comment page elements

#whitehall-wrapper {
  @import "helpers/_activity-nav.scss";
  @import "helpers/_archive-notice.scss";
  @import "helpers/_attachment.scss";
  @import "helpers/_browse.scss";
  @import "helpers/_change-notes.scss";
  @import "helpers/_collection_list.scss";
  @import "helpers/_contextual-info.scss";
  @import "helpers/_corporate-information.scss";
  @import "helpers/_dash-list.scss";
  @import "helpers/_document.scss";
  @import "helpers/_document_footer_meta.scss";
  @import "helpers/_document_list.scss";
  @import "helpers/_documents-grid.scss";
  @import "helpers/_headings.scss";
  @import "helpers/_featured_news.scss";
  @import "helpers/_feeds.scss";
  @import "helpers/_filter.scss";
  @import "helpers/_govspeak.scss";
  @import "helpers/_heading-block.scss";
  @import "helpers/_historic-people-list.scss";
  @import "helpers/_holding.scss";
  @import "helpers/_horizontal-percent-bar.scss";
  @import "helpers/_index-list.scss";
  @import "helpers/_js-list-items.scss";
  @import "helpers/_lead-image.scss";
  @import "helpers/_organisations.scss";
  @import "helpers/_organisation-news.scss";
  @import "helpers/_page-header.scss";
  @import "helpers/_pagination.scss";
  @import "helpers/_person.scss";
  @import "helpers/_recently_updated.scss";
  @import "helpers/_simple-alphabetical-list.scss";
  @import "helpers/_social-media-accounts.scss";
  @import "helpers/_status-block.scss";
  @import "helpers/_stick_at_top_when_scrolling.scss";
  @import "helpers/_sub-navigation.scss";
  @import "helpers/_worldwide-organisation-header.scss";

  // helpers shared with admin
  @import "../shared/helpers/_player-container.scss";
}




// VIEWS
// Styles scoped to each template in /views

#whitehall-wrapper {
  @import "views/_about_pages.scss";
  @import "views/_announcements.scss";
  @import "views/_biographical-page.scss";
  @import "views/_consultations.scss";
  @import "views/_corporate-information-pages-worldwide-organisation.scss";
  @import "views/_detailed_guides.scss";
  @import "views/_document-page.scss";
  @import "views/_document-collection.scss";
  @import "views/_documents-index.scss";
  @import "views/_email-signup.scss";
  @import "views/_get-involved.scss";
  @import "views/_groups.scss";
  @import "views/_history.scss";
  @import "views/_history-buildings.scss";
  @import "views/_history-people.scss";
  @import "views/_historic-appointments.scss";
  @import "views/_how-gov-works.scss";
  @import "views/_layouts.scss";
  @import "views/_mainstream-category.scss";
  @import "views/_ministerial-roles.scss";
  @import "views/_new-document-page.scss";
  @import "views/_operational-field.scss";
  @import "views/_organisations.scss";
  @import "views/organisations/_transition_state_visualisation.scss";
  @import "views/_people.scss";
  @import "views/_policies.scss";
  @import "views/_policy_groups.scss";
  @import "views/_publications.scss";
  @import "views/_search.scss";
  @import "views/_site-index.scss";
  @import "views/_speeches.scss";
  @import "views/_statistical-data-sets.scss";
  @import "views/_topic.scss";
  @import "views/_world_locations.scss";
  @import "views/_worldwide_organisations.scss";
  @import "views/_worldwide_priorities.scss";
  @import "views/_take-part-pages.scss";
  @import "views/_topical-events.scss";
}


// LAYOUTS
// Styles scoped to a layout. Be careful.

@import "layouts/_main.scss";
@import "layouts/detailed-guidance.scss";

#whitehall-wrapper {
  @import "layouts/two_column_page.scss";
}






// DEBUG
//#whitehall-wrapper {
//  background-position: left 1px;
//  background-image: -webkit-linear-gradient(transparent 9px,#E4E4E4 1px);
//  background-size: 100% 10px;
//}
