// BASE STYLESHEET COMPILER

// stylelint-disable no-duplicate-selectors -- This file is broken up into
// grouped sections within the same selector.

$govuk-compatibility-govuktemplate: false;
$govuk-use-legacy-palette: false;
$govuk-new-link-styles: true;

// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/components/big-number";
@import "govuk_publishing_components/components/contents-list";
@import "govuk_publishing_components/components/document-list";
@import "govuk_publishing_components/components/details";
@import "govuk_publishing_components/components/govspeak";
@import "govuk_publishing_components/components/image-card";
@import "govuk_publishing_components/components/lead-paragraph";
@import "govuk_publishing_components/components/metadata";
@import "govuk_publishing_components/components/notice";
@import "govuk_publishing_components/components/organisation-logo";
@import "govuk_publishing_components/components/related-navigation";
@import "govuk_publishing_components/components/select";
@import "govuk_publishing_components/components/share-links";
@import "govuk_publishing_components/components/previous-and-next-navigation";
@import "govuk_publishing_components/components/subscription-links";

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "colours";
@import "conditionals";
@import "css3";
@import "grid_layout";
@import "measurements";
@import "typography";
@import "shims";

@import "styleguide/dimensions";
@import "styleguide/typography";
@import "styleguide/colours";
@import "styleguide/button";
@import "styleguide/float-fix";
@import "styleguide/hidpi";
@import "styleguide/right-to-left";

// RESET
// Flatten exising styles

@import "reset/reset";
// reset styles applied to #wrapper & #wrapper *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *

// GLOBAL
// Styles that apply to all of whitehall.

#wrapper {
  @import "global/clear";
  @import "global/aspect-ratio";
}

// HELPERS
// Styles for comment page elements

#wrapper {
  @import "helpers/activity-nav";
  @import "helpers/withdrawal-notice";
  @import "helpers/attachment";
  @import "helpers/available-languages";
  @import "helpers/browse";
  @import "helpers/collection-list";
  @import "helpers/contextual-info";
  @import "helpers/corporate-information";
  @import "helpers/dash-list";
  @import "helpers/document";
  @import "helpers/document-list";
  @import "helpers/headings";
  @import "helpers/featured-links";
  @import "helpers/govspeak";
  @import "helpers/heading-block";
  @import "helpers/historic-people-list";
  @import "helpers/index-list";
  @import "helpers/js-list-items";
  @import "helpers/lead-image";
  @import "helpers/metadata-list";
  @import "helpers/organisations";
  @import "helpers/organisation-news";
  @import "helpers/page-header";
  @import "helpers/pagination";
  @import "helpers/person";
  @import "helpers/simple-alphabetical-list";
  @import "helpers/social-media-accounts";
  @import "helpers/status-block";
  @import "helpers/sub-navigation";
  @import "helpers/worldwide-organisation-header";
  @import "helpers/magna-charta";
  @import "helpers/player-container";
}

// VIEWS
// Styles scoped to each template in /views

#wrapper {
  @import "views/corporate-information-pages-worldwide-organisation";
  @import "views/embassies";
  @import "views/groups";
  @import "views/history-people";
  @import "views/how-gov-works";
  @import "views/layouts";
  @import "views/ministerial-roles";
  @import "views/new-document-page";
  @import "views/operational-field";
  @import "views/search";
  @import "views/site-index";
  @import "views/world-locations";
  @import "views/worldwide-organisations";
  @import "views/statistics/index";
  @import "views/statistics-announcements/index";
}

// LAYOUTS
// Styles scoped to a layout. Be careful.

@import "layouts/main";

#wrapper {
  @import "layouts/two-column-page";
}
