// BASE STYLESHEET COMPILER

$govuk-use-legacy-palette: true;
$govuk-typography-use-rem: false;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/feedback';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/heading';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/input';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/notice';
@import 'govuk_publishing_components/components/organisation-logo';
@import 'govuk_publishing_components/components/subscription-links';
@import 'govuk_publishing_components/components/title';

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "colours";
@import "conditionals";
@import "css3";
@import "grid_layout";
@import "measurements";
@import "typography";

@import "styleguide/dimensions";
@import "styleguide/colours";
@import "styleguide/float-fix";
@import "styleguide/hidpi";
@import "styleguide/typography";
@import "styleguide/right-to-left";

// RESET
// Flatten exising styles

@import "reset/reset";
// reset styles applied to #whitehall-wrapper & #whitehall-wrapper *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *

#whitehall-wrapper {
  // HELPERS
  // Styles for comment page elements

  @import "helpers/govspeak";
  @import "helpers/organisations";

  // helpers shared with frontend and admin
  @import "../shared/helpers/player-container";

  // Support for bar charts
  @import "../shared/helpers/magna-charta";

  // VIEWS
  // Styles scoped to each template in /views
  @import "views/attachments/preview";
  @import "views/html-publications";
}

// LAYOUTS
// Styles scoped to a layout. Be careful.
@import "layouts/html-publication";
