// PRINT STYLESHEET COMPILER

// DIMENSION UNITS
// Whitespace values and maximum site width. These values can be
// used in any file imported into this document.

$gutter:            10px;
$gutter-two-thirds: $gutter * .666666; // equivalent to 16px
$gutter-half:       $gutter * .5; // equivalent to 12px
$gutter-one-third:  $gutter * .333333; // equivalent to 8px
$gutter-one-sixth:  $gutter-one-third * .5; // equivalent to 8px

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

$is-print: true;

@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/components/print/button';
@import 'govuk_publishing_components/components/print/feedback';
@import 'govuk_publishing_components/components/print/govspeak';
@import 'govuk_publishing_components/components/print/subscription-links';
@import 'govuk_publishing_components/components/print/title';

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "colours";
@import "conditionals";
@import "css3";
@import "typography";
@import "measurements";

@import "styleguide/colours";
@import "styleguide/right-to-left";

html {
  font-size: 62.5%;
}

// HELPERS
// Styles for comment page elements

#whitehall-wrapper {
  @import "print/document";
  @import "print/documents-index";
  @import "print/heading-block";
  @import "print/html-publication";
  @import "print/index-list";
  @import "print/ministerial-roles";
  @import "print/organisations";
  @import "print/print";
}
