<div class="app-view-edition-form__subtype-fields js-app-view-edition-form__subtype-fields" data-format-advice="<%= PublicationType::FORMAT_ADVICE %>">
  <%
    primary_publication_types = PublicationType.primary.map do |publication_type|
      {
        text: publication_type.singular_name,
        value: publication_type.id,
        selected: edition.publication_type_id == publication_type.id,
      }
    end
    less_common_publication_types = PublicationType.less_common.map do |publication_type|
      {
        text: "Less common: #{publication_type.singular_name}",
        value: publication_type.id,
        selected: edition.publication_type_id == publication_type.id,
      }
    end
    use_discouraged_publication_types = PublicationType.use_discouraged.map do |publication_type|
      {
        text: "Deprecated: #{publication_type.singular_name}",
        value: publication_type.id,
        selected: edition.publication_type_id == publication_type.id,
      }
    end
  %>
  <%= render "components/autocomplete", {
    id: "edition_publication_type_id",
    name: "edition[publication_type_id]",
    label: "Publication type (required)",
    heading_size: "l",
    value: edition.publication_type_id,
    error_items: errors_for(edition.errors, :publication_type_id),
    include_blank: true,
    options: primary_publication_types + less_common_publication_types + use_discouraged_publication_types,
  } %>

  <% if edition.publication_type_id.present? %>
    <%= render "subtype_format_advice", guidance: JSON.parse(PublicationType::FORMAT_ADVICE)[edition.publication_type_id.to_s].html_safe %>
  <% end %>
</div>
