<div class="app-view-edition-form__subtype-fields js-app-view-edition-form__subtype-fields" data-format-advice="<%= PublicationType::FORMAT_ADVICE %>">
  <%= render "components/select-with-search", {
    id: "edition_publication_type_id",
    name: "edition[publication_type_id]",
    label: "Publication type (required)",
    heading_size: "l",
    value: edition.publication_type_id,
    error_message: errors_for_input(edition.errors, :publication_type_id),
    include_blank: true,
    grouped_options: [
      [
        "Common types",
        PublicationType.primary,
      ],
      [
        "Less common types",
        PublicationType.less_common,
      ],
      [
        "Use discouraged",
        PublicationType.use_discouraged,
      ]
    ]
    .map do |group|
      [
        group.first,
        group.second.map do |publication_type|
          {
            text: publication_type.singular_name,
            value: publication_type.id,
            selected: edition.publication_type_id == publication_type.id,
          }
        end
      ]
    end
  } %>

  <% if edition.publication_type_id.present? %>
    <%= render "subtype_format_advice", guidance: JSON.parse(PublicationType::FORMAT_ADVICE)[edition.publication_type_id.to_s].html_safe %>
  <% end %>
</div>
