<div class="row-fluid">
  <%= render partial: 'publication_type_fields', locals: { form: form, edition: edition } %>
  <%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>
</div>
