<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>

    <div class="js-external-url-set">
      <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>
    </div>
    <%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>
  <% end %>
<% end %>
