<%= standard_edition_form(edition, @information, preview_design_system: true) do |form| %>
  <div class="js-external-url-set">
    <%= render 'inline_attachments_info', form: form, edition: edition %>
  </div>
<% end %>
