<% content_for :page_title, @organisation.name %>
<% content_for :context, organisation_context_block(current_user, @organisation)  %>
<% content_for :title, @organisation.name %>
<% content_for :title_margin_bottom, 4 %>

<p class="govuk-body"><%= view_on_website_link_for @organisation, class: "govuk-link" %></p>

<%= render "components/secondary_navigation", {
  aria_label: "Organisation navigation tabs",
  items: secondary_navigation_tabs_items(@organisation, request.path)
} %>

<% if @organisation.unused_corporate_information_page_types.any? %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Create new corporate information page",
    href: new_polymorphic_path([:admin, @organisation, CorporateInformationPage.new]),
    margin_bottom: 6,
  } %>
<% end %>

<%= render 'admin/editions/search_results', filter: @filter, paginator: @paginator, show_export: false %>
