<% content_for :page_title, "New corporate information page for #{@organisation.name}" %>
<% content_for :back_link, (render "govuk_publishing_components/components/back_link", {
    href: admin_editions_path
  })
%>
<% content_for :error_summary, render('shared/error_summary', object: @edition, parent_class: "edition", class_name: @edition.format_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: sanitize("Add new corporate information page to #{link_to(@organisation.name, [:admin, @organisation], class: 'govuk-link')}")
    } %>

    <%= render "form", edition: @edition %>
  </div>
</div>
