<% page_title "Edit " + @policy_area.name %>
<div class="g2 first">
  <section>
    <h1>Edit policy area</h1>
    <%= render partial: "form", locals: {policy_area: @policy_area} %>
  </section>
  <section>
    <h1>Delete policy area</h1>
    <% if @policy_area.destroyable? %>
      <%= button_to 'Delete', admin_policy_area_path(@policy_area), method: :delete, confirm: 'Are you sure you want to delete this policy area?' %>
    <% else %>
      <span class="documents_preventing_destruction">This policy area can't be deleted as it has associated policies: <%= documents_preventing_destruction(@policy_area) %></span>
    <% end %>
  </section>
</div>