<div class="g2 first">
  <section>
    <h1>Edit policy area</h1>
    <%= render partial: "form", locals: {topic: @topic} %>
  </section>
  <section>
    <h1>Delete policy area</h1>
    <% if @topic.destroyable? %>
      <%= button_to 'Delete', admin_topic_path(@topic), method: :delete, confirm: 'Are you sure you want to delete this policy area?' %>
    <% else %>
      <span class="documents_preventing_destruction">This policy area can't be deleted as it has associated news articles or policies: <%= documents_preventing_destruction(@topic) %></span>
    <% end %>
  </section>
</div>