<% page_title "Edit #{@group.name}"  %>
<div class="span8">
  <section>
    <h1>Edit group in <%= @group.organisation.name %></h1>
    <%= render partial: "form", locals: {group: @group} %>
  </section>
</div>
