<% page_title "Edit #{@group.name}"  %>
<div class="row">
  <section class="col-md-8">
    <h1>Edit governance group in <%= @group.organisation.name %></h1>
    <%= render partial: "form", locals: {group: @group} %>
  </section>
  <div class="col-md-4">
    <%= simple_formatting_sidebar %>
  </div>
</div>
