// A list of organisation brand info, to be iterated over when declaring styles
// The format is (slug, color)

$organisation_brands:
  ('her-majestys-treasury', rgb(191, 49, 26))
  ('her-majestys-revenue-and-customs', rgb(191, 49, 26))
  ('cabinet-office', rgb(0, 118, 192))
  ('department-for-education', rgb(245, 132, 38))
  ('department-of-transport', rgb(0, 113, 97))
  ('department-of-health', rgb(0, 174, 158))
  ('home-office', rgb(127, 63, 152))
  ('ministry-of-justice', rgb(35, 31, 32))
  ('ministry-of-defence', rgb(92, 41, 70))
  ('foreign-and-commonwealth-office', rgb(0, 84, 164))
  ('department-for-communities-and-local-government', rgb(73, 47, 146))
  ('department-for-energy-and-climate-change', rgb(122, 193, 67))
  ('department-for-culture-media-and-sport', rgb(236, 9, 141))
  ('department-for-environment-food-and-rural-affairs', rgb(138, 141, 9))
  ('department-for-work-and-pensions', rgb(34, 188, 185))
  ('department-for-business-innovation-and-skills', rgb(59, 110, 143))
  ('department-for-international-development', rgb(115, 157, 210))
  // fallback branding
  ('unknown_organisation', rgb(100, 100, 100))
  ('multiple_organisations', rgb(100, 100, 100));

@mixin add_styles_for_org($org_class, $colour, $logo_image_url, $logo_image_url_small) {
  .organisation.ministerial-department.#{$org_class} {
    .page_header {
      h1.name {
        @if $colour {
          border-color: $colour;
        }
        @if $logo_image_url {
          background: url($logo_image_url) no-repeat 8px -1px;
          line-height: 48px;
          padding-left: 78px;
        }
      }
    }

    section h1.label {
      @if $colour {
        color: $colour;
      }
    }

    .sub_navigation ul li {
      @if $colour {
        border-color: $colour;
      }
    }
    .metadata {
      @if $colour {
        color: $colour;
      }
    }
    .organisation_news .news_body {
      @if $colour {
        background-color: $colour;
      }
    }

    .slider_wrap .slidecontrols li a {
      @if $colour {
        background-color: rgba($colour, 0.5);
      }
    }
  }

  .document_page {
    #document_organisations {
      .ministerial-department {
        &.#{$org_class} {
          span.organisation_logo_small {
            @if $colour {
              border-color: $colour;
            }
            @if $logo_image_url_small {
              background: url($logo_image_url_small) no-repeat 8px -1px;
              padding-top: 24px;
            }
          }
        }
      }
    }
  }
}

@mixin branded_page_headers {
  .organisation {
    .page_header {
      h1.name {
        border-left: 4px solid #000;
      }
    }
  }

  .document_page {
    #document_organisations {
      .ministerial-department {
        span.organisation_logo_small {
          border-left: 2px solid #000;
          padding-left: 4%;
        }
      }
    }
  }

  // define styles for different organisation types
  @include add_styles_for_org('ministerial-department', false, "/government/assets/coa-default-48.gif", "/government/assets/coa-default-24.gif");
  @include add_styles_for_org('ministry-of-defence', false, "/government/assets/coa-ministry-of-defence-48.gif", "/government/assets/coa-ministry-of-defence-24.gif");


  // define styles for individual organisations

  @each $brand in $organisation_brands {
    $name: nth($brand, 1);
    $color: nth($brand, 2);

    @include add_styles_for_org($name, $color, false, false);
  }
  
  .organisation.ministerial-department.ministry-of-defence {
    .page_header {
      h1.name {
        padding-left: 54px;
      }
    }
  }
}


@mixin branded_news($org_class, $colour, $logo_image_url, $logo_image_url_small) {
  .inside_gov_home{
    .recently_updated{
      .#{$org_class} {
          @if $colour {
            border-left: 6px solid $colour;
          }
          .organisation{
            @if $colour {
              color: $colour;
            }
            a{
              color:inherit;
            }
          }
        }
      }
  }
}

