@import "../shared/utils";

#content {

  .alphabetical_list {
    h1 {
      @include type-21;
    }
  }

  .alphabetical_row {
    @include flood_three_columns;
    border-top: 1px solid #ddd;
    padding-bottom: 1.5em;
    margin: 0;
  }

  .alphabetical_group {
    @include span_one_column;

    h2 {
      @include type-24;
      color: #fff;
      text-align: center;
      width: 2em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      background: #CDCE00;
    }

    ul {
      @include clearfix;
      margin-bottom: 0;

      li {
        @include type-14;
        margin-bottom: 0.857em;

        h3, p {
          margin-bottom: 0;
        }

        p {
          @include type-14;
          margin-bottom: 0;
        }

        a {
          font-weight: bold;
        }
      }
    }

    .ministerial_role {

      h3 {
        @include type-16;
        margin-bottom: 0;
        a {
          font-size: 100%;
        }
      }

    }
  }
}