@import "../shared/utils/type_sizing";
@import "../shared/utils/grid";
@import "../shared/utils/clearfix";

#content {

  .alphabetical_list {
    h1 {
      @include type-21;
    }

    padding-top: 1em;
  }

  .alphabetical_row {
    @include flood_three_columns;
    padding-bottom: 1.5em;
    margin: 0;
  }

  .alphabetical_group {
    @include span_one_column;

    h2 {
      @include type-24;
      color: #fff;
      text-align: center;
      width: 1.5em;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      background: #ddd;
      border: 1px solid #ccc;
    }

    ul {
      @include clearfix;
      margin-bottom: 0;

      li {
        margin-bottom: 0.857em;

        h3, p {
          margin-bottom: 0;
        }

        h3 {
          @include type-14;
          margin-bottom: 0;
        }

        p {
          @include type-12;
          margin-bottom: 0;
        }

        a {
          font-weight: bold;
        }
      }
    }
  }
}