@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/shadows";

#content {
  section.article_section {

    h1 {
      margin-left: 0;
      padding: 0 1.5%;
    }

    .row {
      margin-bottom: 0.75em;

      &.last {
        margin-bottom: 0;
      }
    }

    article {
      min-height: 0;
      margin-bottom: 1.5em;

      h2.article_title {
        @include type-16;
        margin-bottom: 0;
      }

      p.summary {
        @include type-14;
        font-family: $helvetica;
        margin-bottom: 0.75em;
      }

      span.metadata {
        display: block;
        @include type-12;
        margin-bottom: 0;
       /* color: #777;*/
      }

      &.has_img {
        $inner_padding: 5px;
        $image_width: (210px / 2);
        $image_height: (240px / 2);
        padding-left: ($image_width + $inner_padding * 2 + 10px);
        min-height: 8.8em;

        div.img {
          position: absolute;
          top: 0.4em;
          left: 0;
          @include box-shadow(0, 0, 2px, #ddd);
          background: #fff;
          padding: $inner_padding $inner_padding $inner_padding $inner_padding;

          a {
            height: $image_height;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;

            img {
              margin: 0;
              width: $image_width;
            }
          }
        }
      }
    }

    .no_content {
      p {
        text-align: center;
      }
    }
  }

  p.readmore {
    @include type-13;
    margin-bottom: 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
  }

}

.lte-ie8 {
  #content {
    section.article_section {
      article {
        _height: 0;
      }
    }
  }
}