@import "../shared/utils/type_sizing";

#content {
  section.article_section {
    padding-top: 1.5em;

    h1 {
      margin-left: 0;
      padding: 0 3%;
    }

    .row {
      border-bottom: 1px solid #ddd;
      margin-bottom: 0.75em;
      padding: 0 1%;

      &.last {
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    article {
      margin-bottom: 1.5em;

      h2.article_title {
        @include type-16;
        margin-bottom: 0;
      }

      p.summary {
        @include type-14;
        margin-bottom: 0.75em;
      }

      span.metadata {
        display: block;
        @include type-12;
        margin-bottom: 0;
        color: #777;
      }

      &.has_img {
        padding-left: 108px;
        min-height: 96px;
        div.img {
          width: 94px;
          height: 70px;
          overflow: hidden;
          position: absolute;
          top: 0.4em;
          left: 0;
          border: 1px solid #555;
        }
      }
    }

    &.last {
      border-right: none;
    }

    .no_content {
      p {
        text-align: center;
      }
    }
  }

  p.readmore {
    @include type-14;
    margin-bottom: 0;
    background: #fdfdfd;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #ddd;
    padding: 0.5em 1.5em 0.5em 1.5em;
  }

}