@import "../shared/utils/type_sizing";

#content {
  nav.consultations_scope {
    display: inline-block;
    margin: 1.5em 0;
    padding: 0;
    width: 11.85em;
    border: none;
    background: none;

    a {
      @include type-13;
      color: #777;
      font-weight: bold;
      border-bottom: 1px solid #bbb;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 0.35em 1em 0.5em 1em;
      display: inline-block;
      margin-left: -4px;
      margin-bottom: 0;
      text-decoration: none;

      &:first-child {
        margin-left: 0;
        border-left: 1px solid #ddd;
      }

      &:last-child {
        border-right: 1px solid #ccc;
      }

      &:hover {
        text-decoration: none;
        color: #666;
        background: #ddd;
      };

      &.current {
        color: #444;
      }
    }
  }
}