@import "../shared/utils";

#consultations {
  li.consultation {
    .details {
      @include type-14;
      span:after {
        content: ';'
      }
      span:last-child:after {
        content: '';
      }
    }
  }
}