@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "../shared/utils/grid";
@import "../shared/colours";

#wrapper {
  &.countries-index {
    #featured-countries {
      .g3 {
        border-bottom: solid 1px #000;
        padding-bottom: 0.75em;
      }
    }
    section.alphabetical_list {
      padding-top: 0.75em;
      
      .alphabetical_row {
        div.g1f {
          text-align: right;
        }
        
        h2.label {
          font-family: $gill;
          font-size:2.3em;
          line-height: 1.286em;
          color:#fff;
          background-color:#bbb;
          display:inline-block;
          margin-right: 0.5em;
          padding:0.345em 0 0.345em 0.1em;
          text-align:center;
          margin-top: 0;
    
          @media only screen and (min-width: 768px) {
            width:72px;
          }
        }
      }
    }
  }
}