@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "../shared/utils/rounded_corners";

#content {
  .document_page {
    @include clearfix;
    background: #eee;
    padding: 1.5em 0;
    border-bottom: 1px solid #ddd;

    .notice {
      border: 1px solid #d1d31b;
      background: #f7f7c3;
      padding: 0.75em 1.5em 0.75em 1.5em;

      p {
        font-weight: bold;
        @include type-14;
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 0;

        li {
           @include type-12;
           margin-bottom: 0;
        }
      }
    }

    .document {
      padding: 1em 1.5em;
      background-color: #fff;
      border: 1px solid #ddd;
      @include rounded(2px);

      .body {
        h2 {
          @include type-21;
        }

        h3 {
          @include type-18;
        }

        p {
          max-width: 50em;
        }

        p:nth-child(1) {
          @include type-16;
          margin-bottom: 0.75em;
        }
      }

      section {
        h1 {
          @include type-21;
          margin-bottom: 0.5715em;
          padding-bottom: 0.28575em;
          border-bottom: 1px solid #ddd;
        }
      }

      &.has_notice {
        border-top: 0;
      }
    }

    section.contextual_info {
      background: #fff;
      padding: 1em 1em 1em 1em;
      margin-right: 2%;
      margin-bottom: 1.5em;
      border: 1px solid #ccc;

      h1 {
        @include type-18;
        margin-bottom: 0.5em;
      }

      h2 {
        @include type-14;
        margin-bottom: 0.5em;
        margin-top: 1.25em;
      }

      nav {
        margin-left: 2%;
      }

      a {
        display: block;
        @include type-12;
        margin-bottom: 0;
      }

      p {
        @include type-12;
        margin-bottom: 1em;

        a {
          font-size: 100%;
          display: inline;
        }
      }

      ol {
        list-style-type:circle;
        li {
          margin: 0;
          line-height: 1em;
        }
      }
    }
  }
}