@import "../shared/utils";

@mixin featured_items {
  @include clearfix;
  @include featured_box;
  padding-top: 1em;

  article.policy_area {
    h1 {
      padding-left: 1em;
      padding-bottom: 0em;
      @include type-21;
      margin-bottom: 0.5em;
    }

    .description {
      padding: 0 1.5em;
      @include type-14;
      color: #555;
    }
  }

  .related {
    background: #fefefe;
    section {
      background: none;
      border: none;
      margin-bottom: 0;
      padding: 0;

      h1 {
        @include type-21;
        margin-bottom: 0.5em;
      }

      ul {
        padding: 0;
        li  {
          margin-bottom: 0.857em;
          a {
            padding: 0;
          }
        }
      }
    }
  }

}

#content {
  section.featured {
    @include featured_items;
  }

  .consulations {
    section.featured_items {
      @media only screen and (min-width: 768px) {
        background: url(/images/consultations-index.jpg);
      }
    }
  }

  section.featured_items {
    background: #f7f8d9;
    border-top: 1px solid #bbb;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    border-bottom: 1px solid #ddd;

    @media only screen and (min-width: 768px) {
      padding-top: 0;
    }

    article {
      @include flood_one_column;
      .inner {
        padding: 0 2% 0 2%;
        margin-bottom: 0;

        h2 {
          @include type-16;
          margin: 0 6% 0.5715em 6%;
        }

        .summary {
          @include type-12;
          margin-left: 6%;
          margin-right: 6%;
          margin-bottom: 0;
        }

        .metadata {
          @include type-11;
          margin-left: 6%;
          margin-right: 6%;
        }

        @media only screen and (min-width: 768px) {
          padding: 1em 0;
          padding-top: 1.45em;
          padding-bottom: 1.25em;

          .metadata {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
