@import "../shared/colours";
@import "../shared/utils/type_sizing";
@import "../shared/utils/type_stacks";
@import "../shared/utils/shadows";
@import "../shared/utils/rounded_corners";
@import "../shared/utils/gradients";
@import "../shared/utils/grid";

#content {
  section.featured_items {
    article {
      position: relative;
    }

    h2 {
      margin-bottom: 0;
      padding: 0.5em 0 0.75em 0;
      background: #fff;
      margin: 0;

      &:before, &:after {
        content: " ";
        width: 0;
        height: 0;
      	display: block;
      	position: absolute;
      	bottom: -10px;
      	right: 45%;
      };

      &:before {
        border-top: 10px solid #ddd;
      	right: 44.9%;
      	bottom: -11px;
      }

      a {
        display: block;
        padding: 0;
      }
    }

    p.summary {
      margin-bottom: 0;
      padding: 0;
      margin: 1em 0;

      a.read {
        display: block;
        @include type-13;
        margin-bottom: 0;
        margin-top: 0.875em;
      }
    }

    .meta {
      padding: 0.25em 0;
      margin: 0;
      text-align: right;
      color: #777;

      @media only screen and (min-width: 768px) {
      }

      :last-child {
        margin-right: 1em;
      }

      .time_remaining,.last_significant_change {
        font-style: italic;
      }
    }

    div.img {
      display: none;
      float: left;
      margin-bottom: 0.4285em;
      margin-bottom: 1.5em;
      margin-left: 1.25em;
      overflow: hidden;
      padding: 6px 6px 0 6px;
      max-width: 84px;
      width: 22%;

      a img {
        margin: 0;
        background-color: white;
        max-width: 82px; // 84px minus border
      }

      @media only screen and (min-width: 600px) {
        display: block; // only show in non-mobile layout
      }

      @media only screen and (min-width: 768px) {
        max-width: 120px;

        a img {
          max-width: 118px; // 120px minus border
        }
      }
    }

    .image_summary {
      padding-top: 1.2em;
      p.summary {
        border: none;
        margin-top: 0;
        @media only screen and (min-width: 600px) {
          float: left;
          width: 50%;
        }
      }
    }

    // single item

    div.g3f {
      @media only screen and (min-width: 600px) {
        h2 {
          &:before, &:after {
          	left: 20%;
          }
        }

        p.summary {
          max-width: 30em;
        }

        h2 a, .meta {
          border-right: 0;
        }
      }

      .meta {
        border-bottom: none;
      }
    }

    // two items

    div.g-half-flood {
      &:last-child {
        .meta {
          border-bottom: none;
        }
      }

      &:nth-child(2) {
        p.summary {
          border-right: none;
        }
      }

      @media only screen and (min-width: 600px) {
        .meta {
          border-bottom: none;
        }
      }

    }

    // three items

    div.g1f {

      &:first-child {
        @media only screen and (min-width: 600px) {
          width: 100%;
          div.image_summary {
            border-right: none;
          }

          p.summary, .meta {
            border-right: none;
          }
        }

        @media only screen and (min-width: 768px) {
          width: 33.3333333%;
          border-bottom: none;

          p.summary, .meta, div.image_summary {
          }

          div.image_summary {
            p.summary {
              border: none;
            }
          }
        }
      };

      &:last-child {
        p.summary {
          border-right: none;
        }

        @media only screen and (min-width: 600px) {
          .meta {
            border-right: none;
          }
        }
      }

      div.image_summary {
        @media only screen and (min-width: 600px) {
          div.img {
            max-width: 84px;
          }
          a img {
             max-width: 82px;
          }
        }
      }

      @media only screen and (min-width: 600px) {
        .meta {
          border-bottom: none;
        }
      }

    }

    div.g1f, div.g-half-flood {
      &:last-child {
        @media only screen and (max-width: 600px) {
          .meta, .image_summary {
            border-bottom: none;
          }
        }

        @media only screen and (min-width: 600px) {
          div.image_summary {
            border-right: none;
          }
        }

        @media only screen and (min-width: 768px) {
          h2, h2 a, p.summary, .meta {
            border-right: none;
          }
        }
      }
    }

  }

  section.featured_carousel {
    background: #eee;
    position: relative;
    overflow: hidden;
    padding: 0;

    article {
      width: 100%;
      padding: 0;
      min-height: 200px;

      .img {
        display: none;
        width: 100%;

        img {
          display: block;
          margin: 0;
          padding: 0;
        }

        @media only screen and (min-width: 600px) {
          display: block;
        }
      }
    }
  }

  .slider_wrap {
    position: relative;
    margin-bottom: 1.125em;

    .carousel-tabs {
      list-style: none;
      position: absolute;
      bottom: 30px;
      right: 48px;
      z-index: 160;
      width: 42px;

      @media only screen and (min-width: 600px) {
        bottom: 154px;
        right: 10%;
      }

      @media only screen and (min-width: 768px) {
        right: 10.5%;
      }

      li {
  		    display: inline-block;
  		    margin: 0;
  		    padding: 0 7.5%;
  		}

  		a {
  		    background: #fff;
  		    display: inline-block;
  		    height: 8px;
  		    text-indent: -9999px;
  		    width: 8px;
  		}
    }

		.carousel-active-tab { color: red; }

		.carousel-disabled,
		.carousel-tabs {
			padding: 0;
			margin: 0;
			clear: both;
		}

		.carousel-tabs .carousel-active-tab a {
			background: #777;
		}

    .slidecontrols{
      margin: 0;
      position: absolute;
      bottom: 16px;
      right: 16px;
  /*      width: 15%;*/
      width: 104px;
      z-index: 155;

      @media only screen and (min-width: 600px) {
        width: 15%;
        bottom: 140px;
        right: 5%;
      }

      li{
        float:right;
        margin: 0;
        height: 47px;
        width: 29px;

        a {
          display: block;
          height: 47px;
          width: 29px;
          margin: 0;
          text-indent: -9999px;
          background-image: url(/government/assets/carousel-arrows.png);
          background-repeat:no-repeat;
          background-position:0 100%;


          &.carousel-disabled {
            display: none;
          }
        }

        a:hover, a:focus, a:active{
          outline:none;
        }
      }

      li:last-child{
        float:left;
        a {
          background-image: url(/government/assets/carousel-arrows.png);
          background-position:0 0;
        }
      }
    }
  }
}

#content {
  .organisation_news {
    article.news_article {
      .img {
        img {
          @media only screen and (min-width: 768px) {
            margin-top: -15%;
          }
        }
      }
    }

    .news_body {
      @include flood_four_columns;
      background: #333;
      bottom: 0;
      left: 0;
      min-height: 200px;
      position: absolute;
      z-index: 100;

      @media only screen and (min-width: 600px) {
        width: 75%;
      }

      @media only screen and (min-width: 768px) {
        padding-left: 25%;
        width: 50%;
      }

      h2 {
        @include scaled_type(24,24);
        font-family: $gill;
        padding: 0.5em 1.5%;
        margin: 0;
        display: block;

        @media only screen and (min-width: 768px) {
          @include scaled_type(32,32);
          margin: 0;
        }

        a {
          color: #fff;
        }
      }

      .summary {
        @include type-14;
        font-family: $helvetica;
        color: #fff;
        margin: 0;
        padding: 0 1.5% 1.25em 1.5%;
      }

      div.meta {
        padding: 0.25em 1.5% 0.5em 1.5%;

        span {
          @include type-12;
          color: #fff;
          display: block;
          margin-bottom: 0;
          margin-right: 1em;
        }
      }
    }
  }
}

.lte-ie8 {
  .slider_wrap {
    .carousel-tabs {
      li, a {
        display: block;
      	float: left;
      }
    }
  }
}
