// most of this stuff should go ..
// it is legacy stuff that has
// accumulated though the build
// once the new layout is in place
// we shouldn't be relying on it's
// dusty scaffolding ...

@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";

#content {

  .beta_disclaimer {
    background-color: #F17921;
    min-height: 1.5em;

    h1, p {
      display: inline;
    }

    h1 {
      @include type-16;
      margin-left: 1.5%;
    }

    p {
      @include type-14;
      margin-left: 0.5em;
    }
  }

  .related_content {
    padding-top: 1em;
    margin-bottom: 1em;
  }

  .g3f > .related_content {
    border: none;
  }

  .latest_documents {
    div.metadata {
      @include type-14;
      margin-bottom: 0.25em;

      &.published_or_updated {
        @include scaled_type(11, 12);
        font-weight: bold;
        letter-spacing: 0.15em;
        margin-bottom: 0.5455em;
        text-transform: uppercase;

        .published_at {
          font-weight: normal;
        }
      }
    }

    li {
      margin-bottom: 1.125em;
    }

    a {
      @include type-16;
      margin-bottom: 0.25em;
      display: block;
      line-height: 1.125em;
      font-weight: bold;
    }
  }

  section.no_content {
    padding-top: 1.5em;

    h1 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .page_detail {
    @include clearfix;
    background: #D5E8F4 url(/government/assets/summary-arrow.png) no-repeat 1.5% 1.5em;
    padding: 0 3%;
    margin-bottom: 1.5em;

    .explanation {
      padding: 0 0 0 1.5em;
    }

    .organisations_type_links {
      padding: 0 0 0 1.5em;
    }
  }

  .related_documents {
    padding-top: 1em;
    section {
      padding-bottom: 0.75em;
      margin-bottom: 0.75em;
      margin-left: 2%;

      h1 {
        @include type-16;
        margin-bottom: 0.375em;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        @include type-12;
        margin-bottom: 0;
      }
    }

    &:first-child {
      section {
        border-bottom: 0;
      }
    }
  }

  p.nothing_related {
    @include type-13;
    margin-bottom: 0.875em;
    margin-left: 2%;
  }

  .feed_icon img {
    width: auto;
    float: right;
  }
}
