// most of this stuff should go ..
// it is legacy stuff that has
// accumulated though the build
// once the new layout is in place
// we shouldn't be relying on it's
// dusty scaffolding ...

@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "../shared/typography";

#content {

  .beta_disclaimer {
    background-color: #F17921;
    min-height: 1.5em;

    h1, p {
      display: inline;
    }

    h1 {
      @include type-16;
      margin-left: 1.5%;
    }

    p {
      @include type-14;
      margin-left: 0.5em;
    }
  }

  .related_content {
    padding-top: 1em;
    margin-bottom: 1em;
  }

  .g3f > .related_content {
    border: none;
  }

  .latest_documents {
    div.metadata {
      @include type-14;
      margin-bottom: 0.25em;

      &.published_or_updated {
        @include upcase_datetime;
      }

      .document_type {
        @include type-14;
        font-weight: bold;
        letter-spacing: 0.15em;
        margin-bottom: 0.5455em;
        text-transform: uppercase;

        .published_at {
          font-weight: normal;
        }
      }
    }

    li {
      margin-bottom: 1.125em;
    }

    a {
      @include type-16;
      margin-bottom: 0.2em;
      display: block;
      line-height: 1.125em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.policy_topics {
    li {
      display: inline;
        a {
          @include type-14;
          background-color: #eee;
          display: block;
          float: left;
          padding: 0.3215em 0.643em;
          margin: 0.3215em 0.643em 0.3215em 0;
          text-decoration: none;

          &:hover {
            background-color: #E5E5E5;
          }
        }
    }
  }

  section.no_content {
    padding-top: 1.5em;

    h1 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .page_detail {
    @include clearfix;
    margin-bottom: 1.5em;
    @include type-24;
    @include georgia;
  }

  .related_documents {
    padding-top: 1em;
    section {
      padding-bottom: 0.75em;
      margin-bottom: 0.75em;
      margin-left: 2%;

      h1 {
        @include type-16;
        margin-bottom: 0.375em;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 0;
      }
    }

    &:first-child {
      section {
        border-bottom: 0;
      }
    }
  }

  p.nothing_related {
    @include type-13;
    margin-bottom: 0.875em;
    margin-left: 2%;
  }

  .feed_icon img {
    width: auto;
    float: right;
  }

  ul.jump_list {
    padding-top: 0.2em;
    padding-left: 1.2em;
    text-indent: -1.2em;

    li {
      font-size: 0.85em;
      margin-bottom: 0.25em;
    }

    li:before {
      float: left;
      width: 1.2em;
      content: "⇣ ";
    }
  }

  article .summary p, article .summary h2 {
    background-image: none;
  }
}

.lte-ie8 {
  #content {
    article {
      _height: 0;
    }
  }
}