#grid-helper {
  margin: 0 auto;
  height: 3000px;
  width: 100%;

  @media only screen and (min-width: 600px) {
    width: 81%;
  }

  .g3 {
    z-index: 99999;
    background: green url('/images/24px_grid_bg.png');
    height: 100%;
    opacity: 0.5;
    @media only screen and (min-width: 1800px) {
      background-image: url('/images/28px_grid_bg.png');
    }
  }

  .g1 {
    background: red;
    height: 100%;
    opacity: 0.5;
  }
}

.grid_outline {
  .g1, .g2, .g3, .g1f, .g2f, .g3f, .g4, .g4f {
    background: rgba(255,0,0, 0.5);
  }

  .space {
    margin-top: 1.5em;
  }
}

.grid_content_holder {
  height: 5em;
  border: 1px solid #444;
  border-top: 0;
  border-bottom: 0;
  background: rgba(255,0,0, 0.5);
  padding: 0.5em 1.5em;
}