@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "organisation_brands";

@each $brand in $organisation_brands {
  $name: nth($brand, 1);
  $color: nth($brand, 2);

  @include branded_news($name, $color, false, false);
}
#wrapper.inside_gov{
  background-color:#eee;
  background-image:url(/government/assets/uk-map.png);
  background-position: 50% 0;
  background-repeat:no-repeat;
}
#wrapper.inside_gov #content {
  background: none repeat scroll 0 50% transparent;
}
#content .inside_gov_home{
  .beta-site{
    strong{
      display:block;
    }
    background-color:#F17921;
    padding:0.5em;
  }
  .g1 {
    margin-left:12.5%;
    a{
      font-weight:bold;
    }
    p span{
      text-transform:uppercase;
      font-weight:bold;
    }
  }
  h1.page_title{
    font-family:$gill;
    @include type-44;
    text-transform:none;
    padding:0.75em 0.75em 0.5em;
    margin: 0 9%;
    text-transform:none;
    font-weight:normal;
    span{
      text-transform:uppercase;
    }
  }
  section.featured_carousel{
    background: none repeat scroll 0 0 transparent;
  }
  .published_document{
    @include type-21;
    line-height:1em;
    margin:0;
    padding:0;
  }
  .organisation{
    font-family:$helvetica;
    @include type-14;
    letter-spacing:0.05em;
    text-transform:uppercase;
    padding-top:0.25em;
    margin:0;
    a{
      color:inherit;
    }
  }
  h2{
    padding:0.5em 0;
    margin:0;
  }
  p{
    padding:0.5em 0;
  }
  .meta{
    padding:0.5em 0;
  }
  .metadata{
    @include type-12;
    display:inline;
  }

  


  .recently_updated {
    li {
      padding:0.5em 0.5em;
      margin:0 0 0.5em 0;
      background-color:#fff;
    }
  }

  section.featured_carousel article .img{
    display:none;
    background-color:#999876;
  }


}



#content ul.grid {
  width: 100%;

  @media only screen and (min-width: 1035px) {
    height: 500px;
    position: relative;
  }

  li {
    @media only screen and (min-width: 1035px) {
      position: absolute;
    }
    margin: 0;
    display: block;
    background: rgb(100, 100, 100);
    color: white;
    overflow: hidden;
    font-size: 0.6em;

    h1 {
      color: white;
    }

    .meta {
      color: white;
      position: absolute;
      bottom: 0px;
      .type {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .headline-box {
      position: relative;
      padding: 4px;
      display: table;
      padding: 4px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      height: 100%;
      width: 100%;
    }

    .headline-box:hover {
      background: black;
      text-decoration: none;
      color: white;
    }
  }

  @media only screen and (min-width: 1035px) {
    .headline-box {
      border: 1px solid white;
    }

    .col-1, .e {
      left: 10%;
    }

    .col-2 {
      left: 20%;
    }

    .col-3, .b, .f, .k {
      left: 30%;
    }

    .col-4, .l {
      left: 40%;
    }

    .col-5, .d {
      left: 50%;
    }

    .col-6, .h, .m, .o {
      left: 60%;
    }

    .col-7, .c, .j {
      left: 70%;
    }

    .col-8, .g, .i {
      left: 80%;
    }

    .col-9 {
      left: 90%;
    }

    .row-1, .c, .k, .l {
      top: 20%;
    }

    .row-2, .b, .m {
      top: 40%;
    }

    .row-3, .e, .n, .o {
      top: 60%;
    }

    .row-4, .h, .i, .p {
      top: 80%;
    }

    .three-by-three, .a, .b, .c {
      width: 30%;
      height: 60%;
      font-size: 0.6em;
    }

    .two-by-two, .d, .e {
      width: 20%;
      height: 40%;
      font-size: 0.3em;
    }

    .two-by-one, .f, .g, .h, .i {
      width: 20%;
      height: 20%;
      font-size: 0.25em;
    }

    .one-by-one, .j, .k, .l, .m, .n, .o, .p {
      width: 10%;
      height: 20%;
      font-size: 0.2em;

      .meta {
        display: none;
      }
    }
  }

}