@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "organisation_brands";

  @each $brand in $organisation_brands {
    $name: nth($brand, 1);
    $color: nth($brand, 2);

    @include branded_news($name, $color, false, false);
  }
#content{
  h1.page_title{
    font-family:$gill; 
    @include type-16;
    background-color:#666;
    color:#fff;
    padding:0.5em 0.75em;
    margin: 0 0 1em 0;
    text-transform:uppercase;    
    font-weight:normal;
  }
  .inside_gov_home {
    section.featured_carousel{
      background-color:none;
    }
    .organisation{
      @include type-14;
      letter-spacing:0.15em;
      text-transform:uppercase;
      margin:0;
    }
    h2{
      padding:0.5em 1em;
      margin:0;
    }
    p{
      padding:0.5em 1em;
    }
    .meta{
      padding:0.5em 1em;
    }
    .metadata{
      @include type-12;
      display:inline;
    }
    .g4f{
      background-color:#F8F7ED;
    }
    .slider_wrap {
      .slidecontrols {
        bottom:200px;
        width:20%;
      }
      .carousel-tabs {
        width:46px;
        bottom:202px;
      }
    }
    .recently_updated {
      li {
        padding:0.5em 0.5em;
        margin:0 0 0.5em 0;
        background-color:#fff;
      }
    }
  }
  section.featured_carousel article .img{
    height:217px;
    background-color:#999876;
  }
  
}
#content ul.grid {
  width: 100%;

  @media only screen and (min-width: 1035px) {
    height: 500px;
    position: relative;
  }

  li {
    @media only screen and (min-width: 1035px) {
      position: absolute;
    }
    margin: 0;
    display: block;
    background: rgb(100, 100, 100);
    color: white;
    overflow: hidden;
    font-size: 0.6em;

    h1 {
      color: white;
    }

    .meta {
      color: white;
      position: absolute;
      bottom: 0px;
      .type {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .headline-box {
      position: relative;
      padding: 4px;
      display: table;
      padding: 4px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      height: 100%;
      width: 100%;
    }

    .headline-box:hover {
      background: black;
      text-decoration: none;
      color: white;
    }
  }

  @media only screen and (min-width: 1035px) {
    .headline-box {
      border: 1px solid white;
    }

    .col-1, .e {
      left: 10%;
    }

    .col-2 {
      left: 20%;
    }

    .col-3, .b, .f, .k {
      left: 30%;
    }

    .col-4, .l {
      left: 40%;
    }

    .col-5, .d {
      left: 50%;
    }

    .col-6, .h, .m, .o {
      left: 60%;
    }

    .col-7, .c, .j {
      left: 70%;
    }

    .col-8, .g, .i {
      left: 80%;
    }

    .col-9 {
      left: 90%;
    }

    .row-1, .c, .k, .l {
      top: 20%;
    }

    .row-2, .b, .m {
      top: 40%;
    }

    .row-3, .e, .n, .o {
      top: 60%;
    }

    .row-4, .h, .i, .p {
      top: 80%;
    }

    .three-by-three, .a, .b, .c {
      width: 30%;
      height: 60%;
      font-size: 0.6em;
    }

    .two-by-two, .d, .e {
      width: 20%;
      height: 40%;
      font-size: 0.3em;
    }

    .two-by-one, .f, .g, .h, .i {
      width: 20%;
      height: 20%;
      font-size: 0.25em;
    }

    .one-by-one, .j, .k, .l, .m, .n, .o, .p {
      width: 10%;
      height: 20%;
      font-size: 0.2em;

      .meta {
        display: none;
      }
    }
  } 
 
}