.icon {
  background-repeat: no-repeat;
  min-height: 1.5em * 3;
}

.consultation-open .icon, #wrapper.consultations-index .icon {
  $width: 60px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/consultation-open.png);
}

.consultation-closed .icon, .consultation-responded .icon {
  $width: 60px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/consultation-closed.png);
}

.consultation-response .icon {
  $width: 60px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/consultation-responded.png);
}

// .countries .icon {
//   background-image: url(/government/assets/icons/48/countries.png);
// }

// .minister .icon {
//   background-image: url(/government/assets/icons/48/minister.png);
// }

.news .icon, .news_article .icon, #wrapper.announcements-index .icon, #wrapper.news-index .icon {
  $width: 53px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/news.png);
}

// .organisation .icon {
//   background-image: url(/government/assets/icons/48/organisation.png);
// }

.policy, .supporting_page {
  .icon {
    $width: 35px;
    padding-left: $width + 16px;
    background-image: url(/government/assets/icons/48/policy.png);
  }
}

.policytopic .icon, #wrapper.policy-topics-index .icon {
  $width: 41px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/policytopic.png);
}

#wrapper.publications-index .icon, .publication .icon {
  $width: 46px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/publication.png);
}

.speech .icon, #wrapper.speeches-index .icon {
  $width: 51px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/speech.png);
}

.search .icon {
  background-image: url(/government/assets/icons/48/search.png);
}