.icon {
  background-repeat: no-repeat;
}

.consultation, .consultation_response {
  .icon {
    $width: 60px;
    padding-left: $width + 16px;
    background-image: url(/government/assets/icons/48/consultation.png);
  }
}

// .countries .icon {
//   background-image: url(/government/assets/icons/48/countries.png);
// }

// .minister .icon {
//   background-image: url(/government/assets/icons/48/minister.png);
// }

.news, .news_article {
  .icon {
    $width: 53px;
    padding-left: $width + 16px;
    background-image: url(/government/assets/icons/48/news.png);
  }
}

// .organisation .icon {
//   background-image: url(/government/assets/icons/48/organisation.png);
// }

.policy, .supporting_page {
  .icon {
    $width: 35px;
    padding-left: $width + 16px;
    background-image: url(/government/assets/icons/48/policy.png);
  }
}

.policytopic .icon {
  $width: 41px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/policytopic.png);
}

.publication .icon {
  $width: 46px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/publication.png);
}

.speech .icon {
  $width: 51px;
  padding-left: $width + 16px;
  background-image: url(/government/assets/icons/48/speech.png);
}

.news-speech .icon {
  background-image: url(/government/assets/icons/48/news-speech.png);
}

.search .icon {
  background-image: url(/government/assets/icons/48/search.png);
}