@mixin icons_48 {
  background-repeat: no-repeat;

  &.consultation, &.consultation_response {
    background-image: url(/government/assets/icons/48/consultation.png);
  }

  &.countries {
    background-image: url(/government/assets/icons/48/countries.png);
  }

  &.minister {
    background-image: url(/government/assets/icons/48/minister.png);
  }

  &.news, &.news_article {
    background-image: url(/government/assets/icons/48/news.png);
  }

  &.organisation {
    background-image: url(/government/assets/icons/48/organisation.png);
  }

  &.policy, &.supporting_page {
    background-image: url(/government/assets/icons/48/policy.png);
  }

  &.policyarea {
    background-image: url(/government/assets/icons/48/policyarea.png);
  }

  &.publication {
    background-image: url(/government/assets/icons/48/publication.png);
  }

  &.speech {
    background-image: url(/government/assets/icons/48/speech.png);
  }

  &.news-speech {
    background-image: url(/government/assets/icons/48/news-speech.png);
  }

  &.search {
    background-image: url(/government/assets/icons/48/search.png);
  }
}

#content {
  section.page_header {
    padding-left: 80px;
    padding-right: 80px;
    background-position: 2% 0;
    min-height: 48px;

    @include icons_48;
  }

  .feed_icon img {
    width: auto;
    float: right;
  }

  ul.content_icons {
    li {
      display: block;
      padding-left: 32px;
      min-height: 32px;
      background-repeat: no-repeat;
      background-position: 0 6px;
      &.policy {
        background-image: url(/government/assets/icons/24/policy.png);
      }

      &.consultation {
        background-image: url(/government/assets/icons/24/consultation.png);
      }

      &.speech {
        background-image: url(/government/assets/icons/24/speech.png);
      }

      &.news_article {
        background-image: url(/government/assets/icons/24/news.png);
      }

      &.publication {
        background-image: url(/government/assets/icons/24/publication.png);
      }

      &.policy_area {
        background-image: url(/government/assets/icons/24/policyarea.png);
      }
    }
  }

  .announcements .row {
    article.news_article, article.speech {
      div.text {
        margin-left: 4%;
        background-position: 0 6px;
        background-repeat: no-repeat;
        padding-left: 36px;
      }
    }

    article.news_article {
      div.text {
        background-image: url(/government/assets/icons/24/news.png);
      }
    }

    article.speech {
      div.text {
        background-image: url(/government/assets/icons/24/speech.png);
      }
    }
  }

  .search_results {
    ul li {
      padding-left: 84px;
      background-position: 2% 8px;
      min-height: 72px;

      @include icons_48;
    }
  }
}