@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "../shared/utils/grid";

#content {
  //List where all the elements
  //are given grid classes to
  //float them across the columns

  ul.floated_list li {
    h3 {
      @include type-16;
      margin-bottom: 0;
    }

    p {
      @include type-16;
      margin-bottom: 0;
    }
  }

  // Alphabetical Listings

  section.alphabetical_list {

    .alphabetical_row {
      margin-bottom: 1.5em;

      h2 {
        @include gill;
        @include type-14;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: #333;

        &.alphabetical_list_letter {
          margin: 0;
          width: 48px;
          height: 48px;
          text-align: center;
          float: right;
          font-size: 1.3em;
          text-indent: 0.1em;
          line-height: 48px;
          background: #bbb;
          color: #fff;
        }
      }

      ul {
        @include clearfix;
        margin-bottom: 0;
        margin-right: 3%;

        li {
          margin-bottom: 0.857em;

          h3, p {
            margin-bottom: 0;
          }

          h3 {
            margin-bottom: 0;
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    &#ministerial_roles {
      li.ministerial_role {
        @include span_one_column;
      }
    }
  }
}

