@import "../shared/utils";
@import "../shared/grid";
@import "../shared/document_view";
@import "../shared/govspeak";
@import "../shared/typography";

#wrapper {
  background: #f5f5f5;
  max-width: 100%;
  min-height: 37em;
  padding-bottom: 1.5em;
  @include grid_styles;
  @include type_styles;
  @include vertical_gradient(#f5f5f5, #eee);

  @media only screen and (min-width:670px) {
    padding-top: 1.7em;
  }
}

.js-enabled #wrapper {
  @media only screen and (min-width:670px) {
    padding-top: 3em;
  }

  @media only screen and (min-width: 863px) {
    padding-top: 3.9em;
  }
}

#global-nav {
  margin: 0 auto;
  background: #333;
  border: 1px solid #d5d5d5;

  background-color: #485C29;
  @include vertical_gradient(#444, #333);

  @media only screen and (min-width: 600px) {
    width: 81%;
    @include box-shadow(0, 2px, 2px, #e5e5e5);
    @include rounded_top();
  }

  a {
    @include type-14;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    color: #fdfdfd;
    padding: 0.5em 12px;
    display: block;
    float: left;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;

    &:hover {
      background: #dedf00;
      border-top: 1px solid #eff000;
      border-bottom: 1px solid #898a00;
      color: #333;
    };

    &.current, &:active {
      background: #cdce00;
      border-top: 1px solid #eff000;
      border-bottom: 1px solid #898a00;
      color: #333;
      text-shadow: 0 1px rgba(255, 255, 200, .75);
    }

    &:first-child {
      margin-left: 12px;
    }
  }
}

#content {
  margin: 0 auto;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-top: none;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;

  @include type_styles;

  @media only screen and (min-width: 600px) {
    width: 81%;
    @include box-shadow(0, 2px, 2px, #e5e5e5);
  }

  section {
    margin: 0;
    width: auto;
  }

  article {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: none;
    margin-right: 0;
    min-height: inherit;
    position: inherit;
    width: auto;
    z-index: inherit;
  }

  img {
    width: 100%;
  }

  .govspeak {
    @include govspeak;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  abbr[title] {
    border: none;
  }

  h1.section_title {
    color: #333;
    @include type-18;
    margin-bottom: 1em;
  }

  .related_content {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-top: none;
    padding-top: 1em;
    margin-bottom: 1em;
  }

  .g3f > .related_content {
    border: none;
  }

  section ul, ol {
    li {
      @include type-14;
    }
  }

  .g3 h2 {
    @include type-21;
    margin-top: 1em;
    margin-left: 1%;
  }

  .g3f, .g2f {
    section h1 {
      margin-left: 2%;
    }
  }

  .page_detail {
    @include clearfix;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1.5em 0;
    margin-bottom: 1.5em;
  }

  .related_documents {
    padding-top: 1em;
    section {
      padding-bottom: 0.75em;
      margin-bottom: 0.75em;
      margin-left: 2%;

      h1 {
        @include type-16;
        margin-bottom: 0.375em;
        border-bottom: 1px solid #ddd;

      }

      ul {
        margin-bottom: 0;
      }

      li {
        @include type-12;
        margin-bottom: 0;
      }
    }

    &:first-child {
      section {
        border-bottom: 0;
      }
    }
  }

  p.nothing_related {
    @include type-14;
    margin-bottom: 0.875em;
    margin-left: 2%;
  }

  nav.group {
    padding-left: 2%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid #bbb;
    background: #eee;
    a {
      float: left;
      @include type-14;
      margin-bottom: 0;
      margin-right: 2%;
    }
  }
}

.lte-ie8 {
  #wrapper {
    padding-top: 6em;
    max-width: 100%;
    min-width: 761px;
    width: auto;
  }
}