body.government #global-header .header-context nav, #content {
 a {
   text-decoration: none;

   &:hover {
     text-decoration: underline;
   };

   &:visited {

   };

   &:active {
     color: #bcbd00;
   };

   &.current {
     color: #242400;
   }
 }
}