body.government #global-header .header-context nav, #content {
  a {
    color: #000;
    font-weight: 400;
    text-decoration: none;

    &:hover {
     text-decoration: underline;
    };

    &:visited {

    };

    &:active {
     color: #bcbd00;
    };

    &.current {
     color: #242400;
    }
  }
}