.header-global {
  .customise-options {
    // Adding a unstyled link breaks the layout ..
    // removing it until someone on the global team
    // sorts it out ..
    display: none;
  }
}

// make the global header a little more responsive ..
#global-header {
  .header-global {
      h1 {
        float: left;
      }

      ul {
        float: left;
        margin-right: 0;

        @media only screen and (min-width: 570px) {
          float: right;
        }

        @media only screen and (min-width: 800px) {
          margin-right: 17.5em;
          float: right;
        }
      }
  }

  .header-context {
    .search-help {
      margin-top: 0;
      border: none;
      float: left;
      padding: 0;
      margin-right: 1em;


      @media only screen and (min-width: 800px) {
        float: right;

        border: solid 0.25em #ED6900;
        border-bottom: none;
        -webkit-border-radius: 0.5em 0.5em 0 0;
        -moz-border-radius: 0.5em 0.5em 0 0;
        border-radius: 0.5em 0.5em 0 0;

        float: right;
        height: 1.5em;
        margin: -2.5em 0 0 0;
        padding: 0.5em 0.75em 0 0.75em;
      }
    }
  }
}


