@import "../shared/utils/grid";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "organisation_brands";

#content {
  .ministerial_role_page {
    @each $brand in $organisation_brands {
      $name: nth($brand, 1);
      $color: nth($brand, 2);

      @include add_styles_for_org($name, $color, false, false);
    }

    .page_header {
      h1 {
        @include type-46;
        margin-bottom: 0;
      }

      h2 {
        @include type-32;
        margin-bottom: 0.3em;
      }

      margin-bottom: 1em;
    }

    .responsibilities {
      padding-top: 1em;
      background: #ddd;
      @include type-21;
    }

    .current_person {
      .name {
        @include type-18;
      }

      .biography {
        @include type-18;
      }
      margin-bottom: 1em;
    }

    .latest_documents {
      .document_type {
        display: none;
      }
    }
  }
}