@import "../shared/utils";

#content {
  .ministerial_role {
    @include clearfix;
  }

  .current_person {
    h2 {
      @include type-18;
      margin-bottom: 0.66665em;
    }

    h2.name, .biography {
      @include span_two_columns;
      margin-left: 2%;
    }

    .biography p {
      @include type-14;
      margin-bottom: 0.857em;
    }

    div.img {
      @include span_half_a_column;
      overflow: hidden;
      margin-bottom: 0.5em;
      margin-left: 2%;
      background: #fff;
      padding: 5px 5px 0 5px;
      @include box-shadow(0, 0, 2px, #ddd);
      img {
        margin: 0;
      }
    }
  }
}