@import "../shared/utils/grid";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "../shared/utils/type_stacks";
@import "organisation_brands";

#content {
  .cab_ministers{
    .ministerial_role {
      position: relative;
      min-height: 88px;
      .current_appointee, h3, p.role{
        padding-left: 84px;
      }
      .image_holder{
        height: 72px;
        width: 72px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    h2{
      @include type-14;
      font-family: $gill;
      text-transform: uppercase;
    }

    .current_appointee{
      @include type-14;
      margin:0;
      padding:0 0 0.275em 0;
    }

    .role{
      @include type-12;
      margin-bottom: 0;
      line-height:1em;
    }
  }

  .cab_ministers.other{
    border-top:1px solid #000;
    padding-top:1em;

    .alphabetical_row{
      .g1f {
        text-align: right;
      }
      h2{
        font-size:2.3em;
        color:#fff;
        background-color:#bbb;
        display:inline-block;
        width:100%;
        padding:0.345em 0 0.345em 0.1em;
        text-align:center;
        margin-top:0;
      }
      @media only screen and (min-width: 768px) {
        h2{
          width:72px;
        }
      }

    }
  }
  .ministerial_role_page {
    @each $brand in $organisation_brands {
      $name: nth($brand, 1);
      $color: nth($brand, 2);

      @include add_styles_for_org($name, $color, false, false);
    }

    .page_header {
      h1 {
        @include type-46;
        margin-bottom: 0;
      }

      h2 {
        @include type-32;
        margin-bottom: 0.3em;
      }

      margin-bottom: 1em;
    }

    #document_organisations {
      padding-top: 6px;
      float: right;
    }

    .responsibilities .content {
      @include type-18;
      @include georgia;
      border-bottom: solid 1px #7F7F7F;
      padding-bottom: 1.5em;

      ul {
        margin-bottom: 0.75em;

        li {
          list-style: disc;
        }
      }

      li, p {
        margin-bottom: 0.375em;
      }
    }

    .current_person {
      border-bottom: solid 1px #7F7F7F;
      padding-bottom: 0.75em;

      .name {
        @include type-18;
      }

      .biography {
      }
      margin-bottom: 1em;
    }

    .latest_documents {
      .document_type {
        display: none;
      }
    }
  }
}