@import "../shared/utils/type_sizing";

#global-nav {
  margin: 0 auto;
  background: #BBB;

  .inner {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
  }

  @media only screen and (min-width: 1024px) {
    width: 100%;

    .inner {
      max-width: 88%;
    }
  }

  a {
    @include type-13;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    color: #fdfdfd;
    padding: 0.5em 12px;
    display: block;
    float: left;

    &.home {
      background: #000;
    }

    &:hover {
      background: #EEE;
      color: #333;
    };

    &.current, &:active {
      background: #FFF;
      color: #333;
    }
  }

  &.expanded {
    a {
      float: none;
    }
  }
}