@import "../shared/utils/type_sizing";
@import "../shared/utils/type_stacks";
@import "../shared/globals";

#global-nav {
  margin: 0 auto;
  background: #BBB;

  .inner {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    
    ul {
     list-style: none;
     margin: 0;
     padding: 0;
     @media only screen and (min-width: 1024px) {
       margin-left: 11.75em;
     }
     
      li {
        float: left;
      }
      
      #inside_gov_link {
        font-family: $gill;
        letter-spacing: 0.15em;
        text-transform: uppercase;
      
        @media only screen and (min-width: 1024px) {
          position: fixed;
          top: 2.65em;
          left: 9.25%;
          z-index: 1500;
        }
        
        a {
          background-color: #0C0C0C;
          background-color: rgba(0,0,0,0.8);
          
          &:hover {
            color: #7F7F7F;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    width: 100%;

    .inner {
      width: $global_content_width - 2.5%;
      max-width: $global_max_width;
    }
  }

  a {
    @include type-13;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    color: #fdfdfd;
    padding: 0.5em 12px;
    display: block;
    float: left;

    &.home {
      background: #000;
    }

    &:hover {
      background: #EEE;
      color: #333;
    };

    &.current, &:active {
      background: #FFF;
      color: #333;
    }
  }

  &.expanded {
    a {
      float: none;
    }
  }
}