@import "../shared/utils";

#content {
  #notes_to_editors {
    h1 {
      .toggle {
        font-size: 0.5em;
        margin-left: 1em;
      }
    }
  }

  #news_articles {
    li {
      .summary {
        @include type-14;
        font-style: italic;
        margin: 0
      }
    }
  }
}