@import "../shared/utils";

#wrapper {
  #recent_announcements {
    h1 {
      padding-bottom: 1em;
      margin: 0;
      padding-left: 2%;
      border-bottom: 1px solid #ddd;
    }

    h2 {
      @include type-18;
      text-align: center;
      color: #444;
    }

    .row {
      .news_article, .speech {
        margin-bottom: 0;
        padding-bottom: 0.75em;
        h2 {
          @include type-14;
          text-align: left;
          margin-bottom: 0.5em;
        }
        p {
          @include type-12;
          margin-bottom: 0.857em;
        }
        .metadata {
          @include type-11;
          margin: 0;
          span {
            margin-right: 1em;
          }
        }
      }
    }

    .less_recent {
      border-top: 1px solid #ddd;
      padding-top: 1.5em;
      margin: 0 4%;

      @media only screen and (min-width: 768px) {
        margin: 0 10%;
      }

      .news_article, .speech {
        @include grid_column;
        margin-bottom: 1.5em;

        @media only screen and (min-width: 768px) {
          width: 46%;
          margin-left: 2%;
          margin-right: 2%;
        }
      }
    }

    .remaining {
      border-top: 1px solid #ddd;
      padding: 0.5em 1em;
      .news_article, .speech {
        @include span_one_column;
        background: #fefefe;
        padding-top: 0.5em;

        h2 {
          @include type-12;
          margin-bottom: 0;
        }
      }
    }

    .row_1, .row_3 {
      border-top: none;
    }

    .row_1, .row_2 {
      @include flood_three_columns;
      border-right: none;
      background: #fffff0;
      border-bottom: 1px solid #ddd;
      padding-top: 1em;
      padding-bottom: 1em;

      .news_article, .speech {
        @include span_one_column;
        border: none;
        padding-bottom: 0;
        position: relative;
        margin-bottom: 1.5em;

        div.text {
          padding: 0 1em;
          h2 {
            @include type-16;
            margin-bottom: 0.75em;
          }
        }

        div.img {
          margin-left: 0.5em;

          border: 4px solid #fff;
          @include box-shadow(0, 0, 2px, #ddd);
          height: 10em;
          overflow: hidden;
          margin-bottom: 0.5em;
        }
      }
    }

    .row_2 {
      @media only screen and (min-width: 768px) {
        margin-bottom: 3em;
      }
    }
  }
}