@import "../shared/utils/type_sizing";
@import "../shared/utils/grid";
@import "../shared/utils/shadows";

#content {
  section.announcements {

    padding-top: 1em;

    h1 {
      margin-bottom: 0;
      margin-top: 0.2em;
      padding-bottom: 0.75em;
      color:#2E8A99;
    }

    .row {
      @include flood_three_columns;
      _width: 97%;
      border-right: none;
      border-bottom: 1px solid #2E8A99;
      padding-top: 1em;
      padding-bottom: 0;

      .news_article, .speech {
        @include span_one_column;
        border: none;
        padding-bottom: 0;
        position: relative;
        margin-bottom: 0.75em;

        div.text {
          h2 {
            @include type-16;
            margin-bottom: 0.75em;
          }

          .summary {
            margin-bottom: 0;
          }
        }

        div.img {
          height: 10em;
          overflow: hidden;
          margin: 0 0 0.5em;
        }

        .meta {
          margin-bottom: 0.5em;
          margin-left: 0;
        }
      }
    }
  }

  #last_7_days {
    .row:last-child {
      border-bottom: 0;
    }
  }

  #notes_to_editors {
    h1 {
      .toggle {
        font-size: 0.5em;
        margin-left: 1em;
      }
    }
  }
}