@import "../shared/utils/type_sizing";
@import "../shared/utils/grid";
@import "../shared/utils/shadows";

#content {
  .announcements {

    padding-top: 1em;

    h1 {
      margin-bottom: 0;
      margin-top: 0.2em;
      padding-bottom: 0.75em;
    }

    .expanded {

    }

    .row {
      @include flood_three_columns;
      border-right: none;
      border-bottom: 1px solid #eee;
      padding-top: 1em;
      padding-bottom: 0;

      .news_article, .speech {
        @include span_one_column;
        border: none;
        padding-bottom: 0;
        position: relative;
        margin-bottom: 0.75em;

        div.text {
          padding: 0 1em;
          h2 {
            @include type-16;
            margin-bottom: 0.75em;
          }

          .summary {
            margin-bottom: 0;
          }
        }

        div.img {
          border: 4px solid #fff;
          @include box-shadow(0, 0, 2px, #ddd);
          height: 10em;
          overflow: hidden;
          margin: 0 3% 0.5em 3%;

          @media only screen and (min-width: 768px) {
            margin-left: 4%;
            margin-right: 4%;
          }
        }

        .meta {
          margin-bottom: 0.5em;
          margin-left: 0;
        }
      }
    }
  }

  #last_7_days {
    .row:last-child {
      border-bottom: 0;
    }
  }

  .further_articles {
    @include type-14;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0.75em 1.5em;
  }

  #notes_to_editors {
    h1 {
      .toggle {
        font-size: 0.5em;
        margin-left: 1em;
      }
    }
  }
}
