@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "organisation_brands";

#wrapper {
  .organisation {
    .org_sidebar {
      margin-left: 0;
      margin-right: 3%;
      
      @media only screen and (min-width:768px) {
        &.sub_navigation_container {
          background-color: #fff;
          margin-left: 1.5%;
          margin-right: 1.5%;
          margin-top: -200px;
          padding-top: 8px;
          position: relative;
          z-index: 100;
        }
      }
    }
  }
}

#content {
  @include branded_page_headers;

  #organisation_disclaimer {
    background-color: #F17921;
    min-height: 1.5em;

    h1, p {
      display: inline;
    }
    
    h1 {
      @include type-16;
      margin-left: 1.5%;
    }
    
    p {
      @include type-14;
      margin-left: 0.5em;
    }
  }
  
  .organisation {
    section.page_header {
      margin-top: 0.75em;
    }
    h1.page_title.name {
      @include type-32;
      font-family: $helvetica;
      line-height: 1.1em;
      margin-bottom: 0.375em;
      padding-left: 1.5%;
    }
    .parent_organisations,
    .description {
      @include type-14;
    }
  }

  .organisation, .country {
    h2.category {
      @include type-16;
      display: inline;
      margin-right: 0.5em;
      margin-bottom: 0;
    }
  }

  nav.sub_navigation {
    padding-right: 6%;
    
    ul {

      li {
        border-bottom: solid 1px #000;
        margin-bottom: 0.375em;
        margin-top: -1px;
        padding-bottom: 0.375em;

        &:last-child {
          border-bottom: none;
        }
        
        a {
          font-weight: bold;
        }
      }
    }
  }
  #about_us {

    .category {
      text-transform: lowercase;
    }
  }

  #who {
    
    section {
      margin-bottom: 1.5em;
    }

    article {
      @include clearfix;
      position: relative;
      margin-bottom: 0.75em;
      
      .current_appointee {
        @include scaled_type(16, 18);
        font-weight: bold;
        margin-bottom: 0.375em;
      }
      
      .role {
        @include type-14;
        font-family: $helvetica;
        margin-bottom: 0;
      }
      
      .current_appointee, .role {
        margin-left: 84px;
      }

      img {
        float: left;
        width: 70px;
      }
    }
    
    .view_all {
      @include type-14;
    }
  }

  .map_canvas {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
  }

  ul.policy_topics {
    li {
      display: inline;
        a {
          @include type-14;
          background: #eee;
          display: block;
          float: left;
          
/*          line-height: 1.286em;*/
          
          padding: 0.3215em 0.643em;
          margin: 0.3215em 0.643em 0.3215em 0;
        }
    }
  }

  .contact_page {

    .organisation_contact {
      margin-bottom: 1.5em;
      h3 {
        @include type-18;
        margin-bottom: 0.25em;
      }

      p {
        margin-bottom: 0;
      }

      p.email, p.tel {
        font-weight: bold;
        .type {
          font-weight: normal;
        }
      }

      .map_canvas {
        margin-top: 1em;
      }
    }
  }

  .article_section {
    h1 {
      display: none;
    }

    article.ministerial_role {
      position: relative;
      min-height: 72px;

      h2.article_title {
        margin-left: 84px;
        margin-bottom: 0;
      }

      .current_appointee {
        @include type-16;
        margin-left: 84px;
        margin-bottom: 0;
      }

      .role {
        @include type-13;
        margin-left: 84px;
        margin-bottom: 0;
      }

      .image_holder {
        margin-bottom: 0;
        width: 72px;
        height: 72px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .social_media_account {
    margin-bottom: 0;

    img {
      width: 16px;
      height: 16px;
      margin-bottom: 0;
      padding-right: 0.5em;
    }
  }
}