@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "organisation_brands";

#content {
  @each $brand in $organisation_brands {
    $name: nth($brand, 1);
    $color: nth($brand, 2);

    @include add_styles_for_dept($name, $color, false, false);
  }
  @include branded_page_headers;

  .organisations_index_page {

    .organisation_type {
      clear: both;

      h1 {
        padding-top: 3em;
      }
    }

    .organisation_type:first-child h1 {
      padding-top: 0;
    }

    .organisations li {
      margin-bottom: 1.5em;
    }

    .organisations li.inactive_organisation {
      opacity: 0.5;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // first!
      filter: alpha(opacity=50);          // second!
    }

    .organisations li:nth-child(3n+1) {
      clear: both;
    }
  }

  .page_detail.management {
    @include clearfix;
    background: transparent none no-repeat 0 0;
    padding: 0 3%;
    margin-bottom: 1.5em;
  }

  .non_ministerial_departments {
    padding-top: 2em;
  }

  .alphabetical_row h2 {
    margin: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    float: right;
    font-size: 1.3em;
    text-indent: 0.1em;
    line-height: 48px;
    background: #bbb;
    color: #fff;
    @include gill;
  }

  .organisation {

    section.page_header {
      margin-top: 0.75em;
      margin-bottom: 1em;
    }

    h1.page_title.name {
      @include type-32;
      margin-bottom: 0;
      padding-left: 1.5%;
    }

    .parent_organisations,
    .description {
      @include type-14;
    }

    .article_section {
      h1 {
        display: none;
      }

      article.ministerial_role {
        position: relative;
        min-height: 72px;

        h2.article_title {
          margin-left: 84px;
          margin-bottom: 0;
        }

        .current_appointee {
          @include type-16;
          margin-left: 84px;
          margin-bottom: 0;
        }

        .role {
          @include type-13;
          margin-left: 84px;
          margin-bottom: 0;
        }

        .image_holder {
          margin-bottom: 0;
          width: 72px;
          height: 72px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

  }

  .organisation, .country {
    h2.category {
      @include type-16;
      display: inline;
      margin-right: 0.5em;
      margin-bottom: 0;
    }
  }

  nav.sub_navigation {
    padding-right: 6%;

    ul {

      li {
        border-bottom: solid 1px #000;
        margin-bottom: 0.375em;
        margin-top: -1px;
        padding-bottom: 0.375em;

        &:last-child {
          border-bottom: none;
        }

        a {
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          };
        }
      }
    }
  }
  #about_us {

    .category {
      text-transform: lowercase;
    }
  }

  #who {

    section {
      margin-bottom: 1.5em;
    }

    article {
      @include clearfix;
      position: relative;
      margin-bottom: 0.75em;

      .current_appointee {
        @include scaled_type(16, 18);
        font-weight: bold;
        margin-bottom: 0.375em;
      }

      .role {
        @include type-14;
        font-family: $helvetica;
        margin-bottom: 0;
      }

      .current_appointee, .role {
        margin-left: 84px;
      }

      img {
        float: left;
        width: 70px;
      }
    }

    .view_all {
      @include type-14;
    }
  }

  .map_canvas {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
  }

  .contact_page {

    .organisation_contact {
      margin-bottom: 1.5em;
      h3 {
        @include type-18;
        margin-bottom: 0.25em;
      }

      p {
        margin-bottom: 0;
      }

      p.email, p.tel {
        font-weight: bold;
        .type {
          font-weight: normal;
        }
      }

      .map_canvas {
        margin-top: 1em;
      }
    }
  }

  .social_media_account {
    margin-bottom: 0;

    img {
      width: 16px;
      height: 16px;
      margin-bottom: 0;
      padding-right: 0.5em;
    }
  }
}

.lte-ie8 {
  #content {
    .organisation {
      .sub_navigation_container {
        width: 21.5%;
      }
      
      #who {
        
        article {
          min-height: 0;
        }
      }
    }
  }
}