@import "../shared/utils";

#content {
  section.page_header {
    padding-bottom: 1em;
    border-bottom: 1px solid #bbb;
    // + icons.scss

    h1.page_title {
      @include type-24;
      margin-bottom: 0;
      text-shadow: #fff 0px 1px 0;
      color: #353500;
      margin-left: 1%;
      padding-top: 0.45em;
      font-family: "Gill Sans", sans-serif;
      font-weight: normal;
    }

    h1.page_title.has_meta {
      padding-top: 0;
      margin-bottom: 0.25em;
    }

    .meta {
      margin-bottom: 0;
    }
  }

  .meta {
    margin-left: 1%;
    span {
      @include type-12;
      margin-right: 0.5em;
    }

    a {
      @include type-12;
      @include box_shadow(0, 0px, 1px, rgba(30,30,30,0.1));
      @include rounded();
      @include vertical_gradient(#fff, #eee);
      background: #fff;
      border: 1px solid #ccc;
      border-bottom: 1px solid #aaa;
      border-top: 1px solid #ddd;
      margin-right: 0.5em;
      padding: 0.2em 0.5em;
      text-align: center;
      white-space: nowrap;
    }
  }

  .g3f {
    .page_title {
      margin-left: 2%;
    }
  }
}