@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";
@import "../shared/utils/grid";
@import "../shared/colours";

#content {
  .policy{
    .label{
      color:#F37920;
    }
  }
  .internationalpriority{
    .label{
      color:#00652E;
    }  
  }
  .policy_topic_view {
    .label{
      color:#F37920;
    }
    .description {
      font-family: $georgia;
      font-size: 1.5em;
      line-height: 1.5em;
    }

    #recently-changed {
      margin-top: 1em;
      margin-bottom: 1em;
      ul {
        margin-bottom: 0;

      }
    }

    .policy_topic_overview {

      @media only screen and (min-width: 960px) {
        padding-bottom: 1em;
        min-height: 15.5em;
      }

      @media only screen and (min-width: 1200px) {
        min-height: 14.5em;
      }

      margin-top: 1em;
      margin-bottom: 0;
      position: relative;

      section.policy_topic {
        h1.page_title {
          @include type-24;
          background: #ddd;
          border-bottom: 1px solid #aaa;
          color: #333;
          padding: 0.5em 1em;
          text-shadow: none;
          margin-bottom: 0;
        }

        p {
          @include type-16;
          margin-left: 1.75em;
          margin-right: 1.75em;
        }

        .meta {
          height: 1.65em;
          margin-left: 0;
          margin-right: 0;
          background: #eee;
          padding: 0.2em 1.5em;
          border-bottom: 1px solid #ddd;
          margin-bottom: 0.75em;
        }
      }
    }

    .related_content {
      margin-bottom: 0;
      padding-bottom: 1em;
    }

    .priority_policies {
      h1 {
        @include span_three_columns;
      }
      
      section {
        ul {
          @include clearfix;
          margin-bottom: 0;
          li {
            @include span_one_column;
            p {
              @include type-13;
            }
          }
          &.half_columns {
            li {
              @include span_half_a_column;
            }
          }
        }
      }
    }

    .collection section {
      border-bottom: 1px solid #ccc;
      padding: 1em 4% 0 4%;

      @media only screen and (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        li {
          @include type-13;
          margin-bottom: 0.9em;
        }
      }
    }

    .all_policies {
      section#policies {
        h1 {
        }
        
        ul {
          @media only screen and (min-width: 600px) {
            margin-bottom: 1.5em;
          }
          border-bottom: 0;
        }
      }
    }

    .collection.last section {
      border-bottom: 0;
    }

    .no_featured {
      .collection {
        border-top: 1px solid #ddd;
      }
    }
  }
}