@import "../shared/utils";
@import "colours";

#wrapper #content {

  .policy_area_view {

    .policy_area_overview {
      background: #fff;
      border: 1px solid #ddd;
      border-bottom: 1px solid #ccc;
      @media only screen and (min-width: 960px) {
        padding-bottom: 1em;
        min-height: 17.5em;
      }

      @media only screen and (min-width: 1200px) {
        min-height: 16.5em;
      }

      margin-top: 0.1em;
      margin-bottom: 0;
      position: relative;

      section.policy_area {
        h1.page_title {
          @include type-24;

          background: #353500;
          border-bottom: 4px solid $collation-green;
          color: #ffffdf;

          padding: 0.5em 1em;
          text-shadow: none;
          margin-bottom: 0.95em;
        }

        p {
          @include type-16;
          margin-left: 1.75em;
          margin-right: 1.75em;
          @media only screen and (min-width: 960px) {
            padding-right: 40%;
          }
        }
      }

      #recently-changed {
        @media only screen and (min-width: 960px) {
          position: absolute;
          top: 1.25em;
          right: 1em;
          border-bottom: 1px solid #bbb;
          @include box-shadow(0, 0, 4px, rgba(150,150,150,0.4));
          z-index: 10;
          width: 37%;
        }

        h1 {
          border-top: 1px solid #222;
          background: #242400;
          @include type-18;
          margin-bottom: 0;
          padding: 0.5em;
          color: #ffffdf;
          border-bottom: 4px solid $collation-green;
        }

        ul {
          background: #fffff0;
          margin-bottom: 0;
          padding-top: 0.85em;
          padding-bottom: 0.5em;

          @media only screen and (min-width: 960px) {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
          }
          border-top: 1px solid #ffffce;

          li {
            margin-bottom: 0.75em;
            padding: 0 1em;

            div {
              @include type-12;
              line-height: 1.5em;
              margin: 0;

              &.metadata {
                font-size: 0.7em;
                line-height: 1em;
              }
            }
          }
        }
      }
    }

    .priority_policies {
      border-bottom: 1px solid #ddd;

      h1 {
        text-align: center;
        @media only screen and (min-width: 600px) {
          text-align: left;
          margin-left: 1%;
        }
      }

      section {
        ul {
          @include clearfix;
          margin-bottom: 0;
          li {
            @include type-14;
            @include span_one_column;
            div.inner {
              padding: 1em 1em 0.5em 1em;
              margin: 0;
              background: #fefefe;
              border: 1px solid #ddd;
              position: relative;
              div.img {
                border: 4px solid #fff;
                @include box-shadow(0, 0, 2px, #ddd);
                height: 96px;
                overflow: hidden;
                margin-bottom: 0.5em;
              }
            }
          }
          &.half_columns {
            li {
              @include span_half_a_column;
            }
          }
        }
      }
    }

    .collection section {
      border-bottom: 1px solid #ccc;
      padding: 1em 2% 0 2%;
      h1 {
        @extend .section_title;
        @include type-16;
        margin-bottom: 0.75em;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          @include type-13;
          margin-bottom: 0.9em;
        }
      }
    }

    #related_policy_areas {
      border-bottom: 0;
    }

    .all_policies {
      @media only screen and (min-width: 600px) {
        margin-bottom: 1.5em;
      }

      section#policies {
        margin-left: 0;

        @media only screen and (min-width: 600px) {
          background: #fff;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          padding-left: 1.5em;
          padding-right: 1.5em;
        }

        ul {
          @media only screen and (min-width: 600px) {
            margin-bottom: 1.5em;
          }
          border-bottom: 0;
        }
      }
    }

  }
}

.lte-ie8 {
  #wrapper #content {
    .policy_area_view {
      .policy_area_overview {
        padding-bottom: 1em;
        min-height: 18.5em;

        section.policy_area p {
          padding-right: 40%;
        }

        #recently-changed {
          position: absolute;
          top: 2.5em;
          right: 1em;
          border-bottom: 1px solid #bbb;
          @include box-shadow(0, 0, 4px, rgba(150,150,150,0.4));
          z-index: 10;
          width: 37%;
          ul {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
          }
        }
      }

      .priority_policies {
        h1 {
          text-align: left;
          margin-left: 1%;
        }
      }

      .all_policies {
        margin-bottom: 1.5em;
        section#policies {
          background: #fff;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          padding-left: 1.5em;
          padding-right: 1.5em;
          ul {
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }
}