@import "../shared/utils";
@import "../shared/document_view";

#content {
  .policy_view {
    @include clearfix;
    margin-bottom: 1.5em;

    background: #eee;
    padding: 1.5em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    section.policy_parts {
      background: #fff;
      padding: 1em 1em 1em 1em;
      margin-right: 2%;
      margin-bottom: 1.5em;
      border: 1px solid #ccc;

      h1 {
        @include type-18;
        margin-bottom: 0.5em;
      }

      h2 {
        @include type-14;
        margin-bottom: 0.5em;
        margin-top: 1.25em;
      }

      nav {
        margin-left: 2%;
      }

      a {
        display: block;
        @include type-12;
        margin-bottom: 0;
      }

      ol {
        list-style-type:circle;
        li {
          margin: 0;
          line-height: 1em;
        }
      }
    }

    .notice {
      border: 1px solid #d1d31b;
      background: #f7f7c3;
      padding: 0.75em 1.5em 0.75em 1.5em;

      p {
        font-weight: bold;
        @include type-14;
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 0;

        li {
           @include type-12;
           margin-bottom: 0;
        }
      }
    }

    .document {
      @extend .document_view;
      padding: 1em 1.5em;
      background-color: #fff;
      border: 1px solid #ddd;
      border-top: 0;
      @include rounded(2px);

      .body {
        h2 {
          @include type-21;
        }

        h3 {
          @include type-18;
        }

        p {
          max-width: 50em;
        }
      }
    }
  }
}