@import "../shared/utils";

#content {

  h1 {
    border-bottom: 2px solid #ddd;
    color: #999;
    display: inline-block;
  }

  ul.publications {

    li {
      @include clearfix;
      padding-right: 4%;
      margin-bottom: 0.75em;

      @media only screen and (min-width: 800px) {
        display: inline-block;
        width: 29%;
      }

      div.cover {
        margin-bottom: 1em;
        display: none;
        padding: 0;
        border: 1px solid #ddd;
        width: 8em;
        height: 6em;
        overflow: hidden;
        float: left;
        margin-right: 1em;

        @media only screen and (min-width: 800px) {
          display: block;
        }
      }

      .description {
        h2 {
          @include type-12;
          margin-bottom: 0;
          color: #777;
          text-shadow: #fff 0px 1px 0;
        }

        p.body {
          @include type-12;
          display: none;
        }
      }

      &:first-child {
        @include span_three_columns;
        @include rounded();
        background: #fff;
        border: 8px solid #ddd;
        margin: 0;
        margin-bottom: 3em;
        margin-top: 1em;
        padding: 0;
        position: relative;
        height: auto;

        border-color: rgba(150,150,150,0.4);
        @include box-shadow(0, 1px, 2px, rgba(10,10,10,0.2));

        .description {
          padding: 1em 1em 0 1em;
          width: auto;

          h2 {
            @include type-18;
            margin-bottom: 0.3335em;

            a {
              text-decoration: none;
            }
          }

          p.body {
            @include type-14;
            display: block;
            color: #999;
            margin-bottom: 1em;
          }

          @media only screen and (min-width: 900px) {
            float: left;
            width: 60%;

            h2 {
              @include type-21;
              margin-bottom: 0.5em;
            }
          }

          @media only screen and (min-width: 1200px) {
            width: 70%;
            padding-left: 1.5em;
            padding-right: 1.5em;
          }
        }

        div.cover {
          margin: -1em 1em 0 1em;
          width: 12em;
          height: 10em;
          border: 1px solid #ddd;
          border-bottom: 1px solid #ccc;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .cta {
          margin-left: 1em;

          @media only screen and (min-width: 800px) {
            float: right;
            padding-right: 1em;
          }

          @media only screen and (min-width: 1200px) {
            float: left;
            width: 70%;
            padding-left: 0.5em;
            padding-right: 1em;
          }
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}