@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/shadows";
@import "../shared/utils/grid";

$publications_color: rgb(46, 49, 145);

#content {
  
  #featured-publications .row {
      border-bottom: 1px solid $publications_color;
  }

  section.publications.four_column_list {
    .label {
      color: $publications_color;
    }
    
    .row {
      border-bottom: 1px solid #2E3191;
    }
  }

  .filter-controls {
    h1 {
      @include type-14;
      color: $publications_color;
      font-family: $gill;
      letter-spacing: 0.15em;
      margin-bottom: 0.25em;
      text-transform: uppercase;
      
      strong {
        @include scaled-type(20,24);
        color: #000;
        display: block;
        font-family: $helvetica;
        letter-spacing: 0;
        margin-bottom: 0;
        text-transform: none;
      }
    }

    li {
      @include type-14;
      list-style-type: none;
      margin-bottom: 0.75em;
      position: relative;
      padding-left: 1.75em;

      &.selected, &:hover {
        a {
          color: #000;

          span {
            background-color: $publications_color;
          }
        }
      }

      &.toggle {
        font-weight: bold;
        a span {
          background-color: inherit;
          top: 0;
        }
      }

      &:hover a {
        text-decoration: underline;
      }

      a span {
        background-color: #CCC;
        display: block;
        height: 0.75em;
        left: 0;
        position: absolute;
        top: 0.355em;
        width: 0.75em;
      }

      a {
        color: #444;
        text-decoration: none;
      }
    }
  }

}