@import "../shared/utils";

#content {
  #publication_index ul.publications {
    @include image-list;
    margin-left: 1%;
    margin-right: 1%;

    li {
      @media only screen and (min-width: 900px) {
        &:nth-child(3n+1) {
          margin-right: 0;
        };
      }
      &:first-child {
        @include span_three_columns;
        @include featured_box;

        margin-left: 0;
        margin-right: 0;

        position: relative;
        height: auto;

        .description {
          padding: 1em 1em 0 1em;
          width: auto;
          height: auto;

          h2 {
            @include type-18;
            margin-bottom: 0.3335em;
          }

          p.body {
            @include type-14;
            display: block;
            color: #555;
            margin-bottom: 1em;
          }

          @media only screen and (min-width: 900px) {
            float: left;
            width: 60%;

            h2 {
              @include type-21;
              margin-bottom: 0.5em;
            }
          }

          @media only screen and (min-width: 1200px) {
            width: 70%;
            padding-left: 1.5em;
            padding-right: 1.5em;
          }
        }

        div.cover {
          margin: -1em 1em 0 1em;
          width: 12em;
          height: 10em;
          border-bottom: 1px solid #222;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .cta {
          margin-left: 1em;

          @media only screen and (min-width: 800px) {
            float: right;
            padding-right: 1em;
          }

          @media only screen and (min-width: 1200px) {
            float: left;
            width: 70%;
            padding-left: 0.5em;
            padding-right: 1em;
          }
        }
      }
    }
  }
}
