@import "../shared/utils";

#content {
  .search_results {
    ul {
      @include span_three_columns;
    }

    h2 {
      @include type-18;
      margin-bottom: 0.333em;
    }

    ul {
      li {
        padding-left: 1%;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.75em;
      }
    }
  }
}
