@import "../shared/utils/type_sizing";
@import "../shared/utils/grid";

#content {

  #search_home {
    margin: 1.5em 2%;

    form {
      legend {
        @include type-18;
      }

      input[type=text], #main_searchbox {
        width: 60%;
        @include type-16;
        margin-bottom: 0;
        float: left;
        margin-right: 0.5em;
        line-height: 1.7em;
      }
    }
  }

  .page_header.search {
    p {
      margin-top: 0.75em;
    }
  }

  .search_results {
    padding-top: 0.75em;
    ul {
      @include flood_three_columns;
      margin-bottom: 0;
    }

    h2 {
      @include type-18;
      margin-bottom: 0.25em;
    }
    
    .highlight {
      font-size: 0.85em;
    }

    ul {
      li {
        position: relative;
        clear: both;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0.75em;
        padding-top: 0.25em;

        .document_format {
          @include type-12;
          letter-spacing: 0.15em;
          line-height: 1;
          margin-bottom: 0.25em;
          text-transform: uppercase;
          position: relative;
          display: block;
          margin-top: -0.35em;
        }
        
        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    p.notfound {
      padding-top: 0.5em;
      margin-left: 2%;
    }
  }
}
