#wrapper {
  .country, .organisation {
    .sidebar {
      @media only screen and (min-width:768px) {
        &.sub_navigation_container {
          background-color: #fff;
          margin-top: -200px;
          padding-top: 8px;
          position: relative;
          z-index: 100;
        }
      }
    }
  }
}