@import "../shared/utils/type_stacks";
@import "../shared/utils/type_sizing";
@import "../shared/utils/clearfix";

#content{
  #beta-content-warning {
    margin:0;
    padding:0;
    margin-bottom:1em;

    p{
      margin:0;
    }

    h1{
      @include type-16;
      margin:0;
      padding:0 0 0.275em 1em;
    }
  }
  .feed_icon img {
    width: auto;
    float: right;
  }
  div.beta-content-warning{
    background-color:#F27820;
    padding:2px;

    div{
      background-color:#FDE4D2;
      padding:1em;

      ul.further-areas{
        margin-top:1em;

        a{
          @include type-18;
          text-decoration:underline;
        }
      }
    }
  }
}