
#wrapper.inside_gov_sunset {
  #global-nav {
    display: none;
  }

  #content {
    padding: 2em 3em 3em;

    #sunset-content {
      float: none;
      display: block;
      overflow: hidden;
      margin: 0 auto;
      max-width: 50em;
    }

    section, section h2 {
      clear: both;
    }

    .page-header h1 {
      margin-bottom: 0.5em;
      padding-top: 0.5em;
      font-size: 3em;
    }

    h2 {
      padding-top: 1.5em;
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    .page-header p {
      font-size: 1.5em;
      line-height: 1.5em;
      margin-bottom: 1em;
      font-family: Georgia, Cambria, serif;
    }

  }
}

@media (max-width: 640px) {
  #wrapper.inside_gov_sunset #content {
    padding: 0 0 1em;

    .page-header h1 {
      font-size: 1.7em;
      line-height: 1;
    }

    .page-header p {
      font-size: 1.3em;
    }
  }
}
