.inside_gov_tour {
  #content {
    padding-bottom: 3em;

    section, section h2 {
      clear: both;
    }

    .page-header h1 {
      margin-bottom: 0.5em;
      padding-top: 0.5em;
      font-size: 3em;
    }

    h2 {
      padding-top: 1.5em;
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    .page-header p {
      font-size: 1.5em;
      line-height: 1.5em;
      margin-bottom: 1em;
      font-family: Georgia, Cambria, serif;
    }
  }
} 
