@import "govuk_publishing_components/all_components";

@import "./components/miller-columns";
@import "./components/autocomplete";

@import "./modules/unpublish-display-conditions";

@import "./admin/views/edition-translations";
@import "./admin/views/whats-new";
@import "./admin/views/edit-edition";

.legacy-whitehall {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @import "admin";
}
