$govuk-page-width: 1140px;

@import "govuk_publishing_components/all_components";

@import "./components/autocomplete";
@import "./components/govspeak-editor";
@import "./components/miller-columns";
@import "./admin/components/editions/editorial-remarks";
@import "./admin/components/govspeak-help";
@import "./components/secondary-navigation";

@import "./admin/modules/unpublish-display-conditions";

@import "./admin/views/edition-translations";
@import "./admin/views/whats-new";
@import "./admin/views/edit-edition";
@import "./admin/views/attachments";

.app-js-only {
  display: none;
}

.js-enabled {
  .app-no-js {
    display: none;
  }

  .app-js-only {
    display: block;
  }
}

.legacy-whitehall {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @import "admin_legacy";
}
