$govuk-page-width: 1140px;

@import "govuk_publishing_components/all_components";

@import "./components/add-another";
@import "./components/autocomplete";
@import "./components/datetime-fields";
@import "./components/govspeak-editor";
@import "./components/inset-prompt";
@import "./components/miller-columns";
@import "./components/secondary-navigation";
@import "./components/select-with-search";

@import "./admin/overrides";
@import "./admin/layout";

@import "./admin/views/audit-trail";
@import "./admin/views/document-history-tab";
@import "./admin/views/edit-edition";
@import "./admin/views/edit-person";
@import "./admin/views/edition-images";
@import "./admin/views/edition-summary";
@import "./admin/views/editions-edition";
@import "./admin/views/editorial-remarks";
@import "./admin/views/govspeak-help";
@import "./admin/views/historical-accounts-index";
@import "./admin/views/organisations-index";
@import "./admin/views/translation";
@import "./admin/views/unpublish-withdrawal";
@import "./admin/views/whats-new";

.app-js-only {
  display: none;
}

.js-enabled {
  .app-no-js {
    display: none;
  }

  .app-js-only {
    display: block;
  }
}

.legacy-whitehall {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @import "admin_legacy";
}
