/*
Resource list.

A group of related objects that are created
in a usual CRUD style manner.
They usually have links to the resource and perhaps
links to edit and delete etc.
================================================== */

@mixin list-row {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;

  &:last-child {
    border-bottom: 1px solid #bbb;
  }

  &:hover {
    background: #fcfcfc;
  }
}

section.resource_list {
  margin-bottom: 40px;
  border: 1px solid #ddd;

  h1 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 20px 20px 10px 20px;
  }

  ul, table {
    margin: 0;
    background: #fefefe;
  }

  ul {
    li {
      @include list-row;

      h2 {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        float: left;
      }

      .actions {
        float: right;
        a {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  table {
    width: 100%;

    tr {
      @include list-row;
    }

    th, td {
      text-align: left;
      padding: 10px 20px;
      line-height: 20px;
    }

    .actions {
      text-align: right;
    }
  }
}