/*
Resource list.

A group of related objects that are created
in a usual CRUD style manner.
They usually have links to the resource and perhaps
links to edit and delete etc.
================================================== */
section.resource_list {
  margin-bottom: 40px;
  border: 1px solid #ddd;

  h1 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 20px 20px 10px 20px;
  }

  ul {
    margin: 0;
    background: #fefefe;
    li {
      margin: 0;
      border-bottom: 1px solid #ddd;
      padding: 10px 20px;

      h2 {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        float: left;
      }

      .actions {
        float: right;
        a {
          font-size: 14px;
          line-height: 20px;
        }
      }

    }

    li:last-child {
      border-bottom: 1px solid #bbb;
    }

    li:hover {
      background: #fcfcfc;
    }
  }

  table {
    margin: 0;
    background: #fefefe;
    width: 100%;

    thead {
      th {
        text-align: left;
      }
    }

    tr {
      margin: 0;
      border-bottom: 1px solid #ddd;
      padding: 10px 20px;

      td {
        line-height: 20px;
      }
    }

    .actions {

    }
  }
}