<% page_title "New legacy URL for " + @edition.title %>

<h1>Add new legacy url to <%= link_to @edition.title, admin_edition_path(@edition) %></h1>

<div class="row-fluid">
  <div class="span8">
    <section>
      <%= render partial: "form", locals: {document_source: @document_source} %>
    </section>
  </div>
</div>