.corporate-information-pages-show {
  .available-languages {
    width: 50%;
    float: right;
    margin: 0 0 $gutter-half $gutter-half;

    ul {
      margin-left: $gutter-one-third;
      padding-top: 0;
    }
  }
}
