<aside class="app-view-statistics-announcements-summary__sidebar-actions">
  <%= render "govuk_publishing_components/components/list", {
    extra_spacing: true,
    items: [
      render("govuk_publishing_components/components/button", {
        text: "Update announcement",
        href: [:edit, :admin, @statistics_announcement],
        secondary_quiet: true,
      }),

      *(if @statistics_announcement.cancelled?
          render("govuk_publishing_components/components/button", {
            text: "Edit cancellation reason",
            href: [:cancel_reason, :admin, @statistics_announcement],
            secondary_quiet: true,
          })
        else
          render("govuk_publishing_components/components/button", {
            text: "Cancel statistics release",
            href: [:cancel, :admin, @statistics_announcement],
            destructive: true,
          })
        end
      ),

      render("govuk_publishing_components/components/button", {
        text: "Unpublish announcement",
        href: new_admin_statistics_announcement_unpublish_path(@statistics_announcement),
        destructive: true,
        margin_bottom: 3
      }),
    ],
  }
  %>
  <p class="govuk-body ">
    <%= view_on_website_link_for @statistics_announcement, link_text: "View on website (opens in a new tab)", class: "govuk-link govuk-!-margin-right-8-", target: "blank", rel: "noreferrer noopener" %>
  </p>
</aside>

<div class="govuk-body">
  <%= render "govuk_publishing_components/components/heading", {
    text: "History",
    heading_level: 3,
    margin_bottom: 3
  } %>
  <%= render "govuk_publishing_components/components/list", {
    extra_spacing: true,
    items: statistics_announcements_history_list(@statistics_announcement)
  } %>
</div>

