<% content_for :page_title, "Edit world Locations" %>
<% content_for :title, "Edit world Locations" %>
<% content_for :context, @user.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @user, as: :user, url: admin_user_path(@user), method: :put do |form| %>
      <%= render "components/autocomplete", {
        id: "user_world_location_ids",
        name: "user[world_location_ids][]",
        label: {
          text: "Locations",
          heading_size: "l",
        },
        select: {
          multiple: true,
          selected: form.object.world_location_ids,
          options: [""] + WorldLocation.all.map { |l| [l.name, l.id] },
        },
      } %>
      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
        } %>

        <%= link_to "Cancel", admin_user_path(@user), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>
</div>
