<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: admin_users_path,
  } %>
<% end %>
<% page_title @user.name, "Users" %>
<% content_for :title, @user.name %>
<% content_for :title_margin_bottom, 4 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/summary_list", {
      title: "",
      items: [
        {
          field: "Name",
          value: @user.name,
        },
        {
          field: "Email",
          value: @user.email,
        },
        {
          field: "Role",
          value: @user.role,
        },
        {
          field: "Organisation",
          value: @user.organisation,
        },
        {
          field: "World locations",
          value: show_world_locations(@user),
          edit: {
            href: show_edit_link(@user),
            link_text: "Edit",
          },
        },
      ],
    } %>
  </div>
</div>
