<div class="app-c-content-block-manager-array-component" data-ga4-section="<%= label %>">
  <%= render "govuk_publishing_components/components/add_another", {
    fieldset_legend: label,
    add_button_text: "Add another #{label}",
    items:,
    empty:,
    data_attributes: {
      ga4_start_index: 0,
    },
  } %>
</div>
