<div class="app-c-content-block-manager-call-charges-component">

  <% call_charges_url_input = capture do %>
    <%= render("govuk_publishing_components/components/input", {
              label: {
              text: label_for("label"),
            },
            name: name_for_field(label) ,
            id: id_for_field(label),
            value: value_for_field(label) || label.default_value,
          }) %>

    <%= render("govuk_publishing_components/components/input", {
                label: {
                text: label_for("call_charges_info_url"),
              },
              name: name_for_field(call_charges_info_url) ,
              id: id_for_field(call_charges_info_url),
              value: value_for_field(call_charges_info_url) || call_charges_info_url.default_value,
            }) %>
  <% end %>

  <input type="hidden" name="<%= name_for_field(show_call_charges_info_url) %>" value="off">

  <%= render "govuk_publishing_components/components/checkboxes", {
    name: name_for_field(show_call_charges_info_url),
    id: id_for_field(show_call_charges_info_url),
    heading: label_for("show_call_charges_info_url"),
    visually_hide_heading: true,
    no_hint_text: true,
    small: true,
    items: [
      {
        label: label_for("show_call_charges_info_url"),
        value: "true",
        checked: value_for_field(show_call_charges_info_url) == true,
        conditional: call_charges_url_input,
      },
    ],
  } %>

</div>
