<div class="app-c-content-block-manager-govspeak-enabled-textarea-component">
  <% if govspeak_enabled? %>
    <%= render "components/govspeak_editor", {
                name: name_attribute,
                id: id_attribute,
                label: { text: label, hint_text: hint_text, hint_id: aria_described_by },
                value:,
                error_items: error_items,
                hint_id: aria_described_by,
                rows: 5,
    } %>
  <% else %>
    <%= render "govuk_publishing_components/components/textarea", {
                label: { text: label },
                name: name_attribute,
                id: id_attribute,
                value:,
                error_items: error_items,
    } %>
  <% end %>
</div>
