<div class="app-c-content-block-manager-govspeak-enabled-textarea-component">
  <%= render("govuk_publishing_components/components/textarea", {
              label: { text: label },
              name: name_attribute,
              id: id_attribute,
              value: value_or_default,
              error_items: error_items,
  }) %>
</div>
