 <%= render "govuk_publishing_components/components/checkboxes", {
    name: "opening_hours[]",
    id: "opening_hours",
    items:     [
      {
        label: "Hours available",
        value: "1",
        checked: false,
        conditional: capture do sanitize("<p>hello</p>") end,
      },
    ],
  } %>