<%= render "govuk_publishing_components/components/checkboxes", {
    name:,
    id:,
    heading: "Show opening hours?",
    visually_hide_heading: true,
    no_hint_text: true,
    items:     [
      {
        label: "Hours available",
        value: "1",
        checked: false,
        conditional: sanitize("<p>hello</p>"),
      },
    ],
} %>
