<div class="app-c-content-block-manager-video-relay-service-component">

  <% video_relay_service_inputs = capture do %>
    <%= render(
      ContentBlockManager::ContentBlockEdition::Details::Fields::GovspeakEnabledTextareaComponent.new(
        content_block_edition: content_block_edition,
        value: value_for_field(prefix) ,
        nested_object_key: field.name,
        field: prefix,
        subschema: subschema,
      ),
    ) %>

    <%= render("govuk_publishing_components/components/input", {
              label: { text: label_for("telephone_number") },
              name: name_for_field(telephone_number) ,
              id: id_for_field(telephone_number),
              value: value_for_field(telephone_number) || telephone_number.default_value,
              error_items: errors_for_field(telephone_number),
    }) %>
  <% end %>

  <input type="hidden" name="<%= name_for_field(show_video_relay_service) %>" value="false">

  <%= render "govuk_publishing_components/components/checkboxes", {
    name: name_for_field(show_video_relay_service),
    id: id_for_field(show_video_relay_service),
    text: label_for("show"),
    heading: label_for("show"),
    visually_hide_heading: true,
    no_hint_text: true,
    small: true,
    items: [
      {
        label: label_for("show"),
        value: "true",
        checked: value_for_field(show_video_relay_service) == true,
        conditional: video_relay_service_inputs,
      },
    ],
  } %>

</div>
