<% if @worldwide_organisation.persisted? %>
  <div class="sidebar">
    <section class="display_heading">
      <h1>Delete worldwide organisation</h1>
      <% unless @worldwide_organisation.new_record? %>
        <%= button_to('delete',
                      admin_worldwide_organisation_path(@worldwide_organisation),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete #{@worldwide_organisation.name}?" },
                      class: 'btn btn-danger') %>
      <% else %>
        <p>Cannot delete</p>
      <% end %>
    </section>
  </div>
<% end %>

<%= legacy_simple_formatting_sidebar %>
