<% page_title "Document Collections", @organisation.name %>
<% page_class "document-collection" %>

<div class="block-1">
  <div class="inner-block">
    <header class="page-header">
      <h1>Document collections in <%= link_to @organisation.name, @organisation %></h1>
    </header>
  </div>
</div>

<div class="block-2">
  <div class="inner-block">
    <section id="document_collections" class="group">
      <% if @document_collections.any? %>
        <ul>
          <% @document_collections.each do |document_collection| %>
            <%= content_tag_for :li, document_collection do %>
              <%= link_to document_collection.name, organisation_document_collection_path(@organisation, document_collection), class: "name" %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p>There are no document collections at the moment</p>
      <% end %>
    </section>
  </div>
</div>
