<% page_title "Edit " + @policy_team.email %>

<div class="span8">
  <section>
    <h1>Edit policy team</h1>
    <%= render partial: "form", locals: {policy_team: @policy_team} %>
  </section>
</div>
