<% page_title "Edit " + @policy_team.name %>

<div class="span8">
  <section>
    <h1>Edit policy team</h1>
    <p class="warning">Warning: changes to policy teams appear instantly on the live site.</p>
    <%= render partial: "form", locals: {policy_team: @policy_team} %>
  </section>
</div>

<div class="span4">
  <%= sidebar_tabs govspeak_help: "Formatting help" do |tabs| %>
    <%= tabs.pane id: "govspeak_help" do %>
      <%= render partial: "admin/editions/govspeak_help" %>
    <% end %>
  <% end %>
</div>