<% page_title "New policy team" %>

<div class="span8">
  <section>
    <h1>New team</h1>
    <p class="warning">Warning: changes to teams appear instantly on the live site.</p>
    <%= render partial: "form", locals: {policy_team: @policy_team} %>
  </section>
</div>

<div class="span4">
  <%= simple_formatting_sidebar %>
</div>
