.stats-form-wrapper {
  max-width: 820px;

  .form-actions p {
    font-size: 16px;
    line-height: 24px;
  }
}

.stats-chosen-wrapper {
  max-width: 410px;
}

.stats-heading {
  margin-bottom: $default-vertical-margin;
  display: block;
}

.stats-small-heading {
  color: #999999;
  font-weight: normal;
  font-size: (23 / 30) * 1em;
  line-height: 1.5;
  display: block;
}

.stats-details dt {
  font-weight: normal;
}

.stats-summary {
  font-size: 16px;
  line-height: 1.5;
  @include add-bottom-margin;
}

.stats-linked-document {
  @include add-vertical-margins;
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  padding: $default-vertical-margin;
}

.stats-document-finder {
  @include remove-top-margin('!important');

  .document-finder-fields .js-loader {
    right: 6.3em !important; // stylelint-disable-line declaration-no-important
  }
}

#document-finder.stats-document-finder label {
  display: block;
}

#document-finder.stats-document-finder #title {
  margin-left: 0;
  width: 50%;
}

#document-finder.stats-document-finder p.tip {
  font-size: 1em;
  left: 0;
}

.unlinked-announcements-warning {
  font-weight: bold;
  padding: $default-vertical-padding;
  font-size: 16px;
}

.no-publication-warning {
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 0;
}

.stats-announcement-title {
  font-size: 14px;
}
