<fieldset class="named contacts">
  <legend>Contacts</legend>
  <%= form.fields_for :contacts do |contacts_form| %>
    <%= render partial: "admin/shared/contacts_form", object: contacts_form %>
  <% end %>
  <div class="empty_fields">
    <%= form.fields_for :contacts, Contact.new do |contacts_form| %>
      <%= render partial: "admin/shared/contacts_form", object: contacts_form %>
    <% end %>
  </div>
</fieldset>
