<div class="control-group">
  <%= image_fields.label :file, 'Select an image to be shown by default on news articles', class: "control-label" %>
  <div class="controls">
    <%= image_fields.file_field :file %>
    <% if image_fields.object.file_cache.present? %>
      <span class="already_uploaded"><%= File.basename(image_fields.object.file_cache) %> already uploaded</span>
    <% end %>
    <%= image_fields.hidden_field :file_cache %>
  </div>
</div>
