<%= render "govuk_publishing_components/components/heading", {
  text: filter.page_title,
  margin_bottom: 8,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'admin/editions/filter_options', filter_by:, filter_action:, anchor: %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-view-features-search-results__table">
      <%= render 'admin/featurable_editions/search_results', featurable_editions:, paginator:, anchor:, feature_path: %>
    </div>
  </div>
</div>
