.document-list {
  clear: both;
  margin: 0;
  min-height: $gutter;

  .document-row {
    display: block;
    overflow: hidden;
    list-style: none;
    @include add-bottom-margin;

    h2,
    h3 {
      @include core-16;
      margin-top: $gutter-one-sixth;
      margin-bottom: 0;
    }
  }
}
