<section id="beta-content-warning" class="g4">
<div class="beta-content-warning">
  <h1>BETA</h1>
  <div class="group">
    <p>This is a test website and we haven’t produced content for this area yet. For examples of the kind of material that will go here please have a look at one of these areas:</p>

    <ul class="further-areas">
      <% @exemplary_policy_topics.each do |policy_topic| %>
        <li class="g1"><%= link_to(policy_topic.name, policy_topic_path(policy_topic)) %></li>
      <% end %> 
    </ul>
  </div>
</div>
</section>