<section class="alphabetical_list group g4f" id="policy_topics">
  <div class="g1">
    <h1 class="label">All topics</h1>
  </div>
  <div class="g3">
    <p>You can also view <%= link_to "all policies as a list", policies_path %>.</p>
  </div>
  <% policy_topics.group_by {|t| t.name.first.upcase }.sort.in_groups_of(3, false) do |row| %>
    <% row.each do |letter, policy_topic_group| %>
      <div class="alphabetical_row g4" id="policy_topics_<%= letter.downcase %>">
        <div class="g1f"><h2 class="label"><%= letter %></h2></div>
        <div class="g3f">
          <%= render partial: "list", locals: { policy_topics: policy_topic_group } %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
