<section id="related_policy_topics" class="simple_list">
  <h1 class="label">Related policy topics</h1>
  <% if related_policy_topics.any? %>
    <ul class="policy_topics">
      <% related_policy_topics.each do |related_policy_topic| %>
        <%= content_tag_for :li, related_policy_topic do %>
          <%= link_to related_policy_topic.name, policy_topic_path(related_policy_topic), title: "View #{related_policy_topic.name}" %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>No related policy topics</p>
  <% end %>
</section>
