<% page_title "Edit translation for #{@contact.title}" %>

<h1>Edit '<%= translation_locale.native_language_name %> (<%= translation_locale.english_language_name %>)' translation for: <%= @contact.title %></h1>
