<% page_title "Editing historical account for: #{@person.name}" %>

<h1>Editing historical account for <%= @person.name %></h1>

<%= render 'legacy_form', { person: @person, historical_account: @historical_account } %>
