name: CI

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths-ignore:
      - "Jenkinsfile"
      - ".git**"
  pull_request:

jobs:
  security-analysis:
    name: Security Analysis
    uses: alphagov/govuk-infrastructure/.github/workflows/brakeman.yml@main

  lint-scss:
    name: Lint SCSS
    uses: ./.github/workflows/lintscss.yml

  lint-javascript:
    name: Lint JavaScript
    uses: ./.github/workflows/lintjs.yml

  lint-prettier:
    name: Prettier
    uses: ./.github/workflows/lintprettier.yml

  lint-ruby:
    name: Lint Ruby
    uses: alphagov/govuk-infrastructure/.github/workflows/rubocop.yml@main

  lint-erb:
    name: Lint ERB
    uses: ./.github/workflows/linterb.yml

  test-javascript:
    name: Test JavaScript
    uses: alphagov/govuk-infrastructure/.github/workflows/jasmine.yml@main
    with:
      useWithRails: true

  test-ruby:
    name: Test Ruby
    uses: ./.github/workflows/minitest.yml

  integration-tests-parallel:
    name: Integration tests
    uses: ./.github/workflows/integration-tests-parallel.yml

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup MySQL
        id: setup-mysql
        uses: alphagov/govuk-infrastructure/.github/actions/setup-mysql@main

      - name: Setup Redis
        uses: alphagov/govuk-infrastructure/.github/actions/setup-redis@main

      - name: Install additional system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ghostscript
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Node
        uses: alphagov/govuk-infrastructure/.github/actions/setup-node@main

      - name: Precompile assets
        uses: alphagov/govuk-infrastructure/.github/actions/precompile-rails-assets@main

      - name: Initialize database
        env:
          RAILS_ENV: test
          TEST_DATABASE_URL: ${{ steps.setup-mysql.outputs.db-url }}
        run: bundle exec rails db:setup

      - name: Run cucumber
        env:
          RAILS_ENV: test
          TEST_DATABASE_URL: ${{ steps.setup-mysql.outputs.db-url }}
        run: bundle exec rails cucumber

      - name: Upload screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: capybara-screenshots
          path: tmp/capybara/capybara-*.png
    