name: Run lint:js

on: workflow_call

jobs:
  run-lint-js:
    name: Run Standardx
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: alphagov/govuk-infrastructure/.github/actions/setup-node@main

      - name: Run lint:js
        run: yarn run lint:js
