.environment-production .environment-indicator {
  border-top-color: $production-color;
}

.environment-preview .environment-indicator,
.environment-integration .environment-indicator {
  border-top-color: $integration-color;
}

.environment-development .environment-indicator {
  border-top-color: $dev-color;
}
