.chosen-container {
  margin-bottom: 9px;
}

form {
  &.button_to {
    margin-bottom: 0;
    display: inline;

    div {
      display: inline;
    }
  }

  fieldset {
    .role_appointment,
    .speech-type {
      width: 98%;
    }

    .important-associations {
      margin-bottom: 20px;

      fieldset {
        margin-top: 0;
      }
    }

    legend {
      padding-top: 27px;
      border-top: 1px solid #eeeeee;
      border-bottom: none;
      margin-bottom: 0;

      .add_new {
        margin-left: 3em;
      }
    }

    > fieldset {
      legend {
        font-size: 130%;
        line-height: 350%;
      }
    }
  }

  fieldset.named {
    padding-top: .5em;
  }

  fieldset.right-to-left {
    input,
    textarea {
      direction: rtl;
    }

    .chosen-container-multi input {
      direction: ltr;
    }
  }

  select {
    &.chzn-select,
    &.chzn-select-no-deselect {
      width: 100%;
    }

    &.date {
      width: auto;
    }
  }

  .original-translation {
    font-style: italic;
  }

  .field_with_errors {
    label,
    input {
      color: #b94a48;
    }

    input,
    textarea {
      background-color: #f2dede;
      border-color: #eed3d7;
    }
  }
}

fieldset.contacts {
  .control-group {
    margin-bottom: .5em;
  }
}

fieldset.contact_number {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.first-published-date {
  .show-first-published {
    margin-left: 20px;
  }
}

.contacts-admin {
  max-width: 600px;

  .contact-translation.right-to-left {
    direction: rtl;
  }
}

fieldset.fatality-notice-casualties {
  h3 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.date-warning-info,
.title-length-info,
.summary-length-info {
  text-align: right;
  margin-right: 25px;

  &.warning {
    color: #c09853;
  }

  &.error {
    color: #c06253;
  }

  .count {
    font-weight: bold;
  }
}

.title-length-input:focus,
.summary-length-input.warning:focus {
  border-color: #a47e3c;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(236, 187, 82, .6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(236, 187, 82, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(236, 187, 82, .6);
}

.publishing-controls {
  margin-top: $gutter;
  padding-top: 0;

  fieldset {
    border-bottom: 1px solid $border-colour;
    margin-top: $gutter-two-thirds;
    padding-bottom: $gutter-two-thirds;

    p {
      margin: $gutter-one-third 0 0 0;

      &.hint {
        margin-top: .2em;
        color: #626a6e;

        &.change-note-hint {
          margin-bottom: 20px;
          font-weight: normal;
        }
      }
    }

    label {
      font-size: 16px;
      margin-top: $gutter-two-thirds;

      &.checkbox {
        font-size: 13px;
        margin-top: 0;
      }
    }
  }

  .form-actions {
    border-top: 0;
    margin: 0;
    padding: $gutter-two-thirds 0 0 0;
  }
}

.control-label.radio-label,
.control-label.checkbox-label {
  padding-top: 5px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

#auto-complete-selector {
  position: absolute;
  display: none;
  margin: 25px 0 0;

  li {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 4px;
    width: 230px;
    margin: -1px 0 0;
    list-style: none;
    display: block;

    em {
      font-style: normal;
    }

    span {
      color: #999999;
    }
  }

  &.active {
    display: block;
  }

  .active {
    background: #d5e8f3;
  }
}

.edit-unpublishing-form {
  h2 {
    margin-top: $gutter-two-thirds;
  }
}

.feature-list {
  padding: 12px 12px 6px;
}

.feature-list label {
  display: block;
  font-weight: normal;

  i {
    opacity: .1;
  }
}
