.govspeak_help {
  .no-js .collapse {
    display: block;
  }

  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
  }

  pre {
    white-space: pre-wrap;
    padding: govuk-spacing(2);
    background-color: govuk-colour("light-grey");
    word-break: normal;
    word-wrap: normal;
    overflow: auto;
  }
}
