<%= render :layout => 'layouts/frontend_base', locals: {extra_body_class: "html-publication draft", stylesheet: 'html-publication'} do %>
  <div class="govuk-width-container html-publications-show">
    <%= yield %>
  </div>
<% end %>
