<%= render :layout => 'layouts/frontend_base', locals: {extra_body_class: 'html-publication', stylesheet: 'html-publication'} do %>
  <div class="whitehall-content">
    <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
      <%= yield %>
      <div id="report-a-problem"></div>
    </div>
  </div>
<% end %>
