<%= render :layout => 'layouts/frontend_base', locals: {remove_breadcrumbs: true} do %>
  <div id="page" class="<%= content_for?(:page_class) ? yield(:page_class) : '' %>" >
    <%= yield %>
  </div>
<% end %>
