<% content_for :page_title, "Preview content block in host document" %>
<% content_for :context, "Preview content block" %>
<% content_for :title, @preview_content.title %>
<% content_for :title_margin_bottom, 0 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body govuk-!-margin-bottom-0">
    <p><strong>Document title: </strong><%= @preview_content.title %></p>
  </div>
</div>
<hr class="govuk-section-break govuk-!-margin-bottom-8 govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <iframe id="preview" style="width:100%;height:80vh;" srcdoc="<%= @preview_content.html %>"></iframe>
  </div>
</div>
