<div role="list">
  <% past_chancellors_person.each_slice(4) do |row| %>
  <div class="govuk-grid-row historic-people-index__section-row">
    <% row.each do | name, info| %>    
    <div class="govuk-grid-column-one-quarter" role="listitem">
      <%= render "govuk_publishing_components/components/heading", {
        text: name,
        heading_level: 3,
        font_size: "s"
      } %>
      <% if info[:service].kind_of?(Array) %> 
        <% info[:service].each do | service | %> 
          <p class="govuk-body"><%= service %></p>
        <% end %> 
      <% else %>
        <p class="govuk-body"><%= info[:service] %></p>
      <% end %> 
      </div>
    <%end%>
  </div> 
  <% end %> 
<div>
