<div class="govuk-grid-column-one-quarter">
<%= render "govuk_publishing_components/components/image_card", {
  href: historic_appointment_path(role.historic_param, role_appointment.person),
  image_src: "https://via.placeholder.com/216x140",
  image_alt: role_appointment.person.name,
  heading_text: role_appointment.person.name,
  description: "#{role_appointment.historical_account.try(:political_membership)} #{role_appointment.date_range}",
} %>
</div>
