<% page_title "Past Chancellors" %>
<% page_class "historic-appointments historic-appointments-index historical-past-chancellors" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <%= link_to 'History', histories_path %>
      </h1>
      <h2>Past Chancellors of the Exchequer</h2>
    </header>
  </div>
</div>

<div class="block featured-profiles">
  <div class="inner-block floated-children">
    <div class="year-block" id="modern-appointments">
      <h2 class="profiles">20th &amp; 21st centuries</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Alistair Darling</h3>
          <p class="term">2007-2010</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Gordon Brown</h3>
          <p class="term">1997-2007</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Kenneth Clarke</h3>
          <p class="term">1993-1997</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Norman Lamont</h3>
          <p class="term">1990-1993</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">John Major</h3>
          <p class="term">1989-1990</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Nigel Lawson</h3>
          <p class="term">1983-1989</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Geoffrey Howe</h3>
          <p class="term">1979-1983</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Denis Healey</h3>
          <p class="term">1974-1979</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Anthony Barber</h3>
          <p class="term">1970-1974</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Ian Macleod</h3>
          <p class="term">1970</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Roy Jenkins</h3>
          <p class="term">1967-1970</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">James Callaghan</h3>
          <p class="term">1964-1967</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Reginald Maudling</h3>
          <p class="term">1962-1964</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Selwyn Lloyd</h3>
          <p class="term">1960-1962</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Derick Heathcoat-Amory</h3>
          <p class="term">1958-1960</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Peter Thorneycroft</h3>
          <p class="term">1957-1958</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Harold Macmillan</h3>
          <p class="term">1955-1957</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Rab Butler</h3>
          <p class="term">1951-1955</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hugh Gaitskell</h3>
          <p class="term">1950-1951</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Stafford Cripps</h3>
          <p class="term">1947-1950</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hugh Dalton</h3>
          <p class="term">1945-1947</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Anderson</h3>
          <p class="term">1943-1945</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Kingsley Wood</h3>
          <p class="term">1940-1943</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Simon</h3>
          <p class="term">1937-1940</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Neville Chamberlain</h3>
          <p class="term">1931-1937</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Philip Snowden</h3>
          <p class="term">1929-1931</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Winston Churchill</h3>
          <p class="term">1924-1929</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Philip Snowden</h3>
          <p class="term">1924</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Neville Chamberlain</h3>
          <p class="term">1923-24</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Stanley Baldwin</h3>
          <p class="term">1922-1923</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Robert Horne</h3>
          <p class="term">1921-1922</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Austen Chamberlain</h3>
          <p class="term">1919-1922</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Bonar Law</h3>
          <p class="term">1916-1919</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Reginald McKenna</h3>
          <p class="term">1915-1916</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">David Lloyd George</h3>
          <p class="term">1908-1915</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">H. H. Asquith</h3>
          <p class="term">1905-1908</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Austen Chamberlain</h3>
          <p class="term">1903-1905</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Charles Ritchie</h3>
          <p class="term">1902-1903</p>
        </div></li>
      </ol>
    </div>

    <div class="year-block" id="nineteenth-century-appointments">
      <h2 class="profiles">19th century</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Michael Hicks Beach, Bt</h3>
          <p class="term">1895-1902</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Vernon Harcourt</h3>
          <p class="term">1892-1895</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Goschen</h3>
          <p class="term">1887-1892</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Randolph Churchill</h3>
          <p class="term">1886</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Vernon Harcourt</h3>
          <p class="term">1886</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Michael Hicks Beach, Bt</h3>
          <p class="term">1885-1886</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hugh Childers</h3>
          <p class="term">1882-1885</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1880-1882</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Stafford Henry Northcote, Bt</h3>
          <p class="term">1874-1880</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1873-1874</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Lowe</h3>
          <p class="term">1868-1873</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Ward Hunt</h3>
          <p class="term">1868</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Benjamin Disraeli</h3>
          <p class="term">1866-1868</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1859-1866</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Benjamin Disraeli</h3>
          <p class="term">1858-1859</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir George Cornewall Lewis, Bt</h3>
          <p class="term">1855-1858</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1852-1855</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Benjamin Disraeli</h3>
          <p class="term">1852</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Charles Wood</h3>
          <p class="term">1846-1852</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Goulburn</h3>
          <p class="term">1841-1846</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Francis Baring</h3>
          <p class="term">1839-1841</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Thomas Spring Rice</h3>
          <p class="term">1835-1839</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Robert Peel, Bt</h3>
          <p class="term">1834-1835</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Viscount Althorp</h3>
          <p class="term">1830-1834</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Goulburn</h3>
          <p class="term">1828-1830</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">John Charles Herries</h3>
          <p class="term">1827-1828</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">The Lord Tenterden</h3>
          <p class="term">1827</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Canning</h3>
          <p class="term">1827</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hon. Frederick John Robinson</h3>
          <p class="term">1823-1827</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Nicholas Vansittart</h3>
          <p class="term">1812-1823</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Spender Perceval</h3>
          <p class="term">1807-1812</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Henry Petty</h3>
          <p class="term">1806-1807</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Pitt the Younger</h3>
          <p class="term">1804-1806</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Addington</h3>
          <p class="term">1801-1804</p>
        </div></li>
      </ol>
    </div>


    <div class="year-block" id="eighteenth-century-appointments">
      <h2 class="profiles">18th century</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Pitt the Younger</h3>
          <p class="term">1783-1801</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord John Cavendish</h3>
          <p class="term">1783</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Pitt the Younger</h3>
          <p class="term">1782-1783</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord North</h3>
          <p class="term">1767-1782</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Charles Townshend</h3>
          <p class="term">1766-1767</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Dowdeswell</h3>
          <p class="term">1765-1766</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Grenville</h3>
          <p class="term">1763-1765</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Francis Dashwood</h3>
          <p class="term">1762-1763</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Viscount Barrington</h3>
          <p class="term">1761-1762</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Bilson Legge</h3>
          <p class="term">1757-1761</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Mansfield</h3>
          <p class="term">1757</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Bilson Legge</h3>
          <p class="term">1756-1757</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir George Lyttleton</h3>
          <p class="term">1755-1756</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Bilson Legge</h3>
          <p class="term">1754-1755</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Lee</h3>
          <p class="term">1754</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Pelham</h3>
          <p class="term">1743-1754</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Samuel Sandys</h3>
          <p class="term">1742-1743</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Robert Walpole</h3>
          <p class="term">1721-1742</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Pratt</h3>
          <p class="term">1721</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">John Aislabie</h3>
          <p class="term">1718-1721</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Viscount Stanhope</h3>
          <p class="term">1717-1718</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Walpole</h3>
          <p class="term">1715-1717</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Richard Onslow</h3>
          <p class="term">1714-1715</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Wyndhan</h3>
          <p class="term">1713-1714</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Benson</h3>
          <p class="term">1711-1713</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Harley</h3>
          <p class="term">1710-1711</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Smith</h3>
          <p class="term">1708-1710</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Boyle</h3>
          <p class="term">1701-1708</p>
        </div></li>
      </ol>
    </div>

    <div class="year-block" id="modern-appointments">
      <h2 class="profiles">16th &amp; 17th centuries</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Smith</h3>
          <p class="term">1699-1701</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Charles Montagu</h3>
          <p class="term">1694-1699</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Richard Hampden</h3>
          <p class="term">1690-1694</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Booth</h3>
          <p class="term">1689-1690</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Ernle</h3>
          <p class="term">1676-1689</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Duncombe</h3>
          <p class="term">1672-1676</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Ashley</h3>
          <p class="term">1661-1672</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Edward Hyde</h3>
          <p class="term">1642-1646</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Colepepper</h3>
          <p class="term">1642-1643</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Cottington</h3>
          <p class="term">1629-1642</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Barrett</h3>
          <p class="term">1628-1629</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Richard Weston</h3>
          <p class="term">1621-1628</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Fulke Greville</h3>
          <p class="term">1614-1621</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Julius Caesar</h3>
          <p class="term">1604-1614</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Earl of Dunbar</h3>
          <p class="term">1603-1606</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Fortescue</h3>
          <p class="term">1589-1603</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Walter Mildmay</h3>
          <p class="term">1566-1589</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Richard Sackville</h3>
          <p class="term">1559-1566</p>
        </div></li>
      </ol>
    </div>
  </div>
</div>
