<% page_title "Past Chancellors" %>
<% page_class "historic-appointments historic-appointments-index historical-past-chancellors" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <%= link_to 'History', histories_path %>
      </h1>
      <h2>Past Chancellors of the Exchequer</h2>
    </header>
  </div>
</div>

<div class="block featured-profiles">
  <div class="inner-block floated-children">
    <div class="year-block" id="modern-appointments">
      <h2 class="profiles">20th &amp; 21st centuries</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Alistair Darling</h3>
          <p class="term">2007 to 2010</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Gordon Brown</h3>
          <p class="term">1997 to 2007</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Kenneth Clarke</h3>
          <p class="term">1993 to 1997</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Norman Lamont</h3>
          <p class="term">1990 to 1993</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">John Major</h3>
          <p class="term">1989 to 1990</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Nigel Lawson</h3>
          <p class="term">1983 to 1989</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Geoffrey Howe</h3>
          <p class="term">1979 to 1983</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Denis Healey</h3>
          <p class="term">1974 to 1979</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Anthony Barber</h3>
          <p class="term">1970 to 1974</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Ian Macleod</h3>
          <p class="term">1970</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Roy Jenkins</h3>
          <p class="term">1967 to 1970</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">James Callaghan</h3>
          <p class="term">1964 to 1967</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Reginald Maudling</h3>
          <p class="term">1962 to 1964</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Selwyn Lloyd</h3>
          <p class="term">1960 to 1962</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Derick Heathcoat-Amory</h3>
          <p class="term">1958 to 1960</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Peter Thorneycroft</h3>
          <p class="term">1957 to 1958</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Harold Macmillan</h3>
          <p class="term">1955 to 1957</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Rab Butler</h3>
          <p class="term">1951 to 1955</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hugh Gaitskell</h3>
          <p class="term">1950 to 1951</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Stafford Cripps</h3>
          <p class="term">1947 to 1950</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hugh Dalton</h3>
          <p class="term">1945 to 1947</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Anderson</h3>
          <p class="term">1943 to 1945</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Kingsley Wood</h3>
          <p class="term">1940 to 1943</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Simon</h3>
          <p class="term">1937 to 1940</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Neville Chamberlain</h3>
          <p class="term">1931 to 1937</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Philip Snowden</h3>
          <p class="term">1929 to 1931</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Winston Churchill</h3>
          <p class="term">1924 to 1929</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Philip Snowden</h3>
          <p class="term">1924</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Neville Chamberlain</h3>
          <p class="term">1923 to 1924</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Stanley Baldwin</h3>
          <p class="term">1922 to 1923</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Robert Horne</h3>
          <p class="term">1921 to 1922</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Austen Chamberlain</h3>
          <p class="term">1919 to 1922</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Bonar Law</h3>
          <p class="term">1916 to 1919</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Reginald McKenna</h3>
          <p class="term">1915 to 1916</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">David Lloyd George</h3>
          <p class="term">1908 to 1915</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">H. H. Asquith</h3>
          <p class="term">1905 to 1908</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Austen Chamberlain</h3>
          <p class="term">1903 to 1905</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Charles Ritchie</h3>
          <p class="term">1902 to 1903</p>
        </div></li>
      </ol>
    </div>

    <div class="year-block" id="nineteenth-century-appointments">
      <h2 class="profiles">19th century</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Michael Hicks Beach, Bt</h3>
          <p class="term">1895 to 1902</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Vernon Harcourt</h3>
          <p class="term">1892 to 1895</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Goschen</h3>
          <p class="term">1887 to 1892</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Randolph Churchill</h3>
          <p class="term">1886</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Vernon Harcourt</h3>
          <p class="term">1886</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Michael Hicks Beach, Bt</h3>
          <p class="term">1885 to 1886</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hugh Childers</h3>
          <p class="term">1882 to 1885</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1880 to 1882</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Stafford Henry Northcote, Bt</h3>
          <p class="term">1874 to 1880</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1873 to 1874</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Lowe</h3>
          <p class="term">1868 to 1873</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Ward Hunt</h3>
          <p class="term">1868</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Benjamin Disraeli</h3>
          <p class="term">1866 to 1868</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1859 to 1866</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Benjamin Disraeli</h3>
          <p class="term">1858 to 1859</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir George Cornewall Lewis, Bt</h3>
          <p class="term">1855 to 1858</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Gladstone</h3>
          <p class="term">1852 to 1855</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Benjamin Disraeli</h3>
          <p class="term">1852</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Charles Wood</h3>
          <p class="term">1846 to 1852</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Goulburn</h3>
          <p class="term">1841 to 1846</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Francis Baring</h3>
          <p class="term">1839 to 1841</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Thomas Spring Rice</h3>
          <p class="term">1835 to 1839</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Robert Peel, Bt</h3>
          <p class="term">1834 to 1835</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Viscount Althorp</h3>
          <p class="term">1830 to 1834</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Goulburn</h3>
          <p class="term">1828 to 1830</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">John Charles Herries</h3>
          <p class="term">1827 to 1828</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">The Lord Tenterden</h3>
          <p class="term">1827</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Canning</h3>
          <p class="term">1827</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Hon. Frederick John Robinson</h3>
          <p class="term">1823 to 1827</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Nicholas Vansittart</h3>
          <p class="term">1812 to 1823</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Spender Perceval</h3>
          <p class="term">1807 to 1812</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Henry Petty</h3>
          <p class="term">1806 to 1807</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Pitt the Younger</h3>
          <p class="term">1804 to 1806</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Addington</h3>
          <p class="term">1801 to 1804</p>
        </div></li>
      </ol>
    </div>


    <div class="year-block" id="eighteenth-century-appointments">
      <h2 class="profiles">18th century</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Pitt the Younger</h3>
          <p class="term">1783 to 1801</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord John Cavendish</h3>
          <p class="term">1783</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Pitt the Younger</h3>
          <p class="term">1782 to 1783</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord North</h3>
          <p class="term">1767 to 1782</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Charles Townshend</h3>
          <p class="term">1766 to 1767</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">William Dowdeswell</h3>
          <p class="term">1765 to 1766</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">George Grenville</h3>
          <p class="term">1763 to 1765</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Francis Dashwood</h3>
          <p class="term">1762 to 1763</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Viscount Barrington</h3>
          <p class="term">1761 to 1762</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Bilson Legge</h3>
          <p class="term">1757 to 1761</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Mansfield</h3>
          <p class="term">1757</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Bilson Legge</h3>
          <p class="term">1756 to 1757</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir George Lyttleton</h3>
          <p class="term">1755 to 1756</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Bilson Legge</h3>
          <p class="term">1754 to 1755</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Lee</h3>
          <p class="term">1754</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Pelham</h3>
          <p class="term">1743 to 1754</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Samuel Sandys</h3>
          <p class="term">1742 to 1743</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Robert Walpole</h3>
          <p class="term">1721 to 1742</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Pratt</h3>
          <p class="term">1721</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">John Aislabie</h3>
          <p class="term">1718 to 1721</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Viscount Stanhope</h3>
          <p class="term">1717 to 1718</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Walpole</h3>
          <p class="term">1715 to 1717</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Richard Onslow</h3>
          <p class="term">1714 to 1715</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir William Wyndhan</h3>
          <p class="term">1713 to 1714</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Benson</h3>
          <p class="term">1711 to 1713</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Robert Harley</h3>
          <p class="term">1710 to 1711</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Smith</h3>
          <p class="term">1708 to 1710</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Boyle</h3>
          <p class="term">1701 to 1708</p>
        </div></li>
      </ol>
    </div>

    <div class="year-block" id="modern-appointments">
      <h2 class="profiles">16th &amp; 17th centuries</h2>
      <ol>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Smith</h3>
          <p class="term">1699 to 1701</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Charles Montagu</h3>
          <p class="term">1694 to 1699</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Richard Hampden</h3>
          <p class="term">1690 to 1694</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Henry Booth</h3>
          <p class="term">1689 to 1690</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Ernle</h3>
          <p class="term">1676 to 1689</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Duncombe</h3>
          <p class="term">1672 to 1676</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Ashley</h3>
          <p class="term">1661 to 1672</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Edward Hyde</h3>
          <p class="term">1642 to 1646</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Colepepper</h3>
          <p class="term">1642 to 1643</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Cottington</h3>
          <p class="term">1629 to 1642</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Lord Barrett</h3>
          <p class="term">1628 to 1629</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Richard Weston</h3>
          <p class="term">1621 to 1628</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Fulke Greville</h3>
          <p class="term">1614 to 1621</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Julius Caesar</h3>
          <p class="term">1604 to 1614</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Earl of Dunbar</h3>
          <p class="term">1603 to 1606</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir John Fortescue</h3>
          <p class="term">1589 to 1603</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Walter Mildmay</h3>
          <p class="term">1566 to 1589</p>
        </div></li>
        <li class="person person-excerpt"><div class="inner">
          <h3 class="name">Sir Richard Sackville</h3>
          <p class="term">1559 to 1566</p>
        </div></li>
      </ol>
    </div>
  </div>
</div>
