<% page_title "Past Chancellors" %>
<% page_class "historic-people-index" %>

<div class="block">
  <div class="inner-block">
    <header class="page-header">
      <h1 class="topics">
        <%= link_to 'History', histories_path %>
      </h1>
      <h2>Past Chancellors</h2>
    </header>
  </div>
</div>
