<section class="contextual_info">
  <h1>Jump to section</h1>
  <nav class="policy_parts" role="navigation">
    <%= link_to_with_current @policy.title, public_document_path(@policy, anchor: 'top'), class: "active" %>
    <% if govspeak_headers(@policy.body).any? %>
      <ol id="document_sections">
        <% govspeak_headers(@policy.body).each do |header| %>
          <li><%= link_to header.text, public_document_path(@policy, anchor: header.id) %></li>
        <% end %>
      </ol>
    <% end %>
  </nav>
</section>
