<section class="group">
  <div class="meta">
    <p class="metadata">
      Updated <%= time_ago(@policy.updated_at, class: 'updated_at') %>
    </p>

    <p class="link-to-change-notes">Change notes</p>

    <section class="change_notes">
      <h1>Policy change notes</h1>
      <ul>
        <% change_history(@policy).each do |edition| %>
          <li class="group">
            <%= time_ago(edition[:published_at], class: 'published_at') %>
            <p><%= edition[:change_note] %></p>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</section>