<div class="meta-topic">
  <p>Part of <%= list_of_links_to_topics(@document.topics) %>.</p>
  <% if @document.nation_inapplicabilities.any? %>
  <%= render partial: 'policies/inapplicable_nations', locals: { document: @document } %>
<% end %>
</div>

<section class="meta">
  <span class="metadata">Updated <%= absolute_date(@policy.updated_at, class: 'updated_at') %></span>
  <%= render partial: 'documents/change_notes', locals: {document: @document} %>
</section>