<div class="meta-topic">
  <p class="topics">Part of <%= list_of_links_to_topics(@document.topics) %>.</p>

<% if @document.respond_to?(:countries) && @document.countries.any? %>
    <p id="document_countries">Applies to <%= list_of_links_to_countries(@document.countries) %>.</p>
<% end %>

  <% if @document.nation_inapplicabilities.any? %>
  <%= render partial: 'policies/inapplicable_nations', locals: { document: @document } %>
<% end %>
</div>

<section class="meta">
  <%= render partial: 'documents/change_notes', locals: {
    document: @document,
    title: "Updated #{absolute_date(@policy.updated_at, class: 'updated_at')}".html_safe
  } %>
</section>
