<% if @policy.nation_inapplicabilities.any? %>
  <%= render partial: 'documents/inapplicable_nations', locals: { document: @policy } %>
<% end %>
<article class="document">
  <div class="body">
    <%= govspeak_to_html @document.body, @document.images %>
  </div>
</article>
