<div class="meta-topic">
  <%= part_of_topics_paragraph(@document.topics) %>
  <%= applies_to_countries_paragraph(@document) %>
  <%= only_applies_to_nations_paragraph(@document) %>
</div>

<section class="meta">
  <%= render partial: 'documents/change_notes', locals: {
    document: @document
  } %>
</section>
