<%
topics ||= []
related_policies ||= nil
%>

<% if document.respond_to?(:policy_team) && document.policy_team %>
  <section id="policy_team" class="simple_list">
    <h1 class="visuallyhidden">Who's working on this?</h1>
    <%= content_tag_for :p, document.policy_team do %>
      <%= link_to document.policy_team.name, document.policy_team %>
    <% end %>
  </section>
<% end %>

<%= render partial: 'documents/topics', locals: { topics: topics } %>

<% if related_policies %>
  <%= render partial: 'related_policies', object: related_policies %>
<% end %>
