<% if document.nation_inapplicabilities.any? %>
  <p id="inapplicable_nations">Only applies to <%= document.applicable_nations.map(&:name).sort.to_sentence %> 
    <% if document.nation_inapplicabilities.collect(&:alternative_url).any? %>
      (see <%= document.class.name.downcase %> for <%= list_of_links_to_countries(document.nation_inapplicabilities) %>)
    <% end %>
  </p>
<% end %>