<nav class="policy-navigation">
  <ul>
    <li><%= link_to_with_current "Policy", public_document_path(@policy) %></li>
    <% if @policy.supporting_pages.any? %>
      <li>
        <%= link_to_with_current "Detail",
              policy_supporting_pages_path(@policy.document),
              current_path: /supporting-pages/ %>
      </li>
    <% end %>
    <li><%= link_to_with_current "Activity", activity_policy_path(@policy.document) %></li>
  </ul>
</nav>