<% page_title "Policies" %>
<% page_class "policies-index" %>


<div class="block-1">
  <div class="inner-block">
    <header class="page-header policy">
      <h1 class="page_title">Policies</h1>
    </header>
  </div>
</div>


<div class="block-2">
  <div class="inner-block">
    <%= render partial: "grouped_list", locals: {policies: @policies} %>
  </div>
</div>
