%h1 Policies

=link_to "Draft new Policy", new_policy_path, :class => "button"

%section.resource_list
  %h1 Drafts
  %table#draft_policies
    %thead
      %tr
        %th Name
        %th Author
        %th.actions Actions
    %tbody
      - @policies.each do |policy|
        %tr.policy
          %td.name= policy.title
          %td.author= policy.author.name
          %td.actions
            = link_to 'Edit', edit_policy_path(policy), :title => "Edit #{policy.title}"
