%h1 Policies

=link_to "Draft new Policy", new_policy_path, :class => "button"

%section.resource_list
  %h1 Drafts
  %ul#draft_policies
    - @policies.each do |policy|
      %li.policy.group
        %h2= policy.title
        .actions
          = link_to 'Edit', edit_policy_path(policy), :title => "Edit #{policy.title}"
