<% page_title "Policies" %>
<div class="g3f">
  <section class="page_header policy">
    <h1 class="page_title">Policies</h1>
  </section>
</div>

<%= render partial: "grouped_list", locals: {policies: @policies} %>
