<% page_title "Policies" %>
<div class="g3f">
  <header class="page_header policy">
    <h1 class="page_title">Policies</h1>
  </header>
</div>

<%= render partial: "grouped_list", locals: {policies: @policies} %>
