%h1 Government Department
%p
  So far you can view published policies, and if you
  =link_to "login", login_path
  you can write your own.
%section.resource_list
  %h1 Published policies
  %table#published_policies
    %thead
      %tr
        %th Title
        %th Author
    %tbody
      - @editions.each do |edition|
        %tr.policy
          %td.title= link_to edition.title, policy_path(edition), title: "View #{edition.title}"
          %td.author= edition.author.name
      - if @editions.empty?
        %tr
          %td{colspan: 2} Our authors have not published any policies at present.