%p.inset
  back to
  =link_to 'policies', policies_path

.policy_document
  %h1.title= @edition.title
  %div.body
    = format_in_paragraphs @edition.body
  %p.written_by
    Written by
    %span.author= @edition.author.name