<div class="g3">
  <%= render partial: "policies/policy_view", locals: { policy: @policy, document: @document } %>
</div>

<div class="secondary">
  <%= render partial: "policies/policy_relationships", locals: { policy: @policy } %>
</div>