<div class="g3">
  <%= render partial: "policy_view", locals: { policy: @document, document: @document } %>
</div>

<div class="g1 secondary">
  <%= render partial: "policy_relationships", locals: { policy: @document } %>
</div>