<div class="g2">
  <%= render partial: 'document', locals: { document: @document } %>
  <%= render partial: 'supporting_documents', locals: { document: @document }%>
</div>

<%= render partial: "policy_relationships", locals: { policy: @document } %>